[2020-02-26 18:22] djzager commented on #801
Looking through a couple of controllers that I've been a part of writing and I'm seeing a lot of `ensureSomeResource(instance, reqLogger)` and I'm suddenly less opposed.

I'm looking forward to the discussion in the next community meeting to better understand the value proposition.

[2020-02-26 18:55] answer1991 commented on #764
consider my solution at PR #805 , which was used by *kube-controller-manager*.

[2020-02-26 19:01] answer1991 commented on #764
The controller program exit step may including these:

1. close controller stop channel to notify controller and workers exit
2. wait for controller's queue closed, which means no new reconcile action will be invoked by controller works. And then wait for all workers exit will be better
3. close *lease* stop channel to notify lease to quit leading
4. wait for leading stoped
5. exit program

[2020-02-26 20:37] alvaroaleman commented on #806
@rajathagasthya  WDYT, does that make sense?

[2020-02-26 20:41] alvaroaleman commented on #822
We return a different error than notFound in current c-r versions if the cache wasn't started: https://github.com/kubernetes-sigs/controller-runtime/blob/0374b8ce09672f4ef3493959860d4252d9f7e7cb/pkg/cache/informer_cache.go#L66

What version of controller-runtime are you using?

[2020-02-26 20:49] sophieliu15 commented on #822
I am using v0.2.2. Looks like the current version is v0.5.0. I guess that's why I still get a notFound error if cache is not started?

[2020-02-26 20:53] alvaroaleman commented on #822
Yeah, that change exists froim 0.3.0 onwards: https://github.com/kubernetes-sigs/controller-runtime/commit/782b674e602e0870d9b7aab4d18cdfc1b315c28f

Can you update?

[2020-02-26 20:57] sophieliu15 commented on #822
I will try that. Thanks for the information!

[2020-02-26 22:03] #562 closed

[2020-02-26 23:56] rmb938 opened #826 "Allow setting the event recorder host"
Currently when getting the event recorder from the manager you only can specify a name.

[code]

The recorder provider implementation uses

[code]

However `corev1.EventSource` has a `Host` field

[code]

It would be nice to be able to set the host field using something like

[code]

[2020-02-27 00:41] djzager opened #828 "Update Informers interface to accept context on `GetInformer(ForKind)`"
Follow-up based on https://github.com/kubernetes-sigs/controller-runtime/pull/663#discussion_r384794159

https://github.com/kubernetes-sigs/controller-runtime/blob/9f8aab6551a3ecc211b6c6078245899495b7e0f5/pkg/cache/informer_cache.go#L141-L142

[2020-02-27 00:41] djzager commented on #828
/assign

[2020-02-27 09:58] alvaroaleman opened #831 "Add DryRun option to the client"
In order to safely check on what a controller does in a production environment, it would be useful to have a `DryRun` option for the client that makes all mutating operations (`Update`, `Patch` and `Delete`) a no-op and just logs them.

/kind feature

[2020-02-27 10:10] alvaroaleman commented on #825
I think this has to wait until we use a version of the kube dependencies that supports Go 1.14

[2020-02-27 15:51] vincepri commented on #825
Let's use this issue to track it so we don't forget :)

[2020-02-27 20:34] rajathagasthya commented on #806
Discussed in #813. Closing based on preference not to add this check.

[2020-02-27 20:34] #806 closed

[2020-02-27 20:35] rajathagasthya commented on #806
/close

[2020-02-28 12:47] jpkrohling commented on #550
Is there an issue with @shawn-hurley's suggestion? I'm facing a similar problem and it's not that desirable to have my operator to be locked indefinitely when it will never get unlocked without someone getting notified :-/

[2020-02-28 13:10] shawn-hurley commented on #550
@jpkrohling I think the fix is here: https://github.com/kubernetes-sigs/controller-runtime/pull/663

This pipes the context through and you can use that during the get to time it out.

[2020-02-28 14:08] Danil-Grigorev opened #833 "Incorporate discovery.ServerVersion in the manager interface"
Controller-runtime manager supports majority of the `client-go` discovery interface abilities, but it does not provide a way to determine kubernetes cluster version during controller runtime without falling back to the `client-go` implementation for the feature.

Such addition would simplify interaction with the `controller-runtime` client with use-cases like a cluster to cluster application migra

[2020-02-29 02:48] maplain commented on #612
figured out another approach:
1. use client.MatchingFields;
2. customize the IndexField to make it return a value that is parameterized by multiple fields

eg:
[code]

[2020-03-01 13:45] Capstan opened #835 "scheme_test doesn't check for the existence of CreateOptions"
Although it exists as a base type alongside UpdateOptions, DeleteOptions, etc., it is not explicitly tested for. Because the test only tests length of the returned list and existence of specific entries rather than a concrete set of expected entries, it seems to have been left out.

[2020-03-02 15:08] #262 closed

[2020-03-04 05:08] alexeldeib commented on #41
#663 and #812 both merged, so:

/close

[2020-03-04 05:08] #41 closed

[2020-03-04 23:10] #631 closed

[2020-03-05 19:14] #563 closed

[2020-03-05 19:20] alenkacz opened #837 "Envtest should not disable all admission plugins"
Right now, api-server is started by default with all admission plugins disabled https://github.com/kubernetes-sigs/controller-runtime/blob/bfc982769615817ee15db8a543662652d900d27b/pkg/internal/testing/integration/internal/apiserver.go#L12 (before we were even using AlwaysAdmit).

This means that e.g. no error is given when namespace does not exist when you are creating resource in tests. We should

[2020-03-05 19:21] alenkacz commented on #837
/assign

cc. @mengqiy @DirectXMan12

[2020-03-05 20:05] alvaroaleman commented on #831
/assign

[2020-03-05 21:25] djzager opened #838 "fakeclient should reject create|update without meta.name"
Re: https://github.com/kubernetes-sigs/controller-runtime/pull/832#discussion_r385186769

Adding some of the basic validation you would find in other clients (ie. [client-go](https://github.com/kubernetes/client-go/blob/master/dynamic/simple.go#L136-L139)) would be nice to have.

[2020-03-05 23:54] sophieliu15 opened #840 "Prevent creating a controller if a CRD does not exist."
I hope to create a controller for each GVK that I added dynamically. Previously I noticed that if I started the manager and then installed a new CRD on the fly, I would get an error saying the CRD did not exist when I called `NewControllerManagedBy(mgr)...Complete(r)`. Specifically, [this line](https://github.com/kubernetes-sigs/multi-tenancy/blob/4cba582a87e12397f2b41a270cc02ed2876d206f/incubator

[2020-03-05 23:55] sophieliu15 commented on #840
/help
/triage/support

[2020-03-06 00:02] djzager commented on #838
/assign

[2020-03-06 00:07] sophieliu15 commented on #822
/close

[2020-03-06 00:07] #822 closed

[2020-03-06 02:38] kfyharukz opened #841 "Cannot use var APIServerDefaultArgs"
### Description

I tried to run `envtest`'s API Server with appending extra API server flags to default API server flags.

However, `DefaultKubeAPIServerFlags` in `pkg/envtest/server.go` disappeared and `APIServerDefaultArgs` in `sigs.k8s.io/controller-runtime/pkg/internal/testing/integration` is cannot imported because it is an internal package.
https://github.com/kubernetes-sigs/controller-runti

[2020-03-06 14:20] djzager commented on #841
@kfyharukz I think the kubebuilder book covers this [here](https://book.kubebuilder.io/reference/testing/envtest.html#flags) including here in case url's change in the future.

[code]

[2020-03-06 21:43] DirectXMan12 commented on #840
Using the RESTMapper is a reasonable choice if you want to continue on, but not create the controller.

As for the "no longer fails on .Complete", I have a suspicion that this is due to 0fdf465bc21be27b20c5b480a1aced84a3347d43, which moved around when we start Watches to avoid leaks.

[2020-03-06 21:48] DirectXMan12 commented on #840
Based on the linked issue, this is mainly a "don't start this optional controller till this thing is installed", right?

[2020-03-06 21:53] DirectXMan12 commented on #840
Specifically, it should now fail when you start the manager instead.

[2020-03-06 21:55] DirectXMan12 commented on #840
or if the manager is already started (which it looks like from the stack trace), this error should induce manager shutdown

[2020-03-06 21:58] DirectXMan12 commented on #840
In retrospect this is semi, expected behavior, but it was not intended to break workflows.  I'll add a note to the release, since that did occur over a breaking release.

[2020-03-06 22:06] DirectXMan12 commented on #840
I do feel mildly uncomfortable about inducing manager failure here, but the general policy is that individual controller failure causes general manager failure, so it's in line with that.

[2020-03-06 22:15] sophieliu15 commented on #840
Hi @DirectXMan12

Thanks so much for the explanation! See my replies below.

Yes that is correct!

The manager is already started. Looks like in v0.2.2, if the kind does not exist, we cannot create the new controller, but the manager is also not shutted down. In the latest version, the controller can be created, but then it will fail at controller start time and cause manager shutdown (basically w

[2020-03-09 02:22] kfyharukz commented on #841
@djzager  Thank you for your reply!
I used almost the same [codes](https://github.com/cybozu-go/topolvm/blob/v0.3.0/hook/suite_test.go#L145) as gitbook. However, `envtest.DefaultKubeAPIServerFlags` does not exist in controller-runtime v0.5.0 (maybe because [this PR](https://github.com/kubernetes-sigs/controller-runtime/pull/763/files#diff-c2152d3c6f9f2234d9341b1049bd55ccL76), so currently my code

[2020-03-09 14:37] adrianludwin commented on #840
Hey @DirectXMan12 , wdyt about just having `NewControllerManagedBy(mgr)...Complete(r)` fail if the type doesn't exist, as opposed to having the manager as a whole terminate? There's now several use cases of users being able to effectively start new reconcilers on the fly (HNC and Gatekeeper), so it might be nice to have controller-runtime provide an error rather than just shutting down if there's

[2020-03-09 17:05] djzager commented on #841
You are right. `APIServerDefaultARgs` is no longer accessible and I don't see any way for you to modify the example from the kubebuilder book to make it work (ie. add some custom arguments to the default flags).

[2020-03-09 17:34] djzager commented on #841
/assign

[2020-03-09 18:30] mrparkers opened #845 "Delete validation for Validator interface is broken on k8s versions < 1.15"
Hi, I'm using controller-runtime@v0.4.0 on a local Kubernetes cluster (v1.14.7).  I'm running into an issue with implementing the Validator interface for a ValidatingAdmissionWebhook.

After implementing this interface, create/update works just fine, but delete always fails with this error message:

[code]

It looks like the code that consumes the Validator interface assumes that `req.OldObject` e

[2020-03-09 20:49] mcristina422 opened #847 "CreateOrUpdate falsely claiming its updating resources"
While using `CreateOrUpdate` with resources that get defaulted it can return `OperationResultUpdated` despite there being no updates. I'm not concerned that the call to `Update` is happening, the same values get defaulted. But I think returning `OperationResultUpdated` is wrong since nothing was actually updated. I think that `OperationResultUpdated` should only be returned when the `ResourceVersi

[2020-03-10 15:31] #820 closed

[2020-03-10 15:35] displague opened #849 "fakeclient List does not handle nil ListOptions"
It should be possible to list resources without specifying list options.
[code]
The fake client does not support this, requiring an empty `&client.ListOptions{}` to be supplied.  Another approach would be to make `ListOption.ApplyOptions` `nil` safe.

The fake client line that causes this is
https://github.com/kubernetes-sigs/controller-runtime/blob/0ea0ac5/pkg/client/fake/client.go#L152

[2020-03-10 17:21] rajathagasthya commented on #849
See #806

[2020-03-11 02:42] fzu-huang commented on #780
i tried and it does not work,too.   It is interesting that I tried first time and it worked, but after I do `make docker-build` and `make deploy` , I add more validatingwebhook (for namespace and others),  then it failed.

[code]

[2020-03-11 02:45] fzu-huang commented on #780
Is it possible that some generate code or files cause this failure?

[2020-03-11 03:29] alexeldeib commented on #780
There is no makefile in the example I linked. Can you please provide a complete, minimal repro to understand the issue?

[2020-03-11 03:41] alexeldeib commented on #780
/assign

[2020-03-11 05:47] alexeldeib commented on #780
Using the validator from https://github.com/kubernetes-sigs/controller-runtime/issues/780#issue-554773367, this also builds for me. Haven't validated runtime.

https://github.com/alexeldeib/hook-test

[2020-03-11 08:20] fzu-huang commented on #780
I tried again and now I'm sure that it is error when `make generate`  because  I can successfully run ` make manifests ; go run ./main.go`

[2020-03-11 08:21] fzu-huang commented on #780
I tried again and now I'm sure that it is error when `make generate`  because  I can successfully run ` make manifests ; go run ./main.go`

[2020-03-11 09:10] alexeldeib commented on #780
Looking at your error:

[code]
seems like you may be attempting to embed a client into a CRD? That won't work for the reason you're seeing, it's an interface.

[2020-03-11 09:12] alexeldeib commented on #780
As far as this issue is concerned, I'd say the example is still valid. If someone can produce a repro, feel free to reopen.

/close

[2020-03-11 09:12] #780 closed

[2020-03-11 20:39] alastor-erinyes opened #852 "Allow passing in custom TLS config to manager for use with webhooks"
Currently we allow specifying the certificate directory with the manager options, but this can be too restrictive in certain usecases.

I propose we allow specifying the entire `tls.Config{}` object while still preserving the current certDir option.  This gives security configuration for webhooks much more flexibility than the current model.

In `pkg/webhook/server.go:` the `tls.Config` file is in

[2020-03-11 21:49] chemikadze commented on #741
While I do agree that Update/Patch behaviors are intended and in line with k8s API behavior, I would like to clarify if lack of read-your-writes consistency in the client is intended.

It can cause quite subtle and hard-to-catch bugs, is current eventual consistency of default client something project is planning to stick with, or having stronger consistency guarantees is something that could be c

[2020-03-12 15:40] #841 closed

[2020-03-12 20:09] GrigoriyMikhalkin opened #855 "Document controller health probes"
Was mentioned in comments to https://github.com/kubernetes-sigs/controller-runtime/pull/419, that it's not quite clear how to set health probes for controller.

Would be nice to add minimal example of manager with health/readiness checks.

P.S. I would gladly do that

[2020-03-12 21:07] DirectXMan12 commented on #840
Hmm...

The whole weird thing here is that now non-existence is potentially transient, and that it doesn't actually *matter* if the type doesn't exist on a call to `New` -- it only matters when we go to run the watches.

I think this is a question of semantics of `New` -- it's traditionally in CR (mostly) been "prepare a thing", while `Start` is "make the thing go".  I generally see `New` as "stru

[2020-03-12 21:08] DirectXMan12 commented on #840
FWIW, doing non-initialization things in `New` has led to leaks in the past.  This obv wouldn't, but making the semantic distinction is potentially useful for avoiding that.

[2020-03-13 18:39] alexeldeib commented on #855
I really like the examples provided by controller runtime, for example the package level one: https://github.com/kubernetes-sigs/controller-runtime/blob/master/example_test.go

and the webhook specific one: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/example_test.go

perhaps we could had a runnable main.go example with healthz?

[2020-03-13 18:41] alexeldeib commented on #855
If that's already what you meant, i'd go for it! Or are you thinking about something else like a gitbook for controller runtime?

[2020-03-13 19:51] GrigoriyMikhalkin commented on #855
@alexeldeib Was thinking more about adding example to https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/example_test.go(please check PR).

But adding runnable example(in addition), also a good idea. Maybe we can add health probes to examples in https://github.com/kubernetes-sigs/controller-runtime/tree/master/examples, what you think?

[2020-03-13 23:40] DirectXMan12 commented on #617
That's correct (just double-checked the code) -- Requeue and RequeueAfter are mutually exclusive (/me grumbles about Go's lack of tagged unions): https://github.com/kubernetes-sigs/controller-runtime/blob/e00985b30c688f246e59400ff715e3a2331fa75f/pkg/internal/controller/controller.go#L262-L275

[2020-03-13 23:43] DirectXMan12 commented on #501
My experience is that you have to do what @vincepri mentioned as well.  Should be easy to check though :-)

[2020-03-14 00:07] DirectXMan12 commented on #847
I think that makes sense, off the top of my head.  I'm assuming the previous semantics were "did I submit an update", not "did an update actually occur" though.  Anyone else have thoughts?

cc @alexeldeib who touched that code last.

/kind feature
/priority awaiting-more-evidence

[2020-03-14 18:09] mcristina422 commented on #847
The reason I prefer it not to be just "did I submit an update" is that I use the result to determine if the Owned resource I am updating has been modified. If so, end the reconciliation early and let the update of the Owned object trigger a rereconcile and progress further into the reconcile logic. If this is not intended behavior thats understandable

[2020-03-14 19:02] alexeldeib commented on #847
Seems reasonable. Currently if an object was found remotely (i.e., it's an update) but there is no difference, we no-op locally and return `OperationResultNone, nil`: https://github.com/kubernetes-sigs/controller-runtime/blob/edf717755ce2f4f6c8794c976b0184fc65676230/pkg/controller/controllerutil/controllerutil.go#L216-L218

I think this change makes our behavior consistent in OperationResultNone +

[2020-03-14 19:35] toonsevrin opened #857 "Proposal: Add reconciliation buffer to reduce load"
Some of my controllers receive a bunch of reconciliation requests. However there's no improvement to the controller quality if I handle them all individually compared to handling them once every now and then.

I propose that we can optionally add a following controller option to these options:
https://github.com/kubernetes-sigs/controller-runtime/blob/2361b0515224bcc1cd05d63503c6cf85b80cfd85/pkg/c

[2020-03-14 21:28] alexeldeib commented on #847
@mcristina422 can you clarify your use case slightly? You have a controller on e.g. the parent objects and when the parent tries to CreateOrUpdate a child object, you want to use the OperationResultUpdated to let the child re-trigger the parent to reconcile?

Without depending on OperationResult here, you should be able to do this by having the parent CreateOrUpdate the child, and then check for a

[2020-03-14 23:16] negz commented on #764
Is it common to use contexts for this purpose, given that contexts are intended to be "request scoped"? It feels like using a context to replace a stop channel could be a misuse, depending on how you interpret a "request".

[2020-03-14 23:42] negz commented on #764
Apparently it is - https://github.com/kubernetes/kubernetes/pull/57932 is an example of leader election being migrated from stop channels to contexts.

[2020-03-15 03:37] alexeldeib commented on #804
/assign

[2020-03-15 05:34] alexeldeib commented on #804
/remove-help

[2020-03-15 05:39] alexeldeib commented on #804
We only use the reservation if the delay is zero, but we do not cancel it otherwise. This leads to actions we do not perform counting against our rate limit. This can be reproduced by using a ticker and polling at the rate of the limiter, which should stabilize after rate limiting kicks in, but never does in this case.

[2020-03-15 06:15] alexeldeib commented on #804
slightly more illustrative example: https://play.golang.org/p/9ZNlBkOpb8h

[2020-03-17 14:36] #804 closed

[2020-03-19 08:48] TqrHsn commented on #293
ListOptions.FieldSelector is still not being applied. Please reopen this issue.

[2020-03-19 08:51] TqrHsn opened #866 "Fake client doesn't apply the FieldSelector options on List"
Currently the fake client doesn't apply the `ListOptions.FieldSelector` to filter results when using the List function.

Here is the current fake client's List function code:

[code]

[2020-03-20 00:23] DirectXMan12 opened #867 "envtest webhook version check b0rked"
When we go to load the webhook in envtest from a file, we check the API version to make sure it's something we can work with.  Unfortunately, we don't check the API version correctly:

[code]

We should have a test for this, too, like the one for install CRDs.

cc @alenkacz do you have bandwidth to port the test?  If not, I'll try to get to it.

[2020-03-20 00:35] rajathagasthya commented on #867
@DirectXMan12 #861 is fixing this

[2020-03-20 00:46] rajathagasthya opened #868 "Webhook marker allows handler path to be changed, but a deterministic handler is always registered"
Webhook marker like the one below lets us change `path` where webhook is served. This creates the appropriate `Mutating|ValidatingWebhookConfiguration` manifest referencing this `path`.
[code]

But webhook builder always registers the same path based on GVK: https://github.com/kubernetes-sigs/controller-runtime/blob/29e923ac474ca94c021a6f8b0239a319d8b05221/pkg/builder/webhook.go#L158-L166

This is

[2020-03-20 05:57] vivekzhere opened #869 "Watches are not working for some controller after `informers_map.go:204: watch of *v1alpha1.SFService ended with: too old resource version: 79387199 (79398464)`"
We have four controllers  for four different CRs in our operator. Once in a while we see these logs like
[code]
these comes for three of the CRs. For one CR this log does not come. After that the controller for this one resource is not processing any request. Only a restart of the operator fixes this.

The CR for which watch is failing as huge number of resources (~30K). While the other reources a

[2020-03-20 08:24] alenkacz commented on #868
maybe this bug should rather be in kubebuilder project? Since it could be solved on multiple places and might also need update in documentation?

Anyway - I took a look at it. One possible solution would be to allow overriding path inside the builder here https://github.com/kubernetes-sigs/controller-runtime/blob/dc8357113a904bf02721efcde5d92937be39031c/pkg/builder/webhook.go#L38 and use that inst

[2020-03-20 08:25] alenkacz commented on #868
/assign

[2020-03-20 10:54] #867 closed

[2020-03-20 17:25] camilamacedo86 opened #870 "Allow caching client to handle requests for schemas skipping the cache when the WATCH verb is unavailable."
**Story**

I as an Operator dev, would like to be able to use the client provided by the controller to do the actions which will not use the WATCH when the operator has not permission to WACTH or the Schema is not implementing this verb.

**Motivation**

Third-party API's/Schemas which not implemented it.

**Example**

To get an `ImageStreamTag` resource from an OCP API.

(main.go)

[code]

(contr

[2020-03-20 17:25] camilamacedo86 commented on #870
c/c @miguelsorianod

[2020-03-20 18:03] rajathagasthya commented on #868
@alenkacz Yeah, we could provide an option in webhook builder to set path and then update docs to say "path in webhook build must match path in webhook marker" or something to that effect.

We probably also need some kind of validation if we let users set their own path.

[2020-03-22 18:11] seh commented on #654
/remove-lifecycle rotten

[2020-03-23 02:23] alvaroaleman commented on #798
It is not possible to terminate a goroutine from the outside, so I don't know how this could be implemented (leaking goroutines is IMHO not an option we should consider, it also means that we break the guarantee of "Only one routine will work at a given key at a given time").

Or did I misunderstand something about this?

[2020-03-23 02:52] alvaroaleman commented on #869
@vivekzhere the log message is generally nothing to worry about and expected to occasionally appear: https://github.com/kubernetes/kubernetes/issues/22024#issuecomment-261629605

That sounds like a bug. Does your reconciler still get requests and blocks when processing them or does it not even get them?

I don't follow, are you referring to leader election with the `slave`/`master` terminology? If

[2020-03-23 04:32] vivekzhere commented on #869
@alvaroaleman

No. The reconciler for this one controller is not getting any requests at all.

Yes. I am referring to leader election with the `slave/master` terminology.

There are two instances  of the operator running(`inst-0` and `inst-1`).
Initially `inst-0` is leader. Then `inst-0` goes down for upgrade and `inst-1` becomes the leader. The upgrade process takes some time(at least a couple of

[2020-03-23 12:13] alvaroaleman commented on #869
Okay, so are you sure this is an issue with controller-runtime then?

[2020-03-23 21:01] blkperl opened #871 "Best practice for status changes using fake client"
I'm looking for a pattern of how to test the following in unit tests

- create a job
- wait for it to complete
- do something on job success

In PHPUnit or another mock type with expectations, I would be able to do something like

[code]

My workaround right now is to use a Go routine to run the code I'm trying to test and after it starts change the job status. This code unfortunately has race con

[2020-03-24 01:03] ryanzhang-oss commented on #868
FYI,   https://github.com/kubernetes-sigs/kubebuilder/issues/1436

[2020-03-24 01:03] ryanzhang-oss commented on #868
https://github.com/kubernetes-sigs/kubebuilder/issues/1436

[2020-03-24 01:10] ryanzhang-oss opened #872 "Allow a struct other than the api type to implement webhook"
Currently, the apiType of the webhookBuilder serves two purposes. One is to fill the `gvk` through the manager's scheme and the other is to convert to admission/mutation webhook implementations.

[code]

This unnecessarily coupled the webhook implementation object with the CRD type.  The controller has the right pattern that the reconciler is different from the type.

The fix is easy,  just add an

[2020-03-24 04:51] maxsmythe opened #873 "Also allow validation of client certificates (mTLS)"
It'd be nice if we also allowed validation of client certificates.

It looks like this could be done by providing the same pattern we use for for GetCertificate to GetClientCertificate:

https://github.com/kubernetes-sigs/controller-runtime/blob/18d591ac447bed9efd60217d44509cf8ea79b5e2/pkg/webhook/server.go#L172-L175

[2020-03-24 04:52] maxsmythe commented on #852
If this is implemented, it be nice if the `GetCertificate` function was public so that it could be included in the custom TLS config.

That way users could still get the benefit of the io-watching code.

[2020-03-24 09:43] zroubalik commented on #172
`Status` is working, are there any plans to include `Scale` subresource as well? I'd like to control it from the client the same way it could be done via client-go.

[2020-03-25 00:18] howardjohn opened #874 "Update to v0.18 Kubernetes dependencies"
Currently we are depending on 1.17.2 libraries. With 1.18, there are a lot of breaking changes in client-go that will block people from upgrading to newer client-go versions. It would be useful if this library is updated once 1.18 is officially published.

[2020-03-25 00:52] ixdy opened #875 "cannot specify ControlPlane in envtest.Environment"
I think this issue is similar to https://github.com/kubernetes-sigs/controller-runtime/issues/841.

We have some code using `envtest.Environment` that has used the `ControlPlane` field to specify arguments for the `APIServer` and `Etcd` components:

After `sigs.k8s.io/testing_frameworks/integration` was moved into `pkg/internal/testing/integration` in #714, we can no longer do this:

[code]

Is th

[2020-03-25 01:10] alexeldeib commented on #874
https://github.com/kubernetes-sigs/controller-runtime/pull/836

https://github.com/kubernetes-sigs/controller-runtime/pull/836#issuecomment-603286722

[2020-03-25 01:13] howardjohn commented on #874
Nice, thanks! I was looking for an existing issue, didn't notice the pr

[2020-03-25 07:36] SimonCqk opened #876 "The Request to reconcile a kubernetes object is not unique."
The `Request` object defined in controller-runtime (include its Namespace and Name) can not uniquely identify the object, since UID is a more strong guarantee.

It's a fact that one NamespacedName could only maps to one object **at the same time**, however, imagine this case down below:

So I do think it's necessary to add UID filed into `Request` type definition.

[2020-03-25 14:33] vivekzhere commented on #869
@alvaroaleman We are not really sure this is a controller runtime issue anymore.

We were doing `kustomize build config/crd | kubectl apply -f -` before starting `inst-0` and `inst-1`. So during an update this was happening twice which is redundant (But I assumed this should not cause any issue). So we removed this from `inst-1`. Now after this change we are not able to reproduce the issue.

Elabo

[2020-03-25 15:10] rajathagasthya commented on #875
This just needs a release. It was fixed in #846.

cc @DirectXMan12

[2020-03-25 18:26] ixdy commented on #875
@rajathagasthya no, this issue is different; #846 doesn't fix it.

We explicitly want to specify things like the apiserver host/port and etcd host/port.

We had been doing something like
[code]
etc.

We can no longer do that, since `integration.ControlPlane`, `integration.APIServer`, and `integration.Etcd` are all in an internal package now.

[2020-03-25 18:29] ixdy commented on #875
Or for another example, we can't do something like this anymore:
https://github.com/kubernetes-sigs/controller-runtime/blob/8975354b554a084037665f870b133b48aaa5ccea/pkg/internal/testing/integration/internal/integration_tests/integration_test.go#L107-L114

[2020-03-25 18:46] rajathagasthya commented on #875
Ah, sorry. I conflated this with the apiserver flags breakage. I don't think integration testing package should be in an internal package since many things there are customizable in an envtest environment. There are multiple breakages to envtest when testing framework was brought into controller-runtime and put into internal package.

[2020-03-26 16:33] vincepri commented on #874
/priority important-soon

[2020-03-26 16:33] vincepri commented on #874
/assign @munnerz
/lifecycle active

[2020-03-26 16:34] vincepri commented on #817
/kind bug
/priority awaiting-more-evidence

[2020-03-26 16:35] vincepri commented on #817
/help

needs a little bit of investigation

[2020-03-26 16:37] vincepri commented on #826
@rmb938 is the use case to populate the Host field with a custom value or something we can reuse from the manager information? The latter wouldn't be a breaking change

[2020-03-26 16:38] vincepri commented on #826
/kind feature
/priority important-soon

TBD: to investigate the Host field semantics

[2020-03-26 16:38] akoserwal opened #878 "flag redefined: kubeconfig: allow double vendoring this library but still register flags on behalf of users"
Error:
[code]
Using :-
[code]

And in my test case, I am using a library which is also using controller-runtime/operator-sdk
```github.com/RHsyseng/operator-utils/pkg/utils/openshift```

 Method I am calling: `openshift.IsOpenShift(framework.KubeConfig)`

controller-runtime/pkg/client/config/config.go
[code]
 I suspect fixing TODO will resolve it? If yes, I would like to work on it.

[2020-03-26 16:39] vincepri commented on #828
/assign @djzager

[2020-03-26 16:39] vincepri commented on #828
/lifecycle active

[2020-03-26 16:39] rmb938 commented on #826
The use case is to populate the Host field with a custom value.

[2020-03-26 16:40] vincepri commented on #831
/lifecycle active

[2020-03-26 16:42] vincepri commented on #835
/kind bug
/good-first-issue
/help

[2020-03-26 16:43] vincepri commented on #838
/help

[2020-03-26 16:44] DirectXMan12 commented on #833
it's not clear to me from the listed use case why you actually want kubernetes version -- the information you need is better found in the discovery info we do expose.  For instance, if you want to check if v1beta1 is supported, check the RESTMapper.

Can you clarify why the existing information is insufficient?

/priority awaiting-more-evidence

[2020-03-26 16:45] vincepri commented on #845
/help
/priority awaiting-more-evidence

[2020-03-26 16:47] vincepri commented on #849
which version of controller runtime are you using?

/priority awaiting-more-evidence

[2020-03-26 16:49] vincepri commented on #852
/kind design
/help

[2020-03-26 16:49] vincepri commented on #855
/kind documentation
/help

[2020-03-26 16:52] vincepri commented on #857
/priority awaiting-more-evidence

Can you clarify your use case a little bit more?

[2020-03-26 16:52] vincepri commented on #857
/kind design

[2020-03-26 16:53] vincepri commented on #866
/kind feature
/help
/priority important-longterm

[2020-03-26 16:56] vincepri commented on #868
/kind design

We need to think more about possible solutions

[2020-03-26 16:56] vincepri commented on #868
/help

[2020-03-26 16:57] vincepri commented on #869
/triage support

[2020-03-26 17:00] mengqiy commented on #845
https://github.com/kubernetes-sigs/controller-runtime/blob/fc39662443b99ad0dcab22001571ccb9bc5b7960/pkg/webhook/admission/validator.go#L94-L96
https://github.com/kubernetes/kubernetes/pull/76346 this PR only started to be avavilable in 1.15+.
In <=1.14, the old object is not passed in the admission request body for delete operation.
I guess the fix is to check if `req.OldObject` is empty in the `D

[2020-03-26 17:05] DirectXMan12 commented on #870
FWIW, you can either use GetAPIReader or client.New to get around this (both of which return live clients).

There's two cases where this is relevant:

1. strange resources that don't implement watch:
  * this is easy-ish to detect via discovery, but relatively uncommon.  It's unclear how the balance of complexity vs usefulness should be handled here.

2. not have permissions to watch
  * this is

[2020-03-26 17:18] toonsevrin commented on #857
This is generally useful when a CRD may be changed extremely often (eg multiple times per second) while you do not care about the reconciliation happening for each of these changes. Instead, you are fine with it happening once every now and then on the latest change.

[2020-03-26 17:20] toonsevrin commented on #857
My personal use case is a controller which listens to all secret, namespace and serviceaccount changes. The quality of the controller would however not really change if the reconciliation was done only once every, say, 10 seconds. Even if 100 events were watched in this period.

[2020-03-26 17:22] #572 closed

[2020-03-26 17:25] vincepri commented on #857
ah yes, that's what we initially understood when chatting at the community meeting. It seems an interesting use case indeed

cc @DirectXMan12

[2020-03-26 17:35] toonsevrin commented on #857
I think so too! Another use case is where there is assymetry: eg. When changing one resource (for example a deployment) results in the controller changing hundreds of other resources. Adding a buffer protects these controllers from being dossed

It becomes even more useful when you create a circular reconciliation loop by accident: Let's say controller A watches secret changes and updates the rele

[2020-03-26 18:26] mengqiy commented on #878
/cc @DirectXMan12

[2020-03-26 18:32] ryanzhang-oss commented on #868
I am not familiar with the process here, what does "/help" mean? It seems that this is a pretty straightforward bug to fix.

[2020-03-26 18:36] ryanzhang-oss commented on #872
/bug

[2020-03-26 19:19] DirectXMan12 commented on #878
So, due to some legacy cruft, controller-runtime expects to be the thing that registers that flag.  We probably shouldn't but that's a pretty serious breaking change that I don't think we want to make just yet.

cc @shawn-hurley @camilamacedo86 @joelanford @estroz any of you have insight into what the operatorsdk package is doing that it's re-registering that flag?

[2020-03-26 19:20] DirectXMan12 commented on #878
/assign @camilamacedo86

to answer or triage elsewhere.

[2020-03-27 00:24] ixdy commented on #875
cc @hoegaarden

Was this intentionally put under `pkg/internal` in #749?

[2020-03-27 05:13] estroz commented on #878
The SDK's test framework uses some client-go APIs directly and requires the kubeconfig's namespace, so it needs the kubeconfig path. While the framework could/should be refactored to use pure controller-runtime, which would allow the framework to delegate registering this flag to controller-runtime, we can use a local flagset in the mean time.

PR: https://github.com/operator-framework/operator-sd

[2020-03-27 11:24] akoserwal commented on #878
Getting error:
[code]
private variable:
singleNamespaceMode bool

[2020-03-27 11:41] camilamacedo86 commented on #878
Hi @estroz,

Since you are working on it already.  /assign @estroz

[2020-03-27 15:24] #828 closed

[2020-03-27 15:26] djzager opened #879 "Add `context.Context` to `Source` interface's `Start` method to make cancellable"
Do we need to add `context.Context` to the `Source` interface's `Start` method to make this cancellable?

_Originally posted by @joelanford in https://github.com/kubernetes-sigs/controller-runtime/pull/830_

[2020-03-27 15:27] djzager commented on #879
/assign

[2020-03-27 21:35] #874 closed

[2020-03-28 20:02] alexeldeib commented on #868
"/help" (adding the help-wanted label) is usually a good signal for issues to pick up 🙂 https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md#overview

However @alenkacz self-assigned, maybe she is still working on this? We did just discuss it recently.

FWIW I think adding to the builder seems reasonable. I think @DirectXMan12 mentioned some caveats with this, but

[2020-03-28 20:13] akutz commented on #745
A project with which I am involved is doing this. I will share the design here once I figure out what I am allowed to share.

[2020-03-28 21:28] danieldn commented on #676
@hoegaarden With `sigs.k8s.io/testing_frameworks/integration` deprecated, what is the best way for us to import this integration library if we want to use it in our projects? I just found out the following doesn't work
[code]

[2020-03-30 06:07] Abhishek-Srivastava commented on #491
For me ENABLE_WEBHOOKS=false is not working

[2020-03-30 21:23] ekuefler opened #880 "Can't delete namespaces from test environment"
I'd like to use namespaces to isolate my tests from one another. For example, I want to create a new namespace with a random name in my `BeforeEach` and delete it in `AfterEach` so that individual tests don't have to worry about cleaning up after themselves.

However, I've observed that namespace deletion doesn't work when using `envtest`. When I delete a namespace, the deletion timestamp on resou

[2020-03-31 21:54] estroz commented on #878
@akoserwal try out SDK's master.

[2020-04-01 22:48] alvaroaleman commented on #740
I think we have to deprecate `opts.MatchingLabels`, because its exported and we can not return an error in `ApplyToList`.

We need to instead have something like `NewMatchingLabelsSelector(map[string]string)(Option, error)` to have a place where we can return the error.

[2020-04-02 01:01] alvaroaleman commented on #876
The whole idea of the reconciliation is that you look at the object and realize what it has defined in its spec at the time of reconciliation, which may be different from the time the event was generated to due various factor such as network latency or backoff after failures. This is not a bug, its part of the design.

If you need cleanup logic that sets the object as deleted, you should use a [`f

[2020-04-02 19:14] #740 closed

[2020-04-02 22:58] alvaroaleman commented on #835
Fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/842
/close

[2020-04-02 22:58] #835 closed

[2020-04-03 17:15] camilamacedo86 commented on #501
/ssign @camilamacedo86

[2020-04-04 18:41] adibrastegarnia opened #887 "Reconcile dependent custom resources"
I am trying to implement a k8s controller that should watch two custom resources and then reconcile them by creating a deployment, service, etc. The problem is that custom resource A and custom resource B should be created first (of course we don't know the order) and then I should perform reconciling. Inside Reconcile function I can have access to one of them at a time. What is the best approach

[2020-04-05 15:47] #838 closed

[2020-04-06 10:39] rickysway opened #889 "Client.Update does not update ServiceAccount"
https://github.com/kubernetes-sigs/controller-runtime/blob/b6092bd383f0317f48ee396629ceb46d7dd064b4/pkg/client/client.go#L122
Using the above Update command, I am unable to update the ImagePullSecrets of an existing ServiceAccount
Example:
[code]
err == nil in all instances

[2020-04-06 12:08] charlesld opened #890 "go mod use old code?"
go.mod
[code]

when building ,code err print

[code]

does it wrong or something else?

[2020-04-06 14:03] vincepri commented on #890
It seems like you're vendoring in your project? Have you tried running `go mod vendor` again and see if the issue still happens?

cc @alvaroaleman

[2020-04-06 14:18] charlesld commented on #890
Yes , I'm vendoring in my project , I test on my laptop and ubuntu server, same hint..
And then , I clone this project , it works, thus I think `tag v0.5.2` my got some old code.

[2020-04-06 14:28] alvaroaleman commented on #890
@charlesld the kube dependencies in v0.5.2 are on v0.17.X, not v0.18.X: https://github.com/kubernetes-sigs/controller-runtime/blob/v0.5.2/go.mod#L25-L28

[2020-04-06 14:33] charlesld commented on #890
ok, great, thx. @alvaroaleman
![image](https://user-images.githubusercontent.com/23304239/78569661-83160380-7856-11ea-82ee-d2523f3a8b20.png)

[2020-04-06 14:34] #890 closed

[2020-04-06 15:40] alexeldeib commented on #889
On an initial attempt, I can't repro this. Can you please provide a complete repro? Here's my sample code as reference: https://github.com/alexeldeib/repro/blob/3af042b2fe192f49aa573e1b0d6a906ae5beab52/main.go

[code]

[2020-04-06 15:40] alexeldeib commented on #889
/priority awaiting-more-evidence

[2020-04-06 17:16] displague commented on #849
The commit that I tagged was In v0.6.0, but I am using v0.4.0.

https://github.com/kubernetes-sigs/controller-runtime/blob/v0.4.0/pkg/client/fake/client.go#L145

There does not appear to be a difference between the two versions (nor v0.5.2) in terms of this expectation and the error produced.

[2020-04-07 00:57] #501 closed

[2020-04-08 06:31] ruromero commented on #594
FWIW we introduced the KubernetesResource to our [operator-utils](https://github.com/RHsyseng/operator-utils/blob/master/pkg/resource/types.go) library and found it useful in multiple situations.

As has been already mentioned, this interface can avoid runtime errors and avoid unnecessary type conversions and maybe create higher level abstractions for some methods.

[2020-04-08 10:08] rickysway commented on #889
I have found the fix for this.
It seems the updating doc must have the same `ResourceVersion` as the created doc for Update() to work.

[2020-04-08 10:08] #889 closed

[2020-04-09 06:12] sysword commented on #852
I wonder why dont we use restConfig.TLSClientConfig to do authentication, is that enough?

[2020-04-11 04:58] christopherhein opened #895 "RFC: Deprecation and removal of ComponentConfig"
This issue tracks the deprecation and removal of ComponentConfig from Controller Runtime.

[2020-04-12 01:09] hasheddan commented on #305
I would love to help out here and will get started on implementation :)

/assign

[2020-04-13 05:28] #869 closed

[2020-04-14 06:14] Dingshujie opened #896 "why Builder need ForInput?"
when migrating crd controller from kubebuilder v1 to v2,  we met a problem. we have an controller must watch multiple resources，we use  self defined EventHandler, not to use EnqueueRequestForObject. But in controller-runtime v2 version, in doWatch function, frist to Reconcile type from ForInput, if we don't have ForInput, it will return error.

so why Builder needs ForInput when we have some watch

[2020-04-14 10:22] miton18 opened #897 "e2e Opentracing context propagation"
Hi !

I use Opentracing in my Operator to trace all reconciliations, this show me important steps such as deployments update, pod reconciliation, etc...

I want to extends this tracing to previous components (Kubernetes APIServer, and my custom API) and next ones:

Workflow:
my API -> K8S API -> Operator (reconcilier) -> tool which react to configmap

How can I start a tracing context from my API

[2020-04-15 01:01] DirectXMan12 opened #899 "The log/zap options for Level and StacktraceLevel have wrong type"
As per the title, they're currently a concrete type `*zapcore.AtomicLevel`.  As per the underlying mechanism, they should be `zapcore.LevelEnabler`, since the underlying calls accept that.

/kind bug
/help

[2020-04-15 08:05] Wenfeng-GAO commented on #899
I'm glad to give a try if possible.

[2020-04-15 13:04] thephw opened #900 "ManagerOptions#CertDir default is confusing"
# Problem Description

The default for the `CertDir` configuration option is presently nonsensical. I expect because it is out of date with other changes in the expected workflow for a developer to configure TLS. A prior PR #300 removed the cert provisioners that would create local credentials at `{TempDir}/k8s-webhook-server/serving-certs/tls.key` and `{TempDir}/k8s-webhook-server/serving-certs/t

[2020-04-15 18:06] alexeldeib commented on #705
Anyone have feelings about this? All of the necessary changes are fairly straightforward, but I don't love the options. Accepting context and wrapping the underlying implementation makes sense but is a break, and a super interface seems like extra fluff.

@alvaroaleman @shawn-hurley ?

[2020-04-15 21:46] alexeldeib commented on #705
@fengzixu are you still working on this?

[2020-04-16 00:13] fengzixu commented on #705
@alexeldeib I wrote some code for this issue. Not submit yet. Do you have any better options?

[2020-04-16 00:53] alexeldeib commented on #705
Nope, just going through issues to pick things up. Looking forward to a PR :)

/remove-help

[2020-04-16 15:15] zscholl opened #904 "envtest - Failed to Watch error on every test run"
I'm using the `envtest` setup with ginkgo to test an operator.

My test is setup like so:
[code]

My tests pass when I create my custom CR and check that operations were performed as expected, however, I always get this error message:

[code]

It looks like this is happening after the `etcd` and kubernetes API server have been shut down so I'm not sure what the problem is.

Here's the full control

[2020-04-16 15:53] alexeldeib commented on #764
Making incremental notes on context changes required:
- [ ] source should accept context -> https://github.com/kubernetes-sigs/controller-runtime/pull/903
- [ ] cache start and wait for sync should accept context
- [ ] webhooks should accept context
- [ ] dynamic rest mapper should wrap the underlying requests in a context to be non-blocking
- [ ] runnables should accept a context
- [ ] manager st

[2020-04-16 16:23] joelanford commented on #681
From @vincepri:

We can use this as an example for incorporating into controller-runtime. Thanks @vincepri!

[2020-04-16 16:31] alexeldeib commented on #681
I was looking at this yesterday, missed the open issue. If no one has taken it I can.

/assign

[2020-04-16 16:31] alexeldeib commented on #681
/remove-help

[2020-04-16 21:18] djzager commented on #899
/assign

[2020-04-16 23:35] mengqiy commented on #837
@alenkacz Any update on this? We are trying to burndown the v0.6.0 milestone list.

[2020-04-17 14:19] camilamacedo86 opened #907 "Unable to run the`make test` locally (CacheTestSuit shows not work for mac)"
## What?

- I am unable to see the tests finished successfully locally when I run `make test`
- Cache tests are not finishing successfully locally (mac os x):
<img width="1540" alt="Screenshot 2020-04-17 at 15 21 24" src="https://user-images.githubusercontent.com/7708031/79579459-84012d80-80bf-11ea-8d5a-ee42455d2a55.png">

## Notes:

Since the test work in the prow, I assume that it requires somet

[2020-04-17 14:27] camilamacedo86 commented on #907
/kind bug

[2020-04-17 14:52] shawn-hurley commented on #705
Considering the 1.18 breaks in the same context way for folks maybe it makes sense to that with the 1.18 bump release?

[2020-04-17 17:45] #831 closed

[2020-04-17 18:51] christopherhein commented on #518
/close and track against #895

[2020-04-17 19:41] DirectXMan12 commented on #907
@camilamacedo86 that kinda sounds like the apiserver didn't boot properly

[2020-04-17 19:42] DirectXMan12 commented on #907
if you run with `KUBEBUILDER_ATTACH_CONTROL_PLANE_OUTPUT=true` do you see anything weird?

[2020-04-17 19:42] DirectXMan12 commented on #907
@droot can you repro?

[2020-04-17 20:42] droot commented on #907
I ran `make test` 4 times and it failed the first time with same errors reported above. However, next 3 runs ran successfully and now I am not able to repro. Are you seeing this failure consistently in your setup ?

[2020-04-17 20:52] DirectXMan12 commented on #907
@camilamacedo86 for future reference: please put really long logs in a details element like this:

[code]

I've edited your message for this one to do that

[2020-04-18 00:10] djzager commented on #880
Expected behavior https://book.kubebuilder.io/reference/testing/envtest.html?highlight=envtest#testing-considerations

[2020-04-18 10:13] camilamacedo86 commented on #907
Hi @DirectXMan12 and @droot,

Thank you for your help with. Following some information.

- Added in the first comment the full execution with the envvar `KUBEBUILDER_ATTACH_CONTROL_PLANE_OUTPUT=true`
- The error changes each time that you execute the `make test`, however, the cache ones are always faced and no matter how many times I re-run it. I did it 5 times. @droot, did you try to run `minikub

[2020-04-19 18:27] alexeldeib opened #911 "investigate: proper cleanup/signal handling in test runs"
I was playing around with inlets/kind and got an error trying to bind to 443. I ran the following while investigating and found etcd was listening on 46443 which was interesting. Then I found 11 instances of etcd running on my local machine.

I was recently running a lot of tests, sending ctrl-c, etc, so this might just be user error. But I was surprised to see so many instances running on my mach

[2020-04-20 02:32] djzager commented on #871
I have found controller-runtime itself to be a pretty good example on writing BDD type tests using ginkgo and gomega, for example [controller_test.go](https://github.com/kubernetes-sigs/controller-runtime/blob/e0b187f6cb3f905589af262e7ecf3bdeb948ebcf/pkg/internal/controller/controller_test.go). How that may be of interest to you is references to [`Eventually`](https://github.com/kubernetes-sigs/co

[2020-04-20 20:19] bharathi-tenneti opened #912 "Add log option and flag for zap time format"
Description:

Add log option and flag for `zap time format` [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/zap.go#L127).
Follow up from https://github.com/kubernetes-sigs/controller-runtime/pull/767#discussion_r386226102

[2020-04-20 20:20] bharathi-tenneti commented on #912
/assign

[2020-04-20 20:59] DirectXMan12 commented on #907
hmm, yeah, that last one looks similar to the k/k bug you mentioned.  If you eliminate that, do things work?

[2020-04-20 21:10] #518 closed

[2020-04-20 21:11] christopherhein commented on #518
Thanks!

[2020-04-20 21:12] DirectXMan12 commented on #837
#848 closes this

[2020-04-20 21:12] #837 closed

[2020-04-20 21:46] DirectXMan12 commented on #900
Can I ask which OS you're using here?  On most Linux distros, `$TMPDIR` is just `/tmp` (we shouldn't rely on this, though).

If we're gonna change this, we need to do it carefully, because it'd probably break a lot of folks.  It's not *really* a problem on most linux installs, because `$TMPDIR` is `/tmp`.  That's not to say we shouldn't change it to something a bit more sensible, though.

At the v

[2020-04-20 21:47] DirectXMan12 commented on #900
/kind bug
/priority important-longterm

[2020-04-20 21:47] #899 closed

[2020-04-20 21:47] DirectXMan12 commented on #900
/good-first-issue

on the docs and improved error message

[2020-04-20 22:04] DirectXMan12 commented on #868
seems reasonable.  Might have to be path prefix.

My concern was mainly that we don't want to tie those two together.  Allowing you to customize the path (optionally) seems fine.

[2020-04-20 22:23] DirectXMan12 commented on #875
agreed here -- those types shouldn't be internal.  Sorry about that.  I think all the shuffling around got things lost in translation.

[2020-04-20 22:25] DirectXMan12 commented on #875
FWIW, I think the intention was that some of the internal helpers were supposed to be in internal, while the public types stayed exposed externally.  The goal was to eventually unify our `Environment` with th e testing-frameworks config to avoid duplication, but we're not there yet, so re-exposing those types seems like a good idea.

[2020-04-20 22:25] DirectXMan12 commented on #875
/good-first-issue

should be an easy fix -- just re-export these types.

[2020-04-20 22:25] DirectXMan12 commented on #875
/priority critical-urgent
/kind bug

[2020-04-20 22:36] DirectXMan12 commented on #857
aah, that makes sense.  I think we'd have to heavily document this to avoid footguns, but this seems like a reasonable use case.

@toonsevrin can you write up a short design in a teensy bit more detail?  Mainly interested in "how do we teach this to avoid confusion with the backoff rate limitter".

[2020-04-20 22:37] DirectXMan12 commented on #857
Here's our (short-and-sweet) template: https://raw.githubusercontent.com/kubernetes-sigs/controller-runtime/master/designs/template.md

[2020-04-21 00:51] thephw commented on #900
I was running the code locally on MacOS Catalina 10.15.4 (19E287). Good point on the reasonable default. What would be the new reasonable default in the current implementation?

[2020-04-21 08:17] yoichiwo7 commented on #491
@desourav @Abhishek-Srivastava
`ENABLE_WEBHOOKS` check is only implemented in the kubebuilder's CronJob example. None of controller-runtime/controller-gen/kubebuilder adds or provides the check.

https://github.com/kubernetes-sigs/kubebuilder/blob/abb49b494e5da4f84c90146edeac5393422f514c/docs/book/src/cronjob-tutorial/testdata/project/main.go#L103

If you need a way to disable webhook altogether,

[2020-04-21 19:17] djzager opened #914 "Informers map should accept a context"
From https://github.com/kubernetes-sigs/controller-runtime/issues/764#issuecomment-614737987, this is an important step in allowing graceful termination of controllers by simply adding context.

[2020-04-21 19:17] djzager commented on #914
/assign

[2020-04-21 21:47] thephw commented on #900
This would probably also be helpful:
[code]

[2020-04-22 00:06] camilamacedo86 commented on #907
Sorry, @DirectXMan12. I did not understand your question. If I eliminate what exactly?

[2020-04-22 18:48] dmvolod opened #916 "controllerutil.RemoveFinalizer could potentially occurs slice bounds out of range exception"
func controllerutil.RemoveFinalizer(...) implementation could occurs slice bounds out of range exception even list contains more than one same entities

[2020-04-22 22:35] muvaf opened #918 "Fake client Create call changes the object even if an error returned"
`Create` call normally does not change the local object if the result is error. However, fake client [does set its `resourceVersion` to `1`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/fake/client.go#L98) in all cases.

[2020-04-23 06:47] dmvolod opened #920 "Add ContainsFinalizer helper to the controllerutil"
It would be nice to have ContainsFinalizer helper in the controllerutil in advance to the RemoveFinalizer and AddFinalizer.
It prevents to write you own code or use third-party libraries for this.

[2020-04-24 04:18] #916 closed

[2020-04-24 12:23] ilackarms opened #924 "cannot share metrics across managers"
at solo.io we have a use case that requires us to run multiple managers, which means collecting different metrics for each one.

currently, metrics are scoped globally in the `metrics` package, and there's currently no way to control which registry the manager uses for its metrics. we can control the labels used by the controller metrics, but not the client.

It would be ideal if we could pass our

[2020-04-24 23:38] mengqiy commented on #900
https://github.com/kubernetes-sigs/controller-runtime/blob/1c83ff6f06bc764c95dd69b0f743740c064c4bf6/pkg/webhook/server.go#L92 This is where the defaulting happens.
It relies on [os.TempDir](https://golang.org/pkg/os/#TempDir) to get the temp dir on different OS.

IIRC CertDir is still an optional field, since if you don't need to run webhook at all, you don't need to set it.

I'm more leaning towa

[2020-04-25 01:51] maxsmythe opened #927 "CRD test harness cannot load YAML files cleanly"
The CRD test harness is written in such a way that it could allow YAML files to be listed directly, but the files variable doesn't get clobbered per loop iteration, which causes the system to look for non-existent files from previously-processed directories:

https://github.com/kubernetes-sigs/controller-runtime/blob/1c83ff6f06bc764c95dd69b0f743740c064c4bf6/pkg/envtest/crd.go#L276-L333

[2020-04-25 01:56] maxsmythe commented on #927
NVM, already fixed in master

[2020-04-25 01:56] #927 closed

[2020-04-25 18:55] dmvolod commented on #920
/assign

[2020-04-25 19:17] dmvolod commented on #875
/assign

[2020-04-27 17:45] rcernich commented on #550
I don't think adding a context solves the problem here.  What I'm seeing is that a `client.Get()` blocks indefinitely, because the service account does not have permissions to get/list/watch the resource.  Cache or no, the call should return an error, (e.g. unauthorized).  Instead, the call hangs and fills the logs with things like:

`sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map

[2020-04-27 21:18] #875 closed

[2020-04-27 21:40] DirectXMan12 commented on #900
@mengqiy I think the main problem is that this might be autogenerated/ard to get at -- e.g. on OSX.  That said, I don't think we can fix this easily w/o serious breakage, except maybe if we OS-detect OSX  and special-case that for the moment.

[2020-04-28 17:01] LouisPlisso commented on #727
I see again the same issue with v0.5.2 with operator-sdk v0.17.0 [using k8s 1.17.5]

Do you understand how this could manifest with k8s 1.17.5???

[code]

here is my go.mod file:
[code]

[2020-04-28 17:07] alexeldeib commented on #727
This is usually a dependency mismatch between k8s libraries.

This does not match your other versions, it's using the older semantic versioning. Try aligning the version here to v0.17.5

[2020-04-28 17:11] LouisPlisso commented on #727
@alexeldeib thanks, but this is automatically replaced by go get even if I put v0.17.5 here

I have a fix that allows controller-runtime v0.5.2 to work with operator sdk v0.17.0

[2020-04-28 17:15] LouisPlisso commented on #727
adding a replace to go.mod solves this better ;)

[code]

[2020-04-28 17:15] #727 closed

[2020-04-28 17:16] alexeldeib commented on #727
I see, I didn't realize this was an OSDK specific issue. I was able to repro this and I'm not using OSDK; matching my versions fixed it.

That's a bit curious -- doesn't it mean OSDK is using some older client-go features?

[2020-04-30 10:29] isantospardo opened #932 "IsController flag not being taken into account"
I noticed some constrains when watching for the routes filtered by owner, as a quick summary :

I tried to watch only routes owned by my custom resource by doing:

[code]

The problem I noticed was that no routes ere being watched, I added the ownerReference to the route but still the same issue

[code]

after investigating I found I could do it in a different and cleaner way that made it work, so

[2020-04-30 10:48] JoelSpeed opened #933 "Potential propsoal: Include Kubernetes Gomega extension with to make testing controllers easier"
While building a number of controllers last year, a colleague and I came up with an extension to Gomega that allowed us to reduce a lot of boilerplate within our test suites. Our assertions ended up looking something like
[code]
To check that the node object eventually had a taint with the desired `Key` and `Effect`. The benefit here being that we knew what we wanted to test in a particular test c

[2020-04-30 19:46] rohandvora opened #934 "Multi Namespace Cache doesn't support Get for cluster scoped resources"
I have a requirement to watch resources in multiple namespaces as well as a cluster-scoped resource. This is how I build the cache:
[code]
While the namespace-scoped resources work as expected, the cluster scoped resource fails at the `Get()` function. The `List()` call for multi cache namespace works fine though. In the code, I see this:
[code]
For a cluster scoped object, the namespace will be `

[2020-05-02 15:33] shomron opened #935 "Allow removing individual informers from the Cache"
## Overview

In a somewhat similar use-case to that described in #863, the [Gatekeeper](https://github.com/open-policy-agent/gatekeeper) project uses one set of custom resources to describe (and dynamically register) another set of CRDs. Once subordinate CRDs are created, we then use informers to register watches against resources of those types. The set of subordinate resource types change over t

[2020-05-04 09:39] charith-elastic commented on #817
Could it be because reflector metrics have been removed from Kubernetes: https://github.com/kubernetes/kubernetes/pull/74636

[2020-05-04 15:43] naphta commented on #550
Having the same problem, and whilst context does take it from unusable to usable (with some vaguely sketchy error handling and a timeout), it does seem entirely reasonable that you should be returned an error when the cache will never become live.

[2020-05-06 12:21] #911 closed

[2020-05-06 20:22] devigned commented on #798
Is there any chance to add a `ReconcileWithContext(ctx context.Context, req reconcile.Request)` or add a `WithContext(ctx context.Context)` which would provide the `Reconcile` func a signal that it has run out of time?

[2020-05-07 16:29] devigned commented on #868
I was thinking about taking a look at this issue if it's not being actively worked on. Thoughts?

[2020-05-09 15:31] #918 closed

[2020-05-11 08:52] lrgar opened #942 "source.Channel ignoring event"
Hello, I'm using `source.Channel` to do an artificial initial reconciliation followed by periodic cycles, and have noticed that sometimes the initial request is ignored.

Did some investigation and looks like a race condition where the events are processed before the Channel has any targets.

In particular this goroutine is started,

https://github.com/kubernetes-sigs/controller-runtime/blob/c2dfe

[2020-05-11 09:49] jkbschmid commented on #244
My team is also interested in this feature. We have a controller that watches a small set of secrets. However, overall the cluster has many (also larger) secrets which
increases our pod requests/limits drastically, because they will all be cached.
In our use case, using a separate cache for each filtered watch would absolutely suffice, because the number of secrets we are interested in is small. T

[2020-05-11 11:26] lulf commented on #244
@jkbschmid I've not found time or need to work on this since my last proposal. We have a workaround 'delegating cache' that solves a subset of the requirements (i.e. we can at startup time set which GVKs we want to watch globally)[1].

FYI if you haven't seen this already: if you know which namespaces you need to watch up front, you can have a look at the multiNamespaceCache in pkg/cache/multi_nam

[2020-05-11 15:46] ifilonenko opened #943 "Internal error occurred: failed calling webhook"
=====
controller-runtime: v0.6.0
k8s version: 1.15
api-machinery: v0.18.2
See an issue where, rather consistently, I get the following error:
[code]
I create the manager with the following:
[code]
and initiate the webhooks with the following as well:
[code]
I am able to to hit the webhook fine 4/5 times with a 1/5 it return the following error with:
[code]
something to note:
[code]

[2020-05-12 15:26] vincepri commented on #943
The log message seems it was fixed in https://github.com/kubernetes/kubernetes/commit/c224a6de5e01455bcd89763f1483546496e41dcb

[2020-05-12 15:33] ifilonenko commented on #943
Ah that is the log-message, sure. But the underlying issue is that the port is unavailable... but why so? is it being set as a port name instead of a number, maybe?

[2020-05-12 16:18] ifilonenko commented on #943
It seems that `this` specific issue isn't present when upgrading k8s cluster to version `1.16.x`.
I specifically tested against: `1.16.7`

[2020-05-12 20:15] liggitt commented on #943
This typically means the pod backing the admission webhook is fluttering in and out of being available. If you watch the endpoints for the `mycrd-webhook-server-service` service do they remain available?

[2020-05-13 12:08] jaypipes opened #945 "Builder's `For`, `Owns` and `Watches` methods overwrite multiple options"
The `Builder` struct's `For`, `Owns` and `Watches` methods all follow the same pattern of having a variable number of modifying `Option` structs as the final parameter to the method. Here is the code for the `For` method:

[code]

The problem with the above is if you call `For` with more than one `ForOption`, the builder's `forInput` member ends up containing only the predicates contained in the l

[2020-05-13 18:49] alvaroaleman commented on #764
@alexeldeib just for my understanding, maybe I am missing something. How is graceful termination depending on having plugged through the usage of `context` everywhere? Graceful termination just means that we have to redesign some interfaces to allow `Runnables` to signal that they are done shutting down and then wait for that or a timeout or not?

[2020-05-13 18:55] alexeldeib commented on #764
Yeah, I think this issue arguably re-conflated two things:
- our usage of stop channels is very inconsistent and messy, and it'd be preferable to cleanly wire context
- there's no way to do graceful shutdown properly

[2020-05-13 18:56] alexeldeib commented on #764
- things that should be non-blocking are actually non-blocking

[2020-05-14 09:57] allenhaozi opened #947 "client.Patch got an unknown format error"
`
applyOpts := []runtimeclient.PatchOption{
         runtimeclient.ForceOwnership,
         runtimeclient.FieldOwner(component.GetName())
}
err := c.Patch(ctx, component, runtimeclient.Apply, applyOpts...)
`

the body of the request was in an unknown format - accepted media types include: application/json-patch+json, application/merge-patch+json

k8s: version
Client Version: version.Info{Major:"1"

[2020-05-14 11:36] allenhaozi commented on #947
It can be resolved by upgrading k8s to v1.16.0 or v1.17

[2020-05-14 13:41] thephw commented on #900
Not that we're getting around to integration testing with kind I am getting the same error in linux land with the default. @DirectXMan12 can you point me to the code that sets up the default certs at `/tmp/k8s-webhook-server/serving-certs`?

[code]

[2020-05-14 15:57] ifilonenko commented on #943
Agreed, it seems that this issue is a red-herring for this error: https://github.com/jetstack/cert-manager/issues/2899 that was present on my cluster. It seems to have been resolved by resolving that ca-injector annotation issue

[2020-05-15 14:47] shomron opened #948 "Explore differentiating between transient and unrecoverable errors during warm-up"
In the proposed implementation for readiness checking (https://github.com/open-policy-agent/gatekeeper/pull/541) - the tracker code assumes that certain errors (e.g. rego compilation errors) are non-recoverable. In such situations, it chooses to remove the offending template from the "initial warm-up set", allowing that GK pod to eventually become ready.

In this issue, let us explore whether ther

[2020-05-15 14:56] shomron commented on #948
Sorry, wrong project 🙄

[2020-05-15 14:56] #948 closed

[2020-05-15 15:36] cscetbon opened #949 "How do you get a fake EventRecorder to be used in unit tests"
I can't find any resource that explains how to get a fake EventRecorder along with your fakeClient. I found some examples in client-go but their fake client comes with a [FakeCoreV1](https://github.com/kubernetes/client-go/blob/master/kubernetes/fake/clientset_generated.go#L253) that gives this ability.

[2020-05-15 18:24] davidovich commented on #949
Have you tried this?

This starts a recorder with a buffer size of 3 events.
[code]
Pass the recorder to your business logic, and then in your test,

Drain recorder the and assert messages (event messages are concatenated):
[code]

Synchronization is left as an exercise ;-)

[2020-05-17 04:30] cscetbon commented on #949
@davidovich I did not but now that I have this information I'm all set.

Thanks !

[2020-05-17 04:30] #949 closed

[2020-05-18 11:50] davesargrad opened #952 "Controller Runtime not invoking reconcile on request"
I am watching for changes to a configmap.

My operator detects the configmap changes and [requests](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/reconcile#Request) a reconciliation of the

 _mediator_ object that uses that configmap.

[code]

My reconcile method does not get called. I verify in delve that I make the request for reconciliation, and that the corresponding reconcile is not in

[2020-05-18 15:59] alvaroaleman commented on #947
I believe this is because the `FieldOwner` only exists when Server Side Apply is enabled and that is only enabled by default on v1.16+: https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply

[2020-05-18 23:42] allenhaozi commented on #947
got it. thank u for ur reply, I close this issue

[2020-05-18 23:42] #947 closed

[2020-05-20 20:09] vincepri commented on #70
/lifecycle frozen

[2020-05-20 20:09] vincepri commented on #265
/lifecycle frozen

[2020-05-20 22:08] vincepri commented on #808
/lifecycle frozen

[2020-05-21 18:01] vincepri commented on #644
/lifecycle frozen

[2020-05-21 18:04] vincepri commented on #657
/lifecycle frozen

[2020-05-21 18:04] vincepri commented on #607
/lifecycle frozen

[2020-05-21 18:38] detiber commented on #768
/remove-lifecycle stale

[2020-05-21 19:47] vincepri commented on #671
/lifecycle frozen

[2020-05-21 19:47] vincepri commented on #788
/lifecycle frozen

[2020-05-21 19:47] vincepri commented on #797
/lifecycle frozen

[2020-05-21 19:48] vincepri commented on #723
/lifecycle frozen

[2020-05-22 17:17] alvaroaleman commented on #594
Heads-up for ppl watching this issue, #898 merged so we now have such an union interface in pkg/controller/controllerutil. We don't yet use it anywhere though, hence leaving this issue open until we do use it where it makes sense.

[2020-05-22 18:05] #920 closed

[2020-05-22 18:16] dmvolod opened #959 "Migrate controllerutil AddFinalizer and RemoveFinalizer controllerutil.Object and deprecate *WithError functions"
As #898 introduces controllerutil.Object interface it would be nice to migrate controllerutil AddFinalizer and RemoveFinalizer to this interface and remove *WithError functions as they are not needed anymore as checks are performing on the compile time.

[2020-05-22 18:18] dmvolod commented on #959
/assign

[2020-05-22 22:32] shomron opened #961 "Race condition in source.Channel loses events"
There is race condition in `source.Channel` between `syncLoop()` (which drains the incoming `Source` events) and adding new destination channels for distribution:

[code]

The two are not synchronized and it is possible for the source channel to be drained from existing events before the destination channel is established. This will cause these events to be lost.

[2020-05-23 01:47] alvaroaleman commented on #961
I think this issue is a duplicate of #942

[2020-05-23 02:08] shomron commented on #961
Yes, this looks like the same issue 👍

[2020-05-23 18:49] dmvolod opened #963 "Change doc using_finalizers.md to be based on controllerutil helper"

[2020-05-23 18:51] dmvolod commented on #963
/assign
/kind documentation

[2020-05-24 04:13] cheyang opened #964 "How to specify worker count when using kubebuilder"
Hi,

I noticed that the worker count is 1

[code]
And I found there is no way to set MaxConcurrentReconciles. Could you help me to know how to set it. Thanks.

[code]

[2020-05-25 03:49] lazybetrayer opened #965 "default health check not working"
if no `AddHealthzCheck` is called `cm.readyzHandler` is nil, the health check endpoint will not be added.

https://github.com/kubernetes-sigs/controller-runtime/blob/a457e2791293540eb7f522b918f9e0892de3bc5f/pkg/manager/internal.go#L415-L417

But according to
https://github.com/kubernetes-sigs/controller-runtime/blob/a457e2791293540eb7f522b918f9e0892de3bc5f/pkg/healthz/healthz.go#L153-L156

there s

[2020-05-25 04:36] lazybetrayer commented on #965
Actually with the default endpoint name `/healthz`, only the exact match is handled, paths like `/healthz/ping` is never handled.

[2020-05-25 06:28] dmvolod commented on #964
@cheyang you can define MaxConcurrentReconciles using **WithOptions(...)** inside SetupWithManager call as

[code]

[2020-05-25 15:21] #959 closed

[2020-05-26 07:01] dmvolod commented on #963
/close

[2020-05-26 07:02] #963 closed

[2020-05-26 18:38] vincepri commented on #801
/lifecycle frozen

[2020-05-27 07:53] omaskery commented on #880
Whilst I appreciate this is expected behaviour, it would be handy to know what the advice is for separating tests from one another. @ekuefler have you found a way forward?

I too am trying to keep my tests independent in envtest. My operator queries all resources of a given kind, so I need to ensure its queries are not populated with resources from previous tests! :)

[2020-05-27 08:41] alenkacz commented on #688
/close

let's actually close this one. I think in those cases people should probably fall back to implementing the validators themselves

[2020-05-27 08:41] #688 closed

[2020-05-27 16:25] vincepri commented on #825
/lifecycle frozen

[2020-05-27 19:09] GrigoriyMikhalkin commented on #965
IMO, we need to delete this `if len(h.Checks) == 0 && reqPath[1:] == "ping"` condition.

Regarding default endpoint `/healthz` -- i think it would be ok to add trailing slash and add wrapper for `mux` that would remove trailing slash.

[2020-05-27 19:24] GrigoriyMikhalkin commented on #965
There's is default check if you create handler, but don't add any checks to it. But still, you need to create handler. By default controller doesn't have any health endpoints, i.e. no handlers is initialized.

Regarding second comment. Default endpoint i think it would be ok to add trailing slash to default endpoints and add wrapper for mux that would remove trailing slash.

[2020-05-28 05:11] lazybetrayer commented on #965
@GrigoriyMikhalkin How to create health check handler without any custom checks?

[2020-05-28 05:47] GrigoriyMikhalkin commented on #965
Ah, you can't do that for provided manager implementation. Beckause handler is created when you add check via `Add...Check` methods. But, i guess, that's not that big of a issue, to address it. If you only need `ping` check, you can just add it manually, like `m.Add...Check("ping", healthz.Ping)`.

[2020-05-29 15:31] champak opened #974 "Objectmeta of embedded object goes missing during CRD conversion"
Hi folks,
I ran into an odd issue with CRD conversion using controller-tools v0.2.4/kubebuilder 2.2.0/apiserver 17.1 This CRD has embedded native specs like the PodTemplateSpec in its spec. I found that in the conversion functions the ObjectMeta of the embedded PodTemplateSpec is nulled out. Other attributes look OK. There is nothing in the validation callback. I had needed to add preserveUnknownF

[2020-05-29 15:32] champak commented on #974
wrong repo. Sorry !

[2020-05-29 15:32] #974 closed

[2020-05-29 18:53] akutz commented on #768
FWIW, I have written several test frameworks/harnesses that execute unit tests with `fake.Client` and integration tests with `envtest`. The test function(s) are the same for each test type, but in unit tests the test function receives a fake client and in integration testing a real client via envtest.

I find `fake.Client` supports creating fail-fast test patterns that can be re-used for more reso

[2020-06-01 16:35] LeoLiuYan commented on #855
Maybe I can work for it?

[2020-06-01 16:36] LeoLiuYan commented on #855
/assign

[2020-06-01 16:36] LeoLiuYan commented on #855
/assign

[2020-06-01 19:28] GrigoriyMikhalkin commented on #855
@LeoLiuYan There's already PR: https://github.com/kubernetes-sigs/controller-runtime/pull/856

[2020-06-01 23:14] DirectXMan12 commented on #722
/remove-lifecycle stale

[2020-06-01 23:14] DirectXMan12 commented on #702
/remove-lifecycle stale

[2020-06-01 23:15] #726 closed

[2020-06-01 23:15] #258 closed

[2020-06-01 23:24] DirectXMan12 commented on #868
go ahead :-)

[2020-06-02 02:13] LeoLiuYan commented on #826
@vincepri  Maybe I can work for it?

[2020-06-02 02:14] LeoLiuYan commented on #866
@vincepri  Maybe I can work for it?

[2020-06-02 04:52] xrmzju opened #977 "propsoal: support sharedinformer cache reader"
the cache reader  contains structured and unstructured  InformersMap, assuming this case:
1.  client.Get(ctx, key, obj), obj is structured
2. client.Get(ctx, key, unstructuredObj), unstructuredObj contains the same gvk with obj in case 1.

then the InformersMap will start two informers separately  in structured and unstructured  InformersMap, which is reductant and would cause memory usage problem

[2020-06-02 04:55] xrmzju commented on #977
@DirectXMan12  what do you think? i've done a internal version of this, if you like, i would like to share it to the community

[2020-06-02 05:17] xrmzju opened #978 "add indexersByGVK to specificInformersMap"
assuming this case, a client uses cacheReader as it's reader, client is used as following:
1. c.Get(ctx, key, resourceA)
2. c.List(ctx,resourceBList, client.MatchingFields{xxxx})

usage 1 is a func would be called in every reconcile loop. usage 2 is  a rare usage, but it is heavy, so we do not want to send directly to the sever but use the cache.

in order to do list with field selector, i need to

[2020-06-02 05:18] xrmzju commented on #978
@DirectXMan12

[2020-06-02 10:32] JoelSpeed opened #979 "Support for TLS listener on metrics"
Currently, metrics can only bind to HTTP listeners and serve insecurely. It would be good to provide the option to get metrics over TLS as well.

I believe this should be relatively simple to do by using `tls.NewListener` to wrap the existing listener produced by the `metrics.NewListener`. This could be done in several locations:
- We could wrap it within `metrics.NewListener`, but that would mean

[2020-06-02 10:36] allenhaozi opened #980 "Client.Get CRD meta can not get TypeMeta"
use client Get My CRD struct , but can not get Kind and APIVersion
[code]
got:
[code]
hope:
[code]

[2020-06-02 11:19] LeoLiuYan commented on #826
/assign

[2020-06-02 14:11] vincepri commented on #866
Go for it, @LeoLiuYan

[2020-06-02 14:35] LeoLiuYan commented on #866
/assign

[2020-06-02 20:37] mcristina422 commented on #826
I think in the new v1 API EventSource is removed. https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/383-new-event-api-ga-graduation

Replaced with `ReportingController` and `ReportingInstance`.

[2020-06-03 23:11] DirectXMan12 commented on #978
I'm sorry, I'm not quite following what the problem is here -- if you don't start the given cache till you call "list", you'll end up with a large delay on your first list, and then the same behavior as if you'd called `IndexField` for the rest of the lifetime of the program.  How does this help?  What's the condition that you're hitting here that's causing issues?

[2020-06-03 23:14] DirectXMan12 commented on #977
`client.Get` against unstructured doesn't create an informer when using the manager's default client.

My other initial thought is that there are slightly different semantics between "fetch as structured, convert to unstructured" and "fetch as unstructured", since you'll lose fields in the former.

[2020-06-04 03:55] xrmzju commented on #977
the default client read directly from server, the `client` here i mean client use cache reader.

lose fields may be a problem between the conversion,  but i've not met it so far..

[2020-06-04 03:56] xrmzju commented on #977
the main thoughts is to save the memory

[2020-06-05 21:12] cflewis commented on #808
I care about this. I spent a couple days writing code to do this and then someone on my team said "maybe this is a Kubebuilder feature" which got me to here.

What do I need to do to make an exponential backoff during a reconcile happen?

[2020-06-05 21:56] vincepri commented on #808
@cflewis Today, you only need to return an error to make it go in exponential backoff loop.

[2020-06-05 22:04] cflewis commented on #808
Can you configure how high the back off will go?

On Fri, Jun 5, 2020 at 2:57 PM Vince Prignano <notifications@github.com>
wrote:

[2020-06-06 08:56] everpeace opened #983 "'envtest' should support test scenarios with Authn/Authz configurations (should expose secure endpoint info of kube-apiserver)"
## What is the problem

When we configured some authentication modules by `envtest.Environment.KubeAPIServerFlags` like below:

[code]

`envtest.Config` points to [the insecure endpoint of kube-apiserver](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L245-L251).  As [an official document](https://kubernetes.io/docs/reference/access-authn-authz/controlling-

[2020-06-07 13:48] dongwangdw commented on #343
I have the same issue.
I created the controller, with clientset code generated. Its kubernetes version is 1.13.1.

Now I have my operator,based on operator-sdk 0.15.1. I try to get/list the controller CRD from my controller. But I can not. The operator uses this api. The result is empty, both of them as below:
List:
[code]

Get:
[code]

But I can use the clientset of the controller get the right r

[2020-06-08 02:13] djzager commented on #808
You can configure the Rate Limiter on the Options to the Controller you create: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller.go#L40-L43

I noticed that the ratelimiter mentioned is internal to controller runtime but I believe it is intentionally identical to the one provided in client-go https://github.com/kubernetes-sigs/controller-runtime/blob/maste

[2020-06-08 18:17] arturobrzut commented on #244
My team is also interested in this feature. We have a controller that watches a small set of secrets. However, overall the cluster has many (also larger) secrets which
increases our pod requests/limits drastically, because they will all be cached. about 100MB per 1k secrets.
Is there any plan to fix/implement it in the near future?

[2020-06-08 21:30] cflewis commented on #808
This is exactly what I need, thank you. Now to just upgrade all my k8s deps

On Sun, Jun 7, 2020 at 7:13 PM David Zager <notifications@github.com> wrote:

[2020-06-09 20:20] vincepri commented on #961
/close

[2020-06-09 20:20] #961 closed

[2020-06-10 02:26] zhranklin opened #988 "The filtering behavior of List() and DeleteAllOf() are different when they are used with the "InNamespace" predicate."
Hi, I'm using operator-sdk. When I'm using the k8s client provided by controller-manager constructed by operator-sdk, I found the following surprising things:

I am accidentally trying to delete CRs under a certain namespace, which is a mistake because the CR was defined in cluster scope. The strange thing is that DeleteAllOf() removes all CRs in the cluster, but List() didn't return any result.

[2020-06-10 21:50] bharathi-tenneti opened #990 "zap loglevels incorrectly returns log level when used from command line."
/kind bug

In current implementation, zap log levels are not being set as expected, and are not in line with `logr` levels.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/flags.go#L90-L106

[2020-06-11 00:28] DirectXMan12 commented on #768
So I think at the moment, the consensus that we have (which probably needs to be written in the deprecation comment) is that we're gonna keep fake client around, but we want to overhaul it a bit to be a little less clunky in certain areas.

[2020-06-11 01:56] brindasanth opened #992 "GRPC server support in controller manager"
GRPC becomes common way to communicate between micro services. Do we have the support for GRPC server support option similar to web hook ?.

[2020-06-11 13:12] jaypipes opened #994 "cannot update to any recent controller-runtime release (gnostic dep problem)"
I wanted to use some new functions in `controller-runtime/pkg/controller/controllerutil` so I did a:

[code]

Unfortunately, this fails with the following:

[code]

I tried pretty much all releases for the last few months but all the same.

[2020-06-12 21:29] DirectXMan12 commented on #617
/remove-lifecycle stale

[2020-06-15 20:27] varshaprasad96 commented on #680
/assign

[2020-06-16 17:32] iamkirkbater commented on #72
@khuddlefish I'm digging into the same scenario you are, where I'm having a problem trying to mock specific errors (at the appropriate time) for our operator.  If there's been any progress on opening the implementation you used to be able to mock the fake I would really appreciate if you have the ability to share it.

[2020-06-16 21:01] DirectXMan12 opened #998 "Conversion webhook support in envtest"
When we landed webhook support in envtest, we appear to only have added support for mutating & validating webhooks.  We'll need to extend this to conversion webhooks as well.

[2020-06-16 21:01] DirectXMan12 commented on #998
/kind feature
/priority important-soon

[2020-06-18 15:52] vincepri commented on #871
/triage support

[2020-06-18 15:54] vincepri commented on #876
/area support
/priority awaiting-more-evidence

[2020-06-18 15:58] vincepri commented on #896
/triage support

[2020-06-18 15:59] vincepri commented on #992
I don't think this is necessarily in scope for controller runtime. The webhooks we support are Kubernetes ones (validation, mutating, conversion, etc.).

[2020-06-18 19:20] varshaprasad96 commented on #797
/assign

[2020-06-19 09:41] morvencao opened #1006 "MultiNamespacedCacheBuilder support namespace list with empty string"
When I build the the cache by the `MultiNamespacedCacheBuilder` with namespace slice of empty string, then I get error in operator logs:

[code]

Does it mean that the `MultiNamespacedCacheBuilder` doesn't support namespace list with empty string, we have to specify the namespace list other that empty string.

I thought empty string would mean that the cache will sync all namespaces.

/kind bug

[2020-06-19 09:47] JoelSpeed opened #1007 "Manager should expose http.Handlers to allow extension by users"
Based on a conversation we had on the community call on the 18th June 2020:

There are several `http.Handler`s set up by the manager that are currently only accessible if served by the manager (metrics and webhooks). If the manager exposed these handlers once constructed this would allow extension by authors to customise how these endpoints are served.

For example, an author could use their own s

[2020-06-19 14:03] iamkirkbater commented on #72
Sorry for pinging everyone again, but I wanted to update how we ended up accomplishing this for anyone who comes here in the future.

https://www.bater.io/posts/2020/06/throwing-errors-with-controller-runtime-fake/

[2020-06-21 15:26] cscetbon commented on #980
@allenhaozi do you get empty annotations on your object cause it is what I see in `ObjectMeta`. I wonder if my issue relates to yours

[2020-06-22 08:48] camilamacedo86 commented on #907
Hi @DirectXMan12,

It shows related to https://github.com/kubernetes-sigs/kubebuilder/issues/686#issuecomment-647376924.

[2020-06-22 09:35] cuisongliu opened #1013 "event predicates logic optimization"
https://github.com/kubernetes-sigs/controller-runtime/blob/4836ec28374c2692ba8e1a21a8840b9becddcd64/pkg/source/internal/eventsource.go#L117

this code design is  “and” logic。  but I think  "or" logic is better?

[code]

- all false result  is false;
- has one true result is true

[2020-06-22 09:41] cuisongliu commented on #1013
/assign

[2020-06-22 09:42] cuisongliu commented on #1013
/kind/kind feature

[2020-06-22 10:26] tim-ebert commented on #172
/remove-lifecycle stale
Any updates on this?
If there is a plan for how this should be implemented or we can agree on a design, I might be able to help with the implementation :)

[2020-06-22 14:30] vincepri commented on #728
Closing due to inactivity, feel free to reopen if necessary.

/close

[2020-06-22 14:30] #728 closed

[2020-06-22 14:30] vincepri commented on #654
@seh Were you able to get more information from k/k?

[2020-06-22 14:31] vincepri commented on #524
/lifecycle frozen

[2020-06-22 14:33] vincepri commented on #810
/lifecycle frozen

[2020-06-22 14:52] vincepri commented on #172
@tim-ebert We're waiting for a design proposal, see under `designs/` for a template and examples

[2020-06-22 23:05] seh commented on #654
No, sorry, I didn't find anything telling when I last looked into it.

[2020-06-22 23:22] estroz commented on #244
I think a prototype with docs/tests is a good way to kick off the discussion on choosing one solution over the other, and would give me/us a chance to understand limitations of a particular solution. This problem is hard to reason about without some code to back up a solution.

This is more or less what everyone seems to be saying about informer creation (from https://github.com/kubernetes-sigs/co

[2020-06-23 09:34] msiebuhr opened #1015 "Help with validating webhook example"
The example at <https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/example_test.go> does not seem to provide an actual, working webhook to go from:

<strike>First, running without an initialized manager (`var mgr ctrl.Manager`) causes the code to segfault on startup. The correct approach from the controller examples seem to be `mgr, err := ctrl.NewManager(ctrl.GetConfigO

[2020-06-23 10:39] msiebuhr commented on #1015
I stumbled across <github.com/kubernetes/klog> (a.k.a. <k8s.io/klog>) which is set up by importing `k8s.io/klog` along with `flag` and doing some setup:

[code]

Now, running the program with, say `-V=10` gives quite a lot output.

[2020-06-23 12:50] msiebuhr commented on #1015
I must've f*cked up somewhere. It turns out that using  `admissionregistration.k8s.io/v1beta1` (instead of ` admissionregistration.k8s.io/v1`) does indeed do the trick. So I must've done something else to throw it off - I intend to continue working backwards until I have a minimal diff somwehere :)

[2020-06-23 12:50] #1015 closed

[2020-06-23 15:14] dongwangdw opened #1017 "How can I get resource composed by controller like sample-controller?"
I am writing an operator, which uses this api. When I try to get resource of an controller, the return value is always empty. The controller is as the form of sample-controller.

Is there anything I missed or should I compose a clientset of the controller to get the resource? Please advise, thanks.

[2020-06-24 08:08] msiebuhr commented on #1015
While not a proper root-cause, I found out that re-starting Micro K8S (https://microk8s.io/) made the hook work again.

(I have yet to find out where Microk8s saves its controller/scheduler/... logs, so I can dig further.)

[2020-06-24 15:33] joelanford opened #1018 "Default webhook port (443) is problematic for operators running as non-root"
If left unset, the manager [defaults to running the webhook server on port 443](https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/webhook/server.go#L39-L40).

Since it is a security best practice to run pods as a non-root user, this default can cause unexpected problems for developers using controller-runtime directly (nonroot users typically c

[2020-06-24 18:55] ryanzhang-oss commented on #872
/help

[2020-06-24 21:44] #870 closed

[2020-06-26 20:43] alvaroaleman commented on #745
xref POC on how this could look like: https://github.com/kubernetes-sigs/controller-runtime/pull/950
/remove-lifecycle stale

[2020-06-29 13:21] joelanford commented on #879
/lifecycle frozen

[2020-06-29 19:00] DirectXMan12 opened #1019 "webhookinstalloptions should support individual files"
We should support specifying paths to individual files in webhookinstalloptions, like we do for CRDs.

/kind feature
/priority important-longterm

[2020-06-29 22:07] DirectXMan12 opened #1020 "webhook testing is racy when done the "straightforward" way"
The straightforward way to do webhook testing with envtest looks something like

[code]

The problem here is that you end up racing with manager sometimes to actually start the webhook server.  Occasionally, you'll get the test running before the server starts, leading to a flaky failures about the apiserver failing to contact the webhook (if `failurePolicy: Fail`), or just silently not throwing a

[2020-06-29 22:09] DirectXMan12 commented on #1020
FWIW, I'd love if we could do this automatically, but people do different stuff in their tests WRT to when and how they run the manager.

[2020-06-29 22:09] DirectXMan12 commented on #1020
but we should definitely doc in the KB book as well

[2020-06-29 22:11] DirectXMan12 commented on #1020
/good-first-issue

I think there's a clear enough solution to make this a decent first issue, but it's on the more complicated end of things, so feel free to ping me or one of the other reviewers if you're unclear.

[2020-06-29 22:15] DirectXMan12 commented on #1020
testing-wise, we can probably just have a test that sleeps in a goroutine that starts the manager, to simulate the raciness, or (slightly more robust), have a hook in the manager that deliberately induces raciness with sleeps when starting runnables (which might be good all around).

[2020-06-29 22:23] Danil-Grigorev opened #1021 "ControllerManagedBy builder unconditionally overrides options.Reconciler value"
/kind bug

https://github.com/kubernetes-sigs/controller-runtime/blob/7e2196f8357ca2ddbf0ab94318e1dedbeff1d303/pkg/builder/controller.go#L248

is always overriding `options.Reconciler` value, explicitly set in https://github.com/kubernetes-sigs/controller-runtime/blob/7e2196f8357ca2ddbf0ab94318e1dedbeff1d303/pkg/builder/controller.go#L142-L146

This complicates exclusive unit testing for `SetupWit

[2020-06-30 15:11] bharathi-tenneti opened #1023 "Provide Custom resource metrics as default."
/kind feature
Description: Currently, `operator-sdk` provides default custom resource info [metrics](https://github.com/operator-framework/operator-sdk-samples/blob/master/go/memcached-operator/cmd/manager/main.go#L145), as part of its scaffold. We are looking for options to re-design more generic approach, one that may be achieved from controller-runtime itself. Please see [here](https://github.c

[2020-07-01 04:51] adrienjt commented on #745
JFYI: I forked controller-runtime back in November 2018 and built this: https://github.com/admiraltyio/multicluster-controller

Merging it back would be a breaking change to controller-runtime's API though.

The folks at Orange use admiraltyio/multicluster-controller for their multi-cluster Cassandra operator: https://github.com/Orange-OpenSource/casskop/blob/master/multi-casskop/Readme.md

I use

[2020-07-01 19:46] DirectXMan12 commented on #880
/kind feature
/priority important-longterm

[2020-07-02 07:46] Ntr0 opened #1025 "Support for k8s.io/api/admission/v1"
As the admission api version v1beta1 is deprecated since k8s 1.16 it would be good to switch to v1 before the upcoming release of k8s 1.19 where the admission api v1beta1 won't be available.

[2020-07-02 08:23] #1025 closed

[2020-07-02 17:52] vincepri opened #1026 "Change default branch to "main""
Once the community agrees on the naming, we need to change our default development branch to `main`, and check that any tools or references to it are changed as well.

This includes the container image tag used in development.

/kind cleanup
/wg naming
/milestone Next

[2020-07-02 17:54] vincepri opened #1027 "Remove "whitelist" word from our codebase"
- https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/envtest/crd.go#L339-L343
- https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/envtest/webhook.go#L361

/wg naming
/milestone Next

[2020-07-02 17:55] vincepri opened #1028 "Remove "master" word from our codebase"
- https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/client/config/config.go#L43
- https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/manager/manager.go#L147
- https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/pkg/manager/internal.go#L158

/mil

[2020-07-02 19:44] AnshulPatni opened #1029 "Go Module: cannot find package "gomodules.xyz/jsonpatch/v2""
While trying to create a new operator using operator-sdk, I'm running into an error as:

`../../sigs.k8s.io/controller-runtime/pkg/webhook/alias.go:20:2: cannot find package "gomodules.xyz/jsonpatch/v2" in any of:
	/usr/local/Cellar/go/1.14.4/libexec/src/gomodules.xyz/jsonpatch/v2 (from $GOROOT)
	/Users/<uname>/go/src/gomodules.xyz/jsonpatch/v2 (from $GOPATH)`

[2020-07-05 20:20] #1029 closed

[2020-07-05 20:21] AnshulPatni commented on #1029
Had multiple versions of go installed and that's why had some conflicts. The issue got resolved after uninstalling the older version of go.

[2020-07-05 20:52] vincepri commented on #849
/lifecycle frozen

[2020-07-05 21:28] eddycharly opened #1030 "Question about scheme comment in CRD example"
What does the comment below means ?
What should the correct implementation look like ?

https://github.com/kubernetes-sigs/controller-runtime/blob/add0b6444f5091f56824b070d28f930090d8deab/examples/crd/main.go#L114-L115

Thanks.

[2020-07-07 11:19] kishoregv opened #1032 "When an custom resource is created with invalid values controller is not reconciling anymore it is stuck on fail to list custom resource"
When one of the custom resource, has an invalid value, the controller is stuck with following error lines. In my case, I have a CRD with ResourceQuota as an attribute.
[code]

An example custom resource with invalid values is
[code]

The issue here is the controller is completely stuck without being able to reconcile any custom resource even if one custom resource is created with invalid values.

[2020-07-07 13:34] milos-matijasevic opened #1033 "Unable to get log"
When I import "sigs.k8s.io/controller-runtime/pkg/log" I get this error
[code]
I assume here was the same problem https://github.com/kubernetes/klog/issues/163, due to logr refactoring and removing InfoLogger https://github.com/go-logr/logr/pull/16

[2020-07-07 13:56] RafalSkolasinski commented on #1033
We were just hit by the same when trying to update our dependencies.

[2020-07-07 14:04] milos-matijasevic commented on #1033
Should i make pull request changing InfoLogger to Logger, or you will deal with it?

[2020-07-07 14:23] RafalSkolasinski commented on #1033
@milos-matijasevic I am not maintainer of this package but I guess they will be happy if you submit a PR :-)

[2020-07-07 14:44] milos-matijasevic commented on #1033
@RafalSkolasinski Actually there is already pull request for fixing this https://github.com/kubernetes-sigs/controller-runtime/pull/1011

[2020-07-08 01:44] billcchung opened #1034 "Unable to use apiextensions.k8s.io/v1 as CRD version for envtest"
Hi I'm hitting an issue when trying to update our CRD version to `apiextensions.k8s.io/v1`

I'm using controller-gen 0.3.0, and added `crd:crdVersions=v1 ` as CRD generation option, it successfully generated as
[code]

however envtest seems only initialized `v1beta1`, I kept getting the following error from `suite_test.go`:
[code]

pkg versions:
[code]

I see envtest has https://github.com/kuberne

[2020-07-08 11:06] camilamacedo86 commented on #1023
IMO it should be a design proposal. E.g https://github.com/kubernetes-sigs/controller-runtime/blob/master/designs/component-config.md

[2020-07-08 18:42] bharathi-tenneti opened #1035 "Add option to disable stack traces for zap logs `--zap-stacktrace-level`"
Description:
Allow users to disable stacktraces , using `--zap-stacktrace-level`, when running the operator.

[2020-07-09 00:20] alvaroaleman commented on #1032
You can specify validation on the CRD to prevent this from happening. Once it happened, its not possible for the controller to recover by itself (except maybe if you build another controller that gets the resources as `unstructured.Unstructred` and deletes them if they can not be deserialized into the go type).

[2020-07-09 07:57] philbrookes opened #1036 "Detail standardised fields that can be used in the status block to indicate status uniformly"
### Problem Statement
When provisioning a product via it’s operator, the most common flow is:
- Install the operator
- Create a CR
- Wait for the product to be ready

Currently, the final step is performed in a unique way for each operator, this could be as low-tech as checking if an end-point is responding correctly, or as automated as watching the status of the CR for something like “Status: Rea

[2020-07-09 08:40] matskiv commented on #1036
IMHO, having a set of recommended fields would be nice for UI/TUI k8s projects as well.
Values of the recommended fields could be shown in a more user friendly way.

[2020-07-09 13:52] tanjunchen commented on #1027
/assign

[2020-07-09 14:19] tanjunchen commented on #1027
/close

[2020-07-09 14:19] #1027 closed

[2020-07-09 23:19] raffaelespazzoli opened #1040 "unable to list/watch APIService"
## Bug Report

I am getting teh following error when creating a controller that watches on `apiregistration.APIService`:

[code]

unfortunately, no more logs are emitted.

I have several APIService available in my cluster:
[code]

several of them are local and part of the control plane I resume, but I also have some that are not local.
Is there soethig special about the APIService object that prev

[2020-07-10 08:17] shiyan2016 commented on #741
Having the same problem, update crd status with some data, with the reconcile generated by update crd status, get the crd , crd's status sometimes get the old status. @DirectXMan12

[2020-07-10 11:24] adriangonz commented on #1033
An alternative could be to add back `InfoLogger` into `go-logr/logr@v0.2.1`, which this PR is already trying to do: https://github.com/go-logr/logr/pull/20

Once that PR is merged (if it gets merged) we could safely update the dependency on `go-logr/logr` to `0.2.1`. Since this wouldn't be a breaking change anymore, could that be included in the next non-breaking release? When is the next non-brea

[2020-07-10 16:37] camilamacedo86 commented on #244
I really liked the idea made in the comment https://github.com/kubernetes-sigs/controller-runtime/issues/244#issuecomment-572978846 +1.

[code]

[2020-07-11 08:47] prometherion opened #1044 ":bug: Cannot watch for corev1.LimitRange resources"
I'm using Controller Runtime (v0.6.0) scaffolded by Operator SDK (v0.18.1) and I'm not able to get notified once owner referenced `LimitRange` resources are modified.

## More context

[code]

[code]

Once running up the Operator/Controller, I got the `LimitRange` correctly created/updated.

[code]

But, after editing it via `kubectl`, I don't get informed about the change, so unable to ensure the

[2020-07-11 12:08] prometherion commented on #1044
Closing since there's a typo in the source code, so not a bug: using `controllerutil.SetOwnerReference` instead of `controllerutil.SetControllerReference`

[2020-07-11 12:08] #1044 closed

[2020-07-14 10:32] luxas commented on #798
This is really tricky as there is no way to terminate a goroutine which executes indefinitely.
I otherwise like the code that @ekuefler pasted above and hope we could do something in that spirit.

Adding contexts to Reconcile would allow us to signal to the goroutine that it should stop doing things (and then we'd wait a bit longer for it to "cleanup & return" before timing out), but it doesn't gu

[2020-07-14 10:47] luxas commented on #801
@vincepri any update on this? How did the community meeting discussion go?

I think this could actually be a fair and straightforward alternative. It's easy for the user to see that "here's my pre-defined logger, which I can use if I want to". The decision I think depends on if we know of anything else we'd like to provide the controllers.
Three arguments is managable (especially as ctx as the fir

[2020-07-14 14:32] devigned commented on #798
This would help a little, but I'd imagine many reconcilers are going to make calls to external systems which would not use an enlightened client. Eventually, a user will end up in the same situation where they have unbounded execution.

IMO, the controller author must have a context available to them at the root of execution.

I would go a step further than just having a context on reconcilers, bu

[2020-07-14 14:46] luxas commented on #798
Yes

Also see https://github.com/kubernetes-sigs/controller-runtime/issues/801#issuecomment-658110635, in particular:

[2020-07-14 16:14] vincepri commented on #801
There was some consensus on getting this implemented with a simple breaking change to the current API, given that's a breaking change we'd have to wait for the next release. Happy to contribute it (I'll probably be available for this ~2 week), or review it if someone wants to tackle it.

[2020-07-15 00:48] DirectXMan12 opened #1046 "High-level validating webhooks ignore the apierrors status info"
It's a bit confusing that if you return something like `apierrors.NewInvalid` from the high-level Validator interface, we ignore the error code in that `StatusError` and always use 403.  It'll be a breaking change, but we should probably have some mechanism for using the error code that the user requests in the high-level interface.  We'll also want to make sure that the apiserver continues to tre

[2020-07-15 15:51] luxas commented on #801
So, in other words, the first option with just adding context and logger to the signature?

that is, v0.6.0 or v0.7.0?

[2020-07-15 16:25] vincepri commented on #801
Yeah, either that or a single struct that has multiple fields (like Log) and implements `context.Context` interface, that's something we should think about it a little more.

It'd be for v0.7, given that v0.6 has already been released

[2020-07-15 19:42] jpatel-pivotal opened #1048 "Proposal: a way to inject errors into fake Client for testing"
It would be extremely helpful if the fake Client in controller-runtime had a way to inject errors that get returned to help with testing a controller's reconcile logic.

Consider the following psuedo-code below for example:

[code]

Currently there is no easy way to unit test the handled vs. unhandled error case shown above with the fake Client. I propose that the fake Client could have a field li

[2020-07-15 22:30] berlin-ab commented on #1048
1. I don't think the fake client is the appropriate place to introduce a stubbed error. The fake client, as I understand it, is meant to be a somewhat realistic stand-in for a real-world environment.

2. I've been wishing for another type of test double to stand in for the controller runtime `client.Client`. I'd like that test double to be less knowledgeable than the fake client. This new client s

[2020-07-16 05:35] Miss-you opened #1049 "[Question]What is the difference between the For(), Own() and Watch() in `controller-runtime/builder`?"
Hi, I'm new to Kubernetes and kubebuilder and these days I'm implementing the APISIX Operator based on the kubebuilder framework.

I went through the interface documentation and the kubebuilder-book and learned that if I want to configure listening to Ingress objects, then I need to do it in the `SetupWithManager` method, e.g. the following code is the default using the For method to listen to `Ap

[2020-07-16 07:26] jonas27 opened #1050 "Correct typo in envtest.Environment struct"
Currently the documentation reads:
[code]

CRDInstallOptions should be changed into WebhookInstallOptions.

[2020-07-16 08:19] cshivashankar commented on #900
How to overcome this? I think it would be good to have something work for the first-time implementation or maybe a bit more information in Readme will definitely help.
As a workaround should i generate certs validated by API server and create a separate service for this or can it be done through the code itself to generate the cert?

[2020-07-16 16:37] alvaroaleman opened #1052 "Make writing predicates easy"
Right now, writing predicates involves creating four functions to either directly implement `./pkg/predicate.Predicate` or `./pkg/predicate.Funcs`. This should be easier, it should be possible to define just one predicate function that is then re-used for all kind of event types. Something like this: https://github.com/kubermatic/kubermatic/blob/8243232500ae34839b1e7f6f821e876baf080835/pkg/control

[2020-07-16 20:15] bharathi-tenneti commented on #1023
As per the community discussion, will follow adding wrapper on existing handler from controller-runtime, in our own project.
Closing this issue for now.

[2020-07-16 20:15] #1023 closed

[2020-07-16 20:15] bharathi-tenneti commented on #1023
Closing.

[2020-07-17 12:45] dyson commented on #904
I believe the issue here is that the k8sManager never receives on the channel from ctrl.SetupSignalHandler() to shutdown and like you mention the server and etcd are shutdown from underneath it. The manager needs to be shutdown cleanly first.

My quick fix for the moment is:
[code]

[2020-07-19 16:58] akutz opened #1056 "Why is a Logger not injected by the Controller Manager?"
Hi there,

Along with the other injector-style interfaces, there is `InjectLogger`, https://github.com/kubernetes-sigs/controller-runtime/blob/57ed2a3ccc943a6a3a07300771326a7e930a9671/pkg/runtime/inject/inject.go#L149-L153

However, the only place this seems to be used is [with respect to webhooks](https://github.com/kubernetes-sigs/controller-runtime/search?q=InjectLogger&unscoped_q=InjectLogger)

[2020-07-20 01:26] vincepri commented on #857
/lifecycle frozen

[2020-07-20 03:54] YangKeao commented on #845
@mrparkers Are you working on this issue? If not, I will submit a PR to fix this :beers: .

[2020-07-20 12:53] alvaroaleman commented on #1056
Looks like an oversight

[2020-07-20 15:12] mrparkers commented on #845
@YangKeao this isn't something I'm worried about anymore since AWS EKS supports 1.15+ where this issue is not present.  Feel free to take this on if you'd like :+1:

[2020-07-20 16:36] luxas commented on #801
I could take a stab at a PoC PR of this if nobody else can.

[2020-07-20 16:40] alvaroaleman commented on #801
@luxas vince already did: https://github.com/kubernetes-sigs/controller-runtime/pull/1054

[2020-07-20 16:44] luxas commented on #801
Ah cool :+1:

[2020-07-20 17:59] #686 closed

[2020-07-20 18:59] #610 closed

[2020-07-21 14:56] merlante commented on #1036
It's hard to believe that there is no standard way to get the version of the service that is running or whether the service is ready for consumption. I think we need this.

[2020-07-21 16:01] #764 closed

[2020-07-21 16:49] #1021 closed

[2020-07-22 09:57] dza89 opened #1060 "Kubebuilder: endless reconcile for empty endpoints"
Running on EKS: 1.16

When I run a 'empty' kubebuilder which watches endpoints I get the following logs:

[code]

It keeps reconciling these two endpoints. These endpoints look like this:

[code]

[code]

Why is it endlessly reconciling those two endpoints?

[2020-07-22 12:43] alvaroaleman commented on #1060
@dza89 because they are used for leader election, which means that the `control-plane.alpha.kubernetes.io/leader annotation gets updated regularly which triggers a reconciliation

[2020-07-22 14:19] dza89 commented on #1060
@alvaroaleman

Thanks, nice. So i should be there if I ignore the metadata of the endpoints.

[2020-07-22 19:05] bharathi-tenneti commented on #912
The linked PR is being worked on to include Encoder Options filed instead of specific `--zap-time-encoder` flag, as added in the earlier stages of PR.

[2020-07-22 22:07] vincepri commented on #1060
/priority awaiting-more-evidence
/milestone Next

[2020-07-22 22:08] vincepri commented on #1056
/milestone v0.6.x
/kind bug

Can/Should also be backported.

[2020-07-22 22:08] vincepri commented on #1056
/help

[2020-07-22 22:08] vincepri commented on #1052
/milestone v0.7.x

[2020-07-22 22:09] vincepri commented on #1050
/help
/good-first-issue
/milestone v0.7.x

[2020-07-22 22:10] vincepri commented on #1046
/milestone v0.7.x

[2020-07-22 22:10] vincepri commented on #1036
/kind documentation
/milestone Next
/help

[2020-07-22 22:16] vincepri commented on #1048
/kind design
/milestone Next

[2020-07-22 22:18] vincepri commented on #1035
You should be able to register the flag in your controller, like we do for `klog`. I'm not sure if there is anything for controller-runtime to do in this case.

[2020-07-22 22:18] vincepri commented on #1035
/priority awaiting-more-evidence
/milestone Next

[2020-07-22 22:19] vincepri commented on #1033
This will be fixed in Kubernetes 1.19 release (v0.7.x) which is due ~1-2 months

[2020-07-22 22:20] vincepri commented on #1033
/milestone v0.7.x

[2020-07-22 22:21] vincepri commented on #1034
CRD v1 are part of apiextensions, not k8s.io/api. You can find them in `apiextensionsv1 "k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1"`. You should add the types into your Scheme though, like https://github.com/kubernetes-sigs/controller-runtime/blob/release-0.6/pkg/envtest/helper.go#L16

/priority awaiting-more-evidence
/milestone Next

[2020-07-22 22:24] vincepri commented on #1032
/triage support
/milestone Next
/priority awaiting-more-evidence

[2020-07-22 22:26] vincepri commented on #1030
/triage support
/milestone Next
/priority awaiting-more-evidence

Using Cluster API project as an example, you can create a new custom runtime.Scheme object https://github.com/kubernetes-sigs/cluster-api/blob/7d92339fffd475d39a3ffc168b00f90ad7ad1aba/main.go#L50, and then add all the type you'll be using at runtime like https://github.com/kubernetes-sigs/cluster-api/blob/7d92339fffd475d39a3ffc168b0

[2020-07-22 22:26] vincepri commented on #1020
/milestone Next

[2020-07-22 22:26] vincepri commented on #1019
/help
/milestone Next

[2020-07-22 22:28] vincepri commented on #1018
+1, we should change the port to 9443 or similar, let's do this in the next milestone. Anyone tackling this issue, you should title your PR as ⚠️, given that's a breaking change and it'll probably need release notes.

/milestone v0.7.x
/priority important-soon
/kind cleanup
/help
/good-first-issue

[2020-07-22 22:28] vincepri commented on #1017
/triage support
/milestone Next
/priority awaiting-more-evidence

Do you have code sample we can look somewhere?

[2020-07-22 22:30] vincepri commented on #1013
Can we rely on the `Or` functionality that we now have in #1043

/milestone Next
/priority awaiting-more-evidence

[2020-07-22 22:30] vincepri commented on #1007
/milestone Next
/help
/kind design
/priority important-longterm

[2020-07-22 22:31] vincepri commented on #1006
/triage support

[2020-07-22 22:31] vincepri commented on #998
It'd be great to have this feature as part of the 0.7 release

/milestone v0.7.x

[2020-07-22 22:33] vincepri commented on #994
@jaypipes Have you solved this issue? You should be able to update by matching the upstream dependencies versions with https://github.com/kubernetes-sigs/controller-runtime/blob/master/go.mod#L28-L31

[2020-07-22 22:33] vincepri commented on #994
/milestone Next
/triage support
/priority awaiting-more-evidence

[2020-07-22 22:33] vincepri commented on #992
/close

[2020-07-22 22:33] #992 closed

[2020-07-22 22:34] vincepri commented on #992
/kind feature
/milestone Next
/triage support

[2020-07-22 22:35] vincepri commented on #990
/milestone v0.6.x

[2020-07-22 22:36] vincepri commented on #988
To clarify, you've called `DeleteAllOf` with a `InNamespace` predicate on a global custom resource?

[2020-07-22 22:37] vincepri commented on #988
/priority awaiting-more-evidence
/milestone Next

[2020-07-22 22:37] vincepri commented on #983
/milestone v0.6.x

[2020-07-22 22:40] vincepri commented on #887
You'll have to wait inside the each reconciler for the other associated resource and return a requeueAfter, or an error.

/area support
/milestone Next

[2020-07-22 22:40] vincepri commented on #880
/milestone Next

[2020-07-22 22:41] vincepri commented on #895
/lifecycle frozen
/milestone v0.7.x

@christopherhein Let me know if this should fall into 0.7, or we can wait for later as well

[2020-07-22 22:41] vincepri commented on #895
/priority important-longterm

[2020-07-22 22:42] vincepri commented on #914
/lifecycle frozen

[2020-07-22 22:42] vincepri commented on #914
/milestone Next

[2020-07-22 22:43] christopherhein commented on #895
What is the v0.7 timeframe?

I'm working on updating the PR this week and will likely have something Friday or early next week…

[2020-07-22 22:45] vincepri commented on #895
1-2 months, probably, it all depends when 1.19 is release and when the current planned breaking changes will merge

[2020-07-22 22:46] vincepri commented on #942
/kind bug
/milestone v0.7.x
/priority important-soon
/help

[2020-07-22 22:46] christopherhein commented on #895
Perfect, let's aim for that milestone since as we've discussed this will also have breaking changes. Thanks!

[2020-07-22 22:48] vincepri commented on #933
This would be a great addition to controller-runtime

/milestone v0.7.x
/priority important-longterm

[2020-07-22 22:48] vincepri commented on #933
/help

[2020-07-22 22:49] vincepri commented on #945
/milestone v0.7.x

[2020-07-22 22:50] vincepri commented on #943
Thanks @ifilonenko, I'll close out this issue then!

/close

[2020-07-22 22:50] #943 closed

[2020-07-22 22:50] vincepri commented on #979
/priority important-longterm
/milestone v0.6.x

[2020-07-22 22:54] vincepri commented on #887
/triage support

[2020-07-22 23:59] chardch opened #1064 "[Question] What's the difference between patching vs updating an object's status?"
This is a general question. I was running into resourceVersion issues during status updates, similar to this: https://github.com/kubernetes/kubernetes/issues/8625.

I saw patch was mentioned elsewhere as something to get around running into mismatched resourceVersions. However, what's the difference between patching vs updating in regards to the status? Is one suggested over the other (I don't see

[2020-07-23 01:56] coderanger commented on #1064
Hi there, this issue tracker is for things like bug reports. If you're looking for user support you can email the mailing list, or ask in either the #kubebuilder or #kubernetes-operators channels on Slack.

[2020-07-23 03:06] chardch commented on #1064
ok, will ask in the channel

[2020-07-23 03:06] #1064 closed

[2020-07-23 07:11] #1060 closed

[2020-07-23 08:37] jiachengxu commented on #1050
/assign

[2020-07-23 09:57] jiachengxu commented on #1052
/assign

[2020-07-23 13:53] jaypipes commented on #994
@vincepri haven't taken a look at it since June. Will try again shortly. Thanks for checking in!

[2020-07-23 14:11] vincepri commented on #1050
/milestone v0.6.x

[2020-07-23 14:15] #1052 closed

[2020-07-23 14:40] dongwangdw commented on #1017
https://github.com/IBM/ibm-monitoring-grafana-operator/blob/1.9.2-beta/pkg/controller/grafana/grafana_reconcile.go#L209

The code is here.

The dashboard is our controller which is not public, but as the same structure with sample-controller.
Here when I try to get the resource, but the returned value is empty, I mean when the resource exists.
The return value is supposed to be the dashboard resou

[2020-07-23 14:41] #990 closed

[2020-07-23 14:46] vincepri commented on #1017
Does the `Get` call return an error, or is that also empty?

[2020-07-23 14:46] vincepri commented on #1017
I'd expect if `Get` returns a NotFound or any other error that the code afterwards fails trying to create it

[2020-07-23 15:24] vincepri commented on #1040
Which package from apiregistration are you importing? It seems it's an internal one, instead of a fixed version.

/milestone Next
/priority awaiting-more-evidence

[2020-07-23 15:24] vincepri commented on #1040
/triage support

[2020-07-23 15:24] vincepri commented on #1006
/priority awaiting-more-evidence

I'm not sure we have enough to debug here, if someone else is familiar with this use case, or if we can look at the code and your expected results, that might help.

[2020-07-23 15:25] vincepri commented on #1006
/milestone Next

[2020-07-23 15:25] vincepri commented on #980
Have you registered the type in the Client's Scheme?

/milestone Next
/priority awaiting-more-evidence
/triage support

[2020-07-23 15:27] vincepri commented on #965
/milestone Next
/help

This needs some investigation, I'm not too familiar with this part of the codebase.

[2020-07-23 15:28] vincepri commented on #964
/milestone Next
/triage support

Closing given that the answer from @dmvolod is correct, feel free to reopen if necessary.
/close

[2020-07-23 15:28] #964 closed

[2020-07-23 15:29] vincepri commented on #952
@davesargrad Are you able to update to at least 0.5.x before we investigate this issue?

/milestone Next
/priority awaiting-more-evidence

[2020-07-23 15:31] raffaelespazzoli commented on #1040
I'm importing this one:
`"k8s.io/kube-aggregator/pkg/apis/apiregistration"`

[2020-07-23 15:32] vincepri commented on #977
/kind design
/milestone Next

[2020-07-23 15:34] vincepri commented on #932
`EnqueueRequestForOwner` should work correctly if you have IsController set to true or false. Did you have the `ownerReference` setup before making a change?

[2020-07-23 15:34] vincepri commented on #932
/milestone Next
/priority awaiting-more-evidence

[2020-07-23 15:35] vincepri commented on #907
Is this still not working? I tried today to run the tests and they were successful.

/priority awaiting-more-evidence
/milestone Next

[2020-07-23 15:37] alvaroaleman opened #1071 "Data race in envtest"
There seems to be a data race in envtest: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_controller-runtime/1070/pull-controller-runtime-test-master/1286319024627519488#1:build-log.txt%3A483

/kind bug

[2020-07-23 15:37] vincepri commented on #1040
Try importing `k8s.io/kube-aggregator/pkg/apis/apiregistration/v1` instead, also make sure to register the types in your main.go using `v1.AddToScheme()`

[2020-07-23 15:38] vincepri commented on #1071
/milestone v0.6.x
/help
/priority important-soon

[2020-07-23 16:11] #1050 closed

[2020-07-23 23:05] jpatel-pivotal commented on #1048
@berlin-ab I think what you are looking for is a thing that would allow you to spy on actions performed on different objects. So for e.g. if there was a struct with fields below:

[code]

Then you could unit test if your reconciler called `Get|Create|Patch` (some action) N times with some options on objects with property a,b in state z.

[2020-07-24 00:29] cuisongliu commented on #1013
yes, I want this  logic. thank.

[2020-07-24 00:29] #1013 closed

[2020-07-24 01:26] dongwangdw commented on #1017
when the resource exists, I got a empty with `Get`.
Then we try to create it, error will be raised.

I expect the `Get` can return the existing resource. Does that make sense ?

[2020-07-24 06:23] ash2k commented on #210
It seems Kubernetes is removing global metrics, if I'm reading the KEP correctly https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/20191028-metrics-stability-to-beta.md - first goal:

As a user of any library that has global state, I can say that I always wish it didn't have it.

While having global "things" makes it "easy" to start using them (e.g. just import and re

[2020-07-24 11:09] jiachengxu commented on #1056
Would like to work on this :)
/assign

[2020-07-24 13:26] #1056 closed

[2020-07-24 16:19] alvaroaleman opened #1073 "Namespace enforcing wrapper for client.Client"
Currently when using the `client.Client`, all functions that `Get/Create/List/DeleteCollection` need to know the namespace when interacting with namespaced objects. It would be useful to have a wrapper for the `client.Client` that always sets the namespace so it doesn't need to be passed around everywhere.

Should probably be constructed like this:

[code]

/kind feature
/help

[2020-07-24 23:36] #684 closed

[2020-07-25 01:10] raffaelespazzoli commented on #1040
it worked, thank you very much.

[2020-07-25 01:10] #1040 closed

[2020-07-26 15:36] helios741 opened #1074 "can't get StorageClass object by Get"
I want to get a storageclass object from the cluster, use the following code：
[code]

But I can get it with the following code:
[code]
I want to find someone who implemented [reader.get](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/interfaces.go#L56) to find this problem. Can you tell me?I hope to find the problem and fix it.

[2020-07-27 12:51] jiachengxu commented on #1049
Hi,
If you check the code of For, Owns, and Watch here: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/controller.go#L72-L123
`Watch` is the low-level ControllerManagedBy Watches functions through the builder. `Owns` and `For` can be replaced by `Watch` with some enqueue handlers. (Also mentioned in the above link).
For use cases, controller-runtime contains an examp

[2020-07-27 13:34] jiachengxu commented on #1018
/assign

[2020-07-27 14:36] berlin-ab commented on #1048
You're right. I want what you're looking for - an ability to stub responses from a client (errors, in your case), but also the ability to observe the interactions with the client. That request should probably be a separate proposal. I would prefer that the fake client *not* do those things, but instead a *new client* be written that can stub and spy calls to the client.

[2020-07-27 14:38] lrgar commented on #942
I can take this one then.

[2020-07-27 14:41] vincepri commented on #1048
It'd be nice to see a full proposal that goes into some amount of review before proceeding with any code changes

[2020-07-27 23:39] varshaprasad96 commented on #1073
/assign

[2020-07-28 00:13] alvaroaleman commented on #1074
@helios741 can you paste the error you are getting with the code in the first example?

[2020-07-28 01:10] vladdy commented on #1071
/assign

[2020-07-28 01:13] raffaelespazzoli opened #1078 "unable to update resource when using generic channel"
I am getting in a situation in which multiple events from normal watches on kinds and also a watch on an event channel form a race condition that generates an error when updating a resource.

So a reconcile cycle is triggered on a resource, and the resource is updated, this changes the `resourceVersion` of it in etcd, but not in the local cache. Immediately after another reconcile cycle is trigger

[2020-07-28 03:37] lovebaby979 opened #1079 "client delete job,but pod not delete"
delete job created by ctx, but pod created by job was not deleted.
delete job code:
        getJob := &batchv1.Job{}
	myErr := r.Get(ctx, types.NamespacedName{Namespace: "csf", Name: jobName}, getJob)
	if myErr != nil && !api_errors.IsNotFound(myErr) {
		r.Log.WithValues("Reconcile CsfTemplate get job fail!")
		return false, myErr
	} else if api_errors.IsNotFound(myErr) {
		return  true, nil
	}
	e

[2020-07-28 03:45] coderanger commented on #1079
This is unfortunately a limitation of Kubernetes. The Job object does not own the resulting pod. Kubectl does a secndary clean up for you during `kubectl delete job`.

[2020-07-28 04:52] #612 closed

[2020-07-28 07:59] jiachengxu commented on #1019
/assign

[2020-07-28 08:38] jiachengxu opened #1081 "Envtest: filtering duplicated webhook configurations by GVK and Name"
Currently, in envtest, we don't filter duplicated webhook configurations, we should do something similar as CRD: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/crd.go#L316-L324, filtering out duplicated configurations.

[2020-07-28 09:40] helios741 commented on #1074
@alvaroaleman will trigger panic as follows:
[code]

[2020-07-28 11:25] wlchn opened #1082 "How to watch events from now?"
I use `sigs.k8s.io/controller-runtime/pkg/cache` package to watch Namespace Add/Delete/Update events. But when I run this code, it will show me all old events(eg. below logs). How do I get events only from now(when run the code), instead of all events? And can I  pass a ResourceVersion to informer?
[code]
Code here:
[code]
And logs include old events:
[code]

[2020-07-28 13:58] alvaroaleman commented on #1074
that error just means there is no storageclass with the given name. The underlying issue could be that your controller does not have permissions to watch storageclasses, using unstructured directly goes to the api, using proper types uses the cache. But this is speculation without seeing the whole code.

[2020-07-28 16:09] ivanvtimofeev opened #1083 "The wat to sync two Reconciling"
I have a few events that call Reconciler func, but, I want to run the command only one time, doesn't matter how many reconsilers have been started.
For sync reconcilers, I use a special boolean flag in Status map of  a resource (and no caching Read from the Status):
- if the flag is true - skip the command
- set  flag to true just before running the command

But, I am afraid it can be a race condi

[2020-07-29 07:12] cuisongliu commented on #1074
[code]

delete namespace name , try it again? I think the sc resource is not has namespace.

[2020-07-29 09:54] helios741 commented on #1074
@cuisongliu
Thanks, it's ok.
but I think if the scope is global, you can ignore this parameter, it's not panic.

[2020-07-29 14:45] cscetbon opened #1084 "Manual operations needed with fake client"
Trying to write unit tests for an operator I get issues when the operator's code expects the status of a StatefulSet to be updated. Instead the fake client does not update it and I get something like below in my StatefulSet status which unfortunately triggers a different branch of my code when it shouldn't.
[code]

Similarly, why do I have to also manage the pods underneath instead of the fake cli

[2020-07-29 16:38] yiqigao217 opened #1085 "Informer cache broke for all types when one CRD cannot convert"
It seems that the controller-runtime Informer cache broke for all types when any one type couldn't be converted.

We use a [reconciler](https://github.com/kubernetes-sigs/multi-tenancy/blob/hnc-v0.5/incubator/hnc/third_party/open-policy-agent/gatekeeper/pkg/webhook/certs.go#L479) to [watch for validatingwebhookconfiguration](https://github.com/kubernetes-sigs/multi-tenancy/blob/hnc-v0.5/incubator/

[2020-07-29 17:27] alexeldeib commented on #172
heads up for anyone deciding to tackle this, versioning gets weird with scale: https://github.com/kubernetes/client-go/blob/36233866f1c7c0ad3bdac1fc466cb5de3746cfa2/scale/client.go#L182-L201

[2020-07-29 21:20] vincepri opened #1086 "Support partial metadata informers / watches"
Client-go has support for a metadata-only client and informer which can be found https://github.com/kubernetes/client-go/tree/36233866f1c7c0ad3bdac1fc466cb5de3746cfa2/metadata. This can be useful when users don't want to cache particular objects, but metadata is usually enough to receive notifications.

/milestone Next
/kind design
/cc @ncdc

[2020-07-30 20:28] senorhesles commented on #1084
Sorry to piggback off of your issue @cscetbon, but looking at the docs [here](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/fake), it says:
[code]

Is this a mistake? I looked at the pkg/envtest, and...it doesn't seem relevant.

[2020-07-31 02:15] mindprince commented on #637
https://github.com/kubernetes-sigs/controller-runtime/pull/1089

[2020-07-31 04:26] cscetbon commented on #907
@vincepri I got the same error locally using kubebuilder v2.3.1, see https://pastebin.com/raw/rcPUbDZG

[2020-07-31 18:07] berlin-ab opened #1090 "Duplicated error output in invalid object creation"
Should the validation webhook handler send back errors with human readable or machine readable responses? It is not currently consistent.

---

We're implementing a webhook via `kubebuilder` using the `Validator` interface from `controller-runtime` (https://github.com/kubernetes-sigs/controller-runtime/blob/cea989b02ed02254d751ad30471c40bacd5888fc/pkg/webhook/admission/validator.go#L28). We're try

[2020-08-01 16:19] y805939188 opened #1091 "no kind is registered for the type v1.ServiceMonitor in scheme"
HI,seniors,I want to consult a question。The following error occurred in my program：

![企业微信截图_fe0c38d6-e265-46c6-8a51-30af095eba71](https://user-images.githubusercontent.com/28889103/89104650-6fb62600-d44d-11ea-9634-d741e9b90c11.png)

When I create a service, I try to use Prometheus to create a servicemonitor for the service.
I know the reason for this error is because the corresponding kind is mi

[2020-08-01 17:44] alvaroaleman commented on #1091
@y805939188 You need to add the api of the types you are using to the scheme, i.E. here:

[code]

/triage support

[2020-08-02 05:59] y805939188 commented on #1091
@alvaroaleman
Thank you~
But after I tried to do so, the following error occurred：
![企业微信截图_82b0c344-25c3-4817-832d-3d2b6e638af6](https://user-images.githubusercontent.com/28889103/89116535-b21c4900-d4c7-11ea-890c-8ec5cda4ed25.png)

It looks like a problem with the version of some package, but I’m not sure.May I ask what went wrong?
Below is the list of my package：
![企业微信截图_78e294af-c2b9-4e5e-834e

[2020-08-03 04:03] y805939188 commented on #1091
@alvaroaleman
Please ignore the reply above.The above error is caused by other codes.
Your approach is correct,my code is already working.
Thanks a million~

[2020-08-03 04:12] y805939188 commented on #1091
Finally, I want to ask,  can this " mgr.GetScheme() " method get the schema registered by other Pods in the cluster?
thanks~:pray::pray::pray:

[2020-08-04 07:46] timebertt commented on #460
What's the status on this issue?
I see there were some attempts at solving this but none of them made it, and kind of related PR #444 is still open.

If using the lease API based on whether it's available or not is not an option, I would still be interested in having the LE resource lock configurable in `leaderelection.Options`.
We could add `Options.LeaderElectionResourceLock` which can be set to

[2020-08-04 08:49] alenkacz commented on #723
@ncdc are you still working on this? I've just spent many hours trying to figure out a nice way how to create such readiness check from outside that I am starting to think it would be easier to implement it within controller-runtime

[2020-08-04 11:54] ncdc commented on #723
@alenkacz not at the moment, no

[2020-08-04 19:27] vincepri opened #1110 "Implement a fake RESTMapper for fake client"
After #1109 merges, we'll have a `RESTMapper()` function on client.Client interface that returns the RESTMapper that's used for a given Client. To support the same functionality in the fake client, we'd have to implement a fake rest mapper that's integrated in our fake package. Currently we're returning `nil` https://github.com/kubernetes-sigs/controller-runtime/pull/1109/files#diff-62fbcb10a0dc0b

[2020-08-04 20:16] alvaroaleman commented on #1084
You are expecting the fake client to behave like a real Kubernetes cluster, which is an unrealitic expectation and far above its scope. If you need to test against a real Kubernetes cluster, I recommend kind: https://kind.sigs.k8s.io/

/triage support

[2020-08-05 02:13] cscetbon commented on #1084
@alvaroaleman im trying to avoid it as much as possible because of the time tests take. What’s the purpose of the fake client then ? You’re talking about a scope, what is it ? Can you elaborate on this ?

[2020-08-05 04:57] talal opened #1113 "envtest: resources not being loaded"
Hi,

I want to use `envtest` to test an operator but I am running into the issue that envtest is not installing/loading resources properly, and it is not recognising CRDs for custom schema (`PrometheusRule`). Simple get operations are failing for me.

Here is my [`controller_suite_test.go`](https://github.com/sapcc/absent-metrics-operator/blob/envtest/internal/controller/controller_suite_test.go),

[2020-08-05 09:55] kwiesmueller commented on #347
/wg api-expression

[2020-08-05 10:46] dmvolod opened #1114 "Add controllerutil.IsOwner functions to check that object has existing reference"
It would be nice to have a controllerutil.IsOwner functions to check that `object` has `owner` reference based on current `indexOwnerRef` implementation.
If `object` has another than `owner` reference the `AlreadyOwnedError` is thrown, but it's not good to throw this error for the current `owner` behavior

[2020-08-05 10:48] dmvolod commented on #1114
/assign

[2020-08-05 12:22] tskdsb opened #1115 "it will list all resources when use special label"
when I use `List(ctx context.Context, list runtime.Object, opts ...ListOption) error` with `client.MatchingLabels(LABEL)`, the LABEL is something like(a normal k-v and a k-v with value==`""`):
[code]
I will get full list of resources, it seems like the LABEL is empty.

[2020-08-05 12:23] tskdsb commented on #1115
/cc @gaocegege

[2020-08-05 13:09] alvaroaleman commented on #1084
As the godoc states, it's scope is limited to do object tracking and some minimal parts of what the kube api does, like increasing `ResourceVersion` on Update operations.

[2020-08-05 15:30] #1018 closed

[2020-08-05 16:30] alvaroaleman commented on #1115
@tskdsb that query gives you items that do not have `"key1": "value1", "key2": ""` in their labels?

[2020-08-05 16:32] #1019 closed

[2020-08-05 16:47] vincepri commented on #857
/priority important-longterm

[2020-08-05 18:06] vincepri commented on #1115
/triage support
/milestone Next
/priority awaiting-more-evidence

[2020-08-06 00:01] alvaroaleman commented on #1082
@wlchn this is not possible because its not supported by the underlying apimachinery and IMHO not desirable either.
/triage support

[2020-08-06 01:59] tskdsb commented on #1115
do not have

[2020-08-06 02:11] tskdsb commented on #1115
version used in go.mod: `sigs.k8s.io/controller-runtime v0.2.2`

[2020-08-06 10:40] talal commented on #1113
A colleague pointed out my mistake. The issue is resolved now.

[2020-08-06 10:40] #1113 closed

[2020-08-06 10:51] #1083 closed

[2020-08-06 19:53] wfernandes commented on #1110
/assign

[2020-08-07 09:31] timebertt opened #1120 "Dynamic RESTMapper returns ErrRateLimited instead of expected NoKindMatchError"
/kind bug

In our code we have some `client.Delete` calls that should be ignored, when the respective resources are not available on the API server (e.g. additional CRDs not deployed, because some feature gate is disabled).
Therefore we use `meta.IsNoMatchError` and ignore the error, if it returns true.

So basically something like this:
[code]

When under high load, we have a lot of these calls i

[2020-08-07 14:23] cscetbon commented on #1084
Okay cause I also looked into envtest which uses an etcd + an api server but are you saying I should still use a k8s cluster ?

[2020-08-07 14:25] alvaroaleman commented on #1084
@cscetbon if you expect pods to appear after you create a Statefulset then yes, envtest won't be sufficient and you need a real cluster

[2020-08-07 14:27] cscetbon commented on #1084
Thanks @alvaroaleman. I'll stop using fakeClient for unit tests that involved the creation of k8s objects then. It's a bit frustrating but if that's what it is 🤷‍♂️

[2020-08-07 14:27] #1084 closed

[2020-08-07 16:02] vincepri commented on #852
/lifecycle frozen

[2020-08-07 22:42] alvaroaleman commented on #1120
Hm, that sounds wrong. I had a quick look at the code and it seems its basically built with the assumption that when we hit a `NoKindMatch` error its because we are stale, not because it actually doesn't exist on the server.

I think this here needs to be updated to return meta.NoKindMatchError if `checkNeedsReload` returned `ErrRateLimited`  meta.NoKindMatchError if not: https://github.com/kubern

[2020-08-07 23:52] alvaroaleman opened #1122 "DelegatingLogger seems to be a memory hog"
We have a controllermanager that doesn't use the built-in logging, which means the logger construction in c-r falls back to the default in `pkg/log/log.go` which is `NewDelegatingLogger(NullLogger{})`.

Analyzing the memory usage of this controller I noticed that logging seems to have the second highest number of heap allocations:

[code]

IMHO we should be _a lot_ more efficient in doing nothing.

[2020-08-08 06:51] estroz opened #1123 "pkg/webhook: k8s.io/api/admission/v1beta1 is deprecated in v1.19"
See https://github.com/kubernetes/kubernetes/pull/90300. Bumping to v1 is a breaking change.

/cc @vincepri @DirectXMan12

[2020-08-08 07:03] estroz commented on #1123
v1beta1 `{Mutating,Validating}WebhookConfiguration`s have been deprecated for awhile now (v1.16), see https://github.com/kubernetes/kubernetes/pull/90301. Perhaps it's worth removing support for them as well.

[2020-08-10 02:04] zhranklin commented on #988
@vincepri Yes. `DeleteAllOf` and `List` with a `InNamespace` on a global custom resource.

[2020-08-10 02:29] gaocegege commented on #1115
Yeah, we got the items that do not have these two labels.

[2020-08-10 02:30] gaocegege commented on #1115
To be precise, we got all the items instead of items contains these two labels.

[2020-08-10 07:25] timebertt commented on #1120
Yes, indeed. And this assumptions leads to rate limiting, when the rest mapper is heavily used, like in our case.

Hmm, do you mean this part here? I think, `checkNeedsReload` doesn't return `ErrRateLimited` but `limiter.checkRate` does.
https://github.com/kubernetes-sigs/controller-runtime/blob/0f6c191773556874f2950b1c2e8be81a3a4220f9/pkg/client/apiutil/dynamicrestmapper.go#L202-L204

The problem

[2020-08-10 15:16] vincepri commented on #1115
Are you able to update to a later version of controller runtime? v0.2.x series has been deprecated a long time ago

[2020-08-10 15:20] alvaroaleman commented on #1115
The described behavior looks like https://github.com/kubernetes-sigs/controller-runtime/issues/740 which was fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/882 and is available in 0.5.3+ and 0.6.0+

[2020-08-10 17:11] alvaroaleman commented on #1123
I don't think we can remove support for v1beta1 webhooksconfigurations because the major cloudproviders lack so severly behind in versions. GKE does support 1.16, but its not the default. Not sure about AKS and EKS.

[2020-08-10 17:23] estroz commented on #1123
Right. I think v1 and v1beta1 can coexist, with v1beta1 types/methods having a `Legacy` suffix. This would still be a breaking change, but probably should be to notify users that webhook defaults are changing and that they should upgrade if possible. Thoughts?

[2020-08-11 02:37] tskdsb commented on #1115
thanks @vincepri @alvaroaleman

[2020-08-11 02:37] #1115 closed

[2020-08-11 21:16] alvaroaleman commented on #1123
sgtm. Maybe also add a comment telling users the minimum version needed (I believe its v1.16 for v1)

[2020-08-12 06:32] timebertt commented on #460
@DirectXMan12 @vincepri
WDYT about making the lock resource configurable via `leaderelection.Options`?

[2020-08-12 12:36] jiachengxu commented on #1034
I had the same issue before, please check the version of your `kubebuilder/bin/kube-apiserver` binary, because if you are using `envtest` in your test, it will interact with the kube-apiserver on your machine, if the version is too old, maybe `v1` CRD is not served.

[2020-08-14 07:19] pkoushik opened #1127 "Watching multiple namespaces for multiple resources"
I'm using a controller which is watching one namespace with a custom resource, but I would like it to be able to access multiple namespaces. I'm running into an issue where even with the proper RBAC set I am unable to get core resources (e.g secrets) from a namespace I'm not watching, instead I get resource not found.

I want to understand what is the recommended way to watch multiple namespaces a

[2020-08-14 15:14] camilamacedo86 commented on #1035
@vincepri it is related to : https://github.com/kubernetes-sigs/controller-runtime/pull/915  after merge this one we would be nice be allowed to disable/enable it.

[2020-08-17 06:45] #1082 closed

[2020-08-18 15:07] vincepri commented on #1123
SGTM, let's do it :)

[2020-08-18 15:10] vincepri commented on #460
cc @alvaroaleman, given that there was some discussion on #600.

How we approach this problem depends on what we want our compatibility story look like. I'm fine discussing the best way forward that makes sense for most of our users, although I want to make sure we don't break the world at the same time.

If we can get a pluggable leader election strategy that'd be the best way to keep backward co

[2020-08-18 15:13] alvaroaleman commented on #460
Yeah, maybe just expose the strategy as a config option? Its possible to e.G. require both a configmap and a leader lease for a transition. I was first thinking that we should maybe do that for a couple of releases, but if ppl skip those releases, they might end up with two parallel leaders due to the strategy. Making it configurable would avoid that.

Only drawback is that we will forever have a

[2020-08-18 15:15] vincepri commented on #1034
We could add a check in envtest to validate that the API server is at least v1.16 when using CRDv1

[2020-08-18 15:23] vincepri commented on #460
The other solution would be to reduce the scope of Kubernetes versions we support, or rather just increase it.

[2020-08-18 15:28] alvaroaleman commented on #460
This doesn't really have anything to do with Kubernetes versions. This was added in 1.11 or something IIRC so presumably everyone has this. The issue is that if we change the strategy, the next time something gets deployed, there might be two active leaders, one with the old strategy, one with the new strategy. Furthermore, changing the default won't result in compile error or anything, just in a

[2020-08-18 15:49] vincepri commented on #460
Ah I see what you mean, I misunderstood the earlier comment. Let's discuss it at the community meeting?

[2020-08-18 15:57] alvaroaleman commented on #460
sgtm

[2020-08-18 16:19] #912 closed

[2020-08-18 22:45] alvaroaleman commented on #1127
@pkoushik have you looked at the [MultiNamespacCache](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/cache#MultiNamespacedCacheBuilder)?

/triage support

[2020-08-18 22:50] alvaroaleman commented on #1120
@timebertt sorry, this fell off my radar. Without going into the implementation, the behavior I would expect in the end is:

* We have a test that verifies that when using a new type that's not in the mapper but on the apiserver, the dynamicRestMapper will  do a discovery and everything will work - I assume we already have this test today
* We have a test that verifies that when using a new type t

[2020-08-20 18:34] #637 closed

[2020-08-20 19:27] nstogner opened #1131 "Server-side apply failing for CRD (float/int type issue)"
Attempting to use server-side apply to update a custom resource. When the resource is created there are no errors. When it gets updated, I get an error (`KubeadmControlPlane.controlplane.cluster.x-k8s.io \"abc-control-plane\" is invalid: .spec.replicas: Invalid value: 0: .spec.replicas accessor error: 4 is of the type float64, expected int64`). The full error is below. Something seems to be gettin

[2020-08-20 20:10] nstogner commented on #1131
Upon further inspection, it appears that this does not belong in controller runtime. I am able to replicate the error with `kubectl apply --server-side`.

[2020-08-20 20:10] #1131 closed

[2020-08-21 15:40] michaelgugino opened #1132 "Leader election is unsafe if the binary isn't stopped when the Manager returns"
With this change: https://github.com/alvaroaleman/controller-runtime/blob/93e6db8d5f04222e42accaa91af027e8bc4ec52b/pkg/manager/internal.go#L647

users can now call releaseOnCancel.  This was previously not the case.  When the leader's context is canceled, the lease will be released.

We call cancel the leader's context here: https://github.com/alvaroaleman/controller-runtime/blob/93e6db8d5f04222e4

[2020-08-23 18:12] #833 closed

[2020-08-23 18:12] #840 closed

[2020-08-23 18:12] #847 closed

[2020-08-23 20:14] #872 closed

[2020-08-24 00:17] varshaprasad96 opened #1135 "Ability to specify the name of server key and certificate while setting up Webhooks"
**Context:**
Currently, when we create a manager, we have the ability to specify the [`CertDir`](https://github.com/kubernetes-sigs/controller-runtime/blob/011cd8ae62dba632cf63f0637971cbca813cbf29/pkg/manager/manager.go#L209) which contains the server key and certificate. However, this comes with a clause that the server key and certificate files should be named as tls.key and tls.crt, respectivel

[2020-08-24 14:19] berlin-ab commented on #1090
Bump.

[2020-08-24 20:56] horis233 commented on #768
When I transferring `fake.Client` to `envtest`, I notice I can use the `fake.Client` to mock the status of the testing data.

For example, my controller can react differently to the status of the k8s job. Then, by using the `fake.Client`, I can mock the k8s job status to `failed`, `running` or `completed`.

But `envtest` seems can't do that, when I create a k8s job, the environment will empty its

[2020-08-25 09:01] JoelSpeed commented on #768
You should be able to set the status within `envtest`, however you will need to use the `Status()` client to modify the status because `envtest` honours subresources where the fake client doesn't.

Eg Call `client.Create(...)` to create the object, then `obj.Status = <desired status>`, then `client.Status().Update(...)` to get the status updated.

[2020-08-25 14:18] horis233 commented on #768
@JoelSpeed
Thanks, It is very useful. The method works for me.

[2020-08-25 18:41] pkoushik commented on #1127
@alvaroaleman I haven't looked into it. Wouldn't this require interaction with a cache object rather than the client found in the reconciler? Or does the client use this cache to interact with the cluster resources? When will this cache be updated?

[2020-08-26 18:14] charithe opened #1140 "log.FromContext doesn't add provided tags and doesn't handle empty contexts"
I came across a couple of bugs in the `log.FromContext` function:
- If the passed in context doesn't contain a logger, it attempts to cast a nil value as `logr.Logger` -- which causes a panic.
- The `keysAndValues` argument has no effect because the logger returned from the `WithValues` method is ignored in the return value.

I have a patch that should address these here: https://github.com/kubern

[2020-08-26 19:22] #1140 closed

[2020-08-27 00:27] DirectXMan12 opened #1142 "Test flake regarding the event broadcaster"
Looks like sometimes we end up with a send on a closed channel + data race?
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_controller-runtime/1129/pull-controller-runtime-test-master/1298755438417809409

<details>

<summary>data race</summary>

[code]

</details>

<details>

<summary>panic</summary>

[code]

</details>

[2020-08-27 16:22] joelanford opened #1143 "Feature: extensible leader election interface"
Currently, it seems like the interface exposed by controller-runtime for setting up leader election does not permit custom leader election implementations to be substituted in and used.

Controller-runtime leader election can be completely disabled, and an alternate implementation can be used outside the context of the controller-runtime manager lifecycle.

However, the manager has nice functional

[2020-08-27 16:24] alvaroaleman commented on #460
We discussed this on the community meeting on Aug 27 and concluded that:
* We want to change the default from `ConfigMapsResourceLock` to `ConfigMapsLeasesResourceLock` and keep this new default for a long time, to make sure that everyone who upgrades controller-runtime uses this rather than jumping all controller-runtime versions that have this
* We want to make the strategy configurable so that

[2020-08-29 19:37] vincepri commented on #590
/close

[2020-08-29 19:37] #590 closed

[2020-08-29 22:04] alvaroaleman commented on #942
/assign

[2020-08-31 05:47] timebertt commented on #460
Sounds great!
/assign @timebertt
for the second part.

[2020-08-31 14:04] ANeumann82 commented on #810
I ran into the same issue - conversion-gen is great to generate the default conversions between api versions, and controller-runtime is great for providing an easy setup for a conversion webhook, but I don't see a way to connect both nicely together. the `conversion.Scope` is required for the generated code.

[2020-08-31 17:06] #942 closed

[2020-08-31 17:25] shomron commented on #935
/remove-lifecycle rotten

[2020-09-01 15:17] yiqigao217 opened #1148 "Intermittent yet consistent `nil pointer` issue in /webhook/admission/http.go:84"
We got a webhook error intermittently but consistently, about 1 out of 7 deploys. The webhook error we got is:
[code]

Here's what the log says (the 8th line specifically):
[code]
The line `/webhook/admission/http.go:84` is
[code]
Since we have `controller-runtime` in the `/vendor` directory, I tried
1) putting `wh.log.Info("xxx")` at the top of the `func (wh *Webhook) ServeHTTP()`. When the inter

[2020-09-02 14:43] #460 closed

[2020-09-02 15:54] thetechnick commented on #1048
Hey there! :wave:

Adding my two cents into this conversation: We had this exact issue when writing our tests.
We tried to do setup all our tests with fakeclient and assert on the state in the fakeclient after invoking a function, but especially with errors or in more complex scenarios it became very messy or impossible to just use the fakeclient alone.

After sticking our heads together we finall

[2020-09-04 14:58] joelanford opened #1150 "Surface warnings sent by apiserver via client-go"
We should look into surfacing warnings sent in responses by 1.19+ API servers.

Examples of these warnings include:
* Use of deprecated core APIs
* Use of deprecated CRD-defined APIs
* Warnings returned by admission webhooks

See https://kubernetes.io/blog/2020/09/03/warnings/ for details.

[2020-09-07 05:56] timebertt commented on #1120
/assign

[2020-09-08 15:58] yiqigao217 commented on #1148
/cc @DirectXMan12
/cc @adrianludwin
/cc @GinnyJI

[2020-09-08 23:06] DirectXMan12 opened #1154 "envtest's CreateCRDs times out with unserved versions"
InstallCRDs doesn't take into account that unserved versions aren't going to appear in discovery.  It should do this.

/priority important-longterm
/good-first-issue
/kind bug

[2020-09-09 02:02] DirectXMan12 commented on #1148
After some investigation, it *looks like* the cause is a race between start and register occurring.  Running under the race detector points out the race conditions.

I can reproduce pretty reliably without #1155, and cannot reproduce with it.

[2020-09-09 02:04] DirectXMan12 commented on #1148
You probably saw the initial log  panic from "InjectLog" not being called yet due to the race between start & register.

[2020-09-09 14:00] kapilpau opened #1156 "client.Get() requires watch permission"
When trying to call client.Get(), if you don't have watch permissions for the resource, you get the following error, example get StorageClass:

[code]

Why does get require watch permission? It shouldn't be watching any resources

[2020-09-09 14:38] rahulchheda commented on #1110
Is somebody is still working on this issue?

[2020-09-09 17:28] adrianludwin commented on #1148
Thanks @DirectXMan12 ! We can work around that pretty easily now that we know what it is.

[2020-09-10 00:29] DirectXMan12 commented on #1132
is there any reason not to do a panic instead of `os.Exit(1)`?  That's testable, and while you can technically catch the panic, then you have to be *really* trying to mess things up, and I think it becomes a case of "if you ignore the warning sign *and* wrestle past the giant laser-sharks, it's on you".

[2020-09-10 00:30] DirectXMan12 commented on #1132
could also put an option in the context to explicitly *not* panic if you need to for some reason, to have an extra escape hatch

[2020-09-10 01:34] michaelgugino commented on #1132
Panic perhaps does seem like a good solution to this problem as well.  Either os.Exit(1) or panic I think is suitable, probably each have their own merits.

[2020-09-10 02:12] FreeZhang61 opened #1158 "how to get all resource by controller-runtime?"
I want to get all resource by controller-runtime just like `kubectl get all  -A` ,  can anyone me a demo?  thanks

[2020-09-10 18:46] DirectXMan12 opened #1159 "Metadata-only list/watch support"
The kube apiserver supports listing and watching *just* the metadata for resources.  We should expose support for this both in our watch machinery and in our client.

This is particularly useful for performance when watching large numbers of different resources, or when you're watching a particularly numerous resource but need only the metadata for most/all instances of the resource.

/kind featur

[2020-09-10 18:46] DirectXMan12 commented on #1159
(FWIW, I'm working on this right now)

[2020-09-11 12:33] #897 closed

[2020-09-11 21:07] DirectXMan12 commented on #722
/good-first-issue

[2020-09-11 21:08] DirectXMan12 commented on #702
/lifecycle frozen

[2020-09-11 21:19] DirectXMan12 commented on #978
no response from issue filer, closing

[2020-09-11 21:19] #978 closed

[2020-09-12 06:39] #1079 closed

[2020-09-14 09:42] prafull01 commented on #722
/assign

[2020-09-14 16:47] #705 closed

[2020-09-14 23:15] ellistarn opened #1161 "admissionv1.AddToScheme needs to be called for v1.AdmissionReview"
Controller-gen 0.4.0 now uses v1 types. This needs to be included here: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/admission/http.go#L28

[code]

[2020-09-15 02:02] bluven opened #1162 "Couldn't filter results with limit and continue options"
[code]

output:
[code]

I learn this filter method from this [test case](https://github.com/kubernetes-sigs/controller-runtime/blob/d6829e9c4db802eb4d5703d22c6cd87e8bbf91da/pkg/client/client_test.go#L1995)

Where is the problem with my code?

[2020-09-15 14:07] #904 closed

[2020-09-15 17:14] kevindelgado commented on #1154
/assign

[2020-09-15 21:51] alvaroaleman commented on #857
FWIW, we've build something like this as a `Reconciler` wrapper downstream: https://github.com/openshift/ci-tools/blob/e847c7d352263b7415732d4309c041d3afb8ab71/pkg/controller/util/request_coalescer.go#L13

[2020-09-15 21:53] alvaroaleman commented on #1086
Closing as duplicate of https://github.com/kubernetes-sigs/controller-runtime/issues/1159 (Because I find the title of the latter more clear :) )
/close

[2020-09-15 21:53] #1086 closed

[2020-09-15 22:47] vincepri commented on #1159
Thanks @DirectXMan12 ! Let me know if I can be of any help, I worked on a specialized client in Cluster API for this, it'd be awesome to get support in the controller runtime client :)

[2020-09-16 09:26] rahulchheda commented on #1110
@wfernandes Are you currently working on this issue? I would like to work to this too.

[2020-09-16 15:06] wfernandes commented on #1110
@rahulchheda Go for it.
/unassign

[2020-09-16 19:32] jsing157 opened #1168 "Dependency Failing"
Hello Team, Thank you for all the work you have done! I wish to bring attention to errors I have in my current golang repo:
[code]
[code]
Regardless of the version, it seems I cannot get jsonpatch. I have noticed `https://gomodules.xyz/` has changed its URL paths so maybe it is something to do with that.
Various `replace` in go.mod have prove ineffective. Have you experienced any jsonpatch issues

[2020-09-16 20:23] cjhpaul commented on #1168
Yeah same here, made a pr #1167 for that. I'm fine with any fix, but hopefully this gets resolved asap.

[2020-09-16 20:28] jsing157 commented on #1168
Try: `export GOPROXY=https://proxy.golang.org` in your go env. It seems to work for my development team.

[2020-09-17 14:30] jaypipes commented on #1168
https://github.com/gomodules/jsonpatch/issues/28

[2020-09-17 19:09] tamalsaha commented on #1168
Sorry, looks like I fat fingered `gcloud app deploy --project gomodules` to `gcloud app deploy --project kmodules` and made the problem. Should be fixed now.

[2020-09-17 19:36] adrianludwin commented on #1148
It turns out that we _can't_ work around this - our solution was to register the webhooks before calling `Start` but this only works if all the secrets for the webhooks already exist. This was true on the clusters we tested but is not true if you're starting HNC for the first time on a new cluster.

So we have the following ordering dependencies:
1. We need to start the cert-controller before we r

[2020-09-18 14:16] SrishT opened #1169 "Webhook does not return error even when an invalid certificate has been provided"
Since webhooks must be served via HTTPS, they need proper certificates to be configured.
However the following command which is used to build the webhook does not return any error if an invalid certificate has been provided.
[code]

Due to this the `ValidatingAdmissionWebhook` does not reject invalid requests, which defeats the purpose of having the webhook (this ends up giving more flexibility to

[2020-09-18 16:19] #845 closed

[2020-09-18 20:16] adrianludwin commented on #1148
Hmm, there certainly seems to be a correlation between "adding delay" and "it crashes less often," but after 16s of delay I'm still getting crashes! Here are the number of successful starts I observed before my first crash for a variety of delays:

* 1s: 1
* 2s: 1
* 4s: 2
* 8s: 5
* 16s: 11

This doesn't give me a lot of confidence that adding delay is a robust solution. I'm mystified as to what ki

[2020-09-19 03:39] adrianludwin commented on #1148
@DirectXMan12 I pulled your fix from #1155, cherrypicked it into 0.6.3 and imported it into HNC (we were previously using 0.6.1 and jumping straight to `master` caused dependency issues). It worked perfectly 20/20 times; without this fix, it was failing after 1-2 attempts (see last comment). So I think the fix looks good.

[2020-09-21 00:14] #887 closed

[2020-09-21 14:28] #924 closed

[2020-09-21 18:38] maxsmythe commented on #873
/reopen

still valuable

[2020-09-21 23:06] DirectXMan12 opened #1171 "Race in shutting down event broadcasters (manifests as test flake)"
Full description of the issue is at https://github.com/kubernetes/kubernetes/issues/94906.

The TL;DR is that it's unherently unsafe (racey) to stop an event broadcaster due to the way it does non-blocking event emission.  We might have to fork that code entirely to fix it in a timely manner.

Symptoms look like

<details>

<summary>relevant race detector output/stack traces</summary>

[code]

</d

[2020-09-21 23:07] DirectXMan12 commented on #1171
/kind bug
/kind flake
/priority critical-urgent

[2020-09-21 23:52] DirectXMan12 commented on #1159
Oooh, I'll send it over to you for review then.  I've got most of a PR, just need to finish tests (got distracted by some other stuff since I filed this ;-) )

[2020-09-22 00:23] DirectXMan12 commented on #1148
awesome

[2020-09-22 01:46] #1148 closed

[2020-09-22 16:22] adrianludwin opened #1172 "Fix thread safety issue in controller-runtime v0.6"
This is a request to fix #1148 in the v0.6 branch by cherry-picking #1155. I tried this out myself in github.com/adrianludwin/controller-runtime v0.6.3-ts-fix and it works perfectly with HNC - in fact, we're patching HNC with that right now (https://github.com/kubernetes-sigs/multi-tenancy/pull/1127) since we don't want to wait for the official fix, but I'd like to get back onto the official `cont

[2020-09-22 16:45] #1168 closed

[2020-09-23 14:25] jim-minter opened #1173 "Calling Builder.For() multiple times loses previous apiTypes"
At https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/controller.go#L74 , For latches the apiType of the For() call.

If a controller-runtime consumer calls Builder.For(foo).For(bar), then foo will be silently lost in favour of bar.

This contrasts with Owns' behaviour, where Builder.Owns(foo).Owns(bar) will append both foo and bar to an internal slice.

Judging by the c

[2020-09-23 19:19] DirectXMan12 commented on #1173
You're never supposed to call `For` multiple times -- there should be one "root" type that you're reconciling generally.  Saving an error and returning it on `.Complete` or `.Build` is a good idea though.

/good-first-issue
/kind feature
/priority important-longterm

[2020-09-23 19:25] prafull01 commented on #1173
It looks simple enough. I can take it as my first issue for the controller-runtime.
/assign

[2020-09-23 23:17] taylormgeorge91 commented on #244
@estroz Is this still progressing? We are keen to see this feature enabled.

[2020-09-24 14:45] ncdc commented on #1158
I'd do something like this (assuming you have a `Manager`):

[code]

[2020-09-24 15:55] ncdc commented on #305
@hasheddan is this something you started on?

[2020-09-24 17:16] hasheddan commented on #305
@ncdc I unfortunately have not gotten around to it yet, but would still love to help out. Don't want to block anyone else who is already getting started though :+1:

[2020-09-24 17:17] ncdc commented on #305
No worries, just checking so folks don't step on your toes! Thanks for the update.

[2020-09-24 19:49] LukeWood opened #1175 "Resource corruption that comes from listing with a PageLimit"
hello controller-runtime team!  I work on a team that makes heavy use of controller-runtime.

We recently experienced a resource corruption issue that we have managed to pin down to be coming from controller-runtime.

Here is a minimal reproducable version:

Note:  EnvironmentList is a k8s custom resource definition.  Environment is the same.

[code]

If you run this and exceed the page limit the

[2020-09-24 20:05] rahulchheda commented on #1110
/assign

[2020-09-24 20:19] #1173 closed

[2020-09-25 16:25] randomvariable opened #1177 "Add chaos testing flags to controller runtime"
**User Story**

As a Cluster API developer I would like to discover bugs. In particular, I want to know if my controllers are properly re-entrant.

**Detailed Description**

It'd be great to add a `--chaos` or similar flag that will deliberately exit CR after a random amount of time. This would allow downstream consumers to do more testing as to controller re-entrancy

**Anything else you would li

[2020-09-25 17:54] estroz commented on #244
@taylormgeorge91 I haven't had as much time as I'd like to work on this, but I did just post a rough prototype (#1178). Feel free to critique.

[2020-09-25 23:04] kevindelgado opened #1179 "Support running controller managers for CRDs not installed"
### Summary
Enable controller managers to successfully operate when the CRD the controller is configured to watch does not exist.

Successful operation of a controller manager includes:
Starts and runs without error when a CRD the controller watches does not exist.
Begins watching the CRD once it is installed
Unregisters (stop watching) once a CRD is uninstalled.

### Background
Usually there is a

[2020-09-26 01:50] DirectXMan12 opened #1181 "Builder causes panics when For isn't called"
Currently the causes builder panics when `For` isn't called, because it constructs a `Kind` source with a nil `Type` field.  We should detect this in the builder's `doWatch` method and return an actual error instead.

/kind bug
/priority important-longterm
/good-first-issue

[2020-09-26 05:27] prafull01 commented on #1181
/assign

[2020-09-26 05:58] prafull01 commented on #1181
The panic happens on the `doController()` function itself before the `doWatch()` is called.
[code]
IMO we need to check the reconcile type present in the Build() function itself where we do all types of error checking already.

[2020-09-26 06:43] coderanger commented on #1179
Why not just install the CRD?

[2020-09-27 21:55] #934 closed

[2020-09-28 10:35] prometherion opened #1183 "Runnable should provide probes?"
I'm using the `controller-runtime` for many purposes, from implementing CRDs reconciliation loop as well for other utilities, many kudos for this amazing project that I'm loving so much.

For a project of mine, I'm implementing a simple HTTP server with some business logic, and thanks to the [`Runnable` interface](https://github.com/kubernetes-sigs/controller-runtime/blob/fdc6658a141b99a3fcb733c8a

[2020-09-28 10:45] prometherion opened #1184 "Builder.For should panic when called twice"
I know that a Controller should just control for a single Resource kind, this is an edgy-case.

With the following said

https://github.com/kubernetes-sigs/controller-runtime/blob/fdc6658a141b99a3fcb733c8a8000f98e6666f48/pkg/builder/controller.go#L65-L68

I'm considering `For` a shorthand for `Watches` that allows multiple inputs

https://github.com/kubernetes-sigs/controller-runtime/blob/fdc6658a

[2020-09-28 14:58] kshamajain99 commented on #952
@vincepri We are facing the same problem, is there any update on this issue?

[2020-09-28 14:59] vincepri commented on #952
We haven't received any updates from the original reported, and I cannot reproduce on my environments. If you're using an older version of controller runtime, I'd suggest to update to one of the latest releases.

As of today, we've only been maintaining v0.5.x and v0.6x

[2020-09-28 15:49] qu1queee opened #1185 "Fix typo in comments of manager.go"
I was just reading some enhancements around the leader election, and I found a small typo, please see [delta](https://github.com/kubernetes-sigs/controller-runtime/compare/master...qu1queee:qu1queee/fix_typo_comment?expand=1) , wondering if you want me to fix this with a pr @alvaroaleman ?

[2020-09-28 16:12] kevindelgado commented on #1179
One use case we've seen is for controller's operating across multiple clusters. We would like to be able to run the manager successfully when some of the clusters may not have a CRD installed or CRD is installed out of order.

[2020-09-28 17:01] asmacdo opened #1186 "Log events that trigger reconciles"
As an controller author/user, it would be helpful to know which event has triggered a reconcile, especially in situations where a reconcile can be triggered by changes to multiple resources.

What I have in mind is to log the event in the EnqueueRequestForObject event handlers: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/handler/enqueue.go#L37-L91

[2020-09-28 19:29] kevindelgado commented on #1154
/unassign

[2020-09-28 19:30] #825 closed

[2020-09-28 23:56] DirectXMan12 commented on #1175
okay, so, this isn't actually a bug in any of our stuff.  It actually turns out not to even be a bug in the traditional sense, in-as-much as it is semi-surprising behavior in in `json.Decode` and the fact that data lifetime is both super important and wildly unclear in languages with references and/or pass-by-reference semantics.

So:

`client.List` calls `client-go/rest.Request.Into`, somewhat un

[2020-09-28 23:56] #1175 closed

[2020-09-29 12:25] iammuho opened #1188 "Healthz logs are not enough"
As a user of the controller-runtime project in a critical application, we have found that if healthz cannot pass, it's just logging as below;

[code]

And as you can see, this is not enough to understand the error at first. What I have in my mind is to improve logs by reflecting which component is failed.

[2020-09-29 13:39] #1181 closed

[2020-09-29 20:36] kshamajain99 commented on #952
@vincepri We are using controller runtime version v0.5.2.
We were facing this issue kubernetes/kubernetes#86811 because of which we changed Timestamp to be *metav1.Time. As a result of this change, controller is able to reconcile for first update request after which it fails to reconcile for any update.

[2020-09-29 20:51] vincepri commented on #952
Not sure if there is anything we can do from our side, it seems the CRDs with the custom ObjectMeta/timestamps need to be fixed

[2020-09-29 21:56] prafull01 commented on #1154
/assign

[2020-09-30 08:12] georgettica opened #1190 "cannot easily differentiate between stop proccesing and no-op when returning reconcile.Result"
it seems that for indicating to stop processing (because an operation updated a resource and that triggered another reconcile) cannot be communicated to the controller, can we add a bool for `StopProccesing` so we can handle this case inside the code better?

https://github.com/kubernetes-sigs/controller-runtime/blob/dba75e5c7c5d39c6926307c01e402c0747bdc7ee/pkg/reconcile/reconcile.go#L29

[2020-09-30 13:17] #1120 closed

[2020-09-30 17:41] gee4vee opened #1191 "envtest: no matches for kind "Infrastructure" in version "config.openshift.io/v1""
Dependency versions:
`sigs.k8s.io/controller-runtime v0.6.3`
`github.com/openshift/api v0.0.0-20200326152221-912866ddb162`

I'm getting the error above in my test even though I've added the relevant schema like so:

[code]

I have some other schemas I've added including the one for our CRD, and those don't give me problems. The controller does start and begins reconciling our CRD. I also checked t

[2020-09-30 18:08] vincepri commented on #1028
/lifecycle frozen

[2020-09-30 18:08] vincepri commented on #1026
/lifecycle frozen

[2020-10-01 01:39] kevindelgado commented on #1179
Closing in favor of the design doc at #1192
Proof of concept PR updated at #1180

[2020-10-01 01:39] #1179 closed

[2020-10-01 11:19] #817 closed

[2020-10-01 12:40] paulcarlton-ww opened #1193 "Watches and Owns not working in cluster"
I have a controller that is working fine when the controller is run out of cluster but fails when run in a pod.
See https://github.com/fidelity/kraan/tree/in-cluster
The Watch and Owns setup by the controller at https://github.com/fidelity/kraan/blob/in-cluster/controllers/addons_controller.go#L56 are not called when running in-cluster but are working out of cluster.

I've tried different docker i

[2020-10-01 19:17] ellistarn commented on #1161
@DirectXMan12 any word here?

[2020-10-01 22:58] ellistarn commented on #1161
@DirectXMan12 any thoughts?

[2020-10-01 23:15] christopherhein commented on #895
@vincepri I think we need to remove this tracking issue from the 1.19 release. For now, we should just have #891 give this is tracking the entire feature through alpha -> beta -> ga we'll want the configfile to bake a bit.

[2020-10-02 12:23] paulcarlton-ww commented on #1193
ah found my  error, I was only scoping to namespace

[2020-10-02 12:23] #1193 closed

[2020-10-02 22:38] alvaroaleman opened #1208 "Write a migration guide for 0.7"
There is a big chunk of breaking changes in 0.7, we should write a migration guide that enumerates them and has an "if you did this before, you now need to do that" explanation for all of them

[2020-10-05 15:32] detiber commented on #617
/lifecycle frozen

[2020-10-05 19:16] vincepri commented on #1161
Do we want to support only admission request v1, or both?

[2020-10-05 19:28] ellistarn commented on #1161
For backwards compatibility, I think both need to be supported.

[2020-10-08 02:53] kotyara85 opened #1209 "Unregister controller"
Hello,
Is there a way to unregister controllers dynamically if required?
Thank you

[2020-10-08 04:55] jpeach commented on #1033
AFAICT this is still a problem with Kubernetes 1.19 and controller-runtime 0.6.x

[code]

The fix (at least for me) seems to be:
[code]

[2020-10-08 05:24] coderanger commented on #1209
Take a look at #1192. It's still at the design stage though.

[2020-10-08 12:16] dsbrng25b commented on #1184
I just ran into the problem that the builder fails if `Builder.For` is not used. See the following example:
https://github.com/dsbrng25b/controller-runtime/commit/766c2441427d0d11012114003dd5faf3a533a21b

I think it would be the best if `Builder.For` would behave in the same way as `Watches` and `Owns` (so define `forInput` as slice `[]ForInput`). This would fix the case when `For` is not used and

[2020-10-08 12:30] dsbrng25b commented on #1184
Just found #1173 and #1176 which adds en error if For is called multiple times.
But as said before: To me it would make more sense to allow multiple calls to For and not artificially restrict users.

[2020-10-08 13:26] vincepri commented on #1033
@jpeach We have some alpha tags for v0.7 to test out some of these changes, https://github.com/kubernetes-sigs/controller-runtime/releases — ⚠️ though, there are a lot of other changes that need to be documented before release, proceed with caution :)

The update to 1.19 and the new go-logr dependency is going to come in when v0.7 gets released

[2020-10-08 16:19] DirectXMan12 opened #1210 "fetch-envtest script should verify integrity of download"
As pointed out in recent meeting, we should be verifying the integrity of downloaded files in the `hack/setup-envtest.sh` script, since it's now going to be used in kubebuilder.  I think we should probably also consider cleaning up that script -- not hardcoding `/tmp`, etc, since it'll be used externally (or having a separate kubebuilder script).

[2020-10-08 16:55] vincepri commented on #305
@bboreham This group is interested in getting OpenTracing in Controller Runtime

cc @DirectXMan12

[2020-10-08 16:59] DirectXMan12 commented on #1210
we'll need to also have our cloudbuild scripts over in the kubebuilder repo sign the tarballs and upload the signature

[2020-10-09 12:04] bboreham commented on #305
@vincepri presume you meant OpenTelemetry.
I opened a PR to make it easier to see what I've done: #1211

[2020-10-09 14:37] vincepri commented on #1184
@alvaroaleman What do you think here? I'm ok having it panic given that's definitely a user error

[2020-10-09 14:53] alvaroaleman commented on #1184
https://github.com/kubernetes-sigs/controller-runtime/pull/1176 already added an error that is returned on `Build`, that sounds good enough to me? (The error could probably be a bit more helpful and tell what was the pre-existing type and whats the new one, but thats nitpicking)

No. There is only one root type per controller. You have `Watches` to watch subordinate types.

[2020-10-09 16:03] fabriziopandini opened #1212 "Fakeclient shold honor AllowUnconditionalUpdate and AllowCreateOnUpdate for resources without TypeMeta"
If I call `fake.Client.Update` passing a ConfigMap object without TypeMeta field set (`Kind=""`), I get error `"object was modified"`

This is probably because `AllowUnconditionalUpdate` retrives gvk from the object

https://github.com/kubernetes-sigs/controller-runtime/blob/c000ea850121b53dd769f624f3bfa74a4fcf100f/pkg/client/fake/client.go#L433

(and similarly `AllowCreateOnUpdate`)

In order to

[2020-10-09 16:07] dsbrng25b commented on #1184
Ok, but can we change the builder that it is possible to use it without `For`?
https://github.com/dsbrng25b/controller-runtime/commit/766c2441427d0d11012114003dd5faf3a533a21b

[2020-10-09 16:08] vincepri commented on #1212
/help

[2020-10-09 20:02] #1212 closed

[2020-10-10 14:56] alvaroaleman commented on #1033
@jpeach also, controller-runtime doesn't support using an arbitrary version of the kube dependencies. It might work, but its untested and not officially supported. The 0.6.X tree supports the 1.18 version of the kube dependencies: https://github.com/kubernetes-sigs/controller-runtime/blob/ac380d61764a160b32946e606b0c9ecd2834e3e8/go.mod#L27

Hence, this is isn't really a bug in controller-runtime.

[2020-10-11 16:22] zhao-lang commented on #1020
/assign

[2020-10-12 11:45] pagarwal-tibco commented on #244
I also have a use case of watching pods running on a node and not watch all the pods in the cluster.
This will limit the number of kubernetes resources needs to cached/watched and processed. My use case is of having daemon-set watching pods on current node, hence I am looking for a solution like having a fieldSelector for the resources being watched/cached and reconciled.

I see that kubernetes cl

[2020-10-12 14:31] akutz opened #1215 "Enable a user-friendly means of the controller-manager self-identifying with a distinct ID with HTTP calls"
# Summary

This story tracks enabling a user-friendly option for telling controller-runtime to self-identify with a distinct ID when making HTTP calls to the Kubernetes API server.

# Context

The actor that causes a raw Kubernetes event to occur is identified by a field named `manager`, for example:

[code]

These raw, Kubernetes events are useful for root cause analysis (RCA). The field `object.

[2020-10-12 14:37] vincepri commented on #1215
cc @DirectXMan12 @alvaroaleman

I'm +1 for this proposal, we can also leverage #891 to achieve this

[2020-10-12 14:41] alvaroaleman commented on #1215
Providing a convenient way to set a custom user agent :+1:

Wouldn't it make more sense to do this in a more granular fashion? E.g. if my manager contains multiple controllers, I most likely want a custom user agent per controller.

[2020-10-12 15:08] akutz commented on #1215
100%! Except I'd really want a *lot* of things, optionally, *per* controller (like the ability to stop a specific controller). The question is whether to put a moratorium on introducing functionality at the controller-manager scope until we figure out how to more cleanly create a controller scope, or to address each of these on a case-by-case basis.

I haven't looked at 0.7.x yet, but does it enab

[2020-10-12 15:14] alvaroaleman commented on #1215
No it doesn't. My suggestion would be something along the lines of:
* Add an option to the `Manager` to set the user agent
* Add a wrapper that clones a `Client` (and re-uses its restmapper to save on discovery) but with a changed `*rest.Config`
* Extend the `builder` to have a `WithUserAgent(ua string)` method to allow to use this conveniently

[2020-10-12 15:18] alvaroaleman commented on #1215
Yeah, thats a nice idea as well. Do you think there are use cases for wanting to use more than one UserAgent within the same controller?

[2020-10-12 15:19] akutz commented on #1215
I'm with you all the way until this last part. I don't *want* to replace the entire user-agent, just the first parameter from:

[code]

I get we *can* replace the user-agent to achieve the same result, but I like the default pattern. The above function is in client-go (linked in the description). So perhaps we could introduce `WithUserAgentID(userAgentID string) string` instead, and simply duplica

[2020-10-12 15:20] akutz commented on #1215
For better or worse it is what we do today. I view the problem of having controller-specific IDs as a different issue than creating a solution for an easily settable ID for the controller-manage. An iterative problem if you will.

[2020-10-12 15:24] alvaroaleman commented on #1215
Yeah, that sounds good as well

Sure. But setting it on the cm today just means adjusting the `*rest.Config`. Adding an option on the cm makes it easier to discover but you can already do this today.

What is your use-case for wanting multiple user-agents in the same controller (not controller-manager)?

[2020-10-12 15:27] akutz commented on #1215
Not entirely accurate. Setting it today for users means supplying a custom user-agent. I am saying that I want to use what's there, for the most part, and just replace the one piece of information used on the server-side for that ID that's part of raw events.

I don't? Perhaps we confused one another? I was simply responding to your initial response with ideas of _how_ to that. I was not, necessar

[2020-10-12 15:42] vincepri commented on #798
/lifecycle frozen

[2020-10-12 15:44] vincepri commented on #798
The changes around context above have been implemented, to have cancellation for reconcilers we'll need to inject a context with a set timeout — although that doesn't really guarantee that operations will be cancelled so there is potentially a way to leak goroutines

[2020-10-12 17:03] evankanderson commented on #305
A few comments from experience in Knative:

If you're just starting to add instrumentation, try to use the same data in the context for both (structured) logging, tracing, and metrics. This has three benefits:
  * It reduces the amount of boilerplate you need to record the information, and increases the chance that you'll get your labels right.
  * It reduces the amount of "stuff" you have to carr

[2020-10-12 17:15] christopherhein commented on #1215
Thanks for @'ing me @vincepri I have a tracking issue as well for once #891 (https://github.com/kubernetes-sigs/controller-runtime/issues/895) is done to start integrating the ComponentConfig standard for `rest.Config` which currently uses https://github.com/kubernetes/component-base/blob/master/config/v1alpha1/types.go#L69 I wonder if we could advocate for having a standard mechanism for user age

[2020-10-12 17:40] asmacdo commented on #1186
I brought this up at the sig meeting, and I got the go-ahead to implement this. It was requested that this info be logged at a very high level.

[2020-10-13 02:01] bluven opened #1216 "envtest couldn't load crd file when subsourouces is enabled"
This issue is related to [https://github.com/kubernetes-sigs/controller-tools/issues/506](https://github.com/kubernetes-sigs/controller-tools/issues/506).

I created this issue because although the crd file has some problems, but it can be applied to kuberntes cluster:
[code]

My Kubernetes cluster version:
[code]

My controller-runtime version
[code]

[2020-10-13 06:41] dsbrng25b commented on #1190
I think that is not the idea. You run the reconcile until all resources are in the desired state. If the resources are in the desired you don't perform an update and thus no further reconcile is triggered.

[2020-10-13 17:05] kotyara85 opened #1217 "EnqueueRequestsFromMapFunc reconciles even for something it shouldnt"
Hey there,
Im watching for a specific config configmap - "test-map"

[code]

[code]

But the operator triggers events for every single cm in the namespace.

Is there a way to fix this?

Thanks

[2020-10-13 20:31] #1154 closed

[2020-10-13 20:41] DirectXMan12 commented on #1215
FWIW, manager is not actually for identifying the source of the change, precisely -- it's for keeping track of which actor owns which particular field for server-side apply.  As you noted above, it's not uncommon for each controller to want it's own manager, because each controller is a separate "actor" that cares about different field sets.

When we're writing documentation, we should keep in min

[2020-10-13 20:43] DirectXMan12 commented on #305
We've got some work done for us in that regard from @dashpole's work on the apiserver tracing KEP, so we should consider that as well

[2020-10-13 21:17] alvaroaleman commented on #1217
You are watching all configmaps and have no predicate, so you get an event for all configmaps. This is expected.
/triage support

[2020-10-14 00:16] alexeldeib commented on #1217
I suspect you want something more like this:

[code]

[2020-10-14 15:43] camilamacedo86 commented on #722
/remove-lifecycle rotten

[2020-10-14 15:43] camilamacedo86 commented on #722
/remove-lifecycle rotten

[2020-10-15 09:43] #1216 closed

[2020-10-15 10:35] dfang opened #1218 "skip mutating admission webhook when update a cr"
https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client#example-Client-Update

[code]

How can i skip mutating admission webhook when updating a CR ?

[2020-10-15 11:43] mittachaitu commented on #702
Is there any specific reason to add [this](https://github.com/kubernetes-sigs/controller-runtime/blob/f52b6180d515bca5f8faa551c3784fee5ce89a83/pkg/client/fake/client.go#L199) check?

[2020-10-15 14:56] alvaroaleman commented on #702
I think now that we changed the interface of `List` to  take an `client.ObjectList` as second argument instead of a `runtime.Object` we can remove that check. Alternatively, we can skip the check if the incoming type is an `*unstructured.UnstructuredList`

[2020-10-17 16:48] alvaroaleman opened #1219 "Allow configuring a cache sync timeout"
Currently when a cache can not be synced (for example due to misconfigured rbac) the `Controller` will just block indefinitely/until the binary gets stopped: https://github.com/kubernetes-sigs/controller-runtime/blob/5c2b42d0dfe264fe1a187dcb11f384c0d193c042/pkg/internal/controller/controller.go#L172

As an author of controllers I want to configure a timeout for this and want my `Controller` to err

[2020-10-18 10:28] dsbrng25b commented on #1156
How does your code look like?

[2020-10-18 12:24] camilamacedo86 commented on #1156
I understand that because of the cache the WACTH permission/verb is required.

[2020-10-19 03:47] coderanger commented on #1156
This is indeed normal and expected. If you want to make an uncached request, you can make a new client object instead.

[2020-10-19 08:08] dsbrng25b commented on #1169
What do you consider as an invalid certificate? I think for the webhook server the certificate is valid, but either the API server does not trust the wehbook servers certificate or provides a client certificate which the webhook server does not accept.

Have you configured the appropriate CA in your ValidatingWebhookConfiguration (caBundle) or in your API server?
Do you set ClientCAName in your We

[2020-10-19 08:49] kapilpau commented on #1156
@coderanger can we do that from the existing client?

[2020-10-19 09:40] SrishT commented on #1169
I have added the following annotation within the manifest for the `ValidatingWebhookConfiguration` resource
[code]
I am configuring a self-signed certificate and adding this annotation, but the kube api-server does not seem to trust this certificate because of which my operator logs are filled with these messages
[code]
Is there a way to remedy this?

[2020-10-19 11:01] rickysway opened #1220 "client.Get() requires `list` permission"
[code]
When trying to call client.Get() without `list` permissions results in the error:
[code]
Why does a client.Get() require `get`, `list` and `watch` permissions instead of only just `get`?

[2020-10-19 13:35] alvaroaleman commented on #1220
@rickysway see the docs on `manager.GetClient` and `options.NewClient` in the [godocs](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Options)

[2020-10-19 14:12] vincepri commented on #1219
/help
/milestone v0.7.x

[2020-10-20 07:35] elanv opened #1221 "Support controller history management via ControllerRevision for the feautres such as rollback and revision change."
Several native k8s controllers such as `DaemonSet` and `StatefulSet` manage its resource revision history via `ControllerRevision`. It would also be useful for custom resources if history management feature could be applied easily. I have implemented history management with `ControllerRevision` in flink-operator for `FlinkCluster` custom resource [(link)](https://github.com/GoogleCloudPlatform/fli

[2020-10-20 07:44] dsbrng25b commented on #1169
Is the cert-manager running without errors? Got the caBundle injected into your `ValidatingWebhookConfiguration`?

[2020-10-20 07:59] dsbrng25b commented on #1156
I think you get this error already during startup and not really on the client.Get() call. If you create a controller for certain resources, it is normal that the controller manager starts to watch and list all resources that it can start the reconciliation if a resource changes (create/update/delete).
If you don't have a controller for that resource (which means no watch) you should be able to ru

[2020-10-20 08:13] dsbrng25b commented on #1220
Does this error really occur during on the client.Get() call and not already during startup? Because soon as you use ctrl.NewControllerManagedBy(mgr) with For() or Owns() or a Watch() on the controller, the manager wants to list and watch this resource to get notified on changes (https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes).

[2020-10-20 10:34] ktravis commented on #1191
I was also facing this issue without much indication what the problem was - I think I've just realized the problem, maybe someone can correct me if I have it wrong:

You are registering the object types with your `scheme.Scheme`, but there is nothing telling the (test) apiserver about the CRD itself. kubebuilder bootstraps a snippet that loads the CRDs you are defining and testing directly:

https

[2020-10-20 15:45] akutz opened #1222 "Support APIReader/NoCache option for ControllerUtil.CreateOr(Update|Patch) functions to avoid OOM errors"
# Use Case(s)

As a Developer,
I would like to use [`controllerutil.CreateOrUpdate`](https://github.com/kubernetes-sigs/controller-runtime/blob/5c2b42d0dfe264fe1a187dcb11f384c0d193c042/pkg/controller/controllerutil/controllerutil.go#L190-L229) and/or [`controllerutil.CreateOrPatch`](https://github.com/kubernetes-sigs/controller-runtime/blob/5c2b42d0dfe264fe1a187dcb11f384c0d193c042/pkg/controller/c

[2020-10-20 16:06] vincepri commented on #1222
Would it make sense to have an option for the client to ignore cached reads?

[2020-10-20 17:11] dsbrng25b commented on #1220
Ok, I am probably wrong. If I understood #1222 correctly it seems that if you use Get or List on a resource for the first time it automatically gets added to the the informers which means it starts to watch that resource.

[2020-10-20 17:13] dsbrng25b commented on #1156
Ok, I am probably wrong. If I understood #1222 correctly it seems that if you use Get or List on a resource for the first time it automatically gets added to the the informers which means it starts to watch that resource.

[2020-10-20 17:59] dsbrng25b commented on #1222
I'm surprised by how the default `client.Client` behaves. I have assumed that only resources get cached (watched) for which we explicitly call `controller.Watch`, `Builder.Watches`, `Builder.For`, `Builder.Owns` or similar.
For me the expected behavior for the default `client.Client` would be to serve a resource on `Get` or `List` from the cache if it is in the cache and otherwise get it from the

[2020-10-20 18:20] adrianludwin commented on #1172
Hi, any chance we'll be able to get a fix for this on the v0.6 branch? Thanks!

[2020-10-20 21:06] #1159 closed

[2020-10-21 00:01] akutz commented on #1222
Hi @dsbrng25b ,

I thought the same as well, but then I realized that it doesn't make much sense to have any objects cached for which there aren't informers. Otherwise you may be getting stale data. And if you cache upon a get call, wouldn't a subsequent get just cache it again? Anyway, I _get_ (pun intended) why they added implicit watches, but at the same time, I also agree this type of behavior

[2020-10-21 03:25] alvaroaleman commented on #1222
The behavior of the cache is indeed a debatable thing (in both directions). So far, no one bothered to start that discussion :upside_down_face:

As for the problem at hand, I don't think its possible to change any about this is `CreateOr{Patch,Update}`. They get a client, they use it.

You might be able to solve your problem by overriding the [`NewClient`](https://github.com/kubernetes-sigs/contro

[2020-10-21 03:55] timchenxiaoyu opened #1223 "patch 415 err"
[code]
return  415: Unsupported Media Type

[code]

[2020-10-21 03:56] timchenxiaoyu commented on #1223
k8s.io/client-go v0.0.0-20190918160344-1fbdaa4c8d90
sigs.k8s.io/controller-runtime v0.4.0
k8s :v1.18.0

[2020-10-21 08:39] DiveInto commented on #780
see the same error when trying to add a webhook for native k8s resource in a KubeBuilder project:

and figured out why.

tldr: move the webhook file out of your kubebuilder CRD dir: ./api/_your-crd-version_

The error is generated by `controller-gen` when running `make run`, simply run

[code]

to reproducer the error.

It tries to generate code containing DeepCopy, DeepCopyInto, and DeepCopyObjec

[2020-10-21 09:57] kapilpau commented on #1156
How can we prevent this? We want to be able to get an object by name without having watch permissions but currently cannot do that

[2020-10-21 10:01] JoelSpeed commented on #1007
/remove-lifecycle stale

I still think we should do this at some point

[2020-10-21 10:01] JoelSpeed commented on #933
/remove-lifecycle stale

I'm hoping to get to this soon

[2020-10-21 10:13] coderanger commented on #1156
Use a non-caching client. Right now you, somewhere, have some code like `Client: mgr.GetClient()`. Change that to more like `Client: client.New(mgr.GetConfig(), client.Options{Scheme: mgr.GetScheme(), Mapper: mgr.GetRESTMapper()})`. That will give you a non-cached client. Just keep in mind that means you lose the benefits of caching. And of course you need watch permissions on anything in a `For()

[2020-10-21 16:23] camilamacedo86 commented on #1006
Hi @morvencao,

The MultiNamespacedCacheBuilder is only useful when you want to cache in the Manager a List of namespaces. If you want to use 1 or ALL then you should not use it. You can check its doc:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/multi_namespace_cache.go#L37-L41

Also, to know how to use it see: https://book.kubebuilder.io/cronjob-tutorial/empty-mai

[2020-10-21 16:23] #1006 closed

[2020-10-21 17:29] akutz commented on #1222
Sort of like...

![image](https://user-images.githubusercontent.com/101085/96755912-ec93d480-1398-11eb-9250-fd5b40593f83.png)

What do they say about crazy minds thinking alike? :)

[2020-10-21 19:47] akutz commented on #1222
At minimum @alvaroaleman, I think we should do a better job of highlighting this behavior in documentation. It was completely unexpected, and while I understand the reasons, we should make sure others are aware of the design and how to mitigate/work-around concerns/situations similar to what I've outlined in this issue.