[2021-05-19 23:03] jdef commented on #1384
/remove-lifecycle stale

On Wed, May 19, 2021, 5:24 PM fejta-bot ***@***.***> wrote:

[2021-05-20 02:33] salaxander opened #1534 "Support steadily increasing `RequeueAfter`"
Hey folks! I've got a feature request that I'm happy to help implement! I'm opening this to discuss the design and get people's thoughts on the idea :)

Currently, the `Result` a reconcile returns looks like this.
[code]

What I'm proposing is adding something to the effect of:
[code]

This would be super helpful to prevent objects from getting trapped in a frequent requeue. What I haven't figured

[2021-05-20 02:34] coderanger commented on #1534
This is already what happens when you use `Requeue: True`. There is a combo token-bucket/exponential backoff system baked into the workqueue library we use under the hood. That is activated either on `Requeue` or when returning an error.

[2021-05-20 02:36] salaxander commented on #1534
Well that's wildly cool and I had no idea! Thanks!!

[2021-05-20 02:36] #1534 closed

[2021-05-20 05:07] cndoit18 commented on #1517
I agree with this decision. thank you

[2021-05-20 05:18] cndoit18 commented on #1517
You can add GVK in this way
[code]

[2021-05-20 05:20] cndoit18 commented on #1517
This issue seems to be closed, WDYT @alvaroaleman

[2021-05-20 20:22] dimitarKiryakov commented on #1454
Is this resolved by https://github.com/kubernetes-sigs/controller-runtime/pull/1249 ?

[2021-05-21 02:46] #1530 closed

[2021-05-21 11:59] denist-huma commented on #1529
Hey @coderanger
Thank you for correcting me. Yes, I didn't have clue that envtest don't have any kind of internal cluster.

[2021-05-21 11:59] #1529 closed

[2021-05-21 14:31] alvaroaleman commented on #1454
No, #1249 is about explicitly opting out, this issue is about not implicitly creating caches by default.

[2021-05-21 19:35] gohilankit opened #1538 "Is release v0.8.3 compatible with k8s 1.21?"
I'm trying to update kubernetes framework dependencies in my project to 1.21.

Here's what my go.mod looks like:
[code]

If I try to build this, I get the below error:
[code]

Please note earlier we were using 0.8.3 with k8s 0.20.5 modules. But looks like it's not compatible with 0.21.x modules for different k8s components.

But using controller-runtime [v0.9.0-beta.5](https://github.com/kubernete

[2021-05-21 21:01] gohilankit commented on #1538
Looks like it's not compatible with `client-go v0.21.x`.

[2021-05-21 21:41] coderanger commented on #1356
You need to use Unstructured with server side apply (or, in the future, the typed apply builders). Otherwise you get zero value field issues such as this.

/close

[2021-05-21 21:41] #1356 closed

[2021-05-23 16:21] alvaroaleman commented on #1538
No, it is not.

[2021-05-23 16:21] #1538 closed

[2021-05-23 19:14] coderanger commented on #1538
Just for very slight clarification, we are not compatible with client-go 0.21 however the Kubernetes API is forward as well as backward compatible so you can use controller-runtime with Kubernetes 1.21 itself.

[2021-05-24 18:43] gohilankit commented on #1538
Thanks for clarifying @alvaroaleman and @coderanger . Is there any tentative date to officially release v0.9.0 (which is compatible with client-go 0.21) ?

[2021-05-24 18:55] #1496 closed

[2021-05-25 18:19] mattysweeps commented on #1319
/remove-lifecycle rotten

[2021-05-26 08:59] timebertt commented on #1356
Ref https://github.com/kubernetes/kubernetes/pull/100032

[2021-05-26 16:11] avrahams commented on #1191
Thank you @mpreu this worked

[2021-05-26 19:04] #855 closed

[2021-05-30 04:39] MadhavJivrajani commented on #933
/remove-lifecycle rotten

[2021-05-30 21:09] coderanger commented on #265
/close

Wow I had forgotten I wrote this :)

[2021-05-30 21:09] #265 closed

[2021-05-31 13:34] mjaow opened #1543 "Get with resouce not found right after creating it successfully?"
Found it quite weird scenerio, it seems a bug

1. create crd A if not exists
2. then get crd A to see latest status of A
3. if status of A is ready, go to 4; if status of A is not ready, go to 1
4. create crd B/C/D

In my scenerio, 1 succeed, but 2 failed with resource A not found. After quite a short time ( just the second round try),  2 succeed.

It seems there is a delay from creating it succes

[2021-05-31 13:35] mjaow commented on #1543
/kind bug

[2021-05-31 13:43] mjaow commented on #1543
same with https://github.com/kubernetes-sigs/controller-runtime/issues/343

[2021-05-31 13:43] #1543 closed

[2021-06-01 09:33] iutx opened #1544 "[Question] Use client to instead client-go"
I want to instead controller-runtime/client to instead client-go to operate kubernetes and crd resource.
But i can't find watch interface
How can i watch resource change
Thanks

[2021-06-01 09:41] coderanger commented on #1544
You pretty much have to use the c-r client. I guess there's nothing stopping you from setting up your own client-go client from scratch but you're not going to find any particular help, you just have to do it as if you weren't using controller-runtime in the first place (modulo maybe using the GetConfig() helper on the manager). There is no direct access to the underlying informers, those are abst

[2021-06-01 17:12] DirectXMan12 opened #1545 "Ginkgo v2 migration"
Ginkgo has started warning about the Ginkgo v2 upgrade, which deprecates the `done` argument to tests (the suggestion is to use `Eventually` and such).  We should look at migrating our tests over.

/help

[2021-06-01 21:21] #1357 closed

[2021-06-02 16:56] chrischdi commented on #1396
/remove-lifecycle stale

[2021-06-03 00:24] nathanperkins opened #1546 "envtest.Environment.Start() should fail when CRDDirectoryPaths has dir that does not exist"
When envtest.Environment.Start() is called on an Environment that has CRDDirectoryPaths set. It should fail and log if any of the directories do not exist.

Currently, it proceeds without adding any CRDs and then fails with an error about a random CRD when the manager is started.

[2021-06-03 01:44] iutx commented on #1544
we use Clientset and c-r client to operator kubernetes resources.
Clinset operate kubernetes native resource.
c-r client operate CRD resource and kubernetes native resource, but doesn't provide watch.

[2021-06-03 01:45] #1544 closed

[2021-06-03 20:16] kotyara85 opened #1547 "Custom metrics dissappear"
Hey there,
I do export custom metrics (registered clusters)
[code]
I add it later during reconciliation
[code]

Looks like after some time that metrics disappears (~120 entries). Is there some max number of lines prometheus metrics endpoint can export?

Restarting the operator fixes the problem

Thanks

[2021-06-03 20:27] coderanger commented on #1547
Without actually checking if it caps label cardinality, you definitely shouldn't be doing that anyway. Best case it is saving you from yourself :) Don't use labels that vary with user input.

[2021-06-03 21:00] kotyara85 commented on #1547
Em, labels are actually static. api.Clusters is const

[2021-06-03 21:07] #873 closed

[2021-06-03 21:23] coderanger commented on #873
This was implemented in #802 which I think was merged before this was even opened?

[2021-06-04 17:11] #1316 closed

[2021-06-04 18:11] #1317 closed

[2021-06-04 21:36] xunleii commented on #1511
Hello, I don't know if I do something wrong or if it's another issue, but I think we can easily reach this issue using the [following example](https://replit.com/@AlexandreNICOL1/httpsgithubcomkubernetes-sigscontroller-runtime1511#main.go) :

[code]

I also found that the tests seem not testing the case when tracked objects by the client are `unstructured.Unstructured`; [sigs.k8s.io/controller-run

[2021-06-07 07:50] pigletfly commented on #1221
/reopen

[2021-06-07 07:51] pigletfly commented on #1221
can we reopen this issue ?

[2021-06-07 07:55] coderanger commented on #1221
@pigletfly I don't think there's anything generic we could do. I would recommend building the feature as a library to prove out the API and if it looks useful to a wide enough range of use cases we can look at moving it upstream.

[2021-06-07 08:28] pigletfly commented on #1221
Agreed.It requires a `RevisionHistoryLimit` in a CRD.Could we add these ControllerRevision related functions in `controllerutil`?

[2021-06-07 09:00] elanv commented on #1221
/reopen

[2021-06-07 09:17] elanv commented on #1221
Work on this issue is almost done with the Flink operator.
I think we just need to port the code to controller-runtime.
If you think it's okay, I'll make a PR with the code added to controllerutil.

[2021-06-07 09:21] elanv commented on #1221
/remove-lifecycle rotten

[2021-06-07 09:34] shirleyyLi opened #1549 "[Feature Request]To know the process status"
**Describe the feature request**
In our project, we are using kubebuilder reconcile to filter some pods in the Kubernetes and store them in the cache. At the same time, we provide another service according to this cache. Every time we start the project, it will rebuild the cache. But we don't know when the cache is complete. If the events are stacked in the queue, the cache is incomplete and our s

[2021-06-07 09:45] coderanger commented on #1221
I don’t think this is broadly applicable enough to land in controllerutil without getting it in the wild first and seeing how people like it. So I would make your own separate library with the related code and let the API evolve a bit there before we consider it for a util module here.

[2021-06-07 13:50] alvaroaleman commented on #1511
There are, for example https://github.com/kubernetes-sigs/controller-runtime/blob/fca94d5ab22dfccc576140375042c45298ebbc4b/pkg/client/fake/client_test.go#L124 (But there are plenty more in that file)

If you can provide a fix together with a testcase that demonstonstrates the issue (i.E. doesn't pass right now) we'd be happy to take it. If you don't have a fix but a testcase, that might also help

[2021-06-07 20:08] xunleii commented on #1511
Thanks for your response.

Sorry, I misspoke; I wanted to talk about listing unstructured objects and not listing _using_ unstructured objects.

I can provide a testcase that could demonstrates the issue: https://github.com/kubernetes-sigs/controller-runtime/compare/master...xunleii:issues/1511-no-assign-or-convert-on-unstructured, but I don't know if this test is enough.

About the fix, I will pr

[2021-06-07 20:18] alvaroaleman commented on #1511
So what doesn't work is listing an object that is registered in the scheme after it was created through unstructured? If yes yeah, sounds like a bug (although it is slightly questionable why you are using `unstructured.Unstructured` for an object that is registered in the scheme/whose go types you have?)

[2021-06-07 20:47] xunleii commented on #1511
Yep, that is it.

I know, it is a bit weird to do that. I have this case for a testing library using human readable sentences (Gherkin in my case): in order to create/read/update/delete Kubernetes resources (like we do with API) in a generic way and with less code as possible, I use `unstructured.Unstructured` for all objects. _For example `When Kubernetes creates a new v1/Service 'default/test'`

[2021-06-07 22:43] stevekuznetsov commented on #1420
/remove-lifecycle stale

[2021-06-09 02:45] alvaroaleman commented on #1431
Fixed by https://github.com/kubernetes-sigs/controller-runtime/pull/1548

[2021-06-09 02:45] #1431 closed

[2021-06-09 06:44] micnncim opened #1553 "Add interface and/or utility for Event"
[sigs.k8s.io/controller-runtime/pkg/event](https://github.com/kubernetes-sigs/controller-runtime/blob/fbf50b04fe17b0f091430d22557245d2aedabfd4/pkg/event/event.go) has several event types as structs, that is, `CreateEvent`, `UpdateEvent`, `DeleteEvent`, and `GenericEvent`.

It'd be helpful if the package provides some abstraction or utilities for such event types. For example, a function that retur

[2021-06-09 06:59] coderanger commented on #1553
Unfortunately I don't think this is possible given that Update events get two objects. I'm also not really sure how this is useful overall? We already have EnqueueRequestsFromMapFunc which I think is similar to what you're describing.

[2021-06-09 13:25] alvaroaleman commented on #1553
That is pretty vague. As @coderanger mentioned if you just want a mapper that doesn't care about event types, there is `EnqueueRequestsFromMapFunc`. If you care about event types, there is Funcs. If neither of these work well for you, please describe why.

[2021-06-09 18:25] rpieczon opened #1554 "Support one2many conversions"
I am trying to convert one version of CRD to another one. As I see conversion webhook supports one2one conversion type.
In my case old asset has to be converted into one or more instances of new assets. Is there any pattern which I can follow?
If no, is there any chance to add support for mentioned converions(one2many)?

[2021-06-12 09:08] micnncim commented on #1553
Thanks, `EnqueueRequestsFromMapFunc` is suitable for my use case.

[2021-06-12 11:43] alvaroaleman commented on #1553
Closing this issue then, feel free to reopen if that is premature :)

[2021-06-12 11:43] #1553 closed

[2021-06-13 19:07] #1020 closed

[2021-06-15 15:32] akafazov opened #1557 "Using envtest to start multiple control planes"
In my test scenario, I am creating an operator which monitors CRD on the cluster where the controller is running, but also connects to external API servers by creating additional managers and controllers, one for each new API server. I want to use envtest to simulate those API servers, but the issue I am running into is I don't know how to change the number of Nodes in the external clusters, becau

[2021-06-16 17:08] vincepri commented on #1407
/close

This has been fixed in v0.9

[2021-06-16 17:08] #1407 closed

[2021-06-17 02:01] christopherhein commented on #1385
/remove-lifecycle stale

[2021-06-17 08:44] timebertt commented on #1448
[here](https://github.com/gardener/gardener/blob/db7118fe6a9072e462b32fe9aea92bdc11c88bf2/pkg/envtest/aggregator.go#L35) is an updated example for how to configure the aggregation layer in envtest with controller-runtime@v0.9.0 and #1541.
It generates dedicated front-proxy CA/cert/key and configures the respective API server flags.

[2021-06-17 16:37] micnncim opened #1558 "Support URLs in envtest.CRDInstallOptions"
Currently, CRDInstallOptions only supports local filepaths and directories, so I need to store some remote manifests, my controller depends on, in local for testing.

https://github.com/kubernetes-sigs/controller-runtime/blob/v0.9.0/pkg/envtest/crd.go#L61-L62

It would be nice to support URLs in CRDInstallOptions like kubectl and Kustomize.

[2021-06-18 10:15] micnncim opened #1559 "Provide assets for Kubernetes 1.18 in setup-envtest"
Looking over the available Kubernetes version via `setup-envtest`, I've not found GCS objects for Kubernetes 1.18. Do you plan to provide 1.18? I'm not sure I should have posted this in https://github.com/kubernetes-sigs/kubebuilder.

[code]

[code]

[2021-06-20 05:07] micnncim commented on #1558
/kind feature

[2021-06-20 07:51] #1311 closed

[2021-06-21 17:40] varshaprasad96 opened #1560 "Use of Kubectl binary in envtest setup"
This is the issue being faced while bumping controller-runtime to 0.9.0 in [Kubebuilder declarative pattern](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern). The test involves starting an envtest environment, and using `kubectl` to create objects. [This](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/e6162cff6ff740098ff7cee89841541e4acf68f0/pkg/patterns

[2021-06-21 17:47] coderanger commented on #1560
Recent versions of kube-apiserver removed support for the old "insecure" port and so it is no longer available. Deeper question is why are you calling out to `kubectl` instead of using Go code? This is probably fixable but I think it would be in that test case, not in c-r. You would need to generate a full kubeconfig file using the data in the provided RESTConfig object.

[2021-06-21 18:02] varshaprasad96 commented on #1560
The test case could be re written using go-client, but it would require refactoring given that there is a lot of back and forth required to change the object types from JSON to custom types defined in kb-declarative pattern. If moving to go client is not the only option, that can be done in a follow up I suppose.

Could you elaborate more on generating a full kubeconfig file? When there is no addi

[2021-06-21 18:09] coderanger commented on #1560
The return value of `Start()` is a [`rest.Config`](https://pkg.go.dev/k8s.io/client-go/rest#Config) struct. You're pulling the `Host` value out of that and passing it to kubectl. That used to work because you were using the insecure port (http rather than https) so it was the only value that mattered. There is also a `CAData` field in there with the self-signed cert that you need to trust. The pro

[2021-06-22 10:19] JoelSpeed commented on #1007
/remove-lifecycle rotten

Still think this is useful, this came up recently in a Cluster API conversation about Kube RBAC proxy (which is where this originally came from as well)

[2021-06-22 17:12] varshaprasad96 commented on #1560
Ah, got it! Thanks for the explanation @coderanger !
@atoato88 helped in fixing the issue in kb-declarative-pattern PR. Since its fixed, I'm closing the issue.

[2021-06-22 17:12] #1560 closed

[2021-06-22 21:54] m-yosefpor opened #1568 "Trigger reconcile on events of cluster-scoped objects created by a namespaced CR."
## Feature Request

#### Describe the problem you need a feature to resolve.

Consider the following example:

[code]

This controller watches events of a CR named `somev1alpha1.NamespacedCR`, and trigger the Reconcile logic.
In Reconcile, we create some cluster-scoped objects corresponding to this CR, named `somev1alpha1.ClusterScopedCR`.

Now if:
NamespacedCR is created -> ClusterScopedCR is cre

[2021-06-23 09:28] zroubalik commented on #172
/remove-lifecycle stale.

[2021-06-23 23:25] #1257 closed

[2021-06-24 03:32] MadhavJivrajani opened #1569 "Retaining LGTM through squashes"
Hi!

After https://github.com/kubernetes/kubernetes/issues/103096, `k/k` will retain `lgtm` through commit squashes. This has been brought up on contribex on slack as well and there doesn't seem to be any objection to this. Considering the process advantage that this provides, would `controller-runtime` prefer having this as well?

Thank you!

cc @vincepri @alvaroaleman

[2021-06-24 09:31] #1328 closed

[2021-06-24 13:31] #1349 closed

[2021-06-26 13:11] jdef commented on #1426
/remove-lifecycle stale

On Sat, Jun 26, 2021 at 8:50 AM fejta-bot ***@***.***> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2021-06-26 21:49] coderanger commented on #1426
I think we can close this out, no one on the controller-runtime side has agreed to maintain this and that seems unlikely to change.

/close

[2021-06-26 21:49] #1426 closed

[2021-06-27 14:54] #1363 closed

[2021-06-27 19:28] MadhavJivrajani commented on #1416
/remove-lifecycle stale

[2021-06-27 19:47] MadhavJivrajani commented on #1416
Hey @camilamacedo86! Thanks for attaching that blog post, it was very helpful and informative. However from what I understand, it *is* possible to have two or more loops handling the same object due to the work queue implementation? And considering the `dirty` and `processing` structures, not sure if the same object can actually be handled by two separate loops at the same time. Please correct me

[2021-06-27 21:54] #1280 closed

[2021-06-29 01:42] ysksuzuki opened #1571 "Timeout waiting for process kube-apiserver to stop"
#### What happened:

`envtest.Environment.Stop()` raises the error `timeout waiting for process kube-apiserver to stop` with kube-apiserver 1.21.2 that set up using `setup-envtest use -p env`.

[code]

#### How to reproduce it (as minimally and precisely as possible):

Run [this envtest](https://github.com/cybozu-go/coil/blob/main/v2/Makefile#L36) with kube-apiserver 1.21.2.

#### Environment:

-

[2021-06-29 15:38] shashankram commented on #1458
I am pretty much looking for the same thing, as we have a lot of test code leveraging client-go's fake clientset, from which informers and caches are derived. I am interested in using some of the abstractions provided by controller-runtime's cache pkg, however unit testing with it is not as flexible as with client-go's fakes.

[2021-06-29 15:39] shashankram commented on #1458
/remove-lifecycle stale

[2021-06-29 15:49] shashankram opened #1572 "Using client-go's fake clientset with controller-runtime"
I am exploring the usage of controller-runtime for the client caches and informers functionality, which provides some abstractions that allow informers for different API resources to be bootstrapped in a generic manner, using https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/cache.go.

The problem is that a lot of our code is using client-go's fake clientset for testing,

[2021-06-29 19:13] roee88 commented on #1456
I have the same question.

Typically only one replica is active at a time (leader election). For scaling horizontally we need multiple replicas handling different requests (concurrently). Just disabling leader election isn't enough because it won't spread the work between replicas. The question is whether there is a recommended way to support horizontal scaling correctly and efficiently. I was thi

[2021-06-29 19:18] alvaroaleman commented on #1569
I don't really care one way or another, ppl usually either know to squash or I apply the tide mergemethod label so it gets merged on squash

[2021-06-29 23:59] vincent-pli commented on #1456
@roee88
Exactly right, I hear of `knative/pkg` has some experimental and research on such topic, so I wonder to know if `ccontroller-runtime` has similar topic.

[2021-06-30 00:25] coderanger commented on #1456
We haven't really seen a case in the wild where a controller needed parallelism across multiple managers to reach usable performance. Sort of by definition the actions a controller is taking should be very fast. And we already support local concurrency (multiple worker goroutines within a single manager) via simple configuration options. Anything making so many object changes that no one node coul

[2021-06-30 14:56] toninis opened #1575 "Create a FinalizerUnChangedPredicate"
When you add finalizers in your custom CRD generation is changing and object is reconciled again and it is rather confusing.
I created a predicate to avoid this situation to work in conjuction with `GenerationChangedPredicate` .

[code]

Do you think this is something that should be provided alongside with the other predicates ?

[2021-06-30 18:21] rashmigottipati commented on #1453
Implemented and merged the finalizer helper library in https://github.com/kubernetes-sigs/controller-runtime/pull/1481.
Closing this issue.

[2021-06-30 18:21] #1453 closed

[2021-07-01 06:55] niuyueyang1996 opened #1576 "when i use mgr.GetEventRecorderFor will send event multiple times"

[2021-07-01 07:12] niuyueyang1996 commented on #1576
when i set EventBroadcaster

cluster.go  manager.go

setOptionsDefaults(options)

will use same EventBroadcaster to makeBroadcaster()

then NewResourceLock will use manager.go's recorderProvider to  GetEventRecorderFor

when i use manager.GetEventRecorderFor will use cluster.go's recorderProvider

use diff recorderProvider and same EventBroadcaster

[code]

broadcasterOnce is not effective
[code]

[2021-07-03 11:42] #1366 closed

[2021-07-04 22:51] #1369 closed

[2021-07-06 15:02] vincepri commented on #1433
/lifecycle frozen

[2021-07-06 18:53] MadhavJivrajani commented on #1442
/assign

[2021-07-07 08:34] ClemOzil opened #1581 "Filtering on metadata.deletionTimestamp with client.List and ListOptions"
Hello everybody,

I need to list every pods that are not in "Terminating". One of my problem is that those pods still have "status.Phase == Running", I need to check their deletionTimestamp to be able to detect them.

According to this thread (and my personnal experience) (https://github.com/kubernetes/kubectl/issues/450) we also can’t use the FieldSelector on the deletionTimestamp field.

This so

[2021-07-07 08:46] coderanger commented on #1581
https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup shows how to set up a field indexer which can index whatever behavior you want. You can use that with List.

[2021-07-07 09:48] ClemOzil commented on #1581
Thanks a lot, it works great !

Had a little bit of trouble at first since the client cache was disabled for pods. Enabling it doesn't seem to break anything right now.

[2021-07-07 09:48] #1581 closed

[2021-07-08 05:30] dee0 opened #1583 "Improved support for deleteFromPrimitiveList?"
Have been looking into the right way to remove my finalizer.    Based on what I see in the kubernetes docs and testing it looks like the right way to do this if using kubectl is to run
kubectl patch myresourcekind myresource --patch "$(cat patch-file-delete.yaml)"
where patch-file-delete.yaml is something like
metadata:
  $deleteFromPrimitiveList/finalizers:
    - mycontroller/myfinalizer

Searchi

[2021-07-08 22:15] sujil02 opened #1585 "Add CreateIfNotExists variants to controller-runtime"
RedHat-cop/operator-utils contains the following issue is to discuss which CreateIfNotExists variants need to be added to controller-runtime

- CreateResourceIfNotExists (https://github.com/redhat-cop/operator-utils/blob/75089bea4883053f0266aca5cff8d2216c702d41/pkg/util/reconciler.go#L280)
- (CreateResourceIfNotExists) https://github.com/redhat-cop/operator-utils/blob/75089bea4883053f0266aca5cff8d

[2021-07-08 22:18] #1585 closed

[2021-07-09 14:32] 2uasimojo commented on #1423
/remove-lifecycle stale

I'd like to reopen this discussion. IIUC:
- The current metric is untenable for hive's use case.
- The current metric is deprecated/hidden in kube. (I'm not actually sure what that means -- does it mean that c-r is sending that data into a black hole where it's still taking up space but can't be scraped anyway?)
- It is possible to implement a similar metric that meets nee

[2021-07-09 15:00] alvaroaleman commented on #1423
Yeah, lets remove it for now. We don't have a good way to find out if anyone cares about it.

[2021-07-09 15:03] 2uasimojo commented on #1423
Cool, thanks @alvaroaleman: #1586.

[2021-07-09 16:52] #1423 closed

[2021-07-10 03:56] jmrodri opened #1590 "Introduce a dynamic multi-namespace cache"
The DynamicMultinamespacedCache will dynamically create a cache for a given namespace on demand. Like the MultinamespacedCache, it supports cluster and namespaced resources. It also able to handle permissions granted after starting the cache, being able to create more caches on demand hence the dynamic nature. The DynamicMultinamespacedCache uses the MultinamespacedCache underneath.

Update:
We ha

[2021-07-10 03:56] jmrodri commented on #1590
/cc @varshaprasad96 @estroz @joelanford

[2021-07-12 22:55] chunter0 opened #1592 "How to run "envtest" with provided root cert/key?"
I'm trying to test a service that can create admin credentials for a user within a cluster and I'm hoping to test this use case with envtest package. But so far I've been unsuccessful. Currently, when an envtest.Environment is started by default all the required certs are generated and passed to a temporary CertDir directory. Since the rootCA Key is not in that directory I was hoping I could pass

[2021-07-13 03:38] coderanger commented on #1592
I think this is probably out of scope for envtest. I would encourage you to use the "existing cluster" mode instead :)

[2021-07-13 04:24] chunter0 commented on #1592
Is this not possible at all today? I'm hoping to use envtest because I only need a few components from k8s and envtest allows me quickly spin up just those components

[2021-07-13 12:35] chunter0 commented on #1592
Seems like it would be simple to pass back the private key from the generated self-signed cert here to support this

https://github.com/kubernetes-sigs/controller-runtime/blob/8b55f85c90c3b1df1af58ddb7fe50096fdc7aa99/pkg/internal/testing/certs/tinyca.go#L94

[2021-07-13 22:07] coderanger commented on #1592
@chunter0 This is a super niche need so I don't think we would want to support it in envtest. You can use something like k3s or Kind with "existing cluster" mode to get full control over the cluster configuration.

[2021-07-14 16:17] joelanford commented on #1590
I think there may be _some_ overlap with https://github.com/kubernetes-sigs/controller-runtime/pull/1192

In the scenario where a DynamicMultinamespaceCache is used to watch secondary objects in a namespace based on the presence of a primary object in that namespace, it would be useful for the DynamicMultinamespaceCache to be able to stop caches and free memory in namespaces it detects no longer n

[2021-07-15 23:21] therealmitchconnors opened #1594 "RateLimitingQueue + BucketRateLimiter = unexpected Exponential Backoff"
When a RateLimitingQueue is composed using a BucketRateLimiter (with burst = 1), the expected behavior under load is a fairly monotonous period between calls to Get() returning.  However, when overloaded with identical items, the Queue exhibits something like exponential backoff, which can cause a controller to wait hours or days between Reconciles unintentionally.

To reproduce, create a RateLimi

[2021-07-16 01:49] pigletfly commented on #1462
FYI https://kubernetes.io/docs/reference/using-api/deprecation-guide/#event-v125

[2021-07-16 08:20] Szymongib commented on #1572
Perhaps this is something you might want to look at https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/fake/client.go#L68

[2021-07-16 14:00] alvaroaleman commented on #1462
Feel free to pick this up @everyone who is interested. V1 is available since 1.8 according to the kep, so v1 should work for everyone (Modulo RBAC which will likely make this a breaking change).

[2021-07-16 14:08] alvaroaleman commented on #1590
Can you give a concrete example on how someone would make use of this, i.E. how does the controller get to know about the additional namespace(s)? Also, if you want to dynamically add caches at runtime, you would also need to be able to remove them or not, otherwise this ends up being a very confusing UX for controller authors?

What keeps you from simply restarting the controller when changing it

[2021-07-18 04:15] #1386 closed

[2021-07-18 22:21] #1388 closed

[2021-07-19 07:28] coderanger commented on #1344
This is an intentional choice to keep the high-level interface simple. Drop down to the lower-level webhook API if you want to do fancy stuff.

/close

[2021-07-19 13:38] michael-db commented on #1344
As stated in the description, according to the documentation, "Mutating webhooks may choose to reject an object, similarly to a validating webhook." You can claim that the documentation is wrong instead of the functionality, but you cannot claim that there is nothing to fix.
https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/webhook/parser.go

/reopen

[2021-07-19 19:02] coderanger commented on #1344
There is a difference between the high-level `Default()` interface and mutating webhooks in general. You can write a low-level hook server implementation yourself which can send back any admission response it wants. See my https://github.com/coderanger/migrations-operator/blob/main/webhook/webhook.go for an example.

[2021-07-19 19:40] roee88 commented on #244
It seems like the current solution doesn't address the use case mentioned in
https://github.com/kubernetes-sigs/controller-runtime/issues/244#issuecomment-557656216.

It should be possible to create a namespace scoped client in ListFunc and WatchFunc if there is a field selector for `metadata.namespace` (vs the current logic of just looking at the global namespace field). Is that reasonable?

[2021-07-19 19:44] alvaroaleman commented on #244
@roee88 what was merged allows to set a FieldSelector so yes, this is possible

[2021-07-19 20:07] roee88 commented on #244
To clarify, I _suspect_ that without affecting the parameters to NamespaceIfScoped, the selector opts has no effect on the required rbac (cluster role bindings vs role bindings). For example here:

https://github.com/kubernetes-sigs/controller-runtime/blob/64b1c729991a0316f1500ce5fc52544cd86c5fce/pkg/cache/internal/informers_map.go#L282-L288

My question is whether changing the code here makes sen

[2021-07-19 20:14] alvaroaleman commented on #244
That sounds reasonable

[2021-07-20 05:57] michael-db commented on #1344
Thank you for the pointer. In my own code I worked around it as mentioned. I still think that this is something that should be fixed: preventing a mutating webhook from returning an error doesn't really make the interface simpler, so the reason for not aligning with the expectation is not at all compelling. However, if you want to close it go ahead - at least your link will be useful to anyone els

[2021-07-20 06:08] coderanger commented on #1344
/close

As I said, the high-level interfaces are intentionally kept very simple and do not cover all use cases. Notably you also can't use them with out-of-package types at all. The goal is to make the simple use cases _very_ simple not replace the actual admission webhook API.

[2021-07-20 06:08] #1344 closed

[2021-07-20 16:49] #723 closed

[2021-07-21 00:05] yongxiu commented on #1465
I also met this issue, curious which version did you upgrade to fixed this issue?

[2021-07-21 14:17] everpeace commented on #983
I'm closing this because it has been resolved by #1486

[2021-07-21 14:17] #983 closed

[2021-07-21 20:45] Porges opened #1599 "Parallel envtests getting stuck in flock"
Per [this comment](https://github.com/kubernetes-sigs/controller-runtime/pull/1563#issuecomment-884244169) (cc @vincepri). We recently updated to v0.9.2 and encountered test failures due to timeout where it looks like a goroutine is getting stuck trying to `flock` a file.

It seems that #1563 would be the culprit, and downgrading to v0.9.1 did allow our test run to pass.

At the moment we don’t li

[2021-07-21 21:06] vincepri commented on #1599
@Porges Does it work if you carry this patch with the non-blocking flag?

[code]

[2021-07-22 14:53] ccremer opened #1600 "How to find out which user created/updated an object when validating?"
Hi!
We are about to develop a validating admission webhook.
Whether creation and updates are allowed depends on who (which user or service account) has mutated a certain object.

How would that look with controller-runtime?
The default interface like the example below generated by Operator-SDK doesn't seem to expose possibilities to review the interacting.
[code]

[2021-07-23 06:32] LochanRn commented on #1505
@tahsinrahman I faced a similar issue, I needed the client in one of my webhook, I wrote a low level custom webhook with a very similar functionality to that of the existing one like it has the validator and defaulter interface with the client object passed in 😊

I changed the interface to something like this: https://github.com/spectrocloud/cluster-api-provider-azure/blob/d721b397f6c84d0225a6494f

[2021-07-23 09:42] strideynet commented on #1505
controller-runtime version. If yes can you elaborate a little please.

Including the client is exactly *what* makes it dependent on the controller-runtime version, since the client (and it's defined interface, and behaviour) is part of the controller-runtime. There isn't a way the client can be provided and it to not depend on the controller-runtime version.

In most cases, people are able to writ

[2021-07-23 14:39] alvaroaleman commented on #1505
Sorry, what I meant was that there are certain parts of apimachinery that are extremely stable like the metav1 package and others that are not.

@LochanRn what @strideynet wrote should answer your questions.

[2021-07-23 16:02] LochanRn commented on #1505
yup thanks ☺️

[2021-07-23 19:39] LochanRn commented on #1505
@alvaroaleman @strideynet
So I have a doubt is there a difference between the registering a webhook normally and registering it using hook server ?
Does hook-server implementation also make the api depend on the specific conntroller-runtime versions ?

[2021-07-23 21:20] alvaroaleman commented on #1505
Does hook-server implementation also make the api depend on the specific conntroller-runtime versions ?

One is defined in our api package, the other in a different package. The api package must not depend on frequently changing bits, or external consumption of it becomes a huge PITA. What the rest of your packages in the repo depend on doesn't matter, as they are not expected to be imported by ot

[2021-07-25 06:42] matancarmeli7 opened #1601 "suite_test.go fails with no error message | operator-sdk 1.19"
Hi,
I am trying to upgrade my operator-SDK version from 0.18 to 1.19, and the only problem that I have is in the unit tests section, the suite test stage is falling and I don't get any error, just that it failed.
When I intentionally create syntax errors I can see errors.
I know that it fails on the reconciler controller section because when I delete this section from the code, the suite test is p

[2021-07-26 09:32] #1601 closed

[2021-07-27 06:35] zroubalik commented on #172
/remove-lifecycle stale

[2021-07-27 06:48] invidian commented on #1376
/remove-lifecycle stale

[2021-07-27 18:35] howardjohn opened #1603 "Provide a truly lazy restmapper"
Currently, even the simplest controller (like https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/tokenreview/main.go#L40) will make a lot of API server calls at startup to setup the restmapping. In my relatively small cluster, this results in 75 API server calls which, with rate limiting, takes over 5s.

These calls are unnecessary in many cases - I don't need to get discov

[2021-07-27 21:29] #1599 closed

[2021-07-28 22:26] misterikkit opened #1607 "controller-runtime is broken by github.com/go-logr/logr v1.0.0"
If a project imports controller-runtime and also pulls in logr v1.0.0 (e.g. through a different dependency) then controller-runtime fails to compile. The error output is,

[code]

The breaking change in logr seems to be that `logr.Logger` is an interface in v0.4.0, renamed to `logr.LogSink`, and a new type `logr.Logger` is defined as a struct.

[2021-07-28 23:21] alvaroaleman commented on #1607
There is an open PR to bump the dependency in https://github.com/kubernetes-sigs/controller-runtime/pull/1593

I don't think we can support both logr v0.4.0 and v.1.00

[2021-07-28 23:33] misterikkit commented on #1607
@alvaroaleman Thanks for letting me know! I can't reasonably expect go modules to gracefully support a v0 -> v1 transition. If this were v1 -> v2 then we would have a different story.

[2021-07-29 01:53] RainbowMango commented on #1497
/close
since I've updated to v0.8.3.

[2021-07-29 01:53] #1497 closed

[2021-07-29 02:00] RainbowMango commented on #1498
/remove-lifecycle stale

[2021-07-29 03:44] wu-cl opened #1609 "Etcd needs extra env in ARM"
ETCD_UNSUPPORTED_ARCH=arm is necessary for etcd in ARM

[2021-07-29 16:23] stevenpitts opened #1610 "Add client-go relationship to FAQ"
As someone newly hearing about controller-runtime, and how this is something I might use instead of some client-go resources, my first question is about the relationship between controller-runtime and client-go.

* Is controller-runtime a (figurative) "wrapper" for client-go? `(no)`
* Is controller-runtime an "improved" client-go? `(basically)`
* Is controller-runtime to be used alongside client-g

[2021-07-29 16:58] #1405 closed

[2021-07-29 16:58] toumorokoshi opened #1611 "Design pattern for immediate triggering of referrer objects when referent changes?"
Hello,

## Problem Statement

I'm working on [Config Connector](https://cloud.google.com/config-connector/docs/overview), which is an operator for managing resources for Google Cloud. Like with any cloud, there is a need to manage a long chain of resources that depend on each other.

A strawperson example is:

- load balancer depends on a network interface
- network interface depends on a VM insta

[2021-07-29 18:02] blakebarnett opened #1613 "Reconcile loops infinitely with no rate-limit once resources > X"
I have an operator that needs to handle 3 - 4 Apps which encompass a Deployment, Secret, ConfigMap, Service and potentially a PVC and/or Ingress. These groups of resources are created for each "project" which is equivalent to a namespace.

Everything works great when the operator only needs to deal with up to 2 of these Apps. When I add a third one, the Reconcile loop starts running infinitely wit

[2021-07-29 18:11] coderanger commented on #1613
You've managed to write a non-idempotency bug somewhere in your code. Resource A kicks off B kicks off C etc etc. You can use some code like https://github.com/coderanger/controller-utils/blob/main/predicates/update_debug.go to help diagnose exactly why, but it will be specific to your code so we can't help other than in the broad strokes.

[2021-07-29 18:14] blakebarnett commented on #1613
I thought that was the case also but I can trigger this by having App1 & App2 working fine, then adding App3. Starts misbehaving. If I remove App2, it behaves normally. So that says to me the code isn't the problem?

[2021-07-29 18:16] coderanger commented on #1611
Expanding on what I recommended on Slack (or really just restating it), there's two main options:

The more traditional approach is owned object watches as mentioned along with storing stuff like an external object version or hash of the external state/config into an annotation, so when it changes it triggers updates down the chain. This is how we do things internally within Kubernetes.

The more

[2021-07-29 18:24] coderanger commented on #1613
It's a loop, if you break any link in the chain then there isn't a loop anymore.

[2021-07-29 20:36] blakebarnett commented on #1613
Thanks for your help, adding an equivalent to your `predicates.UpdateDebug()` revealed my goof. Each object was adding a status to the CRD, which triggered another update.

[2021-07-29 20:36] #1613 closed

[2021-07-30 01:51] alvaroaleman commented on #1611
The usecase you mentioned in the meeting of parent references child and needs to be triggered on child changes while child doesn't know anything about parent can be accomplished by:
1. Parent reconciler watches child object type
2. You pass a mapping function in the watch of the child that will list all parents and enqueue the matching ones: https://github.com/kubernetes-sigs/controller-runtime/bl

[2021-07-30 02:01] #1272 closed

[2021-07-30 04:16] Tatsinnit commented on #1272
/reopen

[2021-07-30 07:18] stijndehaes commented on #1571
using 1.20.2 for example works fine

[2021-07-30 18:23] varshaprasad96 commented on #1571
+1, hit the same issue and using 1.20 binaries works fine.

[2021-08-01 04:09] sujil02 opened #1619 "Util function to validate if a resource is owned by a particular Owner Reference"
Add a util function to controller runtime to validate if a certain resource is owned by a particular Owner Reference.

Reference to such a util function currently supported by [operator-utils ](https://github.com/redhat-cop/operator-utils) is found here [Owner.go](https://github.com/redhat-cop/operator-utils/blob/master/pkg/util/owner.go)

[2021-08-01 04:20] coderanger commented on #1619
Is there a particular use case for this?

[2021-08-02 06:13] Somefive commented on #1511
Similar issue encountered as @xunleii said.
When explicitly creating an object like Deployment and then getting it through UnstructuredList is ok for the fake client.
However, if the Deployment is created through Unstructured, the retrieval will failed.

[2021-08-02 10:10] fabriziopandini commented on #594
I'm taking a look at this issue and it seems that https://github.com/kubernetes-sigs/controller-runtime/pull/1195 addressed most of it; is there something else left?

[2021-08-02 10:15] fabriziopandini commented on #1028
I checked the codebase and it seems everything in this issue is already addressed. Is there something else I should take care of?

[2021-08-02 10:23] fabriziopandini commented on #998
If I'm not wrong this was  addressed by https://github.com/kubernetes-sigs/controller-runtime/pull/1525 and related PRs...

[2021-08-02 10:33] #1609 closed

[2021-08-02 10:45] fabriziopandini commented on #849
I have tested this with controller runtime v0.9.5, and I can't reproduce anymore...

[2021-08-02 13:35] alvaroaleman commented on #594
@fabriziopandini yeah, this got implemented, seems we just forgot to close the issue. Thank you for looking into it!

[2021-08-02 13:35] #594 closed

[2021-08-02 14:39] vincepri commented on #1028
/close

This can be closed, the only thing left to do is #1026

[2021-08-02 14:39] #1028 closed

[2021-08-03 01:14] jmrodri commented on #1619
@coderanger there are a few utility libraries that were created for use by operators that also use controller-runtime, some of the methods were added because they didn't already exist in controller-runtime. What @sujil02 has here is one of the utility methods that makes it easy to see if a resource is owned by a specific owner.

[2021-08-03 03:27] coderanger commented on #1619
Yes could you please explain one or more of the use cases for this method?

[2021-08-03 18:11] joelanford commented on #1619
If the use case is something along the lines of checking to see if an existing owner ref is already set so that a decision can be made to set it or not, that's already covered by the idempotent [`controllerutil.SetControllerReference()`](https://github.com/kubernetes-sigs/controller-runtime/blob/c0a5babc6854d42ab37eb5323ff024eb0dc24b9d/pkg/controller/controllerutil/controllerutil.go#L59) and [`con

[2021-08-03 18:13] joelanford commented on #849
/close

@displague If you're able to reproduce against `master`, please open a new issue.

[2021-08-03 18:13] #849 closed

[2021-08-03 22:30] dee0sap opened #1622 "Need write back cache"
Ticket https://github.com/crossplane/crossplane/issues/2435 was opened a due to a leak of resources in AWS.
Multiple reasons for the leak were found.   One of the reasons is a caching/concurrency problem in controller-runtime.

In the above ticket the caching/concurrency problem involved an AWS route table managed resource.   Reconcile created an additional one in AWS because after it had set the

[2021-08-03 22:38] coderanger commented on #1622
I'm pretty sure this is 100% impossible short of massive code duplication from kube-apiserver. We can't know what kind of transforms would happen on save (webhooks, core types with funky storage adapters, etc) and making this work for Patch requests would be extra super fun. At best we could write back to the cache with the returned object data after the update call but that's different than write

[2021-08-03 22:44] dee0sap commented on #1622
Thanks for the prompt reply Noah @coderanger.

Maybe write-through isn't the exactly the term then :)    Shall I replace 'write-through' with 'write-back' and update description above?

[2021-08-03 23:14] dee0sap commented on #1622
Re-worded things based on coderanger's comments.

[2021-08-04 00:04] coderanger commented on #1622
Is there a reason to not use the substantially simpler solution of "use an uncached client for this particular point in the code"?

[2021-08-04 00:22] dee0sap commented on #1622
I considered that but looking at
https://github.com/crossplane/crossplane-runtime/blob/master/pkg/reconciler/managed/reconciler.go#L504
 ( Reconciler::Reconcile )  it seemed that then we may as well not use caching at all.    That is one of the first things that is done is to assess the value of the annotation 'external-name' in order to determine whether or not an external reference should be cre

[2021-08-04 01:18] coderanger commented on #1622
Yes? I mean this is one of the major downsides to using the objects themselves for stateful storage as you are in Crossplane. My usual recommendation is either use a configmap/secret or a dedicate state storage type. And in general Crossplane is trying to bridge the gap between a convergent-only system (k8s) and a "we've heard about convergence but not totally on board" system (cloud APIs). You're

[2021-08-04 01:30] dee0sap commented on #1622
So what is the downside up updating the cache with the response from the server?   Or at least making it easy for someone to opt-in for that behavior?
From what I see in the code it doesn't seem hard to put in place.

[2021-08-04 01:32] coderanger commented on #1622
It's very fiddly :) It means there's many places that cache updates can come from as opposed to just one, watch push events.

[2021-08-04 02:23] dee0sap commented on #1622
There could be a boolean option to specify whether write back cache happens at all with a default to 'no'.
This way folks could opt in.
That wouldn't be hard to add to the change I proposed.

[2021-08-04 02:42] coderanger commented on #1622
That still adds substantial complexity to the code. And that's generally a _terrible_ design style. If you are worried about something being a problem, you don't fix the problem by making only a few people experience it.

[2021-08-04 05:29] dee0sap commented on #1622
While I agree that the proposed change makes the code more complex I wouldn't characterize as substantially more complex.

And looking through I see there are at least a few others who have opened issues because they didn't expect the current behaviour. ( #1543, #1464, #1349 ).   And there is this trickiness to try to help avoid use of a stale cache here https://github.com/kubernetes-sigs/controll

[2021-08-04 07:56] lazywhite commented on #1491
Problem got solved at last,  controller pod OOM is caused by in-memory configmap cache data.
Should only watch specified configmap other than all namespace

[2021-08-04 07:56] #1491 closed

[2021-08-04 22:45] serbrech commented on #1272
Why is the bot closing a real bug? it's there, it's not fixed. I mean sure, mark it stale showing that no maintainer has time to look into it, but don't close it, it's hiding issues from both maintainers and users.

[2021-08-05 02:36] varshaprasad96 commented on #1619
+1, the logic of finding if an owner ref is set as specified in [issue](https://github.com/redhat-cop/operator-utils/blob/26a9d4efe6c40ed22f302342196ea6afc8b63170/pkg/util/owner.go#L24-L35), is what is present [here](https://github.com/kubernetes-sigs/controller-runtime/blob/c0a5babc6854d42ab37eb5323ff024eb0dc24b9d/pkg/controller/controllerutil/controllerutil.go#L125-L141). But just curious, is th

[2021-08-05 02:51] varshaprasad96 commented on #1583
@dee0 - would the finalizer library be helpful here: https://github.com/kubernetes-sigs/controller-runtime/tree/master/pkg/finalizer

[2021-08-05 09:49] skonto opened #1625 "Is it valid to have a request object name set to empty string"
From what I read the namespace is required. Are there any issues if request name is empty?
This could be used to signal cases where some global resource related to the Kind needs reconciliation (eg. rbac set at the ns level). How does controller runtime handle this scenario internally?

[2021-08-05 14:20] dee0 commented on #1583
Thanks @varshaprasad96 for the response.
I took a quick look and unfortunately it does not appear to help.

[2021-08-06 06:03] FillZpp commented on #797
@varshaprasad96 Hi, are you still pursuing this? Mind if I take a stab at it :) ?

[2021-08-06 11:16] #1417 closed

[2021-08-06 21:32] varshaprasad96 commented on #797
@FillZpp sure, please feel free to create a PR for this.

[2021-08-07 08:55] bakito commented on #1600
I recently also bumped into this.
UserInfo would also be useful in Defaulting webhook.
One solution would be to provide a context in these functions and add te information to it.

Something like https://github.com/bakito/controller-runtime/commit/2afa3adcffe45d25af57740d5f455b6fb4794880

[2021-08-07 10:09] FillZpp commented on #797
/assign @FillZpp

[2021-08-07 18:33] coderanger commented on #1600
As with many questions about webhooks, if you want to do something Fancy™ you need to drop down to the actual webhook API rather than the high-level interfaces. We only support the high-level interfaces for the simplest and most direct of use cases because otherwise they would become a mess.

[2021-08-08 08:37] ccremer commented on #1600
I understand. This is not a feature request per se, I just want to understand my options.
Would listening/watching to `v1/AdmissionReview` make sense?
Or does anyone have an example snippet with the low-level webhook API with user information in action?

[2021-08-08 09:37] coderanger commented on #1600
https://github.com/coderanger/migrations-operator/blob/dfe518fb664e734d995b0e081a397a073fd90dda/webhook/webhook.go is an example of a low-level webhook. On the `req` object in there you can use `.UserInfo` to get all that is available, https://github.com/kubernetes/api/blob/499b6f90564cff48dc1fba56d974de2e5ec98bb4/authentication/v1/types.go#L107-L122.

[2021-08-08 22:34] ccremer commented on #1600
Thanks!
From my PoV this issue can be closed.

[2021-08-08 22:41] coderanger commented on #1600
/close

[2021-08-08 22:41] #1600 closed

[2021-08-09 06:30] pigletfly commented on #1505
related discussion in  https://github.com/kubernetes-sigs/kubebuilder/issues/1216

[2021-08-09 18:17] matthchr opened #1628 "Using EnqueueRequestsFromMapFunc with a MapFunc that makes a call that can fail or takes a ctx is awkward"
The scenario I was solving is that I have a custom resource and a secret associated with that custom resource (referenced by a field in the CR) and I would like to reconcile the CR when the secret changes. The following code accomplishes that (with help from @coderanger) following what I understand is a common pattern.

`Watches(&source.Kind{Type: &corev1.Secret{}}, handler.EnqueueRequestsFromMapF

[2021-08-09 20:42] coderanger commented on #1628
Background() is indeed correct as you aren't going to cancel the context even if there is an error (other map functions might need to run too). And yeah, the issue with returning an error is it has nowhere to go. We do that in Reconcile() because that is bounced via a workqueue and can retry on failure. There is no such queue on incoming events so if it fails it just fails, there is nowhere for th

[2021-08-12 19:10] coderanger commented on #1558
@austince Probably overkill, building embed-based binaries for the tests is kind of pointless since test binaries are transient anyway.

[2021-08-12 20:08] austince commented on #1558
@coderanger, true but:
* CRDs are not always just bundled for testing (see Kuma: https://github.com/kumahq/kuma/blob/master/deployments/fs.go)
* Would get away from relying on relative paths to the cwd, which is nicer when you already have something bundled

[2021-08-12 20:10] austince commented on #1558
Anyway, rough implementation lives here: https://github.com/kubernetes-sigs/controller-runtime/compare/master...austince:feat/use-fs?expand=1

[2021-08-12 20:44] austince commented on #1453
Are there any examples that use this? I'm giving it a try but don't understand where the business logic of the finalizer should live. It feels like the `Reconciler` knows what should be deleted, not `main`. Should I define the finalizer logic inside the `x_controller.go` file, and just register that in the main?

[2021-08-12 21:10] brakthehack commented on #1442
FWIW, this is still present in v0.9.5.

[2021-08-12 22:09] coderanger commented on #1558
Feels extremely niche and better handled by the existing support for passing already-loaded CRD structs directly.

[2021-08-12 22:13] austince commented on #1558
Fair enough 🤷🏼

[2021-08-13 14:27] austince opened #1631 "Examples of the Finalizer Helper Library"
Are there any examples that use the new Finalizer helper library? I'm giving it a try but don't quite understand where the business logic of the finalizer should live. It feels like the `Reconciler` knows what should be deleted, not `main`.

Should I define the finalizer logic inside the `x_controller.go` file, and just register that in the main? Should the reconciler itself actually implement the

[2021-08-15 09:24] snorwin commented on #1600
@ccremer I recently developed a generic admission webhook (https://github.com/snorwin/k8s-generic-webhook) which provides  full access to the `AdmissionReview`.

[2021-08-15 22:30] ccremer commented on #1600
Neat! Thanks for sharing!

[2021-08-16 21:34] kevinfrommelt commented on #1416
The workqueue is specifically designed to protect against concurrently processing the same object. When an object is added to the workqueue, it first gets placed in the `dirty` set and gets enqueued only if the object is not in the `processing` set. When that object gets pulled from the queue, it is transitioned from the `dirty` set to the `processing` set. This prevents the object from being enqu

[2021-08-17 20:44] arschles opened #1633 "Ability in client.Client to observe (and intercept) write actions"
I'm not sure from a few reads through the documentation and a brief look at the [fake client code](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.9.2/pkg/client/fake) if there is a way to observe (and react to) writes. It appears that clients created with a [ClientBuilder](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.9.2/pkg/client/fake#ClientBuilder) are read-only.

It would be usef

[2021-08-18 00:29] jdef commented on #1384
/remove-lifecycle stale

On Tue, Aug 17, 2021, 7:42 PM Kubernetes Triage Robot <
***@***.***> wrote:

[2021-08-19 02:40] alvaroaleman commented on #1633
Are you talking about the fakeclient or the client in general?

Generally speaking, you can very easily build a light wrapper that overrides the method(s) you want to interecept, e.G.
[code]

[2021-08-19 05:11] varshaprasad96 commented on #1631
Finalizers could be used to clean up any external resources across namespaces when the parent object is deleted. This [example](https://sdk.operatorframework.io/docs/building-operators/golang/advanced-topics/#external-resources) maybe helpful to have an overview on where finalizers could be used inside a controller.

[2021-08-19 05:19] varshaprasad96 commented on #1625
Do you mean while using controller-runtime clients with cluster scoped objects? That case is [handled](https://github.com/kubernetes-sigs/controller-runtime/blob/ca01f67d57d64cf1af861cea9e4403a6a599abb8/pkg/client/unstructured_client.go#L185) using RESTMapper.

[2021-08-19 13:23] #797 closed

[2021-08-19 16:11] arschles commented on #1633
@alvaroaleman I'm talking about the fake client. I'm going to end up doing something similar to the code you wrote, except that I'm just doing the recording for now (this is similar to what `client-go` does), so roughly this:

[code]

Are you interested in having something like this in the fake package? For example, the `ClientBuilder` could include a `BuildRecorder` that returns a `fake.Recording

[2021-08-19 17:07] #1443 closed

[2021-08-21 08:27] nathanperkins opened #1639 "client.Get() does not zero out slice fields on CRD objects"
I've encountered some unusual behavior when using Get() on CRD objects with the controller-runtime client. When the client.Object you pass into Get() has a slice field populated with values and the object on the API server has an empty or nil slice for that field, the client does not properly zero/empty those fields. Other field types like int and string update fine.

This is in contrast with the

[2021-08-21 13:44] erikgb commented on #1571
+1, it would be nice if someone with the skills could take a look asap. 😉

/priority important-soon

[2021-08-22 16:48] alvaroaleman commented on #1639
Yeah, I can confirm this. This happens because the json deserializer ([caseSensitiveJSONIterator](https://github.com/kubernetes/kubernetes/blob/3a26b864f4e17a6b7e0e673f583a551820a25b36/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go#L151) doesn't clear the object. `caseSensitiveJSONIterator` is documented to behave as the stdlib deserializer expect that its case sensitive and t

[2021-08-23 07:31] mayankshah1607 opened #1641 "Allow configuring TLS Cert name and Key name from `manager.Options`"
### Problem

Currently, while it is possible to override the cert dir from the `manager.Options` struct (by setting the `CertDir` field), it is not possible to override the file names for the cert file (`.crt`) and key file (`.key`). To do so, you'd have to directly set the parameters on the webhook server object returned by `GetWebhookServer`. For example:

[code]

### Proposal

Allow setting the

[2021-08-23 19:00] mattysweeps commented on #1319
/remove-lifecycle stale

We're looking for an answer if this is intentional or not.

[2021-08-25 15:37] killianmuldoon opened #1642 "Link to package overview in README broken"
The link in the README.md to https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg is broken for me. This might have something to do with the change to go.dev?

A working link is available at https://pkg.go.dev/sigs.k8s.io/controller-runtime#section-directories - but it doesn't look like it's the same as that from the original link.

[2021-08-25 18:25] Arsen-Uulu opened #1644 "get event type from eventHandler"
Hello, is it possible to get event type from eventHandler?

I am writing a controller and I need to patch Istio's VirtualServices objects by monitoring K8s Services.
but once Service is get deleted I need to revert my patch. I am not sure how to diff reconcile.Reqest from Create event or Delete event.

Any suggestion will be helpful

Than kyou

[2021-08-25 21:15] #1644 closed, assigned to nobody

[2021-08-25 21:36] agill17 opened #1645 "Webhooks are invoked twice when ValidateUpdate() returns an error"
I have both Defaulting and programmatic validation webhooks enabled. Whenever `ValidateUpdate()` returns an error, the controller logs show that the mutate+validate webhooks are invoked again ( total 2 times now ) when the first validateUpdate() already failed and did not allow the request to proceed.

I was able to reproduce this on a blank/new project bootstrapped using kubebuilder ( v3.1.0 ) an

[2021-08-28 21:44] #1342 closed

[2021-08-30 09:09] skonto commented on #1625
Hi @varshaprasad96, I have this type of signature for the reconciler:
[code]
My question is about `Name` being empty string.

[2021-08-30 09:36] coderanger commented on #1625
That wouldn't make any sense since Name is required for all objects. Namespace is the optional one, in the specific case of cluster-scoped resources.

[2021-08-30 16:05] skonto commented on #1625
@coderanger I didnt see it failing in some way though. I just got requests without a name.

[2021-08-30 16:49] amtisyAts opened #1649 "Informer sync cache issue"
### I run the func ExampleNewUnmanaged() in the url below
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/example_test.go

### I slightly modify this func as this:

`func NewUnmanaged(mgr ctrl.Manager,un unstructured.Unstructured) error {}`

### then I use the test func below  to start three controller, but failed

### I got this
Timeout: failed waiting for *unstru

[2021-08-30 17:02] amtisyAts commented on #1649
@Alvaro Aleman

[2021-08-30 20:21] coderanger commented on #1625
I don't think it would fail specifically but it's not a case we test for and it might break in the future. It's semantically invalid so you shouldn't do it.

[2021-08-30 20:39] alvaroaleman commented on #1649
This happens if we can not sync the informer which in turn could happen e.G. because of missing RBAC or because the server doesn't have the resource. What makes you think this is a bug in controller-runtime?

[2021-08-31 02:55] amtisyAts commented on #1649
@alvaroaleman
in the same cluster this code can run
v0.6.2 succeed
v.0.8.3 failed
why?
I use admin kube config. I think there is not rbac problem

[2021-08-31 04:01] alvaroaleman commented on #1649
@amtisyAts this happens because you are cancelling the context used for your controller in `NewUnmanaged` which signals the controller to stop and the first statement that returns on a cancelled context is the cache sync:
[code]

If you remove that statement it starts as expected. The context got plugged through some versions back so it presumably just got ignored in v0.6.2.

/kind support

[2021-08-31 05:27] amtisyAts commented on #1649
thanks
user++

[2021-08-31 05:27] #1649 closed

[2021-08-31 09:09] gaocegege commented on #452
It is hard to keep two clients, I think. It will be better if we support it in controller-runtime.

[2021-08-31 11:45] skonto commented on #1625
Cool thanks.

[2021-08-31 11:57] #1625 closed

[2021-08-31 13:59] joelanford commented on #1571
I'm not able to reproduce this issue with the envtest 1.22.0 binaries and controller-runtime v0.9.6.

To try to reproduce, I bumped to the latest k8s, envtest, and c-r versions [here](https://github.com/operator-framework/helm-operator-plugins/pull/102)

[2021-08-31 18:34] chrischdi commented on #1396
/remove-lifecycle stale

[2021-09-01 16:06] kscharm commented on #612
@sarjeet2013 I'm trying to do the same thing you are here (same field selector). Were you able to find a workaround? I have tried the suggestions in the comments, but I think I am going to have to directly hit the API to get this to work.

[2021-09-01 16:09] kscharm commented on #612
/reopen

[2021-09-02 20:54] akutz commented on #1215
@vincepri You were originally in favor of this, but it kind of got mired in a larger discussion. Is there any harm in implementing this as proposed and handling a client-go change separately?

[2021-09-03 19:18] jmrodri opened #1652 "Dynamically cache objects to handle permission changes and lower cache size"
Today, there are typically 2 types of operators, those that watch a bunch of namespaces and those that watch a single namespace. If an operator is watching the entire cluster, they are reacting to changes to their own CR in the entire cluster. Many operators also require secondary resources during their lifecycle. Most operators only need to watch these secondary resources in a specific namespace

[2021-09-03 19:20] jmrodri commented on #1590
Closing this issue in favor of issue #1652

[2021-09-03 19:20] #1590 closed

[2021-09-03 19:32] coderanger commented on #1652
I don't think permissions changing after startup is a use case we should consider or care about. That's part of the setup process.

[2021-09-03 19:52] zaneb opened #1653 "Insufficient RBAC permissions results only in cache timeout reported"
With controller-runtime v0.9.0, attempting to watch a resource type for which we do not have RBAC watch permissions results in an error after a couple of minutes like:

[code]

For debugging it would be helpful to log an error (as controller-runtime already does e.g. when the CRD is missing altogether) stating that the problem is lack of permissions as soon as that error is experienced.

[2021-09-03 20:38] alvaroaleman commented on #1653
This would be great, the issue is that the underlying informers from client-go we use do not report this info. They only provide a boolean telling you if they were successful in syncing or not, no error.

The call chain is approximately:
Source: https://github.com/kubernetes-sigs/controller-runtime/blob/0a9a7778cdb6d4cca3a3b9f268d90a85aa6f5fdf/pkg/source/source.go#L135
Cache: https://github.com/ku

[2021-09-03 21:26] alvaroaleman commented on #1652
This doesn't sound like something that is scoped to a namespace, but something that would require arbitrary selectors.

It also requires essentially a second controller that manages the caches based on the presence of primary objects (We might be able to have the cache implementation allocate additional caches but it won't be able to clear them up).

Overall this seems like something that is going

[2021-09-03 21:59] howardjohn opened #1654 "rest.Config.NegotiatedSerializer causes watches to be created with the wrong scheme"
We are seeing errors like `watch of *v1alpha2.Gateway ended with: an error on the server ("unable to decode an event from the watch stream: unable to decode watch event: no kind \"Gateway\" is registered for version \"gateway.networking.k8s.io/v1alpha2\" in scheme \"pkg/runtime/scheme.go:100\"") has prevented the request from succeeding?`

But...
* It works with a standard client-go informer
* I t

[2021-09-03 23:34] howardjohn opened #1655 "Unsafe assumptions and leaked goroutine in logging"
This code is problematic:
https://github.com/kubernetes-sigs/controller-runtime/blob/498ee8ae7cc1dfc414f453f98cde3114116e5442/pkg/log/log.go#L53-L70

First, it leaks a goroutine for 30s just by importing the library. Generally its assumed an import is not creating goroutines. The real world impact of this is that various projects (Istio, gRPC, etc) have tests that assert no goroutines are leaking;

[2021-09-04 00:09] coderanger commented on #1655
While we want to improve the use cases around this, especially because the controller-runtime client is so much nicer to work with than client-go for many use cases, we do still largely optimize for writing operators with tools like Kubebuilder and Operator-SDK where controller-runtime is indeed in overarching control of the universe. This code was added to fix some substantial memory leak issues

[2021-09-05 22:50] alvaroaleman commented on #1655
Hey @howardjohn ,

The reason this logic exists is that the `DelegatingLogger` ends up consuming a huge amount of memory if no Logger gets set: https://github.com/kubernetes-sigs/controller-runtime/issues/1122

The current logic is the best we could come up with to deal with that situation and "leaking" a goroutine for 30 seconds/not allowing to set a logger after that is definitely less of an iss

[2021-09-07 15:13] hickeyma commented on #1571
Tested using the [cronjob-tutorial](https://github.com/kubernetes-sigs/kubebuilder/tree/master/docs/book/src/cronjob-tutorial/testdata/project), results as follows:

- Kubernetes v1.20.2: No issue
- Kubernetes v1.21.4: Issue as stated
- Kubernetes v1.22.0: Issue as stated

So, looks like issue in Kubernetes v1.21, v1.22.

[2021-09-07 15:21] hickeyma commented on #1571
This is what I have found  so far. From Kubernetes 1.21+, when it tries to cleanup the test environment, there is a clash if a custom controller is created during testing. It would seem that the controller is still running and `kube-apiserver` will not respond to shutdown during tear down.

I can get it to work by, changing controller goroutine:

[code]

to:

[code]

and disabling the teardown in

[2021-09-07 19:28] coderanger commented on #1554
This isn't related to how conversion webhooks work, nor would it make any sense given how Kubernetes versions work. It's a fully-connected hub-and-spoke model so a single conversion is all you ever need.

/close

[2021-09-07 19:28] #1554 closed

[2021-09-08 04:50] JohnNiang commented on #612
Exactly caused by Line#192:

https://github.com/kubernetes-sigs/controller-runtime/blob/386c2b5b29bace1e1e0b35afd0f6c1acc38cd140/pkg/cache/internal/cache_reader.go#L190-L200

But I really don't know why we need that. I would appreciate it if someone could explain to me.

[2021-09-08 18:16] caohe opened #1656 "Ensure idempotent when a controller has multiple workers"
https://github.com/kubernetes-sigs/controller-runtime/blob/386c2b5b29bace1e1e0b35afd0f6c1acc38cd140/pkg/internal/controller/controller.go#L222-L230

As stated in the above comment,

If a controller has multiple workers, I need to ensure only one event of a certain object is reconciled at a certain moment. Do I need to ensure it in the reconcile logic, or the controller-runtime framework will do th

[2021-09-08 18:32] coderanger commented on #1656
As the comment says, we take care of this. More specifically the workqueue layer handles it.

/close

[2021-09-08 18:32] #1656 closed

[2021-09-09 14:42] ctrought opened #1657 "unable to find a version that was supported for platform darwin/arm64"
Is controller-runtime tools unsupported on darwin/arm64?

[code]

[2021-09-10 06:51] fabienmifsud opened #1659 "Released version of setup-envtest"
Hi,

Is there any released version of setup-envtest, we can't only rely on "latest" version for our CI pipeline.

Thanks !

[2021-09-10 09:26] maelvls opened #1660 "It is too easy to create duplicate caches in different projections"
Since v0.7.0, it has become possible to use a "metadata-only" cache (https://github.com/kubernetes-sigs/controller-runtime/pull/1174). One caveat that is (I think) not highlighted enough in the Go comments is that you may end up writing racy code when mixing multiple types of clients.

For example, the following snippet watches the same type (v1.Pod) using two watchers:

- a metadata-only client u

[2021-09-10 10:01] furkhat commented on #1514
/remove-lifecycle rotten

[2021-09-10 10:02] furkhat commented on #1514
/assign

[2021-09-10 10:03] furkhat commented on #1514
/unassign MadhavJivrajani

[2021-09-10 10:03] furkhat commented on #1514
/close

[2021-09-10 10:03] #1514 closed

[2021-09-10 13:26] danielfbm commented on #1511
Its quite handy during unit tests to load a bunch of resources as `unstructured.Unstructured` using a yaml file, otherwise test case data preload becomes a lot of code 😫

[2021-09-10 14:06] alvaroaleman commented on #1660
Sorry, I don't follow. The code you are showing results in two watches, one for ReplicaSets and one for Pods in the metadata projection, but not in two watches for pods in different projections.

I am not really sure what you are trying to do here. Yes, resources in the apiserver are independent of each other which includes watches, so no one can guarantee you that if you observe a change in resou

[2021-09-10 14:58] vincepri commented on #1215
Works for me!

[2021-09-11 01:27] alvaroaleman commented on #1511
https://github.com/kubernetes-sigs/controller-runtime/pull/1662 should fix this

[2021-09-12 14:22] maelvls commented on #1660
I realize that the example with pods and replicasets does not a good job at showing the "race" issue. @wallrj and @irbekrm helped me build a minimal working example that would show the "race" issue; the code to reproduce the below example is available in https://github.com/maelvls/controller-runtime-cache-race.

In this example, I create a controller that adds the `secret-found: "yes"` annotation

[2021-09-12 19:18] alvaroaleman commented on #1660
It is still unclear to me what motivation could be there for doing that. It is wasteful for the apiserver and your component, you are essentially requesting the same data multiple times (in one case only a subset of it). What is your reason for doing that?

I don't really see a point in warning ppl of an issue they might encounter after creating duplicate caches in different projections, because t

[2021-09-13 07:16] maelvls commented on #1660
We had no motivation or purpose in mixing the metadata and concrete projections. We did not know that we were mixing things, we just wanted to use the medatada projection.

We did not realize that the line:

[code]

meant that another cache would get created. The symptom of this secondary cache is a race.

I agree. Users should be aware when they create two caches and that having two caches of the

[2021-09-13 14:19] alvaroaleman commented on #1660
Ah ok, that is the bit I was missing :)

/retitle It is too easy to create duplicate caches in different projections

So at the end of the day this is a programmer error and not something we can detect at compile time. We could add a check for this into pkg/cache and error out if someone requests something that we already have in a different projection?

[2021-09-13 14:42] alvaroaleman commented on #1622
I don't think manipulating the cached data is an option, because the data in the shared informer is managed on the basic assumption that there is a resource version and the data we have reflects the data at that resource version in the apiserver. Breaking this assumption has way too much potential to introduce issues and I would be very surprised if upstream accepts submissions into that direction

[2021-09-13 16:06] dee0sap commented on #1622
@alvaroaleman
Not sure I understand the concern.

If the process were to be
- Make the update in k8s ( returns the new version )
- Update the cache with the version just received above
then the cache is always reflecting a resource version that is on the server.

The change would just expedite bringing a just written change into the cache.

[2021-09-13 16:35] alvaroaleman commented on #1622
A very basic example on how things go wrong with a writeback cache just off of the top of my head and I am very sure there are more:
* We update the data in the cache
* We get an update that happened before the update we inserted into the cache
-> Cached data is again outdated

No, because there are also RVs for lists. If we mess with the cache, the reflector will think we are at a given RV when w

[2021-09-13 18:10] dee0sap commented on #1622
What if this write back behavior was limited to only those objects a generation value? ( https://github.com/zecke/Kubernetes/blob/master/docs/devel/api-conventions.md )

If nothing ever updated the cache with an object whose generation value was less than the value for whatever was in the cache already there would be a risk of pushing stale data back into the cache.

[2021-09-13 20:10] negz commented on #1622
I like the sound of this approach.

I personally (as a representative of the Crossplane project) am aligned with the controller-runtime maintainers here and feel good about coding for the assumption that cache reads may be stale. It would definitely be ideal to make that contract obvious to controller authors though, as it did surprise me at first.

A little more context on the original issue refe

[2021-09-13 20:41] alvaroaleman commented on #1622
Orthogonal to this issue here, but a better approach for this for many resources at many cloudprovides is to tag them during creation and then use a filtered list request to check if it already exists. This way you don't need to persist and it also allows you to deal with the occasional "Create request failed but creation actually succeeded".

Lists don't have a generation.

[2021-09-14 01:29] #1654 closed

[2021-09-14 04:03] negz commented on #1622
I don't necessarily disagree, but "better" is a bit subjective here. When you're dealing with hundreds of different API implementations across tens of different external systems (different clouds, etc) there's not always a reliable and consistent metadata API to use. :)

[2021-09-14 08:31] FillZpp commented on #1660
There is another similar condition when someone tries to get/list/watch both typed and unstructured objects with the same GVK.

[2021-09-14 18:16] #1511 closed

[2021-09-15 12:49] MadhavJivrajani commented on #1569
/close

[2021-09-15 12:49] #1569 closed

[2021-09-15 13:04] taylormgeorge91 commented on #855
That would be helpful if still an option

[2021-09-15 17:38] christopherhein commented on #1385
@mvladev do you think this make sense to still keep open?

[2021-09-16 17:12] howardjohn opened #1668 "How to use an existing informer with controller-runtime?"
https://github.com/kubernetes-sigs/controller-runtime/blob/8e1263d50ea2688cf251ce745ec711dadc8846d8/pkg/builder/controller.go#L77-L81

This says it is equivalent  to `Watches(...)`. This doesn't seem to be true - when replacing with the suggested equivilent, an error 'must provide an object for reconciliation' is returned.

For context on *why* I don't want to use For is I want to pass in an exist

[2021-09-16 17:55] coderanger commented on #1668
Conceptual equivalent for people used to the pre-builder-syntax days of controller-runtime. For() sets the root object type of the controller which does more than just set the watch, though it does include that.

[2021-09-16 17:56] howardjohn commented on #1668
Does that also mean its impossible to use an existing informer? Seems like `forInput` is private and only exposed in For which won't allow a custom source

[2021-09-16 18:01] coderanger commented on #1668
Probably? Or at least unrelated to this level of things. You could potentially use the manager-level hooks to try and inject your own in but I doubt it will work smoothly. C-R expects to control things if you are using caching?

[2021-09-16 18:07] howardjohn commented on #1668
I see.. that is pretty disappointing as we are interested in using c-r but cannot rewrite our entire O(100k) LOC app to use it (at least in the short term) and can't accept the overhead of 2x watches

[2021-09-16 18:49] coderanger commented on #1668
You can use an uncached client then. Or as I said, experiment with the `NewCache` option method when creating your manager. Normally the creates a Cache struct with a new informer but if you hammer on it hard enough you could maybe slip in a reference to an existing one? No idea how much that would break or confuse things though, esp if your informers run with a different config than ours.

[2021-09-16 19:58] howardjohn opened #1669 "Server Side Apply has poor interaction with some fields zero values"
When using `client.Apply` patch type, some APIs run into issues. In particular, Service.spec.ports.targetPort, although there are likely others.

Consider this example:

[code]

The expectation is this creates the service  on the first iteration, and is a NOP on future iterations.
In reality, its changing each time:
[code]

In a real controller, this change then is picked up by the watch, and trig

[2021-09-16 20:37] coderanger commented on #1669
Yes, that is correct. This is why the new typed builder syntax exists. Also, it's not really related to controller-runtime. Your two options for Apply are Unstructureds or Typed Builders.

[2021-09-16 20:39] howardjohn commented on #1669
It would be great to document that as there are no examples in the library or docs on use Apply and the only examples that I can find are from an issue (https://github.com/kubernetes-sigs/controller-runtime/issues/347) where the normal types (not unstructured or Typed Builders) are used.

[2021-09-16 20:44] howardjohn commented on #1669
Also as far as I can tell Typed Builders cannot be used directly with controller-runtime client, we would need to drop down directly into the client-go library which breaks the abstraction provided by controller-runtime?

[2021-09-16 21:01] coderanger commented on #1669
We're still working on improved Apply support. The typed builders are relatively new and have minimal support in the ecosystem (we only recently merged the ability to generate them in the first place). My standing recommendation is still templates+go:embed+Unstructured though. It's much easier to manage long term.

I'm going to close this out as this is not a bug we can address (nor can it be fixe

[2021-09-16 21:01] #1669 closed

[2021-09-17 21:19] alvaroaleman commented on #1668
@howardjohn Passing an existing informer into the cache might be difficult. The underlying reason is that they are constructed on-demand and there is a bunch of logic to make them implement client.Reader, so you would have to mimick that.

What is likely going to work though is the other way round: Get the cache from the manager, get the informer(s) for the types you care about, use them everywher

[2021-09-17 21:20] coderanger commented on #1668
/title How to use an existing informer with controller-runtime?

[2021-09-17 21:20] coderanger commented on #1668
/retitle How to use an existing informer with controller-runtime?

[2021-09-20 08:22] camilamacedo86 opened #1670 "Unable to download env test config based on the tags"
The documentation and its usage are telling us to use the latest version, however, we need to get the version based on the release tags. See:https://github.com/kubernetes-sigs/controller-runtime/tree/master/tools/setup-envtest

We cannot use the latest because it can change and have breaking changes and we need to ensure what version is compatible or not.

[code]

[2021-09-20 08:23] camilamacedo86 commented on #1670
c/c @varshaprasad96

[2021-09-20 13:57] jmrodri commented on #1670
/cc @varshaprasad96

[2021-09-20 13:58] jmrodri commented on #1670
@camilamacedo86 and you meant to use the actual tag value, `v0.10.0` and not `0.10.0` right? Though `v0.10.0` didn't work for me either but does give a different error:

[code]

[2021-09-20 22:03] #1489 closed

[2021-09-20 23:11] m-yosefpor commented on #1568
/remove-lifecycle stale

[2021-09-23 08:11] negz commented on #857
Just came here with what appears to be another use case for this (after being surprised that the RateLimiter added per https://github.com/kubernetes-sigs/controller-runtime/issues/631 only rate limits requeues, not queues). In my case there's a strong correlation between reconciles and API calls that may cost money, so we'd like to offer users an option to rate limit reconciles it seems that we ca

[2021-09-24 02:14] negz commented on #857
Er, just ended up back here re-reading today and realised what I want isn't quite the same as what this issue is about but it still seems like a 'middleware' `Reconciler` (and/or a custom event `Source`) could do the trick.

[2021-09-24 19:42] #1308 closed

[2021-09-24 21:43] #1476 closed

[2021-09-25 16:00] jsanda opened #1673 "Add cluster after Manager has already started"
I am working on a multi-cluster operator project. We following the changes described in https://github.com/kubernetes-sigs/controller-runtime/blob/master/designs/move-cluster-specific-code-out-of-manager.md initializing a `Cluster` for each remote k8s cluster. It works great, so thanks for that :)

I would like to add (and remove) `Clusters` at runtime after the `Manager` has already started. It d

[2021-09-27 16:10] Arsen-Uulu opened #1675 "controller-runtime: Possible to watch multiple resources with set of managers?"
Hi,

I am new to controller-runtime, but is it possible to have multiple managers and controllers to watch diff resources and have different Reconcilers?

Thank you

[2021-09-27 19:21] fabriziopandini commented on #933
FYI In Cluster API we implemented [something similar](https://github.com/kubernetes-sigs/cluster-api/tree/main/internal/matchers), wondering if it makes sense to merge those efforts...

[2021-09-27 21:49] alvaroaleman commented on #1673
Hey @jsafrane , actually adding a new cluster is something I'd have expected to already work :thinking: So seems there is a bug.

Removing one isn't currently supported, we would have to make sure that we can properly stop everything without leaks and think about how we want to add that to our API.

[2021-09-28 09:14] JoelSpeed commented on #933
I think having a generic central utility for this kind of thing makes sense, and the generic nature of the CAPI implementation of those matchers fits in with what I was envisioning here so totally up for including those as well if the community is happy to donate those to this effort

[2021-09-28 18:11] alvaroaleman commented on #1675
/kind support

[2021-09-28 18:16] coderanger commented on #1675
You would only have one manager per running process but that can host any number of controllers and other runnables.

[2021-09-28 21:09] Arsen-Uulu commented on #1675
@coderanger  Thank you. I was able to use any number of controllers.

I would like to close this issue, but  quick question came up, is possible to ignore resources that were already created and watch for only newly created resources that I wanna watch?

[2021-09-29 11:44] FillZpp commented on #1673
Although we can new a cluster and add it into an existing manager, but it is added as a Runnable and the **main** cluster can only be one.

[code]

It somehow triggers my obsession... Could we change it to a list and provide something like `AddCluster(cfg)` to add clusters after manager started? @alvaroaleman

[2021-09-29 13:05] jsanda commented on #1673
I guess the title is a bit misleading. I know that a Runnable can be added after the Manager is started but my understanding is that it won't be started. I want to add a Cluster to a Manager after the Manager has already started and then have the Cluster started.

[2021-09-29 13:20] alvaroaleman commented on #1673
Yeah that should work. It seems the issue is that we don't start the cache:

https://github.com/kubernetes-sigs/controller-runtime/blob/386c2b5b29bace1e1e0b35afd0f6c1acc38cd140/pkg/manager/internal.go#L208-L217

[2021-09-29 13:21] FillZpp commented on #1673
@jsanda Actually it will be started. When adding a Cluster into a started Manager (and the Cluster does not require resource lock), Manager will start it immediately. https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/internal.go#L221

BTW, it is also weird that the new cluster is decided to start according to the resource lock acquired in the previous cluster. They coul

[2021-09-29 13:25] jsanda commented on #1673
That's what I observed from prior testing.

[2021-09-30 18:31] #1675 closed

[2021-09-30 18:35] Arsen-Uulu opened #1680 "increasing worker count - decreasing the performance"
Hello,

I have a controller that create some resources for me.

and whenever i have the default worker count - 1, it creates the resources 50% e.g 20sec with 1 worker  and 51 sec with 2 workers. Yes I am ok to reconcile in parallel

Why is that?

[2021-09-30 18:35] Arsen-Uulu commented on #1680
/kind support

[2021-09-30 18:42] #1680 closed

[2021-09-30 20:58] coderanger commented on #1675
@Arsen-Uulu No, that would break the convergent model we use. All root-level watched objects are reconciled at startup to ensure convergence.

[2021-09-30 21:12] DavidKorczynski commented on #456
Hi @DirectXMan12

Is this still relevant? If so, we would like to help.

Recently we (@AdamKorcz in particular) have been working on fuzzing custom Kubernetes controllers (Flux GitOps toolkit in this case), please see the following PRs for examples:
- https://github.com/fluxcd/source-controller/pull/443
- https://github.com/fluxcd/kustomize-controller/pull/434
- https://github.com/fluxcd/image-aut

[2021-10-01 18:00] #1495 closed

[2021-10-01 20:13] jsanda commented on #1673
@alvaroaleman I may have some questions along the way, but I would be happy to work on a PR for this.

[2021-10-01 20:24] alvaroaleman commented on #1673
@jsafrane sure, feel free to take a stab

[2021-10-03 13:19] #1411 closed

[2021-10-06 12:36] pires commented on #1607
I'm trying to understand how are 0.10.x releases being cut if this isn't being fixed. Like, is there a workaround that isn't to adopt temporarily the branch in #1593?

[2021-10-06 16:23] palnabarun commented on #1007
/lifecycle frozen
(until someone takes this up)

[2021-10-07 07:38] yalctay93 opened #1684 "status update resets objectmeta labels"
In our reconciler function, we update the label of our object like this:

[code]

[code]

"route" is a CR that our operator uses.

While debugging I found out that the Into(obj) function inside "UpdateStatus" function (typed_client.go) resets the labels back to what they were when the route CR was reconciled, effectively making my ```route.SetLabels(labels)``` meaningless.

[code]

This forces me

[2021-10-07 08:15] yalctay93 commented on #1684
When I update the route object before I update its status e.g:

[code]

and then do ```err = reconcile.Status().Update(context.Background(), route)```

The labels are not reset. So I believe this is a behaviour that is wanted, and it is not a bug.

[2021-10-07 12:50] randomvariable opened #1685 "Webhooks are not guaranteed to start before cache sync is started"
In the process of debugging https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/2834 we spot the following behaviour:

If resources are present in API Server/etcd at an older storage version AND  `--leader-election` is set to false when starting controllers with a newer CRD version, then there is a high probability that conversion webhooks will not start before cache syncs start, wh

[2021-10-08 22:19] alvaroaleman commented on #788
This was fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/1486

[2021-10-08 22:19] #788 closed

[2021-10-08 22:21] alvaroaleman commented on #305
Removing good first issue label, as it  is not quite clear if we want this and if so, how it would look.
/remove-good-first-issue

[2021-10-11 14:20] bobbygryzynger opened #1691 "Local cluster cannot be accessed (127.0.0.1 connection refused) when testing against 1.21+"
When attempting to run tests against the local cluster created by `envtest`, the logs repeatedly show `connection refused` errors and ultimately the tests fail because of this.

<details>
<summary>Logged output from: <pre>$ KUBEBUILDER_ASSETS="/home/bgryzyng/.local/share/kubebuilder-envtest/k8s/1.21.2-linux-amd64" KUBEBUILDER_ATTACH_CONTROL_PLANE_OUTPUT=true go test ./... -coverprofile cover.out</

[2021-10-11 16:22] bobbygryzynger commented on #1691
It appears this isn't a firewall issue. Stopping `firewalld` and running the tests with `sudo` both result in the same errors.

[2021-10-11 23:30] #1592 closed

[2021-10-12 10:39] prachik1 opened #1693 "CreateOr{Update,Patch} do not handle status subresource"
Why is this so?
Same was the case with CreateOrUpdate. Is there any reason why do we have this logic wherein if the resource is not found on the cluster both CreateOrUpdate and CreateOrPatch create a resource but don't set the status fields.

[2021-10-12 11:28] pparshin opened #1694 "Resource TypeMeta is empty after Create request"
Hi,

I create a resource using the delegating client:

[code]

After creation I'd like to set the cluster resource as Owner for another resource but `TypeMeta` object is empty. Is it intended behaviour and should I preserve the GVK manually?

[2021-10-13 05:52] tenstad commented on #1571
Is it a mistake that the `ctx` with cancel is replaced by `context.Background()`:
https://github.com/cybozu-go/coil/blob/main/v2/pkg/ipam/suite_test.go#L97

[2021-10-13 09:04] erikgb commented on #1571
Thx @tenstad! I think this issue can ble closed, as not a problem (here), ref. https://github.com/cybozu-go/coil/pull/189.

I will prepare a PR to fix the skaffolding (and doc) in kubebuilder, ref. the workaround implemented in https://github.com/kubernetes-sigs/kubebuilder/pull/2302. CC: @hickeyma

[2021-10-13 09:39] woodgear commented on #1557
/remove-lifecycle stale

[2021-10-13 09:39] woodgear commented on #1557
same question.

[2021-10-13 14:07] danail-branekov opened #1696 "[Feature request] configure stdio for envtests"
Setting up a controller with env test severely pollutes the test output. It would be great to be able to set stdout/stderr on the test environment so we can still be able to view logs when a test fail, but keep a successful test output clean.

Ideally this configuration option should allow testenv users to specify writers for stdout/stderr as files, paths, etc. are not that flexible.

cc @mnitchev

[2021-10-13 19:09] #1571 closed

[2021-10-15 18:29] amisevsk opened #1697 "cache.SelectorsByObject relies on internal struct"
I'm trying out the `SelectorsByObject` cache option [introduced in v0.9.0](https://github.com/kubernetes-sigs/controller-runtime/pull/1435), and noticed a bit of a strange setup. The type for `SelectorsByObject` is
[code]

This results in `SelectorsByObject` values being semi-accessible, e.g. I can create objects with the internal type `Selector` in a map initialization:
[code]
but cannot add to `

[2021-10-16 19:41] jlunaq commented on #741
Hi, Can you please point me to any example of using a patch operation to update resources and avoid this issue?

[2021-10-18 06:10] timebertt commented on #1448
Sine envtest mainly target's controllers working on CRDs and given that it's still fairly simple to register an `APIService` nowadays (described in https://github.com/kubernetes-sigs/controller-runtime/issues/1448#issuecomment-863052862), I think we can close this issue.
/close

[2021-10-18 06:11] #1448 closed

[2021-10-18 12:17] raffaelespazzoli opened #1699 "Webhook interface functions should be passed a context"
The methods in the `Defaulter` and `Validator` interface should be passed a context as it cannot be known what kind of operation will be run in those methods and those operations might require a context. Such context should also be used to pass an appropriate logger which can be retrieved as usual with:
[code]
currently the code generators generate statically defined loggers for webhooks as this:

[2021-10-19 20:52] Arsen-Uulu opened #1701 "It is possible to use controller runtime just for validating webhook?"
I am trying to write custom validating webhook and I was wondering if it's ok to use controller-runtime just for that purpose?

[2021-10-19 20:52] Arsen-Uulu commented on #1701
/kind support

[2021-10-20 16:57] BlaineEXE opened #1702 "Fake client should accept reactor functions to induce errors in unit tests"
Kubernetes fake clientsets, including those built by `client-gen`, all can have reactors added to test basic failure scenarios. The Rook (github.com/rook/rook) codebase makes extensive use of reactors to induce errors in unit tests to ensure our error handling of functions is correct when they interact with the kubernetes API.

For adding this functionality to the fake interface, is  this somethin

[2021-10-20 23:40] Arsen-Uulu commented on #1701
@coderanger

[code]
Is there a limit how many I can register?

[2021-10-20 23:41] coderanger commented on #1701
I'm sure there is technically a limit but it's probably like 2 billion or something. In general if you have support questions I would encourage you to use Slack, we have a `#kubebuilder` channel.

/close

[2021-10-20 23:41] #1701 closed

[2021-10-21 07:22] FillZpp commented on #1697
Indeed. I'd like to open a PR to fix it.
/assign

[2021-10-21 08:14] HeGaoYuan opened #1704 "What does this comment for?"
https://github.com/kubernetes-sigs/controller-runtime/blob/1462c6e3a5dbe3b04d11286b190253c845c8e338/pkg/manager/internal.go#L452-L463

I found that there is a link comment which is a person image who I don't know.
It is strage, I want to know what does this comment for?

[2021-10-21 14:12] #1704 closed, assigned to nobody

[2021-10-25 14:10] #1697 closed, assigned to FillZpp

[2021-10-25 21:22] mengqiy opened #1705 "Can't index and list by arbitrary field with Unstructured objects"
I can't index and list by arbitrary field with `Unstructured` objects in controller-runtime v0.7.0+ (including the latest v0.10.2). It will complain with the following error:
`{"reconciler group": "example.co", "reconciler kind": "Foo", "name": "hello", "namespace": "default", "error": "field label not supported: metadata.ownerReferences.example.co.foo"}`

I can do that with `Unstructured` objects

[2021-10-28 10:06] moluzhui opened #1706 "How does inject or update environment variables into containers"
I have a project that needs to **inject or update environment variables** in the pod container, using `kubebuilder` and `controller-runtime`,

My plan is as follows:
[code]
After I tried to update, the following error occurred
[code]

but it seems that env cannot be updated in the source code

`//  k8s.io/api/core/v1/types.go`
[code]

I would appreciate it if you could tell me how to solve it.

[2021-10-29 18:02] CecileRobertMichon commented on #857
Here is what we did in cluster-api-provider-azure to solve this: https://github.com/devigned/cluster-api-provider-azure/commit/b6b38b0e6f81b57e98f9eb933e3e6a9cbf2f5936

It would be great to include something like it in controller-runtime so all projects can use it.

cc @devigned

[2021-10-29 20:49] negz opened #1707 "Don't rate limit discovery clients by default?"
It seems per https://github.com/kubernetes/kubernetes/pull/105520#discussion_r723535829 that `kubectl` is planning to remove rate limiting of the discovery process, preferring to instead let [APF](https://kubernetes.io/docs/concepts/cluster-administration/flow-control/) handle the (often very large) slew of requests it makes.

Would it make sense for controller-runtime to do the same? I imagine th

[2021-10-29 21:57] alvaroaleman opened #1708 "Cache selectors should allow setting a default"
It is currently possible to set a selector in the cache per GVK, however it is not possible to set a default selector which might be very useful for scenarios like "I want all caches in this namespace except the cache for footype, which should be in a different namespace".

[2021-10-29 22:00] alvaroaleman commented on #1603
/retitle Provide a truly lazy restmapper

[2021-10-29 22:02] alvaroaleman commented on #1707
When the upstream change merges it would make a lot of sense to follow suit here

[2021-10-31 02:01] #1546 closed

[2021-10-31 22:08] #1547 closed

[2021-11-01 14:04] joelanford commented on #1708
I definitely agree that a default selector would be useful in many cases (e.g. label `my.domain/managedBy == "my-operator"`), but I'm not sure a namespace selector is appropriate at this layer.

If I'm understanding this correctly, it would result in the informers using a cluster-wide list/watch and the apiserver receiving _all_ objects from etcd before filtering down to the desired namespace.

Cl

[2021-11-01 16:23] alvaroaleman commented on #1708
No, the selector can be used to not even receive the objects and make the apiserver filter for us. Using a default namespace was just an example btw, could also be a default selector. What exactly makes sense depends on what you want to do :)

[2021-11-01 16:48] joelanford commented on #1708
Understood, but if `cache.Options.Namespace` is unset, the underlying apiserver call is going to be cluster-scoped regardless of the selectors. So it would generally be a bad idea to use a cluster-scoped informer with a namespace selector for the reasons I stated.

Nonetheless, I agree a default selector is valuable.

[2021-11-01 17:15] alvaroaleman commented on #1708
No, we had a change a while back that made us do a namespace-scoped call and only require rbac for that namespace if a fieldselector for a namespace is set: https://github.com/kubernetes-sigs/controller-runtime/pull/1602

[2021-11-01 20:00] joelanford commented on #1708
Ah ha! That was the piece I was missing. Very cool!

[2021-11-02 08:04] zroubalik commented on #172
/reopen

[2021-11-02 08:06] zroubalik commented on #172
/remove-lifecycle rotten

[2021-11-02 17:11] roivaz commented on #1691
Hi @bobbygryzynger, I am running into the same problem, it fails if I try to run tests using `ENVTEST_K8S_VERSION` `1.20` or `1.21`. Running the tests with `AttachControlPlaneOutput: true` in `suite_test.go` shows what I think is the problem:

[code]

This is related with the deprecation of these flags (see https://github.com/kubernetes/kubeadm/issues/2156).

I think in my case the problem is that

[2021-11-04 07:44] cuisongliu opened #1711 "When update `status` , but trigger Reconcile func"
this is ok ? update status tigger reconcile func, I  think `spec` tigger reconcile, but `status` not tigger reconcile.

[2021-11-04 10:51] #1221 closed

[2021-11-04 10:51] #1549 closed

[2021-11-05 19:18] matthchr commented on #1622
If the cache understands `resourceVersion`, then you could avoid overwriting data with obviously older data. It seems achievable to have a cache that won't miss updates done _by the current process_. Of course, the cache could still be out of date because of some external actor (of which there can be many) - there's no solving that.

It _would_ solve the "I can do a PUT followed immediately by a G

[2021-11-05 19:30] alvaroaleman commented on #1622
No, refer to https://kubernetes.io/docs/reference/using-api/api-concepts/, specifically this:

[2021-11-08 11:42] siliconbrain opened #1712 "Panic from dynamicRESTMapper when using lazy initialization"
When `dynamicRESTMapper` lazy initialization fails, any subsequent calls to it will panic (`runtime error: invalid memory address or nil pointer dereference`) because `staticMapper` is uninitialized.

I ran into this when my cluster could not be reached, so I'll illustrate the problem this way, but any error returned by `setStaticMapper` will result in the same issue.

## How to reproduce
[code]

[2021-11-10 15:25] #1685 closed

[2021-11-11 03:16] micnncim commented on #1558
Sorry, I missed notifications. Thanks you folks, I will consider `fs.FS`.

[2021-11-11 04:53] jcanseco commented on #246
How can one actually do this (i.e. dynamically add and remove watches?)

If I understand correctly, I can dynamically add a watch by calling [controller.Watch()](https://github.com/kubernetes-sigs/controller-runtime/blob/619e6b92dab99f0b6c132d0223e8dd9efa1fb1e9/pkg/controller/controller.go#L74) from within the reonciler.

How can one remove the watch once it is no longer needed?

[2021-11-11 16:50] austince commented on #1558
Hey @micnncim, the `fs.FS` is not actually supported – just an idea from me that didn't quite fit. I think the recommended solution is to read the content from the URL, deserialize them into the CRD structs, and then pass them via the `CRDs` option:
https://github.com/kubernetes-sigs/controller-runtime/blob/619e6b92dab99f0b6c132d0223e8dd9efa1fb1e9/pkg/envtest/crd.go#L63

[2021-11-12 11:28] chrispatmore opened #1715 "Enhance the filtered cache mechanism"
I have been playing around with the filtered caching mechanism added in controller-runtime `v0.9.0`, and have found that it is not quite sufficient for all of my use cases.

It works great if I am trying to filter down the resources with one rule, i.e. only show me configmaps where the label `foo` has value `bar`
[code]

However as far as I can tell it is not possible to create selectors with any

[2021-11-15 03:33] lmxia commented on #1498
Thanks, that's helpful.

[2021-11-15 07:37] chijinxina opened #1717 "client.NewDelegatingClient() should provide the option to turn off automatic cache creation"
For example, if I Get or List Pod in reconcile, it will automatically create a pod informer cache, this is not what i want.

So I think there should be an option to turn off the option of automatically creating cache, instead of providing the `ClientDisableCacheFor` option

[2021-11-15 07:51] #1717 closed

[2021-11-15 07:51] chijinxina commented on #1717
close

[2021-11-15 10:47] FillZpp commented on #1715
@chrispatmore I'm afraid there is no way to change `map[client.Object]internal.Selector` to `map[client.Object][]internal.Selector`. When the cache starts to listwatch, it converts the object selector to string and  the list selector in options [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/internal/informers_map.go#L280) and it could not configure with a list o

[2021-11-15 11:46] #1559 closed

[2021-11-15 13:44] chrispatmore commented on #1715
That was merely a suggested way of achieving OR based conditions in the cache, if it will not work then another solution that provides the same capability is just as good.

The fundamental issue is the need for a way of including filtering with ORs

[2021-11-15 16:15] alvaroaleman commented on #1715
hy @chrispatmore as @FillZpp mentioned it is not possible to use a list of selectors as the Kube-Apiserver does not support that. You can however use [Set-Based requirements](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement) to achieve an OR, this already works today.
[code]

[2021-11-15 16:16] alvaroaleman commented on #1715
Closing for now, please feel free to re-open if the above does not answer your question.

[2021-11-15 16:16] #1715 closed

[2021-11-15 16:18] alvaroaleman commented on #1693
They currently do not handle status subresources. In order to do that, there would need to be a mechanism to figure out if a resource has a status subresource (Can we get this info from the RESTMapper?)

/kind bug

[2021-11-15 16:18] alvaroaleman commented on #1693
/retitle CreateOr{Update,Patch} do not handle status subresource

[2021-11-15 16:24] alvaroaleman commented on #1702
This is unlikely to happen, we had a couple of previous discussions around this and agreed that client-gos reactor system is too complicated and thus bug-prone. So far there hasn't been an agreement on what we want instead, if anything.

A simple approach to introduce custom behavior is to embedd a client and overwrite some or all of the methods:
[code]

[2021-11-15 16:24] chrispatmore commented on #1715
I don't seem to have permissions to reopen this issue.

This does not answer my question because as far as I can tell, the use of `Requirement` above does not actually get recognised by the cache

It only supports `Equals`

If I did anything but
[code]

the cache did not work.
I had a look around and it appeared that the cache was only recognising equals

Also even if the above did work
it would s

[2021-11-15 16:25] chrispatmore commented on #1715
I will try and find again the code that seemed to explain why requirements weren't working, but as I said it still wouldnt solve my problem

[2021-11-15 16:26] alvaroaleman commented on #1711
You can use a predicate to avoid this if you don't want that. Many controllers use status to report the status, so updating it generates an event for the whole object. This is part of the Kubernetes watch api and not something controller-runtime wants to express a different opinion about.

[2021-11-15 16:26] #1711 closed

[2021-11-15 16:29] alvaroaleman commented on #1715
If the requirements are not working that is a bug and I'd be happy to merge a bugfix for that. Please open a new issue if you are sure this doesn't work.

Supporting something other than what can be expressed through requirements (e.G. OR across different label keys) is fundamentally not possible as the kube-apiserver does not support it.

[2021-11-15 16:35] chrispatmore commented on #1715
I will double check my experience with Requirements, and take another look through the code

I have been using this cache
https://github.com/IBM/controller-filtered-cache/blob/main/docs/create-filtered-cache.md
Whilst I was waiting for controller-runtime to implement it's own filtered cache which it now has, and ideally I would like to use.

This cache behaves fundamentally differently in that you

[2021-11-15 16:40] alvaroaleman commented on #1715
The way they support that is by [creating multiple watches](https://github.com/IBM/controller-filtered-cache/blob/7ad33cb55499f9e7a73c044028d8c84815a8f2a4/filteredcache/enhanced-filtered-cache.go#L71) and then iterating over them. IMHO that is pretty gross and the kind of problem you should not attempt to solve but instead attempt to not have by labeling your similar resources with the same key.

[2021-11-15 16:47] chrispatmore commented on #1715
I agree, but when you consume a number of operators this ideal falls down, for example, we have logic that requires we access the values in the secrets created by the cert-manager operator, the secrets created by that operator do not have any common labels added, which means we either have to turn off filtering for secrets one of the most populous resources, or we cannot access the secret.

I acce

[2021-11-15 17:20] chrispatmore commented on #1715
Requirements seems to be working fine now, no idea what I was doing wrong before

[2021-11-15 18:11] alvaroaleman commented on #1706
This is not solveable, the kubernetes api does not allow to update environment variables of pods, as the kubelet can not update the env of a container once it is started. Use a higher-level workload object like a Deployment, which will result in your pod being re-created with the new settings.

[2021-11-15 18:11] #1706 closed

[2021-11-16 09:15] chrispatmore commented on #1715
@alvaroaleman Hi I have been thinking about this a bit more and had a follow up question I was hoping I could get your thoughts on, without raising a new issue.

I agree with you on not adding the higher level OR logic on the cache, however I still think there are cases where an operator will need to access (not manage or own or watch) resources that it doesn't really need to cache. I was proposin

[2021-11-16 10:38] ethernoy opened #1719 "Properly exit when cert-watcher can no longer watch required file"
When the TLS assets are no longer available (missing drive for example) after a webhook server is started with such TLS assets, the cert-watcher throws the following error:
https://github.com/kubernetes-sigs/controller-runtime/blob/4d10a0615b11507451ecb58bfd59f0f6ef313a29/pkg/certwatcher/certwatcher.go#L144
[code]
After throwing the following error, the cert-watcher simply stops monitoring the pat

[2021-11-16 16:04] chrispatmore commented on #1715
Or @FillZpp if you have any thoughts?

[2021-11-16 16:21] alvaroaleman commented on #1715
In general this is a valid usecase, for example in situations where you want to use CreateOrUpdate and have a cache with a labelselector (as external actor removing label means CreateOrUpdate breaks, as it tries to Create which fails as it already exists). Today, there isn't support for something like this. Off of the top of my head I am not completely sure what the best approach for this would lo

[2021-11-16 16:36] chrispatmore commented on #1715
It's only expensive if you are trying to get something that doesn't exist though right, so as long as you aren't spamming requests to retrieve an item that doesn't exist the cost will be the same, as it's either there and in the cache (no different) or it's there and you get it from the server directly which is useful

[2021-11-17 08:50] pigbrain opened #1720 "requeueAfter not working .."
In my application, I run codes like  below..

[code]

I expected next reconcile called after 2sec, but requeueAfter  is not working..
Next reconcile was called immediately.

[2021-11-17 08:54] coderanger commented on #1720
If another event is received, it will be processed. RequeueAfter just creates a synthetic event (kind of, technically this is all inside the workqueue) after that time period. Also `2 seconds` isn't valid Go code so I'm assuming you edited this from your actual code.

[2021-11-17 09:47] pigbrain commented on #1720
@coderanger Thanks for your reply. How do i know what event has occured ??

[2021-11-17 11:41] #1720 closed

[2021-11-17 13:57] #1631 closed

[2021-11-18 01:38] ysong6 commented on #1653
@zaneb How did you know it's because insufficient RBAC permissions. I meet the same issue now. I thought it might not be caused for insufficient RBAC permissions, for the same code can run in the laptop. Could you please give me some hint for troubleshooting? Thank you.

[2021-11-18 17:20] BlaineEXE commented on #1702
I suppose from a Golang developer perspective, that approach may actually be more straightforward and simple to understand than the reactor anyway. Thanks :)

[2021-11-18 17:20] #1702 closed

[2021-11-21 17:36] anders-swanson commented on #1229
Is there any update or interest in this issue? If you are using the controller-runtime client and want to run a command on a pod, managing two clients adds a certain degree of complexity/cludge to your code.

[2021-11-21 17:38] anders-swanson opened #1723 "Support running commands on a pod with controller-runtime client"
As a user I would like to use the controller-runtime client to run commands on pods, and receive the stdin/stdout/stderr. As it is, I must create a kubernetes-go client from inside routines that use the controller-runtime client - this adds a certain amount of cludge/complexity to the code. It would be great if the controller-runtime exposed an interface for this functionality, which would abstrac

[2021-11-21 21:19] coderanger commented on #1229
@anders-swanson Both of these are very rarely used and even then most of those times are incorrect so I would say the update is "we're not worrying about it".

[2021-11-21 21:19] coderanger commented on #1723
Please don't open duplicates, especially when you _know_ it's a duplicate.

/close

[2021-11-21 21:19] #1723 closed

[2021-11-22 13:02] enxebre opened #1725 "CreateOrUpdate does not support the status sub-resource"
CreateOrPatch supports the status sub-resource whereas CreateOrUpdate does not. I'd expect both to support status unless there's a reason to not?

[2021-11-22 15:57] chrispatmore commented on #1715
Any actions to take on this? Should I raise a new issue around what we discussed above for adding the ability to access resources that are not cached?

[2021-11-23 02:51] ycyxuehan opened #1726 "Failed to go get package after bump controller-runtime to v0.10.1"
尝试过使用go get获取过0.10.3/0.10.2/0.10.1三个版本的包，均无法正常工作，出现类似下方的错误：
[code]

[2021-11-23 02:55] ycyxuehan commented on #1726
[code]

[2021-11-23 03:05] coderanger commented on #1726
Hi there, unfortunately I don't think we have any Chinese speakers who work on controller-runtime. Could you post your question in English?

[2021-11-23 03:08] coderanger commented on #1726
Going off auto-translate it sounds like you're trying to install controller-runtime into a blank or otherwise non-Kubebuilder project. You'll have to match our dependencies and things can get a bit complex given how many deps Kubernetes itself pulls in. If you generate a project using Kubebuilder, we set up the dependencies in a known working way. In this case it appears you have the wrong version

[2021-11-23 03:22] ycyxuehan commented on #1726
i am sorry, i will try to communicate in english.

my project is created at 2019, and it work good at kubernets 1.18, now I upgrade my kubernetes to 1.22, so i should update my project. and then i got this issue.
I follow the steps below:
- clean the go.mod file
- run `go mod tidy`
- update my codes
- run `make docker-build`
the error occurred

[2021-11-23 03:23] coderanger commented on #1726
Yeah unfortunately go's dependency analysis doesn't work well enough for our needs. What I would recommend is starting from our current default project layout test data https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/go.mod#L5-L12

[2021-11-23 06:08] ycyxuehan commented on #1726
i have tried my code in go 1.15.2, it works!
this issue appear in go 1.17.3.

[2021-11-24 07:54] clementnuss commented on #1442
/remove-lifecycle stale

not to get this issue closed: the race condition is still present with v0.10.3

[2021-11-24 13:11] bachmanity1 opened #1727 "Not able to find kube-apiserver binary"
Where can I download `kube-apiserver` binary?
Here is my `PROJECT` file
[code]
but running `make test` doesn't automatically download `kube-apiserver` binary and I'm not able to find this binary anywhere in the web.

[2021-11-24 13:22] bachmanity1 opened #1728 "Not able to find `kube-apiserver`"
Where can I download `kube-apiserver` binary?
Here is my `PROJECT` file
[code]
but running `make test` doesn't automatically download `kube-apiserver` binary and I'm not able to find this binary anywhere in the web.

[2021-11-25 02:46] FillZpp commented on #1726
Actually we have, it's me 😆

@ycyxuehan It seems all errors you got are caused by `"github.com/go-logr/logr"` dependency. Generally speaking, you have to update the dependencies in your `go.mod` to the version used in `controller-runtime@v0.10.1`'s `go.mod`.

/retitle Failed to go get package after bump controller-runtime to v0.10.1

[2021-11-25 09:22] chrispatmore opened #1729 "Add an option to pass requests through the filtered cache"
After discussion on https://github.com/kubernetes-sigs/controller-runtime/issues/1715 , more specifically from
https://github.com/kubernetes-sigs/controller-runtime/issues/1715#issuecomment-970072781

It was thought that the addition of an option that allowed client requests to get resources that were not cached would solve some use cases.

If an operator uses the filtered cache with matchers for

[2021-11-25 13:23] paullaffitte opened #1730 "admission.Errored should provide reason"
[code]

returns

[code]

while it could (and should) returns

[code]

[2021-11-26 15:43] #1727 closed

[2021-11-26 17:26] #1458 closed

[2021-11-27 02:28] #1456 closed

[2021-11-27 17:32] #1575 closed

[2021-11-30 17:40] prksu opened #1732 "Add Object Patcher as CAPI has in controllerutil package"
CAPI has a good [patcher utility ](https://github.com/kubernetes-sigs/cluster-api/blob/main/util/patch/patch.go)for the controlled object. But it has specific CAPI logic for CAPI conditions which is not generally used by other controllers. It would be better if controller-runtime has similar utility might be under controllerutil package with more general logic.

maybe we can adopt the old version

[2021-11-30 18:58] fabriziopandini commented on #1732
I'm happy to brainstorm on how to make CAPI specific things pluggable into a single implementation we all leverage on

cc @vincepri

[2021-11-30 21:40] coderanger commented on #1732
This looks like something that might be better served by Apply anyway?

[2021-11-30 23:07] vincepri commented on #1732
@fabriziopandini If we also upstream conditions at some point, the CAPI-specific bits should be minimum and potentially pluggable

[2021-12-01 12:58] zouyee opened #1733 "export queue's length of Controller"
Describe the feature request

In `istio`, we are using `kubebuilder` reconcile to process crd object(like serviceentry) in the Kubernetes and store them in the cache. Every time we start the `polit-discovery` componet, it will rebuild the cache which we want to know when the cache is complete. If the events are stacked in the queue, the cache is incomplete and our service is unreliable. We need a

[2021-12-01 16:13] #1708 closed

[2021-12-01 19:58] gallettilance opened #1735 "Why do Objects sometimes have empty `TypeMeta`?"
I built a controller that tracks a resource type called `Mykind` which creates/updates/deletes `Pods`.

[code]

I created a predicate function as follows:

[code]

Looking at the output logs I noticed that some event objects don't have `TypeMeta` populated while others do:

[code]

Why is that the case?

Looked through the repos and found a few related issues:

- [kubernetes/#80609](https://github

[2021-12-01 21:40] coderanger commented on #1733
-1 on this approach, it's going to get all kinds of complicated because new events will still be coming in. There may never be a point at which the queue is empty. Is there a reason you can't use the field indexer system and normal List/Get? If you want to avoid that, I'm not sure there's a good way to handle this, other than making an explicit snapshot via List and then in Reconcile check if you'

[2021-12-01 22:42] coderanger commented on #1735
Previously discussed in https://github.com/kubernetes-sigs/controller-runtime/issues/1517#issuecomment-839979174 but that also doesn't really cover the "why".

[2021-12-01 22:42] coderanger commented on #1735
I think this should be closed as a dup as we've already established we don't plan to implement a workaround here.

[2021-12-02 00:41] gallettilance commented on #1735
I'm fine with closing this, I'm just trying to understand why this is happening (what makes it populated and what makes it empty). And if there's a way I can get these objects to be consistently one or the other.

Without knowing the above can occur, one might be tempted to do something like this:

[code]

where you ignore status changes for one kind and not the other (which seems reasonable - cor

[2021-12-02 00:56] coderanger commented on #1735
Agreed it is an unfortunate footgun :-( I think the only way you're going to get a "why" is to just read all the relevant client-go code, which is a big task.

[2021-12-02 04:09] FillZpp commented on #1733
1. As @coderanger said, empty queue does not mean there are no incoming events or objects.
2. Even if the length of queue is `0`, it just indicates the length of the **waiting queue**. But the **dirty set** or **delaying queue** might not be empty, so it does not mean there are no objects waiting for reconciling.
3. I don't think it is a good idea to define a *complete state*, for the world of Kub

[2021-12-02 05:28] coderanger commented on #1733
Also the workqueue is kind of an implementation detail. It's been useful but I could easily imagine a world where we switch to something else for some reason where there is no longer a meaningful "length" (on top of FillZpp's point that even now stuff can be in more states than just "pending").

[2021-12-02 13:32] #1735 closed

[2021-12-02 16:53] gallettilance commented on #1735
Actually you can do even simpler:

[code]

[2021-12-03 00:20] dobsonj opened #1737 "DelegatingLogger reports incorrect source lines when zap.AddCaller() option is used"
I noticed an issue with logging in controller-runtime when source line logging is enabled via the zap.AddCaller() option.

For context, I was debugging local-storage-operator, with the following options passed into SetLogger:

https://github.com/openshift/local-storage-operator/blob/8fc42cc8b990907c88a6da551dc85b55c2dc4417/main.go#L79-L87
[code]

During startup, it prints log messages like this, a

[2021-12-08 04:16] yoichiwo7 commented on #1657
It looks like there is no kubebuilder-tools that support `darwin/arm64`. Considering Intel Mac will be replaced by M1 Mac, the `darwin/arm64` files  must be added in near future.
https://storage.googleapis.com/kubebuilder-tools

However, there is a workaround for M1 Mac.
If you need to run kubebuilder-tools on M1 Mac, you can just add `--arch=amd64`option to `setup-envtest` command to use Intel bi

[2021-12-08 09:16] Mei-pris opened #1740 "Where should resourceVersionChangedPredicate be used"
ResourceVersionChangedPredicate implements a default update predicate function on resource version change.
 When an update event occurs，I think the resourceVersion must changed. So where should resourceVersionChangedPredicate be used?

` func (ResourceVersionChangedPredicate) Update(e event.UpdateEvent) bool
 {
	if e.ObjectOld == nil {
		log.Error(nil, "Update event has no old object to update", "

[2021-12-08 13:24] rmetzger commented on #1657
Native binaries for darwin/arm64 would be much appreciated!

[2021-12-08 18:31] gallettilance opened #1742 "Is there a way to create a fixed size cache?"
I know you can do pagination for `List()` calls - can something similar be done for the cache in order to prevent memory exhaustion when watching resources like secrets, rolebindings, etc. that may be numerous on a large multi-tenant cluster.

[2021-12-08 18:51] coderanger commented on #1742
Not currently, but you can do partial or no caching to reduce the size of the cache. We also support metadata only watches.

[2021-12-08 18:54] gallettilance commented on #1742
@coderanger thanks for the quick answer! Do you have links to partial caching? Are you referring to `ClientDisableCacheFor`, or using `Label` and `Field` selectors when creating the cache, or something else?

[2021-12-08 19:05] coderanger commented on #1742
DisableFor would be to remove caching of a particular type, for example if you need to watch it for event triggers but don't need the actual content (or are okay with uncached gets). For partial stuff, you can pass in a selector to restrict the watch, which also restricts the cache since it is driven from the watch. I think there is a PR somewhere to do a normal watch with selector-based caching b

[2021-12-10 05:36] algebra2k opened #1744 "Help: Can I batch process objects in reconcile?"
My option is:
1. reconcile an object
2. When the object accumulates to a certain size for batch processing

[2021-12-10 05:39] coderanger commented on #1744
This isn't really a great venue for iterative advice and support, will be a lot easier if you can join our Slack (slack.k8s.io) and ask in the #controller-runtime or #kubebuilder channel.

[2021-12-10 09:23] coderanger commented on #1744
/close

[2021-12-10 09:23] #1744 closed

[2021-12-13 00:44] #1594 closed

[2021-12-13 02:59] FillZpp commented on #1740
@Mei-pris Actually, the only reason for this is to ignore the update events triggered by `resyncPeriod`, which will send update events for all objects in cache every 10 hours by default.

[2021-12-13 07:16] ycyxuehan commented on #1726
i tried v0.10.0~v0.10.3, all failed, the go version is 1.17.3.
how can i fix this execpt use old go.

[2021-12-13 09:44] #1572 closed

[2021-12-13 13:01] camilamacedo86 commented on #1416
/remove-lifecycle stale

[2021-12-13 14:11] Rory-Z opened #1745 "Pod is not created by deployment in ginkgo test case"
Hi guys
I just started using this project and it's great, but I've run into some problems
I wrote the test script, like the following

[code]
Then I got this printout

[code]

I can see that the pod is not created and the deployment status is not updated, which makes me wonder, am I missing something?

[2021-12-13 14:25] Rory-Z commented on #1745
Some information
[code]

[2021-12-13 15:19] ystkfujii commented on #1545
Shoud I change the ginkyo v1.16.0 to v2.0.0-rc2 ?

There are some changes other than AAA, should I modify them?
For example, the argument of the BeforeSuite function.

[2021-12-13 15:47] #1462 closed

[2021-12-14 01:44] jayunit100 opened #1746 "blackhole when apiserver not available"
This code seems to sputter, in cases where, for example, a proxy is misconfigured.  Should it timeout if the http connection/client load doesnt happen fast enough?

The consequence is that code in cluster api , such as
[code]

Can get really tricky to debug.

# Details

This is the code where, i think we need a timeout

[code]

[2021-12-14 02:43] coderanger commented on #1746
Operators are expected to be running in-cluster where there will be no proxies. Also what would a timeout even do? If it exits, all that will happen is it restarts and keeps trying anyway.

[2021-12-14 06:39] Rory-Z commented on #1745
`config.GetConfigOrDie()` to execute test cases is no problem, but when using `envtest.Environment.start()`, Deployment can't create pods.

[2021-12-14 08:13] maelvls commented on #1660
I'd be happy to help add this check, I will open a PR.

[2021-12-14 08:13] maelvls commented on #1660
/remove-lifecycle stale

[2021-12-14 13:37] jayunit100 commented on #1746
proxies are plumbed in on accident sometimes,  through  other mechanisms

[2021-12-15 08:19] moluzhui opened #1748 "How to elegantly solve the update conflict problem"
The following problem occurred when I used `r.Update(ctx, instance)` to update the K8S instance
[code]
This should be caused by the modification of `other controllers at the same time`, so is there any suitable way to solve this problem?

[This](https://github.com/kubernetes-sigs/controller-runtime/issues/1464#issuecomment-824551919) provides a way to retry, but in my opinion this is not elegant e

[2021-12-15 08:51] FillZpp commented on #1748
@moluzhui Oh, nice to see you here.

Generally 2 ways to handle the conflict error:
1. Use `RetryOnConflict` function that is provided in `"k8s.io/client-go/util/retry"` to get the object and update it again when run into conflict.
2. Just return the error and let controller trigger your reconcile again with rate limiting.

You may choose the better one according to your controller logic.

[2021-12-15 12:29] dmvolod opened #1749 "envtest keep Etcd server running if kube-apiserver fails to start in te.ControlPlane.Start()"
Before test grep
[code]

First incorrect kube-apiserver start with envtest (no default route)
[code]
Second incorrect kube-apiserver start with envtest (no default route)
[code]

[2021-12-15 20:06] dmvolod commented on #1749
/assign

[2021-12-15 22:00] coderanger commented on #1748
Better solution, stop using Update(). I can't think of any reason to use it in controller code. Most requests should use Patch() with Server Side Apply and the few that can't use Apply should use auto-merge-patch.

[2021-12-16 02:43] FillZpp commented on #1748
@coderanger I think we should choose `Patch` or `Update` for different scenarios. If we are updating some fields that will be modified by multiple clients with co-operation, we should use `Update`.

For example: Now I want to create 3 new pods, which means I have to add 3 to the Deployment replicas. If I get the old Deployment, add 3 to the replicas and then patch the replicas field. I might overw

[2021-12-16 02:45] coderanger commented on #1748
No, that is in fact exactly the situation for Server Side Apply :) That is why it exists. It allows per-field ownership tracking.

[2021-12-16 03:05] FillZpp commented on #1748
Emm... So for the example I mentioned above, there are multiple controllers or people going to increase or decrease number based on the **latest** `replicas` of a Deployment. How should they do with Server Side Apply?

If the `replicas` has just changed by another controller when I apply a change, how should the applier resolve the concliect? According to the [document](https://kubernetes.io/docs/

[2021-12-16 03:09] coderanger commented on #1748
In that very specific example, yes you would set `force` to false and then use a retry loop. However that's an edge case of an edge case. Even then though, you wouldn't use Update().

[2021-12-16 03:10] coderanger commented on #1748
But also that example is really not how controllers work, you should never be doing "current value + 1", that's not a convergent behavior and will result in a broken state over time :)

[2021-12-16 03:25] FillZpp commented on #1748
Aha, I keep my reservations. I agree with that we should use Patch as much as possible, but I don't really think Update can be totally deprecated when we are writing controllers. Just like we could not replace all Update operations with Patch in kube-controller-manager. 🤔

[2021-12-16 06:37] dmvolod commented on #1749
Will be fixed in #1750

[2021-12-16 07:23] timebertt commented on #1290
/reopen
/remove-lifecycle rotten

[2021-12-16 13:25] clementnuss commented on #1607
I think this issue can be closed, with `controller-runtime:1.11.0` it's possible to use `logr` v1+

[2021-12-16 14:31] dmvolod commented on #1749
/unassign

[2021-12-16 14:41] clementnuss commented on #1442
is this issue still valid with controller-runtime v0.11.0 ?
I tried to reproduce the bug but it never happened again so far (though it did not happen deterministically)

[2021-12-16 19:53] zawachte opened #1751 "Setting APIServer.SecureServing.Address to anything other than 127.0.0.1 envtest.Start fails."
Repro code:

[code]

output:

[code]

[2021-12-16 19:55] zawachte commented on #1751
Root cause seems to be that

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/testing/controlplane/apiserver.go#L378

[code]

No names are being passed into NewServingCert

[2021-12-16 20:33] #1607 closed

[2021-12-17 03:06] FillZpp commented on #1442
I think it has been solved in https://github.com/kubernetes-sigs/controller-runtime/pull/1695 .

[2021-12-17 04:21] moluzhui commented on #1748
@FillZpp  nice to see you here
Thank you for your help. I used `RetryOnConflict` function to solve this problem

[2021-12-18 13:02] FillZpp commented on #1748
/close

[2021-12-18 13:02] #1748 closed

[2021-12-21 18:56] nicks opened #1752 "v0.11 breaks Start() -> Reconcile() context propagation"
In controller-runtime v0.10, manager.Start(ctx) would propagate that context to all reconcilers. e.g., if you attached a trace context or logger to the context, all reconcilers would be receive that in their context.

https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.11.0/pkg/manager#Manager
https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.11.0/pkg/reconcile#Reconciler

In controller-runtim

[2021-12-21 19:10] nicks commented on #1752
One way to fix this would be to have manager Options accept a parent context, if you'd be willing to accept a PR for it.

[2021-12-22 03:39] FillZpp commented on #1752
@nicks Yeah, the reason for this is very clear: we have to **control the stop order of different kinds of runnables**.

When the ctx from `manager.Start(ctx)` is closed, the manager will execute `engageStopProcedure` in defer func, which stops runnables by the following order: Others runnables, LeaderElection runnables, Caches, Webhooks. The former runnables might have dependence on the latter one

[2021-12-22 06:58] akankshapanse opened #1754 "Allow configuring TLS ciphers for webhook server"
With changes dony by https://github.com/kubernetes-sigs/controller-runtime/pull/1548, webhook server has TLSMinVersion configurable, while setting up webhook server with manager. However, there is no option to configure the TLSCiphers.

For TLSMinVersion set to 1.2, default TLS cipher suites, coming from Go crypto/tls library, include some insecure ciphers, which leave the system open to multiple

[2021-12-22 08:20] clementnuss commented on #1442
@AliMohammadiSoumee @brakthehack can you guys try to reproduce your race condition with controller-runtime prior v0.11 and then with v0.11 ?

I cannot reproduce it with v0.11 personally, but it had only happened a few times
If not i think this issue could be closed

[2021-12-22 20:40] AliMohammadiSoumee commented on #1442
I have reproduced it with controller-runtime v0.11.0, and apparently, the issue is solved.

[2021-12-23 02:34] FillZpp commented on #1442
/close

[2021-12-23 02:34] #1442 closed

[2021-12-26 23:37] mattysweeps commented on #1319
/remove-lifecycle rotten

[2021-12-27 03:17] #1611 closed

[2021-12-27 07:15] FillZpp opened #1755 "Should we support `MutationCache` in controller-runtime?"
### Description

This is **NOT** intended to make the real cache mutable. Actually, `MutationCache` is [a struct defined in client-go](https://github.com/kubernetes/client-go/blob/master/tools/cache/mutation_cache.go). But it needs args like `Store` and `Indexer` in client-go, so it is hard to be used with controller-runtime.

So I would like to add a similar one in controller-runtime to work with

[2021-12-27 07:22] FillZpp commented on #1755
/assign

[2021-12-28 17:16] lrascao commented on #878
For future reference, this is lookup workaround mentioned by @estroz :

`	kubeconfig := flag.Lookup("kubeconfig").Value.String()`

[2021-12-29 12:27] oleg-yudovich opened #1757 "Controller runtime List panic"
Version: sigs.k8s.io/controller-runtime v0.10.3

 When the cluster's API server is down our controller manager Reconcile crashes when trying to check cluster health by calling  [List](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.10.3/pkg/client#Reader.List)

Attached stack trace:

error="panic: runtime error: invalid memory address or nil pointer dereference [recovered]\n\ngoroutine 593 [r

[2021-12-29 13:30] FillZpp commented on #1757
@oleg-yudovich  Did you use `WithCustomMapper`, `WithLazyDiscovery` or some other RESTMapper options?

[2021-12-30 11:06] acechef opened #1758 "Why does my Watches function not work"
Version: sigs.k8s.io/controller-runtime v0.10.0

I have two resources, they are: ChainConfig and ChainNode, there is no reference relationship between them.

Now I want to enter the Reconcile loop of ChainNode when ChainConfig changes, I wrote the following code in the `chainnode_controller.go` file:

[code]

However, when I modify the ChainConfig resource, the Reconcile loop of the ChainNode Cont

[2021-12-30 11:24] weilaaa opened #1759 "Cache start should failed if crd of scheme not found"
**What happened?**
Assumed we didn't apply crds into cluster, and then list/get cr by using cache of controller-runtime, we got error when list rather than got error when cache start.

- code like that:
[code]
- got:
[code]

- expect:
expected error occurred when `c.Start(ctx)`, something like: "cache start error: xxx"

**controller-manager**
version: v0.11.0

[2021-12-30 11:25] weilaaa commented on #1759
/kind bug

[2021-12-30 11:27] weilaaa commented on #1759
If this problem is accepted, I'm willing to deal with it.

[2021-12-30 16:39] yuzp1996 opened #1760 "controller will hang when set renewDeadline greater than leaseDuration"
Hi  I  encounter a problem when I set renewDeadline greater than leaseDuration  and the controller will hang and no error will be report

for example

[code]

[2021-12-30 19:10] coderanger commented on #1758
1) You can just an `Owns()` watch instead of the expanded form but that's not the problem 2) are you 100% sure you are correctly setting the owner reference when creating the ChainNode object?

[2021-12-31 02:45] FillZpp commented on #1759
@weilaaa Actually, when you create a new cache with no watch GVK registered in it, it does nothing when start and it has no idea which CRD should it check from scheme. Util you called `List` with some kind of resource, it tries to create an informer for this kind, begins to list watch for it, and gets the no kind error.

[2021-12-31 05:19] AnyISalIn opened #1762 "Deletion verb interrupted by mutating handler"
### Environment

* kubebuilder v3.1.0
* controller-runtime v0.8.3
* kubernetes 1.20.3

### How to reproduce

* enable deletion validation for CRD
* enable mutating handler for CRD
* execute `kubectl delete <crd> <cr>`, its should returns `Error from server: admission webhook "xxxxxx" denied the request: there is no content to decode`

### Possible  Problems

when you want to delete a CR, [mutaing

[2021-12-31 06:19] weilaaa commented on #1759
Yep, I noticed that informer will be dynamic created when we try to fetch some resource of a kind at first time.

I agreed with you said that "it has no idea which CRD should it check from scheme" when cache start, thanks.

https://github.com/kubernetes-sigs/controller-runtime/blob/46179a0b83709c2708272d2058aa37e54f4e0eff/pkg/cache/internal/informers_map.go#L186-L198

[2021-12-31 06:40] FillZpp commented on #1762
Yeah, it used to be in `req.Object` and has been moved to `req.OldObject` since Kubernetes 1.16 for both validating and mutating DELETE.

I'm not sure should we just skip for deletion request [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/admission/defaulter.go#L61), or improve it like this:

[code]

I prefer the latter one, for it is a little weird if users e

[2021-12-31 10:16] AnyISalIn commented on #1762
@FillZpp Thanks! but I don't know what happens when mutations return some diff patches when sending DELETE verb?

[2021-12-31 11:47] FillZpp commented on #1762
That's the problem. Could you run a test for the scenario? Or I can do this when I'm free in the new year :)

[2021-12-31 12:29] AnyISalIn commented on #1762
Okay, I will try later, Happy New Year.

[2021-12-31 14:19] wu0407 commented on #1737
same issue use kubebuilder 3.2.0

[2022-01-02 03:04] #1619 closed

[2022-01-02 06:29] oleg-yudovich commented on #1757
@FillZpp, sorry for the delay. No, we are not using any of the options across the project.

[2022-01-02 10:54] YairHalberstadt opened #1763 "Is it ok for a Reconcile to take a long time."
Hi, I hope this is the right place to ask questions I couldn't find information about anywhere else, if not please do direct me there.

We have a controller that has to do heavy processing which may take a long time. In the worst case scenario maybe even an hour.

At the moment this work takes place in the reconcile loop. This provides us with important guarantees - like that that two controllers

[2022-01-02 11:52] coderanger commented on #1763
No, this is not correct. Long-running work should probably be launched as a Job object. Operators just coordinate stuff, no reconcile should ever take more than a few milliseconds.

[2022-01-02 11:58] YairHalberstadt commented on #1763
@coderanger thanks, just to understand, why not?

[2022-01-02 12:41] coderanger commented on #1763
Because the operator needs to handle all your other objects too. It's multiplexing by not doing blocking operations. And just design-wise we have no handling in place for stuff like storage management to checkpoint long-running computations or stateful data. All that is expected to be handled by the Kubernetes workload types (Deployments, StatefulSets, Jobs, CronJobs, etc). We would we reinvent th

[2022-01-02 12:48] YairHalberstadt commented on #1763
But can't we use controller concurrency for that?

In our particular case there's no need for that. It's a single long running atomic operation.

[2022-01-02 16:13] #1583 closed

[2022-01-02 23:02] coderanger commented on #1763
I mean it's your code and I can't stop you but it breaks the expected model for a controller. I've given you the explanation, if you're response is "I don't care" then ... go for it?

/close

[2022-01-02 23:02] #1763 closed

[2022-01-03 03:43] YairHalberstadt commented on #1763
Ok, thanks for your time! I guess I was trying to understand if this was a hard limit, or something which we could use for a prototype, and move off of when we move to an actual release.

[2022-01-04 09:41] rhrazdil opened #1764 "Reconcile is triggered periodically even when predicate returns false"
We're hitting an issue when watching nodes for changes in labels
In our use case, we are watching nodes for label updates and reconcile all CRs upon node label update.
I have reproduced the same behaviour on a simple [hello-operator2](https://github.com/rhrazdil/hello-operator2) project.
The following is a snippet of the troublesome code:
[code]

When executed, the Traveller reconcile loop is peri

[2022-01-04 13:48] AnyISalIn commented on #1762
@FillZpp Kubernetes seems unable to handle patches on DELETE Verb when mutation handler, see from here [mutating/dispatcher.go#L315](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/webhook/mutating/dispatcher.go#L315), may we need to skip it?

[code]

[2022-01-05 03:07] FillZpp commented on #1762
Alright, if so, I think it is reasonable to skip this verb.

What's more, I'm not sure if we should disable [the DELETE verb in controller-tools](https://github.com/kubernetes-sigs/controller-tools/blob/master/pkg/webhook/parser.go#L148) so that it will not generate it in MutatingWebhookConfiguration or return an error to warn users that DELETE can not be used in mutating webhook?

Any suggestions

[2022-01-05 05:58] FillZpp commented on #1764
@rhrazdil It is because `For(&corev1.Node{})` already helps you watch Node resources and you had not configured any predicates for it. So I don't really understand why you have to `Watches(Node)` again.

Anyway, you might get what you expect after adding predicates for it.

[code]

[2022-01-05 09:25] Aisuko commented on #1571
Hi, guys. Hit the same issue here with `1.22.1-darwin-amd64`

[2022-01-05 10:02] rhrazdil commented on #1764
@FillZpp I see thanks!

Our intention here is to reconcile all Travellers CRs when a node labels change,
that's the point of the Watches (mind you, allTravellers in the example code provided above returns empty requests, but in the real code it would return all Travellers):
[code]

Now, following your suggestion, this code:
[code]
Does solve the issue with periodic reconciles that, as I now unders

[2022-01-05 10:44] Aisuko commented on #1571
I know this is not a solution, if anyone hit same issue like me. This may work for you, I try the solution above, migrate the `testEnv.Stop` from `AfterSuite` to `BeforeSuite` may cause the `kube-apiserver` process killed failed.

[code]

[2022-01-05 15:35] nicks commented on #1752
:thinking: ya, that's tricky. i wish context had a way to disconnect the cancellation, but keep all the attached values

[2022-01-06 03:13] FillZpp commented on #1764
Because the `For` called for the *main* type of this controller, which means it is the resource object that enqueue and reconcile. So we just use `EnqueueRequestForObject` and users have no need to set a specific event handler for it. And I still don't understand why you have multiple requests to enqueue for one Node event.

The answer is yes. But you have to new the controller and do watch manual

[2022-01-06 07:56] #1505 closed

[2022-01-06 12:56] michaelbeaumont opened #1766 "builder.Builder should allow creating unmanaged Controllers"
The option to create a `Controller` without immediately `Add`ing them to the `Manager` was added in https://github.com/kubernetes-sigs/controller-runtime/pull/863.

Right now, it's impossible to use this functionality with `builder.Builder` because it is hard-coded to use `controller.New`. I propose [adding a method to `builder.Builder`](https://github.com/michaelbeaumont/controller-runtime/blob/f

[2022-01-06 13:54] dmvolod commented on #1749
/close

[2022-01-06 13:54] #1749 closed

[2022-01-06 22:06] #1628 closed

[2022-01-07 16:14] michaelbeaumont commented on #1766
I'm going to close this issue because I no longer need this change.

[2022-01-07 16:14] #1766 closed

[2022-01-10 00:35] disraelig444 opened #1768 "STREAM OR MASTER"
Anagrams

[2022-01-10 00:41] coderanger commented on #1768
/close

[2022-01-10 00:41] #1768 closed

[2022-01-10 07:03] oleg-yudovich commented on #1757
@FillZpp do you have any updates?

[2022-01-10 07:49] AllenZMC opened #1769 "Does it support openshift resources, such as adding, deleting, modifying and checking routes?"
Help! Does it support openshift resources, such as adding, deleting, modifying and checking routes?
Thanks!
After the schema is registered, there is no problem with the creation of the route, but the get cannot get it .

[2022-01-10 07:50] coderanger commented on #1769
The client is generic and supports any resource. You can find more documentation at https://book.kubebuilder.io/.

/close

[2022-01-10 07:50] #1769 closed

[2022-01-10 07:52] AllenZMC commented on #1769
But after the schema is registered, there is no problem with the creation of the route, but the get cannot get it .

[2022-01-10 07:57] AllenZMC opened #1770 "Can't get openshift routes, but can create and update it"
Can't get openshift routes, but can create and update it

[2022-01-10 11:57] rhrazdil commented on #1764
Thank you! This solves the problem.

I looked at the builder code and I have a suspicion, but I'm not sure whether it's correct or not.
The Builder struct has ForInput and WatchesInput, each having it's own predicates, so the following
code
[code]

seems to trigger reconcile request from the `For`, as well as from the `Watches` calls.

This makes the `NewControllerManagedBy` construct a bit mislea

[2022-01-10 21:45] jokicnikola07 opened #1771 "Inconsistency in using type Opts and func(o *Options) in pkg/log/zap"
While reading the code, I noticed that some Functional Options are returning exported type Opts, and some are returning function literal that matches that type. For example:
[code]

For readability purposes, I think that each functional option should return type Opts

[2022-01-11 03:18] camilamacedo86 opened #1772 "The project was bumped to use go 1.17 but not envtest bin"
The project was bumped to use go 1.17 but not envtest bin, see:
https://github.com/kubernetes-sigs/controller-runtime/blob/master/tools/setup-envtest/go.mod#L3

[2022-01-11 03:20] camilamacedo86 commented on #1659
@varshaprasad96 , @vincepri
Could we add this one as a priority?

[2022-01-11 03:20] camilamacedo86 commented on #1670
@varshaprasad96 , @vincepri
Could we add this one as a priority?

[2022-01-12 03:44] FillZpp commented on #1670
Actually, this is a trick of go install with modules. It is **because your project does not import the "sigs.k8s.io/controller-runtime/tools/setup-envtest"**, rather than controller-runtime doesn't have the setup-envtest in releases.

It's easy to solve it:

1. Require the controller-runtime in your go.mod

[code]

2. Create a go file in your project with `build tools` comment and import `.../setu

[2022-01-12 03:47] FillZpp commented on #1659
As I said in #1670,  controller-runtime does have the setup-envtest in releases. But You have to import it in your project with build tool and then you can install it with the required version.

You can follow this: https://github.com/kubernetes-sigs/controller-runtime/issues/1670#issuecomment-1010602287

[2022-01-12 03:49] FillZpp commented on #1670
@camilamacedo86 We can add the steps above into document, so that users can install setup-envtest with controller-runtime version they required.

[2022-01-12 18:31] delps1001 opened #1774 "Manager error results in pod crash"
Using the manager, if there is an issue with leader election, our program should exit immediately according to the docs:

https://github.com/kubernetes-sigs/controller-runtime/blob/b8db76e66383819c94f530bd4b8dea60025b716f/pkg/manager/manager.go#L81-L87

However, when I experience a network issue in our kubernetes cluster, sometimes our application pod will continually restart because it has moment

[2022-01-12 23:01] tamalsaha opened #1776 "Client incorrectly tries to cache api types that can't be cached"
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/split.go#L102-L121

This function does not check whether the GVK actually supports LIST and WATCH verbs via discovery api. As a result, it tries to cache api types that can't be cached.

We have written a few EAS-es where only GET and LIST verbs are supported. The client can't be used to Get, List those since it tries to

[2022-01-13 03:45] FillZpp commented on #1774
Yes, it is the expected behavior. The client doesn't know whether the network issue is in the whole cluster or itself. If it continues to run without restart and another manager pod has been new leader, they might work at the same time and lead to unexpected result.

1. You can deploy your controller with one replica, so that you can disable the leader election. But this is not the recommended way

[2022-01-13 18:37] delps1001 commented on #1774
@FillZpp thank you for the information!

[2022-01-13 18:37] #1774 closed

[2022-01-14 10:25] camilamacedo86 commented on #1670
Hi @FillZpp,

Thank you for your time and help on this.

My concern/motivation to raise this one is that in Kubebuilder we are: ([here](https://github.com/kubernetes-sigs/kubebuilder/blob/master/testdata/project-v3/Makefile#L113-L116))

[code]

Then, a KB user scaffolds the project today. The scaffold is done with controller-runtime version X.
Afterwards, we still producing new releases and versio

[2022-01-16 17:41] #1633 closed

[2022-01-17 09:35] liz1989 opened #1778 "Why is "--master" flag deprecated?"
If my `--kubeconfig` file do not have api server address, what's the suggested way to specify the master address?

[2022-01-17 10:12] jichaofdu commented on #1720
I have the same issue

[2022-01-18 02:51] FillZpp commented on #1778
If so, you may have to copy the kubeconfig file, insert master address into it and then apply the new file to `--kubeconfig`.

[2022-01-18 07:09] chrischdi commented on #1396
/remove-lifecycle stale

[2022-01-18 09:16] grzesuav opened #1779 "[feature request] Add support for pprof"
# Add support for serving pprof data

It would be nice to extend manager with option to enable pprof when requested, I found similar issue in kubebuilder suggesting it should be added in controller-runtime

Related issues :
 - https://github.com/kubernetes-sigs/kubebuilder/issues/1225

[2022-01-19 01:18] christopherhein commented on #1385
/close

[2022-01-19 01:19] #1385 closed

[2022-01-19 10:38] erdii commented on #979
/reopen

[2022-01-19 10:58] JoelSpeed commented on #979
/reopen

This is still relevant IMO

[2022-01-20 00:59] dgkanatsios opened #1782 "parent CRD reconcile slow to react to many child CRD updates"
We are working on the operator in this repo: https://github.com/PlayFab/thundernetes/tree/master/pkg/operator

We have two CRDs, GameServerBuild and GameServer. GameServerBuild has a .standingBy (replicas) field that will create X instances of GameServer. GameServerBuild Controller is .For(GameServerBuild) and .Owns(GameServer), GameServer Controller is .For(GameServer). GameServerBuild Controller

[2022-01-20 03:50] FillZpp commented on #1782
Just my thought and questions.

1. There is no relation to the RateLimiter, unless your reconcile returns error.
2. Did you test it with one GameServerBuild or multiple GameServerBuilds? If one, it should be no relation to the MaxConcurrentReconciles of GameServerBuild controller.
3. What do you mean "called at ~60 GameServer creation"?

[2022-01-20 04:04] dgkanatsios commented on #1782
thanks @FillZpp for the comments!

- I tested with a single GameServerBuild. The MaxConcurrentReconciles I mention is applied to the GameServer controller (code [here](https://github.com/PlayFab/thundernetes/blob/master/pkg/operator/controllers/gameserver_controller.go#L264))
- So what I did is include a fmt.Println at the very top of both controllers' Reconcile method to see when it would be call

[2022-01-20 07:31] FillZpp commented on #1782
Aha, I think I have figured out your question. The truth is **both your GameServerBuild and GameServer controllers are fine.** They did not work slowly or have any problems.

It is because your GameServerBuild reconciles and creates desired number of GameServer **ONE BY ONE**, so of course it takes more time when you increase the standingBy number. When GameServerBuild controller is creating GameS

[2022-01-20 09:19] #1641 closed

[2022-01-20 23:46] dgkanatsios commented on #1782
thanks @FillZpp
We fixed it with your help!
The solution is that the loop calls .Create(newGameServer) synchronously, so, as you said, the Controller is unresponsive for the time it takes to create the vast amount of game servers. By adding a variable that controls the max number of gameservers to create per loop, everything works fine.
Thanks for your help, much appreciated!

[2022-01-20 23:46] #1782 closed

[2022-01-21 03:16] FillZpp commented on #1782
@dgkanatsios My pleasure.

For this case, GameServerBuild controller can create the gameservers parallelly. You can see how replicaset controller do this with `slowStartBatch`: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replicaset/replica_set.go#L570
It helps ReplicaSet to create a large number of Pod.

[2022-01-23 03:52] #1475 closed

[2022-01-23 05:54] #1463 closed

[2022-01-24 18:34] jvanz opened #1783 "Adds a StartedChecker method for the controller interface"
I would like to know if make sense for the community to add a method in the controller to interface to allow the user define the readiness probe as "ready" when the controller starts running. Something similar to is done for the [webhook server](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/server.go#L291-L317)

[2022-01-24 19:00] fabxc opened #1784 "Possible leader election deadlock"
I looked at the leader election code in the `controllerManager` and was wondering whether there's a potential deadlock [here](https://github.com/kubernetes-sigs/controller-runtime/blob/f236f0345ad2933912ebf34bfcf0f93620769654/pkg/manager/internal.go#L642).

From the documentation and what I can see in the implementation `LeaderElector.Run` returns if it loses the lease, e.g. due to connectivity is

[2022-01-24 23:17] aw185176 commented on #1669
I think there is still something going on here... Using envtest binaries for k8s 1.20.2 I get the errors above, but Kind @ 1.20.7 I do not.  I am using the same code for both, both of which use the github.com/fluxcd/pkg SSA module which added a workaround for K8s < 1.21.  Looking at the commit on k/k master, it doesn't appear to be in any 1.20.x tags at all.  Either way, I would expect the client-

[2022-01-25 06:16] FillZpp commented on #1783
The question is, if you enabled leader election and deployed multiple pods, there should be only one pod that will start controllers and do reconcile. Do you expect the stand-by pod which have no controllers started yet to be ready?

[2022-01-25 06:23] FillZpp commented on #1784
Then LeaderElector lost the lease, it will call the `OnStoppedLeading` func, which triggers controllerManager to exit immediately.

https://github.com/kubernetes-sigs/controller-runtime/blob/f236f0345ad2933912ebf34bfcf0f93620769654/pkg/manager/internal.go#L621-L632

[2022-01-25 07:50] fabxc commented on #1784
Thanks! I was lookng for some logic like this but didn't spot it yesterday for some reason.

[2022-01-25 07:50] #1784 closed

[2022-01-26 00:39] stevenpitts commented on #1610
/remove-lifecycle stale

[2022-01-26 21:52] erikgb opened #1786 "Cache sync timeout after upgrading to version 0.11.0"
After upgrading our controller K8s dependencies to more recent versions, controller-runtime 0.11.0, K8s 0.23.1, we see an increased frequency of this type of error:

[code]

Any clues what might cause this, and how to fix it? The default cache timeout seems to be 2 minutes, and I think that should be (more than) enough time to sync the cache..... 🤔 We see the problem in 2 out of 3 controllers.

Is

[2022-01-27 02:52] tamalsaha opened #1787 "Expose Discovery Client via controller-runtime"
Currently there is no way to call the discovery apis from client.Client. It will be nice to call discovery apis via the Client. Then we can avoid having to pass multiple clients (one for Client, one for Discovery) everywhere.

[2022-01-27 09:13] FillZpp commented on #1787
I don't think it is a good idea, multiple clients is fine in this scenario. Just like we can not support all K8s API in controller-runtime client, e.g. pod logs/exec, scale subresource, ...

[2022-01-27 09:18] FillZpp commented on #1786
Do you have any conversion webhook for multi-version CRD? (actually it should be solved in 0.11, which used to cause cache sync timeout before)

[2022-01-27 09:40] erikgb commented on #1786
@FillZpp Yes (and no), in one of the two failing controllers we have multiple-version CRD and conversion webhook on the owner side. But also failing for a controller which does not have multiple versions - at least not on the owner side. It might have multi-version CRD with conversion webhook on the ownee side, though. Could that also be relevant?

[2022-01-27 14:41] tamalsaha commented on #1787
I understand not wanting to support every possible api. But discovery apis are accessed much more frequently than pod log/exec api.

[2022-01-27 15:44] avizov commented on #1757
any update with that bug?

[2022-01-28 02:21] FillZpp commented on #1757
Emm... I haven't figured out why it panic. Do you guys get the same problem?

[2022-01-28 03:58] negz commented on #1707
/remove-lifecycle stale

I think this will be pretty important for us going forward.

[2022-01-29 02:10] #1645 closed

[2022-01-31 10:47] fabxc opened #1788 "Support warnings in webhook utils"
The admission package supports returning warnings on webhook requests through `Response.WithWarnings`.
It seems one cannot make use of the utility interfaces and constructors if one wants to respond warnings. So one would end up re-implementing a bunch of the logic.

To not break the existing API, a specific error type could be used which is introspected by the existing utility logic. For an only-

[2022-02-02 14:22] ystkfujii commented on #1545
/assign

[2022-02-02 16:17] wallrj opened #1789 "Reconciler stops responding after some minutes when using the builder.OnlyMetadata watch option"
I'm using `builder.OnlyMetadata` in a controller that watches Secrets, so as to avoid caching all the secret data in-memory.

The controller works initially and my `Reconcile` function is invoked everytime I add / delete / update Secrets in my cluster.

But after some minutes (~8-9 minutes) the controller stops responding to changes in Secrets.

I've increased the logging verbosity so that I can s

[2022-02-03 14:43] wallrj commented on #1789
I've created two CLI tools that hopefully demonstrate the problem more clearly.
Both set up a metadata informer and log Secrets added to a particular namespace.
One uses the client-go API and the other uses the controller-runtime public API.

## Using client-go

https://github.com/wallrj/tmp-controller-runtime-partial-object-experiment/blob/main/cmd/clientgo-metadata-informer/main.go

This one wor

[2022-02-03 20:06] kurt-google opened #1791 "client/config package offers no way to avoid merging `HOME` dir configs"
Originally we assumed `KUBECONFIG` env var would override the search directory for configs and allow us to specify exactly the config we wanted. But it appears there is no way in the `config` package for us to setup a specific config to be used. This is extremely useful functionality for testing.

This is also unexpected in my opinion and reading of https://kubernetes.io/docs/concepts/configuratio

[2022-02-04 10:08] acumino commented on #1545
/assign

[2022-02-04 18:07] jmrodri commented on #1791
@kurt-google interesting. After reading the KUBECONFIG documentation and the comments in controller-runtime, I agree that if the KUBECONFIG environment variable is set, it should use that.

[2022-02-04 18:08] jmrodri commented on #1791
/cc @jmrodri

[2022-02-06 18:50] siliconbrain commented on #1712
/remove-lifecycle stale

[2022-02-07 14:46] alvaroaleman commented on #1786
So you do use the default two minutes timeout? Does it fail like that after two minutes or a different interval?

[2022-02-08 00:41] kurt-google commented on #1791
It does find and use the KUBECONFIG env var, but it does not use it _exclusively_ which is what I understand when reading the docs. It augments the KUBECONFIG configs with the home dir configs which for us results in potentially unwanted or conflicting configs being added.

[2022-02-08 00:49] coderanger commented on #1791
It should follow the same behavior as `kubectl` so if there is a mismatch, we should fix that :)

[2022-02-08 01:56] ystkfujii commented on #1545
/unassign

[2022-02-08 02:30] #1789 closed

[2022-02-08 04:40] bhcleek commented on #1752
I have a context type that facilitates detaching from the parent for cancellation purposes. Would you like a contribution and potentially leveraging it to pass to the runnables?

[2022-02-08 09:14] sbueringer opened #1793 "Logging a panic in Reconcile even if panic should not be recovered"
We have the situation where we don't want to recover panics in Reconcile (RecoverPanic==false), so that panics are still immediately surfaced to users. But it would be great if we could log more information in that case.

I was thinking about a code change ~ like this:
[code]
xref: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L100

The beh

[2022-02-08 09:17] sbueringer commented on #1793
/cc @vincepri

[2022-02-08 09:48] sbueringer opened #1794 "Set controller name as k/v pair in logger"
Hey folks,

I saw that the controller name is add via `WithName` calls on the logger of a controller. This results in a logger name of "controller/\<name\>". I wonder if we should set it as a k/v pair instead.

An example: (I'm using k/component-base/logs for logging)

### Current implementation:

`Log:                     options.Log.WithName("controller").WithName(name),`
(https://github.com/kub

[2022-02-08 09:50] sbueringer commented on #1794
/cc @fabriziopandini

[2022-02-08 13:49] erikgb commented on #1786
Thanks for challenging me to report this issue better! 😊 It seems like I didn't investigate our issue well enough, but now I think I got a bit further.

The issue is reproducible when **enabling leader election**, and occurs during **shutdown** on the **non-leader** replica. It seems like the non-leader attempts to start sync'ing it' cache just before it is shut down - which is aborted resulting i

[2022-02-08 15:20] ykakarap commented on #1794
+1 to the general idea. It would make filtering logs for a specific controller much simpler.

[2022-02-08 21:55] Bjohnson131 commented on #907
/reopen

[2022-02-08 21:56] kurt-google commented on #1791
It is simple to test that `kubectl` does not merge in $HOME dir configs by replacing your `$HOME/.kube/config` file with an improperly formatted one. And this test does show that kubectl will not attempt to load this default config unless it is specified in the `KUBECONFIG` env var list.

[2022-02-09 03:03] FillZpp commented on #1786
If the manager starts to terminate when the controllers and cache are starting, the cache syncing will get timeout because of the canceled context.

https://github.com/kubernetes-sigs/controller-runtime/blob/273e608d8a6cd7f34b6b56a6bd4626878319aed7/pkg/source/source.go#L172-L180

So the question is what's the cause of your manager termination?

[2022-02-09 07:26] erikgb commented on #1786
@FillZpp That is quite easy to answer, since there is a new replica set available - as part of a normal rolling update of the controller deployment. As noted above this happens when **the non-leader is about to shut down**. For some reason it seems to initiate a startup sequence as part of the shutdown, and that is doomed.....

If we compare the behavior on c-r 0.10.3 with c-r 0.11.0, it seems lik

[2022-02-09 12:25] prometherion opened #1796 "nil pointer dereference while performing DeepEqual evaluation in CreateOrUpdate"
We're facing an occasional error in [Capsule](https://github.com/clastix/capsule), where we're using the function `CreateOrUpdate` for some Kubernetes resources.

## Affected Version

`sigs.k8s.io/controller-runtime v0.9.5`

## Stack trace

[code]

---

To provide further [context](https://github.com/clastix/capsule/blob/cd56eab119c92bf870b9995d7ac8760906048124/controllers/tenant/resourcequotas.go

[2022-02-09 15:13] JustinKuli opened #1798 "Leader election events are recorded with the wrong config"
I'm working with a controller that needs to synchronize resources between two different Kubernetes clusters. The controller runs in what we'll call the "spoke" cluster, but we want it to watch resources in another cluster, which we call the "hub." To handle the leader election inside the spoke cluster, we make the manager like this:

[code]

This seems to work, and the configmap/lease that the lea

[2022-02-10 07:55] FillZpp commented on #1786
So it happened when you were updating your controller deployment.

When the old leader terminated, another old controller became leader and began to start its runnables. And then deployment delete it, so it terminated when cache was starting.

So... I don't think there is something wrong with the cache syncing canceled. It is the expected behavior IMHO. Maybe you are expecting the log message to b

[2022-02-10 09:14] erikgb commented on #1786
I agree that this is a probable cause, and to some extent the expected behavior. But I would **not expect this to be logged as an error**. Would it be possible to fix that? A cancellation from the control plane is not an error IMO.

[2022-02-10 09:26] FillZpp commented on #1786
@alvaroaleman What do you think? Does it make sense to check if the `ctx` is done which means it is canceled instead of timeout before line 202?

https://github.com/kubernetes-sigs/controller-runtime/blob/273e608d8a6cd7f34b6b56a6bd4626878319aed7/pkg/internal/controller/controller.go#L195-L205

[2022-02-10 13:46] skitt opened #1799 "Tests crash if os.UserCacheDir() returns an unusable directory"
Since commit 58c17f696263 (“addr.Suggest should lock a file instead of memory”), `pkg/internal/testing/addr/manager.go`’s `init()` function tries to create a directory using either `os.UserCacheDir()` or `os.TempDir()`, whichever succeeds first. In many build environments, `$HOME` is non-empty but points to an unusable directory; in such cases, `os.UserCacheDir()` returns an unusable directory, wh

[2022-02-11 10:10] IoanaIvanova opened #1802 "Context deadlineExceededError faced when using envtest to test k8s operator which uses dynamicClient"
Hello,

I’m trying to setup test for a k8s operator which uses both reconciler Get method and dynamic.Interface Get method to consume/create CRs on the cluster - envtest successfully pass through the reconciler Get call but not through the  dynamic.Interface Get call.

**Context deadlineExceededError** is faced using envtest when trying to test k8s operator which uses `dynamic.Interface` to make c

[2022-02-14 18:24] nickytd opened #1804 "leader-elect is not overwritten when a command line flag it set to false and the corresponding field in ControllerConfiguration is set to true"
Hi

according the docs (and implementation) the command line flags should overwrite the configuration supplied by the CRD [ControllerConfigurationSpec](https://github.com/kubernetes-sigs/controller-runtime/blob/3dafc3c844685e4f672d9e07b88b68ae3f14a842/pkg/config/v1alpha1/types.go#L28)

However if the command flag is set to false and the CR is set to true then this check
https://github.com/kubernet

[2022-02-15 16:54] m1o1 commented on #1787
From what I can tell, this seems to be needed in order to use the helm SDK and share the same clients that the controller runtime manager uses. Maybe helm could change to remove that necessity but just wanted to share a possible use case for this.

[2022-02-15 18:06] tamalsaha commented on #1787
FWIW, I was able to solve this implementing my own delegating client https://github.com/kmodules/client-go/blob/master/client/delegated.go#L122-L127

[2022-02-15 18:06] #1787 closed

[2022-02-15 21:05] #1798 closed

[2022-02-16 03:27] #1786 closed

[2022-02-16 06:40] acechef opened #1809 "unable to find a version that was supported for platform darwin/arm64 when execute make test"
make test
[code]
and I can not find the version at https://storage.googleapis.com/kubebuilder-tools

[2022-02-16 06:43] acechef commented on #1809
Duplicate of #1657

[2022-02-16 07:23] FillZpp commented on #1809
And also duplicate of https://github.com/kubernetes-sigs/kubebuilder/issues/2505 , maybe @camilamacedo86 is working on this.

[2022-02-16 08:41] acechef commented on #1809
@FillZpp 👌

[2022-02-16 13:42] sbueringer commented on #1794
I'll close this issue for now as the k/v pair has been added. I'll include Fabrizio's requirement in a new issue that I'll open in a bit.

/close

[2022-02-16 13:42] #1794 closed

[2022-02-16 14:08] sbueringer opened #1811 "Enable per-reconcile logger customization"
It would be great if it would be possible to modify loggers for individual reconciles.

Some context:
* When using the standard controller `pkg/builder.Builder` today you can set a logger which is later adjusted:
  * during Builder.Build():
    * "reconciler group" and "reconciler kind" k/v pairs are added
    * "controller" and "\<controller-name\>" are added as logger name
    * "controller": "\

[2022-02-16 14:33] sbueringer commented on #1811
/cc @alvaroaleman @fabriziopandini @vincepri
(of course feel free to cc other folks, not sure who else would want to be cc'ed)

[2022-02-16 14:54] zaneb commented on #1653
@ysong6 I don't recall much detail. I checked my notes and it looks like I just had a lucky guess after staring at it for a long time, which I then verified by installing the correct RBAC permissions and seeing that it now worked.

[2022-02-16 15:14] sbueringer commented on #1811
Hm an additional note. Maybe we should make the customizer a bit more powerful (https://github.com/kubernetes-sigs/controller-runtime/pull/1812/files#r808099005)

By passing the ctx into and out of the customizer the customizer could use additional context to customize the ctx and the logger (obviously the name then doesn't fit that good anymore).

I'm especially thinking about the tracing use cas

[2022-02-17 04:56] vincepri commented on #1811
Could we consider starting the trace within Controller Runtime (other folks might want to use this as well) and inject it into the context?

[2022-02-17 06:33] sbueringer commented on #1811
I think that is reasonable. Although I would like to think about tracing specifically a bit more before proposing that and then open a new separate issue. But I think it should be fine to treat tracing as a separate topic and focus here on the log customization as it's (at least in my opinion) still a reasonable improvement independent of tracing.

[2022-02-18 00:18] #1568 closed

[2022-02-18 00:22] harveyxia commented on #1628
Is there a recommended approach for ensuring that a reconcile is not missed in the event of an error? One hacky approach would be to enqueue a `reconcile.Request` with a well-known name/namespace that signals a failure of the `handler.MapFunc`, so the controllers `reconcile()` invocation can retry the `handler.MapFunc` logic, but I'd like to avoid this if possible.

[2022-02-18 11:27] #979 closed

[2022-02-20 07:48] dntosas commented on #1657
pushed a PR to init the mitigation of this, you can give a thumb up in here --> https://github.com/kubernetes-sigs/kubebuilder/pull/2516

[2022-02-20 08:55] notadeveloperyet opened #1814 "View runtime"
Tip: to reduce the size of the resulting binary, you can use `GO_LDFLAGS="-s -w"`

[2022-02-20 11:17] coderanger commented on #1814
For anyone that finds this in the future, `-s` strips symbol tables and `-w` removes DWARF debugging data used by gdb and related tools. While both do result in a smaller executable, it will also make external debugging against it more or less impossible so caveat emptor.

This isn't a bug per se so I'm going to close it. Please don't open issues for feedback like this.

/close

[2022-02-20 11:17] #1814 closed

[2022-02-20 15:27] notadeveloperyet commented on #1814
I'm set[rescan]()

[2022-02-22 09:54] invidian commented on #1376
/remove-lifecycle stale

[2022-02-22 10:55] invidian commented on #1376
As a workaround, one can do the following in tests:
[code]

[2022-02-22 14:49] #1793 closed

[2022-02-23 09:14] RainbowMango commented on #1772
/close
In favor of #1777

[2022-02-25 12:55] alfredkrohmer commented on #172
@shawn-hurley can you please re-open this issue?

[2022-02-25 22:41] nielsole commented on #1725
Pretty sure I hit this like two weeks ago. /remove-lifecycle stale

[2022-02-26 00:15] aphistic opened #1817 "Manager runnableGroup causes a disconnect between contexts"
I was working on a Reconciler today and found that values I stored in the context passed to a Manager's `Start` method weren't available in the `Reconcile` context, so I started digging into it.

I ended up tracking it down to the `runnableGroup` struct, and specifically this line in the `newRunnableGroup` function: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/runn

[2022-02-28 02:20] pigletfly opened #1819 "Add ratelimiter option in global controller options"
Now we have `GroupKindConcurrency` and `CacheSyncTimeout` in ControllerConfigurationSpec https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/config/v1alpha1/types.go#L78-L97, we should provide a way to configrate `ratelimiter` globally so that we needn't have to add ratelimiter options in each controller.

[2022-02-28 06:28] FillZpp commented on #1705
@mengqiy It is because the `delegatingClient` defaults to get/list unstructured objects from apiserver, so apiserver returns `field label not supported`. You can solve it by listing pods with cache `cl := mgr.GetCache()` in the above code.

BTW, is it the expected behavior that delegatingClient always get/list with direct client for unstructured objects, even if they already have been created info

[2022-02-28 06:30] FillZpp commented on #1725
/remove-lifecycle stale

[2022-02-28 06:37] FillZpp commented on #1817
Hi @aphistic , I used to explain why we don't create contexts of runnable based on the same parent context in https://github.com/kubernetes-sigs/controller-runtime/issues/1752#issuecomment-999261333

Please feel free to optimize it, but keep in mind that we should keep the stop order of different types of runnables :)

[2022-02-28 06:50] FillZpp commented on #1819
@pigletfly Sounds reasonable. But question is ratelimiter is an interface, how could you add it in ControllerConfigurationSpec? Are you going to define the args of ItemExponentialFailureRateLimiter and BucketRateLimiter directly?

[2022-02-28 09:31] pigletfly commented on #1819
Interface is ok, in my opinion, leave the implementation to users, not limited to ItemExponentialFailureRateLimiter or BucketRateLimiter.But we still have the default limiter, and the limiter in specific controller should override the global limiter.Just like controller Options in controller-runtime https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller.go#L47

[2022-02-28 09:34] pigletfly commented on #1819
/cc @vincepri

[2022-02-28 11:03] FillZpp commented on #1819
Actually, `ControllerConfigurationSpec` is like the Spec defined in CRD, you can not write a field of interface type in it.

[2022-02-28 14:38] alvaroaleman commented on #1705
If that was the explanation it would never have worked I think? Because to my knowledge we always behaved like that (unstructured objects go to apiserver, structured to cache).

It is expected and was decided to be like that, at the time that was the only way to avoid using the cache. Today, there is `ClientDisableCacheFor` which can be used for this purpose. I agree it is not particularly intuiti

[2022-02-28 17:57] aphistic commented on #1817
Ahh, I see! Sorry I missed that issue when I was searching originally. =/

What would you think about a `Manager` `Options` field called `BaseContext` specifically for this case, similar to `http.Server`'s `BaseContext`? If the function is defined it would be used to retrieve the context used in cases like this, otherwise it would default to `context.Background()`.

[2022-03-01 01:54] pigletfly commented on #1819
I missed that point.Any suggestion ? @FillZpp

[2022-03-01 04:18] FillZpp commented on #1705
That is a little different. `ClientDisableCacheFor` is mostly for not caching some typed objects and get/list them directly from apiserver. But here the problem is we always get/list unstructured objects from apiserver, even if they have been watched by some controllers and we have informers of them in cache.

Understand. We can consider this to be the expected behavior for now.

[2022-03-01 11:11] FillZpp commented on #1819
Emm.. no yet. Like I said above, you could not do this, unless you directly define the args of ItemExponentialFailureRateLimiter and BucketRateLimiter. But it is not a good idea.

[2022-03-01 11:26] FillZpp commented on #1817
Yeah, I'm ok with that. If the `BaseContext` in `Options` has been set, we can pass it into `newRunnables` to be the base context of all types of runnables. WDYT? @vincepri

[2022-03-01 23:07] muvaf opened #1820 "Defaulter is misleading in cases where mutation is not a defaulting operation"
`Defaulter` is the name used for mutating webhook handlers in controller-runtime, specifically the [`Defaulter`](https://github.com/kubernetes-sigs/controller-runtime/blob/c48baad/pkg/webhook/admission/defaulter.go#L28) interface that is required to register mutating webhooks.

Even though it's called `Defaulter` and that's probably what people use mutating webhooks mostly, the term `Mutator` or s

[2022-03-02 10:15] leemingeer commented on #1720
Ihave the same issue
$ ./bin/controller-gen --version
Version: v0.8.0

[2022-03-02 10:16] AlmogBaku opened #1821 "Add support to use controller builder to build unmanaged controller"
## Problem
Currently, the [controller builder](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/controller.go) doesn't support building an unmanaged controller.

To achieve this, developers are required to manually configure and wire the controller (which is the benefit of the builder).

## Solution
I suggest adding a new method for the builder that specifies if it sho

[2022-03-02 10:21] AlmogBaku commented on #1821
See #1822 for implementation

[2022-03-02 13:36] dbarrosop opened #1823 "issue with documentation regarding OnlyMetadata"
Hello,
maybe I am doing something wrong but I am writing a controller where I mostly care about the metadata of certain objects so I was trying to follow the documentation and use the `OnlyMetadata` option. However, if you follow the example [here](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/builder#example-Builder-Metadata_only) you get the following error:

[code]

Digging a bit into t

[2022-03-02 18:58] ruchikaguptaa commented on #1754
We are running into the same issue. Are there any updates on this?

[2022-03-03 15:50] dbazhal opened #1824 "Mixed objects from different clusters/clients added to same manager"
Hi.
I am trying to write "multicluster" operator that would serve "controlling" objects(Envconfig) in runtime cluster, and provision "subordinate" objects(Environment) in remote clusters.

I have some solution now, but when i query any subordinate cluster, i get all objects from all clusters, like if they had common cache. Let's say some namaspace called myproject-prod lives in my kubeprod3 cluste

[2022-03-04 11:24] boycs007 opened #1825 "v0.11 can not work around with golang v1.16.14"
Go Version 1.16.14 & controller-runtime v0.11.1 / v0.11.0 will cause the build to fail :

/root/go/pkg/mod/sigs.k8s.io/json@v0.0.0-20211020170558-c049b76a60c6/internal/golang/encoding/json/encode.go:1249:12: sf.IsExported undefined (type reflect.StructField has no field or method IsExported)
/root/go/pkg/mod/sigs.k8s.io/json@v0.0.0-20211020170558-c049b76a60c6/internal/golang/encoding/json/encode.g

[2022-03-04 14:40] avizov commented on #1657
when do you plan to release a new version which includes this fix?

[2022-03-04 14:52] sbueringer commented on #1811
I'll open a new with an alternative proposal, i.e. just changing the logging in CR vs. making it customizable.

Let's hold this issue for now.

[2022-03-04 15:06] sbueringer opened #1826 "Improve logging"
I would like to propose to adjust CR logging.

Today, controller-runtime logs have the following format: (when JSON logging is used)
[code]

I would like to propose the following format instead:

[code]

The delta is:
[code]

The ideas behind that are:

**Drop the message prefix**
* I think the message prefix in every message is not necessary and just makes the logs unnecessarily verbose.
* With s

[2022-03-04 15:36] sbueringer commented on #1826
/cc @alvaroaleman
/cc @fabriziopandini @vincepri @killianmuldoon

[2022-03-04 15:42] vincepri commented on #1826
+1 from me to standardize and be consistent with upstream Kubernetes

[2022-03-04 16:18] tomasaschan opened #1828 "nilref panic when configuring leader election"
With the unlucky combination of providing a config file with no config for leader elections (which should be OK, since the element [is optional](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/config/v1alpha1/types.go#L40) in the config type) and providing the `--leader-elect` CLI argument, you'll get a nilref panic in [`setLeaderElectionConfig`](https://github.com/kubernetes

[2022-03-04 16:25] alvaroaleman commented on #1826
I am not a fan of the nested namespace and name, that makes querying harder. What is the advantage of that?

[2022-03-04 17:25] sbueringer commented on #1826
To be honest, I'm not sure. I just saw in the Kubernetes structured logging KEP that they are rendering it like that in the JSON log format (and thus they codified it accordingly in klog).

@pohly If you have some time to chime in, do you know by any chance why that decision was made?

[2022-03-04 19:02] alvaroaleman commented on #1826
Maybe the reason is to allow finding all logs related to a given object, which might not necesarily come from the controller that owns it. For example, a deployment controller will create a replicaset and the replicaset controller pods and if you want to find all logs related to a given replicaset, you can filter for `replicaset.namespace == X && replaset.name =Y` and you would get logs from both

[2022-03-04 20:18] pohly commented on #1826
The decision to use `{"name":"...","namespace":"..."}` instead of a `"<namespace>/<name>"` string pre-dates my involvement with structured logging. But at first glance it makes sense to me: JSON is able to represent objects and I am assuming that whatever tools are able to parse JSON then also will have the ability to access the fields on those objects. That seems more flexible than storing just a

[2022-03-04 20:26] alvaroaleman commented on #1826
@pohly the question was why the namespace and name are in a subobject for the type, i.E.
[code]
rather than a toplevel `namespace` and `name` field (which would then be common for all logs)

[2022-03-04 22:35] pohly commented on #1826
Because the `{"namespace":..., "name":...}` part is the value for a certain key, in this case `cluster`. There is no support for attaching values like that directly to the top level message, i.e. for recording a value it without a key.

[2022-03-06 09:23] #1684 closed

[2022-03-06 15:34] umangachapagain commented on #492
/assign

[2022-03-06 15:35] umangachapagain commented on #1007
/assign

[2022-03-06 15:35] umangachapagain commented on #852
/assign

[2022-03-07 01:31] alvaroaleman commented on #1825
Yes, we require golang 1.17: https://github.com/kubernetes-sigs/controller-runtime/blob/9ee63fc65a9720568f74df9901b16883621636b4/go.mod#L3

This is a won't fix, we are following upstream k/k in terms of go version and will only ever support the go version they support, which for the current release is 1.17.

[2022-03-07 01:31] #1825 closed

[2022-03-07 02:22] henrysecond1 opened #1829 "circular dependency between writeResponse & writeAdmissionResponse"
### Environment

- k8s version: v1.19.9 (on-prem)
- controller-runvime version: v0.8.2

### Problem

I'm not sure when it actually happens, but we suffered from a very large stack trace log when admission errors occur.
When we investigate the log, we saw the two functions (`writeResponse` and `writeAdmissionResponse`) are repeatedly calling each other.

- https://github.com/kubernetes-sigs/control

[2022-03-07 09:05] jianglinjian commented on #1757
@oleg-yudovich could you provide the `sigs.k8s.io/cluster-api` version which one you used？ only `v0.3.0-rc.0` will been create client using the `WithLazyDiscovery` option
https://github.com/kubernetes-sigs/cluster-api/blob/v0.3.0-rc.0/controllers/remote/cluster.go#L41

[2022-03-07 12:41] matancarmeli7 opened #1831 "setup-envtest doesn't support s390x"
Hi,
I am trying to use setup-envtest on `s390x` arch environment and I saw that you don't support it.
Do you plan to add support to it? if not, can you add it to your short-term roadmap?
[code]

thanks

[2022-03-07 16:19] sbueringer commented on #1826
Oh I misunderstood the question. I thought it was about having namespace and name separately.

But as you said, having them in a nested object has the advantage that we can filter them across controller logs.
E.g. in CAPI we have the following resources: Cluster, DockerCluster, Machine, DockerMachine (and more). Controllers usually reconcile a specific resource but this resource is related to a fe

[2022-03-07 16:35] burmanm opened #1832 "FakeClient Status() patch modifies parent object in 0.11.1?"
I have the following code segment (https://github.com/k8ssandra/cass-operator/blob/master/pkg/reconciliation/reconcile_racks.go#L1681):

[code]

When using 0.10.0, the output is:

[code]

Like one would assume. However, with 0.11.1, the output is:

[code]

After Status() patching, the parent object is modified to be all default values suddenly. Is this intended behavioral change or a bug in the 0.

[2022-03-07 18:11] pohly commented on #1826
That's a bit different because you now add two different key/value pairs instead of a single one. The downside is that plain-text output becomes a bit more verbose. Passing the result of KObj has the advantage that the logging backend can pick a suitable representation for the value.

[2022-03-08 02:30] yingyingtang-brex opened #1834 "use Own() or Watches() for custom resources"
We currently have a use case to have the controller create and watch a custom resource that is not written in Go. We could create the customer resource by using the a dynamic client.
However, to own/watch the created resource, we need to call `Own()` or `Watches()` and pass the `client.Object`, e.g. `&kapps.Deployment{}`, which we do not have.
Is there an approach to own/watch the custom resource,

[2022-03-08 02:53] coderanger commented on #1834
Use an Unstructured.

[2022-03-08 03:48] FillZpp commented on #1832
@burmanm Did you test the cases in clusters with different Kubernetes versions, or in a same cluster? Have you used `kubectl get ...` to see if the object in apiserver is equal to the object you got or not?

[2022-03-08 03:59] FillZpp commented on #1834
`"k8s.io/apimachinery/pkg/apis/meta/v1/unstructured"`

[2022-03-08 05:50] burmanm commented on #1832
This behavior happens against fake client (Kube 0.23.4 deps). It's repeatable in the unit test. Thus, no cluster.

[2022-03-08 08:35] sbueringer commented on #1826
I've updated the PR description to also align reconciler group/kind.

[2022-03-08 12:26] burmanm commented on #1832
Looking with the debugger, the cause of this behavior change is the addition of this line:

https://github.com/kubernetes-sigs/controller-runtime/blame/b8db76e66383819c94f530bd4b8dea60025b716f/pkg/client/fake/client.go#L344

I assume it was added to fix something else with Patch, but at the same time it broke the Status().Patch() behavior.

[2022-03-08 14:04] jsravn opened #1835 "Initial status subresource is not saved when using client.Create"
I am following the example in https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html, where it creates a Job with a status and calls `client.Create`. I'm doing similar with a third party CRD (tekton's PipelineRun) with a status subresource - however, in my testing, the status field isn't saved. The only way I can get it to save the status is first create the CRD, then retrieve the created

[2022-03-09 04:18] umangachapagain commented on #852
There were multiple attempts to fix this issue: #853 #1152 #1623 . All closed by stale bot.
But, there was no objection to the idea.

Do we still want/need this? @vincepri @joelanford @alvaroaleman
If yes, I can try to get it over the finish line. If not, we should close this.

[2022-03-09 10:12] huornlmj commented on #852
Yes!

[2022-03-10 15:58] fox-md opened #1836 "Discover ApiVersion of a resource"
Hi,

It is a question, not an issue.

Lets say I have 2 custom resources of different api versions: v1 and v2

[code]

[code]

Inside of the Reconcile function I would like to get object by name, kind and namespace.

[code]

I was hoping to use GetAPIVersion() function to find value for apiVersion field, but controller returns an error:
[code]

Can you please advise, is it possible to get apiVersi

[2022-03-11 04:17] FillZpp commented on #1836
@fox-md If you want to get information of CRDs, for example find all apiVersions of kind `VmItem`, you have to use `k8s.io/client-go/discovery` to get server resources in K8s cluster.

The unstructured only helps you read or write CRs, e.g.,
[code]

It seems your controller will watch the `VmItem` resource with two different versions and then put all of them into workqueue. It is not the recommend

[2022-03-11 07:20] fox-md commented on #1836
Hi @FillZpp,
Thank you for your response.
discovery is useful to find all apiVersions of a certain kind, but I was looking for a way to find apiVersion of a certain object.

Yes, for the moment there is not conversion implemented.

Can you please advise, what is the recommended way to handle multiple versions? According to the guide, that is handled by conversion. Is that really the only way?

Ind

[2022-03-11 07:43] FillZpp commented on #1836
This will only watch objects with `vm.com/v1alpha1` (btw, you don't have to set fields, only `For(&vmv1alpha1.VmItem{})`), no v2alpha1 object will be handled.

The recommended way is a conversion webhook between two versions, and you only have to watch and handle the storage version.

If you have no conversion, I suggest that you can setup two controllers for them, but the reconcile logic can be r

[2022-03-11 11:54] fox-md commented on #1836
Unfortunately that is not the case. Both VmItem controllers are processing the same object.

Thank you for your recommendations. I renamed `v2alpha1` to `v1`

Can you please advise why do both controllers process the same object? Is there a way to explicitly specify ApiVersion somewhere in `For` maybe? It is seems that `For(&vmv1.VmItem{})` only tells what kind of object to watch.

v1 controller:

[2022-03-11 12:00] #1811 closed

[2022-03-12 15:32] #1696 closed

[2022-03-12 21:12] fox-md commented on #1836
Did a few more tests using the latest version of kubebuilder and got the same results.
This time I created the simplest controller from scratch:
[code]
Once controller started, I loaded https://github.com/fox-md/guestbook/tree/master/config/samples manifests in k8s. Controller reacted to both resources created. I was expecting to see only `v1beta1` events.

Controller logs:
[code]
Source code: htt

[2022-03-14 03:27] FillZpp commented on #1416
/remove-lifecycle stale

Also the blog link we have changed to https://openkruise.io/blog/learning-concurrent-reconciling now :)

[2022-03-14 04:19] FillZpp commented on #1836
@fox-md Oh, I test it and turn out kube-apiserver has default conversion for the multiple-version CRD, even if we don't configure conversion webhook.

In your case, `v1` is the storage version in your CRD https://github.com/fox-md/guestbook/blob/master/config/crd/bases/webapp.my.domain_guestbooks.yaml#L50 .

So when you create a `v1` object, it will be stored into Etcd. When you create a `v1beta1`

[2022-03-14 21:17] maelvls commented on #1660
Fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/1747.

/close

[2022-03-14 21:17] #1660 closed

[2022-03-14 22:23] fox-md commented on #1836
Thank you for the explanation, @FillZpp .
Indeed, both objects are stored in ETCD as v1 and both are picked up by the controller. It seems the only way to "Discover ApiVersion of a resource" would be to check its managedFields.apiVersion.

[code]

[code]

Thanks a lot @FillZpp for your help.

[2022-03-14 22:23] #1836 closed

[2022-03-16 08:04] timebertt commented on #1290
/remove-lifecycle stale

[2022-03-16 14:05] IoanaIvanova commented on #1802
Fixed by adding new context.Background() to each call from the test as if one context is used both for setting up the manager and the k8sclient in the test the cluster is killed on any failure even before the test is actually finished.

[2022-03-16 14:05] #1802 closed

[2022-03-17 02:59] #1826 closed

[2022-03-17 15:23] simha5009 opened #1839 "Controller get wrong namespace name for multipe operators instances in different namespaces"
We developed a k8s Operator, after we deploy the first Operator in the first namespace, it works well. Then I deploy the 2nd Operator in the second namespace, I saw the second controller get the request that's namespace still is the first name, but the expected namespace should be second.

Please see the following code, when we play with the second operator in the second namespace, the request's n

[2022-03-18 12:58] aagu opened #1840 "unable to read CacheSyncTimeout from config.yaml"
My controller exit with panic like this:
[code]
The cause is due to 'wrong' configuration be provided:
[code]
The CacheSyncTimeout defined at [ControllerConfigurationSpec](https://github.com/kubernetes-sigs/controller-runtime/blob/e42a8c17945360813e64bde2c4ff742515b750ba/pkg/config/v1alpha1/types.go#L96) has type time.Duration, which is different from the type of SyncPeriod defined at outer struct