[2018-06-08 17:15] pwittrock opened #8 "Add metalinter linters to .travis.yaml with --enable"
Add [linters](https://github.com/alecthomas/gometalinter#quickstart) to the .travis.yaml `gometalinter.v2` script line using `--enable`.  Fix issues as needed to make the linters pass.

- [ ] structcheck
- [ ]  maligned
- [ ] nakedret
- [ ] deadcode
- [ ] gocyclo
- [ ] ineffassign
- [ ] dupl
- [ ] golint
- [ ] gotype
- [ ] goimports
- [ ] errcheck
- [ ] varcheck
- [ ] interfacer
- [ ] goconst
- [

[2018-06-08 21:15] fanzhangio commented on #8
if all of the `staticcheck`, `gosimple` and `unused ` are all enabled, it should use `megacheck instead, avoiding duplication.

[2018-06-08 23:33] fanzhangio commented on #8
Summary of lint issues:
1.  defined but unused vars and functions.
[code]
2. What could be a reasonable maxLength (`lll`)?
[code]
3. Lots of duplicated codes, especially in tests
[code]
4. Missing error check and var check
[code]

[2018-06-08 23:34] fanzhangio commented on #8
FYI
[code]

[2018-06-09 17:18] pwittrock commented on #8
@fanzhangio Lets ignore line length and dupl for now.  The others seem a lot more valuable.

[2018-06-09 21:28] pwittrock commented on #8
See #13

[2018-06-11 21:55] pwittrock opened #16 "Get test coverage for pkg/runtime to 100%"
- [ ] signals
- [ ] inject
- [ ] log

[2018-06-11 21:56] #8 closed

[2018-06-11 21:57] pwittrock opened #17 "Support source.Kind for unstructured objects"
We should be able to watch for objects against unstructured objects from source.Kind.

- Make the client work
- Make the cache work
- Make watch work

[2018-06-11 22:01] fanzhangio commented on #16
Sure

[2018-06-11 23:39] fanzhangio commented on #16
Marked here as reference:

[code]

[2018-06-12 17:58] pwittrock opened #24 "Fix coverage regressions"
Coverage results went down as a result of PR #6

Fix the coverage gaps that were introduced:

[code]

[2018-06-13 04:45] #24 closed

[2018-06-13 16:05] pwittrock opened #31 "Get pkg/cache/... coverage to 100%"
- [ ] pkg/cache
- [ ] pkg/cache/internal

[code]

[2018-06-13 16:06] pwittrock opened #32 "Get pkg/client/... coverage to 100%"
- [ ] pkg/client
- [ ] pkg/cache/apiutil
- [ ] pkg/cache/config

[code]

[2018-06-13 18:13] pwittrock opened #33 "Support pkg/client operations for Unstructured objects"

[2018-06-15 22:06] droot opened #40 "pkg/client methods should respect given context's deadline"
All exported methods on client interface takes in `context.Context` parameter, but the methods don't implement the deadline semantics.

[2018-06-15 22:07] droot opened #41 "pkg/cache methods should implement deadline semantics for context parameter"
All exported methods on client interface takes in `context.Context` parameter, but the methods don't implement the deadline semantics.

[2018-06-15 22:10] droot opened #42 "pkg/cache's reader methods should block until caches are sync'd"
This should also respect the deadline semantics for the context argument.

[2018-06-17 05:45] fanzhangio commented on #16
#34 Merged.

[2018-06-29 23:07] pwittrock opened #67 "deserializing into a runtime.RawExtension should fill in the Object if the type is known"
RawExtension.Object should get either the go struct or an unstructured.Unstructured object from the client.

Steps to reproduce:

- Create a Resource with RawExtension field
  - RawExtension accepts any runtime.Object
- Create an instance of the Resource with a Deployment for the field
- In the Controller, read object and using the client into an unstructured.Unstructured object
- The unstructured

[2018-06-29 23:46] pwittrock opened #68 "controllerutil.SetOwnersReference should do nothing if the reference already exists"

[2018-07-02 16:46] #31 closed

[2018-07-02 16:46] #32 closed

[2018-07-02 16:47] #16 closed

[2018-07-02 18:40] pwittrock opened #70 "Reduce deleted boilerplate"
Almost all Controllers have boilerplate at the top to check if the object has been deleted.  Figure out a way to reduce this.

[2018-07-06 22:55] grantr opened #72 "Support reactor features in fake client"
Reactors are a useful feature of [the official client's fake implementation](https://github.com/kubernetes/client-go/blob/7ab20732fabbacddb8795c3b259fdf540d3de616/testing/fake.go). They allow injecting errors, simulating the actions of other controllers, and tracking the actions of the controller under test instead of just the output. IIUC, none of those are possible with the current fake client.

[2018-07-13 16:35] grantr opened #76 "client.Delete doesn't support PropagationPolicy and other delete options"
The controller-runtime client doesn't seem to support passing `DeleteOptions` in the body of a delete request.

Use case: when a [Job](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) is deleted, its pods are normally orphaned by the GC. To delete a Job and GC its pods with the normal client-go, I pass a `DeleteOptions` with `PropagationPolicy` set. I can't do tha

[2018-07-13 22:47] droot opened #77 "runtime/log.go compilation is broken"
runtime/log.go file has compilation issue. probably got introduced in this PR https://github.com/kubernetes-sigs/controller-runtime/pull/71

vendor/sigs.k8s.io/controller-runtime/pkg/runtime/log/log.go:10:2: imported and not used: "cnrm-kube/vendor/github.com/go-logr/zapr"
vendor/sigs.k8s.io/controller-runtime/pkg/runtime/log/log.go:28:9: undefined: zaplogr

[2018-07-13 22:48] droot commented on #77
@mengqiy can you pl. take a look.

[2018-07-17 17:19] droot commented on #77
This has been fixed.

[2018-07-17 17:19] #77 closed

[2018-07-17 17:22] droot commented on #72
@fanzhangio Can you investigate how hard it will be to add reactors ?

[2018-07-24 14:35] ae-dg opened #83 "Doesn't appear to honour KUBECONFIG environment variable"
In pkg/client/config/config.go there's a check to see if KUBECONFIG is set, but then it is not used

    if len(os.Getenv("KUBECONFIG")) > 0 {
        return clientcmd.BuildConfigFromFlags(masterURL, kubeconfig)
    }

In using this from kubebuilder it worked for me when I changed the above to

    if len(os.Getenv("KUBECONFIG")) > 0 {
        return clientcmd.BuildConfigFromFlags(masterURL, os.Ge

[2018-07-25 02:46] DirectXMan12 commented on #83
Closed by #84

[2018-07-25 02:46] #83 closed

[2018-07-25 17:08] calind opened #85 "[feature request] Reduce dependant resrouce creation boilerplate"
Currently, in order to create a dependent resource (eg. a deployment) the code always looks like:
[code]

Which is about 50 lines of boilerplate.

What I've found very handy when working on controllers, were the `CreateOrPatch` methods from https://github.com/appscode/kutil.

Do you think that something similar can be implemented in the generic client?

[2018-07-25 23:09] grantr opened #87 "Resync interval is always 10 hours"
[`Cache` supports a resync period option](https://github.com/knative/eventing/blob/bc26d369b404ac23bba10fa3fdbb246a15a722bb/vendor/sigs.k8s.io/controller-runtime/pkg/cache/cache.go#L81) but [`Manager` doesn't allow setting it](https://github.com/knative/eventing/blob/master/vendor/sigs.k8s.io/controller-runtime/pkg/manager/manager.go#L123). This makes it impossible to change the default resync int

[2018-07-26 00:30] grantr opened #89 "dep ensure emits a warning and requires Mercurial"
When I try to run `dep ensure`, I get this warning, plus the command never returns:

[code]

When I Ctrl-C, I get this error:

[code]

When I install Mercurial, the warning remains but the command finishes.

[2018-07-26 00:35] grantr opened #90 "Can't run tests locally"
When I run `go test ./pkg/...`, I get a bunch of errors that seem to be complaining about a missing `/usr/local/bin/kubebuilder/bin/etcd` executable:

[code]

So I try to run `./test.sh` but that exits immediately:

[code]

Are there any docs on how to run tests?

[2018-07-26 17:29] pwittrock commented on #17
@shawn-hurley FWIW, this might already work.  I think the first task is to try it and see if it works or not, then dig in deeper.

[2018-07-26 17:49] DirectXMan12 commented on #90
You'll need a certain set of components (kube-apiserver, kubectl, etc) to run the tests, and they either have to be in a certain location, or you have to set the `TEST_ASSET_<thing>` environment variables to point at the right place for those components.  After that, running `go test` should just work.

I've got a PR up that makes some improvements to this process (#86), and will gladly attempt to

[2018-07-26 17:50] DirectXMan12 commented on #89
Yep, I think we have an incorrectly specify dependency in our `Gopkg.toml`.  Is this from master?  I thought we'd fixed it, but it might have gotten re-introduced.

[2018-07-26 17:51] DirectXMan12 commented on #89
(the mercurial dep is a known issue -- most of kube depends on it)

[2018-07-26 17:51] grantr commented on #89
Yes, this is master.

[2018-07-26 17:52] DirectXMan12 commented on #89
It's an easy fix for the warning.  I'll have a PR up shortly

[2018-07-26 17:53] grantr commented on #90
Probably the easiest way to make it easier is to document how to do it :)

Is there a way to just run unit tests locally and leave the e2e tests for CI?

[2018-07-26 17:56] DirectXMan12 commented on #89
PR up -- CCed you in it.

[2018-07-26 18:04] DirectXMan12 commented on #85
/kind feature

I think that some sort of `Ensure` method could be useful -- pass an object to `Ensure`, and we ensure that it's either created or up-to-date.  Not sure of the precise design, but I'd be happy to review PRs and such, if you've got time to submit one.

[2018-07-26 18:20] DirectXMan12 commented on #90
The tests in controller-runtime are hybrid unit/integration tests -- most of them don't use mocks or stubs, and instead just use a real API server, but not the rest of the kubernetes cluster.   It makes the tests a lot easier to read and write, and means that we're more likely to be testing real behavior...

... which is a really long way of saying "no", since running just the tests that didn't re

[2018-07-26 20:13] grantr commented on #89
Closing this but it would be nice to mention in contributor docs somewhere that Mercurial must be installed.

[2018-07-26 20:13] #89 closed

[2018-07-26 20:15] grantr opened #92 "Document that Mercurial must be installed"
Opening to track the remaining issue from #89. `dep ensure` works now, but Mercurial is still an undocumented dependency.

[2018-07-26 21:15] calind opened #93 "Support for leader election"
Currently the manager won't do any kind of leader election. I think that the manager should implement of it so that you can run highly available controllers.

[2018-07-26 22:11] #87 closed

[2018-07-26 22:38] mattmoor commented on #90
In `knative/serving` (not yet using any of this stuff) I've found that the table testing we're doing, which is based on the OpenShift Ingress controller's tests (thanks to @smarterclayton for the pointer) are fairly effective at testing the behaviors we are interested in.

Now there's probably plenty we haven't hit yet that you folks have, but I would expect that the set of tests that need such he

[2018-07-27 12:35] shawn-hurley commented on #17
@pwittrock I think that it would work with a single unstructured type, but if you used two then the client-cache: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client_cache.go#L79-L84 will overwrite the GVK for one fo the types.

Am I correct in that reading of the code?

I will work on getting an example to test this theory as well.

Thanks!

[2018-07-27 17:35] DirectXMan12 commented on #17
aah, yeah, we probably would need a key that's like `TypeOf(obj) unless IsUnstructured(obj) else SpecialUnstructuredKeyWithKind`.

[2018-07-27 17:36] DirectXMan12 commented on #17
or have a separate map for unstructured objects.

[2018-07-27 18:18] DirectXMan12 commented on #90
So, IMO, the problem with reactor tests is that one of two things often happen -- either you end up testing the *actions* that occur, and not the desired state (which is often suboptimal when testing kubernetes, and makes it harder to refactor), or you end up replicating the API server with maps, and as you end up using more API server functionality, you end up with more and more code to mock out

[2018-07-27 18:33] droot commented on #72
@grantr Have you considered using https://github.com/golang/mock.

[2018-07-27 18:47] grantr commented on #72
@droot Can you give an example of how mocks would be used for this? What interface would I mock?

[2018-07-27 19:49] DirectXMan12 commented on #85
it could probably be a helper method in utils that takes in a Reader/Writer.

[2018-07-27 19:55] DirectXMan12 commented on #72
/kind feature

honestly, reactors might be a decent idea in theory, but in practice Kubernetes reactors tend to yield difficult-to-follow, brittle test code, IMO (as someone who's written or updated a  number of reactor-based tests in the Kubernetes and OpenShift codebases)

we should think long and hard on the design before we opt for introducing them.

[2018-07-27 20:03] DirectXMan12 commented on #72
Generally possible with a real API server for most errors (not found, conflict, etc), but I can understand a desire to easily simulate others.

Simulating the actions of other controllers generally isn't particularly hard if you have something that can store objects (either an actual API server or something that just tracks objects), since controllers are just updating state through normal API cal

[2018-07-30 15:08] shawn-hurley commented on #17
@pwittrock @DirectXMan12 I am working on getting an example of using two different unstructured types to test this theory out and to have something to test with.

Which would you prefer the second map if the type is Unstructured or some other mechanism? I would think that two maps might make it more clear?

[2018-07-30 15:10] DirectXMan12 commented on #17
Two maps is probably clearer.

[2018-07-30 22:01] mountainhike opened #97 "Make workqueue metrics available to the Reconciler"
Sometimes Reconciler needs workqueue related metrics for ex. numRequeues to decide the fate of the request. So it will be useful to plumb those in the `Request` object.

[2018-07-31 12:41] calind opened #100 "OwnerReferences must be in the same namespace as object"
https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#OwnerReference

The admission controller secret writer sets the webhook as owner for the generated secret even if they are in different namespaces. I don't know if it's by design but it looks like a bug.
https://github.com/kubernetes-sigs/controller-runtime/blob/5a961ac0b8b06ac0409fd9de027d0ea9ecbc6730/pkg/admission/cert/writer/secret.go#L136-

[2018-07-31 17:31] droot commented on #97
/kind feature

[2018-07-31 19:51] DirectXMan12 commented on #100
cc @mengqiy

[2018-07-31 20:11] DirectXMan12 commented on #97
can you clarify the usecase it bit more?

[2018-08-01 19:56] calind commented on #100
@mengqiy do you see a major issue if we don't set OwnerReferences for the created secrets?

[2018-08-01 20:37] mengqiy commented on #100
@calind I just confirmed with sig api machinery people that setting a cluster-scoped object to be the ownerRef for a namespaced object is supported.
https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L287-L289 is out-of-date, they will update it shortly.

[2018-08-01 20:42] calind commented on #100
Great. I’ll update #99 to take this into account. I guess we can close this now.

[2018-08-01 20:42] #100 closed

[2018-08-03 00:05] grantr opened #102 "How should I inject other dependencies into reconcilers?"
Is there a plan to allow the inject interfaces to inject arbitrary dependencies? Or maybe there's a better way to do this?

Concrete use case: I want reconcilers to have access to a logger instance, but it's not a `logr` logger so I can't use the log promise feature, and I'd like to avoid relying on package variables if possible. Also, I'd like each controller to have the same initialization signa

[2018-08-03 15:47] DirectXMan12 commented on #102
:steam_locomotive: :train: :train: <-- the dependency injection train

At some point during the design of this framework, we had a discussion about dependency injection, and the upshot was that we were *really* hesitant about adding full-scale generic dependency injection, and decided to avoid it, and have a couple tightly scoped cases inside the library that didn't leak out (with the exception of

[2018-08-03 16:52] grantr commented on #90
Ultimately I was able to run tests locally on a different machine that had previously installed kubebuilder. Yes this should be documented but that's a different issue. :smile:

[2018-08-03 16:52] #90 closed

[2018-08-03 17:23] grantr commented on #102
Thanks for the background, I think the instinct to be wary of dependency injection is reasonable. Sounds like it's essentially an internal implementation detail. Since it's possible to call `mrg.GetClient()` when creating a controller, is there really a need to expose `InjectClient`? Maybe we (as users of the library) should drop our usage of that.

[2018-08-03 23:36] #68 closed

[2018-08-06 02:09] DirectXMan12 opened #103 "Channel Source is borked due to stop channel injection"
The Channel source expects the stop channel to be injected before calling `Start`, but the stop channel on the controller manager will be nil until `ControllerManager#Start` is called.  Since most people will probably call `Controller#Watch` before `ControllerManager#Start`, this breaks the channel source.

I've got a patch to fix it in the works, but wanted to file this so that I don't forget.

[2018-08-06 14:27] DirectXMan12 commented on #102
I think the goal of that was probably to allow users to not have to write constructors -- with the `Inject` method, it's easy to just have a struct that contains your options as fields.  It's a nice feature of the code, since you maintain readability by having field names matching with the values (you should see some of the constructors in kubernetes with identical parameter types next to each oth

[2018-08-10 19:32] mountainhike commented on #97
For example, if my controller wants to queue a object with a delay, i.e, controller wants to check the object again in one hour, the current pkg/controller/controller.go did not have a good way to say that.
I guess the reconcile result object can have a field called "dealy", but still I think there could be other use cases where access to the working queue is needed.

[2018-08-13 15:35] DirectXMan12 commented on #97
I'd just use a channel source to re-add the item in an hour.  The workqueue delay is really intended for backoff.

[2018-08-17 17:06] mjnichol2 opened #112 "Support appending additional flags to defaultKubeAPIServerFlags"
There's currently no way to pass additional flags to the API server. For instance, if I want to use an alpha feature (like PriorityClass, prior to 1.11.0), I need to set a flag on the API server.

[2018-08-21 20:20] DirectXMan12 commented on #112
There's actually a `TODO` in `pkg/envtest/server.go` about this.  It should be a fairly easy feature to add -- you just have to provide a way to append to the default arguments at start.  PRs welcome :-).

[2018-08-22 15:53] JoelSpeed commented on #93
Does anyone know of any work already done on this? If not I'm going to look into this and try to raise a PR.

The first question I have about this is that the leader election will need a unique name per kubebuilder project. I assume this will have to come from a flag unless there is a unique identifier already, any ideas?

[2018-08-23 12:32] AMecea opened #116 "Watching Channels doesn't work"
Adding a watch on channels, as mentioned in [kubebuilder docs](https://book.kubebuilder.io/beyond_basics/controller_watches.html), on a fresh generated controller fails when running tests with the following error:
[code]

The changes that I made to a fresh generated controller are:
[code]

What happens:
 - the stop channel is added after the watcher is registered, when the manager is started
 - th

[2018-08-23 12:33] AMecea commented on #116
I will close it, it's a duplicate of #103

[2018-08-23 12:33] #116 closed

[2018-08-23 13:11] AMecea commented on #103
@DirectXMan12 any news about this?

[2018-08-24 13:29] JoelSpeed opened #119 "Prometheus metrics"
I would like to add prometheus metrics to the controllers I'm building using kubebuilder.

It would be good to have information both from the controller internals themselves as well as from the reconciler loops I'm implementing.

My initial idea is to add a [prometheus metric registry](https://godoc.org/github.com/prometheus/client_golang/prometheus#Registry) to the controller manager that it can

[2018-08-24 17:39] DirectXMan12 commented on #119
PRs definitely welcome.  We already have some metrics that we inherit from the underlying apimachinery, but PRs are definitely welcome to improve this!

/kind feature

[2018-08-24 17:40] DirectXMan12 commented on #103
no, unfortunately I became busy with some other stuff, and it's going to take a bit of thinking about how to refactor the internals to make it work.  I'll take another stab at it next week.

[2018-08-24 21:05] mengqiy opened #120 "Add license in all go files"
go files should have license at the beginning.
At least the following 2 files don't have:
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/build_test.go
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/builder_suite_test.go

[2018-08-27 16:59] #120 closed

[2018-08-29 00:57] hasbro17 opened #124 "Allow restricting the Cache's ListWatch to be namespaced"
#### Problem
Currently the ListWatch for the cache's informers are non-namespaced.
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/internal/informers_map.go#L218-L227

This means the Manager always requires cluster scoped permissions to work. While kubebuilder uses ClusterRole and ClusterRolebinding by default, that assumption isn't always true for an operator/controlle

[2018-08-30 19:27] hasbro17 commented on #124
If configuring all ListWatches via the manager options is not the right place to restrict namespaces then another place to do it might be at the Source.
[code]
We could namespace the Kind and then propagate that down to get a namespaced informer in the cache.

I don’t have a reference implementation for that yet but I think that would involve more substantial changes to the informers cache interfa

[2018-08-30 19:58] DirectXMan12 commented on #124
While the latter offers more control, I'm tempted to just go with the former for now (manager-level), since it makes the behavior consistent between `c.Watch` and `c.client.Get` on a new resource (which dynamically creates a watch).  Thoughts?

[2018-08-30 22:34] hasbro17 commented on #124
@DirectXMan12 Did you mean `c.cache.Get`? That would dynamically [create a new informer/watch](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/informer_cache.go#L46-L52). As opposed to `c.client.Get` which would just [get it from the server](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client.go#L129-L136).

But yes, I'm leaning towards d

[2018-09-04 20:52] DirectXMan12 commented on #124
the "top-level" client is a "split" client that always calls `c.cache.Get`.

Yeah, I think that's fine to tackle in a follow up if it's a highly desired feature, as long as we keep it in mind.

[2018-09-04 20:53] DirectXMan12 commented on #124
You can just repurpose this PR for that purpose.

[2018-09-05 08:18] hzamani commented on #103
One solution is to add a `Initialize` method to `Reconciler` interface and call that in `Controller#Start`, then move all `Controller#Watch` calls to this method. This method can be used for other initialization stuff what require `ControllerManager` to be started (for example operations that require a synced catch).

[2018-09-05 17:19] #85 closed

[2018-09-10 16:00] #76 closed

[2018-09-10 16:01] #93 closed

[2018-09-10 20:51] grantr opened #137 "Fake client assumes scheme.Scheme"
Break out from https://github.com/kubernetes-sigs/controller-runtime/pull/106#discussion_r216406456

Fake client can only use `scheme.Scheme` as the scheme. It should allow using an arbitrary `Scheme`.

[2018-09-10 20:55] grantr opened #138 "Fake client doesn't implement delete propagation"
Code under test may expect that setting `PropagationPolicy` to `Foreground` will cause child objects to be deleted before returning. Currently the fake client doesn't implement this, nor does it offer a hook to allow this behavior to be simulated (see #72).

[2018-09-11 20:44] DirectXMan12 commented on #138
/kind bug

[2018-09-11 20:44] DirectXMan12 commented on #137
/kind bug

[2018-09-12 05:02] hzamani opened #140 "Admission webhooks"
I can not find any open issue about admissionwebkook branch. What is its status? What prevents it from being merged?

[2018-09-12 14:49] DirectXMan12 commented on #140
we're still experimenting with it, making sure the API shape works how we want, and that it's easy to use.

[2018-09-14 00:55] pwittrock commented on #140
Will probably be available in the next release

[2018-09-14 06:12] mengqiy opened #144 "Non-caching client"
We already provide a caching client for controller.

As @pwittrock pointed out, we should provide a no caching client. Because if the cache becomes out-of-date, the admission webhook may make wrong decision based on stale objects. A no-caching client may be helpful in this case.

[2018-09-14 06:12] mengqiy commented on #144
cc: @DirectXMan12 @droot

[2018-09-14 19:40] DirectXMan12 commented on #144
it's possible to get a non-caching client, just not easy.  We should have a convenience function to make it easy.

[2018-09-17 17:17] #102 closed

[2018-09-18 21:35] mhrivnak opened #149 "source.Channel gets a nil value for stop channel"
## Problem

When adding a [Channel](https://github.com/kubernetes-sigs/controller-runtime/blob/bb5ef08d8d98e5d40654e0cecc9cc336de642ae4/pkg/source/source.go#L102-L124) to a controller by calling `Watch()`, [InjectStopChannel](https://github.com/kubernetes-sigs/controller-runtime/blob/bb5ef08d8d98e5d40654e0cecc9cc336de642ae4/pkg/source/source.go#L128-L136) gets called with a value of `nil` instead

[2018-09-19 08:08] DirectXMan12 commented on #149
duplicate of https://github.com/kubernetes-sigs/controller-runtime/issues/103

[2018-09-19 16:41] pwittrock commented on #140
This should be added now:

https://book.kubebuilder.io/beyond_basics/sample_webhook.html

[2018-09-19 16:43] #140 closed

[2018-09-19 16:44] pwittrock opened #151 "Add support for Finalizers to CRD generation"

[2018-09-19 17:30] shawn-hurley opened #153 "Starting event source log for Channel contains error"
Right now I am getting this log when starting a `watch` on a source of type `Channel`

{"level":"info","ts":1537378068.766453,"logger":"kubebuilder.controller","caller":"controller/controller.go:120","msg":"Starting EventSource","Controller":"database-controller","SourceError":"json: unsupported type: <-chan event.GenericEvent"}

[2018-09-20 05:16] mengqiy opened #155 "Redo client.List() in a backward compatible way"
#106 was reverted by #146.

Redo kubernetes-sigs/controller-runtime#106 in a backward compatible way.
We can probably following the approach suggested in https://github.com/kubernetes-sigs/controller-runtime/pull/146#issuecomment-422206874.

[2018-09-20 05:17] mengqiy commented on #155
@grantr Do you have bandwidth to work on this?

[2018-09-20 16:36] grantr commented on #155
I could probably get to it sometime next week. If anyone else has an earlier opening, feel free to take it. :smile:

[2018-09-20 20:27] #17 closed

[2018-09-20 20:31] shawn-hurley commented on #33
@pwittrock I believe #101 Should fix this issues. WDYT?

[2018-09-21 15:43] #151 closed

[2018-09-21 19:06] mengqiy opened #157 "Provide an option to run the webhook w/o bootstrapping"
Provide an `pure server` mode to run the webhook w/o bootstrapping.

If the user use this mode, they will first do a `dry-run` with the webhook server to get a pile of yaml files.
Then applying the yaml files will install the webhookConfiguration, secret, service etc.

[2018-09-21 19:06] mengqiy commented on #157
cc: @droot

[2018-09-25 15:14] DirectXMan12 commented on #153
/kind bug

[2018-09-25 15:18] DirectXMan12 commented on #153
huh, I can't find where we log any field called `SourceError`.  In `pkg/internal/controller/controller.go` on line 120, we have `log.Info("Starting EventSource", "Controller", c.Name, "Source", src)`, but I'm having trouble seeing why it would log that message instead.  Do you have a simple reproducer that we can play around with?

[2018-09-25 16:44] shawn-hurley commented on #153
It is going to log that message because of https://github.com/kubernetes-sigs/controller-runtime/blob/d4dff204bfca6035d3e189d295d9b78278bfe041/pkg/source/source.go#L105
is the source. I believe the logger is attempting to take the source struct and convert to JSON. But channels, I don't think, can be converted to JSON. does that make sense?

[2018-09-25 17:04] DirectXMan12 commented on #153
aaaah, yeah, that makes sense.  Maybe we should just implement `String()` on all the source the source types?

[2018-09-25 17:35] shawn-hurley commented on #153
That makes sense to me, I can take this on if you have other stuff going on?

[2018-09-25 18:03] DirectXMan12 commented on #153
yeah, that'd be great :-)

[2018-09-25 18:06] #124 closed

[2018-09-27 15:21] mhrivnak opened #162 "test sometimes fails"
A test in `sigs.k8s.io/controller-runtime/pkg/internal/controller` sometimes fails.

I checked out the master branch, currently https://github.com/kubernetes-sigs/controller-runtime/commit/53fc44b56078cd095b11bd44cfa0288ee4cf718f. Then I ran:

[code]

I got a failed test. I immediately ran it again, and the test passed. The full results for the failed run:

[code]

[2018-10-01 17:01] #40 closed

[2018-10-02 10:07] calind commented on #42
Is there a way to wait for the client to sync it's caches? I'm experiencing data races in tests where the manager and the client.Get try to sync the caches.

[2018-10-02 15:36] AMecea opened #167 "Set logger verbosity level"
I'm trying to set logger verbosity from command line through `-v` flag, but how can I set the logging level? Currently, I'm initializing the logger like:
[code]
but for any verbosity logging (V(2), V(3), V(4), ...) there is no output. Which is the best way to set the verbosity level for this logger?

Thank you!

[2018-10-02 15:55] DirectXMan12 commented on #167
There should be output at levels `0` and `1` by default (since those actually correspond to Zap levels under the hood).  the `ZapLogger` method just creates a "sane" default configuration for using [Zap](https://go.uber.org/zap) as the log implementation, so it's possible to set up Zap however you want (see below for an example).

That being said, I'd highly encourage avoiding numeric verbosity le

[2018-10-02 15:56] DirectXMan12 commented on #167
That being said, it should be easier to get the "default" config and turn that into a logger in two steps to allow for easy tweaking.

[2018-10-03 15:28] DirectXMan12 commented on #42
we should already be doing that for the cache, but yeah, there's a function to wait for the caches to sync on the `Cache` interface called `WaitForCacheSync`.

[2018-10-04 10:14] AMecea commented on #167
Thank you @DirectXMan12, I will follow your indications. I think you can close this issue.

FYI: When trying to use other log levels smaller than -1 (e.g. V(2)) with `cfg := zap.NewProductionConfig()` (with development config works fine) I've got the following panic error. So I will use just the already defined zap log levels to avoid this.
[code]

[2018-10-04 10:43] jsafrane opened #168 "Panic in fake client"
I tried to write unit tests using the fake client and `List()` panics reliably when accessing `opts.Raw`:

https://github.com/kubernetes-sigs/controller-runtime/blob/ddf0390deebe496cb449b1b8540031da9236afa2/pkg/client/fake/client.go#L80-L82

Why `opts.Raw` must be filled (it's not necessary when using the real client) and why it's `TypeMeta` should have any value?

If I understand the code (and I

[2018-10-09 17:56] mengqiy opened #171 "e2e tests for webhook lib"
Create e2e tests for webhook lib

[2018-10-11 12:36] shawn-hurley opened #172 "Support for CRUD sub resources in the Client"
Currently, I do not see a way to use subresources from the client.

I suggest that we add a variadic argument for subresources. example: https://github.com/kubernetes/client-go/blob/master/dynamic/interface.go#L32

Or we may need to add the subresources to the Options for functions that already have a variadic?

[2018-10-11 18:20] coderanger commented on #172
There is limited support for the status subresource via https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client.go#L143

[2018-10-16 21:03] #153 closed

[2018-10-17 18:00] enxebre commented on #137
+1

[2018-10-18 19:55] mengqiy commented on #144
Another scenario to use a non-caching client is that people may want to avoid having a huge cache locally by using a non-caching client.

[2018-10-19 18:14] mengqiy commented on #155
Any update?

[2018-10-19 18:38] grantr commented on #155
Sorry! This got pushed down the priority stack and I might not get to it for a while. In the meantime, I'm curious if this work is still desired based on https://github.com/kubernetes-sigs/controller-runtime/pull/146#issuecomment-424384073comment by @DirectXMan12.

[2018-10-24 17:54] liyinan926 commented on #172
I have a similar use case here that needs to evict pods instead of simply deleting them, using the eviction subresource of Pod.

[2018-10-24 23:56] M00nF1sh opened #180 "Why DelegatingClient is needed?"
From [the code](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L196),
the Manager.GetClient returns an DelegatingClient which read from cache for structured object, but read directly for unstructured object.

This forbids us to use the client before controller loops(since cache needs to be synced). (Our use case is load configurations from configMap before

[2018-10-25 00:11] DirectXMan12 commented on #180
We're trying to make it as easy as possible to use the "correct" Kubernetes pattern.  So you don't have to manage two separate objects -- you just get the correct behavior off the bat.  This does mean that for things like loading configuration from specific objects, you do need to manually instantiate the client.

You do raise a valid point here, and it's difficult to balance the "can we make it r

[2018-10-25 00:12] DirectXMan12 commented on #180
/kind design

[2018-10-25 00:13] M00nF1sh commented on #144
also here: https://github.com/kubernetes-sigs/controller-runtime/issues/180

I suggest
1. using manager.GetCache for call that need caching(we can delegate to direct read for unstructured resources)
1. make manager.GetClient always read without caching.

[2018-10-25 00:33] M00nF1sh commented on #180
the major confusing part came from manager exposed both getClient & getCache(both of them provided reader behavior), which make me think naturally that one provides uncached behavior and one provides cached behavior.
If we can merge them together, then it's less confusing.

Also, i think loading configuration before controller loops seems a pretty general use case. Maybe we can make waitForCacheSy

[2018-10-25 00:37] DirectXMan12 commented on #172
/kind feature

We had some initial ideas for how to design this, but I think the interface needs potential a bit more work.  For instance, should we do `client.Subresource("name").Update(obj)`?  Can we discover `name` from the object?  (maybe?).  Thoughts and usecases always welcome :-)

[2018-10-25 00:38] DirectXMan12 commented on #155
Still need to figure out what the policy is on this.  Haven't had a chance to discuss it yet :-)

[2018-10-25 00:43] DirectXMan12 commented on #171
/kind feature

[2018-10-25 00:45] DirectXMan12 commented on #168
/kind bug

I think this is just straight-up a bug.  I seem to recall discussion a solution at some point, but can't recall what it was.

[2018-10-25 00:46] DirectXMan12 commented on #167
huh, can you file a bug against https://github.com/go-logr/zapr so that I can take a peek and/or add some docs?  Thanks!

[2018-10-25 00:48] DirectXMan12 commented on #180
@droot thoughts here?

Yeah, I definitely see how it's a common use case.  We can prob make the naming a bit clearer, and introducing an explicit `GetRemoteOnlyClient` helper (terrible name, just a placeholder) might make this clearer too.

[2018-10-25 00:49] DirectXMan12 commented on #180
The problem with starting the caches in `manager.New` is that it makes it impossible to safely add indexes (at least, how we do it now), which can be super useful in clearing up bits of code.  It's a bit of an advanced use case, but nice to have.

[2018-10-25 00:53] M00nF1sh commented on #180
another tricky solution i can think of make the manager.GetClient read directly at first, and change to delegated cache implementation once cache is synced 😸 .  Then all use case are satisfied and transparent to users.(though need to be take care for cases that user stored the client object returned by manager.GetClient via some indirection).

[2018-10-25 00:55] DirectXMan12 commented on #180
So, the other "nice" thing that the reader does it that it auto-adds new watches if you request a new object.  This might be too magic, but so far it seems to have worked out well.  Your suggestion, while not necessarily bad in the absence of this logic, cause the behavior of the client to become inconsistent when paired with the auto-add.

[2018-10-25 01:03] M00nF1sh commented on #180
I haven't checked how auto-add are implemented, i suppose it can only be implemented after cache are synced.
If so, is there any code that relies on this auto-add behavior for read operations? since people always need to use informers to access watch functionality.

[2018-10-25 01:19] M00nF1sh commented on #180
Just checked the auto-add implementation. I don't think the behavior of client will be inconsistent.

Since auto-add behavior is not necessary for Read/List operations from user's perspective.(It's an implementation detail needed for read/list by cache).

And when they need watch behavior, they have to use cache.GetInformers, which setup auto-add correctly. 😸

[2018-10-25 01:42] shawn-hurley commented on #172
So your thinking that we have a `subresoureces` Client, that has an interface containing `Create`, `Update`, `Delete` and `Get` that look exactly the same as the current interface?

I don't understand how we could determine the subresources for the object, could you explain what you had in mind would love to look into this.

I am assuming that we would want to keep the StatusWriter because it is s

[2018-10-25 01:47] shawn-hurley commented on #180
This might be a really bad idea but what if before starting the controllers, we use a direct client, and then during start change the client to a cache client.

Allows for the setup and then does the right things for the controllers?

[2018-10-25 17:46] M00nF1sh commented on #180
happy to contribute if we are going for the solution of `switch read client` 😸 .

But the problem of both manager.GetClient and manager.GetCache both exposed reader still exists. I'm a big fan of the python zen `There should be one-- and preferably only one --obvious way to do it` 😄

[2018-10-25 18:17] shawn-hurley commented on #180
I am going to take the other side of the argument here. I think that exposing the cache helps advanced users, and making the client “smart” and have a default that is to use the cache on reads makes sense 90% of the time. This reduces the cognitive overhead for new users and helps them get the right outcome.

What about something like for the status writer. A client.NoCache().Get(...)?

[2018-10-25 18:34] droot commented on #180
This is good feedback. Now I read it, it is confusing.

For our next revision `2.0`, we can probably try to do the following:
 - Remove `GetCache` API from manager
 - Introduce method on `Client` interface `NoCache` (as @shawn-hurley suggested above)

[2018-10-25 21:29] EngHabu opened #183 "Remove vendor directory"
It's not clear to me why the vendor directory exists in source code in the first place... deps will pull and "install" those as needed...
For what it's worth, I'm trying to consume controller runtime in a library project that uses glide and somehow go runtime hasn't figured out that libraries in controller-runtime/vendor/ are actually the same as the ones in my library's vendor directory and hence

[2018-10-26 12:28] shawn-hurley commented on #180
@droot Where would I get these methods: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/cache.go#L51-L55 then if we remove the GetCache() interface?

Maybe a `GetInformer()` method is added and an `Informer` interface is exposed?

[2018-10-26 16:41] EngHabu commented on #183
@coderanger thanks for your prompt response! from my experience, the only place I can justify vendoring dependencies is in an executable binary repo (like, you have a mian.go)... where you don't expect others to take a dependency on your library... otherwise, conflicts are just bound to happen due to how glide soft-flatening rules work...

As for reproducible builds, not sure why is that though? g

[2018-10-29 18:20] mengqiy commented on #157
Closed in favor of #174 and #186.

[2018-10-29 18:20] #157 closed

[2018-10-29 22:23] mindprince opened #187 "Incorrect logr usage"
https://github.com/kubernetes-sigs/controller-runtime/blob/a8ea2056444a5d74d7408e4b8798cbe63b14066b/pkg/source/source.go#L89-L90

This seems to not be using logr correctly. I got the following error when I hit this line:

{"level":"dpanic","ts":1540850293.0815783,"logger":"kubebuilder.source","caller":"zapr/zapr.go:129","msg":"odd number of arguments passed as key-value pairs for logging" ...

[2018-10-31 17:10] mengqiy commented on #187
/assign @interma

[2018-10-31 20:29] adrienjt opened #190 "Decouple webhook and manager packages"
## Context

I'm currently integrating [multicluster-controller](https://github.com/admiraltyio/multicluster-controller) with controller-runtime's webhook package, which, unfortunately, depends on the manager package.

Multicluster-controller doesn't use controller-runtime's manager package, but a more lightweight version that only orchestrates runnables (caches and controllers), while the cluster

[2018-10-31 23:14] anfernee opened #191 "RefreshCert should be based on the cert expire time, not after 180 days"
A server restart will reset the timer but not the certificate. Unless we refresh certificate every time we start the server.

https://github.com/kubernetes-sigs/controller-runtime/blob/a8ea2056444a5d74d7408e4b8798cbe63b14066b/pkg/webhook/server.go#L226

[2018-10-31 23:15] anfernee commented on #191
cc @mengqiy

[2018-10-31 23:21] anfernee opened #192 "RefreshCert loop will quit after first refreshing"
[code]

[2018-10-31 23:21] anfernee commented on #192
cc @mengqiy

[2018-11-01 06:00] interma commented on #187
Sorry for introducing it, I opened a PR to fix it.

Thanks @mindprince !

[2018-11-01 18:01] grantr opened #194 "Does the caching client work when list and watch are not allowed?"
From https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources:

Can the controller-runtime client handle an RBAC rule that restricts by `resourceName`? Seems like this would require a cache bypass.

[2018-11-02 20:15] DirectXMan12 commented on #194
/kind question
/kind feature

[2018-11-02 20:20] #119 closed

[2018-11-02 20:20] DirectXMan12 commented on #187
/priority important-longterm

[2018-11-02 20:20] DirectXMan12 commented on #187
/kind bug

[2018-11-02 20:28] DirectXMan12 commented on #172
Depending on the subresource, we could use a RESTMapper to convert a Kind to the corresponding subresource entry in discovery, IIRC, but I haven't confirmed that -- it's just an initial thought off the top of my head.  This doesn't work with subresources like status, though (even though we deal with status separately).  I'd be curious to see what seemed more readable or ergonomic.

[2018-11-02 20:29] DirectXMan12 commented on #183
@EngHabu you should always call `glide install -v` when using glide, which strips vendor directories in vendored projects.

[2018-11-02 20:30] DirectXMan12 commented on #183
(feel free to continue on this thread if you have further questions, but I'm closing it now for bookkeeping purposes)

[2018-11-02 20:30] #183 closed

[2018-11-02 22:35] EngHabu opened #195 "Allow swapping out WorkQueue"
Workquque is built here https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller.go#L87 but allows no configuration to the queue (from simple rate limiter options to flat out replacing it with a different queue implementation...
And the built Controller struct is in an internal package to prevent messing with it I guess...

I think we should make it one of the op

[2018-11-03 14:17] JoelSpeed opened #196 "Serve metrics for non-leader pods"
When using leader election, metrics aren't served and so the non-leader pods are shown as "Down" by prometheus when it scrapes the pod.

Raised originally in https://github.com/kubernetes-sigs/controller-runtime/pull/132#issuecomment-435051399

To fix this, controller-runtime should start serving metrics while waiting to acquire leader status.
We need to make sure however that it doesn't serve met

[2018-11-05 23:50] DirectXMan12 commented on #195
Do you have a specific use case in mind that isn't satisfied by the default implementation?  We like to gather concrete use cases for stuff like this (I'd like to avoid adding too many options, since it gets complicated real quick).

[2018-11-05 23:50] DirectXMan12 commented on #195
/kind feature
/priority backlog

[2018-11-05 23:51] DirectXMan12 commented on #196
/kind bug
/priority important-soon

[2018-11-05 23:57] DirectXMan12 opened #199 "Flaky metrics test"
e.g. https://travis-ci.org/kubernetes-sigs/controller-runtime/jobs/450256058#L617

Currently holding up a couple of PRs (e.g. #193, #197).  I'd guess it's a flake, since it appears in different go versions.

@JoelSpeed @droot FYI

[2018-11-05 23:57] DirectXMan12 commented on #199
/priority critical-urgent

(this is causing test issues)

/bug

[2018-11-07 21:39] DirectXMan12 opened #201 "Investigate klog redirect"
It looks like klog has an option to redirect output to a writer.  We should investigate setting this up to redirect to logger so that the client-go logging doesn't go into the ether.

[2018-11-07 21:40] DirectXMan12 commented on #201
/priority important-longterm
/kind feature

[2018-11-07 22:05] #112 closed

[2018-11-09 13:39] cmoulliard opened #202 "TypeMeta : Kind + ApiVersion are empty when the object is processed the first time"
## Bug

Original ticket : https://github.com/operator-framework/operator-sdk/issues/727

When I create a `Component`'s custom resource, the component is well created and the MetaData well defined (Kind, ApiVersion)

[code]

but when the reconcile's function of the controller fetch the Component, then the Kind, ApiVersion fields are empty

What is the root cause of this issue ?

![screenshot 2018-1

[2018-11-09 20:03] #199 closed

[2018-11-12 16:37] sverrirsig commented on #168
Is anybody looking into this bug? :)

[2018-11-13 00:01] DirectXMan12 opened #207 "Reduce command line flag boilerplate"
We've so far been somewhat CLI-agnostic in controller runtime.  However, considering that this is a common task, we may wish to set up some optional helpers (i.e. a pattern) for per-controller flag setup.

This pattern helps make controllers more distinct, which makes it easier to refactor large controllers managers out into smaller ones, choose to run certain controllers, but not all, and can cla

[2018-11-13 00:02] DirectXMan12 commented on #207
/kind feature
/priority backlock

[2018-11-13 00:05] DirectXMan12 opened #208 "Per-controller service accounts"
For the security-conscious, supporting per-controller service accounts is a nice way to ensure that individual controllers only are allowed to do what they need to do.  Ideally, such controllers would each have their own manager and be run in separate pods, but practically, the performance benefits from shared caches, plus the desired to gradually refactor existing multi-controller managers makes

[2018-11-13 00:05] DirectXMan12 commented on #208
/kind feature
/priority backlog

[2018-11-13 00:44] DirectXMan12 opened #209 "It would be nice to run integration tests as SA used to run the controller normally"
Currently, integration tests don't run as the SA used to launch the controllers normally (in kubebuilder and similar tools), so we can't catch RBAC issues in integration tests.  It would be nice to integrate support for alternate SAs into our test environment.

Potential blocker: the SA token controller isn't running, so we can't use token-based SAs.

[2018-11-13 00:45] DirectXMan12 commented on #209
/priority backlog
/kind feature

[2018-11-13 11:14] LiliC opened #210 "Remove metrics global registry"
I would like to suggest to remove the global registry as currently the controller-runtime global registry does not capture metrics registered onto `prometheus.DefaultRegisterer`. As a step forward and in line with the prosed [KEP](https://github.com/kubernetes/community/pull/2909), the controller-runtime should be able to have the registry injected. (for a start with `prometheus.DefaultRegisterer`

[2018-11-13 18:54] hasbro17 opened #211 "Update to k8s 1.12"
k8s 1.12 has been out for some time now and 1.13 is [scheduled](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.13#kubernetes-113-release-schedule) for the start of December.

I'm taking a stab at updating the k8s deps but I wanted to check if there are any reservations on how this might affect kubebuilder or the controller-tools project e.g https://github.com/kubernetes-s

[2018-11-13 21:34] DirectXMan12 commented on #210
*Disclaimer: the below represents my current thoughts, but I'm generally open to being convinced otherwise :-)*

The original goal was to make registering metrics "easy", while also not necessarily polluting the default Prometheus registry.  IMO, this is a pattern that the default Prometheus docs get right, especially for smaller projects -- since the metrics registry is in a global, there's very

[2018-11-13 21:49] DirectXMan12 commented on #168
I don't think anyone's working on it right now.  If you want to, please let me know.  Like most bugs, we do intend to fix it eventually :-)

/priority important-longterm

[2018-11-13 21:51] DirectXMan12 commented on #211
I think we're set on the versioning and branching process.  I'll be publishing a doc on how we handle conflicts shortly.  The TL;DR is that if it changes any of the objects we actually expose in the interfaces in a breaking way, it's breaking (e.g. if it changed the signature of runtime.Object).  There are relatively few cases of this, so it's likely the update will be considered non-breaking for

[2018-11-13 21:56] DirectXMan12 commented on #211
/kind versioning

let's see if that works

[2018-11-13 21:56] DirectXMan12 commented on #211
ah ha!  good bot :-)

[2018-11-15 08:42] vasrem opened #214 "EnqueueRequestForOwner creates reconcile.Request with wrong data"
I might be wrong but I find the following behaviour strange.

Lets define the following:
- Object1 -> Is created during the reconcile of Object2
- Object2 -> Owner of Object1

I'm watching for Object2 using `EnqueueRequestForObject` and Object1 with `EnqueueRequestForOwner`. Object1 is created during the reconcile of Object2. There is a reconcile function for objects of type Object2.

In [this](ht

[2018-11-19 10:51] hzamani commented on #211
Any updates here?

[2018-11-19 19:14] hasbro17 commented on #211
@hzamani I gave it a shot over the weekend but I'm having some trouble with `dep` getting stuck while resolving a transitive k8s.io dependency:
[code]

Currently trying to fix that by pinning bare revisions first(even though that's not encouraged):
[code]

I'm hoping to get this in soon(in a day or two) unless someone else has better luck first.

[2018-11-20 21:19] hasbro17 opened #218 "Allow restricting the Cache's ListWatch to a set of namespaces"
As a follow up to #124 the manager should allow restricting the cache to a set of namespaces.

Watching on all namespaces and filtering the events(via predicates) to the desired namespaces is the only way to watch a set of namespaces currently.
The problem with that is it still requires a ClusterRoleBinding, whereas the user might want to grant more fine grained permissions of a ClusterRole with m

[2018-11-20 23:06] paha opened #219 "For downstream projects using go modules breaks due to uppercase 'github.com/Sirupsen/logrus'"
For downstream projects using go modules fails due to uppercase reference at
https://github.com/kubernetes-sigs/controller-runtime/blob/master/Gopkg.lock#L72

Example output:

[code]

re: https://github.com/golang/go/issues/28489
re: https://github.com/golang/go/issues/26208

[2018-11-21 00:12] #219 closed

[2018-11-21 21:38] #137 closed

[2018-11-21 21:41] #202 closed

[2018-11-21 22:14] jimmidyson commented on #211
@hasbro17 Thank you for working on this! How's it going? Need any help?

[2018-11-24 06:31] ichekrygin opened #222 "Allow setting "UseExistingCluster" via OS Env"
Currently, `controller-runtime` does not support setting `UseExistingCluster` dynamically via environment variables (similarly to `envKubeAPIServerBin` or `envEtcdBin`, etc.).

It would be very convenient and helpful to provide a uniform way in which users can dynamically set the option to `UseExistingCluster` via the environment.

[2018-11-25 01:59] jimmidyson commented on #211
Submitted pr #221 to do this 🤞

[2018-11-25 17:43] hasbro17 commented on #211
@jimmidyson Sorry I was busy traveling, and was still stuck on some weird dep issue that caused it to hang when pulling the 1.12 tags.
But thanks for speeding this up with your PR 👍 which SGTM.

[2018-11-26 23:13] DirectXMan12 commented on #211
/priority important-longterm

[2018-11-28 18:21] #187 closed

[2018-11-28 18:22] DirectXMan12 commented on #214
/kind bug

So, we definitely need to handle non-namespaced objects, and namespaces themselves (we can use discovery info for that)

[2018-11-28 18:22] DirectXMan12 commented on #214
/priority important-soon

[2018-11-28 19:18] #149 closed

[2018-11-28 21:57] DirectXMan12 commented on #218
/kind feature
/priority important-longterm

[2018-11-28 21:59] DirectXMan12 commented on #195
Ah, that's an interesting use case.  We have to be careful about how much of the underlying Kubernetes types we expose -- that makes it *really* hard to do API guarantees.

[2018-11-28 22:07] DirectXMan12 commented on #195
But I can definitely see where you're coming from

[2018-11-28 22:09] #196 closed

[2018-11-29 00:14] EngHabu commented on #195
I agree about the general direction of starting with the minimum set of required APIs and only add when there is a justification... this is a dealbreaker for me though.. if you don't think this fits in the model controller-runtime is going with (maybe simple-straightforward usecases?), I'm going to have to stick with raw k8s types...

[2018-11-29 04:01] zjj2wry commented on #144
I encountered the same problem when using v0.1.1, the client also gets data from the cache is confusing

https://github.com/kubernetes-sigs/controller-runtime/blob/v0.1.1/pkg/manager/manager.go#L149

[2018-11-29 15:32] ironcladlou commented on #214
Owner references in Kubernetes are:

1. Namespaced
2. Cannot cross namespaces

This is an intentional policy decision upstream. There's some [prior conversation](
https://github.com/kubernetes/kubernetes/issues/54940#issuecomment-341453766) about it in the context of garbage collection.

Bottom line is I think EnqueueRequestForOwner is behaving as expected since, per the upstream design, it's safe

[2018-11-29 18:22] shawn-hurley opened #226 "Overriding Values in Manager"
As a user, I would like the ability to specify the cache and client that the manager injects into other objects.

I am proposing that the manager options expose the new functions for client and cache.

[code]

The defaults will stay the same, this will allow users to change the client.

I also believe that their should be a new method `NewDelegatingClient func(cache cache.Cache, client client.Clie

[2018-11-29 19:59] shawn-hurley commented on #226
/kind feature

[2018-11-30 19:05] grantr commented on #214
Intentional policy decisions notwithstanding, didn't https://github.com/kubernetes/kubernetes/pull/57211 add support for garbage collecting dependents of cluster-scoped objects? That seems like practical acknowledgment that the cluster-scoped owner scenario is valid, or at least common enough that it should be supported.

[2018-11-30 20:34] ironcladlou commented on #214
@grantr

I think there are two orthogonal things to consider:

1. The Kubernetes [OwnerReference](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#ownerreference-v1-meta) primitive on which other components are layered, e.g. the garbage collector.

`OwnerReference` is versioned API, and its semantics are clearly documented:

2. The Kubernetes [garbage collector](https://kuberne

[2018-11-30 21:22] liggitt commented on #214
ownerRefs to cluster-scoped objects are allowed:

https://github.com/kubernetes/kubernetes/blob/6e5176b48df8719ab969a233a0411ad6ba35d222/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L288-L290

ownerRefs from cluster-scoped objects to namespaced objects are not supported.

[2018-11-30 21:41] ironcladlou commented on #214
@liggitt @caesarxuchao

Oh, hi there! 😀 👋

Hey, that's new! How does Kubernetes versioning apply with a purely semantic change like this?

All this said, I think the original request in this PR was about inter-namespace dependencies, which still aren't supported (right?).

[2018-11-30 21:50] vasrem commented on #214
@ironcladlou Yes! The request to "fix" the behaviour would be:
- Inter-namespace dependencies
- Cluster-scoped objects to be owned by namespaced objects

[2018-11-30 21:59] ironcladlou commented on #214
@vasrem

Yes! The request to "fix" the behaviour would be:

I think my [earlier diatribe](
https://github.com/kubernetes-sigs/controller-runtime/issues/214#issuecomment-443331268) accidentally applies more clearly to your request — those two types of relationships are explicitly disallowed and so I still think the change would have to originate with `OwnerReference` itself (which doesn't even have

[2018-11-30 22:14] vasrem commented on #214
@ironcladlou

That's true. I was just curious about the behaviour of the `EnqueueRequestForOwner` function. If it is correct or not. I faced this behaviour because I didn't follow the [internal policy](https://github.com/kubernetes-sigs/controller-runtime/issues/214#issuecomment-442876433).

Do you know if there are plans to implement the `Namespace` field in the `OwnerReference` definition? I can

[2018-11-30 22:33] grantr opened #228 "EnqueueRequestForOwner doesn't correctly enqueue cluster-scoped owner"
_Splitting out the cluster-scoped owner scenario from #214._

As [pointed out](https://github.com/kubernetes-sigs/controller-runtime/issues/214#issuecomment-443343432) by @liggitt, cluster-scoped owners are now [explicitly supported](https://github.com/kubernetes/kubernetes/blob/6e5176b48df8719ab969a233a0411ad6ba35d222/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L288-L290).

`Enqueue

[2018-11-30 22:34] grantr commented on #214
To avoid hijacking this thread with a different request, I opened #228 for the specific case of cluster-scoped owners.

[2018-12-01 05:50] #211 closed

[2018-12-03 08:44] cmoulliard opened #231 "Milestones and calendar"
Is it planned to manage this project using github milestones and to have a calendar about next releases (every month, 3months, ...) ? When is the release `v0.1.8` scheduled ? Where do we manage the release note of a release ?

[2018-12-03 23:21] DirectXMan12 commented on #231
I've been trying to write up how we do the release process in `VERSIONING.md`.  Let me know if that doesn't answer your questions.

/kind question
/kind versioning

[2018-12-03 23:22] DirectXMan12 commented on #231
Specifically:

[2018-12-03 23:31] DirectXMan12 commented on #144
/priority important-longterm

[2018-12-03 23:34] DirectXMan12 commented on #195
Well, we never want that to be the case either -- controller-runtime should be sufficiently flexible for what people want to do...

You could potentially use a channel source to implement this behavior, and it probably wouldn't be too complicated.  It'd be similar to what you have now -- push updated into a dedup queue, and then pop and send on the channel.

[2018-12-03 23:35] DirectXMan12 commented on #195
but it boils down to: if it's not at all possible to use CR for this use case, we have a problem.

[2018-12-04 00:12] hasbro17 commented on #231
@DirectXMan12 Thanks for adding the versioning doc.
Right now it seems we're going to generate the release notes or CHANGELOG when making the release.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/VERSIONING.md#exact-steps

I imagine you're planning to have the tool generate the notes based on the PR annotations
https://github.com/kubernetes-sigs/controller-runtime/blob/master

[2018-12-04 20:40] DirectXMan12 commented on #231
Whoops, yeah, I missed updating RELEASE.md.  That should just be retired in favor of VERSIONING.md.

Yeah, we'll need some manual work for v0.1.8.

[2018-12-05 15:24] edwardstudy opened #236 "Want to implement write-only fields when using fake client"
Hi, I used "sigs.k8s.io/controller-runtime/pkg/client" to test my custom controller function. And there are some differences between fake `runtime.Object` and real `runtime.Object`.

For example, I had following code to init client:
[code]

And I can get first secret data from `StringData` even it is write-only and get second secret data from `Data`.  But real secret should be set from `StringData

[2018-12-05 23:19] DirectXMan12 commented on #236
That's not a difference in `runtime.Object`, it's that the API server does special weird behavior when converting `StringData`, serverside.  It's not really feasible for us to try to re-implement API server functionality in the test client.  You've got three options:

1. (I'd recommend this):  do what we do in controller-runtime and generated kubebuilder projects, and stand up a stand-alone API se

[2018-12-05 23:19] DirectXMan12 commented on #236
/kind question

[2018-12-05 23:20] DirectXMan12 commented on #236
/kind feature

[2018-12-10 23:29] danwinship opened #243 "source.Kind-based Controller never reconciles missed deletion events"
A Controller based on Watching a `source.Kind` source will not reconcile deletion events that occur while the controller is not running.

Eg, taking specifically the case of https://github.com/openshift/cluster-network-operator (hi @squeed), if the operator is run, and then creates network infrastructure, and then exits, and then the `NetworkConfig` object is deleted, and then the operator is star

[2018-12-11 20:05] nkvoll commented on #180
FWIW, coming in as a (relatively new) user of controller-runtime, this is something that just caught me off-guard: if you `Get` any object, a `List` watch will be set up behind the scenes for me.

Doesn't this have implications if there are a lot of objects (e.g Pods), and I only want to:
1. Get a single one: I end up watching every Pod (in all namespaces, unless I namespace the controller?)
2. Wa

[2018-12-12 08:47] rajathagasthya commented on #228
I'd like to work on this, with some hand-holding. How do I get started with making changes?

[2018-12-12 12:08] nkvoll opened #244 "Enable filtered list watches as watches"
When setting up watches during initialization it's currently not possible to filter by any selectors (which is possible using list watches).

For example it is not possible to only watch pods with specific labels (e.g having the label `pod-type: my-controller-type`). The current behavior results in very broad caching, which might not be desirable for large Kubernetes deployments.

In some scenario

[2018-12-12 12:14] nkvoll opened #245 "Possible race condition / inconsistency between CRUD operations"
`Create`/`Update`/`Delete` operations are performed using non-caching clients and return before any caches are likely to have seen the changes. This means `Get`/`List` can return stale data for an undeterministic amount of time, could be milliseconds or could be longer based on latency/load on both client and apiserver.

Example:
1. List resource type X (see count: 0)
2. Create resource of type X

[2018-12-12 12:24] nkvoll opened #246 "Enable adding and removing watches at runtime."
It would be great if there was a way to add and remove watches during the controller lifecycle.

Use case: want to be able to get some data from a user-supplied secret, instead of inline:
[code]
- If `secretSource` is specified, we want to add a watch for it so we can reconcile when it changes (likely have to provide a custom `handler.EventHandler` to reconcile the correct object(s)).
- If it is n

[2018-12-12 12:43] nkvoll opened #247 "Consider making `cache.internal.CacheReader` accessible for users"
The documentation at https://book.kubebuilder.io/beyond_basics/using_client_go_informers.html shows how to wire in informers from the `client-go` package, but due to the behavior of the client provided to controllers (creates a watch when get/list is used), it means the story gets complicated

See below for an example where a custom informer is used, but having the ability to create a `CacheReader

[2018-12-17 08:34] terinjokes opened #258 "controller histogram buckets configuration"
Metrics are created for the controller's workqueue, using Prometheus's [default buckets](https://github.com/kubernetes-sigs/controller-runtime/blob/b497fd58b9d76e0af8a4cba21c595d13cf094307/pkg/internal/controller/metrics/metrics.go#L47-L57). Unfortunately, the default buckets are poorly chosen for event processing.

This can easily result in metrics that are extremely coarse. In a controller I was

[2018-12-17 23:09] mengqiy commented on #258
The 1st option makes sense to me.

[2018-12-18 23:20] M00nF1sh commented on #243
Hi,
I think the source.Channel can solve this problem.
You can get the list of "network infrastructure" object from external source, and get the k8s identify from these external object(tags/names/description/etc), and send event.Generic to the channel.

[2018-12-19 12:11] cmoulliard opened #261 "Question: CRD not found when we delete it"
## Versions

k8s version used : 1.11
Go deps
[code]

## Description

When a CRD is deleted using the command `kubectl delete cp --all`, then the `reconcile()` function which is called from the controller runtime

[code]

is not not able to find the the component CRD `r.client.Get(context.TODO(), request.NamespacedName, component)` as it has been deleted

[code]

Questions:
- How can I be notify wi

[2018-12-19 12:31] cmoulliard commented on #261
How can I subscribe to such event to be notified ?

[2018-12-19 12:49] cmoulliard commented on #261
Got it. Thanks. I have updated my code to add a `predicate` able to handle `delete event` and will see if that helps

[code]

[2018-12-19 13:43] cmoulliard commented on #261
I did a mistake in my code as I updated only the status and not the component to add  the finalizer

[code]

I will change my code.

[2018-12-19 14:00] cmoulliard commented on #261
I have added a finalizer.

According to my screenshot, I see nevertheless 2 problems

- Why do we get 2 components under the delete event -> see data ?
- Why is the GKV of each component empty ?

![screenshot 2018-12-19 14 55 55](https://user-images.githubusercontent.com/463790/50224595-93bf1380-039e-11e9-99f9-967878f6807d.png)

[2018-12-19 21:24] mengqiy commented on #191
This is not an real issue, since each time the server starts, it checks if the cert is valid (i.e. not expire in the next 6 months).
In current setup, timer is 180 days.
In the worst case, the server restarts at 179th day after the certs are generated. And after another 180 days, timer fires, the server rotates the certs. Nothing breaks.

[2018-12-19 22:00] mengqiy opened #262 "Document what metrics are registered in godoc"
From https://github.com/kubernetes-sigs/controller-runtime/pull/234#issuecomment-448248502

[2018-12-19 22:13] anfernee commented on #191
SGTM.

[2018-12-21 01:19] coderanger opened #265 "How to correctly use context arguments is unclear"
Most of the examples use `context.TODO()` on each call into the client. Would be nice to have a better explanation of what this is for.

And someday it would be cool to add a `.Context` field on the `reconcile.Request` for controllers (and maybe something similar for webhooks, though that's harder), and have the controller machinery create a `context.Background()` at the start of a request so you

[2018-12-21 01:40] DirectXMan12 commented on #265
/kind feature
/priority important-longterm

[2018-12-21 01:47] DirectXMan12 commented on #262
/kind documentation
/priority important-soon

[2018-12-21 01:54] DirectXMan12 commented on #261
We expose the object meta and the full object as separate fields (which is occasionally useful).  Your IDE is probably just having a hard time displaying the struct, if I had to guess.

I think the GVK bug was fixed in a recent release -- we weren't populating it sometimes before.  Are you still seeing it with a copy from master?

[2018-12-21 01:59] DirectXMan12 commented on #243
For deleting:

Yeah, the general pattern here is that one of two things should be happening -- you should *either* be watching the state of the external world (like @M00nF1sh suggested), or use a finalizer on the Kubernetes object in question.

For initial creation:

Do you have an object that represents just the status for the network operator?  You might want to watch that, in which case you'll

[2018-12-21 02:03] #226 closed

[2018-12-21 02:08] DirectXMan12 commented on #258
I think we can *probably* choose some better buckets, too.  This smae discussion is being had right now in the main k/k repo ;-).

[2018-12-21 20:23] DirectXMan12 commented on #247
/kind feature
/priority important-longterm

[2018-12-27 00:35] DirectXMan12 commented on #258
It seems to me like exposing the exact mechanics of how we observe metrics is exposing an implementation detail as public API (at least, that's my gut feeling), particularly since the only way to actually change the bucket definition would be to expose the individual metrics at a API level.  That would mean that we'd be tied to a particular set of metrics with a particular interface for measuring

[2018-12-27 01:35] mengqiy commented on #258
Ref: https://github.com/kubernetes/kubernetes/issues/63750 and https://github.com/kubernetes/kubernetes/pull/67476 are the upstream issue and PR.

[2018-12-27 18:49] perryao opened #266 "Incorrect interface assertions in example/mutatingwebhook.go"
I believe [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/example/mutatingwebhook.go#L67) and [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/example/mutatingwebhook.go#L77) need to be updated to assert `podAnnotator`'s conformance to `inject.Client` and `inject.Decoder`.

`example/validatingWebhook.go` already does the interface assertions for `po

[2018-12-28 11:16] sr commented on #265
I was wondering about this too, my understanding is the controller runtime doesn't enforce any timeout on reconciliation attempts, which could cause the entire controller to lock up:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L215

Doing something like this doesn't seem so bad:

[code]

Though I could also see a new field on `controller

[2018-12-28 14:53] jeefy commented on #244
+1

I've run into a similar issue with a controller I'm writing. I wound up starting a goroutine when the controller gets added to watch/act on certain objects that are created and labeled by another controller outside of mine.

[2018-12-29 06:40] GeorgeGuo2018 opened #270 "how can i get node info using client supported by manager"
while using the Get function of client, function schema as follow:
Get(ctx context.Context, key ObjectKey, obj runtime.Object) error
，we should give a ObjectKey to the 2cd paramerer.
But if i want to get nodes info using this method, there is no namespace info of a certain node.
what can i do? does the package "sigs.k8s.io/controller-runtime/pkg/client" supports getting node info?

any reply would

[2018-12-29 16:33] coderanger commented on #270
For non-namespace-scoped object types, the `Namespace` value is ignored. So something like `client.get(ctx.TODO(), types.NamespacedName{Name: "mynode"}, node)`

[2019-01-01 01:07] ichekrygin opened #271 "Nil Pointer in wehbook/boostrap when using BootstrapOptions.Host"
### Repro Steps:
Using `example/main.go`
[code]
1. Add `var host = "localhost"`
1. Remove (comment out) `Service` replacing it with `Host: &host,`
1. Run example

#### Expected
`ValidatingWebhookConfiguration` to contain
[code]

#### Actual
[code]

#### Suspected cause
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/bootstrap.go#L300
[code]
`s.Service` is not tested f

[2019-01-02 08:59] GeorgeGuo2018 commented on #270
it works, thx a lot.

[2019-01-02 08:59] #270 closed

[2019-01-02 14:42] hasbro17 commented on #168
@jsafrane Is this still an issue? I think this has been fixed with #213 in the v0.1.8 release.

[2019-01-03 21:58] vincepri opened #275 "CRD conversion webhooks support"
CRD conversion webhooks reached v1alpha1 in Kubernetes 1.13 https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#webhook-conversion. It'd be great to add support in controller-runtime to allow upgrades/conversions between custom resources versions.

[2019-01-03 23:52] DirectXMan12 commented on #275
/feature
/priority important-soon

[2019-01-03 23:53] DirectXMan12 commented on #275
agreed :-)

[2019-01-03 23:58] DirectXMan12 opened #276 "Run tests via prow"
We should be running our test suite in prow instead of Travis, so the normal kube workflow commands work.

[2019-01-03 23:58] DirectXMan12 commented on #276
/help-wanted

[2019-01-03 23:58] DirectXMan12 commented on #276
/priority important-longterm

[2019-01-04 00:01] DirectXMan12 commented on #244
we'd have to specify this at the manager level, but it should be possible to pass restricting items.

[2019-01-04 00:03] DirectXMan12 commented on #244
(since caches are shared)

[2019-01-04 00:03] DirectXMan12 commented on #244
we could also let users manually specify auxiliary caches

[2019-01-04 00:04] DirectXMan12 commented on #244
if anyone has ideas for a design doc, I'd love to see them.

[2019-01-04 00:07] DirectXMan12 commented on #265
we can't actually *enforce* timeouts, but we can totally allow you to configure a timeout context builder that gets passed to all reconcile requests that you can pass to clients.  It won't help if you manually block yourself, but in the case of well-behaved clients it's probably a good idea.

[2019-01-04 00:08] DirectXMan12 commented on #265
since you might want contexts for other things, a `ContextBuilder` option (with a sane timeout-based helper and good defaults) is probably something we'll want eventually.

[2019-01-04 00:09] DirectXMan12 commented on #266
yep, please do update that.  Good catch :-)

[2019-01-04 00:09] DirectXMan12 commented on #266
/kind bug

[2019-01-04 00:19] DirectXMan12 opened #277 "intermittent failures on beforesuite tests"
e.g. https://travis-ci.org/kubernetes-sigs/controller-runtime/jobs/473990657#L614.  Unclear why.  Not enough logging details.

/priority important-soon
/kind flake

[2019-01-04 00:49] DirectXMan12 opened #278 "fix deepcopy gen to support the default gopath or no gopath"

[2019-01-04 00:49] #278 closed

[2019-01-04 00:49] DirectXMan12 commented on #278
whoops, wrong repo

[2019-01-04 01:38] DirectXMan12 commented on #228
looks like #274 is working on this

[2019-01-04 01:43] DirectXMan12 commented on #245
That's intentional -- it's how Kubernetes works.  If you write your controller correctly (i.e you set up signals for everything you care about, and you always try reconciles as trying to be declarative), you'll get the right behavior, because you'll get notified of updates as changes get noticed.  Kubernetes is *eventually* consistent.

We could probably do a bit better in explaining this in the d

[2019-01-04 01:45] DirectXMan12 commented on #180
I think your concern is relevant here.  This is one of the things that made me a bit nervous initially, but it is a bit of a corner case, and generally the auto-caching follows the behavior we encourage in Kubernetes (always cache, except in really rare cases).  Let's deal with the cases in the issues you've opened up -- I think splitting the use cases out was a good idea.

[2019-01-04 01:46] DirectXMan12 commented on #180
(and yes, there's currently not a good way to limit/filter watches.  it's something we need to solve)

[2019-01-04 01:46] DirectXMan12 commented on #245
(feel free to continue commenting, but I'm going to close this for bookkeeping purposes.  I can always re-open it)

[2019-01-04 01:46] #245 closed

[2019-01-04 01:49] DirectXMan12 commented on #246
/kind feature
/priority important-longterm

[2019-01-04 01:50] DirectXMan12 commented on #244
/kind feature
/priority important-soon

this has been coming up a lot lately, and seems like a good thing to tackle in the list of related issues.

[2019-01-04 01:58] ichekrygin commented on #245
@DirectXMan12 is there a some sort of "best practices" doc for writing a `controller` to get more info, or maybe you could point to a controller that could be used as an example?

[2019-01-04 02:09] DirectXMan12 commented on #244
i.e. one sketch:

Have a list-options watch predicate, smartly detect the presence of that (in some generic way) and pass it down to `GetInformer`.  If we already have a global informer, just use that.  If we don't have a global informer, create a new filtered informer.  We delay creation of informers to figure out if one person needs a global informer, and just use that, to allow splitting and co

[2019-01-04 17:16] vincepri commented on #275
@DirectXMan12 Should we open a different issue to track 1.13 update?

[2019-01-07 18:33] com6056 opened #281 "Incorrect patch generated with jsonpatch"
I am encountering an issue when trying to inject things into pods with more than 1 container.

The ReplicaSet returns `Error creating: Internal error occurred: Internal error occurred: Unable to remove invalid index: 1`. I've narrowed it down to an issue with `jsonpatch`.

The issue is outlined here: https://github.com/mattbaird/jsonpatch/issues/7
This fork has the fixes: https://github.com/appsco

[2019-01-07 19:24] grantr opened #282 "StatusWriter doesn't support Get"
I want to write a test to verify that the status subresource works. Naively I'd expect to write something like this:

[code]

This doesn't work because the response from `Status().Update()` updates the SelfLink to append `/status`, which is reasonable from an API perspective (we're operating on the Status subresource) but mildly surprising from a user perspective. It would be nice if I could do a

[2019-01-07 20:54] #271 closed

[2019-01-07 21:11] mengqiy commented on #281
Thanks for pointing this out!
We are considering switching to `appscode/jsonpatch`.

This is a breaking change. We probably will switch to `appscode/jsonpatch` in v0.2.0 if we plan to introduce it as is.

[2019-01-07 21:15] coderanger commented on #282
This matches the actual Kubernetes API, `GET .../status` is not a valid request. Not sure what you would expect this to do?

[2019-01-07 22:13] rajathagasthya commented on #281
@mengqiy (tangential) Just curious why https://github.com/evanphx/json-patch isn't used here. It's used in k/k.

[2019-01-07 22:37] grantr commented on #282
@coderanger works for me:

[code]

Also works for `.../scale` on a Deployment.

[2019-01-07 23:17] coderanger commented on #282
That's exactly the same as `GET .../` though. Why make a separate API for it? The only value of the status subresource is 1) PUT to that endpoint will ignore non-status data and 2) PUT/POST elsewhere will ignore status data.

[2019-01-07 23:31] grantr commented on #282
It's **almost** exactly the same. The difference is in the `SelfLink`:

[code]

Note also that this changed `SelfLink` value is present in the object "returned" by `Status().Update()`. Any object given to the StatusWriter will, after calling `Update()`, have a `SelfLink` pointing to their status subresource instead of the root resource. This is the root cause of the behavior described in the issue

[2019-01-08 00:33] mengqiy opened #283 "webhook server should work when no webhook is registered under the server"
Currently, when there are no webhooks registered under the webhook server, the web server will not generate serving cert which will result it failing to come up.
This was discovered by @pwittrock when trying to simplify the example.

[2019-01-08 15:08] shawn-hurley commented on #282
Changing the self link or exposing a new method seems like the wrong thing to do just to get a `reflect.DeepEqual` working easily for a test IMO.

Could you not just compare the `obj.Status`?

[2019-01-08 22:15] liyinan926 opened #284 "MapObject.Object contains empty GroupVersionKind"
I noticed that `MapObject.Object` instances passed to a `handler.ToRequestsFunc` function contains empty `GroupVersionKind`. The code I have looks like the following:

[code]

The logs show multiple occurrences of `Empty GVK for object ...`.

[2019-01-08 22:34] liyinan926 commented on #284
Looks like https://github.com/kubernetes-sigs/controller-runtime/pull/212 might have solved the issue. Can anyone help confirm?

[2019-01-09 18:50] #266 closed

[2019-01-09 22:55] #283 closed

[2019-01-09 23:06] #281 closed

[2019-01-10 21:15] vincepri opened #291 "Logging should be streamlined"
The current controller runtime offers a log package that includes a zap logger and lets users to bring their own logger by implementing https://github.com/go-logr/logr interfaces. Most of the other tools in the Kubernetes ecosystem use `klog` as the main logging point, which makes it hard to have a single output and logger given that klog doesn't expose any interface that implements logr interface

[2019-01-15 01:09] DirectXMan12 commented on #291
github.com/go-logr/glogr should be trivially adaptable to klog (it was originally written for glog).  We'll see how klog evolves, but getting that situation squared away is something I would definitely like to do.

[2019-01-15 01:09] DirectXMan12 commented on #291
/priority important-soon

[2019-01-15 01:12] DirectXMan12 commented on #284
in general, you probably want to use the scheme to get the GVK of a type, but we're trying to clean up the places where we don't set a GVK.  It's pretty common throughout the code not to have a GVK set, because it's not actually needed most places in the client/apimachinery (which use Scheme instead).

[2019-01-15 13:50] secat opened #293 "Fake client doesn't apply the LabelSelector or FieldSelector options on List"
Currently the fake client doesn't apply the `ListOptions.LabelSelector` or the `ListOptions.FieldSelector` to filter results when using the `List` function.

Here is the current fake client's `List` function code:
[code]

Probably the filter logic should be apply after the `_, _, err = decoder.Decode(j, nil, list)` code line.

[2019-01-16 06:36] liyinan926 commented on #284
@shawn-hurley I can do it.

[2019-01-16 18:35] j-vizcaino opened #297 "Support health and liveness probes"
I'm adding a liveness probe to a manager built with `controller-runtime`.
The manager already leverages the HTTP service provided natively to serve Prometheus metrics.

I would like to add another endpoint `/live` to provide the liveness of the application, on the same HTTP server that is used for metrics.
There does not seem to be a way to do this today because the http mux is created internally

[2019-01-16 20:03] DirectXMan12 commented on #297
we should have a general liveness hook.  I'm not sure we want to make this a general HTTP serving platform, but liveness support would definitely be useful.

/kind feature
/priority important-longterm

[2019-01-16 20:07] DirectXMan12 commented on #277
occuring more.  looks like a timeout starting control plane components.  need details on why the control plane is taking more than 60 seconds to start.

[2019-01-16 20:23] mengqiy commented on #155
Closed by #294.

[2019-01-16 20:23] #155 closed

[2019-01-16 20:35] DirectXMan12 commented on #222
/kind feature

[2019-01-16 20:35] DirectXMan12 commented on #222
/priority important-longterm

[2019-01-16 21:00] ichekrygin commented on #277
@DirectXMan12 I have seen evidence of this in my project. It is rather simple to reproduce by adding more types in separate go packages and/or controllers (similarly in different packages). The reason why it is important to note a different go package is - if go tests run in parallel (default), then each controller-tools test harness will spin off a separate set of `etcd` + `kubeapis` instances pe

[2019-01-16 23:03] #191 closed

[2019-01-16 23:03] #192 closed

[2019-01-17 19:59] coderanger opened #299 "API request: access to the raw REST client for a type"
I'm imagining something like `mgr.GetClient().GetRawClientFor(obj)` which pretty much returns `c.cache.getObjMeta(obj)` as used in TypedClient. This would allow calling methods not exposed by the c-r client layer (such as PATCH requests) without the full complexity of initializing a client-go REST client.

[2019-01-22 20:10] DirectXMan12 commented on #277
hmm...  there two-ish obvious solutions, neither of which are amazing.  The first is to force-run serial tests.  The second is to have some what or tasking parallel tests try to connect to the same API server, but that seems prone to causing other weird bugs.

Any other ideas?  The latter could yield faster test iteration times too (no API server spin up time per tests), but I'm a tad worried abou

[2019-01-23 06:07] ichekrygin commented on #277
Yes, I agree, those are hard choices. It is hard to let go of the reproduce-ability offered by a clean slate of a dedicated per test package `etcd` + `kubeapiserver`.

What we ended up with is trying to controlling go tests parallelism with `go test -p $(nproc / n)` or similar, and fine tuning `n` value to get stable and yet not serial test runs.

[2019-01-23 14:14] calind opened #301 "Expose the underlying zap logger"
I have a following use case: i'm writing an app which exposes some kubernetes suff over grpc. The grpc part of the application already has zap integration and just expects a zap logger passed in. I would like to pass the logger configured by the controller-runtime becuse it's deals nicely with kubernetes objects already but that's not exposed.

I would propose to add an option to `Logger` and `Log

[2019-01-23 23:25] cflewis opened #303 "reconcile.Result is ambiguously documented"
`reconcile.Result{}` is defined as:

[code]

It is ambiguous as to whether you have to set `Requeue: true` for the requeue to occur, or if you only need `RequeueAfter`. You can see both uses on GitHub. After digging through the implementation, the latter is true:

https://sourcegraph.com/github.com/kubernetes-sigs/controller-runtime@d561f55e5064583c18d7c2de357b08bf396d3659/-/blob/pkg/internal/cont

[2019-01-23 23:39] kibbles-n-bytes commented on #303
Also, `controller-runtime/pkg/internal/controller/controller_test.go`even has a test that says it's setting both, but then only sets one. And then doesn't have a test that says it's setting only one.

https://sourcegraph.com/github.com/kubernetes-sigs/controller-runtime@d561f55e5064583c18d7c2de357b08bf396d3659/-/blob/pkg/internal/controller/controller_test.go#L362

[2019-01-24 00:15] grantr commented on #299
This would make committing to the CR client interface less scary since there's always a trap door available.

Ideally this would also support the dynamic client. Either `GetRawClientFor` method could return the resource interface corresponding to the given Unstructured object, or a separate `GetDynamicClient` method could be made available.

[2019-01-24 00:31] grantr commented on #282
I agree, it seems wrong to change the self link. It's already happening though - the `Status().Update()` method changes the self link on an object given to it. That seems like the wrong thing to do too. :stuck_out_tongue:

We're pretending that the `PUT <resource>/status` response metadata is equal to the `PUT <resource>` response metadata, but it actually isn't. I don't see a way around this in t

[2019-01-24 00:31] #282 closed

[2019-01-24 14:13] siscia commented on #219
@paha  How was this solved?

[2019-01-24 17:13] grantr opened #305 "Consider using OpenCensus for metrics instead of Prometheus"
Using the Prometheus library to collect metrics works fine mostly, but has some limitations: #258 wants to change the way metrics are aggregated, and #297 wants to add additional handlers to the manager's HTTP endpoint.

Maybe this is a far-out idea, but I wonder if switching to [OpenCensus](https://opencensus.io) for measurement instead of Prometheus client at this early stage would be a good ide

[2019-01-25 03:33] kdada opened #308 "Webhook: Need to extend the interface of type.Decoder"
The interface of `type.Decoder`(pkg/webhook/admission/types/types.go):
[code]

The implementation is (pkg/webhook/admission/decode.go):
[code]

This decoder only decodes `req.AdmissionRequest.Object.Raw`. When I want to compare old object and new object in `UPDATE` request, the decoder can't decode old object for me.

So I think the decoder need an method to decode raw data:
[code]

WDYT?

[2019-01-25 03:39] kdada opened #309 "Webhook: Need more injection Interface in webhook server"
Webhook server only implements `inject.Client` and `inject.Decoder`.  I think the server should implement all of injection interfaces. Then I can use these interfaces in my webhooks.

[2019-01-25 18:57] grantr opened #310 "No list option for Continue or Limit"
The new functional list options from #294 don't support setting Limit or Continue with a functional option. If the user wants to use those options, they need to fall back to `UseListOptions`. Not a huge deal, but probably not too hard to fix.

[2019-01-29 02:46] crimsonfaith91 opened #312 "support different resync period for each controller within same repository"
A repository may have multiple controllers. For now, we only support same resync period for all the controllers. However, some use case may require supporting different resync periods among the controllers.

For example, a repository may have 3 controllers (A, B, and C). Controller A may need to be resynced every one hour to work properly, while controllers B and C are fine with the default resync

[2019-01-29 22:41] DirectXMan12 commented on #312
/kind feature
/priority important-longterm

We generally recommend that controllers not rely on resync periods.  That being said, we do need a good solution for the "timer" usecase, which is what I generally see.  It can be done with the current components (`client.List` --> `source.Channel` or `client.List` --> custom source), but it's potentially inefficient (listing/copying all objects when we

[2019-01-29 22:44] DirectXMan12 commented on #310
/kind feature
/priority backlog
/good-first-issue

[2019-01-29 22:46] DirectXMan12 commented on #309
yep, noticed this bug when trying to reword dep injection.  the webhook dep injection code is currently wrong -- it should call injectfields in children, and only implement specific injectors for dependencies it needs.

cc @mengqiy

/kind bug
/priority important-soon
/good-first-issue

[2019-01-29 22:48] DirectXMan12 commented on #308
/kind feature
/priority important-longterm

[2019-01-29 22:54] droot commented on #312
+1 This is what I suggested @crimsonfaith91 in person just now :)

[2019-01-29 22:59] DirectXMan12 commented on #305
/kind feature

I do kind-of like this idea.  Want to put together a PoC?

[2019-01-29 22:59] DirectXMan12 commented on #305
/priority backlog

[2019-01-29 23:01] DirectXMan12 commented on #299
there's always `"pkg/client/apiutil".RestClientForGVK`, although it's slightly less convenient.  I'm not necessarily keen on the idea of putting `GetRawClientFor` in the `Client` interface, but we should make this easier.

/kind feature
/priority important-longterm

[2019-01-29 23:02] DirectXMan12 commented on #303
Heh, good catch!  Want to make a PR?

/kind documentation
/priority important-soon

[2019-01-29 23:11] DirectXMan12 commented on #277
we could do that here too, at least in the short term.  Still seems like a bit of a foot-gun, though.

[2019-01-29 23:24] crimsonfaith91 commented on #312
I synced with @droot , and he provided in-depth details on some potential solutions.

Regarding the source channel solution, although it is potentially inefficient, IMO we can implement a helper API at `controller-runtime` that users can use to set up the source channel. The API will take at least 2 parameters: `GVK` and `resyncPeriod`. This will save the users some time and prevent them to implem

[2019-01-30 17:41] cflewis commented on #303
Just the documentation fix or a unit test as well?

I can do just docs, testing is not going to get on my slate.

On Tue, Jan 29, 2019 at 3:02 PM Solly Ross <notifications@github.com> wrote:

[2019-01-30 21:46] pickledrick commented on #244
I will follow this to understand how this is properly implemented and any questions from a user or testing perspective please ask and I'll do my best to assist. In the interim I've implemented this for my own use case.

`	kvp := &keyValuePair{
		key:   "app",
		value: "test",
	}

	filter := newFilter(keyValueFilter(kvp))

	err = c.Watch(&source.Kind{Type: &v1.Deployment{}}, &handler.EnqueueRequest

[2019-01-31 09:15] calind commented on #301
Great! I will attempt a pull request.

[2019-01-31 19:45] DirectXMan12 commented on #244
That's just like a predicate, though -- it doesn't actually get you most of the benefits of the filtering that people are asking for here, since it doesn't ask for server-side filtering.

[2019-01-31 19:45] DirectXMan12 commented on #303
just the docs is fine :-).

[2019-01-31 20:06] pickledrick commented on #244
I know... As I said above the code block

[2019-01-31 20:53] grantr commented on #228
I think this can be closed now that #274 is merged. Reopen if I'm wrong about that.
/close

[2019-01-31 20:53] #228 closed

[2019-02-01 00:04] #303 closed

[2019-02-04 17:03] j-vizcaino opened #315 "Using unstructured objects to discover real object type"
I have a manager that handles multiple API types. 90% of the logic is generic and can treat API types irrespective to their actual type (as long as they implement the proper interfaces).

Now, the last 10% needs to get the actual content of the custom resource, process it somehow before delegating it the generic engine.

One solution to this would be to have separate controllers but the amount of

[2019-02-04 19:33] DirectXMan12 commented on #315
For unstructured, that just pulls from the group-version-kind fields in unstructured.  We need that information to know which object to fetch with Get.  I'm not entirely certain as to your usecase -- how are you determining which resource to fetch from if you don't know group-version-resource or group-version-kind?

[2019-02-05 09:01] j-vizcaino commented on #315
You're absolutely right, I don't know how I ended up with that flawed logic: there's basically no way I can retrieve an object given its reconcile request only since many objects with different GVK but the same identity can coexist in Kubernetes 🤦‍♂️

This is clearly a non-issue. Sorry about the noise. Closing this.
Thanks for your help!

[2019-02-05 09:01] #315 closed

[2019-02-07 00:52] DirectXMan12 opened #317 "We should surface controller options when using builder"
It's hard to set controller options if you're using builder, which means you can't set stuff like max concurrent workers.

/kind feature
/priority important-soon

[2019-02-07 01:05] pursultani opened #318 "Tests fail because kube-apiserver 1.12+ requires secure port"
Tests fail because they can not start kube-apiserver. This is due to a change in kube-apiserver 1.12+  (see https://github.com/kubernetes/kubernetes/issues/51076) that made secure port mandatory, i.e. non-zero.

[kubernetes-sigs/testing_frameworks](https://github.com/kubernetes-sigs/testing_frameworks) has already addressed the issue (see https://github.com/kubernetes-sigs/testing_frameworks/issue

[2019-02-07 01:29] pursultani commented on #318
I missed to find the latest change in https://github.com/kubernetes-sigs/controller-runtime/commit/f70e2dc45f09ee2f60e56f5913e8eb475d6cf265. I'm closing this issue since it's not relevant.

[2019-02-07 01:29] #318 closed

[2019-02-08 23:24] rajathagasthya commented on #310
@DirectXMan12 Can I take this?

[2019-02-11 16:41] danwinship opened #321 "RESTMapper doesn't update to reflect new CRDs"
Currently, if you use a controller-runtime `Client` to first create a CRD, and then create an instance of that CRD, you get an error about, eg, `no matches for kind "NetNamespace" in version "network.openshift.io/v1"`. Because the client's `RESTMapper` is initialized at startup and then never updated with any new information about newly-available resource kinds, so it is only able to work with the

[2019-02-11 16:42] danwinship commented on #321
oh, meant to link to our workaround, https://github.com/openshift/cluster-network-operator/pull/95

[2019-02-14 20:22] gerred opened #329 "Watching resources after a controller has started"
Currently, when a controller is started, it's sync.Mutex is locked and doesn't unlock until after the stop channel is called. Attempting to watch a resource after a controller has started causes a deadlock. A fix to this is to unlock the mutex before receiving on the stop channel.

I'm adding controllers dynamically to an already running manager - except for this, it works fine. Is this something

[2019-02-14 20:24] gerred commented on #329
Turns out this is already in. The version we have in dep didn't have this. Closing.

[2019-02-14 20:24] #329 closed

[2019-02-14 20:47] gerred opened #330 "Remove Runnables from Manager"
When working with dynamic controllers, it would be nice to be able to have a function to remove Runnables. Currently, there are two problems with dynamic controllers:

1) If a runnable is added with a certain name, stopped, and another runnable is added with the same name, the new runnable does not receive events from a Watch.
2) If a runnable is added with a generated name, this has the potential

[2019-02-14 20:49] #330 closed

[2019-02-14 22:20] DirectXMan12 commented on #321
Yeah, I'd been meaning to port some of the code I wrote over to deal with resources added later.  We'd probably want rate-limiting on the cache invalidation, but otherwise I'd be open to making that the default implementation.  Watchable discovery would also be nice at some point :-/.

Thus far, the problem is generally mitigated by the fact your pod can just fail and restart, but there are other

[2019-02-14 22:20] DirectXMan12 commented on #321
/kind feature
/priority important-longterm

[2019-02-14 22:22] DirectXMan12 commented on #310
go ahead!  Always happy for more contributions :-)

[2019-02-14 22:32] DirectXMan12 commented on #315
no worries :-).  I've had similar moments before :-)

[2019-02-14 22:34] #301 closed

[2019-02-15 02:18] DirectXMan12 opened #332 "Manually terminate caches"
It can occasionally be useful to manually terminate caches (for example, dynamically created CRDs, or bugs in the kubernetes API server's watch code).

[2019-02-15 02:18] DirectXMan12 commented on #332
/kind feature
/priority important-longterm
/help-wanted

[2019-02-15 02:19] DirectXMan12 commented on #332
cc @gerred

[2019-02-15 02:41] DirectXMan12 commented on #332
for example: https://github.com/kubernetes/kubernetes/issues/74105

[2019-02-16 21:18] rajathagasthya commented on #310
@DirectXMan12 Thanks! Do you have any pointers on how to get started with this? How are the Limit and Continue options used?

[2019-02-22 13:57] dohnto opened #335 "Workqueue metrics have wrong unit"
Controller-runtime provides prometheus metrics - for example `workqueue_queue_latency_seconds` in seconds: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/metrics/client_go_adapter.go#L126

However client-go imlemented those metrics not as seconds but as microseconds (client-go=v10.0.0). See https://github.com/kubernetes/client-go/blob/v10.0.0/util/workqueue/metrics.go#L107 .

[2019-02-25 13:03] LiliC opened #336 "Serve metrics independently of `manager.Start`"
Currently metrics are only started to be served when `manager.Start()` is called. In operator-sdk we have a use case as we implemented our own leader election, so we block `Start()` until that pod becomes a leader. Due to this problem we are not getting metrics for all the pods. We do want to still like to collect metrics for all the running pods even if the manager is not started.

Proposed solut

[2019-02-25 13:05] LiliC commented on #336
Opened https://github.com/kubernetes-sigs/controller-runtime/pull/337 to demonstrate the above proposed solution.

[2019-02-26 14:22] JoelSpeed commented on #321
We came across this problem recently and for the moment have created a RestMapper using the `LazyRestMapperLoader` and a `FirstHitRESTMapper` something like below:

[code]

The idea being that if any CRDs are loaded in after the first discovery, the `LazyRESTMapperLoader` should pick those up, but for the most part we use the original `DiscoveryRESTMapper`. Would this be worth doing in for Control

[2019-02-26 21:26] DirectXMan12 commented on #321
I was thinking something like a lazy discovery rest mapper, with a wrapper that invalidates on cache misses, but in a rate-limited way.  You can use the DeferredDiscoveryRESTMapper with some custom wrapper around it to do the invalidation and rate limiting (since the deferredsicoveryrestmapper won't actually invalidate).

[2019-02-26 21:32] DirectXMan12 commented on #336
For reference, any particular reason why you implemented your own leader election vs CR's leader election?  If there's something it doesn't do, that'd be good to know :-).

If you want to disable metrics serving, you should just be able to do `MetricsPort: "0"`, though.

[2019-02-26 21:36] DirectXMan12 commented on #335
We'll handle that when we update to 1.14 dependencies, when it comes out, if nobody submits a PR before then, but we generally match semantics of the released version of Kubernetes.

[2019-02-26 21:46] DirectXMan12 commented on #310
basically, you'd just need to implement additional `ListOptionsFunc` implementations that set limit and continue on the list options -- the pattern should be fairly straightforward if you look at some of the other list options, but LMK if it's unclear.

Limit and continue themselves are used as part of the paginated list API in Kubernetes (e.g. https://kubernetes.io/docs/reference/generated/kubern

[2019-02-26 23:54] rajathagasthya commented on #310
@DirectXMan12 Thanks! I actually figured out what to do after reading some code in k/k. I'm writing tests (which are failing so far), but I'll create a WIP PR to make sure I'm doing the right things.

[2019-02-27 05:56] DirectXMan12 opened #340 "Better logging in the webhook server"
We should have logging in the webhook server to log requests and results (at a higher log level, most likely), otherwise it's hard to debug admission webhooks.

[2019-02-27 08:55] LiliC commented on #336
cc @shawn-hurley think he knows more about the reason behind that.

[2019-02-27 10:17] teddyking opened #342 "Envtest is not idempotent when installing CRDs, an issue when UseExistingCluster=true"
We want to use envtest against an existing cluster and are having issues when installing CRDs. Envtest will fail on the second running of the tests because the CRDs already exist in the cluster.  This is only an issue when using an existing cluster because normally envtest starts a new control plane each time.

Example setup we want to use:
[code]

And error we get:
[code]

Is it possible to have

[2019-02-27 23:31] DirectXMan12 commented on #342
Probably, it should clean up the CRDs at the end, but replacing is also an option.  Would you be willing to submit a PR for it?

[2019-02-27 23:31] DirectXMan12 commented on #342
/kind feature
/priority important-longterm

[2019-02-28 13:37] teddyking commented on #342
Great! Yeah we'd be happy to PR this in, we'll try to get something opened in the next few days.

[2019-02-28 15:42] michaelkipper opened #343 "Cannot Get after Create using Client with Custom Resource"
Hi!

I'm tearing my hair out trying to debug this issue.

[code]

When run, I get this error:

[code]

Outside the program, though:

[code]

Stepping through the code, my theory is that the `Create` call doesn't store the object in the cache, and the `Get` call only looks at the cache.

How should I go about debugging this?
Is this because `CuscoServiceConfig` is a CustomResource?

[2019-02-28 19:21] DirectXMan12 commented on #343
Yeah, you always write to the API server and read from the cache.  You can't expect to read the object you wrote immediately (and, in fact, there's generally a bit of delay).  What are you trying to accomplish with the immediate `Get`?  You'll get back the created object as part of the call to create.

[2019-02-28 19:26] michaelkipper commented on #343
@DirectXMan12: This was a snippet of something that's happening in an integration test that's failing. I would have expected read-after-write to be strongly consistent.

If this is not a guarantee, I can always drop a `WaitForResource` into the test.

[2019-02-28 19:43] DirectXMan12 commented on #343
how did you get the client for the integration test?

[2019-02-28 19:45] DirectXMan12 commented on #343
direct clients (`client.New`) should have the property you desire, since they always talk to the API server

[2019-02-28 20:14] michaelkipper commented on #343
The client comes from `manager.New(clientConfig, *managerOptions)`

A rough snippet:

[code]

[2019-03-03 13:34] alvaroaleman opened #344 "Client: Add DeleteCollection"
It would be awesome if `client.Writer` was extended with `DeleteCollection` to allow deleting a set of objects with one call.

/kind feature

[2019-03-04 11:05] alvaroaleman commented on #293
@sebgl Can this be closed now that #311 has merged or is there still something missing?

[2019-03-04 21:03] DirectXMan12 commented on #344
there's a WIP PR for this (#324 )

[2019-03-04 21:36] DirectXMan12 opened #345 "debug statement in tests"
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client_test.go#L1136-L1138 probably shouldn't have printfs ;-)

[2019-03-04 21:37] shawn-hurley commented on #345
👍 My fault sorry

[2019-03-04 21:50] DirectXMan12 commented on #343
ah, yeah, this is probably a bit of a confusing statement, but *don't use the manager client in tests*.  The manager-provided client is designed to do the right thing for controllers by default (which is to read from caches), which means it probably does the wrong thing for tests.

The suggested pattern is to construct a new client using `client.New` for tests (which will provide you with a direct

[2019-03-04 21:53] shawn-hurley commented on #343
Might be easier to document if we can instead tell folks to use `manger.APIreader` from this PR: https://github.com/kubernetes-sigs/controller-runtime/pull/327

thoughts?

[2019-03-04 21:53] DirectXMan12 commented on #343
yeah, once we get that merged, we can recommend that as well, although constructing a new client may be easier in some circumstances.

[2019-03-04 22:00] DirectXMan12 commented on #343
(also, in case it wasn't clear, while it's fine (and generally preferable) to write tests expecting read-after-write consistency, you shouldn't do that for controllers.  Kubernetes favors a kind-of 2-phase approach -- do your reads, process, do some writes, and return, letting the requeuing deal with the next cycle of reads if they're necessary, but don't try to read an object after you've written

[2019-03-04 22:11] DirectXMan12 opened #347 "Server-side Apply!"
Server-side apply will be landing in 1.14 (code is merged :tada: and all), so we should come up with a plan to support server-side apply.

Talking with @apelisse and @jennybuckley, it looks like the main constraints on server-side apply from a controller perspective are that you *must* set all the fields you care about when submitting an object, which is what we encourage anyway (declare the state

[2019-03-04 22:12] DirectXMan12 commented on #347
/kind feature
/priority important-longterm

[2019-03-04 22:14] DirectXMan12 commented on #347
We also need to come up with a reasonable fallback approach, and detection.  We should *be* able to do a dry-run patch to check if server-side apply is supported (there doesn't appear to be a more declarative way ATM).

[2019-03-04 22:16] DirectXMan12 commented on #343
@michaelkipper does that answer your question?

[2019-03-04 22:22] #345 closed

[2019-03-04 22:52] apelisse commented on #347
OpenAPI has a "route" section describing the end-points, you can check if "patch" for the specific type supports `application/apply-patch+yaml`.

[2019-03-04 23:02] DirectXMan12 commented on #347
cool, that's way better.

[2019-03-05 05:45] bharatnc opened #348 "How does fakeappi client work in tests?"
Hi, I'm using the sigs controller runtime to implement a simple controller whose reconciliation loop looks like this (tried to make it as simple as possible). My reconciler looks for a CRD and then deploys 2 deployments.

[code]

While Testing, I am using the `fakeclient` : https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/fake and just added my CRD to the fakeclient.

[code]
It seems li

[2019-03-05 05:53] bharatnc commented on #348
Thought this issue is more relevant to the api that the controller runtime provides so opening here.

[2019-03-05 15:28] mhrivnak commented on #336
That's all correct. I wrote up a summary and basic implementation here: https://github.com/mhrivnak/leaderelection

I've been meaning to propose it for controller-runtime, but just haven't gotten around to it. So here we are! The implementation changed slightly when I added it to operator-sdk, but it's fundamentally the same.

From the README, I'll just point out this excerpt, which I think highli

[2019-03-05 23:11] DirectXMan12 commented on #348
So, first caveat: we *really* don't reccomend using fake client.  Code using fake clients in Kubernetes eventually ends up a byzantine mess.

That being said: I don't *think* that's expected behavior.  Do you see any test output logs?

[2019-03-05 23:45] grantr opened #350 "Manager does not wait for Runnables to stop"
Currently `Manager.Start` immediately returns when stop channel is closed without waiting for Runnables to stop:

https://github.com/kubernetes-sigs/controller-runtime/blob/6649bdbe3f1f5f9769b91c031e52be253c87e922/pkg/manager/internal.go#L216-L219

This makes writing a Runnable with blocking stop logic difficult or impossible. For example, the Manager's internal `serveMetrics` is basically a Runna

[2019-03-06 01:33] bharatnc commented on #348
I have a slight correction to the example I am actually doing a iteration over a list of items obtained using a list. For each of those items, I make 2 deployment (remaining logic remains the same with addition to the iteration)
[code]

To answer your question, no I don't see any test output logs, do I have to initialize anything else to see these logs? Also, if not for the fakeclient, what do you

[2019-03-06 01:59] DirectXMan12 commented on #348
we recommend standing up a kube-apiserver and etcd with our test harness (doesn't need a container runtime or anything) -- `pkg/envtest`.  It's pretty fast with just the API server, doesn't need a container runtime to launch, and you get a full API server, so you don't have skew between the fake client and the real server, or have to worry about implementing complex fake client logic.

[2019-03-06 02:02] DirectXMan12 commented on #348
Logs should be written to whereever you've configured the controller-runtime logger `"sigs.k8s.io/controller-runtime".SetLogger` (an alias from `pkg/log`).  We generally set it up with Zap to log to the GinkgoWriter for our tests (e.g. https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller_suite_test.go).

Also, it looks like you're not checking the results fro

[2019-03-06 02:02] DirectXMan12 commented on #350
/kind bug
/priority important-soon

good catch

[2019-03-06 07:22] FillZpp commented on #308
I have the same problem too, and i have to handle it this way for the time being:
[code]

[2019-03-06 16:39] rajathagasthya commented on #350
I'll take this!

[2019-03-06 22:28] DirectXMan12 commented on #309
this is closed by #323

[2019-03-06 22:28] #309 closed

[2019-03-06 22:29] DirectXMan12 commented on #308
this is addressed in #328

[2019-03-06 22:31] DirectXMan12 commented on #291
kubernetes/klog#37 at least partially solves this problem with its klogr package.  The other half is being worked on it kubernetes/klog#20.

[2019-03-06 22:31] #291 closed

[2019-03-06 22:41] DirectXMan12 commented on #190
mostly solved by #323

[2019-03-06 22:41] #190 closed

[2019-03-06 22:44] DirectXMan12 commented on #276
/help-wanted

[2019-03-06 22:45] DirectXMan12 commented on #247
#327 addresses this from the opposite direction

[2019-03-06 22:45] DirectXMan12 commented on #222
/good-first-issue

[2019-03-06 22:45] DirectXMan12 commented on #171
/good-first-issue

[2019-03-06 22:47] DirectXMan12 commented on #332
We could potentially either have an `unwatch` method, refcounting style

[2019-03-06 22:47] DirectXMan12 commented on #340
/good-first-issue

[2019-03-06 22:47] DirectXMan12 commented on #340
/kind feature
/priority important-longterm

[2019-03-06 22:47] DirectXMan12 commented on #350
awesome!

[2019-03-06 22:48] DirectXMan12 commented on #317
/good-first-issue

[2019-03-06 22:48] DirectXMan12 commented on #305
/good-first-issue

[2019-03-06 22:48] DirectXMan12 commented on #297
/good-first-issue

[2019-03-06 23:12] grantr commented on #305
Working on this now!
/assign

[2019-03-06 23:22] grantr commented on #350
While investigating this I discovered another issue: the Manager's `errChan` is unbuffered, so only one Runnable goroutine (including the metrics server) will be able to terminate correctly. Others will block indefinitely. An easy fix for this is making the errChan buffered, but that's not a great long-term solution.

Anyone working on solutions in this area might want to keep #330 in mind too.

[2019-03-07 22:24] Setheck commented on #219
@siscia I was able to workaround with importing
`github.com/Sirupsen/logrus v1.0.6`
and adding the following exclusions to my go.mod
[code]

I'm guessing this is effectively rolling back to a version before the rename broke everything.

[2019-03-08 15:25] michaelgugino opened #354 "NewFakeClientWithScheme dies silently"
Current master commit: https://github.com/kubernetes-sigs/controller-runtime/blob/45d652077cba5ccc29621e8db615f25084c701cb/pkg/client/fake/client.go#L65

This line does not result in actual logging in my case, just results (confusingly) in a call to os.Exit(1).

Simple test case (replace clusterautoscaler with a suitable object that is not part of default scheme):

[code]

[2019-03-08 17:38] michaelgugino commented on #354
/kind bug

[2019-03-11 10:52] SchSeba opened #356 "Using leader election with webhook manager"
When we create a manager with leader election and a webhook only one manager start but looking into the service the manger creates for the webhook he add all the pod.

Proposed solution:

Use the label statefulset.kubernetes.io/pod-name=<podname> for the webhook service and when the election change update the service label(or recreate the service)

More general solution can be to have a general la

[2019-03-11 11:11] adracus opened #357 "controllerutil: Add `DeleteIfExists` and `TryUpdate` / `TryUpdateStatus`"
When developing controllers, other methods that are frequently required and are missing in the controllerutil package are:
* `DeleteIfExists`: Delete a resource if it exists, otherwise do nothing
* `TryUpdate`: Update a resource, if a `Conflict` is returned, retry (with `wait.Backoff` ?)
* `TryUpdateStatus`: Same as `TryUpdate` but for the `Status` subresource.

This would require making a more ge

[2019-03-11 22:18] DirectXMan12 commented on #354
a) that should probably be a panic, not a log-then-exit.  I suspect it was an incorrectly replaced pattern from our purge of fatalf (which doesn't existing in logr).

b) you should generally set up logging in `TestMain`, `BeforeSuite`, each test, or what have you (by calling `"pkg/log".SetLogger`).

[2019-03-11 22:18] DirectXMan12 commented on #354
/good-first-issue

/priority backlog

[2019-03-11 22:21] DirectXMan12 commented on #356
So, we shouldn't do that, since webhooks support active-active HA quite easily.  It should be possible to start the webhook server *without* starting the controllers.  For that we probably need the concept of things which are active-passive vs active-active.

@mengqiy FYI

[2019-03-11 22:21] DirectXMan12 commented on #356
/kind bug
/priority important-soon

This is something we intended to work properly, but doesn't, so I'm treating it as a bug here.

[2019-03-11 23:12] DirectXMan12 commented on #357
Going to address these one at a time, because some of them seem to imply that we have documentation issues:

Caveat: this shouldn't really matter, except for performance reasons -- if you delete, and it doesn't exist, you should get an error and requeue until the cache updates, or you backoff (and then you'll get a requeue when the cache actually updates).

That being said, a `IgnoreNotFound` help

[2019-03-12 10:21] SchSeba opened #359 "Manager cash on cert creating"
Hi folks,

I will like to know if there is a way to prevent the manger restart(pod restart) for the first run(when generating the certs)

Example:
[code]

I will like if there is no cert to generate one save it as secret but also put it under the `/tmp/cert/` folder for the first time the manager start and not cause an error.

[2019-03-12 17:34] DirectXMan12 commented on #359
In the long term: We recommend that you generate serving certificates externally (and, in fact, in master we've removed the certificate generation code).  cert-manager is one option (and will have support for injecting the corresponding CA into webhook configs automatically), but if you having existing cert provisioning infrastructure, you could use that as well.

[2019-03-12 18:27] SchSeba commented on #359
Thanks for the comment @DirectXMan12 !

[2019-03-13 06:20] runzexia commented on #343
My first Reconciler completed the creation of the job and triggered the second Reconciler.
But when I get the job at the second Reconciler, there will be some time 404.
@DirectXMan12
user create my crd -> if job not exist -> get job -> create job

[2019-03-13 17:24] JoelSpeed commented on #347
Will this need a client-side implementation to fall back to? A three way merge in a similar way to Kubectl does in K8s 1.13 and below?

Is there any documentation on how Kubectl will fall back if the server-side apply isn't present? Should this be the behaviour that we try to mimic?

[2019-03-13 17:26] apelisse commented on #347
kubectl right now is going to fall-back to client-side apply if the feature isn't enabled on the server, but I'm not sure that's a behavior we'll want to keep. I think it is different enough that they can't be blindly replaced.

[2019-03-13 18:55] shawn-hurley commented on #218
@DirectXMan12 I think this is closed by #267

[2019-03-13 18:56] shawn-hurley commented on #144
@DirectXMan12 I think we can close this with #327

[2019-03-14 17:37] gerred commented on #332
@DirectXMan12 I have time to start working on this now. Going to take an initial crack at it.

[2019-03-14 20:17] DirectXMan12 commented on #144
yep!

[2019-03-14 20:17] #144 closed

[2019-03-14 20:17] DirectXMan12 commented on #218
yep!

[2019-03-14 20:17] #218 closed

[2019-03-14 20:21] DirectXMan12 commented on #347
I think we may just have to explicitly fail if server-side apply is not available -- the chance for really subtle bugs may be too high.

[2019-03-14 20:22] DirectXMan12 commented on #343
if it's actually the create that's triggering the second reconciler, that shouldn't happen.

[2019-03-15 09:05] jakesjohn opened #360 "Recommended database read/write pattern"
I have written a custom controller using kubebuilder.  My custom controller also writes CR to a Mysql database(Same schema as of CR) for historical purposes.

I had a similar problem in #245 . How can I handle eventual consistency nature of Kubernetes to write into a database that works on strong consistency ?

For eg:
1. How can i handle a reconcile function called with a stale entry?
2. Calling

[2019-03-15 20:39] DirectXMan12 commented on #360
Treat it like it's the freshest data you have, if it's the root object.  I outline some suggestions in the [FAQ](https://github.com/kubernetes-sigs/controller-runtime/blob/master/FAQ.md#q-my-cache-might-be-stale-if-i-read-from-a-cache-how-should-i-deal-with-that) for dealing with potentially stale child objects, depending on your situation.

It returns an error in Kubernetes as well.  Calling `Cre

[2019-03-18 04:18] superbrothers opened #361 "Example `main.go` in README.md is dead link"
There are two examples, "builtins" and "crd".

[2019-03-18 12:34] ctron opened #362 "multiple group-version-kinds associated with type *v1.SecretList, refusing to guess at one"
Trying to list a secret with the following code

[code]

Fails with the following error:
[code]

[2019-03-18 14:48] MadVikingGod commented on #344
I have been working on this and Could use a bit of feedback.  How did you invision using this call?

I have tried two different forms, one where there is an explicit DeleteCollection() added to the client interface, and one where the presence of CollectionOptions in the Delete() call does the same logic.

The one thing that I fear, which might be unneeded, is that in both cases I only use obj's ty

[2019-03-18 20:06] DirectXMan12 commented on #362
Which version of Kubernetes and which version of controller-runtime?  That seems bizzare, as it would imply that `corev1.SecretList` was associated with multiple groups.

[2019-03-18 20:06] DirectXMan12 commented on #362
Can you post a minimal reproducer?

[2019-03-18 20:21] DirectXMan12 commented on #362
FWIW, the following works fine for me:

[code]

I'd suspect you've got something adding `SecretList` to a scheme somewhere it shouldn't be

[2019-03-18 20:21] DirectXMan12 commented on #361
ah, good catch.  Was due to a recent refactor.  Do you mind submitting a PR?

[2019-03-19 07:43] ctron commented on #362
So, I got a reproducer for you. Unfortunately your code did not compile, so I did need to adapt:

[code]

Which results in:

[code]

I am using:

[code]

Which resolved to:

[code]

If you remove the registration of the OpenShift API, then it actually works. Digging a bit deeper into to code I think there is a fundamental flaw in the controller runtime, which assumes that the object kind is unique

[2019-03-19 21:51] DirectXMan12 opened #364 "support per-controller leader election"
It's been pointed out that per-controller leader election can be very useful, since it allows you to safely migrate controllers across binaries.

/kind feature
/priority important-longterm

[2019-03-20 15:10] shawn-hurley commented on #362
The issue is that the controller runtime when creating a default scheme, adds secrets and then when you add openshift it re-adds the type. Not the Kind but the Type.

Here: https://github.com/openshift/api/blob/master/install.go#L103

If you want to use `api.Install` then you need to use a scheme when the manager is created that only installs the type once I think.

[2019-03-20 15:42] ctron commented on #362
I am sorry, but that cannot be the case. First of all, I am using `release-3.11`, which doesn't have this code: https://github.com/openshift/api/blob/release-3.11/install.go

Second, as you can see in the code you linked, that would be done by a call to `InstallKube`, not `Install`.

[2019-03-20 16:49] ctron commented on #362
I created a reproducer repository for you: https://github.com/ctron/controller-runtime-362

As you can see in the output, the object is there only once, and the conflicting entry is caused by two different types, having the same "kind":

[code]

<details>

<summary>Full log output</summary>

[code]

</details>

[2019-03-20 20:57] anthonyho007 commented on #354
@DirectXMan12  Can i work on this issue ?

[2019-03-22 16:48] nrfox opened #369 "Envtest: support loading multiple CRDs from a single file"
Currently envtest supports [installing CRDs](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/envtest#CRDInstallOptions) from yaml at specified paths however it assumes that there is only one CRD per file. Given a single file with multiple CRD documents separated by `---`, envtest will read/install the first document but not the rest. This is confusing while testing because the scheme has all

[2019-03-22 17:45] nvachhar opened #370 "specificInformersMap Get may accidentally return an unynced informer"
If `specificInformersMap` is already started, a call to `Get` that doesn't find a particular GVK will create the corresponding Informer, add it to the map, and then wait for it to sync. Therefore the caller will get a synced Informer. However, if there is a concurrent caller to Get for the same GVK, it will find the Informer in the map and return it without waiting for it to sync. Therefore the co

[2019-03-22 17:46] nvachhar commented on #42
I just filed #370. I'm not sure if this is the same thing that this issue is mentioning.

[2019-03-22 18:04] nvachhar commented on #370
I forgot to mention, I have a patch to fix the problem. Just posting the issue to ensure others agree with the problem's existence.

[2019-03-25 18:25] DirectXMan12 commented on #370
go ahead and submit the PR to fix it, please

/kind bug

[2019-03-25 18:27] DirectXMan12 commented on #369
/kind bug

Yeah, we should tackle this.  It's not hard -- it just requires a tweak to the CRD loading code

/help-wanted

[2019-03-25 18:27] DirectXMan12 commented on #369
/good-first-issue

[2019-03-25 18:27] DirectXMan12 commented on #369
/priority important-longterm

[2019-03-25 18:29] DirectXMan12 commented on #354
go ahead. Can't officially assign unless you're an org member, but consider it assigned :-)

/assign @anthonyho007

[2019-03-26 16:00] GrigoriyMikhalkin opened #372 "fake client to record method calls"
Hi, this is more like a question, and not implementation request or something. I'm currently developing k8s operator, and to test it i'm using `fakeClient`. Operator monitoring some service for updates, and if something new available -- updates deployment. Scenario that i want to test:

1) First controller got updates from service
2) Second controller checks if deployment is up to date
3) If it is

[2019-03-27 03:51] anthonyho007 commented on #369
/assign @anthonyho007

[2019-03-27 07:40] MengZn opened #374 "We should need an event return"
## Question

**What did you do?**

We can get the return of the event etc Create,Delete ...

**What did you expect to see?**

If we design an action here, we can know the state of the current resource.
[code]

**What did you see instead? Under which circumstances?**
By passing the action through the handler, the user can know the current resource situation.
[code]

[2019-03-27 22:15] DirectXMan12 opened #377 "Ignorable Errors"
We have a couple classes of errors that should not trigger requeues (not-found, already-exists), as they're not errors that will be solved by requeuing (not-found will remain not-found until a cache updates, at which point you should get a requeue from the cache update, for instance, and already-exists is the same way).

The quickest, most-likely-to-not-break-users way to solve this is to have hel

[2019-03-28 14:14] j900155 commented on #374
I have the same problem, @MengZn do you want to implement it?

[2019-03-28 14:21] delp commented on #369
Hello,

I am a first time contributor and I wanted to try taking on this issue. I have been working with the operator-sdk, and so have some familiarity with CRDs, watches, and the controller. But I can't figure out how to build this repository, and didn't find what I was looking for in any of the docs for FAQ. Can someone help me get started?

[2019-03-28 20:04] DirectXMan12 commented on #362
hey, sorry about letting this fall through the cracks a bit -- lost track of it.

[2019-03-28 20:55] DirectXMan12 commented on #362
Ok, so, I'm decently certain that this is actually an OpenShift bug, and here's why:

It's certainly *possible* to have two the same Go type associated with different GVKs, but it's almost certainly *not* what you meant.  In controller-runtime, we assume that Group-Version-Kind is unique, *and* that, with the exception of historical weirdness around `metav1.XYZMeta`, the combination of package and

[2019-03-28 21:26] anthonyho007 commented on #340
Hi  ! If no one is working on this issue, I want to take on this issue. I have been implement admission controller with controller-runtime and i do wanna improve logging in webhook server.

[2019-03-28 21:27] anthonyho007 commented on #340
/assign @anthonyho007

[2019-03-29 05:18] MengZn commented on #374
/help-wanted

[2019-03-29 08:01] ctron commented on #362
@DirectXMan12  Thanks for investigating this. I opened a new issue with the OpenShift API, and referenced your findings. Maybe we can find a proper solution then.

[2019-03-29 12:43] shawn-hurley commented on #374
Could you explain the use case and how you would use this field in your reconciler?

[2019-03-29 14:31] deads2k commented on #362
Cross posting from https://github.com/openshift/api/issues/270

In general, cross registering types is an acceptable thing to do. That's why when the scheme maps them, it allows for multiple matches https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L236 .

It allows serialization of an existing type into a new group. We make use of cross reg

[2019-04-01 16:58] mdaguete opened #379 "Avoid "The resourceVersion for the provided watch is too old.""
Hi,

I'm testing a controller to automatically label namespaces when create, I've a watch on namespace object and all seems to work ok, but after ten minutes running the following error appears ( running openshift) in k8s nothing appears:

    reflector.go:270] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: watch of *v1.Namespace ended with: The resourceVersion for the pro

[2019-04-02 05:06] MengZn commented on #374
@shawn-hurley
It's still useful if the operator knows that an object has been deleted or modified!
The operator can handle his related business logic.

[2019-04-02 07:23] alvaroaleman commented on #344
Sorry for the late feedback, I was on vacation.

I personally would prefer `DeleteCollection` as it is more explicit

What is the reason to even have both an `obj` and a `CollectionOptions` parameter? Wouldn't it make sense to make `obj` part of `CollectionOptions`?

[2019-04-02 10:24] jakesjohn commented on #360
Thanks @DirectXMan12  for the reply . Sorry if the question was not clear. Adding more details for clarity.

I think, scenario in kubernetes reconcile is slightly different.  In K8s reconcile, we can assume  that every reconcile to be called with the freshest data. (as you mentioned earlier)  The common pattern that I have seen in k8s reconcile is

[code]

In my case, i need an extra step of keepi

[2019-04-02 13:11] shawn-hurley commented on #374
To handle the deletion, I believe that you should be using a [finalizer](https://book.kubebuilder.io/beyond_basics/using_finalizers.html).

Can you explain how you intend to use the modified data?

[2019-04-02 23:28] #361 closed

[2019-04-03 07:08] MengZn commented on #374
I think that it is not just a deletion.
If the operator can know the correction status of the object in the business. Help external operators understand changes in objects

[2019-04-03 07:54] pytimer commented on #356
@DirectXMan12 I have the problem similar to @SchSeba said, but i use `Deployment` to deploy manager in Kubernetes cluster. I add a `readinessProbe` in manager yaml, below is my yaml:

[code]

This's works ok for me, but i see manager have the `http: TLS handshake error from 10.244.3.1:47680: EOF` log every 10 seconds, so i want to use `httpGet` instead of `tcpSocket`, but i have no idea how to set

[2019-04-03 23:12] DirectXMan12 commented on #362
I was under the impression that most of the cross-mapping from `meta/v1` had "this is bad, we should fix it"  comments on them (some of those lines do indeed seem to have been refactored away), and that in general, cross-registration was undesirable.  Is that not the case?  It's unclear to me *why* you'd want to do it in most cases, especially since you could just do a newtype and preserve the nic

[2019-04-03 23:36] DirectXMan12 opened #384 "switch to golangci-lint instead of gometalinter"
CT already did this as part of controller-tools#175, so CR should follow suit.

[2019-04-03 23:36] DirectXMan12 commented on #384
/priority important-longterm
/good-first-issue

[2019-04-04 13:08] jakesjohn commented on #360
Any pointers? Thanks in advance

[2019-04-05 09:41] bogdanpetrea opened #386 "Functions in testutil are commented out"
I would like to disable the client caching in some of my tests as it doesn't always seem to reflect the latest resource changes and it really gets in the way.

If I use a new client I can see the latest changes as expected so I assume it's a caching thing. But If I use a different client from the one that the test manager uses, they will always be unsynced, so it's still a caching problem.

It see

[2019-04-05 14:30] alaypatel07 commented on #384
@DirectXMan12 Interested in taking this one, if no one's on to it. Thanks

[2019-04-05 19:29] DirectXMan12 commented on #384
go ahead!
glad to have the help :-)

[2019-04-05 19:31] DirectXMan12 commented on #386
I'm not even sure why they're still there.  For tests, the recommendation is just to do
`"sigs.k8s.io/controller-runtime/pkg/client".New(...)` for use in the actual test methods (which will get you a non-caching client).

[2019-04-05 19:37] MadVikingGod commented on #344
The reasoning behind having a different object and collectionOptions, or ListOptions, is that every delete api in kubernetes is tied to a GVK.  The obj gives us the kind of things we are deleting, the DeleteOptions carry things like if the deletes should propagate, and the CollectionOptions are your label selectors.

Just to explore this a bit further, and this is just me thinking out loud, we cou

[2019-04-05 19:42] DirectXMan12 commented on #360
that seems pretty reasonable to me, assuming either a) nothing else is updating the db or b) your db can provide the same optimistic locking via resource version.  Otherwise, you'd need a DB transaction in there somewhere.

[2019-04-05 20:37] DirectXMan12 commented on #344
we have machinery inside CR to do `runtime.Object` <--> GVK (it generally involves `runtime.Scheme`, except for unstructured).

[2019-04-05 20:39] DirectXMan12 commented on #356
that's a different issue, but yeah, we definitely want to support registering generic health checks, etc.

[2019-04-05 20:42] DirectXMan12 commented on #374
You should *never* be writing reconcilers that differentiate between the different operations.  That's bound to get you into trouble.  Instead, each reconcile, you should check to see if the state of the world is different from what you expect, and act accordingly.  It shouldn't matter if the object was just created or has been updated, what matters is that the state of the world conforms to what'

[2019-04-05 20:42] #374 closed

[2019-04-05 21:00] DirectXMan12 commented on #379
that can happen occaisonally if the watch ages out for some reason.  Is it causing you issues?  It's generally not a big deal and will just prompt watch re-establishment.

[2019-04-05 21:07] DirectXMan12 commented on #340
We can't officially assign it to you, but consider it unofficially assigned.  Thanks!

[2019-04-05 21:10] DirectXMan12 commented on #372
there's #381, but we generally don't recommend testing logic like that, since it (generally) doesn't really matter if an update is done, as long as it's an identical update.

[2019-04-05 21:11] DirectXMan12 commented on #372
(closing for now in light of #381, but feel free to re-open if you have future questions).

[2019-04-05 21:11] #372 closed

[2019-04-05 23:51] taojwmware opened #387 "Need a way to notify contoller-manager from each controller"
I am trying the figure a way for doing health check (liveness and readiness) for controller manager created using either kubebuilder or operator-sdk.  The health check result should be determined by health check result of each controller. Therefore, there should be a way to notify manager from controller by adding a function inside manager interface. (basically, Observer pattern)
https://github.co

[2019-04-06 06:15] pytimer commented on #356
@DirectXMan12 That's good If it support health checks, but before support health checks, i maybe needs above method, otherwise the service connection refused. If you know other ways to solve it, hope you can tell me, thanks.

Are there any related documents or links about health checks?

[2019-04-08 13:43] LiliC commented on #336
As suggested in the https://github.com/kubernetes-sigs/controller-runtime/pull/367#issuecomment-475321599 PR comment we want to instead use the `.Runnable` approach.

@DirectXMan12 you mentioned you want to have metrics enabled by default, so how do we want to disable them then. Any prefrence on the approach there?

[2019-04-08 14:34] LiliC commented on #356
@DirectXMan12 So we want to start the webhooks and managers everywhere, and not let the leader election block it. But let the non-leader ones be passive. IIUC?

[2019-04-08 17:08] SchSeba commented on #356
maybe we can implement it in a different way.

if we want only the leader to be active for the webhook we can create the service with a special label and when we took the leader it will update the pod with the relevant label?

[2019-04-08 17:17] DirectXMan12 commented on #362
Although, I feel like this would lead to weird/unexpected behavior in certain cases (especially when combining controllers into a single manager), so I'd still prefer to try and just get a fix in OpenShift.

[2019-04-08 17:22] DirectXMan12 opened #388 "Consider tweaking client options a bit"
I believe (been mulling this over a bit) that we can make it so that client options don't require different functions when the same option occurs, but the trade-offs are a bit strange in terms of compatibility.  TL;DR is that we define an interface to accept as options instead of functions, and then structs can implement multiple different interfaces.

The downside is that the options functions no

[2019-04-08 17:22] DirectXMan12 commented on #388
/kind feature
/priority backlog

[2019-04-08 17:42] DirectXMan12 commented on #356
Basically:

Start the manager everywhere.  For most (I'd hazard all, but you never know) you want the webhook to be active on *every* replica (webhooks are almost always stateless), but you want the controllers to only be active on the leader replica.

[2019-04-08 17:44] DirectXMan12 commented on #336
Set MetricsListenAddress to `0` on the mnnager, and then just pass the desired actual listen address directly to the runnable.

[2019-04-08 17:47] DirectXMan12 commented on #387
/kind feature

We do have a bug to track health and liveness support, it was just not quite titled correctly.  I'm going to close this as a duplicate.  Please weigh in on the other bug: https://github.com/kubernetes-sigs/controller-runtime/issues/297

[2019-04-08 17:47] #387 closed

[2019-04-10 16:35] vincepri opened #390 "Webhook server should reload certs on change"
Opening this issue to track [this TODO](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/server.go#L135). Currently the certificates are only loaded on server creation, there should be some logic to watch the directory and update the tls configuration appropriately.

[2019-04-10 16:35] vincepri commented on #390
/kind feature

[2019-04-10 17:59] anfernee opened #391 "APIServer complains about invalid webhook cert which is autogened by controller-runtime"
[code]

[code]

The valid cert should contain the missing part.

[2019-04-10 18:00] anfernee commented on #391
/kind bug

[2019-04-11 10:10] Tehsmash opened #392 "Reconcile loops using RequeueAfter never reset their failure count"
Controllers calling reconcile loops that stabilise by calling `return result.Result{RequeueAfter: resyncPeriod}, nil` to periodically re-run reconciliation never call `c.Queue.Forget` to clear the workqueue failure count for a particular request.

As the Failure count is never cleared this count builds up over the lifetime of the CR and quickly results in the back-off timeout reaching its maximum

[2019-04-11 18:31] DirectXMan12 commented on #392
/kind feature
/priority important-soon

[2019-04-11 18:32] DirectXMan12 commented on #392
the current behavior is *highly* non-intuitive, so we might want to just straight-up change it with a fallback for the current behavior in a new field

cc @droot

[2019-04-11 18:32] DirectXMan12 commented on #392
(I'd almost mark it as a bug)

[2019-04-11 18:35] DirectXMan12 commented on #391
cc @mengqiy we're removing the generation in v0.2.0, but we may want to consider doing a fix to the release-0.1 branch

I suspect we don't generate for IP SANs because you'll be behind a kube service.

[2019-04-11 19:39] mengqiy commented on #391
I have talked to @anfernee in person this week.
He have provided me a fix https://github.com/anfernee/k8s-ipam-webhook/commit/b5b7b0b923643e2ea12a013c3bce8918a57f6c46, we can accept it in `release-0.1` branch, since that branch will stay for a while.

[2019-04-11 19:50] DirectXMan12 commented on #390
/priority import-longterm

[2019-04-11 20:11] DirectXMan12 commented on #390
/good-first-issue

[2019-04-11 21:07] droot commented on #392
I agree "requeueAfter" should not result in incrementing the failureCount. This should be marked as bug.

Thanks @Tehsmash for the detailed description, it helped in understanding the issue.

[2019-04-11 22:19] yuzisun opened #394 "Test environment should support passing crd file path in additional to directories"
When building a controller which watches another CRD we need to add CRD file to the test environment, those CRD files usually resides in your project's vendor directory. However test environment struct only supports directories not file path, if we point to the vendor directory which contains files other than crd files, the tests would fail.
[code]

[2019-04-12 22:37] alaypatel07 commented on #392
@droot @DirectXMan12 The controller can check if err is nil and issue a `c.Queue.Forget(obj)` [here](https://github.com/kubernetes-sigs/controller-runtime/blob/9802d0bc13ec97e45b27dab67ec7138a6d062d9e/pkg/internal/controller/controller.go#L218-L217). That would solve the problem. Thoughts?

Working on the PR if no one is onto it. Thanks

[2019-04-13 16:50] GrigoriyMikhalkin commented on #369
Hi, i would like to take this issue, seems like no one is working on it

[2019-04-17 00:01] negz opened #399 "Why doesn't controller-runtime allow access to the old object on updates?"
I've been using kubebuilder and controller-runtime for a little while, but just hit my first case in which it might be useful to have access to the old version of an object during an update. I know `cache.EventHandler`'s `OnUpdate` hook is passed both the old and new versions of the updated object. controller-runtime adds a few layers of abstraction such that we just see two `reconcile.Request`s

[2019-04-19 21:44] jonsabo opened #401 "Dependencies out of sync"
The docs indicate that the k8s dependencies of controller-runtime and controller-tools will be the same (though granted it does not mention across what versions, I am assuming the same versions of each should have the same deps):
https://book.kubebuilder.io/beyond_basics/dependencies.html

But it looks like they fell out of sync with the v0.1.10 releases
https://github.com/kubernetes-sigs/controll

[2019-04-22 14:18] deads2k commented on #362
Cross registration is a desired feature.  It is the simplest way to transition a mistaken name and to allow multiple potential mappings.  Consider the migration case, the meta case, or the old apps case.  Being able to cross-register is a feature and not an undesireable one.

[2019-04-22 16:26] jakesjohn opened #403 "Update api call returns error frequently"
Referring to https://github.com/kubernetes-sigs/controller-runtime/issues/245, Is it still the case that "Create/Update/Delete operations are performed using non-caching clients and return before any caches are likely to have seen the changes." ?

In my reconciler function, workflow is : Get instance call ->modify instance->Update instance call.
I am seeing similar problem where  Update  in the re

[2019-04-23 01:09] smarterclayton commented on #362
As the person who put a lot of these comments in, they're not about cross registration of types moving groups, they're about cross registration of meta types being registered in all groups.  Not the same use case

No, we *never* intended that in Kube.  The core runtime code explicitly and completely decouples resources from kinds.  Only discovery is allowed to make up rules about resource to Kind

[2019-04-23 01:10] smarterclayton commented on #362
If it's relied on in k/k, that's broken code.

[2019-04-23 01:14] smarterclayton commented on #362
Here's the relevant description in runtime/scheme.go

// identifier for a particular representation of that Type (typically backwards
// compatible), a Kind is the unique name for that Type within the Version, and a
// Group identifies a set of Versions, Kinds, and Types that evolve over time. An
// Unversioned Type is one that is not yet formally bound to a type and is promised
// to be backwards

[2019-04-24 14:51] TenSt opened #406 "BUG: client.UpdateStatus.Update() func clears Kind of the local object"
**Description**
Using client.UpdateStatus.Update() func clears Kind of the local object.

**How to reproduce**
I've encountered this during my work with operator SDK. So repro steps use it too:
1. Get instance using:
`r.client.Get(context.TODO(), request.NamespacedName, instance)`
2. Update status of the CR:
`instance.Status.Result = "success"`
3. Run client.Status().Update() func to update object

[2019-04-24 22:50] liggitt opened #407 "Admission response codes are incorrect"
https://github.com/kubernetes-sigs/controller-runtime/blob/856708d78b479900b9d17f98f7f59a2f074fbc35/pkg/webhook/admission/webhook.go#L72 is setting status code to 200 even when the response is rejecting a request.

The review.response.status.code should be >= 400 if response.Allowed == false (if response.Allowed == true, the review.response.status is ignored)

xref https://github.com/kubernetes/ku

[2019-04-24 22:51] liggitt commented on #407
cc @maxsmythe @DirectXMan12

[2019-04-25 15:30] lmunro-at-shopify opened #408 "HTTP2 broken in webhook server in v0.2.0-alpha.0"
The rework of the certificate generation seems to have removed support for HTTP2 as a side effect.

We now call `http.Server.Serve` instead of the old `ListenAndServeTLS`:
https://github.com/kubernetes-sigs/controller-runtime/blob/856708d78b479900b9d17f98f7f59a2f074fbc35/pkg/webhook/server.go#L166

`Serve` does not default to http2. It must be configured manually in the listener:
[code]

It should

[2019-04-28 03:19] vincepri commented on #275
/remove-lifecycle stale

[2019-04-29 12:40] cizixs commented on #343
In my case, I can not get the CRD resource, but list returns correct values.

[code]

Dees cache-reading can be relevant?

[2019-04-29 12:53] JoelSpeed commented on #284
/remove-lifecycle stale

PR #389 is open to fix this issue

[2019-05-02 20:48] #408 closed

[2019-05-03 05:38] camilamacedo86 opened #413 "Request of a new release with the commit fc804a4 (Adding multinamespaced cache)"
Hi folks,

We have the need to pass a List of Namespaces when a manager is created as it was attended in the commit  https://github.com/kubernetes-sigs/controller-runtime/commit/fc804a411c06919561edbcb0453601c436556613. Our need is the same of this test [here](https://github.com/kubernetes-sigs/controller-runtime/blob/68ae79ea094aab567d78d7d8596accac2dc27fd0/pkg/manager/example_test.go#L59). See t

[2019-05-04 08:06] DirectXMan12 commented on #399
Yes, because it generally encourages writing subtle bugs into your controller.  Namely, you should be assuming any event could come from any source (e.g. it could be a sub-object's event, or a genericevent, etc), and should be reading *all* state from the current state of the world.

Yeah, validating webhooks are the way to go here.

I'm closing this issue, since I believe I've answered your quest

[2019-05-04 08:06] #399 closed

[2019-05-04 08:07] DirectXMan12 commented on #407
/kind bug
/priority critical-urgent

@mengqiy

[2019-05-04 08:14] DirectXMan12 commented on #413
The referenced commit is a breaking change (as per the :warning: icon in front of it), so it *has* to be in a "major" version.  Hypothetically, we could've done just that in v0.2.0, and then did everything else in v0.3.0, but that ship has sailed a bit with the alpha.

What specific issues are you encountering?  The v0.2.0-alpha.0 should work fine against Kube 1.11 clusters, so I'd love to know wh

[2019-05-04 10:04] camilamacedo86 commented on #413
HI @DirectXMan12,

Really thank you for your reply. It will be really wonderful if you be able to release a new version based on the latest release with just this commit because it shows the only way to solve properly our need.

We need to make sure that the "operator will only watch a List of namespaces" for further detail as the code and versions used you can check it here: https://github.com/op

[2019-05-04 22:21] DirectXMan12 commented on #406
/kind bug
/priority important-longterm

[2019-05-05 13:34] camilamacedo86 commented on #413
Hi @DirectXMan12,

We could solve the break changes here : https://github.com/operator-framework/operator-sdk/pull/1388 .
Now, we are just waiting for you to release the stable version of v0.2.0-alpha.0 for we are able to move forward. Really tks.

[2019-05-06 19:26] GrigoriyMikhalkin commented on #297
Hi, i would like to try to implement this.

[2019-05-06 21:00] mengqiy commented on #407
https://github.com/kubernetes-sigs/controller-runtime/pull/400 is the fix and waiting to be merged.

[2019-05-07 20:02] DirectXMan12 opened #415 "unstructured client should key off of the unstructured interface"
If we key off of the unstructured interface instead of the type, we can allow for alternate internal unstructured representations, and the underlying machinery works fine with the interface.

[2019-05-08 21:38] DirectXMan12 opened #416 "release notes generation breaks on major version jump"
I've got a fix, just need to push it.

[2019-05-08 22:48] DirectXMan12 opened #417 "Requeue Overhaul Tracking"
We need to rework our requeue handling.  Namely:

- [x] RequeueAfter should never consider backoff (#396), unless combined with an error
- [ ] Requeue should maybe have an escape hatch to ignore backoff, but you probably want backoff
- [ ] Requeue-on-error should probably ignore "non-transient" errors (e.g. notfound from cache), but determining non-transience is tricky (e.g. notfound is always non

[2019-05-10 00:45] #369 closed

[2019-05-10 04:40] rajathagasthya opened #420 "envtest.Environment should cleanup CRDs on Stop()"
`envtest.Environment` does not cleanup CRDs when `Stop()` is called. When you use an `Environment` with `UseExistingCluster = true`, this leaves CRDs hanging around in the cluster. So the second time you run `go test`, it will fail because "can't create CRDs which already exist". So it would be really useful if `Stop()` also deleted the CRDs by default irrespective of whether we use existing clust

[2019-05-10 20:32] #392 closed

[2019-05-12 12:45] GrigoriyMikhalkin commented on #406
Bug is caused by https://github.com/kubernetes/apimachinery/issues/19

[2019-05-14 09:31] bison commented on #390
Would love to get some feedback on #421 if anyone has some time. Seems to work for me.

[2019-05-14 20:10] adracus commented on #377
Related: Comment in #357 + Fix in #428

[2019-05-14 21:00] ichekrygin commented on #403
Hi, I am seeing a similar issue.
Update increments the object's `ResourceVersion`, while subsequent reconcile loop reads the  "stale" value:
[code]

[2019-05-14 23:00] mengqiy opened #429 "Bug in manager_test"
/kind bug

https://github.com/kubernetes-sigs/controller-runtime/blob/d6324a464299673cd0f8edd456f7a9f62fd22c90/pkg/manager/manager_test.go#L254-L286

This piece of code should expect an error in the end but actually it's not.

This test case should not panic, it should not use `GinkgoRecover`.

Probably there is a bug in the test.

[2019-05-14 23:05] mengqiy commented on #429
cc: @droot @DirectXMan12

[2019-05-15 02:05] raffaelespazzoli opened #430 "self-generated secret for webhook does not seem to generate a compliant tls secret"
self-generated webhook secrets do not seem to follow the standard rules for tls secrets. Which to my undertsanding are:
1. the secret must be of type `kubernetes.io/tls`
2. the keys should be `tls.key`, `tls.crt`, `ca.crt`. ca.crt should contain the entire ca_bundle, so there should not be a need for a fourth file.
From what I see the code does not set the type of the secret and generates the foll

[2019-05-15 13:58] jrthrawny commented on #172
Is this issue looking for help? I have a need for doing the client supporting subresources such as `get pods/log`

[2019-05-15 18:30] jcrossley3 commented on #406
I'm just now hitting this, too. Any thoughts on a workaround?

[2019-05-15 19:43] GrigoriyMikhalkin commented on #406
@jcrossley3 Not sure, but it seems that you have to write your own implementation of [Client interface](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/interfaces.go#L97) for that. At least i didn't found any other way to pass your own decoder to [client.New](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client.go#L53) function, for now.

[2019-05-15 20:47] jcrossley3 commented on #406
@DirectXMan12 is this too naive of a fix? https://gist.github.com/jcrossley3/16621ee70f21c095c11be1262ad04ee2

If not, I can PR.

[2019-05-15 20:59] mengqiy opened #433 "Use :ghost: to not show a commit message"
Use :ghost: to prefix the commit message if we don't want it to show up in the release note.

[2019-05-15 23:07] #284 closed

[2019-05-16 21:21] camilamacedo86 commented on #413
Hi @DirectXMan12,

I am closing this PR since we are waiting for the final release. Really tks for your explanation.

[2019-05-16 21:21] #413 closed

[2019-05-17 09:16] #357 closed

[2019-05-18 18:34] mrIncompetent opened #436 "Queue metrics broken when using the controller builder"
When starting a controller the following messages get logged:
[code]

Used controller-runtime version:
[code]

Code:
[code]

The problematic code: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/build.go#L234
[code]

This leads to invalid metric names like `node-application_depth`.

Potential solutions IMHO:
- Remove the `-application` suffix
- Add a `Named(name strin

[2019-05-18 18:37] mrIncompetent commented on #436
cc @DirectXMan12

[2019-05-19 00:00] abursavich commented on #436
I ran into this issue too. For added clarity, the immediate problem is the dash.

This is the regex for valid metric names: [`^[a-zA-Z_:][a-zA-Z0-9_:]*$`](https://godoc.org/github.com/prometheus/common/model#MetricNameRE)

If it were up to me, i would return no-op implementations for the legacy metrics... Since their names are broken, I'm assuming there's no stability guarantee covering them, and

[2019-05-19 06:25] adohe commented on #436
The controller name is used in tracing, logging, eventing and monitoring. As what @abursavich mentioned, using controller name as metric names(monitoring) should match prometheus metric name regex, but in other cases, no such restriction. Just as what KCM does, the queue metrics could just api kind as name, and the `-application` suffix could used in other cases.

[2019-05-19 16:29] abursavich commented on #436
Having read more of the code, it looks like all of the workqueue metrics were "deprecated" and replaced with new metrics, however only a few of them have material changes:

- Latency changed from a Summary in microseconds to a Histogram in seconds.
- WorkDuration changed from a Summary in microseconds to a Histogram in seconds.
- LongestRunningProcessor changed from microseconds to seconds.

AFAIC

[2019-05-19 17:47] abursavich commented on #436
Well... It looks like the initial workqueue metrics in controller-runtime used kubernetes/client-go v1.13, but was half implemented in terms of v1.14:
- It used Histograms instead of Summaries for Latency and WorkDuration and used `seconds` in the names, even though the values were still being recorded in microseconds.
- LongestRunningProcessor can be deprecated successfully as it was named with `

[2019-05-20 21:28] #390 closed

[2019-05-21 06:15] GrigoriyMikhalkin commented on #364
Hi, i would like to try to implement this.

[2019-05-21 21:43] mengqiy commented on #356
Closing by #424

[2019-05-21 21:43] #356 closed

[2019-05-21 22:32] enisoc opened #440 "controller_runtime_reconcile_time_seconds includes queue wait time"
This metric currently includes the time spent waiting for an item to be available in the queue (while `c.Queue.Get()` is blocking):

https://github.com/kubernetes-sigs/controller-runtime/blob/12d98582e72927b6cd0123e2b4e819f9341ce62c/pkg/internal/controller/controller.go#L176-L182

It would be more useful if it measured only the time spent doing reconciliation after an item is returned by the queue

[2019-05-21 23:02] abhijitherekar commented on #329
hi @gerred if you don't mind, please can you reference the PR which fixed this issue.

Thanks.

[2019-05-22 16:32] vhosakot commented on #90
I saw the same error when I ran `make test` in the workspace created using kubebuiler due to missing `/usr/local/kubebuilder/bin/etcd` file on the host:

[code]

The following steps resolved the error for me and then `make test` worked fine:

[code]

[2019-05-22 20:25] droot commented on #440
Agree. Labeling this as a bug.

[2019-05-24 19:04] alvaroaleman opened #442 "log/zap: Allow configuring formatter independently of `debug` option"
Right now, the formatter/encoder of the `log/zap` package is inferred from the `debug` option, if its enabled a console encoder is used, otherwise a json encoder.  This does not always make sense, e.G. sometimes debug log may help in production, but that should not result in unstructured logging.

It would be awesome, if another option was added to [`RawLoggerTo`](https://github.com/kubernetes-sig

[2019-05-25 17:35] alvaroaleman opened #445 "Remove defaulting for leader election ID"
Currently, the leader election ID defaults to `controller-leader-election-helper`.  Since it is convenient to not configure anything for the leader election ID, it will crash whenever two controller-runtime based controllers run in the same namespace or have the same namespace configured for the leader election (e.G. `kube-system`).

This is especially bad since there is no logging about the lock

[2019-05-25 17:57] coderanger commented on #445
#444 gives us another option here, since we could use the controller name in the default value.

[2019-05-25 18:02] alvaroaleman commented on #445
#444 is a nice change, but when ppl use a kubebuilder-generated controller, there is a decent chance,two controllers will have the same name.

Regardless of that thought, the leader election package itself should not have a defaulting, because that is very easy to get wrong and silently cause issues later on.

[2019-05-25 18:11] coderanger commented on #445
Hmm, would have to double check but I would think the name string would be set based on the controller name you scaffolded. So conflicts seem unlikely other than maybe people following the tutorial?

[2019-05-25 18:52] alvaroaleman commented on #445
IIRC, the controller name is based on the resource you care for, so there is a somewhat decent chance there will be e.G. multiple `persistent-volume-controllers`.

I think for the scaffolding this is not a problem at all, because it could just generate some random string as suffix, this is mainly an issue for ppl who directly use controller-runtime.

[2019-05-27 10:17] dulltz opened #450 "It seems that controller-runtime closes its channel twice"
When I closed a controller, `panic: close of closed channel` is returned occasionally.
It seems that controller-runtime closes its channel twice.
Is it a bug of controller-runtime ?

[code]

[2019-05-27 11:36] LiliC commented on #210
/remove-lifecycle rotten

Personally, still think we should move away from it :)

[2019-05-27 12:29] adohe commented on #450
@dulltz IIUC no need to close controller manually. What's ur case that need to close a controller?

[2019-05-27 17:05] ymmt2005 commented on #450
@adohe
We test controller-manager with different configurations.
In each test case, a controller-manager starts and stops.

Unfortunately, we got panics sometimes as @dulltz described.
This is an instance of such failure: https://circleci.com/gh/cybozu-go/contour-plus/53

Our test code is:
https://github.com/cybozu-go/contour-plus/blob/afd32e07a100bb55b5f20f211ad9e41f04446101/controllers/ingressro

[2019-05-28 04:51] adohe commented on #450
@dulltz @ymmt2005 I take a deep look into this problem, imho the controller-runtime just ShutDown internal queue at once, potential cause could be add same controller to manager twice, thus the same work queue could be shutdown twice.

[2019-05-28 06:43] dulltz commented on #450
@adohe
We noticed that our test codes' setup procedure was wrong: the reconciler was initialized after the manager started.
I fixed the ordering, then it seems that our test code is stabilized.

Thank you for taking your time responding to my issue.

[2019-05-28 07:18] adohe commented on #450
but I did notice this issue when run CI, as u can see here: https://travis-ci.org/kubernetes-sigs/controller-runtime/builds/537689015?utm_source=github_status&utm_medium=notification, seems add controller after manager started will run into this issue.

[2019-05-28 10:10] kron4eg commented on #321
/remove-lifecycle stale

[2019-05-28 15:34] jiachengxu opened #451 "Dependency(client) injection in webhook"
Hi folks,
Are there any smart ways to inject the client into the webhooks of CRDs? Because in my case, I also want to do some lookups by using the `client.Get`  in the `ValidatingCreate`.
Thanks,
Jiacheng

[2019-05-28 15:35] jiachengxu commented on #451
ping @thetechnick

[2019-05-29 06:56] adohe commented on #451
@jiachengxu u may reference [this example](https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/validatingwebhook.go),  controller-runtime will inject client into ur webhook automatically.

[2019-05-29 07:15] jiachengxu commented on #451
Hi @adohe, thanks for your useful reference!
Actually, we are trying to inject the client into the webhooks of **CRDs**, and we are following this [example](https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/crd/pkg/resource.go), any ideas about how to inject client into webhook in this case?
Thanks,
Jiacheng

[2019-05-29 09:28] gaocegege opened #452 "[feature request] Support Pod expansion in Client"
Hi I am one of the maintainers @kubeflow

We are using kubebuilder to implement some CRDs for Machine Learning/Deep Learning workloads. We meet some problems with the client in controller-runtime.

We need to get the logs of pods using the client, But It seems that controller-runtime client has a higher level abstraction on top of Kubernetes client. Do we have a plan to support expansion (e.g. htt

[2019-05-29 12:40] jiachengxu commented on #451
Hi @adohe,
Thanks for your information, actually we tried to re-implement our webhooks as you mentioned, and it works! Thanks for your help :)
Thanks,
Jiacheng

[2019-05-29 12:40] #451 closed

[2019-05-29 19:52] vincepri commented on #275
@DirectXMan12 Closing this now that conversion webhook support has been merged 🎉

/close

[2019-05-29 19:52] #275 closed

[2019-05-29 20:36] camilamacedo86 opened #454 "All was working until the v.0.2.0-alpha.1 of the controller-runtime be released. From v0.2.0-alpha.0 to v0.2.0-alpha.1 ."
## WHAT:

[code]

Place: https://github.com/operator-framework/operator-sdk/pull/1388

[2019-05-29 21:22] DirectXMan12 opened #455 "auto-owner-reference setter"
We might want to consider a mode or something that automatically sets owner references.  It's not clear exactly what that looks like (client option?  wrapping client?), but it's something to think about.

/kind feature

[2019-05-30 01:02] mengqiy commented on #445
I agree that doing defaulting in leader election in controller-runtime can be error-prone.

BTW, we are trying to use leader election with deployment in kubebuilder by default. We are using downward API to use the same namespace as the pod.
https://github.com/kubernetes-sigs/kubebuilder/pull/727/files#diff-f66e269e20dbb6060baad28302f5a3a3R59

[2019-05-30 01:03] DirectXMan12 opened #456 "Make fuzzing easy"
We should make fuzzing tests easy to run for conversion.

See also kubernetes-sigs/kubebuilder#725, which mentions [kubernetes/kubernetes#75689](https://github.com/kubernetes/kubernetes/pull/75689)

[2019-05-30 01:03] DirectXMan12 commented on #456
/kind feature
/help-wanted

[2019-05-30 19:36] #440 closed

[2019-05-31 07:18] adohe commented on #407
/close

[2019-05-31 07:18] #407 closed

[2019-05-31 07:26] adohe commented on #370
/close

[2019-05-31 07:26] #370 closed

[2019-05-31 08:31] adohe commented on #377
/close

[2019-05-31 21:02] DirectXMan12 opened #460 "use leader election API if available"
We should use the new leader election api when available.  We can check if it's around via discovery, and then use it if available, falling back to configmaps if not

/kind feature
/priority backlog

[2019-05-31 21:18] DirectXMan12 commented on #445
So, at the very least we should log something.  That's easy to do, and you want that anyway.

I think controller name is probably sane here -- the pattern we scaffold out in KB is a namespace per manager, which provides some amount of defense against this, plus name per controller provides further defense.  Furthermore, leader election isn't on by default.

Thus, to have issues, you have to either

[2019-05-31 21:37] DirectXMan12 opened #461 "Make UseExistingCluster a pointer?"
#449 allows setting `UseExistingCluster` via an env var, but as discussed in #222, we probably want a pointer.  Without the pointer, we don't have a way to explicitly opt-out in the code (we really want a 3-state enum: true, false, and UseEnvVar).

[2019-05-31 21:43] DirectXMan12 commented on #277
/remove-lifecycle rotten

[2019-05-31 21:45] DirectXMan12 commented on #454
looks like a dependency issue.  Are you using dep or modules?  In either case, can you paste your dependency list (`Gopkg.toml` in the case of dep, or `go.mod` in the case of modules)

[2019-05-31 21:54] DirectXMan12 commented on #342
/remove-lifecycle stale

[2019-05-31 21:55] DirectXMan12 commented on #342
will be fixed by #453

[2019-05-31 21:55] DirectXMan12 commented on #342
or by #457

[2019-05-31 21:57] DirectXMan12 commented on #377
Not quite actually fixed -- the helper helps, but I'd like to figure out something automatic

[2019-05-31 21:58] DirectXMan12 commented on #452
/kind feature

[2019-05-31 22:00] DirectXMan12 commented on #452
We had some plans for supporting subresources, but haven't gotten around to them yet.  If you put forth a proposed design, I'd be happy to take a look.  We'd have to add support for the wonky streaming that logs uses, since right now the client just deals with CRUD.

[2019-05-31 22:00] DirectXMan12 commented on #452
/priority backlog

[2019-05-31 22:00] DirectXMan12 commented on #321
/help-wanted

[2019-06-01 01:15] chrisplo commented on #321
I ran into a similar issue when starting a controller with a "Kind" Source that I know was installed after the Manager client was created, thought it was going to be a race condition since it seems to be pulling from cache: (controller-runtime/pkg/source/source.go: Start):

[2019-06-01 01:26] adohe commented on #377
sure I will give a try to find something automatic.

[2019-06-01 09:47] camilamacedo86 commented on #454
H @DirectXMan12,

I thought the same. However, after checking the changes made between both releases shows that just the kube was changed and it was applied as well.  See here the deps: https://github.com/operator-framework/operator-sdk/pull/1388/files#diff-836546cc53507f6b2d581088903b1785

Also, note that the issues are explicit in the "vendor/sigs.k8s.io/controller-runtime/pkg/"

[2019-06-03 04:47] adohe commented on #460
here leader election api means coordination.k8s.io api? @DirectXMan12

[2019-06-03 09:55] RoeeShlomo opened #464 "Consider changing controllerutil#CreateOrUpdate to use equality.Semantic.DeepEqual instead of reflect.DeepEqual"
I tried to use CreateOrUpdate with a NetworkPolicy object and it kept resulting in OperationResultUpdated even though nothing has changed. It seems like using reflect.DeepEqual sometimes gives false positives.

I have created a copy of CreateOrUpdate that uses equality.Semantic.DeepEqual from the apimachinery package (`Semantic can do semantic deep equality checks for api objects`). It seems to re

[2019-06-03 23:35] DirectXMan12 commented on #436
I fixed the name bits in #458 so that we don't have dashes in the name.  As for the other stuff, yeah, a PR would be awesome (will take a look at the linked PR -- going through a large notification backlog post kubecon)

[2019-06-03 23:51] DirectXMan12 commented on #41
/remove-lifecycle rotten

IIRC, this is still a problem for the unstructured client

[2019-06-03 23:51] DirectXMan12 commented on #41
/kind bug
/priority important-longterm

[2019-06-03 23:53] DirectXMan12 commented on #67
/remove-lifecycle rotten
/kind bug
/priority backlog

[2019-06-03 23:54] DirectXMan12 commented on #70
/remove-lifecycle rotten
/kind feature
/priority important-longterm

[2019-06-03 23:54] DirectXMan12 commented on #442
/kind feature
/priority backlog
/help-wanted

[2019-06-03 23:54] DirectXMan12 commented on #442
/help

[2019-06-03 23:55] DirectXMan12 commented on #92
need to check how go modules handle this
/remove-lifecycle rotten

[2019-06-03 23:56] DirectXMan12 commented on #72
closing for the moment.  as outlined about, I don't think we actually want to support this

[2019-06-03 23:56] #72 closed

[2019-06-03 23:57] DirectXMan12 commented on #97
done a while ago

[2019-06-03 23:57] #97 closed

[2019-06-03 23:57] DirectXMan12 commented on #97
whoops, misinterpreted title.  As outlined above, I don't think this is something we want to support ATM

[2019-06-03 23:58] DirectXMan12 commented on #138
While I'd accept a PR to contribute this, for various reasons outlined before, fake client code is not a priority, since we generally try to discourage its use.

[2019-06-03 23:58] #138 closed

[2019-06-03 23:58] DirectXMan12 commented on #33
fixed a while ago

[2019-06-03 23:58] #33 closed

[2019-06-03 23:59] DirectXMan12 commented on #162
haven't seen this in a while, closing for now.

[2019-06-03 23:59] #162 closed

[2019-06-04 00:02] DirectXMan12 commented on #167
/remove-lifecycle rotten

[2019-06-04 00:03] DirectXMan12 commented on #167
/good-first-issue
/kind feature
/priority backlog

[2019-06-04 00:05] DirectXMan12 commented on #194
/remove-lifecycle rotten
/priority backlog
/help

[2019-06-04 00:05] DirectXMan12 commented on #201
/remove-lifecycle rotten

still waiting on klog for this, IIRC

[2019-06-04 00:06] DirectXMan12 commented on #207
/remove-lifecycle rotten

cc @luxas re componentconfig

[2019-06-04 00:06] DirectXMan12 commented on #208
/remove-lifecycle rotten

[2019-06-04 00:06] DirectXMan12 commented on #209
/remove-lifecycle rotten

[2019-06-04 00:08] DirectXMan12 commented on #214
I think this can be closed -- the sub-issue was fixed, and the root issue here is not possible with owner refs.

[2019-06-04 00:09] DirectXMan12 commented on #195
closing since we've been waiting on more info for a while now

[2019-06-04 00:09] #195 closed

[2019-06-04 00:10] DirectXMan12 commented on #231
closing as per the current state of versioning.md

[2019-06-04 00:10] #231 closed

[2019-06-04 00:10] DirectXMan12 commented on #236
closing as per above answer

[2019-06-04 00:10] #236 closed

[2019-06-04 00:14] DirectXMan12 commented on #210
yeah, I think this still bears further discussion.  Likely what'll happen is that we'll eagerly go the direction that k/k goes -- if it looks like k/k is switching to opencensus/opentelemetry, we'll head in that direction eagerly (I expect we'll need to wait for opentelemetry's reference Go client in september or so, unless the opencensus --> opentelemetry switch is easy).  At any rate, I expect w

[2019-06-04 00:14] DirectXMan12 commented on #261
no response, closing

[2019-06-04 00:14] #261 closed

[2019-06-04 00:14] DirectXMan12 commented on #262
/remove-lifecycle stale

[2019-06-04 00:16] DirectXMan12 commented on #243
closing due to no response

[2019-06-04 00:16] #243 closed

[2019-06-04 00:16] DirectXMan12 commented on #258
/remove-lifecycle stale

looks like kube has fixed this upstream, so we can follow suit

/good-first-issue

[2019-06-04 00:17] DirectXMan12 commented on #335
fixed recently, IIRC

[2019-06-04 00:17] #335 closed

[2019-06-04 00:17] DirectXMan12 commented on #168
closing as per above comment

[2019-06-04 00:17] #168 closed

[2019-06-04 00:19] DirectXMan12 commented on #265
/remove-lifecycle rotten

[2019-06-04 00:19] DirectXMan12 commented on #180
closing this master issue in favor of the sub-issues

[2019-06-04 00:19] #180 closed

[2019-06-04 00:20] DirectXMan12 commented on #246
I believe we support this now, closing.

[2019-06-04 00:20] #246 closed

[2019-06-04 00:21] DirectXMan12 commented on #450
That looks to be a green test run -- did the panic not cause a test failure

[2019-06-04 00:22] DirectXMan12 commented on #464
yeah, can you submit a PR to fix this?

[2019-06-04 00:22] DirectXMan12 commented on #464
/kind bug
/priority important-longterm

[2019-06-04 00:22] DirectXMan12 commented on #460
yeah

[2019-06-04 00:22] DirectXMan12 commented on #293
closing as per #311

[2019-06-04 00:22] #293 closed

[2019-06-04 00:36] DirectXMan12 commented on #244
/remove-lifecycle stale

[2019-06-04 00:41] DirectXMan12 commented on #406
I think that actually looks good.  I'd have to double check where we do it for other things, but that's probably fine.

[2019-06-04 00:45] DirectXMan12 commented on #172
yeah.  In general, anything in CR that doesn't have someone working on it is open for help -- I tend to apply the help-wanted tag a bit less in cases where the design might be a bit thorny or that might require serious apimachinery spelunking, but if you're up for some back and forth on design, I'm happy to have someone working on it :-)

[2019-06-04 00:48] DirectXMan12 commented on #430
we've removed self-generating certificates in v0.2.0, so this is less of an issue (and changing it might be a breaking change).  I'm going to close this, but if you have an argument for why it wouldn't be a breaking change to the 0.1.x branch, I'd be happy to review a PR there.

[2019-06-04 00:48] #430 closed

[2019-06-04 00:50] DirectXMan12 commented on #429
You almost always want to use GinkgoRecover when spawing goroutines (which a runnable is), and just about anything *can* panic (yay side effects not captured by the type system).  In this case, for instance, if that channel is somehow nil, the test could panic.

[2019-06-04 00:54] DirectXMan12 commented on #403
Hmm... what's triggering the reconcile where you read stale data?  I wouldn't expect stale reads to be super common unless two controllers are reconciling the same resource based on the exact conditions.

One thing to check is what you're doing on an out-of-date error.  If you're returning that error, you're going to see those as you try to back off.  What you really want is to return a nil error

[2019-06-04 00:54] DirectXMan12 commented on #403
/triage support

[2019-06-04 00:57] DirectXMan12 commented on #420
/kind feature

[2019-06-04 00:59] DirectXMan12 commented on #343
you shouldn't be reading from the cache in a test -- don't use `mgr.GetClient` in your test methods.  Instead, use `client.New` to get a direct client.

[2019-06-04 01:02] DirectXMan12 commented on #401
We've now decoupled this due to moving to modules and installing controller-tools as a binary/using `go get` with modules, so I think this can be closed.

[2019-06-04 01:02] #401 closed

[2019-06-04 01:03] DirectXMan12 commented on #394
/kind bug
/priority important-longterm
/good-first-issue

I'd welcome a PR to fix this, so that we only try and load CRDs (I seem to recall reading a similar PR recently, so double-check to see if it's still an issue)

[2019-06-04 02:20] DirectXMan12 commented on #362
Type aliases seem just as simple, but I could be misunderstanding what you're saying.

We don't.  We use the primary RESTMapping, same as `kubectl xyz -f` does.  Both rely on the principal "any given GVK that's not a subresource that you can actually perform CRUD on has a primary restmapping that's fine to always use".  If that weren't the case, a *lot* of kubectl stuff would break, AFAICT.

Right

[2019-06-04 08:12] alvaroaleman commented on #445
I would think issues arise here mainly for ppl that use controller-runtime but do not use kubebuilder. This probably raises the bigger philosophical question if its fine to do changes in controller-runtime that are are not required for ppl that use kubebuilder for scaffolding.

A combination of both actually and the fact that the "controller-name for leadereletion pull is not meged": We have a con

[2019-06-04 20:49] hpandeycodeit commented on #442
@alvaroaleman @DirectXMan12 made some changes to make this configurable. #467 Still WIP as I need to modify the LoggerTo from other places as well if we are looking to change it dynamically.

One question here, how are we deciding when to use console encoder and when not?

[2019-06-05 00:42] rajathagasthya commented on #350
/remove-lifecycle stale

Sorry, haven't had a chance to look at this. Will do shortly. Might need your guidance a bit @DirectXMan12

[2019-06-05 08:55] camilamacedo86 commented on #454
Closing since we confirm that the problem is with OLM which is not using ks8 1.14+

[2019-06-05 08:55] #454 closed

[2019-06-05 18:51] jcrossley3 commented on #406
I tried to write a failing test for it, but it seems it's not broken in whatever harness is used to run the tests. Did it accidentally get fixed? :)

[2019-06-05 21:16] zegelin commented on #464
Is `equality.Semantic.DeepEqual` enough to prevent false positives due to optional fields with default values?

For example, the following always results in `OperationResultUpdated`:

[code]

If I dump the server object and the locally generated object, I see the following are always different:

- `Spec.Ports[].Protocol` -- the client-side default is `""`, the server default is `"TCP"`
- `Spec.Por

[2019-06-05 22:26] DirectXMan12 commented on #464
No, deepequal won't prevent issues from defaulting, IIRC.  For that, you need some pretty complex logic.  Server-side apply provides that logic, otherwise you have to just be careful how you code things.

[2019-06-05 22:26] #433 closed

[2019-06-05 22:27] DirectXMan12 commented on #406
The test harness just uses the kube apiserver.  You can check the version used in hack/check-everything.sh.  It's 1.14.1 on CR master

[2019-06-05 22:33] DirectXMan12 commented on #350
ack, lmk if/when you need my guidance

[2019-06-05 22:33] DirectXMan12 commented on #305
/remove-lifecycle stale

[2019-06-05 22:35] DirectXMan12 commented on #171
/remove-lifecycle stale
/lifecycle freeze

[2019-06-05 22:35] DirectXMan12 commented on #317
/remove-lifecycle stale
/lifecycle freeze

[2019-06-05 22:36] DirectXMan12 commented on #222
done

[2019-06-05 22:36] #222 closed

[2019-06-05 22:36] DirectXMan12 commented on #276
/remove-lifecycle stale

[2019-06-05 22:36] #308 closed

[2019-06-05 22:37] DirectXMan12 commented on #442
By default, it was debug vs non-debug, but I think we need to start considering how we want to expose these options.

[2019-06-05 22:57] HenryXie1 opened #472 "kubebuilder v2 runtime error: invalid memory address or nil pointer dereference"
We follow https://book.kubebuilder.io/  using kubebuilder v2 to build a new sample "mycontab"
After we make install,  we run make run
it error out runtime error: invalid memory address or nil pointer dereference
kubernetes env: v.1.12.7

[code]

[2019-06-05 22:59] DirectXMan12 commented on #445
In general, I try to assume that people will use CR without KB, and make that easy.  The question mainly comes from when the two conflict :woman_shrugging:

I generally agree with that sentiment.  My main hesitance is that without a default, you now need to know how to name the leader election lock, even in the semi-common (as far as i'm aware) case of running in separate namespaces.  I'm not terr

[2019-06-06 00:11] #348 closed

[2019-06-06 00:13] DirectXMan12 commented on #472
please file this against the kubebuilder repo until we can determine what the underlying cause is, since it has to do with the example code

[2019-06-06 00:13] #472 closed

[2019-06-06 08:35] RoeeShlomo commented on #464
Server side apply is tracked in https://github.com/kubernetes-sigs/controller-runtime/issues/347.
Does it also allow to ensure that all unspecified fields are at their server defaults? Or would I need to know what the server defaults are anyway if my use cases require that unspecified fields are at their defaults?

Knative takes the approach of calling Update and then comparing the result from Get

[2019-06-06 23:07] DirectXMan12 commented on #464
Server-side apply works by tracking "ownership" of a field, so if you don't set a field, and you don't own that field, the server won't try to change anything.  It's only when you "own" a field that the server will change the value.  You take ownership of fields by setting them.  All of that is a long-winded way of saying that with server-side apply, you only have to care about the fields that you

[2019-06-07 13:48] abursavich opened #478 "Runnable added after manager started skips leader election and may run twice"
If a runnable is added after the manager has started, the runnable is unconditionally started. In the case that the runnable should wait for leader election, it will start early (without leadership) and then it will be started again when the manager wins election.

https://github.com/kubernetes-sigs/controller-runtime/pull/466#issuecomment-498816582

[2019-06-07 21:09] DirectXMan12 commented on #478
/kind bug
/priority critical-urgent

[2019-06-07 22:14] #436 closed

[2019-06-10 10:06] sbueringer opened #479 "Helper to fetch config using a particular kubeconfig context"
It would be nice if a `--context` flag would be supported (same semantics as in kubectl).

Use Case:
I'm developing locally on a ClusterAPI controller (which uses controller-runtime). It's kind of dangerous, if it uses whatever the current context is in my local kubeconfig. It would be nice to just "pin" the context via command-line flag.

I would like to open a PR, if this feature makes sense to

[2019-06-10 16:25] nstogner opened #480 "Multiple CRDs in single yaml file ignored by envtest.InstallCRDs()"
`envtest.InstallCRDs()` silently ignores all CRDs defined in a yaml file past the first definition.

- Documents in yaml file were seperated by `---`.
- `envtest.CRDInstallOptions.Paths` was used to specify directories containing the yaml files.

Suspect code (`pkg/envtest/crd.go`) in `func readCRDs(path string)` only unmarshals into a single struct:

[code]

[2019-06-10 16:51] nstogner opened #481 "envtest.Environment.Start() silently fails for missing CRD paths"
There is no way to specify `envtest.CRDInstallOptions.ErrorIfPathMissing = true` when calling `envtest.Environment.Start()`. As a result, silent failure in the case of missing CRD directories is the default and only behavior when using `.Start()`.

Workaround:

Call `envtest.InstallCRDs()` directly:

[code]

[2019-06-10 23:52] ekuefler opened #483 "Can't define Default method for kinds watched by multiple controllers"
My manager installs multiple controllers for the same kind. If I define a `Default()` method for that kind, I get an error on startup:

[code]

Presumably this is due to https://github.com/kubernetes-sigs/controller-runtime/blob/056a18adfb38c7cafac2aeefdda0b63c41c0919b/pkg/builder/build.go#L287, where the builder tries to register a new path in the manager every time a controller is created.

I ma

[2019-06-11 00:37] adohe commented on #480
I will take a look asap.

[2019-06-11 08:48] GrigoriyMikhalkin commented on #480
@nstogner
Looking at code snippet, i think you using older version of `controller-runtime`. Can you please confirm that?

Issue with multiple CRDs was fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/397

[2019-06-11 17:17] nstogner commented on #480
I was on v0.1.1, sorry for the oversight.

[2019-06-11 17:17] #480 closed

[2019-06-11 17:30] shawn-hurley commented on #455
I really like this idea.

We need to make sure that we do the correct thing and make sure that namespaced resources are not owners of cluster scoped resources. I think how we want to handle this scenario either error out or hide this complexity will determine the best design. For instance, if we tried to hide the complexity, then a wrapping client would make the most sense to me because everything

[2019-06-11 20:00] ekuefler opened #484 ""duplicate metrics collector registration attempted" spam at startup"
When I start my manager, I get a lot of lines like this:

[code]

I'm guessing this is because I'm registering several controllers for the same type and each one is trying to use the same metric name.

[2019-06-11 20:10] DirectXMan12 commented on #479
we're trying to avoid adding new flags (in fact, IMO, a library shouldn't register any flags).  That being said, I believe we currently respect the `KUBECONFIG` environment variable, so that should solve your usecase, I believe.

[2019-06-11 20:16] DirectXMan12 commented on #481
/kind feature
/priority backlog
/good-first-issue

This is probably pretty easy to add.  We should have that option.

[2019-06-11 20:16] DirectXMan12 commented on #359
Closing as per v0.2.0 removing generate anyway.

[2019-06-11 20:16] #359 closed

[2019-06-11 20:21] DirectXMan12 commented on #483
cc @mengqiy

/kind bug
/priority critical-urgent

this is definitely a bug.  If we've got multiple controllers for the same kind, we can't multi-register.

[2019-06-11 20:26] sbueringer commented on #479
Kind of, yes. Currently I'm storing multiple clusters in the same kubeconfig so the current context is used. Of course if the current context changes after a restart the controller uses that one.

But you're right it makes absolutely sense to not add flags as a library.

In my case it's okay. I just cannot use the sigs.k8s.io/controller-runtime/pkg/client/config.GetConfig() method but there are en

[2019-06-11 20:34] DirectXMan12 commented on #479
ah, sorry, triaging too fast and misread :woman_facepalming: .  We should add a method for getting the config with a given context -- that seems pretty reasonable.

[2019-06-11 20:34] DirectXMan12 commented on #479
/kind feature
/priority backlog

[2019-06-11 20:34] DirectXMan12 commented on #479
/help

[2019-06-11 20:36] DirectXMan12 commented on #484
I'd recommend using the `.Name()` method on builder if you have multiple controllers for the same type to given them different names.  If you still have issues after that, poke this issue and I'll reopen it.

[2019-06-11 20:36] #484 closed

[2019-06-11 20:45] sbueringer commented on #479
Ah yeah you're right that would also make sense. To avoid an additional flag, but make it possible to retrieve a specific context of the auto-discovered config. It would start working on this and open a PR for it.

[2019-06-11 23:14] droot opened #485 "Implement helpers functions for using finalizers"
Code for implementing finalizers can be captured in couple of helpers functions in controller-runtime. Helpers functions can help in examining, adding and removing finalizers as suggested in [the PR](https://github.com/kubernetes-sigs/kubebuilder/pull/778/files#r292646664)

[2019-06-11 23:51] negz commented on #485
We have a few finalizer helper functions in our controller-runtime project Crossplane - I'd be happy to submit a PR to add them to controller-runtime.

[code]

[2019-06-11 23:58] droot commented on #485
@negz Thanks for the offer. Pl. do. But API should take `runtime.Object` as input instead of `metav1.Object` because thats the abstraction all other CR's APIs operate on. Also, pl. take a look at @DirectXMan12 's suggestion in the linked PR.

[2019-06-12 00:09] negz commented on #485
I believe taking `runtime.Object` would require us to attempt to transform the object via `metav1.Accessor()` inside the utility function, which means we'd have to return an error and thus the caller would be stuck handling (or ignoring) an error every time they wanted to set a finalizer.

Is it actually common for controllers to be treating objects under reconciliation as `runtime.Object`? Speaki

[2019-06-12 09:17] adohe commented on #461
/close

[2019-06-12 09:17] #461 closed

[2019-06-13 06:27] BuddhiWathsala opened #488 "Update events subresource in a custom resource object"
When I describe my custom resource object using `kubectl describe` it shows something like this.
[code]
We can change the `Status` subresource. But how can I change this `Events` subresource in the custom resource object?

Is there any way patch those events subresource like the `Events` in a Pod like below?
[code]

[2019-06-13 14:42] shawn-hurley commented on #488
Hello, are you asking how to publish events for your resource?

if so: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/manager#Manager

[code]

https://godoc.org/k8s.io/client-go/tools/record#EventRecorder

This is what I think you're looking for

[2019-06-13 18:33] DirectXMan12 commented on #488
(also, fwiw, events isn't a subresource -- describe correlates them by looking at a particular field on the event).

Closing as per the above answer, but I'm happy to reopen if you have further questions

[2019-06-13 18:33] #488 closed

[2019-06-13 18:37] DirectXMan12 commented on #485
The main reason to use runtime.Object is not to force people to type assert or call `meta.Accessor` themselves.  We pass around `runtime.Object` because it's what most of the low-level core kube apimachinery interfaces work with.  It's mostly a side-effect of us consuming the low-level apimachinery.  That being said, it's fairly uncommon for someone *not* to have something that implements `metav1.

[2019-06-13 19:27] DirectXMan12 commented on #455
well, client option is "easy" in that we can always build the wrapping client on top of it

[2019-06-14 06:06] BuddhiWathsala commented on #488
@shawn-hurley It works. Thank you for your help.

[2019-06-17 18:27] mengqiy commented on #450
Controller-runtime supports adding new controller after the manager has started. There seems to be a bug somewhere.

[2019-06-18 06:00] timuthy opened #490 "Reconcile is triggered twice for mapped requests"
The `EnqueueRequestsFromMapFunc` event handler calls its enclosed `Mapper` twice in case of an update event.

https://github.com/kubernetes-sigs/controller-runtime/blob/c1cf624e468ab84b9f25cc76b17d36d0f9573055/pkg/handler/enqueue_mapped.go#L51

As a consequence, the `Reconcile` function is possibly also called twice for a single event which may be inappropriate for users and can also be confusing

[2019-06-18 21:14] devdattakulkarni opened #491 "Question about how to run examples"
I was wondering if there are any pointers on how to run examples from the examples folder.

[2019-06-19 00:51] mengqiy opened #492 "Better handling `kind is not registered in scheme` error"
When a kind is not registered in the scheme, it returns a typed error. We should handle it and return a more user friendly error message.

[2019-06-19 01:02] DirectXMan12 commented on #492
/kind feature
/priority backlog

[2019-06-19 01:22] DirectXMan12 commented on #491
For the ones that rely on CRDs, you'll have to generate CRD YAML and then apply it to the cluster.  In either case, `go run` should be sufficient to run the actual example.

Can you be more specific in what issues you were having?

[2019-06-19 01:25] DirectXMan12 commented on #490
That's actually completely intentional -- when an object gets updated, the mapping can change completely (e.g. you might've changed the `secretName` field to something else, for instance), so you need to enqueue both to handling things properly.

In general, we don't want to encourage people writing to specific actions, and it's my suspicion that giving more context to `MapObject` would allow for

[2019-06-19 01:25] DirectXMan12 commented on #490
/kind feature

[2019-06-19 01:25] DirectXMan12 commented on #450
/kind bug

[2019-06-19 01:30] #483 closed

[2019-06-19 11:08] devdattakulkarni commented on #491
Thanks for the pointer. I generated CRD YAML and applied it. Then ran 'go run main.go'. Here is the error that I am seeing:

2019-06-19T06:03:27.484-0500	ERROR	setup	problem running manager	{"error": "open /tmp/k8s-webhook-server/serving-certs/tls.crt: no such file or directory"}

exit status 1

The manager fails to start because seems like it expects a certificate.

[2019-06-19 18:25] mengqiy commented on #450
@dulltz @ymmt2005 what version of controller-runtime do you use?

[2019-06-19 18:28] ymmt2005 commented on #450
@mengqiy
It was v0.2.0-beta.1
https://github.com/cybozu-go/contour-plus/blob/afd32e07a100bb55b5f20f211ad9e41f04446101/go.mod#L25

[2019-06-19 19:10] devdattakulkarni commented on #491
@DirectXMan12 ^

Do we need to generate a certificate that the manager needs?

[2019-06-23 14:41] shufanhao commented on #481
Could I grab this issue for me to fix it as my first k8s issue ? BTW, could you give me a direction to fix it ? Thanks

[2019-06-24 21:33] devdattakulkarni opened #498 "Understanding Client/Informer/Indexer interaction in Reconcile"
I am trying to understand how does the controller-runtime pattern of using client.Get() in Reconcile() function compares with sample-controller's Lister call to obtain an Object from local index cache given a key.

Specifically, following two lines:

https://github.com/kubernetes/sample-controller/blob/master/controller.go#L251

and

https://github.com/kubernetes-sigs/controller-runtime/blob/maste

[2019-06-25 13:36] ikruglov commented on #312
Hi folks. I'm interested in this feature. Reading the posts above I understand that there are two possible implementations:
1. human-friendly wrapper around client.List() + source.Channel
2. resyncPeriod as part of Controller.Watch() method.

as I used I would prefer the second one, while, looking at the codebase - it's more tricky to implements as it would require either new method in the Control

[2019-06-25 19:02] connor1989 opened #500 "Go Modules: Downstream project is breaking due to move of github.com/appscode/jsonpatch"
Downstream projects using go modules are running into issues since  `com/appscode/jsonpatch` has moved to `github.com/gomodules/jsonpatch`. Not sure if this is user error with go mod's. It's also worth mentioning the update occurred today.

Ex output:

[code]

Env:
`go version go1.12.5 darwin/amd64`

[2019-06-25 19:06] connor1989 commented on #500
/priority important-longterm
/kind bug

[2019-06-25 20:35] DirectXMan12 opened #501 "re-enable golangci-lint's godoc comment checking"
golangci-lint disables the godoc comment checking because the author considers it annoying.  We should make sure it's on, because we've got a couple of issues with our godocs.

[2019-06-25 20:36] DirectXMan12 commented on #501
#477 has the fix in the first commit

[2019-06-26 16:09] kragniz commented on #491
@devdattakulkarni yes, see this pr for docs on how to do this using cert-manager https://github.com/kubernetes-sigs/kubebuilder/pull/776

[2019-06-26 20:32] hpandeycodeit commented on #442
@DirectXMan12 can't we use existing `development` flag to use this option in production as well?

https://github.com/kubernetes-sigs/controller-runtime/blob/71cdf355b7a663a0ccb3248dc4699ba10c663b13/pkg/log/zap/zap.go#L33-L35

[2019-06-26 23:30] DirectXMan12 opened #503 "The XYZDryRunAll functions are frustratingly numerous"
Our current "functional options" scheme works well for providing fluent options, but isn't so great when multiple function calls need to share a particular option -- see `PatchDryRunAll`, `UpdateDryRunAll`, and `CreateDryRunAll`.

AFAICT, the only way around this that provides type proper type checking & doesn't break backwards compatibility if we need to extend the set of things the option applie

[2019-06-26 23:49] DirectXMan12 commented on #503
Alternative (precludes the use of functions, 'cause Go won't coerce those)

[code]

This differs in that the public type isn't in our API.  Go'll type-coerce that interface down into "smaller" interfaces, to adding additional methods/other interfaces to the list in the anonymous interface in `DryRunAll` is fine.  Functions can't be used because go won't type coerce them (they have differing return

[2019-06-27 00:50] mengqiy commented on #503
There were syntax errors in the above comment. I updated it and you can find what I have changed in the revision history.

From GoDoc perspective, I'm leaning towards the latter one.