[2020-10-21 21:16] alex1989hu commented on #1172
/cc @vincepri

[2020-10-21 22:08] alukyan commented on #768
Please do not deprecate pkg/client/fake as using real environment for unit tests creates lots of issues with writing unit tests. Our current project, one of which is CRD controller currently has over 700+ unit tests and their execution time is about 12 seconds.
I can run the whole suite locally on my machine many times per day to verify I am not breaking anything. Using envtest will impact this ex

[2020-10-22 17:07] vincepri commented on #1172
Feel free to open a PR to cherry pick PR to the `release-0.6` branch

[2020-10-22 17:23] adrianludwin commented on #1172
Done, PTAL

[2020-10-23 13:03] camilamacedo86 opened #1226 "Rename flags for zap logs"
Follow up of the pr: https://github.com/kubernetes-sigs/controller-runtime/pull/767/files

1. change the name of `zap-devel` to `zap-development`. As we don't have short flags I personally feel `zap-devel` gets the same point across with less typing, but not going to get hung up either way. Here: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/log/zap/zap.go#L237

2. change `

[2020-10-23 13:09] camilamacedo86 commented on #1035
Hi @vincepri,

For we  `You should be able to register the flag in your controller, like we do for klog. I'm not sure if there is anything for controller-runtime to do in this case.` the user requires to do the change in the code, Am I right? If yes, I understand that the flag allows disable/enable the logs on the cluster where the project is running without code changes.

if I am wrong here, I th

[2020-10-23 17:08] liuxin95 opened #1227 "Sets a custom filter on watch or list resource from apiserver"
**Hi All:**
I have a requirement: to reconcile changes in the ConfigMap resource named app-config
In client-go i can use the informers.WithTweakListOptions function to solve this problem
For example:
[code]

but if i use kubernetes-sigs/controller-runtime, I noticed that kubernetes-sigs/controller-runtime does not provide any method to filter when the watch apiserver resource changes
How can i do

[2020-10-25 20:49] alvaroaleman commented on #1227
Closing as duplicate of https://github.com/kubernetes-sigs/controller-runtime/issues/244
/close

[2020-10-25 20:49] #1227 closed

[2020-10-26 00:19] alvaroaleman commented on #1073
Fixed in #1088

[2020-10-26 00:19] #1073 closed

[2020-10-26 04:04] vladdy commented on #1071
/remove-lifecycle stale

[2020-10-26 09:57] jiachengxu commented on #1081
/remove-lifecycle stale

[2020-10-26 10:24] liuxin95 commented on #452
/help

[2020-10-26 10:26] kapilpau commented on #1156
Ok, thank you

[2020-10-26 23:43] estroz opened #1228 "pkg/log/zap: development option not turning on debug logging"
`controller-runtime v0.6.3`

Setting `pkg/log/zap.Options.Development = true` then constructing a zap logger using the [prescribed code](https://godoc.org/github.com/kubernetes-sigs/controller-runtime/pkg/log/zap#UseFlagOptions) doesn't seem to turn on debug logging (or development mode at all).

The old way (`main.go`):
[code]

Then:
[code]

The new way (`main.go`):
[code]

Then:
[code]

But if I

[2020-10-27 00:09] estroz commented on #1228
This looks like it was fixed by #972.

[2020-10-27 00:09] #1228 closed

[2020-10-27 13:26] phin1x opened #1229 "question: getting pod logs and execute command in pod"
Currently the controller-runtime unstructed client does not have support for executing commands in pods or gathering logs from pods.
what is the currently recommended procedure? Should i instantiate a separate kubernetes client and pass it as a client interface to my controllers or is there a better way to do this? personally I don't like to have two different clients in one controller.
is planned

[2020-10-27 23:30] varshaprasad96 commented on #1226
/assign

[2020-10-27 23:35] LCaparelli opened #1230 "Support for v1 Ingress in envtest"
When attempting to make use of `k8s.io/api/networking/v1` Ingresses within `envtest`-based tests I'm running into:

`2020-10-27T18:38:49.428-0300  ERROR  controller  Reconciler error  {"reconcilerGroup": "apps.m88i.io", "reconcilerKind": "Nexus", "controller": "nexus", "name": "nexus3", "namespace": "default", "error": "could not fetch Ingress (default/nexus3): no matches for kind \"Ingress\" in v

[2020-10-27 23:51] coderanger commented on #1230
The default build of envtest control plane binaries is from before v1 existed. You can either get a newer build of those (specifically kube-apiserver) or use an external control plane as you noted.

[2020-10-28 00:12] LCaparelli commented on #1230
Ah, I see @coderanger, thank you very much for the quick reply! Closing the issue :-)

[2020-10-28 00:12] #1230 closed

[2020-10-28 10:56] coderanger commented on #1229
Yep, you need to use client-go directly. There is not particularly much overhead from this other than just having to also learn to use client-go but in terms of memory or CPU it's not a big thing. I can't comment on future plans for c-r's client library but it seems like it's a ways off regardless so probably just use client-go for now.

[2020-10-28 11:42] timebertt commented on #172
/remove-lifecycle stale

[2020-10-28 12:10] lazybetrayer commented on #965
/remove-lifecycle stale

[2020-10-29 04:04] christopherhein commented on #1185
I'd say submit the PR @qu1queee the doc bug is still there after about a month.

[2020-10-29 04:25] christopherhein commented on #895
@DirectXMan12 @vincepri looking into at the next phases of this…

I'd originally documented moving to use `configv1alpha1.ClientConnectionConfiguration` - https://github.com/kubernetes/component-base/blob/master/config/v1alpha1/types.go#L69 as a standard type that we could configure `rest.Config` with. Looking into how this is implemented in `manager.New()` it takes in the `*rest.Config, Options{}

[2020-10-29 14:44] akutz commented on #1208
Chatting with @ncdc, and just noting a few things that have changed:

* Many functions take a Go context
* Removed top-level error log message when a call to `Reconcile` fails
* The Go context that CR passes around now has a Logger that can be extracted

[2020-10-29 21:36] varshaprasad96 commented on #1219
Hi @alvaroaleman , I would like to work on this issue. Would the implementation be to:
- Wrap [`WaitForSync`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/source/source.go#L135-L141) to pass a `Context` with a timeout so that the ctx is cancelled when [`WaitForCacheSync`](https://www.sohamkamani.com/golang/2018-06-17-golang-using-context-cancellation/) is called.
- include

[2020-10-30 01:28] #868 closed

[2020-10-30 09:12] jiachengxu commented on #1123
/assign

[2020-10-30 13:12] alvaroaleman commented on #1219
@varshaprasad96 yes, that sounds exactly right

[2020-10-30 13:28] varshaprasad96 commented on #1219
/assign

[2020-10-30 16:43] #866 closed

[2020-10-30 20:27] ellistarn commented on #1161
For any kubebuilder users, I'm temporarily fixing this with
[code]

[2020-10-30 22:48] #826 closed

[2020-10-31 10:50] timebertt commented on #1222
We hit the same issue in our clusters as well.

To eliminate unnecessary network traffic and decrease the memory footprint of our controllers in the short-term, we basically implemented exactly what @alvaroaleman suggested (see https://github.com/gardener/gardener/pull/2940).

The usage basically looks something like this:
[code]
(e.g. ref https://github.com/gardener/gardener-extension-networking-

[2020-10-31 19:24] GrigoriyMikhalkin commented on #965
@lazybetrayer Looks like solution to this problem was already merged https://github.com/kubernetes-sigs/controller-runtime/commit/d6fcdd62cf2db5e2b208fb7c32d05cbecfa83999

[2020-10-31 20:44] camilamacedo86 opened #1234 "Install and looking for envtest bins in the $GOBIN/ by default"
**Description**

Currently, the default path where controller-runtime is looking for the binaries which are required for the env tests is `"/usr/local/kubebuilder/bin"`. See: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/server.go#L57

This issue is to purpose the idea of:
- Change the default path for $GOBIN/ (e.g $GOBIN/kubectl-1.15.6)
- Change the scripts to look

[2020-11-01 02:58] lazybetrayer commented on #965
/close

[2020-11-01 02:58] #965 closed

[2020-11-02 08:07] lobkovilya opened #1235 "CacheReader: DeepCopyObject on every Get/List method calls"
We are actively using `CacheReader` in our project and we faced a memory issue caused by `DeepCopyObject` inside `Get` and `List` methods.

CacheReader's `List` calls Indexer's `List` and then calls `DeepCopyObject` for every object:
[code]

But `Indexer` implemented by `cache` has the following doc-comment for method `List`:
[code]

And that's exactly our scenario. We call `CacheReader.List` from

[2020-11-02 15:56] ncdc opened #1236 "Backport #1174 metadata-only watches to 0.6"
We'd like to backport support for #1174 metadata-only watches to 0.6 so it's available for earlier consumers.

/assign @ncdc
/lifecycle active

[2020-11-02 15:56] ncdc opened #1237 "Backport #1174 metadata-only watches to 0.5"
We'd like to backport support for metadata-only watches to 0.5 so it's available for earlier consumers.

[2020-11-02 16:07] qu1queee commented on #1185
@christopherhein will do, thanks

[2020-11-02 18:32] vincepri commented on #1235
Not sure if there is a way to avoid it right now, if we don't deep copy the object users might modify the underlying cache object, which is incorrect and can cause headaches

[2020-11-02 19:23] lobkovilya commented on #1235
What do you think about extracting deepCopy into a separate object that also implements `Reader` interfaces, delegates all requests to regular `CacheReader`, and copy return value? It could be called `CopyCacheReader`:
[code]

And then when calling `NewManager` default function for `NewCache` would be with `CopyCacheReader` wrapper (so we preserve the behavior), but in our project, we just replace

[2020-11-03 18:29] estroz commented on #1033
This was fixed by #1170 so can this be closed @vincepri

[2020-11-03 18:31] camilamacedo86 commented on #1033
Hi @milos-matijasevic,

I am closing this one based on the comment above https://github.com/kubernetes-sigs/controller-runtime/issues/1033#issuecomment-721302464.  However, feel free to ping us to re-open if you think that it is required.

[2020-11-03 18:31] #1033 closed

[2020-11-03 23:58] christopherhein opened #1243 "Add ComponentConfig helper alias"
When implementing https://github.com/kubernetes-sigs/kubebuilder/issues/722 I'm noticing that it would help to reduce the amount of dependencies that need to be imported to mutate `main.go` to support scaffolding.

[code]

Ref #895

[2020-11-03 23:58] christopherhein commented on #1243
/cc @vincepri

[2020-11-03 23:59] christopherhein commented on #1243
/assign

[2020-11-04 00:03] vincepri commented on #1243
+1 having the helper, seems it could be useful to reduce the amount of imports

[2020-11-04 00:18] #1243 closed

[2020-11-04 07:18] bsctl commented on #1161
Hello team, any plan on this?

[2020-11-04 18:14] kushthedude opened #1246 "EnvTest: Tests randomly fail with watch error"
Hello Team,

We are experience a very frequent and irritating error in our operator tests written using Env_Test and Ginkgo. The tests randomly fail with the error
[code]

It would be great if there is any fix or workaround for this occasional yet irritating error 😄 .

[2020-11-05 17:45] alvaroaleman commented on #1208
/milestone v0.7.x

[2020-11-05 17:46] vincepri commented on #1208
/milestone v0.7.x

[2020-11-05 21:39] vincepri commented on #1222
A proposed solution that uses the delegating client and offers a builder is in #1249, feel free to leave feedback and comments.

[2020-11-05 21:48] kushthedude commented on #1246
/kind bug

[2020-11-05 21:49] vincepri commented on #1246
This seems a problem with a local api-server, not sure if controller runtime can do anything about this. Are you running in a constrained environment?

[2020-11-05 21:51] kushthedude commented on #1246
Nope, we are not running the tests in a constrained environment, moreover, the same issue occurs in our CI and the machines of others working on the same project.

[2020-11-05 21:55] vincepri commented on #1246
Not totally sure, I've seen in the past similar errors when the api server wasn't able to get enough resources on a machine. It seems from the logs that there are connection issues, which usually suggest an overloaded api-server.

Are you using cached clients in your code?

[2020-11-05 22:23] kushthedude commented on #1246
No, we are not using cached k8sClient. Even this is an error new to us which didn't occur in our past project which was using ginkgo + envtest. Is there any way to debug it that what might be wrong?

[2020-11-06 02:39] elanv commented on #1221
@DirectXMan12 What do you think about this feature?

[2020-11-06 16:17] vincepri commented on #1122
This might be worth fixing

[2020-11-06 16:21] vincepri commented on #1122
/lifecycle frozen

[2020-11-06 16:26] vincepri commented on #1122
Reading the code a bit, I think we're expecting the caller to call SetLogger with NullLogger{} if they actually want a null logger. Seems the delegating logger's only purpose is to keep log lines around until SetLogger is called, which might never be called if someone never sets it.

I'm not sure if this is an actual problem or not, but I'm in favor of completely removing the `DelegatingLogger` an

[2020-11-06 19:31] alvaroaleman commented on #362
/reopen

This is still unsolved, adding the imagev1 scheme breaks secretList.

[2020-11-07 06:35] christopherhein opened #1250 "Config load error handling doesn't mention the file path"
[code]

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/config/config.go#L101

Ref #895

[2020-11-07 18:36] christopherhein opened #1252 "Rename GetControllerManagerConfiguration to Complete for ComponentConfig"
I'd like to make a change to `pkg/config/config.go` which will register as a breaking change, when I was implementing the ComponentConfig `DeferredFileLoader` I setup a func called `GetControllerManagerConfiguration()` while this name is factually correct it's quite long and couple be replaced by a simpler sounding name like `Complete()`.

Links:
https://github.com/kubernetes-sigs/controller-runti

[2020-11-07 18:37] christopherhein commented on #1252
/cc @DirectXMan12 @vincepri wdyt?

[2020-11-07 19:49] vincepri commented on #1252
This is fine, the go-apidiff bot checks the diff from the last commit, not the last released version. Given that we haven't released v0.7.0 yet, breaking changes are ok for now. Usually though, we'd hold breaking changes to the next minor release

[2020-11-08 04:37] christopherhein commented on #1252
Thanks @vincepri ! I'm going to rename this and put in a PR to rename that then.

[2020-11-08 04:37] christopherhein commented on #1252
/assign

[2020-11-09 15:25] vincepri commented on #988
Got it. We should definitely fix the behavior, returning an error when using `InNamespace` predicate on non-namespaced resources makes sense to me.
@alvaroaleman wdyt?

[2020-11-09 15:30] #1250 closed

[2020-11-09 15:52] alvaroaleman commented on #988
sounds good to me

[2020-11-09 21:18] DirectXMan12 opened #1255 "It should be a bit easier to setup webhook handlers without a manger"
It's currently intended to be *possible* to set up webhook handlers w/o a manager (e.g. in your own HTTP mux, in a separate binary that doesn't need to have a REST config, etc), but it's not *easy* due to the dependency injection setup from the manager.

We should have a helper to make the dependencies more explicit, and to make this a bit easier.

/kind feature

[2020-11-09 22:37] alvaroaleman commented on #1235
@lobkovilya not using the `DeepCopy` there allows for very subtile bugs when ppl inadvertedly manipulate their cache and would be a compatibility breach.

If you have memory issues I recommend to set up indexes: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#FieldIndexer

[2020-11-10 04:39] cscetbon opened #1257 "Patch applied but still getting an old version"
I'm using controller-runtime v0.6.0 from operator-sdk v0.18.0 and I get a weird behavior. You can check the logs at https://pastebin.com/TRLFeCCk
In short, I have a controller that monitors a custom object that I patch. As soon as it gets patched (with no error) I see that my update predicate function gets called. However the new values of the object are still the old values. It doesn't happen 100

[2020-11-10 17:28] #1252 closed

[2020-11-11 20:18] RafalKorepta opened #1260 "Shell check errors on scripts in hack folder"
I found that shell check complain about:

- SC2086: Double quote to prevent globbing and word splitting.
- SC2034: envtest_root_dir appears unused. Verify use (or export if used externally).
- SC1090: Can't follow non-constant source. Use a directive to specify location.
- SC2046: Quote this to prevent word splitting.
- SC2128: Expanding an array without an index only gives the first element.
- SC

[2020-11-11 21:18] #1229 closed

[2020-11-12 11:14] gmrodgers opened #1262 "Can't Watch for `apiextensions.CustomResourceDefinition`"
Hey folks,

We're using the kubebuilder project which utilises controller-runtime.  We are trying to build a controller that will reconcile on the CRUD of `apiextensions.CustomResourceDefinition`s i.e. if there is a new CRD, then trigger this controller. Explicitly this is not a new CR for a CRD.

To do so we have added the following to our controller:

[code]

When trying to run this, we got the

[2020-11-12 22:52] #680 closed

[2020-11-13 03:48] cscetbon commented on #1257
@DirectXMan12 any idea ? I’m suck because of that error.

[2020-11-13 14:39] barryzhounb opened #1263 "Operator controller could not delete correlated resources"
In Kubernetes and Operator-sdk, we can define CRD (Custom Resource Definition) and CR (Custom Resource). In my operator controller, when a CR is initialized, then I create a new Deployment and service.

When we delete a CR object, then the correlated resources (such as Deployment or service) will be deleted as well at the same time. I understand it should be done by CR/CRD finalizer, this is just

[2020-11-13 16:09] #722 closed

[2020-11-13 18:23] ajatprabha opened #1264 "object Status not updating after adding Owns call"
### Description

I'm trying to write a controller in a hobby project, when I write a test that asserts on a field inside Status, it fails even though I'm updating the object using `StatusWriter#Update`. It somehow depends on ownership of created objects.

### Actual
The test passes only if I remove the call to `Owns(&corev1.ConfigMap{})` in `SetupWithManager`

[code]

- Tests

desired.Status.Field

[2020-11-13 19:34] coderanger commented on #1263
This is managed by a mix of object ownership and the `gc` controller. When an object is deleted, the `gc` controller cleans up everything owned by it. The reason you don't see this in tests is envtest doesn't run any kube-controller-manager controllers, including `gc`.

[2020-11-13 19:39] #1263 closed

[2020-11-15 17:58] #876 closed

[2020-11-15 17:58] #896 closed

[2020-11-15 17:58] #871 closed

[2020-11-16 02:57] cscetbon commented on #1257
I stopped building my own patch and use client.MergeFrom instead. I also had to ensure to get the latest version of the object prior of patching it

[2020-11-16 15:20] camilamacedo86 commented on #1034
/remove-lifecycle stale

[2020-11-18 10:42] #1264 closed

[2020-11-18 19:56] alvaroaleman commented on #1262
@gmrodgers that is because you are using the internal version of the api: https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions

You must use one of the external versions (https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1 or https://godoc.org/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1).

Closing this issue for now, but feel free to re-o

[2020-11-18 19:56] #1262 closed

[2020-11-19 00:30] DirectXMan12 commented on #1257
are you all good here then, or is something still up? (sorry, just saw this issue)

[2020-11-19 00:31] DirectXMan12 commented on #900
/remove-lifecycle rotten
/lifecycle frozen

[2020-11-19 00:45] cscetbon commented on #1257
Yes but if you have an explanation, I would love to read it.

[2020-11-19 14:20] mykaul opened #1270 "0.5.11 is marked as 'Latest' release, while 0.6.3 actually is the latest available"

[2020-11-20 03:11] barryzhounb opened #1271 "Could not clean up CustomResource under envTest"
I have a CustomRule v1alpha1.Bird, then I plan to do a test under envTest, I wrote the following test case.

[code]
In BeforeEach(), CR will be deleted, in each test case, CR will be created.

Then run test cases, it seems that CR could not be clean up, the second test case still find CR exists, and test case report the following error.

      Unexpected error:
          <*errors.StatusError | 0xc

[2020-11-20 15:41] vincepri commented on #1046
/lifecycle frozen

[2020-11-20 17:24] vincepri commented on #945
/lifecycle frozen

[2020-11-20 17:25] vincepri commented on #998
/lifecycle frozen

[2020-11-23 08:23] irajdeep commented on #258
Hi @DirectXMan12
We also have a use-case where we need more time duration buckets (> 10secs) for `controller_runtime_reconcile_time_seconds_bucket` histogram.
Should we add the buckets to controller-runtime metrics in accordance with the upstream changes done in this PR: https://github.com/kubernetes/kubernetes/pull/73638. ?

[2020-11-23 23:00] Porges opened #1272 "🐛 Webhooks for admission review v1 do not seem to work"
This was mentioned before in #1015 but the support for admission review version `v1` seems to be incomplete.

It looks like the webhook does not properly copy the `uid` into the response, so any webhook calls fail with a message like `expected response.uid="e0505ce1-d1b5-4eba-8329-0398905952c0", got ""`.

See K8s documentation [here](https://kubernetes.io/docs/reference/access-authn-authz/extensib

[2020-11-24 09:42] voltbit commented on #964
There is an example for setting `MaxConcurrentReconciles` here:
[https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/](https://sdk.operatorframework.io/docs/building-operators/golang/tutorial/)

[2020-11-24 13:00] brightzheng100 commented on #491
I checked out the master branch to carry on the tutorial -- I may have missed something so it didn't work by following the tutorial.

Firstly, I needed to apply this patch:
https://github.com/kubernetes-sigs/kubebuilder/issues/1466#issuecomment-712444882

Then I tried to run it locally but it wouldn't work -- please run it and wait for a couple of seconds to see it crash.

[code]

Please note that

[2020-11-24 13:02] brightzheng100 commented on #491
Hmm, I saw the bug, here:

[code]

[2020-11-24 16:24] yiqigao217 commented on #1172
Can this issue be closed with https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.6.4? @adrianludwin

[2020-11-24 19:42] adrianludwin commented on #1172
Yup! Thanks all.

[2020-11-24 19:42] #1172 closed

[2020-11-25 08:48] pohly opened #1275 "use go-logr context functions"
go-logr 0.3.0 added support for storing and retrieving a logger in a context: https://github.com/go-logr/logr/blob/4fa77cb7175ca349567983fd9cc9fd94462f41fa/logr.go#L197-L222

It would be good to implement https://github.com/kubernetes-sigs/controller-runtime/blob/f3831c24e5e99c242f993fde8aad18047ca47570/pkg/log/log.go#L56-L73 as wrapper around those functions because then code using the controller

[2020-11-25 15:53] alvaroaleman commented on #1275
Sounds like a good idea
/good-first-issue

[2020-11-25 16:08] arghya88 commented on #1275
/assign

[2020-11-25 19:09] alvaroaleman commented on #362
So I fixed this instance of the problem in openshift/api#780 by re-redefining the type (`type a b`) (which is a different thing from aliasing a type, which doesn't help with this issue at all). That being said, the issue is that we make assumptions apimachinery doesn't guarantee, which happens to work most of the time and sometimes it doesn't. For those cases we should probably:
* Improve the erro

[2020-11-28 10:30] loewenstein commented on #745
/reopen with #950 there is an existing design for. I think we should keep this open.

[2020-11-28 15:41] alvaroaleman commented on #745
/reopen

[2020-11-29 10:23] prometherion commented on #1272
I'm facing the same issue for my Open Source project, aiming to upgrade to `k8s.io/api/admission/v1`.

I got some thoughts on how to solve this but would be an absolutely breaking change

https://github.com/kubernetes-sigs/controller-runtime/blob/7c637a286de6aab7ae674a56d06f8a718f258ac1/pkg/webhook/admission/webhook.go#L43-L45

Right now `controller-runtime` is doing struct embedding, we could add

[2020-11-29 13:22] felipeweb commented on #845
I'm having this issue on `kind v0.9.0 go1.15.2 linux/amd64`

/reopen

[2020-11-29 13:28] felipeweb opened #1278 "webhook for delete verb is broken"
when I run `kubectl delete -f config/samples/app_v1alpha1_helmrelease.yaml ` I receive response below

`Error from server: error when deleting "config/samples/app_v1alpha1_helmrelease.yaml": admission webhook "mhelmrelease.undistro.io" denied the request: there is no content to decode` running on `kind v0.9.0 go1.15.2 linux/amd64` , using `sigs.k8s.io/controller-runtime v0.7.0-alpha.6` and `contro

[2020-11-30 02:33] vincepri commented on #1034
Do we have an action item here? I don't know if this is a real controller runtime issue

[2020-11-30 15:32] #1275 closed

[2020-11-30 21:30] andy-kimball opened #1280 "controller-runtime: starting/stopping `manager.Manager` leaks goroutines"
**What happened:**
Each time the controller manager is started and then stopped, it leaks goroutines (see the Go code below for a simple repro).

**What you expected to happen:**
When the controller manager is stopped, all resources should be cleaned up, and the leaktest package should not find any leaked goroutines.

**How to reproduce it (as minimally and precisely as possible):**
Run go test on

[2020-12-03 07:25] steven-zou opened #1285 "Registering multiple webhooks concurrently will cause a panic"
The panic logs are:

[code]

The panic place is at the webhook server register func:

**s.webhooks[path] = hook**

[code]

and webhooks is a just standard map.

[2020-12-04 14:24] timebertt opened #1290 "logger.WithValues bypasses KubeAwareEncoder"
When calling `WithValues` on a zap-backed logger, the value bypasses the `KubeAwareEncoder`, meaning it will be fully marshalled using the underlying encoder (e.g. json encoder).

For example:
If I add a key and value to the example controller [here](https://github.com/kubernetes-sigs/controller-runtime/blob/43331a6c8f823b497660b368deb4311ae2030206/examples/builtins/controller.go#L56):

[code]
it

[2020-12-07 02:20] alvaroaleman commented on #1285
/kind bug
/help

[2020-12-07 02:23] alvaroaleman commented on #1280
This got fixed in https://github.com/kubernetes-sigs/controller-runtime/pull/1089 but that change didn't get backported to the 0.6 release branch

[2020-12-07 10:31] bznein opened #1291 "SyncPeriod skips first reconciliation?"
Hello everyone,

firstly, I know that the usage of `SyncPeriod` is in general discouraged :)
However, I want to ask a clarifying question on this: when deploying a controller with a certain value of `SyncPeriod` (let's say, 15 mins), what I noticed is that the first periodic reconciliation triggered by it seems to be skipped.

Example:
My controller gets deployed at XX:00 and finishes the first re

[2020-12-07 12:22] #1291 closed

[2020-12-07 19:31] jay-rob commented on #1285
Hey there,

I've tried to reproduce this panic locally, and I have not been able to yet. I've noticed, based on the code snippet provided above and in https://github.com/goharbor/harbor-operator/issues/202, that [you are using controller-runtime v0.6.1](https://github.com/goharbor/harbor-operator/blob/ada726bfbaba02900e255287a81af0b94f21c318/go.mod#L44). Have you tried upgrading to v.0.6.4?

It lo

[2020-12-08 05:02] andy-kimball commented on #1280
Are there plans to backport to 0.6?

[2020-12-08 08:27] #1017 closed

[2020-12-08 18:51] ncdc opened #1292 "Export the certwatcher package"
Consumers might want to react to externally-managed + rotated certificates, and the certwatcher package handles this, but it is an internal package. Could we consider exporting it?

[2020-12-08 20:44] ncdc commented on #1236
Fixed by #1248
/close

[2020-12-08 20:44] #1236 closed

[2020-12-08 21:33] DirectXMan12 commented on #1290
huh, yeah, looks like the autogenerated `.String` method is being called instead.

/triage accepted
/help

[2020-12-08 21:33] DirectXMan12 commented on #1290
/kind bug

[2020-12-08 21:35] DirectXMan12 commented on #1280
iirc the backport is nontrivial due to some intervening changes, unfortunately

[2020-12-08 22:09] #977 closed

[2020-12-09 13:27] morvencao commented on #934
Encountered same issue.

[2020-12-10 01:56] tatsuhiro-t opened #1294 "misspelling 'DestWritter'"
There is a misspelling 'DestWritter'.  It should be 'DestWriter'.

https://github.com/kubernetes-sigs/controller-runtime/blob/3410e75b087895ff6cd79b6c28dd31c2145c813d/pkg/log/zap/zap.go#L148

[2020-12-10 14:29] steven-zou commented on #1285
@jay-rob

Thanks for the info. I checked the code change in the commit [0f11ed4](https://github.com/kubernetes-sigs/controller-runtime/commit/0f11ed4ba4b08cc61860a51e21029a5a2b7d7d7d) you mentioned. It seems the concurrent write issue has been fixed. We'll try to upgrade controller-runtime to v.0.6.4 later for introducing the change.

[2020-12-10 16:22] alkar commented on #880
/remove-lifecycle rotten

[2020-12-14 19:58] adrianludwin commented on #1123
Was this fixed by #1284 ?

[2020-12-14 20:11] estroz commented on #1123
@adrianludwin yes!

/close

[2020-12-14 20:11] #1123 closed

[2020-12-14 20:17] adrianludwin commented on #1123
Thanks!

[2020-12-15 02:27] tatsuhiro-t opened #1295 "v0.7.0: Handling empty patch in PatchResponseFromRaw"
In admission v1, api server requires that patch and patchType are both provided or none are provided:

https://github.com/kubernetes/apiserver/blob/6d407d18a284aae4db693a8a50ca3647cc3ad429/pkg/admission/plugin/webhook/request/admissionreview.go#L67-L73

admission v1beta1 does not have this kind of requirement.

In controller-runtime, PatchResponseFromRaw sets patchType regardless of existence of p

[2020-12-15 03:03] billcchung commented on #1034
thank you @jiachengxu! Confirmed it works with kubebuilder `2.3.1`, which version is `v1.16.4`, I'll close this issue now, thanks everyone!

[2020-12-15 03:03] #1034 closed

[2020-12-15 12:45] 27149chen opened #1296 "How to watch a custom object outside the controller"
Sometimes we need to wait for a certain situation of a object in a funciton/request/stream, we can use a watcher for k8s native objects, but it is hard for a custom object since it requires a client, with the help of controller-runtime, is it possible to watch a custom object changes from lcoal cache?

[2020-12-15 18:16] kevindelgado commented on #1255
/assign

[2020-12-15 19:01] estroz commented on #1234
Expanding on this: it would be nice to have
- a set of simple loading rules (like with kubeconfigs)
- a helper to install envtest binaries to one of those locations
- a helper to compare binary versions

[2020-12-15 23:13] jay-rob commented on #1290
Does this only occur when you have the logger set to verbose?

[2020-12-15 23:17] jay-rob commented on #1296
Is the object in question referring to a CRD or aggregated API resource?

[2020-12-15 23:57] alvaroaleman commented on #1295
@tatsuhiro-t can you send a patch for this?

[2020-12-16 00:38] tatsuhiro-t commented on #1295
sure.

[2020-12-16 06:37] 27149chen commented on #1296
@jay-rob  a CRD

[2020-12-16 06:37] timebertt commented on #1290
Nope, also for the `info` log level. The log level should be unrelated to this issue.

[2020-12-16 09:23] klzsysy commented on #1278
same here

- v1.19.2-1008
- kubebuilder@2.3.1
- controller-gen@v0.4.1

go.mod:

[code]

`Error from server: admission webhook "mmodule.kb.io" denied the request: there is no content to decode`

[2020-12-16 11:50] camilamacedo86 opened #1300 "Replace the shell script to install the env test binaries by a go model in the tool"
## Feature Request

#### Describe the problem you need a feature to resolve.

Currently, in Kubebuilder where the binaries are used we have :

[code]

Note that it is NOT intuitive for the users. As I user of Kubebuilder, I'd expected that the tool provides a much more readable, intuitive and understandable code to reduce the learning curve and keep its maintainability such as:

[code]

However, s

[2020-12-16 11:54] camilamacedo86 commented on #1234
We might consider addressing these requirements toghether with https://github.com/kubernetes-sigs/controller-runtime/issues/1300.

[2020-12-16 16:17] jay-rob commented on #1296
So to make sure I understand your usecase, you want to Watch a CRD managed resource without needing the go types? Are you using Go for the client code?

[2020-12-16 22:59] hiddeco opened #1301 "Configurable annotation change predicate"
In `v0.7.0` a `AnnotationChangedPredicate` was introduced that skips update events that have no change in the object's annotation. In the [Flux project](https://github.com/fluxcd) controllers we are making use of _specific_ annotations to trigger reconciliations per user's request to re-observe state, a pattern that I have seen other controllers use as well.

Hereby polling interest for a predicat

[2020-12-17 13:44] 27149chen commented on #1296
@jay-rob , I think you misunderstand my words, what I want is watching an crd object in a normal function, just like a watcher which implementing:
[code]

[2020-12-17 16:05] #1295 closed

[2020-12-19 16:44] kotyara85 commented on #1209
thank you

[2020-12-19 16:44] #1209 closed

[2020-12-20 00:22] #1032 closed

[2020-12-20 00:22] #1036 closed

[2020-12-20 00:22] #1030 closed

[2020-12-20 11:36] ktarplee commented on #768
It appears fake client does not support listing object with options  client.MatchingFields and client.MatchingFieldsSelector.   If this is true then maybe the "limitations" in the doc should be expanded to include these missing features in the fake client.

[2020-12-20 15:37] #994 closed

[2020-12-20 17:39] #932 closed

[2020-12-20 17:39] #980 closed

[2020-12-21 10:39] camilamacedo86 opened #1304 "EnvTest - Make clear the error message"
Currently, we face the following error when one of the 3 required binaries for envtest works is not found. See that this error is not very clear. The goal of this task is to improve the message to make clear where/what/why in order to help the users know what is missing and why.

<img width="1227" alt="101765788-bb529d80-3ad9-11eb-8cdb-fa726a8159cb" src="https://user-images.githubusercontent.com/7

[2020-12-21 10:40] camilamacedo86 commented on #1304
c/c @DirectXMan12

[2020-12-21 10:51] coderanger commented on #1304
Would probably be good if the error mentioned `export KUBEBUILDER_ATTACH_CONTROL_PLANE_OUTPUT=true` to show the underlying output.

[2020-12-22 03:26] coderanger commented on #1156
/close

[2020-12-22 03:26] #1156 closed

[2020-12-22 03:28] alvaroaleman commented on #1270
0.7.0 is now correctly marked as the latest release: https://github.com/kubernetes-sigs/controller-runtime/releases

[2020-12-22 03:28] #1270 closed

[2020-12-22 03:33] alvaroaleman commented on #1208
The release notes contain a pretty comprehensive description of the breaking changes, that should hopefully do it: https://github.com/kubernetes-sigs/controller-runtime/releases/tag/v0.7.0

[2020-12-22 03:33] #1208 closed

[2020-12-22 03:35] alvaroaleman commented on #1285
Closing, as this was fixed in https://github.com/kubernetes-sigs/controller-runtime/commit/0f11ed4ba4b08cc61860a51e21029a5a2b7d7d7d

[2020-12-22 03:35] #1285 closed

[2020-12-22 19:46] orirawlings commented on #880
Here is the work-around I implemented in my test helper functions. Basically, I use the discovery API to optimistically delete all namespaced resources in the namespace I'm trying to delete and then I update the `/finalize` subresource of the namespace to remove the `kubernetes` finalizer. The idea here is that it is a (perhaps poor) approximation of what `kube-controller-manager` would normally d

[2020-12-23 06:31] pjotre86 commented on #1127
Could you solve the problem @pkoushik ?
I think I'm running into the same problem:
I'm trying to synch a helm deployment in a separate namespace (single cluster setup). In the kube-agent logs I find:
`error msg="error syncing 'error syncing 'cluster-fleet-local-local-1a3d67d0a899/my-gitrepo-helm': handler bundle-deploy: query: failed to query with labels: secrets is forbidden: User \"serviceaccoun

[2020-12-23 09:23] hrishin opened #1305 "Support for pod bind sub resource"
### Feature Request

**Describe the problem you need a feature to resolve.**
It appears like controller-runtime client don't have any support for creating the `Pod` `Binding` sub-resource. If that is the case how can I confirm? Consider it as a feature request

I'm sorry to say, however, I couldn't found anything for the `Binding` sub-resource.

[2020-12-23 09:33] coderanger commented on #1305
Only the standardized subresources for custom resources would be easy to support, and of those only /status is so far. I would recommend using client-go for these requests. From-scratch schedulers are a very niche thing, so not really a priority in a controller support library, even if they are technically a kind of controller.

[2020-12-23 09:42] coderanger commented on #880
If this is a priority for your testing setup, I would strongly recommend using Kind or K3s as your test control plane rather than the default one launched by envtest. That will provide a more complete setup, including kube-controller-manager and the related namespace and gc controllers.

[2020-12-23 10:43] camilamacedo86 commented on #1127
Hi @pjotre86 and @pkoushik,

Your problem is that your operator has not the permissions (RBAC) to list secrets in the cluster.  You need to update the role.yaml file to give these permissions such as is done [here](https://github.com/operator-framework/operator-sdk/blob/master/testdata/helm/memcached-operator/config/rbac/role.yaml#L84-L112) for other resources.

I am closing this as sorted out. Ho

[2020-12-23 10:43] #1127 closed

[2020-12-23 18:34] alvaroaleman commented on #1305
The canonical issue for the problem of arbitrary CRUD subresources is https://github.com/kubernetes-sigs/controller-runtime/issues/1305

/close

[2020-12-23 18:34] #1305 closed

[2020-12-23 18:38] alvaroaleman commented on #172
Those are not CRUD subresources, see https://github.com/kubernetes-sigs/controller-runtime/issues/452 for that

@DirectXMan12 What is the concern with adding a simple `ForSubresource(name string)`  Create/Patch option for this? Seems pretty straightforward and doesn't require any external API changes I think. It obviously allows for misuse if ppl use it for non-existing subresources but I think th

[2020-12-23 18:56] orirawlings commented on #880
I was having a little trouble tracking down documentation for launching kind or k3s clusters from envtest. Is there example documentation anywhere?

Based on what I'm gleaning from https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/envtest is it correct to assume that one would exec `kind` prior to starting envtest, and then just ensure envtest is passed the correct `rest.Config` and `UseExisti

[2020-12-23 19:23] rheaton commented on #1090
Any updates or comments here?

[2020-12-23 21:01] coderanger commented on #880
Yep, that. It will use your default kubeconfig so set whatever context you need before starting and then enable UseExistingCluster.

[2020-12-23 22:09] alvaroaleman commented on #745
/assign

[2020-12-24 12:58] shyung opened #1308 "A handler for controller is required to do something in a regular cycle."
For example, it is assumed that there is a controller for crd named 'Foo' with phase in its Status. After manager started, 'Foo' will be reconciled on CREATE/UPDATE/DELETE operation on it. It is expected for me, however, that the number of 'Foo's in each phase need to be counted in a regular cycle rather than counted in one reconcile for some 'Foo'. And another controller for crd named 'Bar' may b

[2020-12-24 15:11] #1049 closed

[2020-12-24 23:54] coderanger commented on #1308
You will need to write the code for this yourself, check all the objects, write some kind of locking, etc. There's no specific support for special singleton objects.

[2020-12-25 03:23] #1078 closed

[2020-12-25 04:07] 27149chen commented on #1296
@jay-rob , do you understand my usecase now?

[2020-12-25 07:12] shyung commented on #1308
As far as I am concerned, however, there is no place for the code. Actually, I want to register a handler for controller, which will execute in a regular cycle and its period is also supported to be configured. Specifically, the handler will start to execute in Start Function of Controller Interface as followed.

[2020-12-25 14:15] zackzhangkai opened #1310 "Can not pass value to Predicates"
When use Predicates, it will failed with "Cannot assign value to unexported field 'predicates' "

Such as I defined below. I will pass a value to the predicates.
[code]

predicates is defined as below:

[code]

I think it is a bug. May be should be as follows:

[code]

[2020-12-25 14:38] coderanger commented on #1310
What is your end goal? Per-source predicates in the builder syntax are declared like this: `.Owns(whatever, builder.WithPredicates(myPredicate))`

[2020-12-25 14:52] zackzhangkai commented on #1310
@coderanger Thanks a lot. You are right. It solved my problem as what you said.

[2020-12-25 14:52] #1310 closed

[2020-12-26 11:55] #1074 closed

[2020-12-26 19:02] #1085 closed

[2020-12-27 15:03] allenhaozi opened #1311 "Server-side Apply problem"
In our internal scenario, We developed a PaaS platform based on [OAM](https://github.com/oam-dev/spec)
our business simply declare the Workload and Traits they use
There are two types of Workload, `ServerWorkload`(online) and `TaskWorkload`(offline)
Traits include `ManualScalerTrait`,`AutoScalerTrait`,`LoadBalanceTrait` etc.

The ServerWorkload renders a Deployment and creates it
When the `ManualS

[2020-12-27 16:33] coderanger commented on #1311
What are those GetUID functions?

[2020-12-27 16:35] coderanger commented on #1311
Oh the second isn’t a server side apply. Check the patch diff you are sending by logging it or similar. Will probably show something unexpected.

[2020-12-27 18:00] allenhaozi commented on #1311
Thank you for your response,
Is there an example here that multiple controller manage one resource using server side apply

[2020-12-28 01:32] coderanger commented on #1311
I do it in my rabbitmq-operator, https://github.com/coderanger/rabbitmq-operator/blob/main/controllers/rabbituser.go though the code is probably going to be hard to follow. Also it's been a huge source of bugs and I really want to get rid of it :D

[2020-12-28 05:15] allenhaozi commented on #1311
when restart controller pod got the following message
[code]
[code]

when change `ao`  to `[]client.PatchOption{client.ForceOwnership, client.FieldOwner(c1.GetUID())}`

lead to deployment's pod restart, because C1 controller change the replicas of the deployment

although `managedFields` show the replicas managed by C2

[2020-12-28 05:27] coderanger commented on #1311
Field manager names should not be UUIDs, they should be names, usually the name of the controller (or subcontroller element).

[2020-12-28 06:37] #907 closed

[2020-12-28 11:13] allenhaozi commented on #347
I met an error when I use Server-side Apply

[https://github.com/kubernetes-sigs/controller-runtime/issues/1311](https://github.com/kubernetes-sigs/controller-runtime/issues/1311)

[2020-12-28 13:09] kwiesmueller commented on #1311
The conflict probably means that your apply contains those fields.

When using SSA one should only send the fields they care about. In this case your operator should only specify (I think) replicas. And not other fields.
Otherwise it will try to own them and potentially overwrite them if the are different.

If two controllers are intended to manage the same resource, they should never specify a pa

[2020-12-28 13:35] allenhaozi commented on #1311
in  my case , I  have two controllers
The first controller is responsible for creating Deployment with `Spec.Replicas` is 0
the second controller is responsible for scaling Deployment, set field `Spec.Replicas` = 3

when restart the controllers got the following event
[code]

[2020-12-28 14:08] kwiesmueller commented on #1311
That should be the representation of a restart for all pods. You scale down and then back up.
Your first controller code above does a Patch and not a create, so it will also update the resource when it's already created.
You might want to check if it's not there already.
Then the second controller can "steal" the field from the create-controller.

Make sure both controllers have different fieldMan

[2020-12-28 14:40] allenhaozi commented on #1311
my deployment yaml
[code]

[2020-12-28 14:51] allenhaozi commented on #1311
is there a way remove the deployment field or fill deployment field by managedFields between desired deployment and current deployment ?
[code]

[2020-12-28 15:04] kwiesmueller commented on #1311
I think I don't understand your setup yet.
You said you want one controller to create deployments and one to set the replicas.
The snippet above seems like you're doing both in one thing?

Can you clarify the goal you want to reach?
Right now you're doing either an Apply or a MergePatch depending on the objects existence.

[2020-12-28 20:28] jay-rob commented on #1296
@27149chen

https://github.com/kubernetes-sigs/controller-runtime/blob/cf7ac887d082b481ec1389ddcd576f4140b15595/pkg/source/source.go#L45

May be what you are looking for. A reconciler with a `predicate` to filter down the criteria in which `reconcile` is called only when the object meets your desired criteria.

[More on predicates](https://github.com/kubernetes-sigs/controller-runtime/blob/cf7ac88

[2020-12-29 03:19] allenhaozi commented on #1311
I know what my problem is.

in my WorkloadController which  controls the deployment
[code]
It should be used  `a.Patch(ctx, current, client.Apply, ao...)` all the time

but I have to pre-process this deployment which WorkloadController render when the deployment has exists.
because it contains the replica field which has been update  by ScalerController

at the beginning I think k8s SSA will skip

[2020-12-29 07:37] coderanger commented on #1311
That would be a feature request for upstream, but seems unlikely. As mentioned, you shouldn't be sending a replicas field at all. A common mistake with Apply patches is to use a normal object, you almost always want to be using an unstructued. Take a look at the code in https://github.com/coderanger/controller-utils/blob/main/components/template.go (or just use it directly)

[2020-12-29 08:40] 27149chen commented on #1296
@jay-rob

Suppose I need to create a pod inside my function, and return it when the pod is running.
If I understand correctly, to watch the single pod, I need a seprated manager, add the pod (filtered by predicates), and register my wait logic as a reconciler, and then start the manage. Then before the function returns, I also need to stop the manager. Am I right? is it too complex?

[2020-12-29 13:34] hrishin commented on #1305
@alvaroaleman did you mean some other issue than #1305 ?

[2020-12-29 14:02] alvaroaleman commented on #1305
@hrishin err yes, sorry, I meant https://github.com/kubernetes-sigs/controller-runtime/issues/452

[2020-12-29 15:14] jay-rob commented on #1296
You can use the same manager. Also checkout kubebuilder-declarative. [These libraries might be closer to what you are looking for](https://github.com/kubernetes-sigs/kubebuilder-declarative-pattern/blob/b731a62175207a3d8343d318e72ddc13896bcb3f/pkg/patterns/declarative/watch.go#L41)

[2020-12-30 09:33] camilamacedo86 commented on #1296
Hi @27149chen,

So, you are looking for how to watch a CRD that is not managed by the controller. See that the watch func has an attribute for you to set if the Kind is or not managed by the controller. Then, the implementation looks like the same you just need to inform this arg like as:
[code]

For further information see the controller-runtime docs https://pkg.go.dev/sigs.k8s.io/controller-runt

[2020-12-30 09:33] #1296 closed

[2020-12-31 10:14] 27149chen commented on #1296
Hi, @camilamacedo86 ,

Thank you for your reply, that really helps.

Since I can not find a good example for watching a single object, I write one myself.
Here is part of the snippet, please point out if it is the right way, thank you very much.
Please note that I did not put my main logic to Reconciler, I wonder if it is a good practice here.

[code]

[2020-12-31 10:15] 27149chen commented on #1296
please reopen this issue, I want to continue this discussion. Thanks.

[2021-01-03 17:08] #1114 closed

[2021-01-04 10:56] imilchev commented on #452
I am also interested in this

[2021-01-04 14:49] randomvariable commented on #1177
/lifecycle frozen

[2021-01-04 17:36] vincepri commented on #988
/lifecycle frozen
/help

[2021-01-04 21:15] tmjd opened #1316 "Client retrieved from controller-runtime NewManager seems to be missing updates"
In testing the tigera/operator, I have found that sometimes controllers in this operator are not tiggered when a particular resource is added. The controllers should be triggered because they have watches (this is wrong, see comment below for update) for the resource. One detail to be aware of is that the watched resources are backed by an aggregated API server and the server starts after the oper

[2021-01-05 07:00] kotyara85 opened #1317 "Get list of controllers"
Is there a way to get the list of controllers adde to Manager?
Thank you

[2021-01-05 15:55] tmjd commented on #1316
I was looking again today and was wrong about the resources being watched. The controllers do not watch the resource but instead do a Get for the resource with a requeue delay of 10 seconds (and no error so the requeue is never dropped). With that info it is definitely not a watch issue.

[2021-01-06 19:14] #1122 closed

[2021-01-06 19:58] camilamacedo86 commented on #1210
/remove-lifecycle stale

[2021-01-07 01:01] vishnukarthikl opened #1319 "Inconsistent return value of client.create for object status between 0.7.0-alpha.4 and 0.7.0"
In 0.7.0-alpha.4
Calling client.create of an object (e.g. Deployment) with status set preserves the status in the original object passed.

In 0.7.0
Calling client.create of an object (e.g. Deployment) with some status set removes the status of the original object passed. But if a Custom Resource object is passed, the status is preserved in the original object. This seems inconsistent either it sho

[2021-01-07 10:50] chinglinwen opened #1321 "dont define extra flag kubeconfig, instead passing by library call"
Primary conflict is I may use this different flag package :  github.com/namsral/flag, which cause problem (kubeconfig undefined ).

Or say I may get this config from extra config file, how should I pass it to GetConfig
[code]

[code]

[2021-01-08 14:59] Szymongib commented on #1290
I have investigated the issue a little bit and it seems like there is not much that can be done.
When calling `zap.WithValues()` the fields are mapped immediately and added to the encoder as strings (if they implement `Stringer` interface, which is the case for K8s objects) therefor when calling `Write` they do not go through `encoder.EncodeEntry` as `[]Field` but their type is already saved in th

[2021-01-08 15:34] #1219 closed

[2021-01-08 17:38] invidian commented on #866
This sounds useful, can somebody reopen it please?

/reopen

[2021-01-08 18:21] coderanger commented on #866
@invidian Are you interested in implementing this? If so, please open a Pull Request and reference this issue and we'll sort it out.

[2021-01-08 19:03] jmrodri opened #1323 "Cached client doesn't support Get for cluster scoped resources if namespace is given"
cached client `Get` returns not found when looking for cluster-scoped object and passing in a namespace.
client.Get should ignore the namespace for cluster scoped objects and return the object. Logging a
warning is probably a good idea that we are ignoring the namespace.

The APIReader ignores the namespace for cluster-scoped gets. The cache should behave similarly.

[2021-01-08 19:06] joelanford commented on #1323
This may be related to https://github.com/kubernetes-sigs/controller-runtime/issues/934.

[2021-01-09 19:00] invidian commented on #866
I'm not sure if I find time to implement this, as I can workaround it by putting required information in label for now.

[2021-01-10 13:38] StevenACoffman commented on #244
/remove-lifecycle stale

[2021-01-11 04:59] alvaroaleman commented on #1301
Any good reason to not simply use [`predicate.Funcs`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/predicate#Funcs.Update)?

I don't think we should be adding a `Predicate` implementation for each possible way an object can change.

[2021-01-11 06:27] scuzhanglei commented on #872
now there is a workaround,

[code]

[2021-01-11 06:48] scuzhanglei opened #1328 "Add old object for webhook Defaulter interface"
admission [Defaulter interface](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/admission/defaulter.go) like this:
[code]
it does not include old object, sometimes need get the old value from the old object. of course, we can get the old object from apiserver with a client, but this would introduce unnecessary overhead.

we can change the interface to this, if it is a

[2021-01-11 06:53] coderanger commented on #1328
You can get the old values from the self pointer, it's filled in for you with whatever the object is. See https://github.com/coderanger/rabbitmq-operator/blob/main/api/v1beta1/rabbitvhost_webhook.go#L39-L41 for an example.

[2021-01-11 07:46] scuzhanglei commented on #1328
@coderanger thanks, for some reason, sometimes we can't get old value from the object.
for example I have a VM CRD, the VM has a field `macAddress`, the defaulter webhook would generate a new macAddress if it is not specifield in the yaml file, like below:

1. kubectl apply -f vm.yaml
[code]
2. the default webhook would generate a macAddress,after webhook handled the VM resource is:

[code]

3. ku

[2021-01-11 07:58] coderanger commented on #1328
Yes, it is doing what you told it to. `macAddress:` is the same as `macAddress: null` which is overwriting the previous value so it's `nil` again by the time you see it again. Remove the field from the second apply and try again.

[2021-01-11 08:10] scuzhanglei commented on #1328
nope, remove `macAddress` field from yaml file couldn't fix the problem, cause `macAddress` is a sub field of `networkInterfaces`, and `networkInterfaces` is a list. the merge strategy is described [merge-individual-elements-of-a-list-of-complex-elements](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#merge-individual-elements-of-a-list-of-complex-elements). take a

[2021-01-11 08:23] coderanger commented on #1328
Fair, that would do it too. Regardless, the value as seen in the webhook body is available in the object. That's all you can get without making your own get call which introduces all kinds of race conditions so I don't think there is anything that can be improved on the controller-runtime side here.

If you do want to make a client call, you can use the lower level webhook API and pass in the clie

[2021-01-11 18:30] #1323 closed

[2021-01-11 19:25] georgettica commented on #1190
/remove-lifeycle-stale
Adding more eyes from my team, who have stronger opinions on the subject

[2021-01-11 20:17] aharbis opened #1330 "Builder.Watches + EnqueueRequestsFromMapFunc = invalid kind"
I'm working on migrating our operator to Operator SDK `v0.19.4`, and along with that comes a `controller-runtime` bump to `v0.6.1`. We use a custom event handler, which I've used `EnqueueRequestsFromMapFunc` to register via `Watches`. Here's the basic structure:

[code]

However, somewhere along the way of the controller being created and this registered, I get back a very generic error:

If I swi

[2021-01-11 20:26] aharbis commented on #1330
For clarity, this was purely for proof of concept and troubleshooting. Since we use a custom event handler, we are reliant upon registering it with `EnqueueRequestsFromMapFunc`. I'm not aware of a mechanism to register a custom event handler with `For`/`Owns`, but if that's feasible it might be a viable workaround.

[2021-01-12 22:45] georgettica commented on #1190
After discussion, the signal is for internal operator work.

This way we can signal "skip this step, no-op" and not break the whole loop.

Maybe an intermediary object for it?
This internal paradigm might be useful for other operators

[2021-01-12 23:34] camilamacedo86 commented on #1190
Hi @georgettica,

If you want to stop the reconcile you can just return null and it will stop and no longer do any operation.
As @dvob described the idea is that is idempotent which means that it works like a loop until the desired state is achieved.

Is it make sense? WDYT about we close this one?

[2021-01-13 17:48] georgettica commented on #1190
I am fine with that. Understood it's not relevant to others and no need for it to upstream so yes

[2021-01-13 17:48] #1190 closed

[2021-01-13 22:22] christopherhein opened #1333 ":sparkles: Ability to modify Admissions Request context"
I would like to be able to get access to all or some of the http.Request.Context from within an Admission webhook handler. This could be for getting the path, parameters, adding tracing information, etc. This should be something you can opt into since it could bloat the context if we just added the entire request object.

### Proposal

Modify admission.Webhook struct to include optional `WithConte

[2021-01-13 22:29] christopherhein commented on #1333
This extends the functionality added #549

[2021-01-13 23:04] vincepri commented on #1333
+1 on the proposal from my side, it seems an iterative improvement that can be useful to lots of folks

[2021-01-14 01:19] #1333 closed

[2021-01-14 17:27] vincepri commented on #1020
/remove-lifecycle stale

[2021-01-14 18:17] cflewis opened #1337 "0.8.0 has a data race"
0.8.0 has introduced a data race:

`go test -v -race ./...`

[code]

This error is failing my CI, so I can't upgrade to 0.8 at this time.

[2021-01-14 22:07] joelanford commented on #1330
It looks like you need to use `For`. Otherwise [you're passing a nil pointer for the primary `source.Kind{}`](https://github.com/kubernetes-sigs/controller-runtime/blob/5118ae568d16e0b29bee8b82c58114b50d82574d/pkg/builder/controller.go#L191)

It looks like https://github.com/kubernetes-sigs/controller-runtime/pull/1182 added explicit checks for this, and that PR was released in v0.7.0.

[2021-01-14 22:10] joelanford commented on #1330
So I see you're mapping pods to requests. In your `Reconcile` method, what GVK are you reconciling? You should watch that type with a `For` call.

[2021-01-14 22:15] joelanford commented on #1217
@alexeldeib suggestion of a Predicate is correct. Closing this as solved.

/close

[2021-01-14 22:16] #1217 closed

[2021-01-14 22:32] aharbis commented on #1330
@joelanford Thanks for the tip, and showing how the `For` links in to the impl. of `doWatch()`. I'll give that a shot and see how it behaves in tandem with `Watches`.

To answer your second question, this controller in question is not the primary controller for the custom resource. Technically this controller does not reconcile any GVK. Instead, its purpose is to watch for Pod events and take some

[2021-01-14 22:34] coderanger commented on #1330
That smells more like a webhook than a controller.

[2021-01-14 22:48] aharbis commented on #1330
For some clarification, we do technically have a second GVK that the secondary controller uses as a means of configuration and status reporting, but there's no reconciled object like a Pod as the result. The CR is read at beginning of `Reconcile` to get the config, a goroutine is spun off to perform the operation, and the `status` subresource on the CR is updated during processing.

So there _is_

[2021-01-14 23:33] aharbis commented on #1330
The problem with `For`/`Owns` in this use case is that we need to respond to `Pod` events by triggering reconciliation of a GVK that technically does not own (even indirectly) the Pod.

[code]

The Pod is owned by a StatefulSet, which is owned / managed by our PrimaryCRD and controller. The purpose of this secondary controller is to watch for Pod events in the namespace, filter down to Pods we car

[2021-01-14 23:39] coderanger commented on #1330
Why is `For(SecondaryCRD)` not correct? If that's the object being reconciled then it's the root type for that controller.

[2021-01-14 23:46] aharbis commented on #1330
Two reasons:

1. We want Pod events to trigger the secondary controller’s `Reconcile` method.
2. We have no reason to run `Reconcile` unless a Pod event has occurred.

[2021-01-15 00:23] coderanger commented on #1330
Right, you do For(SecondaryCRD) to set the root type and then use a watch map function on Nodes, with the function mapping them back to the responsible SecondaryCRD so it can be reconciled.

[2021-01-15 00:35] aharbis commented on #1330
Okay, I’ll test out the `For` in combination with my original `Watches` and see how it behaves. I’m concerned that it will generate more reconcile requests than we currently get, but it’s something we might be able to work around.

[2021-01-15 01:42] joelanford commented on #1330
I agree with trying @coderanger's suggestion. Also, what happens if the secondary CRD changes? Do you need to re-reconcile all of the existing pods?

If you end up needing to stick with your existing setup, I'm still curious about my original question. In your map function, you're getting a pod event, and then creating a request with the name and namespace of that pod. And then it sounds like you'

[2021-01-15 04:46] alvaroaleman commented on #1337
/assign

[2021-01-15 14:19] #1337 closed

[2021-01-15 16:30] aharbis commented on #1330
@joelanford In our current operator, nothing. In the controller's `add()` function, we had only:

[code]

There was technically no link between the SecondaryCRD and the controller, from the perspective of the watches.

I should clarify that the "basic" map function I showed in the top comment was mostly to demonstrate a minimal failing case; in our operator there's a more intelligent map function

[2021-01-15 17:02] cflewis commented on #1337
Thanks for the great work! :rocket:

[2021-01-15 17:56] joelanford commented on #1330
@aharbis Got it! I missed that part in your comment. I think another option here is to skip the use of the `Builder` and directly create and register the controller with the manager, and then add watches with [`controller.New()`](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.6.1/pkg/controller#New) and then `c.Watch()` in the [`Controller`](https://pkg.go.dev/sigs.k8s.io/controller-runtime@

[2021-01-15 19:36] aharbis commented on #1330
Oh, neat. I didn't realize that API was still available, but that makes sense.

I did get the `For` and `Watches` combination to work, but I suspect that updates to the SecondaryCRD instance would trigger reconciliation. While this is "new" behavior compared to our current controller implementation, it may not be a bad thing in the long run if we add more functionality to that controller that woul

[2021-01-15 19:36] #1330 closed

[2021-01-18 06:23] kotyara85 opened #1342 "MatchingFields - field label not supported: spec.Name"
Hey there,
We have crds with a spec:
Name string
Value string

When I try get a list with MatchingFields filter I'm getting this error -
[code]

Is there anything extra needs to get done to make this work?

I use this client to connect to k8s - sigs.k8s.io/controller-runtime/pkg/client

[2021-01-18 06:40] coderanger commented on #1342
Fields always need an index created ahead of time before you can query on them. Did you create an index named `spec.Name`?

[2021-01-18 06:42] kotyara85 commented on #1342
@codenrhoden No, I didn't. This query is not a part of controller.

[2021-01-18 06:58] coderanger commented on #1342
You still need to define an indexer, regardless of what you're using the client for. https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup has details on the process.

[2021-01-18 11:07] charith-elastic opened #1343 "source.Channel gets shutdown almost immediately and never processes any events"
After upgrading to controller-runtime 0.8.0, I discovered that our external event source implemented using `source.Channel` is not generating any events. Looking at the code, one odd thing that stood out to me was the useless lock here: https://github.com/kubernetes-sigs/controller-runtime/blob/818a2ce212912c980b53b9714b8ebcbf5c36a54f/pkg/source/source.go#L241-L244

It used to protect the [append

[2021-01-18 13:13] michael-db opened #1344 "Defaulter interface does not allow rejection, contrary to K8s"
"Mutating webhooks may choose to reject an object, similarly to a validating webhook." This capacity is not respected by the controller-runtime code, which imposes its own restrictions in not allowing Default() to complain. To fix this, Default() must return error.

Sample problem scenario: A mutating admission controller may fail to set a default for any one of several reasons. It has no way to r

[2021-01-18 14:46] charith-elastic commented on #1343
I think I found the root cause: https://github.com/kubernetes-sigs/controller-runtime/blob/3c5b3583fd3042a6bb4edabf301bbffcc56218b1/pkg/internal/controller/controller.go#L163-L171

The context created in line 166 is cancelled almost immediately by the `defer` statement. That context is used by the `source.Channel` implementation to control the goroutine that distributes the events: https://github.

[2021-01-19 09:40] kotyara85 commented on #1342
Yes, I added a new indexer to the field

[code]

kubectl still returns this error - ```that match label selector "", field selector "spec.Name=www": field label not supported: spec.Name```

[2021-01-19 09:45] coderanger commented on #1342
Are you using kubectl or the controller-runtime client library?

[2021-01-19 14:54] alvaroaleman opened #1346 "source.Kind and source.Channel interpret the ctx arg to their Start method differently"
`source.Channel` will shutdown when the `context.Context` passed to its `Start` gets cancelled, whereas `source.Kind` uses that arg go get an Informer and then ignores it.

Because of that, it is currently not possible to implement a proper cacheSyncTimeout without breaking `source.Channel`.

We should:
* Clarify on the interface definition what the meaning of the `context.Context` arg to `Start`

[2021-01-19 14:54] alvaroaleman commented on #1346
/kind bug

[2021-01-19 14:55] #1343 closed

[2021-01-19 15:32] charith-elastic commented on #1346
Hi @alvaroaleman I am most likely missing something; I don't see why #1345 breaks `waitForCacheSync`. Isn't that case being handled here: https://github.com/kubernetes-sigs/controller-runtime/blob/73c52e88006855d20f7bdba45e56c7c1a78c0e52/pkg/internal/controller/controller.go#L174-L196

[2021-01-19 15:38] alvaroaleman commented on #1346
@charith-elastic because if the cache is already started, which is usually the case as the manager does that, we will:
* Get an informer: https://github.com/kubernetes-sigs/controller-runtime/blob/73c52e88006855d20f7bdba45e56c7c1a78c0e52/pkg/source/source.go#L114
* This then by default calls this implementation: https://github.com/kubernetes-sigs/controller-runtime/blob/73c52e88006855d20f7bdba45e5

[2021-01-19 15:54] charith-elastic commented on #1346
I see. Thanks for the explanation.

[2021-01-19 18:29] camilamacedo86 commented on #1300
/breaking change

[2021-01-19 18:33] camilamacedo86 commented on #1344
/kind breaking-change

[2021-01-20 05:35] williamaronli commented on #524
hi meet the same issue @xcoulon could you share us how you deal with this issue?

```can't assign or convert unstructured.Unstructured into v1alpha3.WorkloadGroup```

[2021-01-20 18:36] mjaow opened #1349 "Does it have cache when first update and then read it immediately"
When I'm trying to update the deployment

[code]
then I read it immediately , to check if deployment is ready, if not, requeue with several secs

[code]
I found the annotation "deployment.kubernetes.io/revision" is not changed. It seems a stale state. As it's stale, I cannot find the right replicasSets with latest revision.

But when I try to use kubectl to see the revision of deployment, it's upd

[2021-01-20 20:08] lzang opened #1350 "Allow creating a controller that doesn't watch anything at the init time."
We have a use case that we need to generate a controller that doesn't watch anything at the beginning.
The source of watch is added after the controller creation as it is from a remote cluster.

This functionality can be easily achieved if we add one more function to the controller-runtime builder function which is almost the same with Build() but no watch is called.  Will submit the patch soon. P

[2021-01-20 21:37] coderanger commented on #1349
There is indeed a delay due to the informer cache. You can either use an uncached client or just look at the post-Update object directly.

[2021-01-21 01:54] #1135 closed

[2021-01-21 03:12] lzang commented on #1350
Will do the alternative as suggested in the CL.

[2021-01-21 03:12] #1350 closed

[2021-01-21 09:41] shaikatz opened #1353 "context.TODO() in the example"
https://github.com/kubernetes-sigs/controller-runtime/blob/5c2b42d0dfe264fe1a187dcb11f384c0d193c042/examples/builtins/controller.go#L45

Hi, why do we use `context.TODO()` instead of using the function's `ctx`?
Looks like it's a leftover from before the `Reconcile` function received a context.

[2021-01-21 13:11] charith-elastic commented on #1346
I have a couple of ideas about supporting cache sync timeout:
- Before the controller starts any watches, get the cache and call `WaitForCacheSync` on it so that we know any subsequent use of it by the different Source implementations will work.
- Pass the cache sync timeout as a context value (`context.WithValue`). Whoever calls `WaitForCacheSync` should check for the existence of the timeout key

[2021-01-21 18:02] alvaroaleman commented on #1346
Regarding the first option, the problem is that we have to first get an informer for the kind we are interested in, otherwise synced doesn't mean "synced for the object kind you are care about".

The second option sounds like a great idea to me.

Today I also realized that when you changed the context to not have a timeout, you did not remove the [testcase](https://github.com/kubernetes-sigs/contr

[2021-01-21 18:39] croomes commented on #1035
I had the same issue but I couldn't find a good way to disable stack traces completely.  I checked klog but couldn't find anything relevant.  Allowing the user to set `panic` as the `--zap-stacktrace-level` seems like a simple solution.

[2021-01-21 18:39] rashmigottipati commented on #1353
It does look like the PR that added context w/ logger to Reconciler interface missed switching to using the function's ctx, so it has leftover from the previous Reconcile function.

[2021-01-21 18:39] rashmigottipati commented on #1353
/assign

[2021-01-21 19:03] #1353 closed

[2021-01-21 19:39] #1294 closed

[2021-01-21 21:06] cbandy opened #1356 "client.Apply sends creationTimestamp = null"
We're trying to use server-side apply, and sometimes getting "extra" watch events that result in a feedback loop. I think I narrowed it down to the patch payloads generated by `client.Apply`.

First, sending `metadata { creationTimestamp: null }` causes `resourceVersion` to change on the objects I tried. Here's a ConfigMap:

[code]

Second, if I understand correctly, that change to `resourceVersio

[2021-01-22 14:07] #1035 closed

[2021-01-22 19:35] #1090 closed

[2021-01-22 20:15] cbandy opened #1357 "envtest with Kubernetes 1.20"
There is a kubebuilder-tools-1.20.2 since kubernetes-sigs/kubebuilder@3147a65d1a90f10c2d9c48c7e8497be6e6576f7b, but as pointed out in kubernetes-sigs/kubebuilder#1902 this version has stronger opinions about `--insecure` flags. See kubernetes/kubernetes@cfc2b330a7027e109ac26fc6a86b68898883099e.

When I try to use controller-runtime@v0.8.1 with kubebuilder-tools-1.20.2, the control plane does not s

[2021-01-22 22:37] #745 closed

[2021-01-22 22:48] alvaroaleman commented on #745
The design did get implemented, so having it closed is fine I think.

[2021-01-24 02:04] #1142 closed

[2021-01-24 18:20] #1143 closed

[2021-01-24 20:23] foriequal0 commented on #1257
I have the same issue!

[2021-01-25 06:37] jiachengxu commented on #1081
/remove-lifecycle stale

[2021-01-25 07:44] fengye87 commented on #1328
Hi @codenrhoden , I think what we need here is to let controller-runtime pass what's inside AdmissionRequest's `OldObject` field to the Default interface, to make it possible to default some value for the new object from the old one, especially for a List type field. Without the build-in ability to get the old object in Default interface, we have to use a lower level webhook API, which is more ver

[2021-01-25 08:23] coderanger commented on #1328
Given how niche of a thing that is, I don't think that needs to be exposed in the high-level interface. Using the low-level one seems fine.

[2021-01-25 11:05] charith-elastic commented on #1346
The test cases only check sources that are `SyncingSource`s so my change wouldn't affect them. I should have added a case for `Channel` though. I didn't notice it was missing at that point.

I am a bit busy at the moment so it might take a little while for me to start working on this. If anybody else wants to take it on in the mean time, leave a comment here so that I know you're working on it.

[2021-01-25 11:41] mjaow commented on #1349
@coderanger  do you know how to look at the post-update object?

[2021-01-25 14:43] chinglinwen commented on #1321
I have found out that, I can skip to don't use config.GetConfig. so no problem.

[2021-01-25 14:43] #1321 closed

[2021-01-25 15:08] charith-elastic opened #1359 "Data race in the delegating logger"
In `DelegatingLogger`, I think the `Fulfil` method needs to be protected by a lock as well. After upgrading to 0.8.1, our test suite reliably fails when run with the Go race detector. After I added locking code to the `Fulfil`  method, the race detector became happy again.

I can raise a PR for the change but I am struggling to produce a simple test case that reliably triggers the issue.

[2021-01-26 04:28] alvaroaleman commented on #1359
Do you have a sample stacktrace for this race?

[2021-01-26 04:59] varshaprasad96 commented on #1346
I have been following this thread. I can help with this and update the findings here.

[2021-01-26 05:56] codeblooded opened #1360 "Failure to create node resources with envtest"
I know that envtest does not emulate real nodes, but can we create a node resource? I'm trying to test some logic of a controller that is dependent on the status of nodes with specific labels. I attempt to create nodes, like-so:

[code]

The assertion fails with the following error:

[code]

I would expect to be able to create a node like any other resource. Am I missing something?

---

Version:

[2021-01-26 08:04] charith-elastic commented on #1359
[code]

Adding a lock to `Fulfill`, as I suggested, causes all controller-runtime tests to fail with deadlock.  Because it's a recursive data structure, I am struggling to reason about it.  It could be that the way we use the log package in our code is wrong. I'll  keep investigating.

[2021-01-26 09:22] charith-elastic commented on #1359
I think it is because of the init function that injects a null logger after 30 seconds. https://github.com/kubernetes-sigs/controller-runtime/blob/9e78e653228851684b6b9cdabe5aae8559fe3722/pkg/log/log.go#L60-L70

We don't call `log.SetLogger` in our tests. So, after 30 seconds the logger is replaced by the goroutine above. The methods of the `logr.Logger` embedded into `DelegatingLogger` (such as `

[2021-01-26 16:20] camilamacedo86 commented on #879
HI @djzager and @joelanford,

It shows done already. See: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/source/source.go#L57

Can we close this one?

[2021-01-26 16:34] camilamacedo86 commented on #935
Hi @shomron,

Could you please let us know if it still a need? Shows that yes,

You said that you forked controller-runtime and applied your needs on it. Why you did not push a PR against master with your suggestions? Would it be possible? Maybe it can also clarify better your need and required changes that you are asking here.

If it is too significant changes in its design, wdyt about push a PR

[2021-01-26 16:42] alvaroaleman commented on #1359
Well, I added locking around the logger replacing that is done via Fullfill in https://github.com/kubernetes-sigs/controller-runtime/pull/1339, that is why I am confused as to why this still happens

[2021-01-26 16:46] camilamacedo86 commented on #1081
Hi @jiachengxu,

For webhooks shows that it will use a map where the GVK is the index. So, I think it would not have duplications, See: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/webhook.go#L211. However, I might be missing something here. So:

- Could you please describe the steps required to be performed/reproduce the issue that motivates you to make this RFE?

[2021-01-26 16:49] camilamacedo86 commented on #1150
Hi @vincepri,

Should not it be prioritized for the next milestone since soon we will be bumping the k8s api that will no longer supported the deprecated ones?

[2021-01-26 16:57] camilamacedo86 commented on #1158
Hi @FreeZhang61,

Shows that what you are looking for is:

[code]

So, I am closing this one as sorted out. However, please feel free to raise a new issue if you still needing help with.

[2021-01-26 16:57] #1158 closed

[2021-01-26 16:57] vincepri commented on #1150
Possibly yeah

[2021-01-26 16:57] vincepri commented on #1150
/milestone v0.9.x
/help
/remove-lifecycle reotten

[2021-01-26 16:58] vincepri commented on #1150
/remove-lifecycle rotten

[2021-01-26 17:04] camilamacedo86 commented on #1161
HI @ellistarn and @bsctl,

Shows that it is done in the master with https://github.com/kubernetes-sigs/controller-runtime/pull/1293. COuld you please check and close this one if it is the case?

[2021-01-26 17:16] camilamacedo86 commented on #1171
@vincepri since it is priority bug, could we not add it to a milestone 0.9 or 0.10?

[2021-01-26 17:21] camilamacedo86 commented on #1177
@vincepri,

Is not it blocker by Cluster API implementation? So, could we not add here the label triage/blocked as well?

[2021-01-26 17:27] camilamacedo86 commented on #1185
It shows done already.
So, I am closing this one. However, please feel free to ping if it requires to be re-open.

[2021-01-26 17:27] #1185 closed

[2021-01-26 17:28] camilamacedo86 commented on #1186
Based on the comment `I brought this up at the sig meeting, and I got the go-ahead to implement this. It was requested that this info be logged at a very high level.` I am labelling it as help-wanted and triage/accepted.

[2021-01-26 17:30] camilamacedo86 commented on #1188
Hi @iammuho,

Could you please check if it is not done for the latest release of the project already? Also, could you please let us know how can we reproduce your scenario?

[2021-01-26 17:34] camilamacedo86 commented on #1210
It was requested in the Controller-runtime meeting in order to address security concerns.

[2021-01-26 20:32] coderanger commented on #1360
Are you sure you aren't populating `nodes` once and then using it multiple times? `Create()` puts the returned object data back into the pointer its given so you can't call it twice on the same object. If you change that to `k8sClient.Create(context.Background(), node.DeepCopy())` it will likely work.

[2021-01-26 20:37] coderanger commented on #1186
On my list to shift upstream is this code https://github.com/coderanger/controller-utils/blob/e26c5734ecc941a03e9bf8798886a419e5202126/predicates/update_debug.go

Would probably answer this need?

[2021-01-26 21:08] codeblooded commented on #1360
@coderanger That makes sense. That was an id10t error on my part. Apparently somewhere else in the test suite identical nodes were created. Totally missed that. Apologies.

[2021-01-26 21:08] #1360 closed

[2021-01-27 03:46] jiachengxu commented on #1081
Thanks @camilamacedo86, you are right, this is not an issue, I will just close this.
/close

[2021-01-27 03:47] #1081 closed

[2021-01-27 17:07] #1359 closed

[2021-01-27 21:56] kellengreen commented on #702
Hello all, Is there a workaround for this at the moment?

[2021-01-27 22:35] alvaroaleman commented on #702
Not to my knowledge. We are happy to take a PR for this that changes the client to work with both UnstructuredList and SomeObjectList if someone is interested.

[2021-01-28 13:36] crew-helper opened #1363 "Start Envtest processes in parallel"
Hi.

We use envtest to write integration tests and it looks great, very easy, and fast to start!
Though our resource takes considerable time to start as it waits for the external providers and update/create may take around 10 minutes. So with growing amount of tests we'll end up in long running time for the integration tests.

I sought ways to parallize this and as with ginkgo this looks quite sim

[2021-01-28 20:03] hfgbarrigas commented on #1191
Any updates on this? Getting the same error. Using go mod vendor won't help because non go files are pruned.

Apart from crd paths, the environment has an attibute CRDs that looks promising but having issues using it since I can't find any documentation around it . Maybe @camilamacedo86 can shed some light?

[2021-01-28 20:06] michaelgugino commented on #1280
https://github.com/kubernetes-sigs/controller-runtime/pull/1089 appears to sometimes cause a panic:

https://bugzilla.redhat.com/show_bug.cgi?id=1921892#c0

This appears to be caused by the recorder channel being closed prior to actually stopping the reconcile loop.  I've had this fail numerous times in CI, but local reproducibility is about 10%.

[2021-01-29 09:09] hfgbarrigas commented on #1191
For those running into this, here's how to properly add the external crd manifests to envtest:

[code]

[2021-01-29 19:44] JoelSpeed commented on #933
/remove-lifecycle stale

Have added a WIP PR to implement an initial version of this

[2021-01-30 17:41] #1048 closed

[2021-02-03 10:13] Xiaoyang-Gu opened #1366 "Fail to find compatible kubebuilder-tools when run setup-envtest.sh on my arm64 machine"
When I run setup-envtest.sh file to init a new project, I get a error because I can't get the arm64 kubebuilder-tools on this line [link.](https://github.com/kubernetes-sigs/controller-runtime/blob/a763c9a36c6f18660799384c9765348942bda53a/hack/setup-envtest.sh#L87) .
I can only find amd64 tools on this link. [https://storage.googleapis.com/kubebuilder-tools](https://storage.googleapis.com/kubebuil

[2021-02-03 14:22] xrstf opened #1367 "Panic in Event Broadcaster"
While updating from 0.6.5 to 0.8.1, I noticed that our code suddenly began panic'ing:

[code]

The offending code tries to create an Event after a reconcile loop ended in an error:

[code]

[2021-02-03 14:42] xrstf commented on #1367
Looking deeper into it, it seems this can be caused by our own controller. We dynamically start and stop Managers at runtime, to react to kubeconfigs appearing/disappearing in the main cluster (and for each of these kubeconfig Secrets, we would reconcile a set of controllers).

To prevent each new controller instance from having to re-cache everything, we used the same cache for all instances, i.e

[2021-02-03 14:48] xrstf commented on #1367
And going further, to prevent starts and stops, we wrapped a cache in this beauty:

[code]

Judging from the InformerMap's `Start()` function:

[code]

... it seemed we are missing the blocking, and instead return immediately. Patching the `unstartableCache` to have

[code]

makes the panic go away. So I guess this is just me not completely adjusting everything to the new context handling in ctrlr

[2021-02-03 16:11] mvladev commented on #1367
I was just about to write an issue about this:

[code]

[code]

The code above fails reliably all the time. What's happening:

- Controller Manager + Pod Controller + Event recorder starts
- The Pod controller receives one Pod to reconcile
- The reconcile operation is "slowed" down by adding artificial work `time.Sleep(time.Second * 4)`
- While that reconciliation happens, the controller manager i

[2021-02-03 16:13] mvladev commented on #1367
The error from above is for `sigs.k8s.io/controller-runtime v0.7.1`

[2021-02-03 18:53] alvaroaleman opened #1368 "Add integration test that uses source.Channel"
We broke source.Channel entirely and didn't notice that until after a release. We should add an integration test that verifies that events written to a source.Channel trigger a reconciliation.

[2021-02-03 19:06] alvaroaleman commented on #1367
The broadcaster can be shutdown, but it appears it doesn't properly handle events after that (should it?) . See also https://github.com/kubernetes/kubernetes/pull/95664/files for a recent change to make it properly shutdown by @DirectXMan12

[2021-02-03 22:09] vincepri commented on #1171
I was waiting for the bug to be cherry picked, but yeah we can add it

[2021-02-03 23:20] vincepri commented on #1222
Fixed in #1249

/close

[2021-02-03 23:20] #1222 closed

[2021-02-04 10:06] mvladev commented on #1367
I've applied the changes from https://github.com/kubernetes/kubernetes/pull/95664 however the behavior is still the same.

What I've done is to check if shutdown of the broadcaster has already happened.

[code]

[2021-02-04 21:06] asilverman opened #1369 "Add logging to the creation of a health-check probe"
When a metrics server is initialized by a `ControllerManager`, it logs to STDOUT that theres a new listener and its port, see https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/internal.go#L380

However the same doesn't happen for the health-probe see -> https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/internal.go#L416-L421

I am filing this

[2021-02-04 21:12] rashmigottipati commented on #1369
/assign

[2021-02-05 11:07] mythi opened #1370 "move certwatcher to k8s.io/utils?"
`certwatcher` looks useful for my use-case but I'm thinking it might be better to be used from `k8s.io/utils`. WDYT if I move it?

[2021-02-06 01:20] varshaprasad96 commented on #1346
I have created a [PR](https://github.com/kubernetes-sigs/controller-runtime/pull/1373) which adds test cases to verify the controller when source.Channel. Digging up in the code, the observations discussed here seem to be right. When a `source.Kind` is passed, we get the informer during which we wait for caches to sync. If we dont pass the context with a timeout we would still not be having issue

[2021-02-07 03:36] #1132 closed

[2021-02-08 04:38] Kevinma1995 commented on #934
there is also some issue with list, when list cluster scoped resource, the result contains duplicate resources that come from multiple informer cache

[2021-02-08 08:37] timebertt opened #1375 "Support creating strategic merge patch"
Currently, strategic merge patches can be sent using `client.RawPatch` like this:
[code]

This will sent a patch looking like this, which will leverage the API's `mergeKey`:
[code]

It would be nice to support creating such strategic merge patch similar to `client.MergeFrom` (which will create a json merge patch), like this:
[code]

[2021-02-08 11:18] imilchev commented on #866
I am also interested in this and is quite annoying for me that I cannot even inject custom behaviour in the fake client. I am willing to work on adding this feature if someone has any suggestions how to incorporate it. I saw how the kubernetes API implements this [here](https://github.com/kubernetes/kubernetes/blob/d0439d417b0563d44c65b6e400e2070964dea7d1/pkg/registry/core/pod/strategy.go#L235-L24

[2021-02-08 11:19] imilchev opened #1376 "Field selector filtering in fake client"
I am also interested in this and is quite annoying for me that I cannot even inject custom behaviour in the fake client. I am willing to work on adding this feature if someone has any suggestions how to incorporate it. I saw how the kubernetes API implements this [here](https://github.com/kubernetes/kubernetes/blob/d0439d417b0563d44c65b6e400e2070964dea7d1/pkg/registry/core/pod/strategy.go#L235-L24

[2021-02-09 12:16] vinod-patil opened #1377 "Duplicate cluster scoped objects while listing using MultiNamespacedCache"
I am using manager client to list and get resources from cache with below option to cache objects from multiple namespaces
[code]
But whenever I list cluster scoped resources function is returning duplicate resources after [combining resources from each namespace](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/multi_namespace_cache.go#L159) map so in my case resource c

[2021-02-09 12:23] vinod-patil opened #1378 "Unknown namespace for the cache error while Getting cluster scoped for MultiNamespacedCache"
While using MultiNamespacedCache with manager, if we try to get a cluster scoped resource as
cluster scoped resource doesn't have any namespace (empty namespace), it's returning unknown namespace error
[code]

[2021-02-10 19:33] vincepri commented on #801
/close

This has been implemented

[2021-02-10 19:33] #801 closed

[2021-02-11 06:09] avrahams opened #1383 "ENVTest - cannot delete PVCs"
My test creates a Persistent Volume Claim but cannot delete it.
The PersistentVolumeClaim is stuck in pending status and would not delete

[2021-02-11 14:18] alvaroaleman commented on #1215
/remove-lifecycle rotten
/lifecycle frozen

Addressing this would be great

[2021-02-12 09:14] camilamacedo86 commented on #1191
Hi @hfgbarrigas,

Just to confirm. We can close this one since the error here was solved. by adding the correct path for the CRDs. Am I right?

[2021-02-12 22:03] varshaprasad96 commented on #1110
@vincepri RestMapper is going to map the GroupVersionKinds to Resources passed. Can the [DefaultRestMapper](https://github.com/kubernetes/apimachinery/blob/2456ebdaba229616fab2161a615148884b46644b/pkg/api/meta/restmapper.go#L57) serve this purpose? It would expose the mappings between the types defined in the scheme which is passed while creating the fakeclient.

[2021-02-15 11:49] avrahams commented on #563
I am also trying to test me webhooks locally with env test
I called SetupWebhookWithManager but when I try to do create or update to  my CR I get this error log from the control panel
[code]

[2021-02-16 02:28] alvaroaleman commented on #1377
Sounds like the MultiNamespaceCache needs proper handling for cluster-scoped resources. Objections to converge this issue into https://github.com/kubernetes-sigs/controller-runtime/issues/1378 and close it?

[2021-02-16 02:28] alvaroaleman commented on #1378
/kind bug
/help

[2021-02-16 02:31] alvaroaleman commented on #1370
I think that is more of a question for the k8s.io/utils maintainers than for contorller-runtime?

[2021-02-16 04:15] alvaroaleman commented on #1346
To verify this, when I remove the cacheSyncTimeout implementation, the test case here does fail. And instead, if we pass a context with timeout while starting the event source, the other test in PR fails.

The initial reason for wanting the cache sync is to make binaries crash if they can not establish a watch, which in most cases is caused due to misconfigured rbac. Right now there are two reason

[2021-02-16 04:21] alvaroaleman commented on #1357
Yeah, getting this fixed and not using `insecure-port` in envtest would be great. In addition to working with newer kube versions, it would also allow us to write tests that require rbac and not be implemented via the `allow-all` authorized that is used for the insecure port, xref https://github.com/kubernetes-sigs/controller-runtime/issues/1346#issuecomment-779569663

/help

[2021-02-16 08:50] hfgbarrigas commented on #1191
Hi @camilamacedo86,

I'd be inclined to close it. Though some documentation on how to do it and why using go modules would nice for future reference.

[2021-02-16 22:14] ellistarn commented on #1161
Will check it out! Thanks.

[2021-02-17 14:15] jdef opened #1384 "wanted: mechanism to explicitly disable webhook server of a manager"
AFAICT the webhook server is automatically started, based on the presence of hook registration calls. In an effort to guard against libraries setting up webhooks on a manager, or at least to be able to detect when they rely on such behavior, I'd like to be able to explicitly disable the webhook server to flag hook-registration attempts. One idea I had was to choose a bad port for the webhook serve

[2021-02-17 16:00] mvladev opened #1385 "Auth{n,z} delegation for Webhooks / endpoints (metrics, healthz, etc...)"
In newer Kubernetes versions its possible configure API servers to [authenticate](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#authenticate-apiservers) when making calls to Mutating / Validating Webhooks. For this to work, the webhook has to have [several filters](https://github.com/kubernetes/kubernetes/blob/cd21a1240a5f07e9b6c5f48e72cfd354b5183d34/cmd

[2021-02-17 20:36] coderanger commented on #1220
Going to close this out. If the caching behavior is not desired it can be disabled either via setting the cache-skipped GVKs are using an uncached client instance.

/close

[2021-02-17 20:36] #1220 closed

[2021-02-17 23:30] alvaroaleman commented on #1384
/help

If 0 already has a meaning, maybe use a negative value for disabling?

[2021-02-18 02:19] 110y opened #1386 "envtest: error with kustomization.yaml"
Currently, if the directory which is specified by `CRDDirectoryPaths` includes `kustomization.yaml`, the envtest server raises an error like below:

[code]

I think it's better to make envtest just ignore files that are related to Kubernetes but are not Kubernetes resources.

[2021-02-18 02:22] 110y commented on #1386
I've just create a draft PR for this issue: https://github.com/kubernetes-sigs/controller-runtime/pull/1387

[2021-02-18 11:19] JoelSpeed commented on #1007
/remove-lifecycle rotten

Still think this would be useful longer term

[2021-02-18 13:07] muvaf opened #1388 "Isn't Hub and Spoke model for conversion webhooks already baked in in api-server?"
Hi folks!

I'm working on integrating conversion webhooks to Crossplane provider resources. I have read through the [Kubernetes doc](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning) about conversion webhooks and the [kubebuilder book](https://book.kubebuilder.io/multiversion-tutorial/conversion-concepts.html) on how they are implemented in

[2021-02-18 20:35] jdef commented on #1384
Using a negative value this way would, I think, be breaking behavior since the current impl translates negative values to the default of 9443. Not sure if anyone in the wild is leveraging this.

[2021-02-22 06:20] mythi commented on #1370
@alvaroaleman I can check that too. The repo has acceptance criteria defined too so `certwatcher` would first need to be made compliant...

[2021-02-23 18:04] dmvolod opened #1392 "controllerutil.CreateOrPatch doesn't update not empty Status fields if Spec fields are specified"
If we would like to patch custom resource with some `Spec` fields and `Status` which are not empty, the controllerutil.CreateOrPatch patches `Spec` only fields, but any `Status` keep unchanged,
`result` returns `OperationResultUpdatedStatus` which means that both `Spec` and `Status` where updated
The reason why this happens is that the original `Status` of the object is returned when the" Patch "p

[2021-02-23 18:27] dmvolod commented on #1392
Reproducer created. See linked commit

[2021-02-23 18:32] coderanger commented on #1392
Do you have the status subresource enabled? If so, you need to specifically use a status writer call.

[2021-02-23 19:12] dmvolod commented on #1392
@coderanger are you mean `// +kubebuilder:subresource:status` instruction? Yes, we have it.
What does status writer call means. This function works fine with `Spec` and non `Status.Condtions` updates

[2021-02-23 19:17] estroz commented on #1191
This would be a nice FAQ entry.

[2021-02-23 20:28] coderanger commented on #1392
Turning on that subresource means that all changes to fields under `.status` will be blocked from calls to `client.Update()`. You must separately use `client.Status().Update()` (which in turn only applies changes under `.status`). This is the purpose of the status subresource. If you don't want that behavior, don't enable it :)

[2021-02-24 01:12] #1368 closed

[2021-02-24 04:18] dmvolod commented on #1392
@coderanger please pay attention that,
- we are using and talking about `controller-runtime` library function called `controllerutil.CreateOrPatch` and it implementing with separate resource `Spec` and `Status` Patch https://github.com/kubernetes-sigs/controller-runtime/blob/5fd841429031b0fdb0b5cf2036f18871899d05aa/pkg/controller/controllerutil/controllerutil.go#L234
- first (empty `Status` field)

[2021-02-24 07:47] chrischdi opened #1396 "Import of controller-runtime calls flag for "kubeconfig""
Hi there :-),

we are consuming `cluster-api-provider-openstack` which imports `kubernetes-sigs/controller-runtime`.

Because [alias.go](https://github.com/kubernetes-sigs/controller-runtime/blob/master/alias.go#L23) is importing `sigs.k8s.io/controller-runtime/pkg/client/config` it always defines the ["kubeconfig" flag](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/

[2021-02-24 09:32] snorwin opened #1397 "Dynamically add and remove informers from the informer cache"
It would be great if an informer could also be removed from the informer cache (e.g. if a dynamically managed crd is deleted). I found a great proposal for this feature in the [OPA gatekeeper](https://github.com/open-policy-agent/gatekeeper).

The proposed solution adds a additional stop `chan`  to each `MapEntry` which allows you to stop this individual informers without stopping the entire infor

[2021-02-24 22:33] alvaroaleman commented on #1397
Dynamic add already exists, removal is tracked in https://github.com/kubernetes-sigs/controller-runtime/issues/935

[2021-02-24 22:33] #1397 closed

[2021-02-25 06:27] chrischdi commented on #1396
Addition: the same thing happens when importing `sigs.k8s.io/cluster-api-provider-openstack/api/v1alpha4`.

[2021-02-25 12:47] #1183 closed

[2021-02-25 16:51] #935 closed

[2021-02-25 17:52] #1162 closed

[2021-02-25 22:48] varshaprasad96 commented on #1378
@alvaroaleman, would this be the right approach to solve the issue with cluster scoped objects:
1. In [`namespaceToCache`](https://github.com/kubernetes-sigs/controller-runtime/blob/e388e1e1f5a745166955442294bb8aede1f761e2/pkg/cache/multi_namespace_cache.go#L66) mapping, we add an entry for a mapping between no namespace and global cache (say an empty string as the key). When there is no namespace

[2021-02-26 06:29] mythi commented on #1370
other plans came up

[2021-02-26 06:29] #1370 closed

[2021-02-26 23:21] #952 closed

[2021-03-01 04:16] pagarwal-tibco commented on #244
Any updates on this?

[2021-03-01 09:45] qinqon commented on #244
I have try a PR to specify a fieldselector at manager build time https://github.com/kubernetes-sigs/controller-runtime/pull/1404.

[2021-03-01 14:35] cezaryzukowski opened #1405 "Filtering objects by labels does not work correctly in a particular case"
1. Incorrect - lists all PVCs (but should filter some of them out)
[code]

2. Correct (filtering)
[code]

Listing PVCs:
[code]

I had no time to check where is the root cause of the issue.
Also, I am wondering whether it's the best place to rise this issue.
Other places could be as follows:
- "k8s.io/apimachinery/pkg/labels"
- kubebuilder
- operator-sdk

[2021-03-01 15:16] timebertt commented on #1375
/assign

[2021-03-01 16:27] vincepri commented on #70
/remove-lifecycle frozen
/close

Closing this as in there has been no updates on this issue for a while. If there is enough interest, we could provide an optional predicate or function that does the same, although I would assume that most controllers might want to do the check on their own, like @alvaroaleman pointed out.

[2021-03-01 16:27] #70 closed

[2021-03-01 16:29] vincepri commented on #265
/remove-lifecycle frozen

@coderanger Seems this issue can now be closed given that most functions and reconcilers accept a context starting from v0.7.x

[2021-03-02 00:38] Porges commented on #1272
halt, bot

/remove-lifecycle stale

[2021-03-02 12:25] schrej opened #1407 "envtest: etcd startup times out with etcd v3.5"
The `envtest` package checks for a  [specific line](https://github.com/kubernetes-sigs/controller-runtime/blob/bdb3f845d6e2510d441f593fb420781e8a05f894/pkg/internal/testing/integration/internal/etcd.go#L37) when it's starting `etcd` for testing.
With etcd version 3.5 that line [gets removed](https://github.com/etcd-io/etcd/pull/11592/files#diff-22504f5e6a5f5ff5f4929b7fc571a26735f1b7746f5f143891af2

[2021-03-03 00:40] coderanger commented on #1407
I think we can probably move etcd to a healthz check on `/health`, added in 3.3.0 according to the docs. That will cover all modes?

[2021-03-04 03:06] grim-fendango commented on #852
This would be useful for webhooks that require zero down time during certificate rotation as it would allow us to have an A and B certificate.

[2021-03-04 10:21] matanw opened #1411 "Fake client does not fill entity kind and version we call create"
We we use k8sClient, and create an entity, in real client: the entity object APIVersion is updated. In fake client: entity API Version is still empty string

Example:
Test
[code]

)utput:
[code]

[2021-03-04 14:36] #1375 closed

[2021-03-04 15:36] bboreham opened #1412 "Comment points to nonexistent Options.NewClient"
https://github.com/kubernetes-sigs/controller-runtime/blob/e1a725df2743147795e5dfc8275365f7ada24805/pkg/cluster/cluster.go#L53

Possibly should be `Options.ClientBuilder`?

[2021-03-04 17:38] #1412 closed

[2021-03-05 23:06] #1171 closed

[2021-03-06 15:53] 27149chen commented on #452
is there any workarouds?

[2021-03-06 20:21] camilamacedo86 opened #1416 "Improve doc over MaxConcurrentReconciles"
Would be nice be very nice we are able to provide further information for MaxConcurrentReconciles [here](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controller.go#L37) for we have a better go doc [here](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/controller#Options).

People have been asking when/how using this option. We might add that `It is not pos

[2021-03-07 12:04] coderanger commented on #452
You can use client-go instead.

[2021-03-08 08:40] muvaf opened #1417 "Coupling lifecycle management of CRDs with their manager"
Hi folks!

We have recently [implemented](https://github.com/crossplane/crossplane/pull/2160) a feature in Crossplane that enables the manager executable to deploy the CRDs it's managing before starting. Since Crossplane already has the `ClusterRole` to manage CRDs in the cluster, we didn't need extra privileges. It's done mainly because of upgrade issues experienced with Helm but I think it could

[2021-03-08 18:12] #1184 closed

[2021-03-08 18:38] coderanger commented on #1417
The reason most operators have stayed away from this is the lack of security isolation. Even just with create and update, access to CRDs can be a major security issue. There is some future where the new service account token APIs would allow running only the initContainer with the needed perms but the basics of the service account system don't allow for that.

[2021-03-08 20:43] muvaf commented on #1417
Could you elaborate on that? I was thinking an aggregated `ClusterRole` like the following would be contained enough:
[code]

[2021-03-08 21:21] coderanger commented on #1417
@muvaf Unfortunately there's not a lot of validation on CRDs. The object name has to match plural+group but collisions are allowed on short names, singular names, etc. So just being able to update a CRD could allow all kinds of weird attacks to extract data that shouldn't be accessible. You might already consider someone getting an RCE in Crossplane to be a "game over" scenario, so gameover+1 isn'

[2021-03-09 00:07] muvaf commented on #1417
Hmm let's say I have permissions on `acmekinds.example.com` CRD and its short name is `ac`. And there is another CRD named `anotherkinds.anotherexample.com` whose short name is `ak`. Do you mean that if I change the short name of `acmekinds.example.com` (`ac`) to `ak`, it'd mean that I now have access to the instances of `anotherkind.anotherexample.com`?

Wanted to test this scenario in a v1.18.2

[2021-03-09 00:52] coderanger commented on #1417
Correct, you can't bypass RBAC, but I don't think there is the well defined ordering of those shortnames over time. Plus you could potentially squat on typos like `secrt` or whatever and collect info from careless admins :)

[2021-03-09 21:56] stevekuznetsov opened #1420 "Setting Logger Does Not Propagate To Client-Go"
I am a user, in my repo I am making use of the `controller-runtime` client. I wish to see the debug/trace-level logging that I would get from a `client-go` client by passing `-v 10` to the binary. I attempted to do the following:

[code]

This is equivalent to binding the `zap` flags and passing flags to the binary at runtime.

This does not cause any change in the logging output from client metho

[2021-03-09 22:02] coderanger commented on #1420
I'm not really sure there is anything we can do about this until client-go also uses logr? That is in-progress but happening slowly (kubelet is targeted for 1.21, for example).

[2021-03-09 22:12] stevekuznetsov commented on #1420
Good point, I know `klog` v2 allows the SetLogger() call but was not sure when that would be available in `client-go`.

[2021-03-09 22:13] DirectXMan12 commented on #1420
klog has a logr sink -- we could hypothetically call `klog.SetLogger`.  However, that is global., unfortunately.  I'd imagine it'd be closer to the expected behavior -- it's been pretty confusing for folks in the past.

[2021-03-11 15:58] jpfourny opened #1422 "`delegatingClient` with `client.informerCache` does not respect `client.Limit` option"
When listing resources, I found that `client.delegatingClient` with `client.informerCache` does not respect `client.Limit` option. Scanning the source, I could not find any provisions to apply the limit when reading from the cache. This should be trivial to implement, no?

Also, I believe that `kubernetesfakes` suffers from the same issue (but that is less concerning to me).

[2021-03-11 18:16] suhanime opened #1423 "Disable rest client latency metric"
We vendor in `controller-runtime` and use it to expose its controller specific metrics in addition to our own.
Recently we observed that [rest_client_request_latency_seconds](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/metrics/client_go_adapter.go#L55-L60) was eating up a significant portion of Prometheus storage, as can be seen from a snapshot of the highest cardinality

[2021-03-12 02:19] DirectXMan12 commented on #1357
(v old at this point though :-) )

[2021-03-12 11:10] RobEarl opened #1424 "Graceful shutdown doesn't wait for reconcile workers to complete"
Following the release of https://github.com/kubernetes-sigs/controller-runtime/pull/967, I was hoping it would allow me to set a timeout big enough for any ongoing reconcile to complete. On testing, however, I discovered the reconcile still exits immediately.

I have tried injecting the stop channel into my reconciler then using a `sync.WaitGroup` to block until any ongoing reconcile completes:

[

[2021-03-12 16:42] jdef opened #1426 "[feature request] support for unix domain socket listener for metrics"
for reasons, we sometimes want to run controllers in the host netns. AND we want to both:
(a) avoid chewing up host ports in order to serve metrics
(b) avoid forking OSS projects that use controller-runtime in order to support UNIX domain socket listener for metrics

Ideally, this functionality would be built into CR, and so if I specified a `MetricsBindAddress` of e.g. `unix:///path/to/some.sock`

[2021-03-14 12:28] #1218 closed

[2021-03-14 17:18] alvaroaleman commented on #1426
How are you going to scrape metrics off of a unix domain socket?

[2021-03-14 17:45] #1424 closed

[2021-03-14 20:33] jdef commented on #1426
With a sidecar that scrubs-and-pushes data to a local gateway.

On Sun, Mar 14, 2021, 1:18 PM Alvaro Aleman ***@***.***>
wrote:

[2021-03-14 22:10] coderanger commented on #1426
Any reason to not use a normal TCP socket on the pod localhost? Would be very slightly less overhead but seems not really worth the extra complexity.

[2021-03-14 22:38] #1110 closed

[2021-03-14 22:38] jdef commented on #1426
I explained my needs in the ticket description. Let me know if there's a
point on which you'd like me to elaborate.

On Sun, Mar 14, 2021, 6:11 PM Noah Kantrowitz ***@***.***>
wrote:

[2021-03-14 22:41] coderanger commented on #1426
Pod localhost does not use "host ports" assuming by host you mean the underlying nodes. Every pod is issued its own isolated localhost that is only reachable from inside that pod.

[2021-03-14 22:50] alvaroaleman commented on #1422
Yeah, shouldn't be hard to add that, feel free to take a stab!

[2021-03-14 22:56] jdef commented on #1426
I understand how pods and namespaces work :)  We want to run some
controllers in the host network namespace for.. reasons. And we don't want
to chew up any host netns resources.

On Sun, Mar 14, 2021, 6:42 PM Noah Kantrowitz ***@***.***>
wrote:

[2021-03-14 23:09] coderanger commented on #1426
If you want to write up the PR and it's _very_ minimal extra code to maintain, then maybe? Otherwise that seems more niche than can be reasonably supported IMO.

[2021-03-15 00:56] jdef commented on #1426
Let's assume that for my use case, the benefits of running on the host's
network stack outweigh the negative aspects of such. To further minimize
the negative effects, it makes sense to NOT allocate host ports unless
absolutely needed. Domain sockets are a perfect fit.

It's not much code, I've already written it. Unfortunately, I'm still
sitting on other OSS PRs that are over 1 year old because o

[2021-03-15 03:18] coderanger commented on #1426
Not trying to object to your use case considerations, however as an open source project we also have to weigh the value of new features to the whole community vs. the time to write and (more importantly) maintain those features. Unfortunately I think you've found a niche too small (though no less valid for yourself) for things to make sense for the community so asking us to maintain this code is a

[2021-03-15 16:44] jdef commented on #1426
Not that this the best example, but it was the first things that popped into my mind: https://github.com/influxdata/telegraf/blob/4e9bc06eb2da52622c26583f5c26f7f9c72b38d1/plugins/inputs/socket_listener/socket_listener.go#L288

... and in this code you can see that the effort to listen on unix:// is trivial, even if you factor in the need to "os.Remove" a pre-existing unix socket file. You can even

[2021-03-15 18:58] kevindelgado commented on #1255
/remove-lifecycle stale

[2021-03-15 20:48] coderanger commented on #1426
I'm not sure I've ever seen an operator using Cgo and in fact our default skeleton completely disables it. I think you are much further off the beaten path than you realize.

[2021-03-15 20:53] jdef commented on #1426
right, and the defaults are there to be customized, yes? :)

[2021-03-15 21:15] DirectXMan12 commented on #1357
I'm poking at this now

/assign @DirectXMan12

[2021-03-15 21:16] alvaroaleman commented on #1357
@DirectXMan12 what about merging https://github.com/kubernetes-sigs/controller-runtime/pull/984 and building on top of that?

[2021-03-15 21:17] DirectXMan12 commented on #1357
lemme take a look

[2021-03-15 21:21] DirectXMan12 commented on #1357
hmmm... insecure just *stops* working in 1.20, and secure should work across all the versions we support, so I'd lean towards making stuff work by default, and making an optional switch to force insecure -- something like

[code]

[2021-03-15 21:23] DirectXMan12 commented on #1357
I *think* we can make this transparent by populating the `rest.Config` correctly and doing a bit more setup.  It's still possibly a breaking change if people are constructing connections manually -- might want heavy beta testing for this one.

However, the alternative of forcing people to manually turn this on for the future or use different fields seems less ideal to me, I think.

[2021-03-15 21:24] DirectXMan12 commented on #1357
I'll poke around a bit.

[2021-03-15 21:26] alvaroaleman commented on #1357
Great! Only one wish: lets please not use the AllowAll authorizer, because it makes it impossible to write tests where you need the apiserver to respond with a 403. We can still by default return a kubeconfig that has global admin perms, that still leaves the possibility of using impersonation for the 403 case.

[2021-03-15 21:32] DirectXMan12 commented on #1357
ack :+1: yeah, admin for a default case, plus a helper to produce non-admin uses

[2021-03-15 22:59] pires commented on #1426
@coderanger all you've been doing so far is to question the validity of the use case considerations and deliver a bit of a lecture on OSS maintenance - you didn't even took the time and check @jdef has contributed to this project before.
It's totally fine if you, as an OSS contributor to this project, don't want to pick it up or find there's bigger fish to fry, but the kind of approach you took is

[2021-03-15 23:08] coderanger commented on #1426
@pires My worry is not that the code is hard to write, it's that there is no ecosystem tool that could consume prom metrics on a unix socket that I know of so the tests for it will be very hypothetical and ensuring future compat gets tricky. That's why I repeatedly brought up my worries about the maintenance burden.

[2021-03-15 23:36] pires commented on #1426
Why would this project care about how metrics are consumed, ie over what transport protocol, rather than just what format to expose? I can't find any evidence in code or issues that there's any reason to not support anything other than TCP to transport the metrics. It just seems to be the only transport protocol because no one cared to support others. And I'm sorry but your argument doesn't stick,

[2021-03-15 23:39] coderanger commented on #1426
If you think you can write functional tests that will adequately report compat then I'm happy, but I think they will be basically a stab in the dark and we might unknowingly break the feature in the future (ex. there is talk of switching to different metrics plumbing in another ticket).

[2021-03-16 00:02] pires commented on #1426
I can't find any functional test in this project that proves Prometheus metrics are properly served over TCP. Also, this would be an opt-in thing where folks would explicitly have to set `unix://...` as the metrics address.

[2021-03-16 00:46] DirectXMan12 commented on #1426
Hey, y'all, a few comments:

First of all, I think it's *probably* fine to have someone prototype this, if they want, but they should do so with the understanding that this won't necessarily mean we're going to accept it.  I'm not necessarily nixing it now, but I'd like to temper expectations up front to avoid folks getting frustrated.

We need to be very clear what we're supporting here, and the

[2021-03-16 01:11] pires commented on #1426
Yes, I do think that would be enough for the controllers we own but not for controllers we don't own, which would have to be forked.

That said, can you please point me the e2e proof existing TCP-based registry works so I can understand what needs to be proven when a Unix socket is used instead? Thanks!

Last but not least, I do understand if issues or PRs don't get the traction I wish for. But in

[2021-03-16 01:20] pires commented on #1426
Scope is simple: optionally, serve HTTP `/metrics` over a Unix socket instead of TCP.

Acceptance criteria: same as for TCP, pending clarification what it is/where this code lives.

FYI serving HTTP over Unix socket is supported natively by stdlib Go where one passes a `net.Listener` to `http.Server.Serve(net.Listener)`.

[2021-03-16 01:58] DirectXMan12 commented on #1426
I think it's mainly this: we consider the HTTP endpoint broken if Prometheus can't scrape it, since it's specifically a *Prometheus* endpoint.  If possible, I'd like to see something similar for this, if that makes sense.  While we don't have an integration test for this, the libraries we consume do, and this particular path is the documented standard path for Prometheus.

Right, but there's some

[2021-03-16 06:45] christopherhein commented on #1292
/remove-lifecycle stale

[2021-03-16 06:46] christopherhein commented on #1292
@vincepri is this something controller-runtime would be interested in?

[2021-03-16 12:27] huornlmj commented on #852
Would this provide the capability for users to disable TLS 1.0 and TLS 1.1?

[2021-03-16 17:40] huornlmj opened #1431 "Default TLS implementations leave consuming systems open to multiple vulnerabilities."
The default implementation for TLS endpoints expose the long deprecated TLS 1.0 and TLS 1.1 versions along with dangerous ciphers that expose systems to version downgrade attacks, SWEET32 (CVE-2016-2183, CVE-2016-6329), BEAST (CVE-2011-3389), LUCKY13 (CVE-2013-0169).  There should be a way for consumers to control which versions and ciphers are exposed.

This was confirmed with a default endpoint

[2021-03-16 18:35] bensta commented on #1411
I experience the same, which makes testing the code complicated. Any update on this?

[2021-03-16 18:44] chrislovecnm opened #1432 "How not to delete statefulsets created by controller when you delete controller"
We have an operator that manages CRDs, statefulsets, etc.  When the operator is deleted we do not want to have all of the resources deleted.  How do we do this?

[2021-03-16 18:53] coderanger commented on #1432
This is not a feature of Kubernetes per se but more of an emergent behavior. But when you delete a CRD it will delete all instances of the custom object, which should then delete all objects owned by your custom object. You could leave the CRD in place when uninstalling the operator, or you could manually delete the owner references.

[2021-03-16 19:10] chrislovecnm commented on #1432
Makes sense!  Closing - and much thanks

[2021-03-16 19:10] #1432 closed

[2021-03-16 20:02] alvaroaleman commented on #1431
Please specify what TLS endpoints exactly you are referring to.

Generally, tls clients can be configured to (not) accept a given TLS version and ciphers so I don't really see this as a problem here.

[2021-03-16 20:27] huornlmj commented on #1431
This is to do with webhook _servers_ that are provisioned rather than clients.  Here's a listening TLS webhook's testssl.sh report (portions):

[code]
And

[code]

[2021-03-16 20:32] coderanger commented on #1431
Low impact but would be nice to clean up. If you would be interested in tackling this, the TLS config is here https://github.com/kubernetes-sigs/controller-runtime/blob/82c68b9ae809fa61a2fbb96aa8ef13e29ccf0211/pkg/webhook/server.go#L195-L198 . Would just need to work out the right args to get a slightly newer session :) (and also confirm support with kube-apiserver back as far as controller-runtim

[2021-03-16 20:34] alvaroaleman commented on #1431
My point is: You can just configure your client to not accept certain tls versions and/or ciphers.

[2021-03-16 20:34] #1346 closed

[2021-03-16 20:51] coderanger commented on #1431
The only client we care about for the webhooks system is kube-apiserver, which we don't control directly though if it also needs TLS improvements I'm sure k/k would be happy for those too :)

[2021-03-16 21:29] DirectXMan12 commented on #1255
I think there's two thing to care about here:

- Can we set up a "normal" server without a manager / cluster connection information?
- Can we attach controller-runtime webhooks to an existing arbitrary Go HTTP server (http.ServeMux) that's managing its own serving (i.e. not a webhook.Server)

[2021-03-16 21:42] DirectXMan12 opened #1433 "Plan for Injector interface deprecation"
So, we filed the injector interface deprecation notice on `pkg/inject` (#1322).  What's the actual rest of the plan for this?  We should track this & provide a loose plan for what we're gonna do and what people should expect.

cc @varshaprasad96

[2021-03-17 03:09] varshaprasad96 commented on #1433
@vincepri @alvaroaleman @estroz
inject  functionality was to be deprecated since it would eventually get hard to maintain the codebase wherein we define interfaces/functions for each of the types which are to be propagated to other components registered with manager. Though we have mentioned that manager.Options can be used instead of this in manager, we are still using injectors in the following

[2021-03-17 15:46] vincepri commented on #1292
The code was originally proposed by @bison in https://github.com/kubernetes-sigs/controller-runtime/commit/2d952ac877fcb86923cb38a7925ed872cade374c — I don't see anything in there that particularly worries me to expose it as non-internal package.

@alvaroaleman @DirectXMan12 thoughts?

[2021-03-17 15:54] alvaroaleman commented on #1292
yeah sgtm (looking at the code makes me want to replace the mutex with a RW mutex though).

[2021-03-17 18:43] christopherhein commented on #1292
Awesome, I was thinking this would be nice to be able to use this with the `Runnable` interfaces in the manager you could configure reloading like we have with internal webhooks.

[2021-03-17 19:23] christopherhein opened #1436 "TokenReview.authentication.k8s.io resource helpers for Wehbook Server"
Would Controller Runtime be interested in being able to support non-AdmissionReview based HTTP handlers in the `Webhook` server package. I'm thinking of resources like `authentication.k8s.io.TokenReview` `imagepolicy.k8s.io.ImageReview`.

EG if I could use:

[code]

And it would then have something like:

[code]

and my `Handler` func could be:

[code]

This would help to standardize the building

[2021-03-17 19:23] christopherhein commented on #1436
/cc @pwittrock @vincepri @alvaroaleman

[2021-03-17 19:42] christopherhein commented on #1385
👋  Interesting idea, I see you called out the rbac proxy as an alternate, does running this as a sidecar miss what this is trying to do?

[2021-03-17 20:21] coderanger commented on #1436
We already also support conversion hooks, so this seems fine. I think we should probably keep it scoped to K8s-specific hooks just to avoid getting into generic web framework territory but these should work similarly to the existing hooks.

[2021-03-17 20:27] christopherhein commented on #1436
Yea, was thinking that as well, as long as it's exposed by core k8s APIs we _could_ support it.

…and agree, avoiding the web framework side since you can always use a new `Runnable`.

[2021-03-17 20:31] alvaroaleman commented on #1436
So right now, the signature allows you to register anything: `Register(path string, hook http.Handler)`. IMHO that is fine?

Adding helpers to make writing other Kubernetes hook handlers easier sounds like a good idea to me :+1:

[2021-03-17 21:30] christopherhein commented on #1436
Yea I ended up implementing that for what I was doing but I'm basically maintaining a near replica of the admissions `ServeHTTP` func and felt like it could be upstreamed. Cool sounds like this might be of use.

[2021-03-17 21:50] coderanger commented on #1436
Also FWIW token review is probably more interesting than image review. Or at least I never really understand why anyone would use image review hooks over a validating webhook on Pods which you can already do nicely in c-r :)

[2021-03-17 22:10] christopherhein commented on #1436
Agreed, my use case is `TokenReview` especially with the new changes coming about for ServiceAccount tokens, I didn't know if adding ImageReview would make other use cases easier to enable.

[2021-03-18 04:43] mvladev commented on #1385
No, you can still do it with kube-rbac-proxy. It's designed for components which are not kubernetes-aware and might need this extra functionality.

There is already an ongoing effort to make webhooks easily configurable with authentication (see this [KEP](https://github.com/kubernetes/enhancements/pull/2512)), so my guess is that at some point end-users might want to have auth{n,z} supported for e

[2021-03-18 07:51] rfranzke commented on #1436
We run an [authorization webhook](https://kubernetes.io/docs/reference/access-authn-authz/webhook/) handler based on the controller-runtime's webhook server (https://github.com/gardener/gardener/blob/1cf5a18cc55b413b482fa3b27a100a11f4da3577/pkg/admissioncontroller/webhooks/auth/seed/handler.go#L67-L204), and this handler was heavily inspired from the admission handling in this repository. If you a

[2021-03-18 08:15] coderanger commented on #1436
Another webhook that sees some level of usage is the audit webhook system but that's usually a different kind of app so might be out of scope for us :)

[2021-03-18 16:41] ialidzhikov opened #1438 "client.Patch implementations are no longer gomock-friendly"
After kubernetes-sigs/controller-runtime#1406, the client.Patch implementations are no longer gomock-friendly.

So we have unit tests that use gomock. Let's have the following example to get a better understanding.

- `pkg/utils.go`

[code]

- `pkg/utils_test.go`

[code]

Note: `MockClient` is a mock generated with gomock

With sigs.k8s.io/controller-runtime < v0.8.3 this test is working perfectly

[2021-03-18 17:41] alvaroaleman commented on #1438
I have a hard time understanding what exactly go mock is doing here and why. Why is it looking at the private properties of the patch implementation rather at than at its exported methods and the result of calling them?

None of our api compatibility testing checks compatibility of unexported types. If there is any expectation around compatibility of those, it needs to be agreed upon, formalized a

[2021-03-19 09:22] #1169 closed

[2021-03-19 17:17] ialidzhikov commented on #1438
/close

[2021-03-19 17:17] #1438 closed

[2021-03-19 18:26] dgoodwin commented on #1423
Our situation is a bit unusual in that clients are used to talk to a substantial number of resources in a large number of clusters. In our case the prom endpoint blew up to over 300mb and prometheus pods scraping it fell over pretty quickly with massive memory use.

[2021-03-19 19:21] ehashman commented on #1423
/cc @logicalhan

[2021-03-20 05:41] #1223 closed

[2021-03-20 16:56] alvaroaleman commented on #1423
I agree that just putting the url as a label in there is too much wrt cardinality as that results in a new metric per individual gvk+object name. What did upstream replace these with?

What IMHO would be useful to still have is a request metric that contains labels for statuscode, method, apigroup, kind and namespace. WDYT?

[2021-03-20 16:59] alvaroaleman commented on #1423
OTOH all these metrics exist on the apiserver and can be filtered by user and user agent. I personally have only ever used those. Are there cases where having request metrics clientside provides additional value and/or the apiserver metrics are not available?

[2021-03-21 07:18] mittachaitu commented on #702
I would like to fix this issue

[2021-03-21 08:04] mittachaitu commented on #702
Yes, I think we have to make in the following way
[code]
Note: We have to setAPIVersion and Kind before making call to `List func`

[2021-03-22 01:34] everpeace commented on #983
/remove-lifecycle rotten

[2021-03-22 01:34] everpeace commented on #983
/reopen

[2021-03-22 11:18] AliMohammadiSoumee opened #1442 "Race Condition in `controllerManager.waitForRunnable`"
I got a race condition error when I was trying to run my tests with `-race` flag.

The problem is with [controllerManager.waitForRunnable](https://github.com/kubernetes-sigs/controller-runtime/blob/b5065bd85190e92864522fcc85aa4f6a3cce4f82/pkg/manager/internal.go#L161). Based on this [document](https://golang.org/pkg/sync/#WaitGroup), `Add` and `Wait` methods of `WaitGroup` should be called in the

[2021-03-22 11:42] madhurtrilio commented on #1378
Having same issue. Any tentative timelines on when this will be fixed?

[2021-03-22 11:49] huornlmj commented on #1431
If the client can control which cipher and TLS version is used then the server is not controlling it resulting in a vulnerable connection.  In this case a client can propose a weak or deprecated cipher and version in the TLS handshake and the server will support it and allow it to happen.  I have not prepared a POC exploit purely because it's been done quite some time ago to explain the weaknesses

[2021-03-22 12:24] dgoodwin commented on #1423
We actually implemented our own metric for this (didn't know this one existed until it blew up on us) with the labels []string{"controller", "method", "resource", "remote", "status"}. Even this is fairly verbose so I could see a case for saying it shouldn't be part of controller-runtime and users should implement their own, or alternatively offer the ability to enable/disable it.

[2021-03-22 13:33] alvaroaleman commented on #1378
@madhurtrilio #1418 will fix this

[2021-03-22 14:31] dgoodwin commented on #1423
@suhanime added to agenda for Thursday meeting.

[2021-03-22 15:26] nmiculinic opened #1443 "KubeAwareEncoder doesn't work with `logger.With(..)` but does with `logger.Info(, ...)`"
In this example obj is `runtime.Object`:

[code]

Which seems super weird and error-prone. The logger is typical `*zap.Logger`.

controller-runtime version `v0.8.0`

(I'll upgrade, but this code hasn't changed much since then)

[2021-03-22 17:29] #1292 closed

[2021-03-22 17:42] coderanger commented on #1431
@huornlmj I think you may misunderstand how this code works. Thank you for your report however these are special purpose endpoints and not used for general HTTP for arbitrary clients. If you would like to confirm the vulnerability, you would need to specifically check the client settings on the k/k side. That said, we should fix the easy ones since it's probably as simple as a few options in the C

[2021-03-22 17:48] huornlmj commented on #1431
Glad to help @coderanger .  I acknowledge I am not up to speed with the project itself, but I'm applying the maxim 'trust no-one' here, as there may well be network adversaries within the domain that the trusted client and trusted server reside in.

[2021-03-22 21:14] willbeason opened #1444 "Not calling SetLogger() results in a memory leak"
Steps to reproduce:

1. Take controller code that otherwise functions normally. What matters is that you have something that either logs a lot or uses libraries which log a lot with Log.WithValues().
2. Create a main function and don't call `SetLog(glogr.New())`
3. Run the controller in a cluster
4. Wait for memory usage to spike and wait for the Pod to get OOMKilled

What we understand of the pro

[2021-03-22 21:25] vincepri commented on #1246
Closing this due lack of updates

/close

[2021-03-22 21:25] #1246 closed

[2021-03-22 21:33] willbeason commented on #1444
Thanks to @briantkennedy for the find - he uncovered the issue and I'm just reporting it!

[2021-03-22 21:57] DirectXMan12 commented on #1444
IIRC this should fix the issue: https://github.com/kubernetes-sigs/controller-runtime/pull/1309

[2021-03-23 07:33] alidadar7676 opened #1445 "Duplicate `Start` method in the `Manager` and `Cluster` interfaces"
The [Manager](https://github.com/kubernetes-sigs/controller-runtime/blob/197751df6040ec99414574e89f3fa73914ce335d/pkg/manager/manager.go#L51) interface embeds the [Cluster](https://github.com/kubernetes-sigs/controller-runtime/blob/197751df6040ec99414574e89f3fa73914ce335d/pkg/cluster/cluster.go#L39) interface and both of them contains the `Start(ctx context.Context) error` method.

Is it possible

[2021-03-23 07:38] alidadar7676 commented on #1445
It's the error of `go vet ./...` with `Go v1.13.5`:
[code]

[2021-03-23 07:39] alidadar7676 commented on #1445
Sorry, my bad

[2021-03-23 14:45] willbeason commented on #1444
Nice! That will.

[2021-03-23 14:45] #1444 closed

[2021-03-23 19:18] kotyara85 opened #1447 "Is there a way to read even type in Reconcile function()"
Hey there,
Right now controller passes req with contains only Name & Namespace.
Is there a way to pass event type (Create, Update, Delete, Patch) to reconcile function as well out of the box?
Thanks

[2021-03-23 19:27] joelanford commented on #1445
Go interfaces contain only function signatures. It's not possible to put a field in an interface.

Go allows overlapping interfaces as of [Go 1.14](https://golang.org/doc/go1.14#language). Controller-runtime began taking advantage of this feature as of v0.8.0 (I think), and the current go.mod file [specifies go 1.16](https://github.com/kubernetes-sigs/controller-runtime/blob/197751df6040ec99414574

[2021-03-23 19:49] coderanger commented on #1447
No, the whole model is that the event type is unimportant. Multiple events are likely to get batched together even. A controller only cares about reconcile operations, the watches are just to know when to trigger one.

[2021-03-23 21:23] coderanger commented on #880
I think we can close this ticket, as running kube-controller-manager from envtest is out of scope and better served by UseExistingCluster as mentioned above (in combination with tools like Kind or K3s, or other minimalist Kubernetes environments).

/close

[2021-03-24 04:46] alidadar7676 commented on #1445
@joelanford
Thanks for your response. I'm sorry about my mistake, I forgot that it's not possible to use an interface as a field =).

[2021-03-24 04:46] #1445 closed

[2021-03-24 08:15] timebertt opened #1448 "Support registering APIService in envtest"
Currently, `envtest` primarily supports controllers working on resources registered by CRDs.
We would like to leverage `envtest` for writing integration tests for resources provided by an [extension API server](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) and registered via `APIService`s as well.

[2021-03-24 08:39] timebertt commented on #1448
With #1449 it's now possible to configure the test environment's API server's aggregation layer in order to register `APIService`s like in a usual cluster.

Example:
[code]

See [our prototype](https://github.com/gardener/gardener/compare/master...timebertt:enh/gardener-envtest) for a more complete example usage.

[2021-03-24 08:40] zroubalik commented on #172
/remove-lifecycle stale

[2021-03-24 08:45] timebertt commented on #1448
Let me know, if there is interest in simplifying this scenario even further.
We could offer registering `APIService`s similar to CRDs (i.e. `CRDInstallOptions`) and optionally configure the aggregation layer for it accordingly.

Though, I assume that most folks using controller-runtime are rather working with CRDs, which are already well-supported by `envtest`.

[2021-03-25 05:38] #1071 closed

[2021-03-25 11:35] Abhishek-Srivastava opened #1452 "Observing concurrent reconciliation with 1 worker"
I have a query on the reconcile logic with 1 worker for a custom controller I have, generated using kubebuilder.

In the reconciler logic for a CR, I am doing the following in sequence:
1. Update the status subresource.
2. Make a synchronous GRPC (blocking) call to a GRPC server running as a different pod.
3. Update the status subresource

What I have been observing is, with the Update in Step 1 i

[2021-03-25 14:47] vincepri commented on #1367
Folks, could you test the latest `v0.9.0-alpha.1` tag which includes #1451?

[2021-03-25 16:26] rashmigottipati opened #1453 "[Feature Request] Finalizer helper library"
In Kubernetes garbage collection model, OwnerReferences are allowed within a namespace wherein the "dependent" object has anOwnerReference field referencing the "parent" object. If the parent object is being deleted, Kubernetes garbage collector will delete all of its dependent objects. As cross-namespace owner references are not allowed by design; a Finalizer should be used to perform cleanup.

F

[2021-03-25 16:26] rashmigottipati commented on #1453
/assign

[2021-03-25 16:53] suhanime commented on #1423
Looks like upstream has made it possible to not register for certain metrics
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/metrics/prometheus/restclient/metrics.go#L127-L134
https://github.com/kubernetes/kubernetes/blob/5ab4b580de915cffd901c7a1304aca5fdcca88e7/staging/src/k8s.io/client-go/tools/metrics/metrics.go#L72-L105

[2021-03-25 16:59] alvaroaleman commented on #1423
I don't think that helps here, because you can not execute code before all your dependencies `init()` finished

[2021-03-25 17:15] Adirio commented on #1453
Pinging @joelanford as he suggested this approach.

[2021-03-25 17:40] coderanger commented on #1453
https://github.com/coderanger/controller-utils/blob/main/core/reconciler.go#L277-L290 is my implementation of the general helper pattern for this. It checks on initialization (up above) for if the component implements the finalizer interface and if so, it will call Finalizer() on that component when needed.

[2021-03-25 18:40] joelanford commented on #1453
My high level thought was to have something like this:
[code]

With something like this users could:

1. Define their own finalizer struct implementations
[code]

2. Register them with the Finalizers
[code]

3. Hand the Finalizers to their reconciler:
[code]

4. And then the reconciler call is boiled down to something like this:
[code]

It looks like @coderanger has an actual working implementatio

[2021-03-25 19:53] DirectXMan12 opened #1454 "Client's auto-cache-creation a non-trivial footgun"
Currently, with the delegating client, suppose we have the following scenario:

[code]

Because we're using the delegating client, the client will automatically set up a cache for secrets, even though we're not explicitly watching them.  This makes cache establishment pretty transparent, which can be nice, but is also fairly magic, and can be a big foot-gun.  Consider:

[code]

Notice here, we're

[2021-03-25 19:57] DirectXMan12 commented on #1454
that second scenario isn't hypothetical, btw -- I helped a user debug pretty much that exact issue the other day.  It was non-obvious because they had started to do an incremental migration of their code base to a new CRD version, and things seemed to roughly work fine, but they'd intermittently see issues.

[2021-03-25 20:25] coderanger commented on #1454
I think the automatic caching does more good than harm overall, a lot of folks don't even realize it's happening but it makes their code much faster. Maybe require explicit opt-in for a second cache when we already have one for that group+kind? That seems like a thing that would 99.99999% of the time be an oversight.

[2021-03-25 21:07] DirectXMan12 commented on #1454
Fair!  I'm curious how often it's the case that folks end up fetching stuff that's not already watched.  My original thought was that in the cases about, we'd throw an error about `corev2.Pod` and `corev1.Secret` not being cached yet.

[2021-03-25 23:19] DirectXMan12 opened #1455 "It's hard to figure out graceful termination failures"
If something fails to gracefully terminate, it's currently very hard to tell what failed.

I think we should do one of the following, ideally all 3:

1. log when we start various runnables, and when they stop
2. add runtime/trace support to our core operations so we can figure out what's running from where when we launch stuff
3. figure out a method to assign a runnable an identity (name or someth

[2021-03-26 01:23] vincent-pli commented on #1452
@Abhishek-Srivastava
That's correct behavior, when you update the status of resource (step1), another `request` will be enqueue to your `workqueue`(since the resource is updated), but not trigger `reconcile` since you `MAX_CONCURRENT_RECONCILE` is set to 1, when you current `reconcile` finished the new coming one will trigger a new `reconcile`.

For the scenario `MAX_CONCURRENT_RECONCILE` > 1, the

[2021-03-26 01:54] vincent-pli commented on #1416
@camilamacedo86
Any process of issue,
i want to share my experience since it suffer me for several days: if you want to enhance the performance of your `controller`, you could set `MaxConcurrentReconciles` to a big number, but do not forget to increase the `QPS` and `Burst` who is for `restClient`. or you `reconcile` will block when they try to update resource at the end of reconciling.

[2021-03-26 02:09] vincent-pli opened #1456 "Do we have plan to support HPA of Controller"
Or we already has such functionality?

I mean `controller` support auto scaling. I understand multiple `controller` will cause conflict if every one try to handle all workspace so maybe need separate whole workspace to buckets...

[2021-03-26 02:14] DirectXMan12 opened #1457 "Manager Shutdown/Cache Establishment low-impact race-thing"
If you end up stopping the manager *just* after you start it, you end up manifesting a weird shutdown "race" in which you're still in the middle of controller startup/cache establish.

Fortunately as of newer revisions of controller-runtime (0.7x+ AFAICT), this manifests as a "error received after stop sequence was engaged" log line, which is ok but not great (v0.6.x manifests it as a graceful shu

[2021-03-26 06:19] Abhishek-Srivastava commented on #1452
@vincent-pli That's what my understand is. But what happening is little different. The next enqueued reconciliation triggers before the first has ever ended. Like, in the case I have given above, recon-1 is still blocked at step 2(grpc call) and recon-2 kicks already.

This is consistent and I am seeing it always.
@DirectXMan12  Your expertise needed please.

[2021-03-26 07:14] sbueringer opened #1458 "Make it possible to create controller-runtime and client-go fake clients with the same backing ObjectTracker"
I assume given the state of https://github.com/kubernetes-sigs/controller-runtime/issues/768 it's okay to open new feature requests for the fake client.

Context:
* Currently the controller runtime fake client provides an implementation for the `client.Client` interface: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/fake/client.go
* There's a similar implementation f

[2021-03-26 09:00] JAORMX commented on #934
Yep, this doesn't seem to be fixed still :/

[2021-03-26 19:01] renan-campos opened #1459 "envtest environment does not perform cascading deletions"
As the title describes, I believe that the envtest environment garbage collection behaviour does not match that defined by kubernetes.

This can be shown by doing the following:
- Create envtest environment and point k8s client to it.
- Create ConfigMaps A & B
- Set ConfigMap B's controller reference to ConfigMap A.
- Delete ConfigMap A.
- Check if ConfigMap B has also been deleted.

According to

[2021-03-26 19:19] coderanger commented on #1459
Correct, this is a feature of the gc controller which does not run under envtest.

[2021-03-26 23:58] renan-campos commented on #1459
Thanks for clarifying, where does the Delete get handled within envtest? I'm not to familiar with the codebase but it looks like when a client calls delete it is makes an http DELETE that gets sent to kube-apiserver, I'm not sure where it goes from there, though.

[2021-03-27 01:21] #1226 closed

[2021-03-27 05:44] rashmigottipati commented on #1455
/assign

[2021-03-27 09:26] coderanger commented on #1459
So the actual delete call you make happens normally. But the owner cascade piece is not part of kube-apiserver, that behavior lives in the gc controller loop which is part of kube-controller-manager. Envtest doesn't run k-c-m at all to keep things trimmed down. If this is important for a feature you need to test, the easiest approach is to use the `UseExistingCluster` mode and point the testing sy

[2021-03-27 18:38] #1188 closed

[2021-03-27 21:41] #1186 closed

[2021-03-28 11:55] jdef commented on #1426
FWIW even CRI-O (arguably, popular software deployed for k8s) supports listening on a UNIX socket for prometheus scrapes:
* https://github.com/cri-o/cri-o/blob/8a0ee4d04c61e1ededbc7d6ca90328755182e647/pkg/config/config.go#L448
* https://github.com/cri-o/cri-o/blob/1e86661fb57786ba17db0573dd3c75270b698395/server/server.go#L559

^ this sounds like a fine place to start; follow-up PRs can address add

[2021-03-29 07:17] Ruminateer opened #1461 "Got error when trying to update an object with empty spec field."
Maybe it's a noob question, but I did my search and cannot find the answer.

I am using Kubebuilder to write a controller. When I try to update an object with an empty spec field, I got the following error.
[code]

The spec of the object looks like this.
[code]

I have found out that the error is raised when I am calling the function `func (client.Writer).Update(ctx context.Context, obj client.Obj

[2021-03-29 13:02] renan-campos commented on #1459
Sounds good, thanks a lot for the help; much appreciated!

[2021-03-29 13:02] #1459 closed

[2021-03-29 14:41] palnabarun commented on #1150
/assign @MadhavJivrajani

[2021-03-29 14:51] MadhavJivrajani commented on #1150
Hi! I'd like to take this up 😄

/assign

[2021-03-29 18:03] rashmigottipati commented on #1304
/assign

[2021-03-29 18:13] rashmigottipati commented on #1416
/assign

[2021-03-30 18:20] MadhavJivrajani commented on #1150
Hi! After going through the linked blog post and the related KEP, this is what I thought of implementing and I was hoping to get some feedback on the same:
- In `pkg/client/client.go`, a new default warning handler is set as mentioned [here](https://github.com/kubernetes/kubernetes/blob/3d48f0d1dd14216860adebd741550a8c955ab40b/staging/src/k8s.io/client-go/rest/warnings.go#L41-L50)

[2021-03-31 02:33] anusha-kandepu commented on #1452
@Abhishek-Srivastava and @vincent-pli  I am observing the same behavior in my environment as well. Though MAX_CONCURRENT_RECONCILE var is set to 1 , if we update the subresource as part of reconciler logic another reconciliation is getting triggered. As per my understanding if the MAX_CONCURRENT_RECONCILE is set to 1 , the next reconcile should enqueue and it should get triggered only after the cu

[2021-03-31 02:44] alexeldeib commented on #1452
A minimal reproducer and/or logs showing what you see would probably be useful here. I haven’t seen this in the past when reproving similar issues, but admittedly haven’t tried recently.

[2021-03-31 03:16] pigletfly opened #1462 "Migrate to events.k8s.io v1"
The new Event API has been promoted from v1beta1 to v1 in 1.19, should we migrate  to events.k8s.io v1 ?

Ref kubernetes/enhancements#383

[2021-03-31 06:10] Ruminateer commented on #1461
resolved https://github.com/elastic/cloud-on-k8s/issues/1822

[2021-03-31 06:10] #1461 closed

[2021-03-31 11:15] criscola opened #1463 "options.AndFrom overriding previously set value"
Hello everyone, I think I've found a small bug. Here's my code:

[code]

What I'm expecting is that `options.AndFrom` doesn't override _any_ previously set value. The problem is that the config file specified through `AtPath(cfgFile)` is overriding the field `LeaderElection` even though it is was set previously through a CLI flag, i.e. I have a config file like that:

[code]
so now if I set leader

[2021-03-31 15:38] Abhishek-Srivastava opened #1464 "Controller reconciler GET is reading stale data"
I have a query on the reconcile logic with 1 worker for a custom controller I have, generated using kubebuilder.

In the reconciler logic for a CR, I am doing the following in sequence:

- Update the status subresource (Mark status as Busy).
- Make a synchronous GRPC (blocking) call to a GRPC server running as a different pod.
- Update the status subresource (Mark status as Ready)

The updates sta

[2021-03-31 15:41] Abhishek-Srivastava commented on #1452
I will probably close this bug since I have specific one for the stale read:
https://github.com/kubernetes-sigs/controller-runtime/issues/1464

[2021-03-31 20:09] kotyara85 commented on #1342
@coderanger controller-runtime

[2021-04-01 14:02] alvaroaleman commented on #1464
The default client is backed by a cache which lags behind a bit. There is a couple of ways to cope with this, the easiest is probably to block in your reconcile after updating until you can read the updated data again, something like https://github.com/kubernetes/test-infra/blob/8f0f19a905a20ed6f76386e5e11343d4bc2446a7/prow/plank/reconciler.go#L516-L520

[2021-04-01 17:33] #1237 closed

[2021-04-02 06:04] mrpre opened #1465 "Got error when using webhook"
[code]

I'm using `helm upgrade` to upgrade my `cr` but got the error.
Under what kind of circumstance could this happen?

controller-runtime version:
[code]

[2021-04-02 06:27] mrpre commented on #1465
the newer version is fixed

[2021-04-02 06:27] #1465 closed

[2021-04-02 08:19] xenolog commented on #702
I confirm, this workaround is good.

[2021-04-03 14:13] alvaroaleman commented on #702
@mittachaitu @xenolog this bug report isn't about the issue you are describing, see the second message. I have retitled it to make that clearer. What you are describing is a different issue, I've opened a fix for that: https://github.com/kubernetes-sigs/controller-runtime/pull/1467

[2021-04-03 14:15] alvaroaleman commented on #1462
So events v1 is beta and thus enabled since Kube 1.8?

[2021-04-05 06:50] linxuyalun opened #1469 "client `get` got nil but client `list` worked"
I wrote a cli to CRUD a CRD resource, here is my client

in agent package

[code]

And here is my way to get CRD resource

[code]

However, the output was wired

[code]

I can get all resource by `list`, but `get` looks not work

[2021-04-05 06:51] linxuyalun commented on #1469
Here I don't want to create a controller, just a client like `kubectl` which can CRUD my CRD resource and do some logic.

[2021-04-05 08:33] #1469 closed

[2021-04-05 17:34] coderanger commented on #1317
There is not. Even if there was, the manager only understands them as "Runnables", things it can start and supervise.

[2021-04-06 22:37] parmus commented on #1433
@varshaprasad96 Would it be possible that we could get an example of how we are meant to use `manager.Options` in the future. E.g. it is currently unclear to me how a reconcile function is suppose to get a hold of a client, or controller added with `Manager.Add()` is suppose to get a hold of the stop channel. So far the documentation just says "Use manager.Options fields directly. This package wil

[2021-04-06 23:42] christopherhein commented on #1278
Did you all work around this? It seems like it's just that the decoder package only looks at `req.Object` not `req.OldObject` as is present with admission deletes.

[2021-04-07 10:45] bboreham commented on #768
/remove-lifecycle stale

I'm using fake-client to synthesise particular ordering of events arriving; a real api-server cannot do this.

[2021-04-07 13:46] alvaroaleman commented on #1433
Sorry, I missed the notifications here. So yeah, the next steps would be to get rid of all of it internally, which might also entail some breaking changes. There are also  examples where its just about removing dead code, source.Channel is one of them.

Generally speaking I would assume that we will deprecate the injection on the release after which we removed it internally and then give at least

[2021-04-07 16:58] wbrefvem opened #1471 "admission.NewDecoder doesn't perform nil check on scheme"
I discovered this while creating the following helper method for testing a mutating webhook. It returns no error:
[code]
which results in a panic when you try to decode an admission request:
[code]

A nil check in `NewDecoder` would clean this up. Happy to work on it if folks are open to it.

[2021-04-08 18:33] estroz commented on #1454
@coderanger I definitely see this side of the argument. In the general case, this has worked really well.

@DirectXMan12 this is exactly what I'd want to see if we go down the explicit route (i.e. an error during setup and not from within the reconcile loop).

I think the answer to this question is an important factor in this decision: if most people are already de-facto explicitly establishing wa

[2021-04-09 00:22] #1235 closed

[2021-04-10 07:41] Abhishek-Srivastava commented on #1452
Closing this bug as it might be a misled observation due to #1464

[2021-04-10 07:41] #1452 closed

[2021-04-10 22:06] #1260 closed

[2021-04-11 20:42] alvaroaleman commented on #1471
I don't think we have many nilchecks of arguments and IMHO its sensible for functions to assume that no one will pass them a nil argument unless the godoc explicitly states that as valid.

[2021-04-12 22:48] howardjohn opened #1473 "Release new version (v0.9.0?) with v0.21.0 client-go support"
With v0.8.3 and v0.21.0 client-go, I get the following error

[code]

This is already fixed on `master` branch, but its not ideal to deploy a version without a tag. So it would be great to release a new tag so we can pick up Kubernetes 1.21 libraries

[2021-04-13 13:04] #1150 closed

[2021-04-13 13:50] wbrefvem commented on #1471
@alvaroaleman Sure, that makes sense. The problem that we're seeing here and other places is that testing error paths, both in webhooks and reconcilers, is difficult. Maybe the solution, here and elsewhere, is to use interfaces that can be easily mocked for unit tests? This would help us increase test coverage of things that can happen in the real world but currently are very difficult to test.

[2021-04-14 13:08] weilaaa opened #1475 "GetConfigOrDie log nothing"
Hi there.

When we try to get *rest.Config if there is not kubeconfig exactly, it's supposed to log an error "no configuration has been provided, try setting KUBERNETES_MASTER environment variable" like code below:
[code]
but I got "exit 1" directly without error log print:
**got**
[code]
**want**
[code]

With permission，I'm willing to fix it.

[code]

/kind bug

[2021-04-14 21:10] joshrosso opened #1476 "CreateOrUpdate will panic when MutateFunc is nil"
[CreateOrUpdate](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.8.3/pkg/controller/controllerutil/controllerutil.go#L197) will panic when the `MutateFn` argument is nil. This is because [mutate](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.8.3/pkg/controller/controllerutil/controllerutil.go#L325-L334) and on nil would panic, as demonstrated in this [simple go playgr

[2021-04-15 07:36] MadhavJivrajani commented on #1422
Hi! I'd like to work on this if possible 😄

/assign

[2021-04-15 17:41] yastij commented on #1462
@alvaroaleman - to avoid introducing a v2, the Events API had some changes but in the `events.k8s.io` apiGroup (core and `events.k8s.io` APIs are different). So to be more precise, we'd need to migrate from `core/v1` to `events.k8s.io/v1` of Events

[2021-04-15 22:32] alvaroaleman commented on #1462
So we can sure the servers have but it will need to be a breaking change as rbac changes, right?

[2021-04-16 07:07] timebertt commented on #244
New PR: #1435

[2021-04-19 04:48] #1271 closed

[2021-04-19 12:53] w3st3ry opened #1482 "Add condition on `setup-envtest.sh` while Darwin arm64 is not released"
Hi there,

I get stuck on the `setup-envtest.sh` script because the [kubebuilder-tools s3](https://storage.googleapis.com/kubebuilder-tools/) doesn't contains an `arm64` arch release for `darwin`.

This script is pulled from many repos, a condition to handle this case would be more relevant instead of getting a weird error msg.

A PR will be associated.

[2021-04-19 15:19] w3st3ry commented on #1482
#1483 merged.

[2021-04-19 15:19] #1482 closed

[2021-04-19 19:53] nesv commented on #1471
Sorry to jump in here: I'm currently experiencing a situation where my validation admission webhooks' `InjectDecoder` method are being passed a nil `*admission.Decoder`.

I don't think the omission of stating whether a function _could_ be passed a nil value could (or should) imply the guarantee that it will never receive a nil value. I (admittedly, somewhat lazily) just assumed I would be getting

[2021-04-19 20:21] alvaroaleman commented on #1471
That sounds like a bug.

Yeah, that is the same assumption we want to make in controller-runtime which is why I am opposed to adding a nilcheck.

[2021-04-20 00:46] joelanford commented on #1475
@weilaaa You are likely not seeing logs because you have not set the logger before making this call. For an example, here is how the default kubebuilder scaffolding sets the logger: https://github.com/kubernetes-sigs/kubebuilder/blob/e6f3a70339b03f0509f19cd02cfa41c307d9a96c/testdata/project-v3/main.go#L66

[2021-04-20 02:58] weilaaa commented on #1475
@joelanford ctrl.SetLogger() works, but if should we initialize a default logger to avoid situation that logger not set or user forget it instead of logging nothing?

[2021-04-20 07:05] michael-db commented on #1344
/remove-lifecycle stale

[2021-04-20 14:04] kstiehl commented on #1464
@alvaroaleman
Do you have more informations on that? I am currently running into the same problem. And a client cache that lags behind is just not acceptable imo.
But I dont find the place where the cache is actually evicted. If anyone could point this out to me I'd look into it

[2021-04-20 15:27] #1464 closed

[2021-04-20 15:45] kstiehl commented on #1464
I agree with you that a cache lags behind if someone else is doing the changes, so another process or another client. Since it bypasses the cache.
However if the controller itself is doing an update on the resource the cache should be invalidated, since we know that the data inside is outdated.

[2021-04-20 15:55] alvaroaleman commented on #1464
Once your "cache" is strongly consistent with your main data store you don't have a cache anymore, you have a read-only replica.

The machinery underlying all of this works by establishing a watch and getting changes pushed from the apiserver. This has a bit of delay. It does not support using something else to update the cache and I doubt it ever will. You should generally always build your code

[2021-04-20 16:24] kstiehl commented on #1464
Yes we are definitely on the same page here. We won't get strong consistency with a cache. Fully agree. Someone else could always make a change which is not immediately reflected in my cache. I am perfectly fine with that.

But when you write operators/controller you normally do incremental changes during your reconciliation loop to bring your resources closer to the desired state. That's a patter

[2021-04-20 16:37] alvaroaleman commented on #1464
No we don't, the same watch both triggers and backs the client.

Controller-Runtime is mostly a bunch of wrappers around low-level client-go aspects plus a set of packages that are useful in the context of a controller. Extending the client-go informer cache to allow getting updates from a different source than the watches might or might not be possible with the interface client-go exposes today,

[2021-04-20 20:15] nesv opened #1487 "v0.8.3: admission.Handler is being injected with a nil admission.Decoder"
Hi there!

Recently, I have been upgrading a code base from `sigs.k8s.io/controller-runtime` from v0.6.0 &rarr; v0.8.3. In v0.6.0, everything was working fine, but after updating to v0.8.3, our `admission.Handler`s are being injected with nil `*admission.Decoder`s.

Nothing has changed with how we are registering any CRDs.

I am still doing some digging through the changesets between 0.6.0 and 0.8

[2021-04-20 20:34] coderanger commented on #1464
More to the point, we take advantage of the fact that the same informers drive both the cache and the reconcile event processing to ensure we never miss events. You might get more reconciles than you want but you'll never get too few. Changing the informers to a write-through mode (if it was even possible) would break that which is way more important for system safety :)

Also because it wasn't me

[2021-04-21 06:31] Abhishek-Srivastava commented on #1464
@alvaroaleman @coderanger @kstiehl
Is there to know what would be the right amount of time to wait for the cache to be updated?
@alvaroaleman Like you pointed here: https://github.com/kubernetes/test-infra/blob/8f0f19a905a20ed6f76386e5e11343d4bc2446a7/prow/plank/reconciler.go#L516-L520 It probably tries 20 times in 2 seconds to match the state. Say, if want to make it configurable, how can we arri

[2021-04-21 06:37] everpeace commented on #983
#1486 will fix this issue.

[2021-04-21 06:51] kstiehl commented on #1464
So the use case I have is that I do an update in one reconcile loop. Which triggers another reconcile loop which also triggers an update to the resource.
In the second reconcile loop I use `r.Get` which gives me an object with a too old `resourceVersion` and since the `resourceVersion` doesn't match with the one in k8s, the update fails.

So what would be the correct way. Yes you guys keep mention

[2021-04-21 09:15] Abhishek-Srivastava commented on #1464
@kstiehl  This is the exact use-case I have.

[2021-04-21 14:07] coderanger commented on #1464
Once again Alvaro gets there first and correctly but to give the broader answer: I think you need to rework your mental model of controllers :) A common thing for new operator devs is they think in terms of procedural code, steps happening in order. Controllers aren't like that, they are convergent systems. This is an intentional design choice in Kubernetes to force you into building things in a m

[2021-04-21 14:57] kstiehl commented on #1464
@alvaroaleman Thanks for the clarification. This is actually the way it is implemented currently, so in the end the resource can be provisioned, I just have a log full of reconciliation exceptions, but if you say thats intended this I am fine with that.

@coderanger
Actually my operator is not written procedural at all, that's why I am doing incremental changes which get me closer to the desired s

[2021-04-21 15:27] coderanger commented on #1464
If your only concern is the error log, you can instead return from the reconciler with no error and set `Requeue: true` and the same retry behavior will activate :) It being an actual error or not is up to whatever serves your needs.

[2021-04-21 16:39] kstiehl commented on #1464
I am more worried about changes I potentially miss.
For example when a reconcile is triggered because something was changed in the resource. I try to check what actually changed but I get the old resource from the cache. So my reconcile loop would do nothing and not return an error. And simply miss this change. And I guess the only way to deal with this is to disable the cache?

Or is there a mech

[2021-04-21 18:01] coderanger commented on #1464
That is not possible. As I said the notifications for the reconcile and the cache are sync'd to the same informer data stream so whatever event triggered things, it will 100% be visible in its cache. There might also be later events still pending but when those get to you, you'll get another reconcile.

[2021-04-21 18:41] stevekuznetsov commented on #855
/reopen

This is not fixed and it's still entirely unclear how this works for a newcomer to this framework. Why do health and readiness probes have names? When do they start running? How do multiple interact?

[2021-04-21 20:55] kstiehl commented on #1464
I can confirm that the sync that you describe works perfectly fine when the resource was updated using `r.Update()`.
But  it's not when using `r.Status().Update()`. A change to the Status Subresource also changes the resourceVersion on the root resource.
So this example code here works exactly in the first reconcile loop. Ever subsequent reconcile loops will fail since the reconcile are not in syn

[2021-04-21 21:03] coderanger commented on #1464
Yes, it will. Which is why you shouldn't write code like that. Use Patch requests instead :)

https://github.com/coderanger/controller-utils/blob/e26c5734ecc941a03e9bf8798886a419e5202126/core/reconciler.go#L325-L330

That's my standard one. Otherwise as mentioned several times already you can check if the error is a version conflict and return with Requeue set. Either works, obviously I like my so

[2021-04-21 21:06] kstiehl commented on #1464
Thank you so much that's finally the missing puzzle piece 🥳
@Abhishek-Srivastava  I guess this is also the code you were looking for?

[2021-04-21 23:35] #1255 closed

[2021-04-22 05:34] Abhishek-Srivastava commented on #1464
@kstiehl  I am yet to read the full thread, but this what I have been doing:
[code]

[2021-04-22 15:40] bandesz opened #1489 "Add RequeueReason field to reconcile.Result"
## What

When we requeue in our controllers, we would like to log the reason why we had to requeue.

Would you be open to add a new `RequeueReason string` field to the `reconcile.Result` struct?

[2021-04-22 17:06] coderanger commented on #1489
Why not log it from your controller code? You would have a lot more control there no matter what. Also this is commonly expressed in Events as well.

[2021-04-22 17:39] bandesz commented on #1489
@coderanger obviously we can, but we have a controller wrapper lib and we would like to handle requeue events in a single place.

E.g. we can have a common logic that:
 - logs the requeue event with the given reason
 - maybe creates an event with the reason (but I would leave this to the concrete controllers)
 - updates a field on the object's status so users see what's happening (as we have commo

[2021-04-22 17:53] nesv commented on #1487
I'm officially stuck on where this issue could be happening.

With regards to the `runtime.Scheme` we pass when instantiating a `manager.Manager`, we are:

- Registering our CRDs with the [scheme.Builder](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.8.3/pkg/scheme#Builder) following the examples in the `scheme` package's godoc;
- Creating a [runtime.Scheme](https://pkg.go.dev/k8s.io/apimac

[2021-04-22 19:33] coderanger commented on #1489
I don't think this can be made usefully generic with a single string. There's too much context that should be managed in stuff like structured log values, Event types, etc. There just isn't much in common here.

[2021-04-23 05:25] porridge commented on #1487
Can you please post a stack trace where you see this `nil`?
Looking at the [library code](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.8.3/pkg/webhook/admission/webhook.go#L154-L162), I cannot see how a `nil` could get passed to [`InjectDecoder`](https://github.com/kubernetes-sigs/controller-runtime/blob/0d84ce43073cefb813563dd7586c943fa2c97783/pkg/webhook/admission/inject.go#L28)

[2021-04-23 08:48] lazywhite opened #1491 "controller-manager OOM"
## project go.mod
[code]

## Problem
1. I created 3 controllers to watch StatefulSet, Deployment, Service from all namespace,  when their annotation changed do something
2. I set memory limit to 200Mi
3. when in small cluster, it works fine
4.  when in a large scale cluster, there are too much resource to reconcile when booting that controller-manager got OOM Killed
5. So I can't set memory limit

[2021-04-23 08:53] coderanger commented on #1491
Yes, that is correct. It has to cache all of the objects so bigger cluster (or rather more of those objects) means bigger memory usage.

[2021-04-23 09:00] lazywhite commented on #1491
but my colleague's code  use client-go to build a controller, and it consume only 30Mi on large scale cluster.  It use cache and informer inside of client-go

[2021-04-23 17:56] coderanger commented on #1491
We can't really say without seeing the code.

[2021-04-23 18:06] bandesz commented on #1489
@coderanger my use case only requires a single string message. I don't need extra context, I can log that on a case-by-case basis in my controllers. The main purpose here is not logging, but getting back a single reason message to the users (either as a kubernetes event or a status message field on a status subresource).

I was making this suggestion as it's about a single string field, it require

[2021-04-23 18:07] joelanford commented on #1475
Looks like this PR may be what you're after: https://github.com/kubernetes-sigs/controller-runtime/pull/1446

[2021-04-23 20:17] coderanger commented on #1489
We try to not support limited use cases unless they are overwhelmingly needed. I think the complexity savings of setting a field vs. calling log.Info is minimal enough to not really help. I'm sure it makes sense in your specific case but I don't think that's general enough for others to take advantage of.

[2021-04-24 20:33] #1191 closed

[2021-04-24 21:58] coderanger commented on #1257
This sounds like its just the async nature of the read cache?

[2021-04-25 03:02] shyung commented on #1308
/remove-lifecycle rotten

[2021-04-25 13:10] aayushrangwala commented on #1476
/assign

[2021-04-25 13:19] aayushrangwala commented on #1463
@criscola I think the expectation of CLI flags to be given preference over the config file is valid. Considering the `AndFrom` comment
[code]

[2021-04-25 16:24] aayushrangwala commented on #1463
/assign

[2021-04-26 07:39] coderanger commented on #1447
Going to close this out since there has been no response. If you have any more questions please feel free to ask in the #kubebuilder channel in Slack.

/close

[2021-04-26 07:39] #1447 closed

[2021-04-26 07:42] coderanger commented on #1473
Hi there, just didn't want to leave you hanging. Right now most of the available bandwidth from the maintainer team has been going towards getting Kubebuilder 3.0 out the door, as well as prepping for some required workflow improvements now that 3.x will be supporting more versions in parallel. Once those are more stable, we'll resume the usual upgrade cycle. Going to close out this ticket since I

[2021-04-26 07:42] #1473 closed

[2021-04-26 07:44] coderanger commented on #347
@DirectXMan12 How would you feel about closing this? I think it's been long enough that SSA is pretty broadly available so we could maybe just skip the client-side abstraction entirely. We can maybe close this and open more specific tickets for any lingering issues (controller-gen support for the new typed builders? better docs?)

[2021-04-26 07:46] coderanger commented on #768
I think we should probably close this issue, the Fake client isn't deprecated anymore and the new builder syntax has fixed some of the worst problems. I think any remaining issues should move to their own tickets so users aren't misled by the history here.

[2021-04-26 07:49] coderanger commented on #1301
Going to close this out from lack of uptake. If someone wants to tackle a bigger library of reusable predicates, that can also be its own Go package :)

/close

[2021-04-26 07:49] #1301 closed

[2021-04-26 07:52] coderanger commented on #1383
Sounds plausible that there's some funky code in apiserver for one of the volume protection features that won't work well without the PVC controller running (which it doesn't in envtest). Unfortunately there's nothing we can do about this on our end, envtest is running an unmodified kube-apiserver just like always, the only special thing is it doesn't run any of the normal controller manager daemo

[2021-04-26 07:52] #1383 closed

[2021-04-26 07:54] coderanger commented on #1376
/help

[2021-04-26 08:16] weilaaa commented on #1475
Thanks, that's what I want, count me in.

[2021-04-26 09:48] bboreham commented on #768
Can you post a link to the commit/PR where it was un-deprecated please?

[2021-04-26 14:45] nesv commented on #1487
Hi @porridge!

@d-honeybadger and I were working on this, and she may have found the culprit. I say "may" because although this fix works, it could indicate the code we are working with is doing something incorrectly.

In https://github.com/kubernetes-sigs/controller-runtime/pull/1307/files#diff-517abdd2f47b744e11990598de732426f33aba68600eaa9600d2ee20bc0b25dcL227-L256, the order of injection funct

[2021-04-26 14:54] vincepri commented on #768
We're still looking for the fake client codebase, if anyone is interested please open a PR with a new OWNERS file

cc @alvaroaleman @DirectXMan12

[2021-04-26 15:02] alvaroaleman commented on #768
This was undeprecated in https://github.com/kubernetes-sigs/controller-runtime/pull/1101, I don't think there is anything left to do here. As Vince mentioned, if you are interested in owning some or all of the fake client, please add yourself to an OWNERS file there.

[2021-04-26 15:02] #768 closed

[2021-04-26 16:11] detiber commented on #768
I went ahead and started a PR to add an OWNERS file and related OWNERS_ALIASES for the fake client here: https://github.com/kubernetes-sigs/controller-runtime/pull/1494

I started by adding just myself, but happy to add others who may be interested in helping maintain the fake client as well.

[2021-04-26 18:53] GrigoriyMikhalkin commented on #855
@stevekuznetsov There's [now] [closed PR](https://github.com/kubernetes-sigs/controller-runtime/pull/856/files) with simple probes example. Also, i could write chapter in kubebuilder on health probes if that would be helpful.

[2021-04-27 13:53] d-honeybadger commented on #1487
@porridge Looking more closely, the "just-in-case" decoder injection that you [pointed out](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.8.3/pkg/webhook/admission/webhook.go#L154-L162) indeed works for most webhooks. The one case where it doesn't work is a webhook with a `multiValidating` handler (the same would be true for `multiMutating` handler`).
Since `multiValidating` handle

[2021-04-27 15:30] reith opened #1495 "Export interface only packages as separate module(s)?"
I will be happier if package `pkg/conversion` get exported as a separate module under controller-runtime project. This will allow me to make modules of my CRD types without pushing whole controller-runtime as dependency. This way, I can have a project that imports CRD types of different projects while those projects are using different versions of controller-runtime.

I've used this pattern and ha

[2021-04-27 18:41] #1392 closed

[2021-04-27 19:42] coderanger commented on #1495
That imports from apimachinery which would bring in all the k/k deps and lock them, so I'm not sure that would help as much as hoped. As it stands, I don't think there is a good path to a non-dependency-hell implementation of webhooks in the types package like that. You would have to back down to the lower level webhooks API and implement them outside of the types package. Go unfortunately puts he

[2021-04-27 19:56] reith commented on #1495
Well, as long as it's about reducing dependency depth of types modules (separated modules of CRD go types) they already import apimachinery for` ObjectMeta`, `TypeMeta` and registering CRDs. I guess I didn't understood which new limitation this approach will introduce?

[2021-04-27 20:01] coderanger commented on #1495
Which c-r dependencies are you worried about? The ones that cause problems are usually all the k/k packages since those generally get cranky if they aren't all on matching versions.

[2021-04-27 20:06] reith commented on #1495
The controller-runtime itself can be incompatible.. IIRC at some point logger constructor function has changed. It may rarely change but I guess less dependencies are better.

[2021-04-27 20:08] coderanger commented on #1495
Also true, but given that each c-r version encodes specific k/k dependency versions already, you aren't likely making things any worse by having to deal with that. It's all a package deal of dependency hell :D

[2021-04-27 20:21] reith commented on #1495
Each c-r versions add minimal versions of k/k dependencies to graph. Projects using controller-runtime can use higher versions of k/k components. If `pkg/conversion` go to a separate module, those projects needing just that package won't get locked to any specific k/k version, right? If `pkg/conversion` tend to bump to newer apimachinery very often, yes, projects using that module probably have le

[2021-04-27 20:25] coderanger commented on #1495
It will get locked, that's the nature of Go modules. You can't declare a dependency without locking it AFAIK. So that apimachinery dep functionally locks your entire dep graph into a single shape. With or without c-r itself, there is only one version of things that will work together. Go lacks the functionality of other langs for "floating library deps" where a library can depend on a range of ver

[2021-04-27 20:32] reith commented on #1495
That's not what I understood by [Minimal Version Selection](https://golang.org/ref/mod#minimal-version-selection) algorithm.

Go modules lack the functionality of saying "plz give me client-go > 0.17" for good but, a library user can still add client-go 0.18 directly as dependency and it will be used even if library added client-go 0.17 as dependency.

[2021-04-29 07:48] invidian opened #1496 "envtest.Environment.Stop() leaves orphan /tmp/envtest-serving-certs-* directories"
Executing the following snippet in tests:
[code]

Leaves orphan files in `/tmp`:
[code]

They should be cleaned up.

[2021-04-29 09:40] RainbowMango opened #1497 "Can we cherry-pick #1339 to release-0.7"
After I updated v0.7.2, I found the `DATA RACE` issue as described on https://github.com/kubernetes-sigs/controller-runtime/issues/1337, and it has been fixed by https://github.com/kubernetes-sigs/controller-runtime/pull/1339.

This issue also presents on release-0.7, can we cherry-pick and tag a new release?

cc @vincepri

[2021-04-29 10:55] avrahams commented on #1191
@camilamacedo86
Will this resolve my issue in the sdk ?
https://github.com/operator-framework/operator-sdk/issues/4434

Where can I find OpenShift Route CRD?

[2021-04-29 12:55] RainbowMango opened #1498 "release-0.7 depends on incompatible gnostic"
The v0.7.2 depends on [gnostic@v0.5.1](https://github.com/kubernetes-sigs/controller-runtime/blob/d18941971dff2fe91e1eca8fa0ee25f8cfd0ab5e/go.mod#L11) which using `yaml.v3`.
But v0.7.2 also depends on [client-go@v0.19.2](https://github.com/kubernetes-sigs/controller-runtime/blob/d18941971dff2fe91e1eca8fa0ee25f8cfd0ab5e/go.mod#L26) which using `yaml.v2`.

My project also depends on kubernetes v0.19

[2021-04-29 14:14] invidian commented on #244
#1435 is now merged, so is this resolved?

[2021-04-29 14:18] taylormgeorge91 commented on #244
It is being worked into a release currently @invidian

Looking at the tags there is a v0.9.0-beta available if you want to test.

[2021-04-29 14:26] invidian commented on #244
Thanks, will do!

[2021-04-29 15:51] estroz commented on #244
@invidian yes I believe this is resolved.

/close

[2021-04-29 15:51] #244 closed

[2021-04-29 23:48] DirectXMan12 commented on #1234
I think this is likely to be subsumed by #1488, closing for now

[2021-04-29 23:48] #1234 closed

[2021-04-30 16:55] #1377 closed

[2021-04-30 16:55] #1378 closed

[2021-04-30 22:27] #1300 closed

[2021-05-01 14:54] alvaroaleman commented on #1487
FIxed in https://github.com/kubernetes-sigs/controller-runtime/pull/1502

[2021-05-01 14:54] #1487 closed

[2021-05-02 06:31] MadhavJivrajani commented on #1411
/assign

[2021-05-02 07:31] reith commented on #1495
While I was forking `pkg/conversion` as a sub-module of my project, I learned apimachinery doesn't pull anything from k/k, at-least if it just want to satisfy the mentioned interface and it's actually the other way round; some k/k packages import apimachinery. This is list of all packages that `pkg/conversion` depend on:

[code]

Nothing more than what is needed for a regular CRD types package.

[2021-05-02 14:55] aayushrangwala commented on #1496
/assign

[2021-05-02 15:19] aayushrangwala commented on #1496
@invidian I see the cleanup code to handling the removal of these `/tmp` directories as well. Maybe those were the directories left when the test suite was manually cancelled by the external interruption or the `envtest` version must be older. Please verify again by cleaning these directories and retry the suite and check if the directories are still not being cleaned

[2021-05-02 15:47] invidian commented on #1496
Hmm, I use `USE_EXISTING_CLUSTER=true` with `sigs.k8s.io/controller-runtime v0.8.3`. But no, the test suite is not manually terminated and yes, definitely it's newly created.

Following code can be used for testing:
[code]

Then, run as `USE_EXISTING_CLUSTER=true go test -v -count 1 ./ && ls -ld /tmp/envtest-serving-certs-*`

Using `sigs.k8s.io/controller-runtime v0.9.0-beta.0.0.20210501145159-3b2

[2021-05-02 17:00] aayushrangwala commented on #1496
Yes, that make sense. So the behavior while using  existing cluster, its not cleaned

[2021-05-02 20:02] tamalsaha opened #1505 "How to pass client to the webhook implmentation?"
Our CRD validator and mutator needs additional information from the cluster to perform its task. From what I can tell from the docs, there does not seem to be a way to pass client to the validator and mutator. https://book.kubebuilder.io/cronjob-tutorial/webhook-implementation.html

[code]

Is this possible? If not, can this be supported? It seems it can take an approach similar to the `Reconciler

[2021-05-02 20:39] tamalsaha commented on #1505
https://github.com/coderanger/migrations-operator/blob/main/webhook/webhook.go#L44-L50

[2021-05-03 07:56] slintes commented on #702
Hi, is anyone working on this? My team is hitting this issue and we can spend some time trying to fix it.

[2021-05-03 11:06] ekj1711 opened #1506 "CVE-2020-26160 vulnerability"
Vulnerability link - https://snyk.io/vuln/SNYK-GOLANG-GITHUBCOMDGRIJALVAJWTGO-596515

Creating a placeholder issue to address this CVE vulnerability.

[2021-05-03 11:10] furkhat opened #1507 "metadata client does not apply patch options"
The `opts` argument is ignored. I think `.ApplyOptions(opts)` should be called here https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/metadata_client.go#L107

[2021-05-03 11:49] alvaroaleman commented on #702
@slintes no, feel free tu pick it up!

[2021-05-03 12:10] #1422 closed

[2021-05-03 12:14] alvaroaleman commented on #1506
@ekj1711 controller-runtime neither directly not transiently depends on github.com/dgrijalva/jwt-go, what makes you think it was affected?

[2021-05-03 12:17] ekj1711 commented on #1506
i see that its getting referenced in go.sum file.

[2021-05-03 22:29] danehans opened #1509 "Object Has Been Modified Error After Upgrading to v0.9.0-beta.0"
After upgrading controller-runtime to `v0.9.0-beta.0`, I see the following intermittent errors in the controller logs:

[code]

The controller performs a get of the daemonset object resource before updating it. Since this error did not exist prior to the upgrade, I'm wondering if changes in `v0.9.0-beta.0` may be causing the issue.

[2021-05-03 22:55] coderanger commented on #1509
This is a thing that happens if someone else updates the object between your get and update. Kubernetes uses optimistic locking, and the Get is on an async cache so the window of badness is probably bigger than you expect just from the code as written. The way to fix these more generally is to switch from Update() to Patch() calls, preferably server-side-apply if possible but failing that a MergeF

[2021-05-04 15:55] mhrivnak commented on #1454
Has there ever been discussion of adding metrics for cache size by resource? That could help someone quickly identify why their controller is using more memory than expected, and point them in the right direction for making changes to reduce the scope of what's cached. As observed, this can be especially significant for a cluster-scoped controller.

[2021-05-04 17:58] #1471 closed

[2021-05-04 19:04] wbrefvem commented on #702
@mittachaitu I tried your workaround, but i still get an error. Fake client still tries to populate the UnstructuredList with objects of the underlying type. It seems to me that one of two solutions is necessary:

1.  Pass Unstructured to client-go instead of the underlying type (not sure if client-go supports this or if it even makes sense)
2.  Convert the items in the list of objects of the unde

[2021-05-04 19:32] wbrefvem commented on #702
@alvaroaleman I'm not sure if this is the same issue, but I noticed that if I set the GVK for the `UnstructuredList`, fake client does fetch the correct list, but it still errors because client-go returns a list of the underlying type instead of `Unstructured`. Fake client tries to  populate the `UnstructuredList` with objects of the underlying type instead of `Unstructured`.

Again, not sure if i

[2021-05-04 19:38] alvaroaleman commented on #702
Sounds like a different but potentially related issue. This is about fetching objects through unstructured that are not registered in the Scheme, which implies that client-go is never going to return something other than `Unstructured{,List}`

[2021-05-04 20:17] wbrefvem opened #1511 "fakeClient.List tries to populate UnstructuredList with objects of underlying type"
If I have an UnstructuredList with a known GVK, passing it to `fakeClient.List` returns an error:

[code]

Running in the debugger revealed that `fakeClient.List` passes the underlying type to `client-go`, which returns a list of the underlying type. So it makes sense that fake client would error when trying to populate the `UnstructuredList` with objects it gets from `client-go`.

There should be

[2021-05-04 20:19] maxsmythe commented on #873
/reopen

[2021-05-05 21:56] mpreu commented on #1191
@avrahams
There is none for `Routes`. All OCP related CRDs are potentially to be found in the [API repo](https://github.com/openshift/api), but a lot of "older" OCP resources are not published that way. Recently had contact with some Red Hat people about that and my information so far is, there is no really immediate plan to change that.

There is a manual way though. One has to create a 'fake' CR

[2021-05-06 09:34] furkhat opened #1514 "No use for metadata_client.PatchStatus"
Metadata client's PatchStatus receives client.Object that must be of *metav1.PartialObjectMetadata type which seems useless because PartialObjectMetadata doesn't have fields that describe status.

Here
https://github.com/kubernetes-sigs/controller-runtime/blob/v0.8.3/pkg/client/metadata_client.go#{L169:L172} - exits with error if type isn't *metav1.PartialObjectMetadata
https://github.com/kubernet

[2021-05-07 01:24] jpfourny commented on #1442
I am seeing this, too. The usage of `WaitGroup` is a bit sketchy - a ticking bomb. In a nutshell: `controllerManager` is failing to account for the fact that WaitGroup's `Add` and `Wait` function require synchronization on the first call to `Add`. There is a critical section on the first increment (bringing the internal count above zero) that WaitGroup expects the caller to deal with.

[2021-05-07 02:14] jpfourny commented on #1442
An interesting observation (in my case): Running with Go 1.16 consistently produces the issue. Dropping to Go 1.15 makes it go away. So ... perhaps race detection changed between Go releases? Either Go 1.16 has false positives on races, or it is picking up a legit race that 1.15 cannot see. I noticed that this project is testing with 1.15 ...

[2021-05-07 09:19] kaoet opened #1517 "TypeMeta is empty when using client.Get()"
I use `client.New()` to build a `Client` and call its `Get()` method to get some object. But the returned object has an empty TypeMeta.

[code]

Expected output:

[code]

Actual output:

[code]

[2021-05-07 10:13] ahalim-intel commented on #852
I think this is an important feature that manager allows to pass custom TLS config if needed for example configuring webhook with mTLS and restricting to run on more secured version of TLS.

#1152 would solve this issue if re-opened.

[2021-05-07 10:40] cndoit18 commented on #1462
kubernetes/kubernetes#101782
I tried to add events expansion in client-go so that we can migrate

[2021-05-07 12:04] RainbowMango commented on #852
cc @vincepri @alvaroaleman @DirectXMan12

[2021-05-07 14:12] jpfourny commented on #1442
Yeah - the usage of WaitGroup is sketchy. It's true that `Wait` and `Add` are not safe to be called concurrently. This is a ticking time-bomb.

[2021-05-07 14:13] jpfourny commented on #1442
What I don't understand is why -race is detecting the problem consistently in 0.8.3, but not back in 0.6.5. The usage patterns of WaitGroup did not change drastically.

[2021-05-07 21:23] #1507 closed

[2021-05-08 02:12] cndoit18 opened #1518 "Fixes for Deprecation of io/ioutil (in Go 1.16)"
Please see https://golang.org/doc/go1.16#ioutil

We have a lot of references to ioutil which we need to migrate to newer package(s) mentioned in the url above:
https://cs.k8s.io/?q=io%2Fioutil&i=nope&files=.*%5C.go&excludeFiles=&repos=kubernetes-sigs/controller-runtime

We also need some verify scripts to ensure we don't add back this package

[2021-05-08 03:03] coderanger commented on #1518
I think we'll have to wait a while on this one unless we want to 100% require Go 1.16+, which seems like it's too soon to require that every operator project using controller-runtime be able to upgrade.

[2021-05-08 03:27] cndoit18 commented on #1518
#1389
our dependence has been updated, so I think it is possible

[2021-05-08 03:27] cndoit18 commented on #1518
/assign @cndoit18

[2021-05-08 03:33] coderanger commented on #1518
controller-runtime is a library, so while this repo is built and tested with Go 1.16, I don't think we (yet) require that all library users use 1.16. I could be wrong though, I haven't tried building any of my operators with 1.15 lately :) If we already made the choice to use 1.16-only stuff then 100% yes we should do this. Otherwise we should probably ride the deprecation another few months at le

[2021-05-08 03:46] cndoit18 commented on #1517
This is an upstream error, do we need to do a temporary fix?
I can try to complete this thing.
kubernetes/kubernetes#3030

[2021-05-08 05:45] cndoit18 commented on #1518
you are right. the key issue is whether we require users to use Go 1.16

[2021-05-10 02:25] alvaroaleman commented on #702
/assign

[2021-05-10 02:28] alvaroaleman commented on #1511
@wbrefvem I am a bit surprised this fails, we have testcases for this: https://github.com/kubernetes-sigs/controller-runtime/blob/745c7c98a7223069fcaab6b2e1b373f40d82e15a/pkg/client/fake/client_test.go#L124-L142

We don't do that, we serialize and deserialize: https://github.com/kubernetes-sigs/controller-runtime/blob/745c7c98a7223069fcaab6b2e1b373f40d82e15a/pkg/client/fake/client.go#L333-L338

*

[2021-05-10 02:59] alvaroaleman commented on #1505
This isn't possible with the `Validator` and `Defaulter` and not desirable, because it would mean that your API depends on a specific controller-runtime version.

https://github.com/kubernetes-sigs/controller-runtime/tree/master/examples/builtins has examples on how to build a Mutating or Validating webhook without using the `Validator` and `Defaulter`.

[2021-05-10 03:10] alvaroaleman commented on #1506
@ekj1711 this is a transient dependency which ends up being purged from controller-runtime, if you do `go mod vendor` it wont be there.

[2021-05-10 03:10] #1506 closed

[2021-05-10 14:37] #702 closed

[2021-05-10 15:27] alvaroaleman commented on #1509
@danehans yeah, I don't think this is a bug in controller-runtime. Seeing this might have coincided with updating c-r, but that is unlikely to be a causal relationship. I am going to close this, feel free to reopen if you disagree.

[2021-05-10 15:27] #1509 closed

[2021-05-10 17:41] tamalsaha commented on #1505
Can you explain a bit more? By api, do you mean YAML format or the go code? We need access to some other object in the cluster not to the CR object itself.

[2021-05-10 17:43] alvaroaleman commented on #1505
By api I meant the go types in your code base

[2021-05-10 17:48] alvaroaleman commented on #1505
k8s.io/api should and k8s.io/apimachinery is not something I would expect a go package that holds the types for a CRD to depend on?

[2021-05-10 17:51] tamalsaha commented on #1505
metav1.TypeMeta, metv1.ObjectMeta those are in apimachinery. So, every k8s type depends on k8s.io/apimachinery.

[2021-05-10 22:11] wbrefvem commented on #1511
Yes.

controller-runtime version: v0.9.0-beta.0

I'll try to be as brief as possible:

[code]

The test case is configured with a resource of this type already created. The expected behavior is that the call to `Client.List` should return an `UnstructuredList` with exactly 1 item, and admission should be denied. Instead, it returns the error I provided above

[code]

Running the test suite fails:

[2021-05-10 22:14] wbrefvem commented on #1511
I should also add that the GVK is generated by decoding the request into `unstructured.Unstructured` and then calling `GroupVersionKind()` on the decoded `Unstructured`.

[2021-05-11 17:07] prometherion commented on #1161
Hey @camilamacedo86, thanks for sharing these: everything works fine with the latest versions, thanks a lot! 🙌🏻

[2021-05-12 05:02] laverite opened #1522 "LeaderElectionReleaseOnCancel is Not Honored"
Manager option `LeaderElectionReleaseOnCancel` (added in https://github.com/kubernetes-sigs/controller-runtime/commit/93e6db8d5f04222e42accaa91af027e8bc4ec52b) does not take effect when set.  It appears this option is simply not plumbed through all the way to the internal `controllerManager`.

[2021-05-12 13:18] #1522 closed

[2021-05-12 17:43] cndoit18 commented on #1517
@alvaroaleman
Hi, I tried to process it first in controller-runtime and then wait for the upstream to solve
What do you think?

[2021-05-12 17:48] cndoit18 commented on #1517
/assign @cndoit18

[2021-05-12 17:53] alvaroaleman commented on #1517
tbh I'd prefer to not woraround this downstream, simply because the issue is not severe enough, you can get the type info from the scheme. WDYT @vincepri ?

[2021-05-12 18:02] cndoit18 commented on #1517
Just like kubectl, the TypeMeta is never empty.
I have created the PR. can you help to review it? please

[2021-05-12 19:44] MadhavJivrajani commented on #1514
/assign

[2021-05-14 00:25] varshaprasad96 commented on #1456
Though it is recommended to have single controller per crd, having multiple controllers update a resource is completely acceptable (except that it may cause race conditions). Can you elaborate more on what you mean by HPA of controller, and the kind of feature/support you expecting controller-runtime to have?

[2021-05-14 20:45] #1436 closed

[2021-05-14 21:10] christopherhein commented on #1436
@coderanger do you think it makes sense to make another issue to track doing the audit webhook support?

[2021-05-14 21:12] christopherhein commented on #1436
@rfranzke now that the first TokenReview is merged do you think we could add another issue to track the authorization webhook? Also is that something you're interested in adding?

[2021-05-16 13:09] prafull01 opened #1528 "Envtest is not deleting any object if given DeletePropagationForeground in the deletion options"
I am trying to run a test of Delete Function in operator where I am deleting a `cronJob` , 'Deployment` and `ClusterRole` as a DeleteOption gives as DeletePropagationForeground.

In this case, k8sclient doesn't throw error at the time of deletion but when you Get the object, the object is present in the etcd.

Once, I change the propogation policy to `Background`, everything works fine. Client del

[2021-05-16 20:32] coderanger commented on #1528
This is because envtest does not run any controllers, in this case specifically the `gc` controller is not run. A foreground "delete" is actually just setting a timestamp and finalizer. The background delete also doesn't delete owned objects for the same reason.

[2021-05-18 09:52] denist-huma opened #1529 "How to run "envtest" suite with built-in controllers and garbage collection on?"
I am writing an Operator to manage a custom application lifecycle. I have bootstrapped my project using the operator-sdk version: "v1.7.1"

[code]

## Versions

[code]

## Testing Setup considerations

As the doc says here [Testing considerations](https://book.kubebuilder.io/reference/envtest.html#testing-considerations),

I guess this is why I have an unexpected suite failure with an internal Kin

[2021-05-18 11:38] sunnoy commented on #1049
How to obtain pod resource events and handle them through the handler ？

[2021-05-18 12:15] sunnoy opened #1530 "How to use Own() method to get own resources"
[code]

And how to watch deployment events ?

[2021-05-18 17:47] coderanger commented on #1529
You keep saying "an Internal Kind" but I don't know what that means. Do you think that envtest uses Kind? Because it doesn't, it directly runs the etcd and kube-apiserver binaries natively. The correct way to do this is as you describe, you use existing cluster mode combined with a real (albeit small) cluster tool like Kind or K3s.

[2021-05-18 23:42] christopherhein commented on #1278
/close

[2021-05-18 23:42] #1278 closed

[2021-05-19 06:07] prafull01 commented on #1528
Thank @coderanger . I have re-written my tests which are only checking the deletion timestamp is set or not set in case of foreground deletion.

From my side, this can be closed..

[2021-05-19 06:09] coderanger commented on #1528
/close

[2021-05-19 06:09] #1528 closed

[2021-05-19 14:36] Yashks1994 commented on #1530
/assign

[2021-05-19 14:40] Yashks1994 commented on #1530
Owns method you have implemented correctly.
Check the example - https://book.kubebuilder.io/cronjob-tutorial/controller-implementation.html#setup

In order to watch the deployments events, you need to use the Watches() method to watch the events.
For eg..
Watches(&source.Kind{Type: &appsv1.Deployment{})
Follow this link for more abstract parameters - https://github.com/kubernetes-sigs/controller-r

[2021-05-19 21:07] coderanger commented on #1388
That section of the docs is explaining _why_ it follows a hub and spoke structure. Not suggesting that it's optional.

[2021-05-19 21:12] muvaf commented on #1388
@coderanger It's not about the docs necessarily. I am asking why the implementation exists even though the api-server already implements the hub-spoke model, i.e. calls only the endpoints that converts to and from the hub version(storage version).

[2021-05-19 21:18] coderanger commented on #1388
Not sure what implementation you mean, controller-runtime doesn't separately implement anything. This is part of explaining how conversion webhooks work. Those webhooks are called by kube-apiserver as part of the custom type API handling.