[2019-06-27 01:19] DirectXMan12 commented on #503
In either case, the type alias approach is growing on me aesthetically speaking, regardless of the approach taken WRT to options that don't take arguments (public return types vs anonymous interfaces).

[2019-06-27 20:08] shawn-hurley commented on #498
The controller runtime client by default is: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/split.go#L29

This is where it is set up:

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L284

You can see that Reader is set to use the cache, which will use the cache, which is an abstraction over the informer cache. Which means it w

[2019-06-27 23:20] functicons commented on #491
I have the same question, how do I actually run the [example_test.go](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.2.0-beta.2/example_test.go)?

[2019-06-27 23:22] camilamacedo86 opened #505 "RFE: Change the arg type to pass objects to the fake client"
## What
Perform the following change.
Replace

[code]

For

[code]
## Why
Make easier we use the default testing golang API and centralize the code to pass a [] of mock objects. Following an example.

[code]

[2019-06-27 23:22] functicons opened #506 "Need a README.md file for examples/"
I think we need a README.md file for [examples/](https://github.com/kubernetes-sigs/controller-runtime/tree/master/examples) to explain: 1) what the examples are about; 2) how to build and run these examples.

[2019-06-28 00:29] alexeldeib commented on #505
Invoke the function with `...` following the final slice arg. Example:

[code]

ref: https://stackoverflow.com/questions/23723955/how-can-i-pass-a-slice-as-a-variadic-input

[2019-06-28 01:32] devdattakulkarni commented on #506
+1

[2019-06-28 06:43] lli-hiya commented on #500
I am seeing exactly the same issue. Any workaround?

[2019-06-28 08:49] Jingru commented on #500
Same issue here.

[2019-06-28 16:42] nstogner commented on #481
Hey @shufanhao, if it were me I would add a field like `ErrorIfCRDPathMissing` field to `envtest.Environment` and pass it in to the call to `InstallCRDs` in the `Start()` method. See links below for reference.

https://github.com/kubernetes-sigs/controller-runtime/blob/b5e34e45a56a75cec5b47f2b9a346527fe93c859/pkg/envtest/server.go#L75

https://github.com/kubernetes-sigs/controller-runtime/blob/b5e

[2019-06-28 17:03] connor1989 commented on #481
@shufanhao are you still tracking this one? I have some bandwidth tomorrow otherwise

[2019-06-28 18:07] DirectXMan12 commented on #500
should've just been fixed by #499

[2019-06-28 18:07] #500 closed

[2019-06-28 18:11] #478 closed

[2019-06-28 18:11] DirectXMan12 commented on #506
/help
/kind documentation

[2019-06-28 18:14] DirectXMan12 commented on #505
that should work fine.  I'm not sure there's much reason to switch here.  closing for now.

[2019-06-28 18:14] #505 closed

[2019-06-28 20:39] DirectXMan12 commented on #491
If you want to serve webhooks, yes, you'll have to have certificates.

`example_test.go` cannot be run directly.  It's a golang convention for providing example code in godocs and checking that it continues to compile.

[2019-06-28 20:39] #491 closed

[2019-06-28 20:40] DirectXMan12 commented on #498
Closing as per shawn's response.  feel free to continue asking questions here, though

/triage support

[2019-06-28 20:40] #498 closed

[2019-06-28 20:42] DirectXMan12 commented on #442
The development flag control also controls output format (human-readable vs json), so we need more granular options.

[2019-06-28 20:42] DirectXMan12 commented on #442
Perhaps we should adopt the "functional options" style here too.

[2019-06-28 20:44] DirectXMan12 commented on #312
I'd prefer something closer to option 1 -- it's more explicit where things are coming from, and doesn't rely on a quirk of the underlying implementation.  Channel source is probably not the right way if we're building it in -- we probably just want a custom source.  The trick is that we probably just want access to the keys from the cache w/o the full objects, so client.List is insufficient.  This

[2019-06-28 20:44] DirectXMan12 commented on #354
close as per above PRs

[2019-06-28 20:44] #354 closed

[2019-06-28 20:45] DirectXMan12 commented on #42
I believe this is fixed now, as per #370.

[2019-06-28 20:45] #42 closed

[2019-06-28 20:51] #479 closed

[2019-06-29 07:29] #299 closed

[2019-07-01 01:53] shufanhao commented on #481
@connor1989 , sorry be late for response, you can take it.

[2019-07-01 15:07] ksurent opened #509 "Better labels for reflector metrics"
Hi,

the labels attached to reflector metrics currently are hardly readable or even useful:

[code]

All we have is a callsite that's common for all informers inside a controller. I think a breakdown by GVK could be helpful. What do you think?

PS: I realise that to improve this situation the majority of work will likely need to be done in `k8s.io/client-go/pkg/cache`, not here.

[2019-07-01 21:19] droot commented on #503
The type alias approach appears to be more elegant IMO.

[2019-07-03 17:12] functicons opened #514 "Reconcile error message was not printed"
Background: https://github.com/kubernetes-sigs/kubebuilder/issues/832
Controller runtime version: v0.2.0-beta.2

I noticed that if Reconcile() returns error, the controller logs the error [here](https://github.com/kubernetes-sigs/controller-runtime/blob/v0.2.0-beta.2/pkg/internal/controller/controller.go#L218), but the log is unable to get flushed before the worker goroutine exits. So, what we can

[2019-07-03 20:04] functicons commented on #514
I am wondering where was the stack track printed? I cannot figure it out from the source code.

[2019-07-03 20:17] functicons commented on #514
This issue seems to be related https://github.com/operator-framework/operator-sdk/issues/1615

[2019-07-03 20:40] functicons commented on #514
Seems the problem is with `log.Error` itself, it doesn't print the actual error while prints the stack trace which is not useful.

[2019-07-04 00:19] #214 closed

[2019-07-04 07:18] alvaroaleman commented on #244
/reopen
/remove-lifecycle rotten

[2019-07-06 02:57] #514 closed

[2019-07-10 10:53] camilamacedo86 commented on #505
Hi @DirectXMan12, @alexeldeib

In order to do it dynamically, I cannot do it as:

`err := funcTakingVariadicArgs(thing, thing2, sliceArg...)`

As described in the example, I would like to pass a LIST of objects in each test which will not be equals.
Then, if I pass a list for it just the first object will get in the count and not the N.

[2019-07-10 11:58] camilamacedo86 commented on #505
Hi @DirectXMan12 and @alexeldeib,

May with the PR to do it the need of the change can be clarified. See in the test how we can use it:  https://github.com/kubernetes-sigs/controller-runtime/pull/517/files#diff-0a60602d56390f93f67c218d48470b2cR250

[2019-07-10 17:35] johnsonj opened #518 "Provide a ComponentConfig to tweak the Manager"
Controllers would like to tweak the settings of the manager (eg, change logging verbosity) through a ComponentConfig.

Additionally, individual controllers may want to expose settings that relate to their usecase (eg, a whitelist of git repos an operator can pull from). I'm not sure if that's a usecase worth splitting off but we would like to use this for [addon-operators](https://github.com/kuber

[2019-07-10 22:19] camilamacedo86 commented on #505
Hi @DirectXMan12 really tks for your support. I did something wrong in my previous test. You are 100% correct.

[2019-07-17 01:45] ghostsquad commented on #500
I'm still having this problem.

[code]

what am I doing wrong?

[2019-07-17 16:47] skonto opened #521 "Why resync default is so large - 10hours"
Resync interval is 10hours and there is a recommendation not to change it.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/manager/manager.go#L103
Several operators like the lyft flink operator (controller runtime based) and the spark operator (sample controller based) set it to 30s. Why a so large default value? Is there a difference between this and the cache mechanism use

[2019-07-17 22:48] raffaelespazzoli opened #524 "fake client unable to List Job objects"
I am getting this error when trying to list job objects using the fake client in my unit tests:
[code]
the code to reproduce the error is the following:
[code]
here is some of the initialization that may be relevant:
[code]
[code]

[2019-07-18 13:05] raffaelespazzoli commented on #524
after adding some log statements to the fake client code I can see that this [statement](https://github.com/kubernetes/client-go/blob/0c47f9da00011ea9a8717671127ac21625c7a6c0/testing/fixture.go#L246) in [fixture.go](https://github.com/kubernetes/client-go/blob/master/testing/fixture.go) is successful and I can see that the object in the array is actually a Job:
[code]
same this at this [statement]

[2019-07-19 20:18] vincepri opened #526 "Object loses TypeMeta after Patch"
I have this code in a defer function running in a Reconciler:

[code]

which fails with the following error

I added some `spew.Dump` lines between the updates and it seems that the first Patch that goes through (no matter the order) makes the original object to lose TypeMeta.

Before
[code]

After:
[code]

Probably related to https://github.com/kubernetes-sigs/controller-runtime/issues/406

[2019-07-19 20:48] vincepri commented on #526
/cc @DirectXMan12

[2019-07-19 22:13] otakumike commented on #484
Just in case anyone else stumbles upon this Issue and needs a little more context - I was able to fix this using `.Named()` when calling `SetupWithManager()`. For example:

[code]

[2019-07-22 00:03] hasheddan commented on #506
Happy to take this one!

[2019-07-22 07:31] alastor-erinyes commented on #500
I hit this same issue as well.

[code]
I've tried a few `replace` directives in go.mod, but nothing is working so far.

[2019-07-22 16:43] ncdc commented on #526
@liggitt do you have any advice for a reasonable fix here? We could have controller-runtime record the GVK pre-patch, then restore it using `defer`, but I'm wondering if there is something more fundamental we're either doing wrong or should be doing differently?

[2019-07-23 00:54] functicons commented on #506
Thank you very much!

[2019-07-23 00:54] #506 closed

[2019-07-23 01:20] Azadehkhojandi opened #531 "default CertDir path on windows throws exception"
I’m trying to find a way to debug kubebuilder admission webhooks which uses cert-manager on windows or WSL!
I have installed cert-manager on my cluster and I can confirm it works.
I have tried debugging code  using vscode,  directly on windows and using the remote devconatiner and I’m getting the same error

{"error": "open /tmp/k8s-webhook-server/serving-certs/tls.crt: no such file or directory"}

[2019-07-23 17:17] mengqiy commented on #531
cc: @DirectXMan12

[2019-07-23 18:40] ncdc opened #532 "Add pagination support to clients"
Once #341 merges, it would be nice to add implicit support for list pagination to both `typedClient` and `unstructuredClient`.

I'd be happy to take a stab at this.

[2019-07-23 23:50] jzhoucliqr opened #534 "expose newResourceLock in manager.Options so that controllers can use customized resourceLock"
I have a use case to run a standalone aggregation-apiserver without native kube-apiserver. To enable leader selection for controllers, currently controller-runtime hardcode to use configmapLocks, which won't work for this case because configmap resource is not available in the aggregation-apiserver.

If we expose newResourceLock outside of manager.Options, then controllers can their own customized

[2019-07-24 01:56] DirectXMan12 commented on #531
so, I usually run locally when debugging -- that way I can run delve  from my terminal (or, if you're an IDE person, from your editor or IDE).

Doing that with webhooks is tricky since you'd need a way to forward the requests, so I often fall back to logging if I need to mimic actual requests and I can't copy-paste or hand-write them.  In this case, running locally is probably sufficient, since yo

[2019-07-24 01:58] DirectXMan12 commented on #532
/kind feature
/priority backlog

sure, sounds good

[2019-07-24 20:41] guymguym opened #537 "client.New() takes more than 10 sec when far from apiserver (apiutil.NewDiscoveryRESTMapper)"
I am developing and running the https://github.com/noobaa/noobaa-operator as a CLI tool and remote operator for testing.

When I work with a local cluster like minikube, I don't notice anything, but when I am working to a cluster across the Atlantic, it suddenly takes long time just to initialize the client.

I wrote a short program that shows exactly where the problem is:

[code]

Any this is the

[2019-07-24 20:47] guymguym commented on #537
Maybe a fix can also take into account #321 because they are around the same code.
I also encountered this issue that creating a CRD does not reflect in the RESTMapper.

[2019-07-24 22:18] guymguym commented on #537
Here is a function I used that in my case reduces the time from above 10 seconds to 2:
[code]

[2019-07-25 10:54] yashbhutwala opened #538 "SetControllerReference panics and returns a segfault"
I'm passing in `ctrl.SetControllerReference(POINTER_TO_CR, pod, r.Scheme)` and getting

[code]

The panic seems to be triggered by: https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controllerutil/controllerutil.go#L62

[2019-07-25 16:32] yashbhutwala commented on #538
Never mind, I did not add the scheme in the Reconciler

[2019-07-25 16:32] #538 closed

[2019-07-25 17:54] ncdc opened #540 "Support adding new watches dynamically at runtime"
This feature was added before (and requested in #246), but the updated Manager & Builder patterns don't support this any more because they take care of creating a Controller instead of having user-written code do it, and the Controller isn't accessible to your reconciler.

There was a discussion about this in Slack (https://kubernetes.slack.com/archives/CAR30FCJZ/p1561759175084100). I'm thinking w

[2019-07-25 17:54] ncdc commented on #540
cc @vincepri

[2019-07-25 19:36] #503 closed

[2019-07-25 21:41] liggitt commented on #526
I'm not familiar with these client methods... where is it clearing the GVK?

[2019-07-25 21:52] DirectXMan12 commented on #172
/remove-lifecycle rotten
/lifecycle frozen

[2019-07-25 22:21] liggitt commented on #526
@smarterclayton I'm not familiar with the full client stack, but this may be the direct encoder/decoder dropping GVK on decode. There are a couple related issues:

* https://github.com/kubernetes/kubernetes/issues/80609 (just opened)
* https://github.com/kubernetes/kubernetes/issues/3030 - individual list items do not contain kind/apiVersion, only the outer list does (wouldn't directly impact this

[2019-07-26 05:37] rajathagasthya opened #541 "envtest: expose CRDInstallOptions via Environment"
This is related to #481. Currently, there is no way to specify `CRDInstallOptions` using `envtest.Environment`, which means you need to workaround like this:

[code]
But even with this workaround there is no way to control CRD install timeout/interval fields that are part of `CRDInstallOptions` since they are not exported (hitting an error with CRD install timing out and default timeout is too sma

[2019-07-26 13:38] ncdc commented on #526
@liggitt I'm guessing you came to the same/similar conclusion as https://github.com/kubernetes/apimachinery/issues/19 with your new issue #80609?

[2019-07-26 14:14] liggitt commented on #526
yes

[2019-07-27 01:45] #406 closed

[2019-07-27 01:45] #526 closed

[2019-07-27 01:50] DirectXMan12 commented on #540
We're trending towards not adding more injectors when they're not strictly needed by internals -- most cases are more obviously solved by structuring your application so that you can pass them to your reconcilers directly (like we do in KB v2).

Thus, I'd prefer to see a solution to this that makes it possible to get a handle to the underlying controller with the builder somehow.  If we can't figu

[2019-07-27 02:21] #310 closed

[2019-07-27 16:46] mjudeikis opened #543 "non-namespaced objects namespace gets dropped"
I have namespaced objects creating non-namespaced objects and watch loop:

[code]

If `apiv1alpha1.Request` object gets created natively - watcher send me a request:
[code]

But if Non-namespaced objects gets modified (which is owned by namespaced one) I get request:
[code]

Looks like during the lookup of owner object and resolution to the owner object itself namespace gets dropped somehow from t

[2019-07-27 17:24] mjudeikis commented on #543
Basically workaround it with hack:
[code]

[2019-07-28 21:03] #312 closed

[2019-07-29 18:09] ncdc commented on #540
Ok, I'll do some brainstorming to see what I can come up with.

[2019-07-29 18:20] ncdc commented on #540
@DirectXMan12 what if we modify `build.Complete()` to return the controller it just created? Then the user can do whatever they want with it (including passing it to their reconciler).

[2019-07-29 18:23] ncdc commented on #540
Or expose a `GetController()` method on `Builder`

[2019-07-29 18:27] vincepri commented on #540
+1 On having either a method to get the controller or `Complete()` to return the created controller and an error. Today [kubebuilder invokes ctrl.NewControllerManagedBy(...)](https://github.com/kubernetes-sigs/kubebuilder/blob/v2.0.0-beta.0/pkg/scaffold/v2/controller.go#L98) which usually, I'd think it's going to return a new `Controller` object that I can use.

[2019-07-29 20:13] alexeldeib commented on #485
@negz did you want to PR this? I can if not.

[2019-07-29 20:17] alexeldeib commented on #485
Maybe less desirable because of additional cruft, but we could implement both, something like

[code]

[2019-07-29 20:39] negz commented on #485
@alexeldeib Please feel free to take this!

[2019-07-29 20:50] DirectXMan12 commented on #540
I'd prefer not `Complete` (just to avoid breakage of a commonly used function, if we can), but I'm on board with a similar method.  Since `Build` has been deprecated for a couple releases now, we could repurpose that (although it could lead to breakage) or come up with a new method.

[2019-07-29 20:51] ncdc commented on #540
I don't think we'd want 2 different ways to complete/build - 1 that returns a controller, and 1 that doesn't - would we?

[2019-07-30 13:09] ncdc commented on #540
Summarizing our discussion from Slack yesterday (https://kubernetes.slack.com/archives/CAR30FCJZ/p1564433195123400), we're going to un-deprecate `Build` and have it return the `Controller` instead of the `Manager`. We're also going to remove the logic in the builder that creates a manager for you if you don't pass one in.

[2019-07-30 22:36] DirectXMan12 opened #546 "note that conversion doesn't guarantee a deepcopy"
The conversion interface currently doesn't say anything about deepcopy vs no deepcopy.  We should take a position on this.

cc @droot

/kind documentation

[2019-08-01 07:01] michaelhenkel opened #547 "Read existing controllers from manager"
I have a use case where one controller dynamically registers other controllers with manager. The initial registration works fine but then I need to check if the controllers are already registered with the manager, otherwise new controllers are created even though they already exist.
I was hoping that something like
[code]
would tell me if there is a controller for a certain GVK already exists but

[2019-08-01 13:25] fspaniol commented on #500
Was trying to follow this: https://book.kubebuilder.io/quick-start.html#create-a-project and faced the same issue:

[code]

Manually changing to `beta.2` in `go.mod` did the trick.

[2019-08-01 20:03] seh commented on #500
_(Cross posting:)_
If I try to fix this problem with _controller-runtime_, I run into kubernetes/client-go#584. If I try to fix that problem, I run into this problem.

It's not clear yet how to get both of them to work at the same time.

[2019-08-01 20:40] seh commented on #265
I noticed today that [Webhooks get invoked with `context.Background`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/webhook/admission/http.go#L87). It would be nice if we could inject a `context.Context` value that would be used as the starting context for each request, in order to attach things like a shared tracing configuration handle.

[2019-08-01 22:58] rajathagasthya opened #548 "DeleteCollection does not work with Limit and Continue list options"
PR #341 is trying to add Limit and Continue list options for paging. But there's no way to make it work with `DeleteCollection` because there is no way to grab the continue token returned by the server to delete the next page of things.

[2019-08-01 23:06] DirectXMan12 commented on #548
/kind bug

we need to fix this before the v0.2.0 release

[2019-08-01 23:07] DirectXMan12 commented on #548
somehow

[2019-08-01 23:09] DirectXMan12 commented on #548
The fix to this is fairly straightfoward -- accept a list object instead of a single object, and populate it with the results.

[2019-08-01 23:10] DirectXMan12 commented on #548
/good-first-issue

[2019-08-01 23:10] DirectXMan12 commented on #548
See also https://github.com/kubernetes/kubernetes/issues/80877

[2019-08-01 23:17] DirectXMan12 commented on #548
might have to wait for an update on that ^

[2019-08-02 02:58] adohe commented on #548
sure, I will take this.

[2019-08-02 20:04] DirectXMan12 commented on #548
(note that there's some discussion on the above issue, so be aware.  We might want to switch anyway, though, since getting back the list of deleted objects *could* be nice).

[2019-08-03 22:26] alvaroaleman commented on #344
This was implemented in https://github.com/kubernetes-sigs/controller-runtime/pull/447

[2019-08-03 22:26] #344 closed

[2019-08-04 00:27] #247 closed

[2019-08-05 19:55] #540 closed

[2019-08-05 20:11] #317 closed

[2019-08-05 20:30] serbrech commented on #548
@DirectXMan12 DeleteAllOf is not in the 0.2.0-beta4 release, is it supposed to be in the final 0.2.0 release?

https://github.com/kubernetes-sigs/controller-runtime/blob/aaddbd9d9a89d8ff329a084aece23be0406e6467/pkg/client/interfaces.go#L65

[2019-08-05 22:58] DirectXMan12 commented on #548
It's in master now.  It'll be in the final release.

[2019-08-06 00:46] #360 closed

[2019-08-06 00:46] #384 closed

[2019-08-06 00:46] DirectXMan12 commented on #384
closed by #414

[2019-08-06 00:48] DirectXMan12 commented on #386
/remove-lifecycle rotten
/lifecycle frozen

we should remove that file

[2019-08-06 00:48] DirectXMan12 commented on #265
/lifecycle frozen

[2019-08-06 00:51] seh commented on #265
Putting my money where my mouth is, see #549.

[2019-08-06 00:51] DirectXMan12 commented on #500
@fspaniol probably a blip in that module's hosting.  Cannot reproduce now.

[2019-08-06 00:53] DirectXMan12 commented on #547
since the shared index informers are, by definition, shared, that would not work (plus, you can have multiple controllers for a GVK anyway).  I'd recommend keeping track of which controllers you register externally, and using that as the source of truth.

[2019-08-06 00:53] #547 closed

[2019-08-06 00:58] DirectXMan12 commented on #543
owner references from namespaced objects to non-namespaced objects won't work, as you found out.  You'll need to keep track of them using a different mechanism.

[2019-08-06 00:58] DirectXMan12 commented on #543
(perhaps an annotation, or similar)

[2019-08-06 00:58] DirectXMan12 commented on #543
(closing for now since this is kind-of working as intended, in that upstream Kubernetes intended this and there's not much we can do about it)

[2019-08-06 00:58] #543 closed

[2019-08-06 01:00] DirectXMan12 commented on #265
thanks, merged!

[2019-08-06 01:03] DirectXMan12 commented on #537
yes, parallel discovery, lazy discovery, and dynamic reloading of discovery would be useful.  PRs definitely welcome, but be prepared for some design discussion.

I'd prefer lazy discovery to explicit filters, though.

[2019-08-06 01:14] DirectXMan12 commented on #521
controller-runtime uses the underlying client-go caches, so the difference isn't there.  The main difference is that we force people to actually write level-based controllers (see below).

The problem was that nobody actually understood what this knob did -- it doesn't relist from the API server (which is what most people thought it did).  All it does is force a re-reconcile of *everything* in the

[2019-08-06 01:15] DirectXMan12 commented on #521
(as for why the flink operator sets it so low, I'm not sure, except that perhaps they mistakenly copied it from elsewhere.  The spark operator probably just copied the sample-controller code, which copied something else, which copied something else, until nobody actually remembered what the option did in the first place)

[2019-08-06 01:15] DirectXMan12 commented on #347
/remove-lifecycle rotten
/lifecycle frozen

[2019-08-06 01:17] #391 closed

[2019-08-06 01:17] DirectXMan12 commented on #518
/kind feature

[2019-08-06 01:18] DirectXMan12 commented on #518
/priority important-longterm

[2019-08-06 01:18] #336 closed

[2019-08-06 01:18] DirectXMan12 commented on #388
closing, fixed in #536

[2019-08-06 01:18] #388 closed

[2019-08-06 01:20] DirectXMan12 commented on #509
I think something's borked with the auto-reflector-naming code that went into client-go.  Someone tried to be too clever.

[2019-08-06 01:20] DirectXMan12 commented on #509
/kind bug
/priority important-longterm

[2019-08-06 02:13] youyongsong opened #550 "client.Get will hung when service-account lack of get and list permissions"
## What happened?
I'm using the k8s client injected by the manager to get a secret resource, but I forgot to add the rbac rules to allow manager to list and get secret resources. Then the `client.Get` method hung and always retry to list secrets.

Here's the code:
[code]
Here's the log:
[code]

## What i expected to happen?
I expected the `client.Get` will return an error immediately instead of al

[2019-08-06 02:16] DirectXMan12 commented on #550
`client.Get` should never retry by itself.  Are you requeuing?  Can you post a simple reproducer here?

[2019-08-06 02:16] DirectXMan12 commented on #550
/kind bug

[2019-08-06 02:29] youyongsong commented on #550
I'm using it in a validating webhook hanlder:
[code]
The log output only contains `-- begin to fetch secret ---`, the other two breakpoints(`-- failed to fetch secret ---` and `-- secret fetched ---`) are never executed.

[2019-08-06 18:16] DirectXMan12 commented on #550
where's the value of `client` coming from?  `manager.GetClient()?

[2019-08-06 19:52] DirectXMan12 commented on #550
If you're using manager.GetClient, you're getting a client that reads from the cache, which means that the request will block until the caches are synced initially.  If that's not desired behavior, construct a fresh client with `client.New`.

[2019-08-06 19:52] #550 closed

[2019-08-06 20:38] stealthybox commented on #518
Just to add context, ComponentConfig implies using API Machinery for the types used in a config file. (Not just unmarshalling a Yaml file into a Go struct)

More context in the component-base KEP:
https://github.com/luxas/enhancements/blob/f3005915981cf3e590dc0744ad0256cdf76970aa/keps/sig-cluster-lifecycle/0032-create-a-k8s-io-component-repo.md#part-1-componentconfig

[2019-08-06 20:40] stealthybox commented on #518
I would imagine we would have some fields to configure the manager's SharedInformer?

[2019-08-06 21:19] DirectXMan12 commented on #518
Yeah, and the various other bits of the manager that can easily be configured with constant values (like metrics and webhook serving ports)

[2019-08-06 21:20] ksurent commented on #509
Related: https://github.com/kubernetes/kubernetes/pull/74636.

[2019-08-06 23:32] mengqiy commented on #546
The `Convertible` interface requires it to be a `runtime.Object` which implies it implements `DeepCopyObject() Object`. Did I miss anything?

[code]

[2019-08-07 01:54] youyongsong commented on #550
@DirectXMan12 thanks for explanation.

[2019-08-07 18:47] droot commented on #546
@DirectXMan12 can you elaborate more on deepcopy vs no deepcopy ?

[2019-08-07 21:24] DirectXMan12 commented on #548
upstream consensus seems to be that supporting this is a mistake.  Plus, we can add support for passing list objects in the future w/o making breaking changes, so we can drop this for now

[2019-08-07 23:43] rajathagasthya commented on #548
@DirectXMan12 So what needs to be dropped here? Not adding `Limit` and `Continue` support means pagination is not supported for list. But `DeleteCollection` doesn't permit adding that. In other words, how can we add limit and continue without affecting DeleteCollection?

[2019-08-08 04:56] binoue opened #555 "Downgrade controller-runtime in go.mod by `go get k8s.io/client-go@v12.0.0`"
Hi! I am using `controller-runtime` but encountered the problem below.

- Problem
  - running the `go get k8s.io/client-go@v12.0.0` downgrades controller-runtime from `v0.2.0-beta.4` to `v0.2.0-alpha.0`
  - `go get sigs.k8s.io/controller-runtime@v0.2.0-beta.4` returns the error below and also downgrades `client-go` from v12.0.0  to v11.0.1

- Error
[code]

I think this is a bug and the solution be

[2019-08-09 02:28] DirectXMan12 commented on #417
/remove-lifecycle stale
/lifecycle frozen

[2019-08-09 02:28] DirectXMan12 commented on #416
/remove-lifecycle stale

[2019-08-09 02:30] DirectXMan12 commented on #555
It shouldn't be referring to an invalid client-go version -- I believe it's just referring to a matching `kubernetes-1.y.z` tag, which is more reliable than trying to match the equivalent client-go semver-ish version to the other repos' `kubernetes-x.y.z` tags.  In general, we highly recommend that you don't try to use the semver client-go versions -- you'll cause yourself headaches with the other

[2019-08-09 02:32] DirectXMan12 commented on #548
We can add limit and continue support to list options, and just not support the functional option variants on deletecollection calls.  You'll still be able to manally set them in the DeleteCollectionOptions struct if you really want, but if you do that, then you've explicitly gone out of your way to break yourself.

[2019-08-09 02:33] DirectXMan12 commented on #550
It's probably not a bad idea to figure out how to plumb context through those operations.  Then we can let someone use context to specify a timeout, potentially.

[2019-08-09 02:33] DirectXMan12 commented on #550
Can you open another bug for that, @shawn-hurley ?

[2019-08-09 02:37] ymmt2005 commented on #555
@DirectXMan12
It is `controller-runtime` that references non-existing tag of `client-go` (v11.0.1) in its go.mod.

Please check existing tags of `client-go`; v11.0.1 does not exist.
https://github.com/kubernetes/client-go

[2019-08-09 02:37] DirectXMan12 commented on #546
Right, but we don't specify if `ConvertTo` and `ConvertFrom` *need* to call `DeepCopy` themselves.  Can `ConvertTo` and `ConvertFrom` safely re-use pointers to data from the source object?  Is it expected that anyone who calls deepcopy doesn't care what becomes of source (this is true for conversion webhooks, but we should add a note).

TL;DR: in Rust terminology, does `ConvertTo` take an immutabl

[2019-08-09 02:45] DirectXMan12 commented on #555
right, that's a pseudo-version that got converted over from a real tag.  If you say `k8s.io/client-go kubernetes-1.14.1` in your `go.mod` file, and then run `go mod tidy`, Go will convert that non-semver tag (`kubernetes-1.14.1`) into a pseudo-version (`k8s.io/client-go v11.0.1-0.20190409021438-1a26190bd76a+incompatible`) using an algorithm detailed in https://tip.golang.org/cmd/go/#hdr-Pseudo_ver

[2019-08-09 02:46] DirectXMan12 commented on #555
We'll update to `kubernetes-1.15.x` tags shortly after we release v0.2.0 final.  At that point, we'll address any incompatibilities.

[2019-08-09 02:47] DirectXMan12 commented on #555
(closing for now, but if there's something you don't understand, feel free to continue to ask questions.  In the mean time, I'd highly recommend that you give the Go modules wiki page a read-through)

[2019-08-09 02:47] #555 closed

[2019-08-09 02:48] ymmt2005 commented on #555
@DirectXMan12 Got it.  Many thanks!

[2019-08-09 02:56] binoue commented on #555
@DirectXMan12  Appreciated!

[2019-08-09 02:56] ymmt2005 commented on #555
BTW, `client-go` officially says that it should be got with its semver.

[code]

https://github.com/kubernetes/client-go/blob/master/INSTALL.md#go-modules

[2019-08-09 09:11] GrigoriyMikhalkin opened #558 "Probably a typo in runtime/log"
In `runtime/log` we have 2 variables [`ZapLogger`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/runtime/log/log.go#L35) and [`ZapLoggerTo`](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/runtime/log/log.go#L40).

They both point to the same function `zap.Logger`. In case of  `ZapLoggerTo` it probably should point to `zap.LoggerTo`.

[2019-08-09 20:14] DirectXMan12 commented on #555
Yeah.  We used to try to do that at various points in the past.  I invariably caused headaches after a bit.  It *might* be better with modules, but it's more reliably correct to use a uniform tag across all of them.

[2019-08-09 20:15] #558 closed

[2019-08-10 13:38] alvaroaleman commented on #276
@DirectXMan12 Is this still desired or are you considering GitHub actions instead?

[2019-08-11 07:25] rohantmp opened #561 "Release 0.1.x is tied to kubernetes 13.4."
Would it be possible to backport 14.x support? or is version tied to kube version? Sorry if this is a dumb question.

[2019-08-11 12:18] coderanger commented on #561
The Kubernetes version that your operator is built against does not have to match the version you are running against. All Kubernetes APIs are versioned and backwards compatible within specific deprecation timelines.

[2019-08-11 15:04] rohantmp commented on #561
I understand that this is true about the cluster, but the operator I want to incorporate controller-runtime into uses informer callbacks. It's [Gopkg.toml](https://github.com/rook/rook/blob/master/Gopkg.toml) has constrained the kube version to 14. I can upgrade it to 14.1 and use your 0.2  release but it's in beta.

[2019-08-11 20:30] #332 closed

[2019-08-12 15:20] shawn-hurley commented on #244
bumping this feature request:

I think this is a viable option, but I wonder if we could have a more straightforward pattern like a user specifies a watch with a label. If they do, then we use the label-filtered cache for that specific GVK. If another watch is created without that label-filter, then we will error out and not establish the watch. The most significant caveat that I see is the client

[2019-08-12 16:01] shawn-hurley opened #562 "Create timeout and error when informer set up in the cache is hanging"
It may be desirable to have a timeout when the informer is established so that this does not hang the operator and instead can send back an error. This is helpful in diagnosing permission issues and I think is a better user experience.

/kind feature

[2019-08-13 01:01] DirectXMan12 commented on #561
for various reasons, we're unlikely to attempt to update v0.1.x to 1.14, unfortunately.

[2019-08-13 01:05] DirectXMan12 commented on #562
we should plumb through the context and respect the context's timeout when waiting -- we've already got that information.

[2019-08-13 01:06] DirectXMan12 commented on #244
the main issue with that approach is that it makes it so that certain controllers co-habitating suddenly breaks things, which is less than optional.  Still, I'm not sure that there's a good solution here, so we may have to go with the least-sub-optimal solution

[2019-08-13 01:11] DirectXMan12 commented on #276
yeah, I'd still like to do this.  I'd love for GitHub actions to work out, but I expect there'll be issues around GitHub actions' interaction with forks during the beta period.  AIUI (can't test, actions seems to be borked for k-sigs ATM), this'll make actions unusable till they're on by default.

[2019-08-13 01:11] DirectXMan12 commented on #276
we need something better than travis in the mean time

[2019-08-13 02:58] rohantmp commented on #561
Ok, looks like we're going with the 0.2 release. Any major known issues? I don't see anything alarming when filtering `is:issue is:open label:kind/bug `

[2019-08-13 14:24] alastor-erinyes opened #563 "Envtest does not register or run webhooks"
Currently the kubebuilder book shows how to write a defaulting/validating webhook, but it doesn't give any envtest examples for how to test it (only a light explanation of how to deploy it to a real cluster).

We should provide a method for testing webhooks the same way we provide a means of testing the controller and types using envtest.

[2019-08-13 17:44] DirectXMan12 commented on #563
/help

I'd expect that we can make this way easier than it is now -- namely

- install the webhookconfigs (like we do with CRDs)
- fiddle with the webhook configs to serve locally
- make it easy to serve the webhook server during tests so that the API server can talk to it

[2019-08-13 17:45] DirectXMan12 commented on #563
/kind feature
/priority important-longterm

[2019-08-13 19:45] DirectXMan12 opened #564 "GetConfig does not respect multi-value KUBECONFIG"
`GetConfig` doesn't respect multi-value KUBECONFIG, and it should, according to the [docs on kubeconfig](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable).

`clientcmd` has code to do this -- we should audit our config loading logic and see if we can lean on clientcmd more agressively to match desired behavior.

[2019-08-13 19:45] DirectXMan12 commented on #564
/help

[2019-08-13 20:03] DirectXMan12 commented on #561
Hopefully not.  We've one item (give or take) left for all the projects included in KubeBuilder v2 before release (the one item is not CR related, though).  You can track progress here: https://github.com/kubernetes-sigs/kubebuilder/projects/6

[2019-08-13 20:03] DirectXMan12 commented on #561
closing for now for bookkeeping, but feel free to continue commenting.

[2019-08-13 20:03] #561 closed

[2019-08-14 18:17] ericzhang08 commented on #564
/assign

[2019-08-14 18:17] ericzhang08 commented on #564
/lifecycle active

[2019-08-15 12:40] shawn-hurley commented on #244
What if we made the restriction explicit on the manager or during cache creation? Does this feel like the restriction on a namespace that we do now?

[2019-08-15 13:58] xrmzju opened #565 "typedclient.Patch should not send the patch request when patch.Data got no change"
in [this issue](https://github.com/kubernetes-sigs/cluster-api/issues/1259) we call the  typeClient.Patch and Status.Patch to update our crd, but if we got only status change or spec change, we should not send the request to avoid trigger another update event.

[2019-08-15 22:49] DirectXMan12 commented on #244
yeah, that could work, potentially, if it solves your usecase

[2019-08-15 22:51] DirectXMan12 commented on #565
it's up to you to determine whether or not to send the patch request.  We can't determine if a patch will have some effect or not client-side.

[2019-08-15 22:51] #565 closed

[2019-08-18 10:26] adohe commented on #563
/assign

[2019-08-18 10:27] adohe commented on #548
/assign

[2019-08-18 10:29] adohe commented on #490
/assign

[2019-08-19 08:09] xrmzju opened #568 "we should support webhook certDir args in cm args"
now we only support default certDir:
https://github.com/kubernetes-sigs/controller-runtime/blob/d7467fcf9e1c5817231f2768ffd626a244f2221b/pkg/webhook/server.go#L88

[2019-08-20 05:32] sbueringer opened #570 "checksum mismatch in jsonpatch when depending on controller-runtime"
Hi,

I've got a problem with checksum mismatches when depending on controller-runtime rc.0. It's explained in detail here: https://github.com/kubernetes/test-infra/pull/13918

I would propose updating the dependency to `gomodules.xyz/jsonpatch/v2 v2.0.0-20190626003512-87910169748d` to avoid this problem.

[2019-08-20 18:20] DirectXMan12 commented on #570
/kind bug
/priority critical-urgent

seems reasonable.  Can you submit a PR?

[2019-08-20 18:47] sbueringer commented on #570
@DirectXMan12 Yup. Done. I'm just not sure if it's enough to adjust go.mod & go.sum

[2019-08-20 19:08] rajathagasthya commented on #350
@DirectXMan12 I'm starting to take a look at this. Could you guide me on what a solution could look like?

[2019-08-21 06:03] magicsong opened #572 "Cannot specify per-watch predicates on builders"
however, it had no problem in v1

[2019-08-21 12:46] ialidzhikov opened #573 "Finalize namespace"
Because of legacy reasons namespaces in addition to `.meta.finalizers` have also `.spec.finalizers`. There is also a separate endpoint for the purpose `PUT /api/{version}/namespaces/{namespace}/finalize` - see https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md#rest-api and https://github.com/kubernetes/kubernetes/issues/77086#issuecomment-4

[2019-08-22 00:06] vincepri commented on #321
@DirectXMan12 I've just hit this issue in Cluster API, I added a new Cached (and rate limited) RESTMapper here https://github.com/kubernetes-sigs/cluster-api/pull/1280/commits/ee96c31eea0f9b1b2f4cffae5c7da2c274722e76. If you feel like that's a reasonable implementation, I'm happy to PR against controller-runtime as well.

[2019-08-22 02:53] enisoc commented on #521
@DirectXMan12 wrote:

This setting seems to get passed down to `sharedIndexInformer.defaultEventHandlerResyncPeriod`, which I've previously used to set the relist period, and I recall that it seemed to work, based on seeing the watches being stopped and restarted in the logs. Has this changed?

[2019-08-22 18:28] #570 closed

[2019-08-22 20:02] DirectXMan12 commented on #521
`defaultEventHandlerResyncPeriod` is used in `AddEventHandler` to call `AddEventHandlerWithResyncPeriod`, which in turn sets `s.resyncCheckPeriod`, which in turn is passed to `Config` as `FullResyncPeriod`, which is in turn passed to `NewReflector` to be the reflector's resync period.  That in turn gets used to set up a timer, which regularly calls `store.Resync`.  Now, `store.Resync` has no godoc

[2019-08-22 21:43] enisoc commented on #521
Hm that's unfortunate because I've observed the watch stalling on rare occasions, leaving the cache to become more and more out-of-date over time. The relist would have mitigated this automatically, but if there's no more relist, then it appears my only recourse is to reboot the process.

[2019-08-22 22:34] DirectXMan12 commented on #572
need to change the builder interface ever so slightly to allow for per-watch predicates.

[2019-08-22 22:34] DirectXMan12 commented on #572
/kind feature

[2019-08-22 22:35] DirectXMan12 commented on #521
o_O the watch shouldn't stall out ever.  I'm surprised we don't time out and then trigger the reconnect.  That sounds like a bug.

[2019-08-22 22:36] DirectXMan12 commented on #521
If you have more data on that, I'd love to see it (and probably SIG API machinery, too, since it's prob a reflector bug)

[2019-08-22 22:39] DirectXMan12 commented on #350
off the top of my head, we'd need some way to check that the runnables each terminate.  A wait group, as suggested, seems reasonable.  Just rolling it into Start instead of a separate wait method could be reasonable, but I'd imaging that'd have some issues too (like delayed error reporting).  Need to weigh the pros and cons there.

[2019-08-22 22:39] DirectXMan12 commented on #350
probably at least log immediately

[2019-08-22 22:40] enisoc commented on #521
My logs didn't have anything useful to report. I only see logs from controller-runtime and my own code. Will I get lower-level logs if I increase the log level? Do you have a recommended level to catch potential problems at the informer/reflector level without being too noisy to leave on all the time?

[2019-08-22 22:50] DirectXMan12 commented on #321
We're just about ready to get #554 merged , that should solve your problem.  Can you try that?

[2019-08-22 22:54] DirectXMan12 commented on #573
/kind feature

I *think* we have someone working on generic subresource support, which would bring in this as well.

[2019-08-22 22:54] DirectXMan12 commented on #573
#172

[2019-08-22 22:56] vincepri commented on #321
@DirectXMan12 Thanks, after a quick glance it looks very similar, it should work as well. I'm happy to switch once it'll be merged in controller-runtime.

[2019-08-23 04:49] rohantmp commented on #403
I'm seeing this issue. Wasn't when I initially started using 0.2, but CreateOrUpdate attempting to update this always does.

[2019-08-23 06:58] ialidzhikov commented on #573
Ok, then closing this one in favour of #172.

[2019-08-23 06:58] #573 closed

[2019-08-23 18:52] estroz opened #576 "client.MatchingFields should be a fields.Selector"
As far as I know, there's no way to parse a field selector string, ex. from [`v1.ListOptions.FieldSelector`](https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ListOptions) into a [`fields.Set`](https://godoc.org/k8s.io/apimachinery/pkg/fields#Set), making it hard to create [`client.MatchingFields`](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client#MatchingFields) from a string. You

[2019-08-26 13:23] mengqiy commented on #576
The former one is a breaking change. Since CR v0.2.0 has been released, we probably need to go with the latter option if we want to do it in a patch release.

cc: @droot

[2019-08-26 16:09] rohantmp commented on #403
Sorry for not updating, I was accidentally running two controllers against the same resource. One running locally and one as a deployment. This was causing a race.

[2019-08-28 22:15] mszostok commented on #460
hi, I can provide a PR for that 🙂
but are you still interested in having that?

[2019-08-29 09:29] mszostok commented on #572
Hi,

I can provide a PR for that, are you interested?

[2019-08-29 23:20] cadedaniel commented on #172
+1 to this. Is there a quick way to document that this isn't supported, or return a 5xx when one tries to do so against envtest? Kubebuilder (which uses envtest) [suggests](https://book-v1.book.kubebuilder.io/basics/status_subresource.html) users update status via `err = r.Status().Update(context.Background(), instance)`. My controller was failing a new test I wrote because the Update was returnin

[2019-08-30 12:17] shawn-hurley commented on #172
@cadedaniel I believe that the status subresource should work. If you're getting a 404 return code I would double-check if your CRD has enabled the Status subresource.

[2019-09-01 18:22] alvaroaleman commented on #276
/assign

[2019-09-01 23:33] mszostok commented on #460
/assign

[2019-09-03 15:11] DirectXMan12 commented on #521
You'll have to call `klog.InitFlags` ATM to get lower-level info.  Eventually, we'll get structured client-go logs (working on it :-P), and soon-ish we'll get the ability to direct klog to write to whatever logr implementation you're using (the PR landed, but there's some issues around compatibility that we have to resolve).

[2019-09-03 15:12] DirectXMan12 commented on #172
namely, if you're getting 404, make sure that you've done `// +kubebuilder:subresource:status` on the type definition for your CRD, so you get a CRD with the status subresource enabled.

[2019-09-03 18:29] DirectXMan12 commented on #394
/remove-lifecycle stale

[2019-09-03 18:30] DirectXMan12 commented on #343
closing this as no response

[2019-09-03 18:30] #343 closed

[2019-09-03 18:34] DirectXMan12 commented on #210
/lifecycle frozen

still want to do this

[2019-09-03 18:35] DirectXMan12 commented on #209
/lifecycle frozen

[2019-09-03 18:36] DirectXMan12 commented on #207
/lifecycle frozen

see also #518

[2019-09-03 18:37] DirectXMan12 commented on #201
just merged into klog, but we'll need to wait till v2 branches due to compat issues

[2019-09-03 18:37] DirectXMan12 commented on #194
/lifecycel frozen

[2019-09-03 18:38] DirectXMan12 commented on #167
closing, we've now got options to configure the underlying zap logger.

[2019-09-03 18:38] #167 closed

[2019-09-03 18:39] DirectXMan12 commented on #92
I think this is mostly resolved.  Bitbucket is shutting down mercurial support anyway, and that was the only dep we had on mercurial

[2019-09-03 18:39] #92 closed

[2019-09-03 18:39] DirectXMan12 commented on #70
/lifecycle frozen

[2019-09-03 18:39] DirectXMan12 commented on #70
perhaps a predicate?

[2019-09-03 18:40] DirectXMan12 commented on #67
err... the docs for rawextension say that it shouldn't be auto-deserialized IIRC.  What are we expecting to happen here?

[2019-09-03 18:41] DirectXMan12 commented on #41
will be fixed by #580

[2019-09-03 18:41] DirectXMan12 commented on #460
yeah, still interested.  Will have to coordinate with #444

[2019-09-03 18:44] DirectXMan12 commented on #377
/lifecycle frozen

[2019-09-03 18:46] DirectXMan12 commented on #456
/lifecycle frozen

[2019-09-03 19:43] DirectXMan12 commented on #452
So, we'll get generic subresource support eventually, but non-CRUD subresources need to be handled specially

[2019-09-03 19:44] DirectXMan12 commented on #452
cc #172  (which is mainly for CRUD subresources ATM)

[2019-09-03 20:47] DirectXMan12 commented on #297
/lifecycle frozen

[2019-09-03 22:46] fejta opened #583 "Update to 0.3.0 or later of gnostic import"
A bad `v0.2.1` release makes it impossible for people to patch upgrade controller-runtime

Repro:
[code]

See https://github.com/googleapis/gnostic/issues/147 for more details about why this is failing.

[2019-09-03 23:56] cadedaniel commented on #172
Yes, I must have missed this. Thanks, ignore my earlier comment please.

[2019-09-04 10:22] chenzhiwei opened #585 "is there a way to make client.Get to not get from cache"
Hi, I have a case that I need to use `client.Get()` immediately after running `client.Status().Update()`.

The `client.Get()` will get the object from cache, this is not what I want.

The implementation: https://github.com/kubernetes-sigs/controller-runtime/blob/ab6131a999ca9e6ff5bf83dba70dc7751751135f/pkg/client/split.go#L45-L52

I don't want to use `CacheReader` and I also can't use unstructured

[2019-09-04 21:48] joelanford commented on #585
@chenzhiwei If absolutely necessary, you can use the `client.Reader` returned by [`Manager.GetAPIReader()`](https://github.com/kubernetes-sigs/controller-runtime/blob/ab6131a999ca9e6ff5bf83dba70dc7751751135f/pkg/manager/manager.go#L84-L87) to hit the API server directly.

Could you explain a little bit more about your use case though? There might be a better way to structure your watches and recon

[2019-09-05 01:11] chenzhiwei commented on #585
@joelanford Thank you for your reply, my use case is:

Create/Update a CRD resource will trigger a Kubernetes Job, but there is only one Job can be running at a time.

Create/Update the CRD resource and the Job status change will both trigger a Reconcile action.

I can't find a way to distinguish the Reconcile is triggered by CRD resource or Kubernetes Job.

So I need to record the Job name in the

[2019-09-05 04:05] joelanford commented on #585
It's generally considered a good practice to implement your `Reconcile` method such that it doesn't need to know what event triggered it. The `Reconciler` interface was specifically designed to encourage this.

Another good practice is to avoid reading status fields to reconstruct state since they may be incorrect or out-of-date. In your case, consider the possibility that you trigger the `Job` su

[2019-09-05 04:27] chenzhiwei commented on #585
Actually I record CR spec hash and Job name to the CR status, we need both of them to handle the cases.

If the Job is running and there is another change to the CR, then the jobs will be queued and execute later.

If the Job name is same as CR, then the second update to the CR will not create the Job.

If the Job name is the CR Spec hash, then revert the CR change will not create the Job(CR hash

[2019-09-05 15:19] justinsb opened #586 "client.New should not connect to cluster"
client.New currently connects to the cluster, unlike the equivalent client-go functions.  This makes switching to controller-runtime harder, because the failure point for "cluster not available" moves.

We should have a wrapper which supports deferred construction of client.New, so that the failure site moves to the "connecting methods" e.g. Get

[2019-09-05 20:08] alvaroaleman commented on #445
TBH I don't really know how to find that out. Send a mail? Ask in Slack? Wait if anyone else shows up on this issue?

[2019-09-06 05:24] ggaurav10 commented on #491
Is there a way to change the default CertDir `/tmp/k8s-webhook-server/serving-certs`?

[2019-09-09 15:03] #276 closed

[2019-09-09 15:32] DirectXMan12 commented on #491
You can create the webhook server directly, and use the `CertDir` field in the `webhook.Options` struct.  You *should* be able to set this for the webhook server returned from `GetWebhookServer` or override that server, but I think something got lost in the shuffle there.

@mengqiy

[2019-09-09 15:34] DirectXMan12 commented on #445
Maybe send out a mail?  I'm not particularly sure either.  We could send out a query on the KB mailing list, and direct them to vote/weigh in here.

[2019-09-09 15:36] DirectXMan12 commented on #586
client.New only connects to the cluster for discovery, IIRC.  We're switching to a lazy discovery client (that also refreshes) by default in #554, so that *should* solve this issue I think.

[2019-09-09 15:46] DirectXMan12 commented on #585
So, to be clear, you want to run a new job every time the CR spec changes?  That's not really how Kubernetes works (although I'm a bit fuzzy on what the exact logic is here that you want).

[2019-09-09 16:53] DirectXMan12 commented on #305
/lifecycle frozen

[2019-09-09 16:59] #576 closed

[2019-09-09 17:32] DirectXMan12 opened #590 "Go 1.13 Meta-Issue"
Go 1.13 [is out](https://blog.golang.org/go1.13) :tada: !

## Things we can now do:

- [x] Banish Gopkg.toml into the [shadow realm](https://yugioh.fandom.com/wiki/Shadow_Realm) (#598)
- [x] Clean up the various scripts referencing Gopkg.toml (#598)

## Things we can do now-ish

For everything below, we'll need to figure out a potential impact of aggressively switching to Go 1.13 as the min-suppor

[2019-09-09 17:33] DirectXMan12 commented on #590
/kind feature
/priority important soon

/good-first-issue

(the script stuff is a good first issue, a few of the other items are help-wanted -- feel free to ask if you're not sure)

[2019-09-09 23:18] nicolaferraro commented on #537
@guymguym your approach really makes the difference. Thanks!

It would be awesome to have that in the standard controller.

[2019-09-10 00:22] chenzhiwei commented on #585
Yes, the logic in my project is weird, but I still need to implement.

Thank you all, I have another way to implement this similar logic.

[2019-09-10 00:22] #585 closed

[2019-09-10 07:13] guymguym commented on #537
@nicolaferraro I opened a PR - lets see if it looks OK

[2019-09-10 13:25] BuddhiWathsala commented on #490
As a suggestion, I think it is better to call reconcile loop twice if there is a spec change of the object. When it comes to object status it is redundant to call the reconcile twice.

In the reconcile loop we normally change the `status` of the object to show the current status of the object to the user(for example object is in Running mode or Failure mode). Even for that status change, I notice

[2019-09-10 17:22] alvaroaleman opened #594 "Expose a union interface for metav1.Object and runtime.Object"
Most (all?) Kubernetes API types implement both metav1.Object and runtime.Object. Code that needs both usually accepts either, then type asserts for the other.

It would be nice to have a union interface for the two and re-use that throughout our code

[2019-09-10 17:45] Devin-Holland opened #595 "client.Get not finding role"
I am trying to use client.Get to check to see if a role exists within a namespace.

[code]

It falls into the "role not found" if block even though the role exists in the namespace and I have no idea why. Any ideas?

[2019-09-10 19:00] fejta commented on #583
Fixed by #584
/close

[2019-09-10 19:04] fejta commented on #583
/reopen

/assign @DirectXMan12

Would you be up for me pulling #584 into v0.2.0 and creating a v0.2.1 patch release with this change?

[2019-09-10 21:14] DirectXMan12 commented on #583
yeah, can do that now

[2019-09-10 21:37] DirectXMan12 commented on #595
/triage support

Is that a live client, or a cached client (did you construct it with client.New, or mgr.GetClient)?

[2019-09-11 05:54] munnerz commented on #594
Just my 2c - not all types *do* implement both, only those that are actually created as CRDs.

In cert-manager we have a few extensibility mechanisms that rely on webhooks, and so we use a type that implements TypeMeta but not ObjectMeta: https://github.com/jetstack/cert-manager/blob/master/pkg/acme/webhook/apis/acme/v1alpha1/types.go#L30

This means we implement runtime.Object, but not metav1.Obj

[2019-09-11 12:46] Devin-Holland commented on #595
I'm using the operator-sdk which uses mgr.GetClient()

To note, this worked with namespaces and ClusterRole and ClusterRoleBinding using
[code]

Anything inside of a namespace couldn't be found using ObjectKey or NamespacedName. I was able to get them working by doing the following, but I'm not sure why it wouldn't work without using an unstructured type and setting the GVK myself.

[code]

[2019-09-12 13:30] joelanford opened #601 "controller-runtime versioning"
At the community meeting on 9/11/2019, there was a discussion about how to version controller-runtime to handle scenarios around dependency changes:
* How to handle breaking changes in controller-runtime APIs introduced by controller-runtime contributors or by breaking changes in dependencies (e.g. k8s.io/client-go)
* How to handle no breaking changes in controller-runtime APIs but possible user-f

[2019-09-14 09:09] otto-von-bivouac opened #603 "unable to decode watch event error with non-conforming CR"
/kind bug

I am trying to include PersistentVolumeClaimSpec, PodAffinity and other Kubernetes objects into our CR, using Kubebuilder 2.0. When a CR is posted which has non-conforming / invalid PersistentVolumeClaimSpec (for example: `PersistentVolumeClaimSpec.resources.requests.storage` is set to "foo"), then the controller-runtime is throwing the following errors:
[code]

Given that the reconile

[2019-09-16 16:50] shawn-hurley commented on #601
There was the potential talk of a generic library that does not depend on k8s.io/api or k8s.io/apimachinery in the apimachinery sig meeting. I would like to explore if we could either help with this work or do this work? I think this would be very helpful for everyone. @DirectXMan12 Have you seen anything more about this?

This would allow us to not have to follow kubernetes release IIUC and allow

[2019-09-16 20:27] DirectXMan12 commented on #590
/priority important-soon

[2019-09-16 21:28] DirectXMan12 commented on #601
I haven't seen anything more yet, but I would like to help out with that effort.  I think @deads2k was the one that brought it up.  @sttts and I have talked about it in the past before

[2019-09-16 21:36] DirectXMan12 commented on #603
hmm... we should add regex validation for Quantity from controller-tools so that this doesn't happen.  Can you file a bug in controller-tools?

Separately, you could use an unstructured watch in controller-runtime (pass an unstructured.Unstructured to `.For`), but ideally we'd just fix this by rejecting the bad resource.Quantity at validation time.

[2019-09-16 21:37] DirectXMan12 commented on #455
/lifecycle frozen

[2019-09-16 21:38] DirectXMan12 commented on #595
huh, let me try and repro

[2019-09-16 22:25] mengqiy commented on #491
Should be fixed by #569.
With it, you can set `CertDir` in `manager.Options` and then use webhook builder, which underlying calling `GetWebhookServer`.

[2019-09-16 22:26] #568 closed

[2019-09-16 22:51] DirectXMan12 commented on #595
The following code works acceptably for me:

[code]

The only way I can reproduce the "not found" is if the manager isn't started at all when I do the call.

[2019-09-16 22:52] DirectXMan12 commented on #595
(klog imports to see the low-level client-go logs)

[2019-09-16 22:53] DirectXMan12 commented on #595
Can you post a full reproducer?  Unstructured doesn't go through the cache, which makes me think this is a weird cache issue.

[2019-09-16 22:53] DirectXMan12 commented on #595
(or just the "haven't started the manager yet", which seems like a bit of a foot-gun to me)

[2019-09-16 22:55] DirectXMan12 commented on #594
Right -- there are places where we actually want to say "we need object metadata", places where we say "we can do more stuff if we have object metadata", and places where all we need is the type.

[2019-09-17 06:57] sttts commented on #601
@deads2k is preparing a KEP for this effort.

[2019-09-17 21:51] #541 closed

[2019-09-17 21:54] alvaroaleman opened #607 "Support running code in leader election before starting any controllers"
We have a couple of situations where we have functionality that needs to run on an elected leader only but before any of the controllers is started. One example is part of our configuration, which used to be passed in as file and is being migrated to a CRD. The  migration code for this must run on an elected leader, but before any of our controllers are gets started.

Is this a usecase worth consi

[2019-09-17 23:50] DirectXMan12 commented on #607
maybe?  It's probably not terrible to support.  To be clear with the use case:

Does this need to run every time something gets the leader, or is it a "only one thing needs to run this, and it needs to be run before all the things start?"

Running under the normal leader election before controllers would work fine for both use cases, but I'm trying to figure out how terrible it is to just run sepa

[2019-09-18 07:23] alvaroaleman commented on #607
Not completely sure I properly understand the question. It should always run after acquiring the leader lock and before starting anything else.

I guess that would work, however last time I checked there was no stepping down for elected leaders which means that the controller has to wait $leaderLockLease time after the migrations ran before it can start the controllers.

[2019-09-18 21:44] BenTheElder opened #610 "move off of github actions HCL syntax"
@k8s-ci-robot received the following warning for this repo (excerpt)

). Once you have your YAML workflows ready, visit your repositories and follow the prompts to upgrade. Once you upgrade, your HCL workflows will stop working.

[2019-09-18 23:36] DirectXMan12 commented on #610
Cool, I'll try again with the new syntax -- nothing was happening last time I tried.

/priority important-soon

[2019-09-18 23:38] DirectXMan12 commented on #364
/lifecycle frozen

work is in progress

[2019-09-19 08:07] shenlanse commented on #399
I really want access old object. Sometimes, reconcile is a really time-consuming operation. And I only need reconcile on some specific field update. If i can't get old object, i will not distinguish that and have to reconcile on all update event.

[2019-09-19 08:08] shenlanse commented on #399
@DirectXMan12

[2019-09-19 19:55] DirectXMan12 commented on #399
You can still use a predicate filter if you really need that, which should allow you to do that: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/predicate.  Be careful though.

[2019-09-20 05:36] shenlanse commented on #399
@DirectXMan12 Thanks, I will have a try.

[2019-09-20 13:05] Devin-Holland commented on #595
It seems to have just resolved itself during some restart of the operator so I'm assuming there was somehow a caching issue with it not picking up the right values. We are using AKS which has been giving us a lot of issues with the controller manager and the scheduler so it may have been because of that.

I have it working with unstructured and using the normal way with an rbacv1.Role{} now withou

[2019-09-20 13:05] #595 closed

[2019-09-21 07:44] stealthybox commented on #518
/wg component-standard

[2019-09-23 12:56] shenlanse commented on #399
@DirectXMan12 Works as expected, thanks.

[2019-09-24 10:19] nimrodshn opened #611 "client: Is there a way to obtain container logs using client?"
Using the `kubernetes/client-go` one can use the `PodExpansion` interface to obtain the logs inside a pod:
[code]

A code to get the logs would look like:
[code]

Is there a way to do the same with the `controller-runtime` client?

[2019-09-24 10:44] nimrodshn commented on #611
Just found this issue https://github.com/kubernetes-sigs/controller-runtime/issues/452.
Closing as this is a dup.

[2019-09-24 10:44] #611 closed

[2019-09-24 13:20] xcoulon commented on #524
@raffaelespazzoli We just faced the same issue in a test, after try applying objects from a template. In this test, we created a namespace provided by a template, but when calling the `List` method on the fake client, we would get the same error as you reported.
We found a workaround by converting the `runtime.Object` into a `corev1.Namespace` (using `scheme.Convert(obj, ns, nil)` before passing i

[2019-09-24 19:05] sarjeet2013 opened #612 ""non-exact field matches are not supported by the cache" when using fieldSelector with not exact fields"
I am getting the following error when trying to get list of pods with their state filetered with fieldSelector.

"error":"non-exact field matches are not supported by the cache"

Here is the sample code:
[code]

This look like a current limitation and not supported. See https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/internal/cache_reader.go#L99

[2019-09-27 01:53] DirectXMan12 opened #613 "NewDiscoveryRESTMapper returns errors, but contains an OrDie"
pkg/client/apiutil.NewDiscoveryRESTMapper calls NewDiscoveryClientForConfigOrDie, which shouldn't be called outside other OrDie functions.

/kind bug
/priority critical-urgent

[2019-09-27 08:06] magicsong opened #614 "unexpected behavior in log"
ref https://github.com/kubernetes-sigs/controller-runtime/blob/master/TMP-LOGGING.md, we can use following code
[code]
in a reconcile. But in some situation, we can not put all the codes in a single function. after dividing the long function into sub function,  i should pass the logger to the sub function to they can share the same logger(doubts here, is there any other better solution?).  This ma

[2019-09-27 08:08] magicsong commented on #614
/cc @mengqiy

[2019-09-27 22:02] mengqiy commented on #614
That's is WAI, but we can improve our documentation for log package and make it more discoverable (I guess it's nor very easy for people to find and its name has `TMP` which is "weird")

Normally, we don't assign it back to itself, since the length just keeps growing.

What we normally do is something like:
[code]

You can check the `/examples` under controller-runtime.

cc: @DirectXMan12

[2019-09-30 10:21] alvaroaleman opened #615 "DelegatingReader cant be used to read unstructured.Unstructured from cache"
The delegatingReader always redirects read requests for `unstructured.Unstructured` to the API reader: https://github.com/kubernetes-sigs/controller-runtime/blob/801e12a501606245062a6ff77ac91eef8936d9fb/pkg/client/split.go#L47

However it seems the `InformersMap` is perfectly well capable of establishing watches for `unstructured.Unstructured`: https://github.com/kubernetes-sigs/controller-runtime

[2019-09-30 13:00] sebbonnet opened #616 "Allow concurrent reconciliation only for distinct resources"
At present, `reconcile.Reconciler` allows multiple concurrent reconciliations through adjustment of the `MaxConcurrentReconciles` property to values above 1. However, this opens the possibility that there could be two concurrent reconciliations for the same resource, which is a situation we would like to avoid.

We would like to be able to configure the `Reconciler` so that it supports concurrent

[2019-09-30 13:03] shawn-hurley commented on #615
You have to create the delegating reader to use this behavior yourself on startup. Here is an example of how to do it:

[code]

We chose to make this the default behavior to make sure that folks were not caching the entire cluster on accident with unstructured.

[2019-09-30 13:13] alvaroaleman commented on #615
I can work around the problem, but this issue is about avoiding the workaround :)

Generally I find this  a very valid concern, but why do you think this is more likely and/or more problematic when ppl use `unstructured.Unstructured`?

I would have argued that the types that create a particular high amount of traffic like Pods or Endpoints are mostly in the corev1 api and ppl tend to not have very

[2019-09-30 13:16] alvaroaleman commented on #615
Also I personally find the behavior of automatically creating watches pretty magic in itself and IMHO its something ppl need to be aware of. Having a sub-condition there is IMHO mainly making it more complicated to understand, but is not very likely to prevent ppl from using this wrong.

[2019-09-30 13:19] shawn-hurley commented on #615
It is easier to have a generic list of things, that you go and get with unstructured then having to get the type for all of those things with the client.

[2019-09-30 13:29] alvaroaleman commented on #615
I do not really follow, do you have an example of what you mean there? There is nothing preventing ppl from using a `[]runtime.Object`, the client resolves the GVK via the scheme after all.

[2019-09-30 14:52] akutz opened #617 "Allow a result that indicates the reconciliation is incomplete and does not trigger the exponential backoff logic"
After discussing this with @detiber, we realized there's no good solution for the following case:

* A reconciler is using one or more watches to trigger requests
* A request cannot proceed due to a missing dependency
* If `result.RequeueAfter > 0` then the request is added to the queue for processing after the value specified by `result.RequeueAfter`
* If `result.Requeue` is `true` then the reque

[2019-09-30 15:12] detiber commented on #617
To add a bit of additional context it is currently very difficult to test controller-runtime based reconciliation loops with the current behavior if there are cases where only partial reconciliation is expected due to external dependencies that trigger reconciliation based on watches.

Allowing for a case where Requeue is explicitly set to `false` and an error is returned would allow for easier te

[2019-09-30 20:17] alastor-erinyes opened #619 "Controller-gen fails to parse valid json-schema regex"
This regex, which previously worked (or at least caused no error) in `v0.2.0-beta.4` now fails to parse in `v0.2.1`.

[code]
Quoting with single quotes makes no difference in the parsing.

According to this page, it's a valid json schema regex token series: https://json-schema.org/understanding-json-schema/reference/regular_expressions.html

Here is the error controller-gen gives:
[code]

[2019-09-30 21:43] DirectXMan12 commented on #619
You need to add quotes following the Go quoting rules (i.e. you need double quotes or backticks, each with the same meanings as in Go).  Don't use unquoted strings for anything more than single words.

https://book.kubebuilder.io/reference/markers.html#marker-syntax

[2019-09-30 21:43] #619 closed

[2019-09-30 21:53] DirectXMan12 commented on #617
To summarize: you want an error condition that says "don't requeue" (i.e. what we've referred to as ignorable errors in #377)?

[2019-09-30 21:53] DirectXMan12 commented on #617
/kind feature

If so, can we move the discussion over there?

[2019-09-30 21:55] DirectXMan12 commented on #615
So the initial logic was that the common case for unstructured is that you need to read basically arbitrary objects from the cluster from "untrusted" input (things like the garbage collector).  In this case, you could potentially accidentally cache the entire cluster, which seemed like a major footgun, and we wanted to avoid it.

[2019-09-30 21:55] DirectXMan12 commented on #615
hopefully that helps provide some background

[2019-09-30 21:58] akutz commented on #617
Hi @DirectXMan12,

Yes, but I also wonder now if this is the right way to do this. After speaking more about this with @detiber and @vincepri, I created [this example](https://gist.github.com/akutz/e393502b093ed8485861ede6b0799df7) that relies on asserting expected, eventual state of the objects.

[2019-09-30 21:59] DirectXMan12 commented on #616
This shouldn't happen -- the underlying workqueue should prevent this from occurring (see the bullet item for "stingy" in https://godoc.org/k8s.io/client-go/util/workqueue).  Do you see this actually occurring?

[2019-09-30 21:59] DirectXMan12 commented on #616
(if you do, it's a bug)

[2019-09-30 21:59] DirectXMan12 commented on #501
/lifecycle frozen

[2019-09-30 22:00] DirectXMan12 commented on #481
/lifecycle frozen

[2019-09-30 22:00] DirectXMan12 commented on #342
/lifecycle frozen

[2019-09-30 22:02] DirectXMan12 commented on #614
Re-assigning also breaks for parallel reconciles, and is generally not reccomended.  If you need to split your code up, have it take a log object, or put it in a context.

The "length growing" is implementation-dependent, but it's not surprising that we see it with zap due to the way zap works.

[2019-09-30 22:03] DirectXMan12 commented on #612
it's unclear to me how we'd support this w/o becoming fairly complicated.

/kind feature
/priority backlog

[2019-09-30 22:36] DirectXMan12 commented on #617
Yeah, we've thus far been recommending writing tests like that (using eventually and/or consistently), since it allows you to update your logic to occur over multiple reconciles, etc, w/o needing to update your tests.

P.S. Ginkgo tip: `Expect(operation()).To(Succeed())` and `Expect(err).NotTo(HaveOccurred())`, but try *not* to `Expect(operation()).NotTo(HaveOccurred())`, since that's a bit confus

[2019-10-01 02:53] negz commented on #305
I was just exploring controller-runtime's observability stance, noticed the kubebuilder book mentioned Prometheus metrics, thought "oh man I wish they used Opencensus instead", came here to thumbs-up this issue, then found past me already did that. ;)

Throwing my two cents as a controller-tools user who has instrumented systems in the past with both Prometheus's SDK and Opencensus's I vastly pref

[2019-10-01 10:53] charith-elastic opened #621 "Avoid deep copying objects twice in the CacheReader List method"
In the [`List` method of the `CacheReader`](https://github.com/kubernetes-sigs/controller-runtime/blob/801e12a501606245062a6ff77ac91eef8936d9fb/pkg/cache/internal/cache_reader.go#L122-L136), the list of objects retrieved from the index is added to the `runtimeObjs` array by deep copying each object. This array is then passed to the `objectutil.FilterWithLabels` which again creates a deep copy of t

[2019-10-01 13:19] detiber commented on #617
Yes, the problem is very similar to #377.

The specific use case that is difficult to test for with the current model: We have some resources that we want to wait until they have an OwnerRef from a related resource prior to reconciling. Currently we have no way to test Reconcile in a way that tells us: 1) we haven't mutated the resource 2) We haven't completed a full reconciliation without requeue

[2019-10-01 16:40] akutz commented on #617
Hi @DirectXMan12,

Thank you again for your suggestions. I implemented most of them [here](https://gist.github.com/akutz/08138900d9c779fe4bb940ab1048a8a2)!

[2019-10-01 23:32] mengqiy commented on #621
https://github.com/kubernetes-sigs/controller-runtime/blob/801e12a501606245062a6ff77ac91eef8936d9fb/pkg/cache/internal/cache_reader.go#L122-L136

We deepcopy **twice** currently. One in the for loop, the other one in `FilterWithLabels`.
I believe we can remove one deepcopy.
What you propose makes sense to me overall, though we need to agree on the implementation details.

Also be aware this potent

[2019-10-02 06:54] charith-elastic commented on #621
I saw the comments in #389 too. When I ran the tests with the proposed change, there were no race detector warnings so I don't think that will be an issue.

[2019-10-02 07:17] ctron commented on #362
This issue is still an issue. It is not fixed. It is still a problem.

[2019-10-02 08:43] enxebre commented on #617
I came through this and #377 as well. @DirectXMan12 Some thoughts:

One approach:
[code]

Another approach:

[code]

[2019-10-02 09:09] alvaroaleman opened #623 "manager.GetClient: Return different error than 404 when manager wasn't started"
When  the client returned by `mgr.GetClient` is being used for read operations before the `mgr` was startet, it returns 404 for all objects.

It would be a lot nicer if it instead returned an error indicating that it can't be used yet, because the `mgr` needs to be started first.

[2019-10-02 18:22] sebbonnet commented on #616
That's a very good point - if it works as described it would simplify quite a few things on our end.
I'm currently testing this and will report here.

[2019-10-02 19:46] mengqiy commented on #621
Cool! Feel free to open a PR.

[2019-10-03 21:23] khuddlefish commented on #72
We ended up writing our own reactive client and wrapping it around the provided fake client to give ourselves the ability to use reactors. We found it pretty difficult to create the error states we wanted to test without the use of reactors. Our implementation is not the cleanest at the moment because we just wrote it for internal use, but we might be interested in polishing it up and sharing it,

[2019-10-04 18:00] #616 closed

[2019-10-04 18:09] quick-question opened #626 "Garbage collection in envtest.Environment"
Is there a way to enable (or simulate) garbage collection in envtest.Environment? We are attempting to test that proper owner references are set up by our controller by observing garbage collection behavior.

The idea is that our CR creates a deployment that should be garbage collected when the CR is deleted. Our test for this behavior passes (and is observable) in a real cluster but not in the te

[2019-10-04 19:23] quick-question commented on #626
Actually, we found that this approach is really just testing Kubernetes garbage collection more than our functionality, so the better approach is to just assert that the deployment's `ObjectMeta.OwnerReferences` point to our CR. Then it's safe for use to assume assume that Kubernetes garbage collection works.

[2019-10-04 19:23] #626 closed

[2019-10-05 23:00] nicolaferraro opened #628 "Cannot define a field with arbitrary structure"
I'm trying to define a controller for a type with some unknown parts in the tree that can contain arbitrary structures.

E.g.

[code]

Problem is how to map `myUnknownField` into an actual struct field. I've tried:

- `map[interface{}]interface{}`: controller runtime fails because cannot map `interface{}`
- `runtime.Unknown`: it's always nil
- `runtime.RawExtension`: ... well, it's a snippet, not

[2019-10-06 01:49] gaocegege commented on #452
/remove-lifecycle rotten

[2019-10-07 19:33] muralov opened #629 "Extend client.Reader.Get(..) method to support retrieval of cluster-scoped resources"
I would like to retrieve cluster-scoped custom resources with [client.Reader.Get(..)](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/interfaces.go#L52) function. I have learnt that it can only be used for namespace-scoped resources.

Can we extend this method to support retrieval of cluster-scoped resources?

[2019-10-07 19:46] DirectXMan12 commented on #629
I'm not certain where you learned that, but it's not true.  Any resource that supports get can be fetched with the `Get` method.  Closing for now, but if you have something that's not working feel free to ask questions.

[2019-10-07 19:46] #629 closed

[2019-10-07 19:49] DirectXMan12 commented on #628
Are the structures always maps?  `map[string]interface{}` should work from a go perspective

[2019-10-07 19:49] DirectXMan12 commented on #452
/lifecycle frozen

[2019-10-07 19:50] DirectXMan12 commented on #464
/lifecycle frozen

[2019-10-07 19:50] DirectXMan12 commented on #464
/good-first-issue

[2019-10-07 19:57] DirectXMan12 commented on #194
/lifecycle frozen

[2019-10-07 19:59] #621 closed

[2019-10-07 20:09] #613 closed

[2019-10-07 20:11] DirectXMan12 commented on #305
I'm going to add

/help

here.  I'm thinking we might just want to push ahead with this.  At this point, it's probably worth *trying* to make use of OpenTelemetry (the merged version of OpenCensus & OpenTracing), since that's the future of these efforts (https://github.com/open-telemetry/opentelemetry-go).

If anybody's willing to draw up a rough design of how things'd look and put forward a proto

[2019-10-07 20:12] DirectXMan12 commented on #420
/lifecycle frozen

[2019-10-07 20:12] DirectXMan12 commented on #362
/lifecycle frozen

the bot's just being overly agressive

[2019-10-07 20:14] DirectXMan12 commented on #623
/kind bug

[2019-10-07 20:24] negz commented on #377
https://godoc.org/github.com/crossplaneio/crossplane-runtime/pkg/resource#Ignore

By way of an experience report, the pattern proposed by this issue is exactly what we do in Crossplane and it works well for us.

[2019-10-07 20:34] nicolaferraro commented on #628
Yeah, I think I've found the solution looking at how `Unstructured` is defined in Kube APIs. Closing this with the solution for (my :D) future memory.

It's possible to define the unstructured part as:

[code]

Using this definition, including the DeepCopy method, then deepcopy-gen does generate the other required methods (DeepCopyInto, ...) based on it. Mapping at JSON/YAML level works.
Without e

[2019-10-07 20:34] #628 closed

[2019-10-07 20:45] jzhoucliqr opened #630 "Client.Get() does not recognize new api resource if new CRD installed on the fly"
I have a use case that controller need to install new CRDs on the fly. After CRDs installed and are available from apiserver, Client.Get() within current controller doesn't recognize the new api resource, even after waiting for a long time.

Tried with set SyncPeriod to force resync, and mgr.GetAPIReader(), won't work either. Only restart the controller pod works.

Is there any suggestions how to

[2019-10-07 20:58] DirectXMan12 commented on #41
/lifecycle frozen

[2019-10-07 20:59] DirectXMan12 commented on #630
this'll be solved by #554

[2019-10-07 20:59] DirectXMan12 commented on #630
it's because we need to re-query discovery

[2019-10-07 20:59] #630 closed

[2019-10-07 21:02] DirectXMan12 commented on #377
Yeah, that's my hesitance too, but I've seen a lot of people not realizing that requeuing on not found errors might cause them to see repeated backoff, and it's super-common boiler plate to write `if IgnoreNotFound(err) == nil { ... }`.

Still, the real experience report is super useful.  Thanks :+1:

[2019-10-07 21:13] jzhoucliqr commented on #630
Thanks @DirectXMan12 !

[2019-10-07 21:27] zhujl1991 commented on #93
@JoelSpeed  When leader election is enabled, after I delete the deployment of my controller manager, the `configmap` won't be deleted automatically.

[2019-10-07 21:44] negz opened #631 "Allow controller authors to configure queue rate limits"
Controllers created using controller-runtime [implicitly use](https://github.com/kubernetes-sigs/controller-runtime/blob/43a3cd//pkg/controller/controller.go#L89) the [`DefaultControllerRateLimiter`](https://github.com/kubernetes/client-go/blob/911ef75/util/workqueue/default_rate_limiters.go#L39) for the work queue they use to process reconcile requests. If I follow the logic correctly, this means

[2019-10-07 22:27] DirectXMan12 commented on #631
/kind feature
/priority backlog

As long as we're careful not to tie ourselves to closely to the exact interfaces or semantics of the underlying apimachinery libraries, this seems like a reasonable request

[2019-10-08 03:30] negz commented on #631
https://godoc.org/k8s.io/client-go/util/workqueue#RateLimiter is the interface `controller.New` currently uses behind the scenes. If we were unconcerned with exposing that interface I'd likely do something like:

[code]

@DirectXMan12 Would you be concerned about leaking that interface to controller-runtime users? If so, would you want to try to alter the interface, or would it be sufficient to de

[2019-10-10 15:17] howardjohn opened #633 "Cannot use with Kubernetes 1.16 apimachinery"
When building, I see errors like

[code]

I think this is due to `k8s.io/apimachinery => k8s.io/kubernetes/staging/src/k8s.io/apimachinery v0.0.0-20191001043732-d647ddbd755f` in my go.mod, since I want to use Kubernetes 1.16 libraries.

Is it possible to update this to `serializer.WithoutConversionCodecFactory`? Or do will that break users with older apimachinery?

[2019-10-10 17:07] DirectXMan12 commented on #633
we're in the process of updating to 1.16 (see #588).  In general, you'll probably encounter errors if you try to use Kubernetes libraries other than those specified in CR's go.mod

/triage support

[2019-10-10 17:07] #633 closed

[2019-10-10 17:10] #623 closed

[2019-10-10 17:16] DirectXMan12 commented on #631
the more we expose from apimachinery, the more likely something explodes dramatically in our faces when someone decides that a method name needs to change, or an interface needs to go away, or whatnot (*cough* 1.16 apimachinery *cough*).  That's one of my big concerns.

To clarify: what's the exact desire here -- set the backoff?  Control the backoff in a more granular manner?  That interface is d

[2019-10-10 17:20] DirectXMan12 commented on #445
/remove-lifecycle rotten

[2019-10-10 22:25] #321 closed

[2019-10-11 16:06] DirectXMan12 opened #637 "Clean up event handling code goroutine leaks"
Technically, we can leak goroutines when you create a manager, since the event initialization code used in CR creates new goroutines.

There's two places -- the first is when we create a new broadcaster, it launches some goroutines.  As of https://github.com/kubernetes/kubernetes/pull/83489, that can be shut down, but we probably need to move that to start.

The second is in the actual event provi

[2019-10-11 20:38] apelisse opened #638 "Add support for server-side apply markers"
Follow-up from https://github.com/kubernetes-sigs/kubebuilder/issues/1081

Kubernetes has a few new markers that could be really useful since they are also supported by CRDs. One can look at the existing kube-openapi implementation (since proper documentation is lacking ...)
- `// +listType=[atomic|set|map]`: Decides if the list is a set, an atomic map (fields are all replaced), or an associative

[2019-10-15 00:40] DirectXMan12 opened #641 "envtest needs to set service-cluster-ip-range"
service-cluster-ip-range is no longer going to be defaulted after 1.16 (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.16.md#deprecations-and-removals), so we'll need to set it in envtest for 1.17 compat.  There's no harm in setting it now, AFAICT

/kind feature
/priority important-soon
/good-first-issue

[2019-10-15 20:01] joelanford commented on #564
@ericzhang08 did you get a chance to work on this? If not, I'm planning to pick this up and submit a PR.

[2019-10-15 20:34] DirectXMan12 commented on #638
/kind feature
/priority important-soon

[2019-10-16 04:25] joelanford commented on #564
/assign

[2019-10-16 08:46] alenkacz opened #644 "Add support for ControllerExpectations"
There are certain use cases when controllerexpectations https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L142 makes sense for controller logic (even though I agree they could be misused).

To hook this in properly into controller it would need to be part of the `processNextItem` so it makes sense from my point of view to be integrated into the runtime.

WDYT?

[2019-10-17 02:50] xrmzju opened #648 "use ResyncPeriod func in case of multi controllers list simultaneously"
like [kube-controller-manger](https://github.com/kubernetes/kubernetes/blob/f7091992c04e2d4f16f6b462d4a711e5b9eb0f22/cmd/kube-controller-manager/app/controllermanager.go#L151) do

[2019-10-17 23:54] DirectXMan12 commented on #648
We generally recommend not touching resync period (because it often doesn't do what you think it does), and using ResyncAfter or something else if you really need periodic behavior

[2019-10-17 23:54] #648 closed

[2019-10-17 23:54] DirectXMan12 commented on #648
(closing for now, feel free to keep commenting)

[2019-10-18 00:55] DirectXMan12 opened #649 "Clean up controller.New workqueue goroutine leaks"
When we create a workqueue in the internals of controller.New, it spins up some goroutines (which can then be shut down with Shutdown).

We should not do this, and delay creating the workqueue till we start the controller, so that we don't leak goroutines.

We'll have to also delay watch starting until we start the controller (since watch start takes a handle to the queue), but that seems sensible

[2019-10-18 00:55] DirectXMan12 commented on #649
/kind bug

[2019-10-18 00:57] DirectXMan12 commented on #649
/assign @DirectXMan12

[2019-10-18 02:50] xrmzju commented on #648
@DirectXMan12 Sorry, I may not express myself clearly. my point is the default behaviour of controller-runtime for now is all reflectors will do resync action simutaneourly, which means multiple controllers may all hammer the apiserver with list requestes.

[2019-10-18 20:55] alvaroaleman opened #650 "Define a supported way of setting a cache on source.Kind"
In order to be able to write a controller that has informers in multiple clusters, one has to inject a cache into `source.Kind`. Options to do this include:

* Just call `kind.InjectCache`, it has a [nilcheck](https://github.com/kubernetes-sigs/controller-runtime/blob/ecdbe54c7cc55f9dfcc6cb56fc1622d182aa2219/pkg/source/source.go#L109-L111) that will prevent the `injectCache` call from the controll

[2019-10-18 21:10] DirectXMan12 commented on #648
Ok, so to summarize -- this is about adding jitter to the resync interval?

[2019-10-18 21:11] DirectXMan12 commented on #648
I think that seems reasonable

[2019-10-19 09:53] hzxuzhonghu opened #652 "bump k8s dependency to 1.16 failed for istio.io/operator"
Xref: https://github.com/istio/operator/pull/422

istio.io/operator depends on both k8s and controller-runtime, but i find that controller-runtime does not release a version with k8s 1.16 dependency.

[2019-10-20 07:59] alenkacz commented on #644
@DirectXMan12 any opinion on this?

[2019-10-21 23:24] seh opened #654 "event.DeleteEvent struct's "DeleteStateUnknown" field is never written"
[The `event.DeleteEvent` type](https://godoc.org/sigs.k8s.io/controller-runtime/pkg/event#DeleteEvent) has a field called "DeleteStateUnknown," documented as follows:

At present, this field is never written to, and nothing in the _controller-runtime_ library reads it either. This field entered the source back in #2, on 7 June 2018, copying the code from [the _kubernetes-sigs/kubebuilder_ project]

[2019-10-22 17:41] mengqiy commented on #531
Closed by #530

[2019-10-22 17:41] #531 closed

[2019-10-23 02:16] fanux commented on #403
Concurrence update object using cache client seems has a problem:
[code]

When using client without cache, everything fine.
[code]

[2019-10-23 11:55] DewaldV opened #656 "Unable to List Objects with pointer slices"
I've been working on a controller that interacts with another project's CRDs. All was going well until I encountered an error when trying to list owned objects using the reconciler's client with the code below:
[code]

This caused the following error:
[code]

Looking over the definition of the `PrometheusRuleList` CRD I noted that the element type for the `Items` field is `*PrometheusRule`.
https:

[2019-10-23 15:09] saravanakumar-periyasamy commented on #500
I still seeing the same error.

[code]

[2019-10-23 17:03] alvaroaleman commented on #615
Okay, thanks for the explanation

[2019-10-23 17:03] #615 closed

[2019-10-23 19:01] alvaroaleman opened #657 "Allow unittesting indexes on the cache-backed reader"
Currently, the only way of testing if:
* An index actually gets added to the cache
* Using the index yields the expected result

is to use `envtest`, which spins up an etcd and apiserver. Doing so works fine, but requires more setup (the binaries must be available) and has a decent chance of flaking in CI, e.G. due to CPU starvation.

It would be nice if there was a way to test the two cases above

[2019-10-25 13:19] Dingshujie commented on #641
\assign

[2019-10-25 14:58] munnerz opened #660 "Consider reverting prometheus/client_golang dependency to v0.9.x instead of v1.0.0"
In https://github.com/kubernetes-sigs/controller-runtime/commit/df0f06fa154c87ee3e2704617617cb80027e0b73#diff-37aff102a57d3d7b797f152915a6dc16R15, the dependency on `client_golang` was bumped to v1.0.0.

This was _not_ required as part of bumping dependencies for Kubernetes 1.15.x (as k8s is currently incompatible with v1.0.0 due to the `github.com/prometheus/client_golang/prometheus.InstrumentHan

[2019-10-25 17:40] andrewmyhre opened #661 "404 when trying to update resource Status"
I have a test which is creating a resource and calling a function which will update the status of the resource:

[code]

Calling `.Update()` returns `the server could not find the requested resource`. I am able to `Get()` the resource prior to calling `.Update()`. What might I be doing wrong?

[2019-10-28 23:15] #277 closed

[2019-10-29 14:26] Adirio opened #665 "Non-zero value based patch"
`Patch`es need either to provide their `[]byte` (`ConstantPatch`), use server-side apply (`Apply`) or require a deep-copy operation, modify the copied object, and provide both the original and the copy to the patch so that it can compute the differences (`MergeFrom`).

The first option is quite low-level, and while it gives the user the full control is open to bugs. The last one is an overkill for

[2019-10-29 18:48] gdoctor commented on #660
As of now, the earliest `github.com/prometheus/client_golang v1.0.0` is supported by core kubernetes is https://github.com/kubernetes/kubernetes/blob/v1.17.0-beta.0/go.mod Makes a lot of sense to me to revert for compatibility reasons.

[2019-10-29 21:12] #649 closed

[2019-10-30 14:18] Adirio opened #666 "Common interface for SetControllerReference"
Is there any reason not to combine `metav1.Object` and `runtime.Object` into a single `MetaV1RuntimeObject` interface?

[code]

`SetControllerReference` is casting a `metav1.Object` into a `runtime.Object` which means that if this fails it will fail at run time instead of compile time.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/controller/controllerutil/controllerutil.g

[2019-10-30 15:22] alexeldeib commented on #666
https://github.com/kubernetes-sigs/controller-runtime/issues/594

[2019-10-30 15:30] #666 closed, assigned to nobody

[2019-10-30 15:37] Adirio commented on #594
As I said in #666, unifying the interface in cases when there is a type assertion (and by assertion I mean a type cast that returns an error if it doesn't meet it) would move some errors from run time to compile time and would also allow IDEs to catch this errors. `SetControllerRef` seems to be one of them. Should we make a list and categorize them as @DirectXMan12 suggests (both interfaces requir

[2019-10-31 19:28] manuelfelipe opened #668 "workqueue filling up in all non-leader controllers when starting a manager with LeaderElection"
Was looking at creating couple of monitoring dashboards for some controllers we are working on internally. Noticed that the `workqueue_depth` metric keeps growing up in all *non-leader* pods  based on the number of resources associate with the informers managed by controller-runtime .

In a test cluster with three resources matching the `Kind` the controller in questions is watching for:

[code]

[2019-11-01 02:28] #208 closed

[2019-11-02 12:45] wallrj opened #669 "Envtest fails without a network connection"
In https://github.com/improbable-eng/etcd-cluster-operator/issues/63 I noticed that our test suite would fail if I was offline.

Looking through the attached control plane logs I can see that the kube-apiserver fails to start if the machine doesn't have a default route set.
Part of the automatic  `--advertise-address` lookup mechanism.
One solution is to supply a fixed `--advertise-address`.

[cod

[2019-11-02 20:09] #201 closed

[2019-11-02 20:09] #67 closed

[2019-11-02 20:52] raffaelespazzoli opened #671 "Specific resource instance as source"
I'd like to be able to easily create a source on a specific object rather than the whole kind.
So ideally I could write something like:
[code]
the behavior should be that the most specific watcher would be created:
* if namespaced type:
  * if neither `namespace` nor `name` are initialized, behave like `source.Kind`
  * if only `namespace` is initialized, create a watch for that type in that names

[2019-11-03 00:13] #171 closed

[2019-11-04 08:43] edwardstudy commented on #343
@DirectXMan12 Sorry about interrupting this closed issue.

I had the same situation that we can list resources but could not get the resource, and these actions were not happening after creations. Do we have any different path from local cache between `List()` and `Get()`.

[2019-11-04 15:24] manuelfelipe commented on #668
Looking at this a bit closer, looks like the culprit is around the usage of `Builder.Complete(` when setting up the controller(s). Specifically in:

https://github.com/kubernetes-sigs/controller-runtime/blob/d21241119ea4de139f1892ba2f5bc72c96d07f3f/pkg/builder/controller.go#L150-L152

Basically, the watches are setup independently of the leader election state.

@DirectXMan12, wondering how do you

[2019-11-05 18:23] manuelfelipe commented on #668
oh well... after going the route trying to get PR to fix out of the latest 0.3.0 release just found out https://github.com/kubernetes-sigs/controller-runtime/pull/651 which is pretty much what I was trying to do.

I guess this is a no issue once we have an actual release with the changes.

[2019-11-05 22:11] DirectXMan12 commented on #668
Ah, I didn't even think about that fixing this issue, but yeah, it should.  Cool.

[2019-11-05 22:23] DirectXMan12 commented on #343
No, that shouldn't happen.  Is `Foo` namespaced?

Aside: I'd *highly* reccomend using a live client in the test bodies themselves, otherwise you'll get flaky tests (the standard caching client is fine in the controllers themselves, but for your test assertions, the live client is much better generally).

[2019-11-05 22:28] #564 closed

[2019-11-05 22:36] #669 closed

[2019-11-05 22:40] DirectXMan12 commented on #671
/kind feature
/priority backlog

this is a common request.  We'd need to plumb through a way to tell the list-watcher to watch a specific object.  I'm not certain it's easily doable right now w/o jumping through some hoops.

[2019-11-05 22:56] DirectXMan12 commented on #594
:+1: from me

[2019-11-05 23:00] DirectXMan12 commented on #660
yeah, this seems reasonable.  Please file a PR.  We'll un-revert when 1.17 comes out.

[2019-11-05 23:04] DirectXMan12 commented on #665
That's effectively a raw merge patch (but yeah, you'd need to set GVK in the patch logic too) -- you'd want the type to be `types.MergePatch`.  At first glance, this seems fairly reasonable, and I think we'd take it (but probably with a different name).  Just want to make sure we don't have any unforseen consequences.

[2019-11-05 23:12] DirectXMan12 commented on #661
Did you enable the status subresource on your CRD?

[2019-11-05 23:12] DirectXMan12 commented on #661
/triage support

[2019-11-05 23:19] DirectXMan12 commented on #657
I'm all ears for a good way to do this

[2019-11-05 23:19] DirectXMan12 commented on #500
make sure you don't have the old version in your go.mod

[2019-11-05 23:20] DirectXMan12 commented on #656
I think your analysis is correct here -- just waiting for tests on the PR

[2019-11-05 23:21] DirectXMan12 commented on #403
Right, you're going to have some cache lag so you'll get the old resource version with the cached client.  That's expected.

[2019-11-05 23:21] #403 closed

[2019-11-05 23:22] DirectXMan12 commented on #532
/remove-lifecycle stale

[2019-11-05 23:24] DirectXMan12 commented on #654
can we get some context from k/k?  I don't remember what our intention was with that field, but the tombstone logic sits in a bit of a minefield of weird artifacts ported from k/k.

[2019-11-05 23:25] DirectXMan12 commented on #644
Having helpers for expectations has vaguely been on the todo list.  If we're going to integrate into the runtime directly, I'd like to see a rough design sketch or prototype or something before committing to a design (whatever is easiest for you)

[2019-11-05 23:25] DirectXMan12 commented on #644
/kind feature
/priority backlog

[2019-11-05 23:25] #340 closed

[2019-11-05 23:25] DirectXMan12 commented on #492
/lifecycle frozen

[2019-11-05 23:26] DirectXMan12 commented on #450
I believe this has been fixed.  Please re-open if you observe it again

[2019-11-06 00:01] DirectXMan12 commented on #652
this has been bumped, closing

[2019-11-06 00:01] #652 closed

[2019-11-06 00:25] andrewmyhre commented on #661
I forgot I had posted this.. It turned out I needed to update my code generation markers and some dependencies in my project to have the custom resource generate with the status subresource enabled. Thanks! I'll close this.

[2019-11-06 00:25] #661 closed

[2019-11-06 01:36] fanux commented on #403
@DirectXMan12 so I think kubebuilder provides a REST readwrite client is better... https://github.com/kubernetes-sigs/controller-runtime/pull/609

It is convenient for us to update CRD immediately. :smile:

[2019-11-06 08:07] Adirio commented on #665
I messed that up. Copy-pasted and swapped the type here in GitHub.

What about `Merge`?

I really find naming a bit odd actually. `ConstantPatch` expects both the type and the raw `[]byte`. `CustomPatch` or `RawPatch` sounds more accurate. I would have used `ServerSideApply` instead of `Apply`. `MergeFrom` is pretty descriptive.

What do you think about `Merge`, `MergeFrom`, `CustomPatch` and `Ser

[2019-11-06 10:21] yiqinguo commented on #335
When can solve this problem?

[2019-11-06 12:30] manuelfelipe commented on #668
tested using `40070e2a1958` rev. not an issue anymore after #651

[2019-11-06 12:30] #668 closed

[2019-11-06 19:15] alvaroaleman commented on #657
@DirectXMan12 So what I had in mind would be something like:
* Add a new `pkg/manager/fake` that exposes a `NewFakeManager(obj ...runtime.Object)`
* All methods on that `manager` except for `GetClient` and `GetFieldIndexer` will error or panic
* `GetClient` and `GetFieldIndexer` can be used to create and use an index, something along the lines of https://github.com/kubernetes/test-infra/blob/f0e45

[2019-11-07 00:29] DirectXMan12 opened #673 "Applier helper or apply patch type should ensure that GVK is set"
The server-side apply logic requires that the patch have GVK set, so we should make sure that we set GVK when serializing.

[2019-11-07 00:29] DirectXMan12 commented on #673
/kind feature
/priority important-soon

[2019-11-07 09:04] edwardstudy commented on #343
@DirectXMan12 Hi, they're more kube native resources. I could not get specified StatefulSet but can list them. And yes, them are namespaced resources.

[2019-11-07 14:04] shawn-hurley commented on #445
I have not hit this issue, but the scenario seems to be something that would happen pretty often.

I wonder how "easy" it was to determine that this was the case? If it is easy to determine is it easy for a cluster-admin to fix (someone who may not have access to the controller code)?

 I assume that it is not easy to fix, and therefore I would agree with the breaking change.

This leads to anothe

[2019-11-08 08:25] alvaroaleman commented on #445
Wasn't that obvious, as there is currently no logging for this case. Logs are only emitted by klog if you set it to `v>=4`. That in itself is another issue we definitely should fix.

Well in the scaffolding it would be possible to generate a UUID I guess. In cases where ppl use controller-runtime directly, we can only try make doing the wrong thing as hard as possible and IMHO its too easy right n

[2019-11-08 18:07] #450 closed

[2019-11-11 14:55] hoegaarden opened #676 "[Discuss] Move sigs.k8s.io/testing_frameworks/integration to controller-runtime"
Proposal: Move testing_frameworks/integration into controller-runtime (& deprecate the former)

xref: https://github.com/kubernetes-sigs/testing_frameworks/pull/68#issuecomment-536760791

Advantages:
* Some configuration and implementation gets simpler; e.g. the equivalent of "kubebuilder assets"
* Smaller change/PR overhead - changes that involve both testing_frameworks/integration and controller

[2019-11-11 16:36] alvaroaleman opened #677 "Cache-Backed reader only works when the leader lease was acquired"
Currently, the cache-backed reader returned from the `Manager` only works when the leader lease was acquired, because otherwise it doesn't get started.

There are cases in which it is useful to have it working even without the leader lease, basically every runnable that itself doesn't require leader election.

[2019-11-11 17:23] alvaroaleman commented on #677
/kind bug
/assign

[2019-11-11 18:19] estroz commented on #297
@DirectXMan12 has this been fully implemented in #419 or is there more to do?

[2019-11-13 02:38] chemikadze opened #680 "Ability to obtain RESTClient for given type"
While trying to use controller-runtime client (outside of controller context), I have faced the need to create watches on objects. Doing that via utilities provided in client-go requires RESTClient to be acquired, which is not exposed by controller-runtime client, and handling creation of RESTClient just for single API call feels a bit redundant. Also, exposing RESTClient would unlock things like

[2019-11-13 19:00] joelanford opened #681 "Incorporate API compatibility checks into CI"
When reviewing PRs and deciding on a release version, it would be helpful to know if branches of `controller-runtime` contain any breaking changes:

- For PRs: the diff between `master` and the PR branch
- For releases: the diff between the previous semver release tag and `master`

For the recent bumps for Kubernetes [1.15](https://github.com/kubernetes-sigs/controller-runtime/pull/599#issuecommen

[2019-11-14 10:08] salaboy opened #684 "Expose HTTP Endpoints listeners used for metrics"
Right now the `/metrics` endpoint is automatically created and hosted using port `8080` it will be nice for users to be able to register other HTTP endpoints using the same listener under `8080`. Today, looking at the code this is not possible.

[2019-11-14 18:57] #660 closed

[2019-11-15 17:58] #677 closed

[2019-11-15 18:06] #641 closed

[2019-11-18 18:07] lawrencegripper commented on #612
In case anyone else lands here from KubeBuilder and wants an workaround I was able to create a `client` instance without caching using the `mgr` in the autogen'd `main.go` like this:

[code]

[2019-11-19 08:49] SimonCqk opened #686 "Expose NumRequeues of work queue for user."
It's true that the well-encapsulated controller-runtime makes users more easier to develop a new controller or operator in a effective way, but I've got some case which urgently need the NumRequeues information for some items in work queue.

Imagine the implementation of `Job-like` workloads, e.g: tensorflow jobs, pytorch jobs, k8s native jobs... These jobs may failed for some reason in runtime an

[2019-11-19 21:05] negz commented on #631
It's not immediately obvious to me what the difference between those two options is, so "yes". :) I'd like:

* Control over backoff semantics. For example in our case where we're orchestrating (fairly slow moving) cloud APIs we might want our first retry after ~1 seconds (not 5ms), backing off up to ~5 minutes (not ~16 minutes).
* Insight into the current state of the backoff. I feel it's a much b

[2019-11-20 21:10] lulf opened #687 "Ability to create watches for different namespaces"
We have a use case where we have 2 namespaced resources, and a controller watching resources of type A in all namespace, but it would also like to watch resources of type B for a single specific namespace (for instance based on which namespace an instance of 'A' exists). At present, this is not possible to watch instances of B in a specific namespace. The alternative of watching resource B in all

[2019-11-21 05:24] seh commented on #350
I’m bitten by this problem with my use of an instrumentation package that I try to shut down cleanly before the process exits. My predicates and reconcilers are making calls into this package, and there’s no way I can see that I can wait for them all to finish before trying to close the connection they’re all using.

It’s one thing to know that the manager observed the “stop” channel becoming read

[2019-11-21 13:21] alenkacz opened #688 "Pass in more metadata to Validator methods"
Right now, if one decides to implement `admission.Validator` the methods does not provide metadata from the AdmissionRequest so one cannot e.g. figure out that it's a request to a subresource or dry run.

The easiest solution here would be to pass in whole admission request into all of those methods.

[2019-11-21 13:22] alenkacz commented on #688
I would be happy to work on this if we agree on the direction

[2019-11-21 16:48] jessehu commented on #524
Hi @xcoulon could you share the sample code of your workaround please ? I hit the same issue.

[2019-11-21 20:12] hasheddan opened #691 "Consider surfacing merged CRDs in envtest Environment"
Currently, you can add CRDs to an `envtest` Environment directly as an `*apiextensionsv1beta1.CustomResourceDefinition` or by directory path. Both of these sources are merged with any `CRDInstallOptions` and all CRDs are installed into the cluster. However, if you want to further interact with CRDs installed by directory path (e.g. if you want to clean them up before terminating connection to an e

[2019-11-22 18:32] alvaroaleman commented on #687
IMHO this is a duplicate of #244 . Feel free to re-open if you disagree.
/close

[2019-11-22 18:32] #687 closed

[2019-11-22 19:03] lulf commented on #687
@alvaroaleman Reading that issue, I agree its similar, but my main requirement is to avoid the need to grant more permissions to the controller than what is needed. I.e. filtering by namespace client-side would not be sufficient. If you want to keep this closed, I can perhaps add a comment to that issue instead.

[2019-11-22 19:10] lulf commented on #244
I have a similar need for being able to specify namespace for watches (similar to https://github.com/kubernetes-sigs/controller-runtime/issues/124#issuecomment-417438810). I've been playing around with that in #692, but it could perhaps be made more generic than what is there at present. My main motivation for watching per namespace is to ensure I can grant controllers only the minimal permissions

[2019-11-22 19:26] alvaroaleman commented on #244
@DirectXMan12 re https://github.com/kubernetes-sigs/controller-runtime/issues/244#issuecomment-451336202: Would it be another option to make the cache Reader smartly detect options that could be used to filter informers (namespace, labelSelector, fieldSelector), check if we have a cache for those already, if yes use it, if not fall back to unfiltered cache (which means creating it if it doesn't ex

[2019-11-23 04:39] jzhoucliqr commented on #534
/close

[2019-11-23 04:39] #534 closed

[2019-11-25 12:01] lulf commented on #244
How about an API something like this:

[code]

The options are passed down to the informer map which will create additional caches if they are not covered with any existing informer.

[2019-11-25 20:33] raffaelespazzoli opened #695 "Support for stoppable managers"
as of today Manager seems to be an interface designed to wrap a process that runs forever.
In my use case I need to create and destroy managers based on external events.
With this simple code:
[code]
I was able to create a stoppable manager, which so far seems to be working fine.
However when I start a new manager with the same name of a previous one, I get these errors:
[code]
From what I have be

[2019-11-26 22:52] CamelCaseNotation commented on #347
Any movement on this?

[2019-11-27 00:12] apelisse commented on #347
We're missing [that PR](https://github.com/kubernetes-sigs/controller-tools/pull/347) and its extension that @mariantalla is working on.

[2019-11-27 15:14] pires commented on #445
To me, the problem as described by the OP does justify changing the default behavior to something that may increase cognitive load of adopters, if it prevents them from having the same or larger cognitive load when the problem surfaces.

With that said, I wonder if CR could default to a UUID while allowing an adopter to explicitly opt-in for an override? If an adopter overrides, they are cognizant

[2019-11-27 15:20] alvaroaleman commented on #445
@pires we talked about this during kubecon and agreed that this should be done, but Solly is not present so there is no one who can approve the PR :grimacing:

Kubebuilder (the scaffolding tool) could do that, controller-runtime can not really do that, as it must be both unique per controller manager and deterministic. An UUID would give the first but not the second, effectively disabling leader e

[2019-11-27 15:49] pires commented on #445
Oh, sorry I missed that and thanks for clarifying.

Out of curiosity, did anyone consider to actually disable leader-election by default in CR?

[2019-11-28 16:07] sebgl opened #699 "SetControllerReference incompatible with CRD version upgrade"
I think there is a problem with the way `SetControllerReference` works and how a CRD can have multiple versions.

The problem happens if we:
- create a CRD `MyResource` with version `v1beta1`
- in the corresponding reconciliation, create another resource (eg. a Secret), with `SetControllerReference` called to set its ownerReference to `MyResource/v1beta1`
- deploy a `MyResource` sample
- add a new

[2019-11-28 16:58] alvaroaleman commented on #445
It is disabled by default already.

[2019-11-29 11:09] alvaroaleman opened #702 "Fakeclient requires types read through unstructured to be registered in the scheme"
Writing a test that uses the fakeClient for code that uses `*unstructured.UnstructuredList` to list something, the test fails with a

[code]

The same code works fine when using a non-fake client.
/kind bug

[2019-12-01 19:58] alvaroaleman commented on #702
Okay so actually it seems I should have just read the error message, because I didn't pass in the ListType which happens to work with the non-fake client.

However after fixing that, the next error is this:

[code]

This issue seems to be rooted in the underlying object tracker used by the fake client. Not sure if and how to fix it. Maybe register `*unstructured.Unstructured` for the given GVK?

N

[2019-12-02 10:36] sebgl commented on #699
From this [Slack convo](https://kubernetes.slack.com/archives/C0EG7JC6T/p1575039839348100), the version of the resource in the ownerReference does not seem to be used at all for resources garbage collection.

I can think of two different ways to deal with the above problems:

1. Replace the existing ownerReference with one that has the updated `apiVersion`. The downside is users need to correctly

[2019-12-02 15:18] enxebre opened #703 "`mergeFromPatch` does not consider the zero value as part of the patch"
A CRD  has a status sub-resource with a required integer field: `status.IntField`
When trying to patch the status for the first time with `status.IntField=0` the diff given by `patch.Data(obj)` does not consider the zero value as part of the patch to be applied and the request via `mergeFromPatch` `client.Status().Patch` fails with `is invalid: status.IntField: Required value`
Is the only way to g

[2019-12-02 17:22] enisoc commented on #521
Just to close the loop on my report of the watch stalling: I ended up turning on detailed logging, but also at the same time updating to k8s-1.13.x-based operator-sdk. I haven't seen any watches stall since then.

[2019-12-02 21:28] alexeldeib commented on #350
/remove-lifecycle stale

[2019-12-02 22:46] DirectXMan12 commented on #460
/lifecycle frozen

[2019-12-02 22:47] #521 closed

[2019-12-02 22:47] DirectXMan12 commented on #521
(closing as per above response)

[2019-12-02 22:54] DirectXMan12 commented on #703
/kind bug
/priority backlog

Do you want zero to be a valid value?  Or is that considered unset?

[2019-12-02 22:57] DirectXMan12 commented on #699
:+1: on just having `referSameObject` ignore version.

[2019-12-02 23:00] DirectXMan12 commented on #702
I think the objectracker needs to use the passed-in scheme, not the kubernetes scheme -- use `NewFakeClientWithScheme` instead of `NewFakeClient` (which totally violates our controller-runtime API conventions, but that's a whole different story...)

[2019-12-03 02:04] DirectXMan12 commented on #485
fixed as per above

[2019-12-03 02:04] #485 closed

[2019-12-03 02:06] DirectXMan12 commented on #445
We discussed this at the f2f a bit, but I've had too turkey this past week to remember exactly what the decision was.  @shawn-hurley has the meeting notes I think.

[2019-12-03 02:06] DirectXMan12 commented on #572
/lifecycle frozen

waiting to make a set of breaking changes

[2019-12-03 02:10] DirectXMan12 commented on #347
FWIW, basic support is in right now -- it looks like

[code]

but that's a bit less elegant than it could be

[2019-12-03 02:14] #464 closed

[2019-12-03 02:15] DirectXMan12 commented on #524
/kind bug
/priority backlog

[2019-12-03 02:16] DirectXMan12 commented on #524
/area fake-client

[2019-12-03 02:19] DirectXMan12 commented on #688
`admission.Defaulter` and `admission.Validator` are intended to fill the situation where you need to mimic the API server's built-in validation and defaulting, not as a generic mutating/validating webhook "hook", so I'm not sure we want to do this -- we probably want to use the lower-level mutating/validating webhook logic in CR for this instead.

Might I ask for the usecase here?

[2019-12-03 02:19] DirectXMan12 commented on #691
/kind feature
/priority backlog

this seems reasonable

[2019-12-03 02:19] DirectXMan12 commented on #691
go head

[2019-12-03 02:20] DirectXMan12 commented on #691
/help

[2019-12-03 02:22] DirectXMan12 opened #705 "DynamicRESTMapper could cause context timeouts to be ignored"
The dynamicrestmapper doesn't support contexts (because the restmapper interface doesn't support timeouts).  This is bad.  We should fix this short-term in CR and long-term perhaps in the restmapper interface, or in a super-interface of restmapper that supports contexts (we can type-assert on it or something).

/kind feature
/priority important-longterm
/help

[2019-12-03 08:37] enxebre commented on #703
A valid value.

[2019-12-03 09:11] alvaroaleman commented on #702
The problem is that it requires the type I am trying to get via an `unstructured.Unstructured.` to be registered. But the reason I am using `unstructured.Unstructured` in the first place is that I do not have the go types.

[2019-12-03 09:46] sebgl commented on #699
I'll work on a PR.

[2019-12-03 17:08] apelisse commented on #347
That's not terrible. We could have a `Apply` method to get rid of the parameter patch-type parameter.

[2019-12-03 19:05] DirectXMan12 commented on #347
I'm thinking the eventual interface should not need the patch type, and should just keep the field manager in some internal state so that you don't have to type it every time.  We can probably also default to forceownership.

[2019-12-03 19:08] apelisse commented on #347
I think it's a great default, but needs to be overridable.

[2019-12-03 19:10] DirectXMan12 commented on #347
basically:

[code]

[2019-12-03 19:13] DirectXMan12 commented on #702
oh, yeah, sorry, triaging too fast :-P

[2019-12-03 19:16] DirectXMan12 commented on #695
Manager is already intended to be stoppable using the passed-in stop channel.  Any case where that isn't true is a bug.

The metrics issue is a bug, but it's safe to ignore for now.  We'll want to eventually fix it, though.

[2019-12-03 19:16] DirectXMan12 commented on #695
/kind bug
/priority backlog

[2019-12-03 19:17] #699 closed

[2019-12-03 19:19] DirectXMan12 commented on #686
Is backoff limit supposed to be a controller-level knob, or a object-level knob?  If the latter, that isn't preserved across controller restarts -- what happens if the controller gets restarted after every couple of requeues?  You'll never actually hit the limit.

[2019-12-03 19:21] DirectXMan12 commented on #548
/remove-lifecycle stale

[2019-12-03 19:23] DirectXMan12 commented on #563
If anyone wants to pick this up, I added initial support in https://github.com/kubernetes-sigs/controller-runtime/pull/645, but it needs some serious cleanup

[2019-12-03 19:24] DirectXMan12 commented on #684
/kind feature
/priority backlog

We usually just serve other things on a different port, but yeah, this could be useful.

[2019-12-03 19:24] #691 closed

[2019-12-03 19:25] DirectXMan12 commented on #681
/kind feature
/priority important-soon
/help

[2019-12-03 19:27] DirectXMan12 commented on #680
https://godoc.org/sigs.k8s.io/controller-runtime/pkg/client/apiutil#RESTClientForGVK is what you're looking for.

I'm not super-keen on exposing it via the client interface, especially since not all CR clients are api clients based on RESTClient (some are cache clients or fake clients)

[2019-12-03 19:28] DirectXMan12 commented on #680
(closing for bookkeeping, but generally willing to hear counter arguments -- not trying to be rude :-) )

[2019-12-03 19:28] DirectXMan12 commented on #297
I think so

[2019-12-03 19:28] #297 closed

[2019-12-03 19:28] DirectXMan12 commented on #562
/remove-lifecycle stale

[2019-12-03 19:44] apelisse commented on #347
Also, the "owner" is required, so I would surface that somehow.

[2019-12-03 21:35] DirectXMan12 commented on #546
/remove-lifecycle stale
/good-first-issue

[2019-12-03 21:37] DirectXMan12 commented on #657
:-/  I'm not a huge fan of this, but if we can't figure out a better method, it might be a viable way forward.  Usually, this means that there's an overbroad interface, but in this case it's "set of available dependencies", so it might be fine.

[2019-12-03 21:40] DirectXMan12 commented on #347
(that's why I have the `name` field)

[2019-12-03 22:28] apelisse commented on #347
Discussed offline, we're on the same page :-)

[2019-12-03 23:11] chemikadze commented on #680
Oh I see, makes sense.

Use of RESTClientForGVK somewhat suffers from same issues -- scheme, mapper, codecs should be lined up before it can be used, while controller-runtime already takes care of these things. For example, if client.New would return superset of client.Client and some new RESTClientFactory interface, it would help avoid inconsistencies between manually created and controller-runti

[2019-12-04 21:59] DirectXMan12 commented on #680
Even with `client.New`, I'm not super-keen on tying that to RESTClient directly, since I mostly view RESTClient as an implementation detail there.

That being said, having a helper that pulled that stuff out of the manager might be helpful in making it simpler, since the correct series of calls is

[code]

which is definitely unwieldy.

[2019-12-04 22:05] shawn-hurley commented on #445
from my notes:

[2019-12-04 22:08] #420 closed

[2019-12-05 01:03] mengqiy commented on #676
We probably should be starting by moving it under `pkg/internal/testingframework` and then switch controller-runtime code to depend on that.

[2019-12-05 03:25] chemikadze commented on #680
Yeah, helper would be good enough if rest clients obtained in this way are more or less same as used by client.

[2019-12-05 09:38] youyongsong opened #711 "Allow pass vars from main function to webhook validator functions"
Sometimes we need more contexts than resource itself in `ValidateCreate` `ValidateUpdate` `ValidateDelete` function, for examples:
eg1:
My CR validation relays on controller's flag, so I need to access that flag inside `ValidateCreate` function.
eg2:
My CR has a reference to another resource, I need a client to get that resource inside `ValidateCreate` function.

Is there anyway or workaround to p

[2019-12-05 21:13] mcristina422 opened #712 "Webhook Metric Request Total Unused"
The metric `controller_runtime_webhook_requests_total` is registered but never actually updated. https://github.com/kubernetes-sigs/controller-runtime/blob/a0e9c1de298fe3df44de6559b3bb6d18ae986e54/pkg/webhook/internal/metrics/metrics.go#L28-L34

It seems like it was removed in this PR
https://github.com/kubernetes-sigs/controller-runtime/pull/323/files#diff-fbc18bb07cdd05391b7081acc1dfe170R105

@D

[2019-12-05 21:18] DirectXMan12 commented on #676
yep, sgtm.  It'll be a breaking change I believe, since we expose some bits of testing_frameworks in our public API.  Likely low impact though.

[2019-12-05 21:19] DirectXMan12 commented on #680
/good-first-issue

a helper for this should be a relatively simple PR.  The code is above.

[2019-12-05 21:20] DirectXMan12 commented on #711
Not at the moment, except by using the lower-level admission machinery (pkg/webhook/admission), or a global

[2019-12-05 21:21] DirectXMan12 commented on #712
yeah, it's prob fine to remove

[2019-12-05 21:23] mcristina422 commented on #711
I did this when building a Pod webhook that needed to check the state of PersistentVolumeClaims. Create a `admission.Handler` and register that yourself to the manager. A client can be injected for you

[2019-12-06 01:17] DirectXMan12 commented on #702
need to dig into objecttracker here probably

/help

[2019-12-06 01:18] DirectXMan12 commented on #703
is this a structural schema or a non-structural one?  I wonder if `// +default=0` would work.

[2019-12-06 01:21] DirectXMan12 commented on #631
Yeah, that makes sense.  Exposing an option to configure the rate-limiter is *probably* fine.

[2019-12-06 01:24] DirectXMan12 commented on #665
Yeah, the naming of constantpatch is a bit unfortunate.  It's constant because it doesn't actually do anything, it just feeds the values through (all the other patch types do computation).

`CustomPatch` or `RawPatch` seem reasonable (with a slight preference towards the latter).

Merge is fine.

That's a lot of typing :-P.  I'd prefer to keep Apply as-is.

[2019-12-06 01:26] DirectXMan12 commented on #343
since they're namespaced, you'll need `depKey := types.NamespacedName{Name: "foo-1", Namespace: whateverTheNamespaceIs}`

[2019-12-06 02:47] youyongsong commented on #711
@DirectXMan12 @mcristina422 thanks, I'm using `admission.Handler` now, also expecting that kubuilder webhook could add dependency injection mechanism in the future.

[2019-12-08 09:56] pires opened #717 "envtest fails to install v1 CRDs, e.g. with defaulting"
Regardless of pointing to an `USE_EXISTING_CLUSTER=true` running Kubernetes 1.16, the usage of any feature that is not included/enabled in the apimachinery imported into `envtest`, such as CRD defaulting, fails with error(s).

[2019-12-08 12:11] prafull01 commented on #712
I guess this can be a good first issue. I can take it up as my first issue for controller-runtime.

[2019-12-08 12:12] prafull01 commented on #712
/assign prafull01

[2019-12-09 10:28] enxebre commented on #703
yeh I wanted to do that unfortunately this is non-structural yet

[2019-12-09 16:01] alenkacz commented on #563
is anyone working on this? cc. @adohe

[2019-12-09 20:12] LouisPlisso commented on #335
@DirectXMan12 I am able to reproduce in v0.4.0

can you please re-open or give us a solution/workaround?

[2019-12-09 20:50] DirectXMan12 commented on #335
@LouisPlisso can you please provide your `go.mod` file?

[2019-12-09 20:57] DirectXMan12 opened #722 "Overhaul envtest configuration"
So, *eventually* (/me gesticulates wildly) we'll get componentconfig for API server.  In the mean time, the whole "go templates and append command line flags" thing is super awkward, IMO.

I propose that next set of breaking changes pre-1.0, we have something like

[code]

And use something like that.  It makes it pretty clear how to override flags, and makes passing custom flag sets a bit more re

[2019-12-09 20:57] DirectXMan12 commented on #722
/kind feature
/priority backlog

[2019-12-09 20:58] DirectXMan12 commented on #722
(we might be able to do this in a backwards compat way too -- just needs some thought)

/help

[2019-12-09 21:20] DirectXMan12 commented on #586
we have support for lazy discovery now, so I think we can close this

[2019-12-09 21:20] #586 closed

[2019-12-09 21:28] DirectXMan12 commented on #172
/help

[2019-12-09 21:32] DirectXMan12 commented on #717
/kind bug
/priority important-soon
/help

This is because we hard-code the version that we expect of CRDs.  We'll need to fine a way around this.  Possibly using the CR client internally to avoid this happening in the future.

[2019-12-09 21:36] #712 closed

[2019-12-09 21:42] #394 closed

[2019-12-09 21:42] droot commented on #717
Yes, you are right, we are using generated clientset https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/envtest/crd.go#L220 . We will have to move to CR client and also use `unstructured` for referring CRs in CRUD operations.

[2019-12-09 21:50] ncdc opened #723 "Add default readiness check for webhook server?"
In the Cluster API project, we're trying to automate the following in our CI testing:

1. Create a kind cluster
1. Deploy cert-manager
1. Wait for cert-manager to be ready
1. Deploy Cluster API (CRDs, RBAC, Deployments, etc)
1. Wait for Cluster API pods to be ready (so our webhooks are ready)
1. Create a `Cluster`, `Machine`, etc.

When we're waiting for the Cluster API pods to be ready, we've not

[2019-12-09 22:42] #481 closed

[2019-12-09 22:53] fejta commented on #583
/close

[2019-12-09 22:53] #583 closed

[2019-12-10 00:33] #711 closed

[2019-12-10 00:57] DirectXMan12 opened #724 "Test that we don't leak goroutines on start and stop"
We should have tests for simple operations that make sure they don't leak goroutines.  Namely, `manager.Start & stop` and `controller.New`, both of which leaked in the past.

We can use the runtime package to get the goroutine count.

/good-first-issue

[2019-12-10 01:01] DirectXMan12 commented on #703
hmm... I don't think there's a good way for `MergePatchFrom` to know that the field changed -- it basically just serializes both instances and then does a diff of the raw JSON, and a field is either `omitempty` or it isn't, but in either case the value doesn't change from an empty object.  You might have to write your own patch generator that knows how to handle the case of "object doesn't exist y

[2019-12-10 01:03] DirectXMan12 commented on #723
yeah, that makes sense

[2019-12-10 01:04] DirectXMan12 commented on #723
/kind feature
/priority important-longterm

[2019-12-10 01:09] DirectXMan12 commented on #394
Flake here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_controller-runtime/713/pull-controller-runtime-test/1204197535384604672

Can you take a look please?

[2019-12-10 13:04] enxebre commented on #703
Thanks for the ideas Solly, I think we can close this. I'll go by using a pointer for now and would use `//+default=0` for a structural schema

[2019-12-10 13:04] #703 closed

[2019-12-10 15:15] ncdc commented on #723
@DirectXMan12 I can work on this. How much flexibility would you like for the check? Should we add `AddReadyzCheck()` to `webhook.Server`? Or start simple and hard-code a simple ping response?

[2019-12-11 09:52] LouisPlisso commented on #335
sure @DirectXMan12, here it is

[code]

[2019-12-11 13:48] LouisPlisso commented on #335
@DirectXMan12 as the error message is different that the original one for this issue, should I create a new issue?

[2019-12-11 16:51] knabben commented on #724
Any ideas on how to filter the goroutines from manager/controller, using the NumGoroutines from runtime returns the ones from tests ~43, do makes sense to iterate on these list and extract by file path maybe?

[2019-12-12 00:49] rajathagasthya commented on #631
We have the exact same use case in controlling backoff. So this would be really useful.

@DirectXMan12 Does it make sense to add a new `ratelimiter` package and define the `RateLimiter` interface (identical to client-go's `RateLimiter`) there? And then use that as the type for the rate limiter option?

[2019-12-13 02:15] gaocegege opened #726 "[feature-request][client-cache] Use sync.Map instead of sync.RWMutex"
In https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/client_cache.go#L48

We use:

[code]

to construct a thread-safe map cache. In this scenario, [sync.Map](https://golang.org/pkg/sync/#Map) should have better performance:

Should we consider it?

[2019-12-13 13:46] LouisPlisso opened #727 "Cannot upgrade to v0.4.0 because of workqueueMetricsProvider"
Tried to upgrade from v0.3.0 to v0.4.0, resulting in this error:

[code]

Error message is similar to #335

[2019-12-13 13:46] LouisPlisso commented on #727
@DirectXMan12 created this new issue instead of following on the previous one

[2019-12-15 05:57] shawn-hurley commented on #194
This feels like a use case that #244 should also complete. I wonder if we should close in favor? /cc @DirectXMan12

[2019-12-15 05:59] shawn-hurley commented on #612
Another option is to use the `mgr.GetReader()` which will allow you to hit the API server directly with a reader interface.

[2019-12-15 06:04] shawn-hurley commented on #415
/remove-lifecycle stale
/lifecycle frozen

[2019-12-16 12:37] kdada opened #728 "Need some checkpoints of controller runtime"
The workflow of controller manager:

[code]

I want to initialize something after cache ready and before starting runnables. So I need some check points:
[code]

Then I can build global memory cache before starting controllers and webhooks. WDYT?

[2019-12-16 13:52] kdada opened #729 "May leak memory when running controllers"
I just raise a question and does not test it.

For #424.

[code]
In this case, candidate controllers also can receive object events even it does not start.  All events are in controller queue and no customers.

1. It will keep deleted objects(reconcile.Request) in the queue(Of course, this case is not serious )
2. But if users redefine the event with a pointer (or other structs without equivalence

[2019-12-17 01:04] suskin opened #730 "Stopping individual controllers in a manager"
Hi controller-runtime friends! Sorry if this is a dumb question; I'm a bit new to Kubernetes and controller patterns!

I'm experimenting with ways to configure and set up controllers dynamically for user-specified Kinds (as part of the [crossplane project](https://github.com/crossplaneio/crossplane)). I'm interested in stopping a running controller if, for example, the desired Kind no longer exist

[2019-12-17 02:39] kfyharukz commented on #727
Maybe, v0.4.0 depends on k8s 1.16 client libraries.
I could remove the error with the following go.mod.
[code]

[2019-12-17 03:48] maxsmythe commented on #695
Duplicating metrics on restart is also an issue for the Gatekeeper project. We have this bug to track it:

https://github.com/open-policy-agent/gatekeeper/issues/349

[2019-12-17 09:26] LouisPlisso commented on #727
@kfyharukz thanks for the investigation
indeed on k8s 1.16 I don't get the error

I wasn't expecting the bump to 1.16 to  break this

[2019-12-18 13:41] ftyuuu opened #733 "Select leader fail?"
I have a k8s cluster with 3 node, and i deploy my operator by deployment.  And i set
[code]
in my code. And it works ,  operator-c695b8795-2gbtc is the leader of these operator.

[code]

But when i close kubelet in one node (sudo systemctl stop kubelet),

[code]
the logs of operator-c695b8795-74nh8, operator-c695b8795-gks84 and elastic-operator-c695b8795-wjtns are all
`I1218 13:32:25.121465

[2019-12-18 14:11] yanniszark opened #734 "Client initialization doesn't use DynamicRESTMapper by default"
Related to issue: https://github.com/kubernetes-sigs/controller-runtime/issues/321

When using a manager, it uses the DynamicRESTMapper and everything works as expected.
However, when using just the client package, the default RESTMapper is the one from client-go, which caches the discovery endpoint result once and never retries.

I would expect it to use the DynamicRESTMapper by default, unless I

[2019-12-18 18:22] alvaroaleman commented on #733
AFAIK stopping the kubelet does not result in the container getting stopped, hence its keeping the leader lease.

[2019-12-18 19:55] alvaroaleman commented on #724
Maybe by counting them before starting & stopping the manager or a controller, then checking if the count is back at where it was initially?

[2019-12-19 02:55] ftyuuu commented on #733
@alvaroaleman Shocked, thank you for telling me this information!

[2019-12-19 02:55] #733 closed

[2019-12-19 13:16] alvaroaleman commented on #734
Yes, definitely. Want to prepare a pull for that?

[2019-12-19 13:16] yanniszark commented on #734
@alvaroaleman absolutely!

[2019-12-19 16:31] jsravn opened #736 "Updating an Istio VirtualService requires resourceVersion"
I'm managing an Istio `VirtualService` in my controller. However I am unable to update it without manually specifying the resourceVersion. Why is this required when none of the other resources in my controller need it? I'm using kubebuilder and controller-runtime v0.4.0.

[code]

[2019-12-19 22:43] #638 closed

[2019-12-20 19:56] flawedmatrix opened #740 "Listing objects with a label selector that exceeds 63 characters returns non-matching objects and no error"
I was investigating a bug in a controller where the wrong objects were being deleted during reconciliation. Upon closer inspection, it looks like the List() method was returning objects that didn't match the label selector provided, and that this occurs when the label selector exceeds the 63 character limit.

While an error is returned from the API in this case, List() returns all objects of the t

[2019-12-21 04:32] xinlaini opened #741 "InformerCache consistency"
Hello, I have made the following observations that lead me to question the caching consistency behaviors.

Observations:
O1. Start a controller with maxWorkerConcurrency=1, therefore the Reconcile() functions are going to be called serially.
O2. at the end of an earlier invocation of Reconcile(), the CRD's status subresource was updated by populating some NewData (reconciler.Status().Update(...)),

[2019-12-27 19:05] rajathagasthya commented on #740
From a little bit of debugging, I think this is what is happening:

1. `MatchingLabels.ApplyToList` uses apimachinery's `labels.SelectorFromSet` to get a label selector.
https://github.com/kubernetes-sigs/controller-runtime/blob/efbeb2728794b105247bbf27c76a5c4949a73010/pkg/client/options.go#L383-L384
2. `labels.SelectorFromSet` is actually eating up all the validation errors (not sure why) when it

[2019-12-30 15:14] loewenstein opened #745 "Support for controllers spanning across clusters"
We have a use case for a controller responsible for a (custom) resource `A` in one cluster that kind of owns another (custom) resource `B` in another cluster. I say "kind of owns" because there are of course no owner references that span clusters, but it can be imitated with labels and a mapping event handler rather easily.

The problem is that there is no easy way to configure the controller to w

[2019-12-31 15:50] detiber commented on #617
/remove-lifecycle stale

[2020-01-01 19:39] alvaroaleman commented on #745
This is already possible by using multiple managers and injecting the correct cache into `source.Kind`, although this doesn't have tests, hence it's not officially supported, see #650

[2020-01-02 21:32] loewenstein commented on #745
I was made aware of #650 as well (after opening this one).

It describes what is probably the best option currently available. However, as managers drive the lifecycle of controllers (and other parts of the controller-runtime), I would hesitate to call it a solution.

Do you think a multi-cluster setup as first-class citizen of the controller-runtime is a viable and feasible option?

[2020-01-03 01:23] desourav commented on #491
How do I disable webhook altogether?

[2020-01-03 23:26] #509 closed

[2020-01-06 04:18] #416 closed

[2020-01-06 11:34] edwardecook opened #748 "config.loadConfig Breaking Change introduced in 0.4.0"
As part of https://github.com/kubernetes-sigs/controller-runtime/commit/840ac8a2ef0d9bab7e4f721970bda72cae3b2979 there was a switch for the fallback behaviour of `config.loadConfig` (when not specifying via flag, env var or internal config) from identifying the default home directory with `os/user` to the `k8s.io/client-go/util/homedir` package (called via `clientcmd.NewDefaultClientConfigLoadingR

[2020-01-06 21:25] DirectXMan12 commented on #748
Thanks so much for reporting this!

I'll add it to the release notes.  In the mean time, I think this is an unintended regression, and we might want to fix it (although I suspect this brings us in line with what `kubectl` does, so maybe not that bad?)

cc @joelanford who authored that change.

Out of curiosity, what are the cases where `$HOME` isn't set?

[2020-01-06 21:26] DirectXMan12 commented on #748
/kind bug
/priority critical-urgent
/kind regression

[2020-01-06 21:31] DirectXMan12 commented on #748
release notes updated

[2020-01-06 22:01] #614 closed

[2020-01-06 22:05] DirectXMan12 commented on #740
I suspect `SelectorFromSet` assumes a pre-validated set, which we're obv not passing it.  We *could* have `opts` hold an error and then throw that error when doing the fetch, which would allow us to make use of the error-throwing parsing logic.

`SelectorFromSet` needs a godoc comment upstream though -- that's a pretty big footgun.

[2020-01-06 22:08] DirectXMan12 commented on #244
/lifecycle frozen

[2020-01-06 22:12] #734 closed

[2020-01-06 22:16] DirectXMan12 commented on #741
This is intended behavior.  If you want to always set status, you could use a patch operation instead to ignore the resource version.

[2020-01-06 22:16] #741 closed

[2020-01-06 22:19] DirectXMan12 commented on #518
/lifecycle frozen

[2020-01-06 22:25] DirectXMan12 commented on #736
The standard update in Kubernetes is a "conditional update".  In a conditional update, the resource version of the update request is checked to see if it matches the stored resource version.  If it does, the update proceeds.  If not, the update fails.  It's roughly analogous to a `CompareAndSwap` operation.

Some resources *also* allow "unconditional updates", in which resourceVersion is not set o

[2020-01-06 22:25] #736 closed

[2020-01-06 22:32] rajathagasthya commented on #740
I doubt it because there is another function that assumes a pre-validated set: https://github.com/kubernetes/apimachinery/blob/3253b0a30d67e7e362b8615e463156bac729c82f/pkg/labels/selector.go#L893-L894

This one might just be an oversight upstream. Anyway, I created https://github.com/kubernetes/kubernetes/issues/86792 to track it.

[2020-01-06 22:51] DirectXMan12 commented on #695
/help

[2020-01-06 22:53] DirectXMan12 commented on #730
It's not a Weird Thing -- we just didn't design around this use case.  It's come up a couple times though, so I think it's worth digging into.

/help

a design or prototype for this is wanted.  When we fit in context support (replacing the stop channel stuff) a reasonable design might fall out of that.

[2020-01-06 22:53] DirectXMan12 commented on #590
/remove-lifecycle stale

[2020-01-06 22:54] DirectXMan12 commented on #729
I'm not sure I'm following what you're staying here

[2020-01-06 22:57] DirectXMan12 commented on #728
You could always wrap your controller in a separate runnable.  What, exactly, are you trying to accomplish here?

[2020-01-06 22:58] DirectXMan12 commented on #194
yeah, probably.  Closing in favor of #244

[2020-01-06 22:58] #194 closed

[2020-01-06 22:59] DirectXMan12 commented on #726
I'd like to see numbers that verify that such a change would improve things before switching.  A mutex is *often* sufficient.

[2020-01-06 23:02] DirectXMan12 commented on #335
v0.4.0 is intended for use with v1.16.0.  Please try with that.

[2020-01-06 23:30] #665 closed

[2020-01-07 01:56] gaocegege commented on #726
@DirectXMan12 SGTM. I will evaluate it if I have time :-)

[2020-01-07 09:22] abergmeier opened #750 "CreateOrUpdate results in forbidden error"
We try to use `CreateOrUpdate` to keep *Pod*s updated in our Operator.

After filling `runtime.Object`, it returns an error:

[code]

Looking at the tests for `CreateOrUpdate`, it seems like *Pod*s are not actually tested.
So is `CreateOrUpdate` supported for *Pod*s and/or is there any guidance where this error might occur from?

CC @MichaelBrandt4994

[2020-01-07 11:00] edwardecook commented on #748
Cheers for the speedy response!

`$HOME` isn't set when running an external command via the `os/exec` package, for instance `exec.Command(binPath).Start()` which is how we run a controller as part of acceptance testing.

[2020-01-07 22:01] joelanford commented on #748
Good catch @edwardecook!

It seems like a quick fix _could_ be to check if `$HOME` is set, and if not, use the original method to set it, which would then allow the rest of the `clientcmd` code to work as is. Or alternatively, as @DirectXMan12 mentioned, the current implementation is likely more in line with other components that use client-go, so I could see an argument to leave it as is.

Though

[2020-01-07 22:25] DirectXMan12 commented on #750
Yes, createorupdate is supported for pods.  You're probably just not submitting a valid pod.  Namely, something seems to be trying to use SCCs in your cluster, and it sounds like the pod doesn't conform.

[2020-01-07 22:25] #750 closed

[2020-01-07 22:26] DirectXMan12 commented on #748
I'd lean towards detecting if `$HOME` is empty and, if so, falling back to `user.Current`.  I think upstream should *probably* do that too, but that's a story for another day.

[2020-01-08 00:25] DirectXMan12 commented on #617
I'm tempted to lean towards tying this into ignorable errors, because it seems to be another side of the same die, if you will.  There's a few of options there:

1. make ignorable a property you can implement on errors
2. make ignorable a wrapper that we test with `errors.Is` or `errors.As` (not mutually exclusive with option 1)
3. make ignorability configurable via some sort of "error filter" tha

[2020-01-08 01:23] seh commented on #617
I vote for option 2. I wonder, though, if the error is ignorable, why return an error at all? Did something actually fail, or did the reconciler just decide not to do its job it does when all the dependencies are available? I see above that @detiber [mentions](https://github.com/kubernetes-sigs/controller-runtime/issues/617#issuecomment-536608109) needing to return an error.

[2020-01-08 12:06] jsravn commented on #736
Great answer - thanks!

[2020-01-09 10:43] vaibhavk commented on #590
Is it still open as `good-first-issue`?  If so I would like to learn & work on it :)
The script clean-up is merged, except for the `GO111MODULE=on` part.

[2020-01-10 02:34] gerred commented on #607
/assign gerred

[2020-01-10 02:34] gerred commented on #607
/assign danderson

[2020-01-10 02:35] gerred commented on #607
/remove-lifecycle stale

[2020-01-10 02:43] danderson commented on #607
Adding a +1 to this, as discussed on Slack just now.

My use case is within [MetalLB](https://metallb.universe.tf). Before MetalLB can start reconciling objects, it needs to build up some cluster-wide internal state (for example, which LoadBalancer IPs are currently assigned to various services).

The current implementation uses client-go and an internal wrapper library. In c-r terms: on startup,

[2020-01-10 03:16] gerred commented on #607
I'm :+1: to the callback route instead of a flag.

Some questions I have:

* Is Init() intended to be idempotent on a controller restart?
* Is Init() called again after the cache re-sync period? Relates to idempotency, but is subtly different.
* What is the failure mode for these callbacks at the CR level? How does CR let operators/controllers manage callback errors?

[2020-01-10 04:15] danderson commented on #607
Assuming no change to the cluster state, I would say yes. However, I'm not sure there's value in requiring it? Maybe I don't understand what you mean by controller restart, do you mean something other than a whole-process restart?

I don't think so, Init is used to go from "I have no idea about the world" to "I have some mostly-updated idea about the world". From there, re-syncs (and any reconcile

[2020-01-10 04:18] gerred commented on #607
I mean a whole process restart - e.g. is there enough state stored in CRDs where we would expect idempotency. I guess that's up to the operator developer at that point?

[2020-01-10 04:21] danderson commented on #607
For my particular use case right now, I'd expect idempotency. However, I can imagine controllers where that wouldn't be the case, this initialization may rely on external systems.

As a concrete example: a common request I get is to make MetalLB integrate with DHCP servers, to dynamically obtain/release IPs. If I were to support that, during Init I'd be poking the DHCP server for each IP listed as

[2020-01-10 10:28] lulf commented on #244
Here is a more detailed design sketch I'd love to get more feedback on. I have split the requirements in 2 (I use the term 'filter' to mean watch/list filters like namespace, labels, field selector etc.):

1. Ability to create watches with different filters for different GVKs
2. Ability to create watches with different filters for the same GVK

For the first requirement, there is not really any AP

[2020-01-10 19:46] fiunchinho commented on #72
@khuddlefish do you have a public repo to take a look at? I'm interested on using reactors as well (or find a useful workaround).

[2020-01-10 20:14] khuddlefish commented on #72
@fiunchinho Our implementation is not public right now I'm afraid. We might move it out of our internal repo and share it somewhere if we get the time and if there's enough interest. I can share with you a blog post we wrote about our process developing it though. I hope this is a bit helpful http://engineering.pivotal.io/post/gp4k-kubebuilder-tdd/

[2020-01-13 03:20] ifree613 opened #757 "recommended: New customizable eventhandlers for resources"
Q: While observing the resource, the Handler is written dead and wants to be expanded
code: sigs.k8s.io/controller-runtime@v0.3.0/pkg/builder/controller.go:158

[code]

example：

[code]

[2020-01-13 18:22] zhangxiaoyu-zidif opened #758 "client should be refactored after apimachinery update"
here the code should be fixed, when use newly released apimachinery .

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/apiutil/apimachinery.go#L77

ref: https://github.com/kubernetes/apimachinery/commit/4fac835274d8f4a7de6666ac9544f793d2884b84#diff-36a365344dbb512afa6c285353e0d327

[2020-01-14 01:11] DirectXMan12 commented on #758
I'm confused as to what you're suggesting here -- you've linked to a spot which uses the new name.

[2020-01-14 01:15] DirectXMan12 commented on #757
it's not clear what you're asking for here.  We do have a watch method on the builder to allow custom watches.

[2020-01-14 01:22] DirectXMan12 commented on #72
@khuddlefish just as a heads up, the coloring on the syntax highlighting is almost impossible to read for me -- the grey used for the symbols fades into black background.

[2020-01-14 01:37] negz commented on #730
@DirectXMan12 Do you have some context (hurr) for the context support? Is there an issue or design for that?

[2020-01-14 02:26] zhangxiaoyu-zidif commented on #758
because of  this PR https://github.com/kubernetes/kubernetes/pull/79263 is merged, sigs.k8s.io/controller-runtime v0.4.0 does not work.

[2020-01-14 10:21] #342 closed

[2020-01-14 21:00] DirectXMan12 commented on #617
In the case of "ignorable errors", it's about translating "not found" to "decided not to do job until all dependencies are available" automatically.

In this case, it seems like it's about attaching additional information about *why* we're requeuing -- the error says "we didn't actually do what you asked", which is useful for diagnostic and testing purposes (as opposed to "we did what you asked, a

[2020-01-14 21:01] DirectXMan12 commented on #563
I don't think anyone else is working on this atm

/lifecycle frozen

[2020-01-14 21:07] DirectXMan12 commented on #637
/lifecycle frozen

[2020-01-14 21:09] DirectXMan12 commented on #590
I think the last bits of the script cleanup are good-first-issue.  The rest is probably requires a bit of thinking through.  If you're comfortable putting together a plan, etc, then go ahead and take any of the other bullet points as well.

[2020-01-14 21:13] DirectXMan12 commented on #730
I thought we had one, but I can't seem to find it.  Feel free to file a new one.  Basically, we want to eventually replace all of our uses of stop channels with context objects instead.

[2020-01-14 22:02] negz commented on #730
Thanks! Myself (or someone else on Crossplane) may be interested in working on this sometime in the next few weeks. We have a handful of use cases in which we'd like to spin up and down controllers dynamically - e.g. we want to submit CR A, which describes how CRs of kind: B should be reconciled. Let me know if there are any great examples of prior designs (issues? design docs?) that highlight wha

[2020-01-15 07:28] alenkacz commented on #563
cool, I'll take this one...

/assign

[2020-01-16 22:30] loewenstein commented on #650
We are interested to use controller-runtime in a scenario involving multiple api-servers/clusters (see https://github.com/kubernetes-sigs/controller-runtime/issues/745) and this issue looks like a first step towards multi-cluster support.

Is there anything we could do to drive this forward?

[2020-01-20 05:56] tapih opened #764 "UMBRELLA: design and refactor graceful termination"
To shutdown controller gracefully, containers should be terminated after endpoints deletion.

If `time.Sleep(someSeconds)` is added between [these lines](https://github.com/kubernetes-sigs/controller-runtime/blob/45d652077cba5ccc29621e8db615f25084c701cb/pkg/manager/signals/signal.go#L36-L37), applications made with controller runtime can wait for endpoint deletion as default.
What do you think?

[2020-01-20 06:27] alexeldeib commented on #764
See some of the previous discussions about graceful termination:
- https://github.com/kubernetes-sigs/controller-runtime/issues/730
- https://github.com/kubernetes-sigs/controller-runtime/issues/695
- https://github.com/kubernetes-sigs/controller-runtime/issues/350

I think a better approach than sleeping (and one that's been discussed a few times) is properly wiring up all the contexts (well, cur

[2020-01-20 16:48] hoegaarden commented on #676
Code has been moved over, the original repo has been archived, so we can
/close
this issue. Thanks all!

[2020-01-20 16:48] #676 closed

[2020-01-21 03:09] shawn-hurley commented on #244
I like the idea of on-demand delegation, I am worried that implementation is going to get really messy to handle the use cases.

So if the first call to watch is more restrictive then the second case, we will error out?

What does it look like if we try and handle it?

[2020-01-21 04:18] tapih commented on #764
Sorry for my poor explanation.  What I meant to propose is that, by inserting sleep just after the signal handler, we can omit `/bin/sleep` in `preStop` hook of Kubernetes Pods.

When a Pod is shutting down, pod termination and endpoint deletion are executed at the same time.
The problem is that some requests cannot be accepted if the endpoint deletion does not finish while the pod termination fin

[2020-01-21 15:23] detiber opened #768 "Reconsider deprecation of pkg/client/fake"
Currently `pkg/client/fake` is marked as Deprecated and that `pkg/envtest` should be used for all testing by v1.0.0, however there are use cases where `envtest` is not a proper replacement for the fake client.

For example, if using Test Driven Development(TDD) to build functionality with a controller-runtime based controller it is quite painful to debug issues with the controller implementation.

[2020-01-21 15:24] detiber commented on #768
/assign @DirectXMan12
/cc @ncdc @vincepri

[2020-01-21 18:52] detiber commented on #650
/remove-lifecycle stale

[2020-01-21 20:17] detiber commented on #617
I'm not sure I like the terminology "ignorable error", but the behavior would indeed fit our use case.

The main thing we'd like to accomplish is a way to say that reconciliation wasn't completed (generally due to waiting on some dependency), but not to force a requeue since we would already have a watch registered for the resource(s) involved.

I think both option 1 and 2 would fit our needs well

[2020-01-22 15:08] detiber commented on #768
As an aside, I'm happy to sign up to help maintain and support the fake client if it is a matter of needing someone to do so.

[2020-01-22 15:22] alenkacz opened #770 "envtest_test should properly cleanup CRDs"
Right now these tests are flaking https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_controller-runtime/761/pull-controller-runtime-test/1219667574300610562/build-log.txt because the crds are not properly cleaned up - also a wait for CRD to be removed needs to be introduced as calling `client.Delete` does not guarantee CRD being deleted - that happens asynchronously.

[2020-01-22 15:22] alenkacz commented on #770
/assign

[2020-01-22 16:31] sebgl commented on #768
For what it's worth we rely *a lot* on the fake client in https://github.com/elastic/cloud-on-k8s.

With a quick and dirty `grep` in the codebase, I can count 162 initializations of the fake client in our unit tests, that we aim to run very quickly (a few seconds) - and in parallel.

Doing the same by spawning a local apiserver + etcd env test would make running unit tests much longer and unreliab

[2020-01-22 18:37] DirectXMan12 commented on #617
Sure, of course :-)  If you have ideas, lmk

[2020-01-22 18:39] DirectXMan12 commented on #650
Mainly just figure out which option looks the best here with a little proposal (nothing super long, just like a paragraph in this issue) and then implement it ;-)

[2020-01-22 18:41] lulf commented on #244
The alternatives I can think of are:

* Return error. Easy but maybe it feels a bit restrictive.
* Duplicate cache, potentially returning a client handle to avoid looking up in the wrong cache. Removes the restrictive handling, but at the expense of multiple caches.
* Create new informer for the less restricted watch, and modify the first watch to use predicates on the new informer. I think this c

[2020-01-22 18:44] detiber commented on #617
If discussing a property of an Error, maybe something to the effect of 'do not requeue'. I'm not a huge fan of the negative, but it would help for the purposes of defaulting.

For a test wrapper maybe `ShouldRequeue`?

[2020-01-22 19:46] DirectXMan12 commented on #617
sure, seems reasonable

[2020-01-22 20:00] DirectXMan12 commented on #768
We talked about this a bit at the in-person meeting @ kubecon.  The notes are [on the kuebuilder ML for reference](https://groups.google.com/g/kubebuilder/c/ItMwX9tmprs).

TL;DR:

- It needs to be audited for shortcomings compared to a real client, and those need to be well documented
- It needs clearer documentation on what it should and shouldn't be -- where do we draw the line and say "use a re

[2020-01-22 20:02] DirectXMan12 commented on #601
/lifecycle frozen

[2020-01-22 20:07] DirectXMan12 commented on #610
/remove-lifecycle rotten

[2020-01-22 21:22] vincepri commented on #537
/lifecycle frozen
/assign @guymguym

[2020-01-23 01:38] dsharp-pivotal commented on #768
It sounds like you are reconsidering deprecating fakeClient, which is great. But we wanted to put on the record why fakeClient is important to us.

Removal of fakeClient would be very disruptive to our team (Greenplum for Kubernetes). We do extensive test driven development, and currently have 108 test cases that use either `pkg/client/fake` or the similar `client-go` fakes (for our older controll

[2020-01-23 02:34] kensipe commented on #770
I would love to help or review... let me know if that makes sense.   nice work on flake detection!   Looking forward to wait for removal functionality!

[2020-01-23 09:50] alenkacz commented on #770
yesterday a PR got in that actually solved this I believe - by this change https://github.com/kubernetes-sigs/controller-runtime/pull/752/files#diff-03f49697936ebe8ffef506b52d231b89R73

[2020-01-23 09:50] #770 closed

[2020-01-23 14:11] vincepri commented on #770
Ah yes, I did run into this, sorry if I didn't see this issue beforehand!

[2020-01-23 14:55] bofm opened #778 "question: controller watch with a label selector"
Is there any way to pass corev1.listOption{labelSelector=...} to Controller, Manager and their underlying Informers?

[2020-01-24 14:39] mazzy89 opened #780 "Is the webhook example still valid?"
I'm trying to follow this example and building my webhook https://github.com/kubernetes-sigs/controller-runtime/blob/master/examples/builtins/validatingwebhook.go

However, having this webhook it does not work

[code]

I get this error:

[code]

The only difference with the example is that the struct there `podValidator` is private while I have it public.

[2020-01-24 17:03] vincepri commented on #778
I don't think that's possible today, the only way you can filter on labels is to use a map function and filter on those labels

[2020-01-24 17:04] vincepri commented on #778
/priority awaiting-more-evidence

[2020-01-24 17:28] bofm commented on #778
The possibility of passing ListOptions down to the Informers would help in cases when it is required to limit the scope of the controller to a subset of resources of a specified kind. For example, to only watch and reconcile Pods with label selector "env=test".

[2020-01-24 17:33] vincepri commented on #778
Yeah that makes sense, although it should be pretty easy to do this in the Reconcile code, or have some building blocks on top of controller runtime.

[2020-01-24 17:36] bofm commented on #778
The API server would have to execute queries and send events which would be ignored by the controller.

[2020-01-24 19:21] loewenstein commented on #778
I think this is a duplicate of https://github.com/kubernetes-sigs/controller-runtime/issues/244

[2020-01-26 14:47] alvaroaleman commented on #607
@danderson So your issue is only about being notified about a synced cache before any reconciliation started? If I understand the issue correctly, this also implies that this "Init code" has to finish executing before reconciliation is attempted?

If the above is correct, would it be possible to use the `APIReader` within the `Add` function of your controller?

[2020-01-26 15:59] mazzy89 commented on #780
Solved this by following the exact implementation of the `defaulter` and `validator`.

[code]

[2020-01-28 23:18] alvaroaleman commented on #244
@lulf The tricky part here is not so much how exactly we change the cache, its mostly about finding a good solution for the cache reading client to determine which cache to use, see https://github.com/kubernetes-sigs/controller-runtime/issues/244#issuecomment-451336202

Apart from the options Solly outlined, I also suggested this:

I personally would like to see a gdoc that outlines the ideas we h

[2020-01-28 23:39] alvaroaleman commented on #650
I am in favor of just documenting and testing the current approach, the two other options are IMHO inferior:

This would extend the API needlessly.

This would extend the API needlessly _and_ be super confusing in our code, because the new `KindInOtherCluster` would need a public method to set the cache that must not be an implementation of `InjectCache`.

Godoc change for the first option could l

[2020-02-01 13:49] alenkacz opened #788 "Secure serving support"
Support secure serving in api server (build on top of PoC in #645 )

cc. @DirectXMan12

[2020-02-01 13:49] alenkacz commented on #788
/assign

[2020-02-03 12:17] c0d1ngm0nk3y commented on #650
@alvaroaleman How about a more explicit solution than "just" documenting the behaviour. How about a wrapper similar to f7d3056 (just a quick first draft). I think it is not possible to use this wrapper in a wrong way and we don't rely on the current undocumented behaviour of `InjectCache`.

[code]

@DirectXMan12  What do you think of this?

[2020-02-03 12:23] alvaroaleman commented on #650
Sounds good to me as well. I am mostly concerned about the question if this will be intuitive, because  in the local cluster case the source is called `Kind`, in the other cluster case its called `SourceWithFixedCache`. Maybe `KindWithFixedCache` would be better?

Well, the missing documentation can be added :)

I do not have a strong opinion on either of the two, but having anything that is offic

[2020-02-03 23:34] vincepri commented on #532
/lifecycle frozen

[2020-02-03 23:35] vincepri commented on #656
/lifecycle awaiting-more-evidence

[2020-02-04 02:32] vincepri commented on #594
/lifecycle frozen

[2020-02-04 08:38] alenkacz commented on #644
/remove-lifecycle stale

/assign

[2020-02-05 21:55] #445 closed

[2020-02-06 19:05] DirectXMan12 commented on #650
The more explicit type I think seems slightly better to me

[2020-02-06 19:16] detiber commented on #650
+1 for more explicit, The implicit method is harder to rationalize about without understanding the implementation.

[2020-02-06 22:35] mengqiy commented on #780
public vs private should not matter here.
I'm not able to reproduce the issue using the code in https://github.com/kubernetes-sigs/controller-runtime/issues/780#issue-554773367.

If you are using CRD, why not using the `Defaulter` and the `Validator` interfaces?

[2020-02-06 22:41] mazzy89 commented on #780
I needed to use the client and I could not see any way to use it via the defaulter or the validator

[2020-02-07 14:56] #490 closed

[2020-02-09 16:09] hypnoglow commented on #724
Is there anything else to be done here? The PR is merged so I believe the issue can be closed.

[2020-02-11 15:03] steveQuadros commented on #768
Similarly my team has test coverage metrics that need to be hit, often times getting over that hump means covering a few lines that handle errors on `client.List`, `client.Get`, etc. These are generally impossible to test with `testenv` as far as I can see (since we can't manually send a request to reconcile for a `Get` failure to reconcile; we can't test our error handling). This would be very he

[2020-02-12 22:20] #748 closed

[2020-02-13 20:36] ekuefler opened #797 "Reconciler panics should not crash the manager"
Currently, an unhandled panic in a reconciler will not be recovered from, and will likely cause the manager binary to crash. This is a problem, since a panic might be triggered by a single resource in an unexpected state, so that one bad resource could prevent all other resources from being processed. Since Kubernetes is likely to restart the manager pod after a crash, this can also cause the mana

[2020-02-13 20:40] ekuefler opened #798 "Support global timeouts for reconcilers"
I ran into an issue today where one of my reconcilers was unexpectedly deadlocking on a particular resource. This appeared to halt on processing of that reconciler for other resources, essentially freezing the system until I restarted the manager binary (where it would eventually freeze again when it got to the bad resource).

It would be nice if I could configure a timeout that would apply to all

[2020-02-13 20:40] christopherhein commented on #518
@DirectXMan12 @johnsonj @stealthybox I'm interested in looking into what this might take, has anyone made any progress or have thoughts about this?

Loosely looking through the codebase it seems like we could make it so that `controller-runtime.Manager` could support a separate `New` function specifically for pulling in ComponentConfig type resources. We could make this and interface for which the

[2020-02-13 23:24] #603 closed

[2020-02-14 07:53] fengzixu commented on #705
/assign @fengzixu

[2020-02-15 09:07] answer1991 commented on #729
@kdada

commit [#0fdf465bc21be27b20c5b480a1aced84a3347d43](https://github.com/kubernetes-sigs/controller-runtime/commit/0fdf465bc21be27b20c5b480a1aced84a3347d43) fixed your issue

[2020-02-15 09:55] alvaroaleman commented on #797
Yeah, this would be great to have :)

[2020-02-15 15:31] vincepri commented on #798
The idea of a global timeout is definitely interesting and we can probably make it opt-in. I've seen these kinds of situations when the resources weren't enough, most common is deployments with less than 2-3 CPUs allocated.

[2020-02-15 15:34] vincepri opened #801 "Reconcile methods should take a context and logger"
We can have different solutions to this issue, but it's going to be indeed a breaking change.

A few ideas to discuss:
- Add two parameters to Reconcile, one for context, one for logger. (Simple solution, quick to implement).
- Create a new Context type in controller-runtime and expand it for our own use cases (More complicated, needs a design document / proposal).
   - Importable using `ctrl.Cont

[2020-02-15 15:46] vincepri commented on #729
/priority awaiting-more-evidence

[2020-02-16 01:21] ekuefler commented on #798
Sounds good. My particular situation wasn't related to starving the CPU. I have a resource representing an external server that I need to do TCP health checks on. I'd failed to call [SetDeadline](https://golang.org/pkg/net/#IPConn.SetDeadline) on my connection, so when I got a server that responded to the connect request but failed to write back any data, the reconciler would block indefinitely on

[2020-02-17 07:39] alvaroaleman commented on #801
@vincepri This sounds like it's already part of a solution, could you elaborate a bit on the problem/use case?
Also:
* How should the controller construct the context, should it have e. G. a timeout or do you just want to have any context?
* Same for the logger, should it have any fields preconfigured?
* How do we handle ppl wanting to use their own loggers?

As an implementation detail comment, t

[2020-02-17 08:21] #650 closed

[2020-02-17 17:45] vincepri commented on #801
Was planning on discussing at the next community meeting, the main use case is to ease adoption and reduce boilerplate. If we look at a sample of controller-runtime implementations, pretty much all of them define a logger and context at the very top of the function.

There is another issue around a global timeout (#798), which could be useful in this case. In alternative, we can start with a simpl

[2020-02-17 23:02] amila-ku commented on #680
/assign

[2020-02-18 07:12] qibobo opened #803 "who calls the function in metrics/workqueue.go ?"
In https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/metrics/workqueue.go,
there are some functions in workqueueMetricsProvider, such as NewDepthMetric, NewAddsMetric. But I could not find where these functions are called? Is there an example for it?

[2020-02-18 18:02] stealthybox commented on #518
Thanks @christopherhein

I suppose then that the top-level `ControllerNameConfiguration` type would then implement this interface.
Would you then use the getters and setters everywhere?

If I recall and understand you correctly, this interface is a way to prevent breaking changes with the existing config structs.
Are there other advantages of this interface?

@DirectXMan12, is backwards compatibil

[2020-02-18 20:45] christopherhein commented on #518
Yes, @stealthybox, the idea would be we could base scaffold, similar to deepcopy funcs, the entire object getters and setters using the object, they would end up being the `kubebuilder` implementation.

The main advantage is we would be able to have controller specific configuration structs, controller designers could implement the api of those object how ever they saw fit, but it gives a starting

[2020-02-18 21:10] vincepri commented on #801
/milestone breaking-next

[2020-02-18 21:21] alvaroaleman commented on #803
@qibobo They are passed into the workqueue package here: https://github.com/kubernetes-sigs/controller-runtime/blob/37a5c612641a38e099bd4dacf9f45c58067d4548/pkg/metrics/workqueue.go#L32

There they:
* Are set as the metrics provider: https://github.com/kubernetes/client-go/blob/9346d688810d23f933041c41e8650967d639be76/util/workqueue/metrics.go#L260
* Used to create new metrics: https://github.com/

[2020-02-18 22:02] apelisse commented on #347
[code]

The big problem we have with that is that Server-Side Apply cares about the difference between fields set at zero-value and fields that are not set. I'm assuming this won't work :-/

[2020-02-19 01:14] qibobo commented on #803
@alvaroaleman
thank you.

[2020-02-19 01:14] #803 closed

[2020-02-19 17:22] rajathagasthya commented on #797
Something like apimachinery's `HandleCrash` function would also work if we plug it in the right place: https://github.com/kubernetes/apimachinery/blob/3253b0a30d67e7e362b8615e463156bac729c82f/pkg/util/runtime/runtime.go#L45

[2020-02-20 07:19] yuxiangqian opened #804 "DynamicRestMapper dose not cancel previous rate.Reservation when rate limiter returns non-zero delay?"
Ran into an issue today while creating hundreds of resources within short period of time, DynamicRestMapper kept returning ErrRateLimited from Create call, and even if I put time.Sleep into the code with the returned duration from [DelayIfRateLimited](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/client/apiutil/dynamicrestmapper.go#L46), the situation persists.
Did some dig

[2020-02-20 07:19] yuxiangqian commented on #804
/kind bug

[2020-02-20 15:30] vincepri commented on #804
Could you submit a PR with a test case for this behavior?

/priority awaiting-more-evidence

[2020-02-20 17:14] rajathagasthya opened #806 "Add nil check when applying variadic client options"
All of the `Create`, `List`, `Update` and `Delete` client methods are variadic in that it takes any number of options. For example:

[code]

It's too easy to pass `nil` as the last argument for these methods and then it blows up with a NPE in `ApplyOptions` method. Example: https://github.com/kubernetes-sigs/controller-runtime/blob/19e72eb88faf07f1ab7f3dd7f951bc6ae85c8d9c/pkg/client/options.go#L14

[2020-02-20 18:09] vincepri commented on #41
/help
/assign @alexeldeib

/priority awaiting-more-evidence
might or might not be fixed by #663

[2020-02-20 18:14] vincepri commented on #70
/milestone v0.5.x

/assign @alvaroaleman
/kind design
feature should have a spec design before implementation

[2020-02-20 18:15] vincepri commented on #70
/help

[2020-02-20 18:16] vincepri commented on #172
/kind design

[2020-02-20 18:20] vincepri commented on #518
/kind design

/assign @christopherhein
to open a PR with a design document

[2020-02-20 18:21] vincepri opened #807 "Proposals folder and template"
/assign

[2020-02-20 18:22] alexeldeib commented on #41
#663 fixes the cache semantics, but the unstructured client doesn't plumb through context. We can either track that here or in a separate issue, since there's already so many around context. I can start working on plumbing the context for the unstructured client.

[2020-02-20 18:22] vincepri commented on #207
Closing, superseded by #518 and friends

/close

[2020-02-20 18:22] #207 closed

[2020-02-20 18:23] vincepri commented on #209
/help

[2020-02-20 18:25] vincepri commented on #210
Might be related / superseded by #305

/priority backlog

[2020-02-20 18:28] vincepri commented on #244
/kind design

@lulf Would you be able to open a PR against controller-runtime with a design document?

[2020-02-20 18:29] vincepri commented on #258
/priority awaiting-more-evidence

[2020-02-20 18:29] vincepri commented on #262
grep in our codebase to find the metrics we expose and document them

/good-first-issue

[2020-02-20 18:30] alvaroaleman commented on #210
A backwards-compatible approach to capture metrics from both controller-runtimes registry and prometheus default registry would be to combine them via [the prometheus `Gatherers`](https://godoc.org/github.com/prometheus/client_golang/prometheus#Gatherers)

[2020-02-20 18:31] vincepri commented on #265
/help
/priority backlog
/kind documentation

[2020-02-20 18:32] djzager commented on #262
/assign

[2020-02-20 18:34] vincepri commented on #305
@grantr are you still interested in working on this?

/lifecycle frozen

[2020-02-20 18:37] vincepri commented on #347
/help

Initially we want to focus on a non-breaking change for v0.5.x, in the future as we learn from use cases we can put in Client.

[2020-02-20 18:39] vincepri commented on #350
Closing in favor of #764

/close

[2020-02-20 18:39] #350 closed

[2020-02-20 18:39] vincepri commented on #730
Closing in favor of #764

/close

[2020-02-20 18:39] alvaroaleman commented on #70
I believe a predicate would not solve the problem, because the object can get deleted while its in the workqueue, so ppl would still have to have the check if the object exists by the time  their `Reconcile` get called.

[2020-02-20 18:39] #730 closed

[2020-02-20 18:40] vincepri commented on #695
Closing in favor of #764

/close

[2020-02-20 18:40] #695 closed

[2020-02-20 18:41] vincepri commented on #764
/kind design

We'd need a design document in form of PR to the controller-runtime repository.

/help
/priority important-soon

[2020-02-20 18:45] vincepri commented on #362
/priority awaiting-more-evidence

From backlog grooming: this issue needs to be triaged again, if it's not reproducible let's close it. In general, controller-runtime might not be the best place for a fix.

[2020-02-20 18:47] vincepri commented on #364
/help

[2020-02-20 18:48] vincepri commented on #377
Closing in favor of #617

/close

[2020-02-20 18:48] #377 closed

[2020-02-20 18:49] vincepri commented on #617
/kind design
/help

[2020-02-20 18:49] vincepri commented on #617
/priority important-longterm

[2020-02-20 18:52] vincepri commented on #386
/help
/good-first-issue
/priority backlog

[2020-02-20 18:54] vincepri commented on #415
/priority awaiting-more-evidence
/help

We might need a spike to understand what we learned from #468.

[2020-02-20 18:56] vincepri commented on #417
Closing in favor of #617

/close

[2020-02-20 18:56] #417 closed

[2020-02-20 18:56] djzager opened #808 "Document ways to trigger/not trigger exponential backoff"
Related to #617

As a user of controller-runtime, it is not immediately clear what returns from a `Reconcile()` will force a requeue with (or without) an exponential backoff. Some quick examples:

[code]

[2020-02-20 18:58] vincepri commented on #429
Closing in favor of https://github.com/kubernetes-sigs/controller-runtime/issues/764

/close

[2020-02-20 18:58] #429 closed

[2020-02-20 19:00] vincepri commented on #452
/help

[2020-02-20 19:00] vincepri commented on #452
/kind design

[2020-02-20 19:03] djzager commented on #808
/kind documentation

[2020-02-20 19:25] seh commented on #764
Presumably the duration to sleep there would need to be configurable, with zero meaning not to sleep at all. But sleeping like this is a brittle cover for the lack of proper coordination. The chosen duration always turns out to be wrong.

[2020-02-20 19:32] alexeldeib commented on #764
Based on the discussion today I think ideally we see one design sweep out all of the related context issues:
- dynamically adding/removing controllers
- stopping the manager and gracefully waiting for termination
- replacing stop channels with context everywhere (maybe?)

if the manager and all dependencies respect context behavior properly, the ask here becomes a matter of usage -- wire up your s

[2020-02-20 19:44] djzager commented on #808
I see mentions of backoff in https://github.com/kubernetes-sigs/controller-runtime/blob/40070e2a1958c3d974ba95da883a2bd088137789/pkg/internal/controller/controller_test.go#L352-L354

I think the two potential landing spots for documenting the requeue/backoff behavior would be:

1. in the godoc for controller-runtime (either in the controller directly or in workqueue?)
1. in the kubebuilder book (m

[2020-02-20 19:48] vincepri commented on #808
/priority important-longterm
/help

[2020-02-20 19:52] grantr commented on #305
I think it's still valuable, but I don't have bandwidth to work on it. https://github.com/kubernetes-sigs/controller-runtime/pull/368 is the final state of my attempt.

[2020-02-20 20:30] negz commented on #764
It seems a small handful of issues around stopping managers and controllers (including #730, which I am fairly invested in) just got deduplicated into this one. Could we consider renaming this issue to reflect the scope? Perhaps a new issue is warranted to track all of this? The title (and to some extent content) of this issue don't immediately reflect the scope it seems to have taken on.

[2020-02-20 20:42] vincepri commented on #764
@negz fair point! re-titled this issue, let me know if you have further feedback

[2020-02-20 20:43] ncdc opened #810 "Unable to conversion-gen conversions that require a conversion.Scope"
Some functions autogenerated by conversion-gen produce code that looks like this:

[code]

The "inefficient conversion" can happen in a few different situations; in this case, it's because `SomeField` is a struct that lives in a package outside of the one where I'm generating conversions. Due to https://github.com/kubernetes/code-generator/issues/94 (assuming there isn't a workaround), even if the

[2020-02-20 20:45] mhrivnak commented on #617
Returning an error from a Reconciler seems to have limited value. It's hard to know what to do in response that's useful. I think we should consider changing the Reconciler interface so that it does not return an error at all.

When a Reconciler returns an error, [three things happen](https://github.com/kubernetes-sigs/controller-runtime/blob/0fdf465/pkg/internal/controller/controller.go#L257-L258

[2020-02-20 21:25] detiber commented on #617
I like @mhrivnak's proposal, however if we go down that path, it would be nice if there was a way in the result to distinguish between:
- requeue immediately
- requeue after a set period of time
- requeue with backoff (preferably where the backoff can be customized when instantiating the reconciler)

I'd rather not have to attempt to bolt on some type of backoff mechanism on top of the current res

[2020-02-20 21:35] mhrivnak commented on #617
Agreed. It seems that right now, setting `Requeue: true` always uses a backoff (am I reading that correctly?), but I suspect that's often not what people want or expect. Perhaps most controllers don't requeue so many times in a row that the backoff gets noticed.

[2020-02-21 06:39] #729 closed

[2020-02-21 16:24] vincepri commented on #807
/assign @christopherhein
/priority important-soon
/kind documentation

[2020-02-21 16:24] vincepri commented on #806
/kind cleanup
/milestone v0.5.x
/help
/good-first-issue
/priority backlog

[2020-02-21 16:26] vincepri commented on #726
/priority awaiting-more-evidence
/milestone Next
/kind cleanup

[2020-02-21 16:27] vincepri commented on #728
/priority awaiting-more-evidence
/milestone Next

[2020-02-21 16:28] vincepri commented on #686
/priority awaiting-more-evidence
/milestone Next

[2020-02-21 16:28] vincepri commented on #778
Closing in favor of https://github.com/kubernetes-sigs/controller-runtime/issues/244

/close

[2020-02-21 16:28] #778 closed

[2020-02-21 16:29] vincepri commented on #724
Closing given that #738 has been merged

/close

[2020-02-21 16:29] #724 closed

[2020-02-21 16:30] vincepri commented on #455
/kind design
/milestone Next

[2020-02-21 16:30] vincepri commented on #455
/priority backlog

[2020-02-21 16:53] alexeldeib commented on #617
I like this idea! As a small side note, I don't think you get backoff while using RequeueAfter even if Requeue is true (in the non-error case).

[2020-02-21 17:05] vincepri commented on #456
Add some helper utilities (example: https://github.com/kubernetes-sigs/cluster-api/blob/master/util/conversion/conversion.go#L133-L157) to controller-runtime

/priority backlog
/help

[2020-02-21 17:06] vincepri commented on #460
/help

[2020-02-21 17:07] vincepri commented on #492
/help

[2020-02-21 17:08] vincepri commented on #501
/priority backlog

[2020-02-21 17:09] vincepri commented on #524
/priority awaiting-more-evidence
/help

[2020-02-21 17:11] vincepri commented on #532
/help
/kind design
/priority important-longterm

We'll need to provide a new method called something like `ListPages` that can be given a function

[2020-02-21 17:12] vincepri commented on #537
/priority important-longterm

[2020-02-21 17:13] vincepri commented on #546
/help

Need to mostly add documentation.

[2020-02-21 17:15] vincepri commented on #548
/close

[2020-02-21 17:15] #548 closed

[2020-02-21 17:15] vincepri commented on #548
See https://github.com/kubernetes/kubernetes/issues/80877 upstream issue for more information

[2020-02-21 17:16] vincepri commented on #562
/assign @djzager

[2020-02-21 17:17] vincepri commented on #562
/lifecycle active
/priority important-soon

[2020-02-21 17:17] djzager commented on #562
/assign

[2020-02-21 17:17] vincepri commented on #563
/lifecycle active

[2020-02-21 17:19] vincepri commented on #572
/assign @mszostok
/lifecycle active

[2020-02-21 17:20] vincepri commented on #590
/assign

[2020-02-21 17:21] vincepri commented on #594
/help
/priority awaiting-more-evidence

[2020-02-21 17:23] vincepri commented on #607
/kind design
/milestone Next
/help

[2020-02-21 17:24] vincepri commented on #612
/kind design
/priority awaiting-more-evidence

[2020-02-21 17:25] vincepri commented on #631
/kind design

[2020-02-21 17:25] vincepri commented on #637
/help
/kind design

[2020-02-21 17:26] vincepri commented on #644
/kind design

[2020-02-21 17:27] vincepri commented on #654
/priority awaiting-more-evidence
/help

[2020-02-21 17:28] vincepri commented on #656
/assign @alvaroaleman

[2020-02-21 17:28] vincepri commented on #657
/help
/priority backlog

[2020-02-21 17:30] vincepri commented on #671
/priority awaiting-more-evidence
/help

[2020-02-21 17:31] vincepri commented on #673
/lifecycle frozen

[2020-02-21 17:31] vincepri commented on #673
/help

[2020-02-21 17:32] vincepri commented on #680
/kind design
/priority awaiting-more-evidence

[2020-02-21 17:32] vincepri commented on #684
/help

[2020-02-21 17:33] vincepri commented on #688
/priority awaiting-more-evidence
/milestone Next

[2020-02-21 17:36] vincepri commented on #717
/close

This was fixed in v0.5.0, feel free to reopen if necessary

[2020-02-21 17:36] #717 closed

[2020-02-21 17:38] vincepri commented on #723
/help

[2020-02-21 17:40] vincepri commented on #740
/priority awaiting-more-evidence
/help

Might need more investigation around the issue reported upstream. The issue might not be fixed in controller-runtime.

[2020-02-21 17:40] vincepri commented on #745
/kind design
/help

[2020-02-21 17:41] ncdc commented on #723
@vincepri I'm still interested in working on this. Do you have thoughts on my question above?

[2020-02-21 17:41] vincepri commented on #757
Closing for lack of details, feel free to reopen if necessary

/close

[2020-02-21 17:41] #757 closed

[2020-02-21 17:42] vincepri commented on #758
Closing this for inactivity, feel free to reopen if necessary.

/close

[2020-02-21 17:42] #758 closed

[2020-02-21 17:46] vincepri commented on #768
/kind design

We're holding off deprecating the fake client for the time being. We'll need design documents and folks that can maintain the client going forward.

[2020-02-21 17:46] vincepri commented on #768
/priority important-longterm

[2020-02-21 17:47] vincepri commented on #780
/priority awaiting-more-evidence

[2020-02-21 17:48] vincepri commented on #788
/help
/priority important-soon

[2020-02-21 17:50] vincepri commented on #797
We can revisit the milestone if the design doesn't have breaking changes. Folks might be relying on panics to detect failures today.

/priority important-soon
/help
/kind design

[2020-02-21 17:50] vincepri commented on #798
/priority important-soon
/kind design
/help

[2020-02-21 17:51] vincepri commented on #801
/kind design
/priority important-longterm
/help

[2020-02-21 17:52] vincepri commented on #804
/help

[2020-02-21 17:54] vincepri commented on #810
/priority awaiting-more-evidence
/help

[2020-02-21 18:28] vincepri commented on #723
I'd start simple and hardcode the Readyz checks for now, we can provide a flag later. This should also be backward compatible

[2020-02-21 18:35] ncdc commented on #723
Define backward compat here?

[2020-02-21 18:37] vincepri commented on #723
As in, adding new endpoints for readiness is additive and doesn't impact the current behaviors of the webhook server

[2020-02-21 18:37] phoracek commented on #723
Just curious, what is this supposed to on top of #419 ? Just to use the probe by default? It seems fairly simple to add a readiness probe in the current state of the controller-runtime.

[2020-02-21 18:38] ncdc commented on #723
This would just be exposing checks that people could configure in their pods. Not sure there's any compat issues or impacts.

@phoracek please see the description above for the rationale.

[2020-02-21 19:05] kensipe commented on #501
@DirectXMan12 @vincepri  I think this is resolved.   https://github.com/kubernetes-sigs/controller-runtime/pull/773 updated linters... included with that is `golint` which enables godoc checking.

[2020-02-21 19:19] vincepri commented on #501
I don't think golint is enough to have godoc comments. It appears that golangci-lint has default exclusions. To re-enable godoc errors we'll need to add:

[code]

to `.golangci.yml`

[2020-02-21 19:26] boddumanohar commented on #806
@rajathagasthya its not possible to pass nil as a last argument to variadic function

[code]
https://play.golang.org/p/8iOacL4kOvX

this example will throw an error.
[code]

[2020-02-21 19:34] rajathagasthya commented on #806
@boddumanohar `CreateOption` (and its variants) are interfaces, so it's possible to pass `nil` here.

[2020-02-21 20:20] kensipe commented on #501
perhaps I misunderstood based on my reading of https://github.com/golangci/golangci-lint/issues/456

I'll look into it

[2020-02-23 11:33] boddumanohar commented on #806
created a PR for this.

[2020-02-23 13:33] alvaroaleman commented on #806
Repeating my comment from the PR in #813 , IMHO we shouldn't be doing this:

Actually stop, I don't think we should be doing this, because methods of a nullpointer are still callable and we have a couple of examples where this works without issue, e.G. `MatchingLabels`, `HasLabels`, `MatchingFields`. Those examples here are a no-op if nil, but there could be examples out there where this is not th

[2020-02-24 06:19] withlin commented on #780
yeah. it does not work. ref[kubebuilder#1228](https://github.com/kubernetes-sigs/kubebuilder/issues/1228)

[2020-02-24 06:55] alexeldeib commented on #780
See the response to that issue https://github.com/kubernetes-sigs/kubebuilder/issues/1228#issuecomment-562347631

I just tested the the example checked into controller-runtime master, it works fine. Is there a more specific question you have? Or a repro for a scenario you expect to work?

[2020-02-24 15:44] #386 closed

[2020-02-24 19:18] GrigoriyMikhalkin commented on #798
I'm little bit confused, what this issue is about. You want some timeout mechanism that would terminate reconciler automatically(i.e. without user handling this termination in reconciliation logic)?

[2020-02-25 01:17] #807 closed

[2020-02-25 06:09] qibobo opened #817 "The reflector metrics is empty."
In client_go_adapter.go, restclient and reflector metrics are registered as the following:
[code]
When I import this go package, there are restclient metrics, but there is no reflector metric.
I have checked the client-go repo and found seem no one calls metricsFactory.

My question is that does reflector enable by default or it need some extra steps to enble?

https://github.com/kubernetes/client

[2020-02-25 17:37] akutz opened #820 "Update the controller-runtime's landing page to describe project scope/hello-world example"
I think it would be useful for the controller-runtime landing page to include the scope/use cases for the project as well as a simple "hello world" controller that someone can create with the project.

@vincepri did mention that [kubebuilder](https://book.kubebuilder.io) is the front-facing component for controller-runtime, so if nothing else perhaps that should be something mentioned front and ce

[2020-02-25 17:37] akutz commented on #820
/kind documentation

[2020-02-25 17:38] akutz commented on #820
/kind documentation

[2020-02-25 19:35] sophieliu15 opened #822 "Unable to get an object of a custom resource using the default client outside Reconcile() method"
I am trying to get an object of a custom resource that I defined outside of Reconcile() using the default client provided by the manager. I notice that even the object exists in the cluster, the client will return an error saying the object is not found. However, the client works as expected (i.e., can find the object) when I call it in the Reconcile() method. I am wondering what might be the caus

[2020-02-25 19:35] sophieliu15 commented on #822
/help

[2020-02-25 20:25] hypnoglow commented on #673
Hi,

Could you please guide how we want this to be implemented?

Would something like this suffice?

[code]

[2020-02-25 21:01] djzager commented on #817
I may be missing something. But as I see it, the `registerReflectorMetrics()` function is the one calling `SetReflectorMetricsProvider` of the cache pkg from controller-runtime.

Based on my reading of https://book.kubebuilder.io/reference/metrics.html I would think that you would get reflector metrics for free without having to take extra steps.

[2020-02-25 21:21] hypnoglow commented on #684
/assign

[2020-02-25 21:27] vincepri commented on #822
What is the error message you're getting?

When `SetupWithManager` is called, the manager/client hasn't started yet and this could cause issues.

[2020-02-25 21:27] djzager commented on #822
Looking at the [What's In a Controller](https://book.kubebuilder.io/cronjob-tutorial/controller-overview.html?highlight=cache#whats-in-a-controller):

What you are likely running into is trying to `Get` things from the cache when they haven't been populated yet.

[2020-02-25 21:31] djzager commented on #822
The times that I have needed to create something outside of `Reconcile()` I simply did the create and, if `err != nil` checked the error [`errors.IsAlreadyExistsError(err)`](https://godoc.org/k8s.io/apimachinery/pkg/api/errors#IsAlreadyExists).

[2020-02-25 21:32] djzager commented on #820
/assign

[2020-02-25 22:20] sophieliu15 commented on #822
@vincepri I am getting errors.IsNotFound() error. The actual error message is something like {"error": "HNCConfiguration.hnc.x-k8s.io \"config\" not found"}. I assume that means the client cannot find the object?

[2020-02-25 22:21] vincepri commented on #822
makes sense, as @djzager pointed out, it's probably because the caches haven't been populated yet

[2020-02-25 22:25] sophieliu15 commented on #822
If that is the case, is there a general practice for how long I need to wait for the cache to be populated? After calling SetupWithManager(), I tried to sleep for 5 seconds (`time.Sleep(5 * time.Second)`) before Get() from the client, but I still couldn't get the object. Does it mean the sleep time is too short?

[2020-02-25 22:31] vincepri commented on #822
I wouldn't use `time.Sleep`, is this action something you can perform in the `Reconcile()` method instead?

[2020-02-25 22:38] sophieliu15 commented on #822
Yes, I solved the problem by enforcing the reconciliation via adding a channel to watch. I am just curious why I cannot get the object outside the Reconcile() via the client. If it is related to the cache population, is there any other way to wait for cache to be populated besides time.Sleep? BTW, why we cannot use time.Sleep?

[2020-02-25 23:37] djzager commented on #822
It would be odd for you to get an `errors.IsNotFound()` when you are doing an `r.client.Create(...)`. I was suggesting you could handle the error from `Create` and check for `errors.IsAlreadyExists()` and move on if that is the case.

I remember once trying to create a singleton CR in the case that it doesn't exist by doing something similar. In the end we ended up doing something like:

[code]

T

[2020-02-26 01:10] #656 closed

[2020-02-26 08:16] ekuefler commented on #798
That's right. Many web frameworks have a built-in timeout that will terminate a request if it takes too long, ensuring request threads aren't occupied indefinitely. I would imagine something similar here. In kubebuilder's case, it would force the reconciler to return an error.

Here's the wrapper I wrote and am using in my project to do this (it also handles panics per #797):

[code]

This is impe

[2020-02-26 13:56] djzager commented on #801
I'm a little more keen on the Reconciles method taking a context than I am with it taking the logger.

I didn't know about this. In the case that logger was included in the Reconcile methods this particular aspect (being able to choose your own logger) should be called out as best as possible in docs.

[2020-02-26 14:49] GrigoriyMikhalkin commented on #798
IMO, it looks like solution to conceal some bugs in program.

[2020-02-26 15:02] sophieliu15 commented on #822
Hi David!

Looks like I misunderstood your reply before. Yes, I got an `errors.IsAlreadyExists()` when I tried to do an `r.client.Create(...)`. I got `errors.IsNotFound()` when I did `r.client.Get(...)`, which was unexpected since the object already existed in the cluster.

Explicitly dealing with `errors.IsAlreadyExists()` seems like a good approach to handle this problem too. Thanks for the sugg

[2020-02-26 15:21] djzager commented on #822
Yeah. It's surprising and my suspicion is it has to do with the unsynced cache but I just don't know enough yet to say for certain.

Happy to help out.

No. It always felt as though the design of controller-runtime encouraged accessing the client (and associated caches) from inside the `Reconcile()` and as we only needed to make sure one thing was created on startup, we didn't invest any more time

[2020-02-26 16:44] vincepri opened #825 "Upgrade to Go 1.15?"
As title says, Go 1.14 is out with great changes, we might want to consider the path forward to potentially upgrade